---
layout: templates/base.html
title: Release notes for Helperbird
youtubeId: PfILiWebkuc
cardTitle: Release notes for Helperbird
description: See the latest improvements and fixes in Helperbird version
keywords: Dyslexia software, Reader Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
url: updates/
---

<div class="relative px-4 sm:px-8 lg:px-12 mx-auto">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <header class="max-w-2xl">
      <h1 class="text-4xl font-bold tracking-tight text-black sm:text-5xl">
        Latest Helperbird updates.
      </h1>
      <p class="mt-6 text-base text-black">
        View the differences and enhancements in the current and previous
        versions of Helperbird.
      </p>
    </header>
    <div class="mt-16 sm:mt-20">
      <div
        class="md:border-l  md:pl-6 border-stone-600"
      >
        <div class="flex max-w-3xl flex-col space-y-16">
          {%- for update in collections.updates reversed -%}
          <article class="md:grid md:grid-cols-4 md:items-baseline">
            <div class="md:col-span-3 group relative flex flex-col items-start">
              <h2
                class="text-base font-semibold tracking-tight text-zinc-800 "
              >
                <div
                  class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-white border-stone-600 border-2 opacity-0 transition sm:-inset-x-6 sm:rounded-2xl"
                ></div>
                <a
                  href="{{ update.url }}"
                  title="Latest release notes for Helperbird"
                  ><span
                    class="absolute -inset-y-6 -inset-x-4 z-20 border-stone-600 border-2 rounded-2xl"
                  ></span
                  ><span class="relative z-10"
                    >{{ update.data.title }} {{ update.fileSlug }}</span
                  ></a
                >
              </h2>
              <time
                class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-black pl-3.5"
                datetime="2022-09-05"
                ><span
                  class="absolute inset-y-0 left-0 flex items-center"
                  aria-hidden="true"
                  ><span
                    class="h-4 w-0.5 rounded-full bg-zinc-200"
                  ></span></span
                >September 5, 2022</time
              >
              <p
                class="relative z-10 mt-2 text-sm text-black "
              >
                What's new in Helperbird {{ update.fileSlug }}: fixes,
                improvements, and more!
              </p>
              <div
                aria-hidden="true"
                class="relative z-10 mt-4 flex items-center text-sm font-medium decoration-wavy  decoration-blue-500 underline hover:decoration-pink-500 hover:underline hover:decoration-wavy btn btn-link "
              >
                Read changelog<svg
                  viewBox="0 0 16 16"
                  fill="none"
                  aria-hidden="true"
                  class="ml-1 h-4 w-4 stroke-current"
                >
                  <path
                    d="M6.75 5.75 9.25 8l-2.5 2.25"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </div>
            </div>
            <time
              class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500"
              datetime="2022-09-05"
              >September 5, 2022</time
            >
          </article>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
