<div class="relative">
	<!-- Overlapping background -->
	<div
		aria-hidden="true"
		class="absolute bottom-0 hidden h-6 w-full bg-gray-50 lg:block"
		style="background-color: rgb(246, 245, 231)"
	></div>

	<div>
		<div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:flex lg:justify-between lg:px-8">
			<div class="max-w-xl">
				<h1 class="text-4xl font-extrabold text-black sm:text-5xl sm:tracking-tight lg:text-6xl">
					Pricing Plans
				</h1>
				<p class="mt-5 text-xl">
					Helperbird helps you make the web more accessible and productive to your needs and work
					style.
					<br />
					Pick a plan that best suits you. 3 day free trial
				</p>
			</div>

			<div class="mt-10 w-full max-w-xs">
				<div class="relative mt-1.5">
					<select
						id="currency"
						name="currency"
						v-model="currency"
						class="select select-primary select-sm w-full max-w-xs"
					>
						<option class="bg-gray-900" value="aud">Australia (AUD) 🇦🇺</option>
						<option class="bg-gray-900" value="usd" selected="selected">
							United States (USD) 🇺🇸
						</option>
						<option class="bg-gray-900" value="cad">Canada (CAD) 🇨🇦</option>
						<option class="bg-gray-900" value="euro">Europe (EUR) 🇪🇺</option>
						<option class="bg-gray-900" value="gbp">United Kingdom (GBP) 🇬🇧</option>
						<option class="bg-gray-900" value="nz">New Zealand (NZ) 🇳🇿</option>
					</select>
				</div>

				<!-- Toggle -->
				<div class="relative mt-12 flex justify-center sm:mt-16">
					<div class="bg-active flex rounded-xl p-2">
						<button
							type="button"
							@click="switchType"
							class="btn btn-ghost ml-0.5 text-xs"
							v-bind:class="!isYearly ? ' btn-active ' : ' '"
						>
							Monthly billing
						</button>

						<div data-tip="20% off" class="tooltip tooltip-open tooltip-secondary">
							<button
								type="button"
								@click="switchType"
								class="btn btn-ghost ml-0.5 text-xs"
								v-bind:class="isYearly ? ' btn-active ' : ' '"
							>
								Yearly billing
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2 class="sr-only">Plans</h2>

	<!-- Cards -->
	<div
		class="relative mx-auto mt-8 max-w-2xl px-4 pb-8 sm:mt-8 sm:px-6 lg:max-w-7xl lg:px-8 lg:pb-0"
	>
		<!-- Decorative background -->
		<div
			aria-hidden="true"
			class="absolute inset-0 top-4 bottom-6 left-8 right-8 hidden bg-transparent lg:block"
		></div>

		<div class="relative lg:grid lg:grid-cols-3">
			<div class="m-8 rounded-xl bg-pink-700 px-6 pt-6 pb-3 lg:px-8 lg:pt-12">
				<div>
					<h3 class="text-sm font-semibold uppercase tracking-wide text-white">Helperbird Free</h3>
					<div
						class="flex flex-col items-start sm:flex-row sm:items-center sm:justify-between lg:flex-col lg:items-start"
						v-bind:style="!isYearly ?'display: flex !important;' : 'display: none !important;'"
					>
						<div class="mt-3 flex items-center">
							<p class="text-4xl font-extrabold tracking-tight text-white">
								<span v-html="priceDetails.currency">$</span>0
							</p>
							<div class="ml-4">
								<p class="text-sm text-white">/ monthly</p>
							</div>
						</div>
						<a
							href="#"
							@click="handleModal"
							class="mt-6 inline-block w-full rounded-md border border-transparent bg-white py-2 px-8 text-center text-sm font-medium text-pink-600 shadow-sm hover:bg-pink-50 sm:mt-0 sm:w-auto lg:mt-6 lg:w-full"
							>Download</a
						>
					</div>

					<div
						class="flex hidden flex-col items-start sm:flex-row sm:items-center sm:justify-between lg:flex-col lg:items-start"
						v-bind:style="isYearly ?'display: flex !important;' : 'display: none !important;'"
					>
						<div class="mt-3 flex items-center">
							<p class="text-4xl font-extrabold tracking-tight text-white">
								<span v-html="priceDetails.currency">$</span>0
							</p>
							<div class="ml-4">
								<p class="text-sm text-white">/ yearly</p>
							</div>
						</div>
						<a
							href="#"
							@click="handleModal"
							class="mt-6 inline-block w-full rounded-md border border-transparent bg-white py-2 px-8 text-center text-sm font-medium text-pink-600 shadow-sm hover:bg-pink-50 sm:mt-0 sm:w-auto lg:mt-6 lg:w-full"
							>Buy Helperbird Free</a
						>
					</div>
				</div>

				<h4 class="sr-only">Features</h4>
				<ul
					role="list"
					class="mt-7 divide-y divide-pink-500 divide-opacity-75 border-t border-pink-500 lg:border-t-0"
				>
					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-pink-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white">Basic accessibility features</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-pink-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white">Basic Text to speech features</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-pink-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white">Specialized fonts (Dyslexia)</span>
					</li>
					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-pink-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white"> Color blindness features</span>
					</li>
					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-pink-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white">Immersive reader by Microsoft</span>
					</li>
				</ul>
			</div>

			<div
				class="rounded-xl bg-white px-6 pt-6 pb-3 shadow-md ring-2 ring-blue-700 lg:px-8 lg:pt-12"
			>
				<div>
					<h3 class="text-sm font-semibold uppercase tracking-wide text-blue-600">
						Helperbird Pro
					</h3>
					<div
						class="flex flex-col items-start sm:flex-row sm:items-center sm:justify-between lg:flex-col lg:items-start"
						v-bind:style="!isYearly ?'display: flex !important;' : 'display: none !important;'"
					>
						<div class="mt-3 flex items-center">
							<p class="text-4xl font-extrabold tracking-tight text-blue-600">
								<span v-html="priceDetails.currency">$</span
								><span v-html="priceDetails.monthly.pro">6.99</span>
							</p>
							<div class="ml-4">
								<p class="text-lg text-gray-700">/ monthly</p>
							</div>
						</div>
						<a
							href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
							:href="priceDetails.monthly.proLink"
							class="mt-6 inline-block w-full rounded-md border border-transparent bg-blue-600 py-2 px-8 text-center text-sm font-medium text-white shadow-sm hover:bg-blue-700 sm:mt-0 sm:w-auto lg:mt-6 lg:w-full"
							>Start Free trial</a
						>
					</div>

					<div
						class="flex hidden flex-col items-start sm:flex-row sm:items-center sm:justify-between lg:flex-col lg:items-start"
						v-bind:style="isYearly ?'display: flex !important;' : 'display: none !important;'"
					>
						<div class="mt-3 flex items-center">
							<p class="text-4xl font-extrabold tracking-tight text-blue-600">
								<span v-html="priceDetails.currency">$</span
								><span v-html="priceDetails.yearly.pro">6.99</span>
							</p>
							<div class="ml-4">
								<p class="text-lg text-gray-700">/ yearly</p>
							</div>
						</div>
						<a
							href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
							:href="priceDetails.yearly.proLink"
							class="mt-6 inline-block w-full rounded-md border border-transparent bg-blue-600 py-2 px-8 text-center text-sm font-medium text-white shadow-sm hover:bg-blue-700 sm:mt-0 sm:w-auto lg:mt-6 lg:w-full"
							>Start Free trial</a
						>
					</div>
				</div>
				<h4 class="sr-only">Features</h4>
				<ul
					role="list"
					class="mt-7 divide-y divide-gray-200 border-t border-gray-200 lg:border-t-0"
				>
					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Advanced features</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600"
							>Advance Text to speech features</span
						>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Annotation tools</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600"
							>Writing tools (Word prediction)</span
						>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Reading tools (Reading Mode)</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Research tools</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Advanced dyslexia support</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Translation tools</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Advance OCR tools</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Advance reading tools</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Natural voices</span>
					</li>
					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">30 other features</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-500"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-gray-600">Premium support (24/7)</span>
					</li>
				</ul>
			</div>

			<div class="m-8 rounded-xl bg-green-700 px-6 pt-6 pb-3 lg:px-8 lg:pt-12">
				<div>
					<h3 class="text-sm font-semibold uppercase tracking-wide text-white">
						Schools & Business
					</h3>

					<div
						class="flex flex-col items-start sm:flex-row sm:items-center sm:justify-between lg:flex-col lg:items-start"
						v-bind:style="!isYearly ?'display: flex !important;' : 'display: none !important;'"
					>
						<div class="mt-3 flex items-center">
							<p class="text-4xl font-extrabold tracking-tight text-white">
								<span v-html="priceDetails.currency">$</span
								><span v-html="priceDetails.monthly.unlimited">99.99</span>
							</p>
							<div class="ml-4">
								<p class="text-lg text-white">/ monthly</p>
							</div>
						</div>

						<a
							href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
							:href="priceDetails.monthly.unlimitedLink"
							class="mt-6 inline-block w-full rounded-md border border-transparent bg-white py-2 px-8 text-center text-sm font-medium text-green-600 shadow-sm hover:bg-green-50 sm:mt-0 sm:w-auto lg:mt-6 lg:w-full"
							>Buy Schools & Business</a
						>
					</div>

					<div
						class="flex hidden flex-col items-start sm:flex-row sm:items-center sm:justify-between lg:flex-col lg:items-start"
						v-bind:style="isYearly ?'display: flex !important;' : 'display: none !important;'"
					>
						<div class="mt-3 flex items-center">
							<p class="text-4xl font-extrabold tracking-tight text-white">
								<span v-html="priceDetails.currency">$</span
								><span v-html="priceDetails.yearly.unlimited">1,500</span>
							</p>
							<div class="ml-4">
								<p class="text-lg text-white">/ yearly</p>
							</div>
						</div>

						<a
							href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
							:href="priceDetails.yearly.unlimitedLink"
							class="mt-6 inline-block w-full rounded-md border border-transparent bg-white py-2 px-8 text-center text-sm font-medium text-green-600 shadow-sm hover:bg-green-50 sm:mt-0 sm:w-auto lg:mt-6 lg:w-full"
							>Buy Schools & Business</a
						>
					</div>
				</div>
				<h4 class="sr-only">Features</h4>
				<ul
					role="list"
					class="mt-7 divide-y divide-green-500 divide-opacity-75 border-t border-green-500 lg:border-t-0"
				>
					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-blue-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white">All features</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-green-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white"
							>Unlimited users (per school/business)</span
						>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-green-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white">Personal success manager</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-green-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white">Admin panel </span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-green-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white"
							>Exam mode
							<div class="badge badge-accent ml-8">Coming soon</div>
						</span>
					</li>

					<li class="flex items-center py-3">
						<!-- Heroicon name: solid/check -->
						<svg
							class="h-5 w-5 flex-shrink-0 text-green-200"
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/>
						</svg>
						<span class="ml-3 text-sm font-medium text-white">Premium support (24/7) </span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
