
	<div class="mx-auto max-w-2xl py-6 px-6 sm:py-12 lg:max-w-7xl lg:px-8 bg-indigo-900 rounded-3xl">
		<div class="bg-indigo-900 sm:px-4 lg:flex lg:items-center lg:justify-between lg:px-0">
			<div class="max-w-xl">
				<h2 class="text-4xl font-bold tracking-tight text-white sm:text-5xl lg:text-6xl">
					Pricing Plans
				</h2>
				<p class="mt-5 text-xl text-indigo-300">
					Two simple plans, each with a 3-day free trial.
					<br>
					<br>
					Need a district or enteprise quote or have questions? <a href="/contact" class="text-white underline decoration-pink-500 hover:decoration-pink-500 hover:underline hover:decoration-wavy">Contact us</a>.
				</p>
			</div>

			<div class="mx-auto mt-10 w-full max-w-xs">
				<div class="relative mt-1.5">
					<select
						id="currency"
						name="currency"
						v-model="currency"
						class="select select-sm w-full max-w-xs"
					>
						<option class="bg-gray-900" value="aud">Australia (AUD) 🇦🇺</option>
						<option class="bg-gray-900" value="usd" selected="selected">
							United States (USD) 🇺🇸
						</option>
						<option class="bg-gray-900" value="cad">Canada (CAD) 🇨🇦</option>
						<option class="bg-gray-900" value="euro">Europe (EUR) 🇪🇺</option>
						<option class="bg-gray-900" value="gbp">United Kingdom (GBP) 🇬🇧</option>
						<option class="bg-gray-900" value="nz">New Zealand (NZ) 🇳🇿</option>
					</select>
				</div>

				<div class="relative mt-6 flex self-center rounded-lg bg-gray-100 p-0.5 sm:mt-8">
					<button
						type="button"
						@click="switchType"
						v-bind:class="!isYearly ? '  bg-white text-gray-900 shadow-sm ' : ' '"
						class="relative w-1/2 whitespace-nowrap rounded-md border border-transparent py-2 text-sm font-medium text-gray-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:w-auto sm:px-8"
					>
						Monthly billing
					</button>
					<button
						type="button"
						@click="switchType"
						v-bind:class="isYearly ? '   bg-white text-gray-900 shadow-sm  ' : ' '"
						class="relative ml-0.5 w-1/2 whitespace-nowrap rounded-md border border-transparent py-2 text-sm font-medium text-gray-700 focus:z-10 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:w-auto sm:px-8"
					>
						Yearly billing
					</button>
				</div>
			</div>
		</div>

		<div
			class="mt-12 space-y-4 sm:mt-16 sm:grid sm:grid-cols-2 sm:gap-6 sm:space-y-0 lg:mx-auto lg:max-w-4xl xl:mx-0 xl:max-w-none xl:grid-cols-3"
		>
			<div
				class="divide-y divide-gray-200 rounded-lg border-2 border-2 border-stone-400 border-stone-400 bg-white shadow-sm"
			>
				<div class="p-6">
					<h2 class="text-lg font-medium leading-6 text-gray-900">
						<span class="mr-2">🦉</span>
						Free
					</h2>
					<p class="mt-4 text-sm text-gray-500">All the basics for Helperbird features.</p>
					<p
						class="mt-8 hidden"
						v-bind:style="!isYearly ?'display: block !important;' : 'display: none !important;'"
					>
						<span class="text-4xl font-bold tracking-tight text-gray-900"
							><span v-html="priceDetails.currency">$</span>0.00</span
						>
						<span class="text-base font-medium text-gray-500">/monthly</span>
					</p>

					<p
						class="mt-8"
						v-bind:style="isYearly ?'display: block !important;' : 'display: none !important;'"
					>
						<span class="text-4xl font-bold tracking-tight text-gray-900"
							><span v-html="priceDetails.currency">$</span>0.00</span
						>
						<span class="text-base font-medium text-gray-500">/yearly</span>
					</p>

					<button @click="handleModal" role="button" class="btn btn-primary btn-block mt-4">
						Download
					</button>
				</div>
				<div class="px-6 pt-6 pb-8">
					<h3 class="text-sm font-medium text-gray-900">What's included</h3>
					<ul role="list" class="mt-6 space-y-4">
						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Basic accessibility features.</span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Basic Text to speech features. </span>
						</li>
						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Specialized fonts (Dyslexia) </span>
						</li>
						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Color blindness features </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Immersive reader by Microsoft </span>
						</li>
					</ul>
				</div>
			</div>

			<div class="divide-y divide-gray-200 rounded-lg border-2 border-stone-400 bg-white shadow-sm">
				<div class="p-6">
					<h2 class="text-lg font-medium leading-6 text-gray-900">
						<span class="mr-2">💎 </span>
						Pro
						<div class="badge badge-error ml-4 bg-rose-500 border-stone-600 border-2">Most Popular</div>
					</h2>

					<p class="mt-4 text-sm text-gray-500">
						Access to all the Helperbird features and support.
					</p>
					<p
						class="mt-8"
						v-bind:style="!isYearly ?'display: block !important;' : 'display: none !important;'"
					>
						<span class="text-4xl font-bold tracking-tight text-gray-900"
							><span v-html="priceDetails.currency">$</span>
							<span v-html="priceDetails.monthly.pro">6.99</span>
						</span>
						<span class="text-base font-medium text-gray-500">/monthly</span>
					</p>

					<p
						class="mt-8 hidden"
						v-bind:style="isYearly ?'display: block !important;' : 'display: none !important;'"
					>
						<span class="text-4xl font-bold tracking-tight text-gray-900"
							><span v-html="priceDetails.currency">$</span>
							<span v-html="priceDetails.yearly.pro">60.00</span>
						</span>
						<span class="text-base font-medium text-gray-500">/yearly</span>
					</p>

					<a
						href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
						v-bind:style="!isYearly ?'display: flex !important;' : 'display: none !important;'"
						:href="priceDetails.monthly.proLink"
						class="btn btn-primary btn-block mt-4"
						>Start Free Trial</a
					>

					<a
						href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
						v-bind:style="isYearly ?'display: flex !important;' : 'display: none !important;'"
						:href="priceDetails.yearly.proLink"
						class="btn btn-primary btn-block mt-4"
						>Start Free trial</a
					>
				</div>
				<div class="px-6 pt-6 pb-8">
					<h3 class="text-sm font-medium text-gray-900">What's included</h3>
					<ul role="list" class="mt-6 space-y-4">
						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Advanced features </span>
						</li>
						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Advance Text to speech features </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Annotation tools </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Writing tools (Word prediction) </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Reading tools (Reader Mode) </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Research tools </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Advanced dyslexia support </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Translation tools </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Advance OCR tools </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Advance reading tools </span>
						</li>
						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Natural voices </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">30 other features </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Premium support </span>
						</li>
					</ul>
				</div>
			</div>

			<div class="divide-y divide-gray-200 rounded-lg border-2 border-stone-400 bg-white shadow-sm">
				<div class="p-6">
					<h2 class="text-lg font-medium leading-6 text-gray-900">
						<span class="mr-2">🏠</span>
						Pro Unlimited
					</h2>
					<p class="mt-4 text-sm text-gray-500">Unlimited users in a school or business.</p>
					<p
						class="mt-8"
						v-bind:style="!isYearly ?'display: block !important;' : 'display: none !important;'"
					>
						<span class="text-4xl font-bold tracking-tight text-gray-900"
							><span v-html="priceDetails.currency">$</span>
							<span v-html="priceDetails.monthly.unlimited">99.99</span></span
						>
						<span class="text-base font-medium text-gray-500">/monthly</span>
					</p>

					<p
						class="mt-8"
						v-bind:style="isYearly ?'display: block !important;' : 'display: none !important;'"
					>
						<span class="text-4xl font-bold tracking-tight text-gray-900"
							><span v-html="priceDetails.currency">$</span>
							<span v-html="priceDetails.yearly.unlimited">1,200</span></span
						>
						<span class="text-base font-medium text-gray-500">/yearly</span>
					</p>

					<a
						href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
						v-bind:style="!isYearly ?'display: flex !important;' : 'display: none !important;'"
						:href="priceDetails.monthly.unlimitedLink"
						class="btn btn-primary btn-block mt-4"
						>Start Free Trial</a
					>

					<a
						href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
						v-bind:style="isYearly ?'display: flex !important;' : 'display: none !important;'"
						:href="priceDetails.yearly.unlimitedLink"
						class="btn btn-primary btn-block mt-4"
						>Start Free trial</a
					>
				</div>
				<div class="px-6 pt-6 pb-8">
					<h3 class="text-sm font-medium text-gray-900">What's included</h3>
					<ul role="list" class="mt-6 space-y-4">
						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">All features </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Unlimited users (per school/business) </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Personal success manager. </span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500"
								>Admin panel
								<div class="badge badge-accent ml-2">Coming soon</div>
							</span>
						</li>
						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500"
								>Exam mode
								<div class="badge badge-accent ml-2">Coming soon</div>
							</span>
						</li>

						<li class="flex space-x-3">
							<!-- Heroicon name: mini/check -->
							<svg
								class="h-5 w-5 flex-shrink-0 text-green-500"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
								fill="currentColor"
								aria-hidden="true"
							>
								<path
									fill-rule="evenodd"
									d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
									clip-rule="evenodd"
								/>
							</svg>
							<span class="text-sm text-gray-500">Premium support </span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

