<section class="relative isolate bg-white rounded-xl shadow-md mt-16 mb-16 ">
    <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
      <div class="relative px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 lg:py-48">
        <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
            <p class="leading-relaxed font-sans text-xl text-black mb-6">
            Hey there! 👋,
          </p>
          <p class="leading-relaxed font-sans text-xl text-black mb-6">
            Whether you're reaching out to us for support or have questions about
            marketing and partnerships, we're here to help.
          </p>
          <p class="leading-relaxed font-sans text-xl text-black mb-6">
            Our dedicated support team is ready to assist you with any technical
            issues or questions you may have. And if you're interested in learning
            more about partnering with Helperbird or have questions related to
            marketing, our team is happy to chat with you!
          </p>
          <p class="leading-relaxed font-sans text-xl text-black mb-6">
            We value your feedback and are committed to delivering the best
            possible experience to our users. So don't hesitate to reach out if
            you need anything.
          </p>
  
          <p class="leading-relaxed font-sans text-xl text-black mb-6">
            Thank you,
          </p>
  
          <div class="flex items-center gap-x-6">
            <img
              class="h-12 w-12 rounded-full"
              src="https://www.helperbird.com/assets/images/staff/robert.jpeg"
              alt="A man (Robert James Gabriel) with short-cropped hair and a beard, wearing round glasses and a light-colored shirt, smiles slightly against a plain white background." />

     
            <div>
              <h3 class="leading-relaxed font-sans text-xl font-bold text-black">
                Robert James Gabriel
              </h3>
              <p
                class="leading-relaxed font-sans text-base font-bold text-blue-600"
              >
                Helperbird Founder
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="px-6 pb-12 pt-12 sm:pb-12 lg:px-8 lg:py-12"
      >
        <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
          <div class="grid grid-cols-1 gap-x-8 gap-y-6">
            <iframe
  frameborder="0"
  height="1006"
  marginwidth="0"
  loading="lazy"
  src="https://docs.google.com/forms/d/e/1FAIpQLSfsr-P-xEmKXnjAF-4ih2umpi92WtDltocYG1GV_kqh5Br6tA/viewform?embedded=true"
  title="Helperbird User Feedback Form"
  width="100%"
>Loading...</iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  