<section class="rounded-xl bg-white py-24 shadow-md mt-16 mb-16">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
	  <div class="mx-auto max-w-2xl lg:mx-0">
		<h2 class="text-3xl font-bold tracking-tight text-black">Get in Touch</h2>
		<p class="mt-6 text-lg leading-8 text-black">
		  Reach out to one of our departments. We have an average response time of <b>54 minutes</b>.
		</p>
	  </div>
  
	  <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4">
		<div>
		  <h3 class="border-l-4 border-blue-500 pl-6 font-semibold text-black">Collaborate</h3>
		  <div class="border-l-4 border-blue-500 pl-6 pt-2 text-black">
			<p class="mb-2">+1 (501) 293 6819</p>
			<a class="link link-hover font-sans text-base leading-relaxed text-blue-500 hover:text-blue-700 md:text-lg" href="mailto:robert.gabriel@helperbird.com">robert.gabriel@helperbird.com</a>
		  </div>
		</div>
		<div>
		  <h3 class="border-l-4 border-blue-500 pl-6 font-semibold text-black">Press</h3>
		  <div class="border-l-4 border-blue-500 pl-6 pt-2 text-black">
			<p class="mb-2">+1 (501) 293 6819</p>
			<a class="link link-hover font-sans text-base leading-relaxed text-blue-500 hover:text-blue-700 md:text-lg" href="mailto:press@helperbird.com">press@helperbird.com</a>
		  </div>
		</div>
		<div>
		  <h3 class="border-l-4 border-blue-500 pl-6 font-semibold text-black">Need Support?</h3>
		  <div class="border-l-4 border-blue-500 pl-6 pt-2 text-black">
			<p class="mb-2">+1 (501) 293 6819</p>
			<a class="link link-hover font-sans text-base leading-relaxed text-blue-500 hover:text-blue-700 md:text-lg" href="mailto:support@helperbird.com">support@helperbird.com</a>
		  </div>
		</div>
		<div>
		  <h3 class="border-l-4 border-blue-500 pl-6 font-semibold text-black">Contact</h3>
		  <div class="border-l-4 border-blue-500 pl-6 pt-2 text-black">
			<p class="mb-2">+1 (501) 293 6819</p>
			<a class="link link-hover font-sans text-base leading-relaxed text-blue-500 hover:text-blue-700 md:text-lg" href="mailto:contact@helperbird.com">contact@helperbird.com</a>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  