- 
  var features = [

    {
    "title": "Works on any website",
    "description": "Accessibility Checker is an extension so it works on any website and even works offline! You don't need to add any script or change your code.",
    "icon": '<svg height="24" width="24" class="absolute h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg"><path d="M-74 29h48v48h-48V29zM0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M13 12h7v1.5h-7zm0-2.5h7V11h-7zm0 5h7V16h-7zM21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15h-9V6h9v13z"></path></svg>',

    },




    {
    "title": "Turn it on and off anytime",
    "description": "You control it. Turn it on/off anytime. Works on development, or production website.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg"  class="absolute h-6 w-6 text-green-500" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"></path></svg>',

    },


    {
    "title": "Change the colors",
    "description": "Change the color of the highlighter to any color you wish.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg"  class="absolute h-6 w-6 text-green-500"height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5H16c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 9 6.5 9 8 9.67 8 10.5 7.33 12 6.5 12zm3-4C8.67 8 8 7.33 8 6.5S8.67 5 9.5 5s1.5.67 1.5 1.5S10.33 8 9.5 8zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 4c-.83 0-1.5-.67-1.5-1.5S16.67 9 17.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"></path></svg>',

    },

    {
    "title": "Filter issues",
    "description": "Click on the issue and see the toaster or check the console for all issues.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg"  class="absolute h-6 w-6 text-green-500" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><path d="M0,0h24 M24,24H0" fill="none"></path><path d="M4.25,5.61C6.27,8.2,10,13,10,13v6c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-6c0,0,3.72-4.8,5.74-7.39 C20.25,4.95,19.78,4,18.95,4H5.04C4.21,4,3.74,4.95,4.25,5.61z"></path><path d="M0,0h24v24H0V0z" fill="none"></path></g></svg>',

    },
    {
    "title": "How to fix it",
    "description": "When you click on the issue, we tell you now how to fix the issue.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg"  class="absolute h-6 w-6 text-green-500" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg>',

    },

    ]






.bg-white
  .max-w-7xl.mx-auto.py-16.px-4(class='sm:py-24 sm:px-6 lg:px-8')
    .text-center
      h2.mt-1.text-4xl.font-extrabold.text-gray-900(class='sm:text-5xl sm:tracking-tight lg:text-5xl') Features at a glance



.bg-white
  .max-w-7xl.mx-auto.py-16.px-4(class='sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8')
    div
      h3.mt-2.text-3xl.font-extrabold.text-gray-900 Features
      p.mt-4.text-lg.text-gray-500
        | Everything you need to fix and discover accessibility issues.



    .mt-12(class='lg:mt-0 lg:col-span-2')
      dl.space-y-10(class='sm:space-y-0 sm:grid sm:grid-cols-2 sm:grid-rows-4 sm:grid-flow-col sm:gap-x-6 sm:gap-y-10 lg:gap-x-8')
        each val in features
          .relative
            dt
              // Heroicon name: outline/check
              span!= val.icon
              p.ml-9.text-lg.leading-6.font-medium.text-gray-900 #{val.title}
            dd.mt-2.ml-9.text-base.text-gray-500
              | #{val.description}
            a.mt-8.bg-gray-800.border.border-gray-800.rounded-md.py-2.text-sm.font-semibold.text-white.text-center.mt-2.ml-9.inline-flex.px-4.py-2(href='#' class='hover:bg-gray-900') Buy Hobby

    