section.section.lightblue-white.mb80
  .container.flex.text-center.mb40
    .col-12
      h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us
        | Features 
        a(href='https://datastudio.google.com/u/0/reporting/3e86f5ee-b27b-4bb6-bfdc-90c1dd67f06e/page/1M', rel='noopener', target='_blank') 235,000 
        | people love
      h5.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
        | From students, working professionals, researchers, and everyone between in over 151 countries. 
        | We have features that help you be more productive and make the web more accessible for everyone. 

        | From award-winning features like Opendyslexic to complete customization of your web experience with over 30 other mix and match features. 
      h5.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
        | Helperbird is built for everyone.



  .container-lrg.flex

    ul.plan-features.grid__item.grid__item--large.grid__item--mobile-large



        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M-74 29h48v48h-48V29zM0 0h24v24H0V0zm0 0h24v24H0V0z', fill='none')
                    path(d='M13 12h7v1.5h-7zm0-2.5h7V11h-7zm0 5h7V16h-7zM21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15h-9V6h9v13z')


            
            h3.medium.flush Reader mode
   
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/reader-mode-for-chrome-and-firefox", title="Learn more about Reader mode for Google Chrome")
                span Coming soon



        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z')
                    path(d='M0 0h24v24H0z', fill='none')
            h3.medium.flush Dyslexia Fonts
        
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="features/specialised-dyslexic-fonts",title="Learn more about the dyslexic font options for Helperbird")
                span Learn more





        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(xmlns='http://www.w3.org/2000/svg' height='24' viewbox='0 0 24 24' width='24')
                    path(d='M0 0h24v24H0z' fill='none')
                    path(d='M21 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 10H3V8h2v4h2V8h2v4h2V8h2v4h2V8h2v4h2V8h2v8z')

            h3.medium.flush Dyslexia Ruler

            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/ruler",title="Learn more about the dyslexic ruler feature  for Helperbird")
                span Learn more






        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M2.53 19.65l1.34.56v-9.03l-2.43 5.86c-.41 1.02.08 2.19 1.09 2.61zm19.5-3.7L17.07 3.98c-.31-.75-1.04-1.21-1.81-1.23-.26 0-.53.04-.79.15L7.1 5.95c-.75.31-1.21 1.03-1.23 1.8-.01.27.04.54.15.8l4.96 11.97c.31.76 1.05 1.22 1.83 1.23.26 0 .52-.05.77-.15l7.36-3.05c1.02-.42 1.51-1.59 1.09-2.6zM7.88 8.75c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-2 11c0 1.1.9 2 2 2h1.45l-3.45-8.34v6.34z')
                    path(d='M0 0h24v24H0z', fill='none')


            h3.medium.flush Styles & Themes
            
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/styles",title="Learn more about the styles and themes feature  for Helperbird")
                span Learn more

        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg', xlink='http://www.w3.org/1999/xlink')
                    defs
                        path#a(d='M0 0h24v24H0V0z')
                    clippath#b
                        use(overflow='visible', href='#a')
                    path(clip-path='url(#b)', d='M6 14l3 3v5h6v-5l3-3V9H6zm5-12h2v3h-2zM3.5 5.875L4.914 4.46l2.12 2.122L5.62 7.997zm13.46.71l2.123-2.12 1.414 1.414L18.375 8z')

            h3.medium.flush Overlays
           
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/overlay", title="Learn more about the overlay feature  for Helperbird")
                span Learn more



        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z')



            h3.medium.flush Color blindness

            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/color-blindness", title="Learn more about the color blindness feature  for Helperbird")
                span Learn more



      




    



       









        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M12 17c3.31 0 6-2.69 6-6V3h-2.5v8c0 1.93-1.57 3.5-3.5 3.5S8.5 12.93 8.5 11V3H6v8c0 3.31 2.69 6 6 6zm-7 2v2h14v-2H5z')


            
            h3.medium.flush Cognitive Load
       
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/cognitive-load",  title="Learn more about the  cognitive load feature of  Helperbird")
                span Learn more










        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M21 4H11l-1-3H3c-1.1 0-2 .9-2 2v15c0 1.1.9 2 2 2h8l1 3h9c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7 16c-2.76 0-5-2.24-5-5s2.24-5 5-5c1.35 0 2.48.5 3.35 1.3L9.03 8.57c-.38-.36-1.04-.78-2.03-.78-1.74 0-3.15 1.44-3.15 3.21S5.26 14.21 7 14.21c2.01 0 2.84-1.44 2.92-2.41H7v-1.71h4.68c.07.31.12.61.12 1.02C11.8 13.97 9.89 16 7 16zm6.17-5.42h3.7c-.43 1.25-1.11 2.43-2.05 3.47-.31-.35-.6-.72-.86-1.1l-.79-2.37zm8.33 9.92c0 .55-.45 1-1 1H14l2-2.5-1.04-3.1 3.1 3.1.92-.92-3.3-3.25.02-.02c1.13-1.25 1.93-2.69 2.4-4.22H20v-1.3h-4.53V8h-1.29v1.29h-1.44L11.46 5.5h9.04c.55 0 1 .45 1 1v14z')
                    path(d='M0 0h24v24H0zm0 0h24v24H0z', fill='none')


            
            h3.medium.flush Translate any page
            
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/google-translate",   title="Learn more about the  google translate feature of  Helperbird")
                span Coming soon










        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5 6.5 6.5 0 109.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z')
                    path(d='M0 0h24v24H0V0z', fill='none')
                    path(d='M12 10h-2v2H9v-2H7V9h2V7h1v2h2v1z')


            
            h3.medium.flush Page & text magnifier
           
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/zoom",    title="Learn more about the  zoom feature of  Helperbird")
                span Learn more





        




        
        li.plan-features__item

            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M24 0H0v24h24z', fill='none')
                    path(d='M17.66 7.93L12 2.27 6.34 7.93c-3.12 3.12-3.12 8.19 0 11.31A7.98 7.98 0 0012 21.58c2.05 0 4.1-.78 5.66-2.34 3.12-3.12 3.12-8.19 0-11.31zM12 19.59c-1.6 0-3.11-.62-4.24-1.76C6.62 16.69 6 15.19 6 13.59s.62-3.11 1.76-4.24L12 5.1v14.49z')

            
            h3.medium.flush High Contrast

            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/high-contrast",    title="Learn more about the  high contrast feature of  Helperbird")
                span Learn more



        li.plan-features__item


            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M19 4H5a2 2 0 00-2 2v12a2 2 0 002 2h14c1.1 0 2-.9 2-2V6a2 2 0 00-2-2zm0 14H5V8h14v10z')
                    path(d='M0 0h24v24H0z', fill='none')

            h3.medium.flush Immersive Reader
           
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/immersive-reader-for-chrome",    title="Learn more about the  immersive reader feature of  Helperbird")
                span Coming soon





        li.plan-features__item


            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(xmlns='http://www.w3.org/2000/svg', height='24', viewbox='0 0 24 24', width='24')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M13 1.07V9h7c0-4.08-3.05-7.44-7-7.93zM4 15c0 4.42 3.58 8 8 8s8-3.58 8-8v-4H4v4zm7-13.93C7.05 1.56 4 4.92 4 9h7V1.07z')

            
            h3.medium.flush Cursor control
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/cursor-control",    title="Learn more about the  immersive reader feature of  Helperbird")
                span Learn more



        li.plan-features__item

            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items.purple
                svg(xmlns='http://www.w3.org/2000/svg', height='24', viewbox='0 0 24 24', width='24')
                    path(d='M6 7h3.5L5 3.5 1.5 7H4v10H1.5L5 20.5 8.5 17H6V7zm4-2v2h12V5H10zm0 14h12v-2H10v2zm0-6h12v-2H10v2z')
                    path(d='M0 0h24v24H0z', fill='none')
            
            h3.medium.flush Adjust letters and words
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/adjust-letters-and-words",    title="Learn more about the adjust letters and words feature of  Helperbird")
                span Learn more






    style.
        .purple{
            background-color:#5c5fbe !important
        }