- 
  var features = [
    {
    "title": "Top-notch support",
    "description": "Have a question? We’re on it. Jump the line with priority support.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current" > <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/> </svg>',

    },

    {
    "title": "User provisioning and deprovisioning",
    "description": "Automatically provision and deprovision users in Helpebrird through your standardized SAML provider.",
    "icon": '    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"> <path d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z" ></path></svg>',

    },


    {
    "title": "Custom branding",
    "description": "Put your logo front and center. With custom branding, you’re able to customize Helperbird with your own logo.",
    "icon": '    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"> <path d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z" ></path></svg>',

    },


    {
    "title": "Customer success",
    "description": "Get access to online trainings and resources to help your team be successful with Helperbird. Plus, teams of 30 or more seats get online and regular training with our customer success managers to help you.",
    "icon": '    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"> <path d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z" ></path></svg>',

    },

    {
    "title": "Pro features",
    "description": "Edu gives you all the power and features available to Helperbird Pro users.",
    "icon": '    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"> <path d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z" ></path></svg>',

    },

    {
    "title": "99.9% Uptime SLA",
    "description": "Edu gives you all the power and features available to Helperbird Pro users.",
    "icon": '    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"> <path d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z" ></path></svg>',

    },


    ]



// This example requires Tailwind CSS v2.0+
.bg-indigo-700
  .max-w-4xl.mx-auto.px-4.py-16(class='sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8')
    h2.text-3xl.font-extrabold.text-white.tracking-tight
      | What you can do with Helperbird Unlimited
    p.mt-4.max-w-3xl.text-lg.text-indigo-200
      | You get all the top in class features of Helperbird Pro plus these other benefits.
    .mt-12.grid.grid-cols-1.gap-x-6.gap-y-12(class='sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16')
      each val in features      
        div
          div
            span.flex.items-center.justify-center.h-12.w-12.rounded-md.bg-gray-50.bg-opacity-10.text-white!= val.icon
          .mt-6
            h3.text-lg.font-medium.text-white #{val.title}
            p.mt-2.text-base.text-indigo-200
              | #{val.description}
