section.section.lightblue-white.mb80

  .container-lrg.flex.mt75

    ul.plan-features.grid__item.grid__item--large.grid__item--mobile-large



        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M-74 29h48v48h-48V29zM0 0h24v24H0V0zm0 0h24v24H0V0z', fill='none')
                    path(d='M13 12h7v1.5h-7zm0-2.5h7V11h-7zm0 5h7V16h-7zM21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15h-9V6h9v13z')


            
            h3.medium.flush Reader mode
   
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/reader-mode-for-chrome-and-firefox", title="Learn more about Reader mode for Google Chrome")
                span Learn more



        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z')
                    path(d='M0 0h24v24H0z', fill='none')
            h3.medium.flush Dyslexia Fonts
        
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="features/specialised-dyslexic-fonts",title="Learn more about the dyslexic font options for Helperbird")
                span Learn more





        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg', xlink='http://www.w3.org/1999/xlink')
                    defs
                        path#a(d='M0 0h24v24H0z')
                    clippath#b
                        use(overflow='visible', href='#a')
                    path(clip-path='url(#b)', d='M3 16h5v-2H3v2zm6.5 0h5v-2h-5v2zm6.5 0h5v-2h-5v2zM3 20h2v-2H3v2zm4 0h2v-2H7v2zm4 0h2v-2h-2v2zm4 0h2v-2h-2v2zm4 0h2v-2h-2v2zM3 12h8v-2H3v2zm10 0h8v-2h-8v2zM3 4v4h18V4H3z')

            h3.medium.flush Dyslexia Ruler

            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/ruler",title="Learn more about the dyslexic ruler feature  for Helperbird")
                span Learn more




        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z')
                    path(d='M0 0h24v24H0z', fill='none')

            h3.medium.flush Blocklist

            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/Blocklist",title="Learn more about the Blocklist feature  for Helperbird")
                span Learn more

    

        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg', xlink='http://www.w3.org/1999/xlink')
                    defs
                        path#a(d='M0 0h24v24H0V0z')
                    clippath#b
                        use(overflow='visible', href='#a')
                    path(clip-path='url(#b)', d='M6 14l3 3v5h6v-5l3-3V9H6zm5-12h2v3h-2zM3.5 5.875L4.914 4.46l2.12 2.122L5.62 7.997zm13.46.71l2.123-2.12 1.414 1.414L18.375 8z')

            h3.medium.flush Overlays
           
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/overlay", title="Learn more about the overlay feature  for Helperbird")
                span Learn more



        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z')



            h3.medium.flush Color blindness

            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/color-blindness", title="Learn more about the color blindness feature  for Helperbird")
                span Learn more

        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items

                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 9H9V9h10v2zm-4 4H9v-2h6v2zm4-8H9V5h10v2z')


            h3.medium.flush Dictionary
 
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/dictionary", title="Learn more about the dictionary feature  for Helperbird")
                span Learn more

        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', viewbox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z')

            
            h3.medium.flush Privacy
            
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/privacy", title="Learn more about the privacy feature of  Helperbird")
                span Learn more




  







        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z')


            
            h3.medium.flush Notes
            
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/notes",  title="Learn more about the notes taking app feature of  Helperbird")
                span Learn more





        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M12 17c3.31 0 6-2.69 6-6V3h-2.5v8c0 1.93-1.57 3.5-3.5 3.5S8.5 12.93 8.5 11V3H6v8c0 3.31 2.69 6 6 6zm-7 2v2h14v-2H5z')


            
            h3.medium.flush Cognitive Load
       
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/cognitive-load",  title="Learn more about the  cognitive load feature of  Helperbird")
                span Learn more










        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M21 4H11l-1-3H3c-1.1 0-2 .9-2 2v15c0 1.1.9 2 2 2h8l1 3h9c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM7 16c-2.76 0-5-2.24-5-5s2.24-5 5-5c1.35 0 2.48.5 3.35 1.3L9.03 8.57c-.38-.36-1.04-.78-2.03-.78-1.74 0-3.15 1.44-3.15 3.21S5.26 14.21 7 14.21c2.01 0 2.84-1.44 2.92-2.41H7v-1.71h4.68c.07.31.12.61.12 1.02C11.8 13.97 9.89 16 7 16zm6.17-5.42h3.7c-.43 1.25-1.11 2.43-2.05 3.47-.31-.35-.6-.72-.86-1.1l-.79-2.37zm8.33 9.92c0 .55-.45 1-1 1H14l2-2.5-1.04-3.1 3.1 3.1.92-.92-3.3-3.25.02-.02c1.13-1.25 1.93-2.69 2.4-4.22H20v-1.3h-4.53V8h-1.29v1.29h-1.44L11.46 5.5h9.04c.55 0 1 .45 1 1v14z')
                    path(d='M0 0h24v24H0zm0 0h24v24H0z', fill='none')


            
            h3.medium.flush Translate any page
            
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/google-translate",   title="Learn more about the  google translate feature of  Helperbird")
                span Learn more






        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    circle(cx='12', cy='12', r='3.2')
                    path(d='M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z')
                    path(d='M0 0h24v24H0z', fill='none')


            
            h3.medium.flush Screenshot
     
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/screenshot",    title="Learn more about the  screenshot feature of  Helperbird")
                span Learn more





        li.plan-features__item
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(height='24', width='24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5 6.5 6.5 0 109.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z')
                    path(d='M0 0h24v24H0V0z', fill='none')
                    path(d='M12 10h-2v2H9v-2H7V9h2V7h1v2h2v1z')


            
            h3.medium.flush Page & text magnifier
           
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/zoom",    title="Learn more about the  zoom feature of  Helperbird")
                span Learn more





        








        li.plan-features__item


            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(xmlns='http://www.w3.org/2000/svg', height='24', viewbox='0 0 24 24', width='24')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M13 1.07V9h7c0-4.08-3.05-7.44-7-7.93zM4 15c0 4.42 3.58 8 8 8s8-3.58 8-8v-4H4v4zm7-13.93C7.05 1.56 4 4.92 4 9h7V1.07z')

            
            h3.medium.flush Cursor control
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/cursor-control",    title="Learn more about the  immersive reader feature of  Helperbird")
                span Learn more



        li.plan-features__item

            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(xmlns='http://www.w3.org/2000/svg', height='24', viewbox='0 0 24 24', width='24')
                    path(d='M6 7h2.5L5 3.5 1.5 7H4v10H1.5L5 20.5 8.5 17H6V7zm4-2v2h12V5H10zm0 14h12v-2H10v2zm0-6h12v-2H10v2z')
                    path(d='M0 0h24v24H0z', fill='none')
            
            h3.medium.flush Adjust letters and words
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/adjust-letters-and-words",    title="Learn more about the adjust letters and words feature of  Helperbird")
                span Learn more

        li.plan-features__item

            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(xmlns='http://www.w3.org/2000/svg', height='24', viewbox='0 0 24 24', width='24')
                    path(d='M0 0h24v24H0z', fill='none')
                    path(d='M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z')

            
            h3.medium.flush  Optical Character Recognition
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/features/optical-character-recognition",    title="Learn more about the adjust letters and words feature of  Helperbird")
                span Learn more

        li.plan-features__item

            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
                svg(xmlns='http://www.w3.org/2000/svg', height='24', viewbox='0 0 24 24', width='24')
                    path(d='M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z')
                    path(d='M0 0h24v24H0z', fill='none')

            
            h3.medium.flush  Bookmark app