- 
  var features = [
    {
    "title": "Reader Mode",
    "description": "Reader Mode removes ads and distractions from any webpage with complete customization.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current" > <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/> </svg>',
    "link": "/features/reader-mode-for-chrome-and-firefox"
    },

    {
    "title": "Dyslexia Fonts",
    "description": "Change the font of the page. Apply OpenDyslexic and 15 plus different fonts to any web page.",
    "icon": '    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 fill-current"> <path d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z" ></path></svg>',
    "link": "/features/specialised-dyslexic-fonts"
    },





    {
    "title": "Dyslexia Ruler",
    "description": "Dyslexia Ruler helps you to read long texts on web pages.",
    "icon": '     <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 h-6 stroke-current" viewBox="0 0 24 24" fill="none"> <path d="M4 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 11H2V7h2v4h1V7h2v4h1V7h2v4h1V7h2v4h1V7V7H14V7H16V11H17V7V7H19H19V11V11H20H20H20V7h2v10z"/></svg>',
    "link": "/features/ruler"
    },







    {


    "title": "Styles & Themes",
    "description": "Change background, highlight & font colors to help with focus and improve reading.",
    "link": "/features/styles",
    'icon': ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"/></svg>'
    },

    {
    "title": "Overlays",
    "description": "Color overlay for scotopic sensitivity syndrome user and for people who don't like bright white background.",
    "link": "/features/overlay",
    "icon": ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"/></svg>'
    },




    {



    "title": "Color blindness",
    "description": "Color blindness features including Emphasize Links and stroke text",
    "link": "/features/color-blindness",
    "icon": ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/></svg>'
    },


    {


    "title": "Dictionary",
    "description": "Discover what any English word means. Including synonyms and related words.",
    "link": "/features/dictionary",
    "icon": ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"/></svg>'
    },

    {
    "title": "Privacy",
    "description": "We never sell, store, or consume any user data. We do not store data or any other user-related content.",
    "link": "/features/privacy",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"/></svg>'
    },
    {


    "title": "Text to Speech",
    "description": "Not sure what a word means or how to pronounce it? Select it, and Helperbird will read it out loud.",
    "link": "/features/text-to-speech",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"/></svg>'
    },



    {


    "title": "Dictation",
    "description": "Instead of typing text, you can speak and Helperbird will turn your speech to text.",
    "link": "/features/speech-to-text",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/></svg>'
    },






    {



    "title": "Notes",
    "description": "Save and manage snippets of text, images, websites and videos using the notes feature.",
    "link": "/features/notes",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/></svg>'
    },






    {


    "title": "Cognitive Load",
    "description": "Using granular colors that underline text, users can find reading more comfortable and fun.",
    "link": "/features/cognitive-load",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"/></svg>'
    },










      {


    "title": "Translate any page",
    "description": "Translate any website or any snippet of text with Helperbird. Over 23 languages, all with one click",
    "link": "/features/google-translate",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"/></svg>'
    },







    {



    "title": "Screenshot",
    "description": "With Helperbird, you can screenshot any page your viewing and save it to your desktop. All in one click.",
    "link": "/features/screenshot",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"/> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"/></svg>'
    },



    {



    "title": "Page & text magnifier",
    "description": "Magnifiy text and any page to suit your needs",
    "link": "/features/zoom",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"/> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"/></svg>'

    },







    {


    "title": "Cursor control",
    "description": " Make your mouse pointer more visible",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"/></svg>', "link": "/features/cursor-control"},{"title": "High Contrast", "icon": ' <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"> <path d="M17.66 7.93L12 2.27 6.34 7.93c-3.12 3.12-3.12 8.19 0 11.31C7.9 20.8 9.95 21.58 12 21.58s4.1-.78 5.66-2.34c3.12-3.12 3.12-8.19 0-11.31zM12 19.59c-1.6 0-3.11-.62-4.24-1.76C6.62 16.69 6 15.19 6 13.59s.62-3.11 1.76-4.24L12 5.1v14.49z"/></svg>',
    "description": "Invert every color on the page, to be high contrast.",
    "link": "/features/high-contrast",
    },


    {

    "title": "Immersive Reader",
    "description": "Implement proven techniques to improve reading and writing for people.",
    "link": "/features/immersive-reader-for-chrome",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>'
    },

    {

    "title": "Adjust letters and words",
    "description": "Adjust letter and word spacing, font size and line height according to your needs",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>',
    "link": "/features/adjust-letters-and-words"
    },

    {

    "title": "Full document editor",
    "description": "Create, edit and delete documents in a full editor. Export and import to Google docs, Markdown and more.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/></svg>',
    "link": "/features/adjust-letters-and-words"
    },

    {

    "title": "PDF support",
    "description": "Use immersive reader, text to speech and more on PDF files.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>',
    "link": "/features/adjust-letters-and-words"
    },


    {

    "title": "Google docs support",
    "description": "Change fonts, text to speech and more on any Google docs file.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>',
    "link": "/features/adjust-letters-and-words"
    },


    {        

    "title": "Extract text from images. (OCR)",
    "description": "Extract text from images in seconds.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>',
    "link": "/features/optical-character-recognition", 
    },

    {


    "title": " Read it later",
    "description": "Helperbirds Bookmark Manager that helps with Organization, Syncing across browsers and platforms",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>',
    "link": "/features/bookmarks",
    },


    {

    "title": " Annotations",
    "description": "Highlight or annotate text directly in web pages.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" /></svg>',
    "link": "/features/annotation"
    },

    {


    "title": " Analyze",
    "description": "Quickly find the amount of character, letters and break downs of all sentences on a webpage.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>',
    "link": "/features/analyze",
    },


    {


    "title": "Reading guide",
    "description": "Quickly find the amount of character, letters and break downs of all sentences on a webpage.",
    "icon": '     <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 h-6 stroke-current" viewBox="0 0 24 24" fill="none"> <path d="M4 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 11H2V7h2v4h1V7h2v4h1V7h2v4h1V7h2v4h1V7V7H14V7H16V11H17V7V7H19H19V11V11H20H20H20V7h2v10z"/></svg>',
    "link": "/features/analyze",
    },

    {

    "title": " Shortcuts",
    "description": "Access Helperbird features with keyboard shortcuts.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" /></svg>',
    "link": "/features/shortcuts",
    }


    ]



// This example requires Tailwind CSS v2.0+
.bg-indigo-700
  .max-w-4xl.mx-auto.px-4.py-16(class='sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8')
    h2.text-3xl.font-extrabold.text-white.tracking-tight
      | Features 300,000 people love
    p.mt-4.max-w-3xl.text-lg.text-indigo-200
      | From students, working professionals, researchers, and everyone between in over 151 countries. We have features that help you be more productive and make the web more accessible for everyone. From award-winning features like Opendyslexic, Immersive Reader, note-taking to complete customization of your web experience with over 30 other mix and match features. Helperbird is built for everyone.
    .mt-12.grid.grid-cols-1.gap-x-6.gap-y-12(class='sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16')
      each val in features      
        div
          div
            span.flex.items-center.justify-center.h-12.w-12.rounded-md.bg-white.bg-opacity-10.text-white!= val.icon
          .mt-6
            h3.text-lg.font-medium.text-white #{val.title}
            p.mt-2.text-base.text-indigo-200
              | #{val.description}
            .mt-6

              a.inline-flex.px-4.py-2.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(href= val.link class='hover:bg-indigo-700')
                | Learn more