- 
  var features = [

    {
    "title": "Works on any website",
    "description": "Accessibility Checker is an extension so it works on any website and even works offline! You don't need to add any script or change your code.",
    "icon": '<svg height="24" width="24" class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg"><path d="M-74 29h48v48h-48V29zM0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M13 12h7v1.5h-7zm0-2.5h7V11h-7zm0 5h7V16h-7zM21 4H3c-1.1 0-2 .9-2 2v13c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 15h-9V6h9v13z"></path></svg>',

    },




    {
    "title": "Turn it on and off anytime",
    "description": "You control it. Turn it on/off anytime. Works on development, or production website.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg"  class="h-6 w-6 text-white" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"></path></svg>',

    },


    {
    "title": "Change the colors",
    "description": "Change the color of the highlighter to any color you wish.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg"  class="h-6 w-6 text-white"height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5H16c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 9 6.5 9 8 9.67 8 10.5 7.33 12 6.5 12zm3-4C8.67 8 8 7.33 8 6.5S8.67 5 9.5 5s1.5.67 1.5 1.5S10.33 8 9.5 8zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 4c-.83 0-1.5-.67-1.5-1.5S16.67 9 17.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"></path></svg>',

    },

    {
    "title": "Filter issues",
    "description": "Click on the issue and see the toaster or check the console for all issues.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg"  class="h-6 w-6 text-white" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><path d="M0,0h24 M24,24H0" fill="none"></path><path d="M4.25,5.61C6.27,8.2,10,13,10,13v6c0,0.55,0.45,1,1,1h2c0.55,0,1-0.45,1-1v-6c0,0,3.72-4.8,5.74-7.39 C20.25,4.95,19.78,4,18.95,4H5.04C4.21,4,3.74,4.95,4.25,5.61z"></path><path d="M0,0h24v24H0V0z" fill="none"></path></g></svg>',

    },
    {
    "title": "How to fix it",
    "description": "When you click on the issue, we tell you now how to fix the issue.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg"  class="h-6 w-6 text-white" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg>',

    },

    ]



// This example requires Tailwind CSS v2.0+
.relative.bg-gray-50.py-16(class='sm:py-24 lg:py-32')
  .mx-auto.max-w-md.px-4.text-center(class='sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl')
    h2.text-base.font-semibold.tracking-wider.text-indigo-600.uppercase Features
    p.mt-2.text-3xl.font-extrabold.text-gray-900.tracking-tight(class='sm:text-4xl')
      | Everything you need to fix and discover accessibility issues
    p.mt-5.max-w-prose.mx-auto.text-xl.text-gray-500
      | From students, working professionals, researchers, and everyone between in over 151 countries. We have features that help you be more productive and make the web more accessible for everyone, from award-winning features like Opendyslexic, Immersive Reader, note-taking to complete customization of your web experience with over 30 other mix and match features. Helperbird is built for everyone.
    .mt-12
      .grid.grid-cols-1.gap-8(class='sm:grid-cols-2 lg:grid-cols-3')
        each val in features
          .pt-6
            .flow-root.bg-gray-50.rounded-lg.px-6.pb-8
              .-mt-6
                div
                  span.inline-flex.items-center.justify-center.p-3.bg-indigo-500.rounded-md.shadow-lg!= val.icon

                h3.mt-8.text-lg.font-medium.text-gray-900.tracking-tight #{val.title}
                p.mt-5.text-base.text-gray-500
                  | #{val.description}