// This example requires Tailwind CSS v2.0+
.relative.bg-white.pt-16.pb-32.overflow-hidden
  .relative
    div(class='lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24')
      .px-4.max-w-xl.mx-auto(class='sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0')
        div
          div
            span.h-12.w-12.rounded-md.flex.items-center.justify-center.bg-indigo-600
              // Heroicon name: inbox
              svg.h-6.w-6.text-white(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4')
          .mt-6
            h2.text-3xl.font-extrabold.tracking-tight.text-gray-900
              | Annotate any website
            p.mt-4.text-lg.text-gray-500
              | Leave notes and comments on any website, helping you with your research and homework.
            .mt-6
              a.inline-flex.px-4.py-2.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(href='/features/annotation' class='hover:bg-indigo-700')
                | Learn more
        .mt-8.border-t.border-gray-200.pt-6
          blockquote
            div
              p.text-base.text-gray-500
                | &ldquo;I have been trying to find ways to make my child happy to go to school again, and someone recommended helperbird. She loves helperbird, and she is now much happier about the idea of returning to school. I think this might be a game changer, as they do so much web based schoolwork and research.  She says "they really understand people with dyslexia.&rdquo;
            footer.mt-3
              .flex.items-center.space-x-3
                .flex-shrink-0
                  img.h-6.w-6.rounded-full(src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif' alt='')
                .text-base.font-medium.text-gray-700
                  | Cris Townley, Partent
      .mt-12(class='sm:mt-16 lg:mt-0')
        .pl-4.-mr-48(class='sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full')
          img.w-full.rounded-xl.shadow-xl.ring-1.ring-black.ring-opacity-5(class='lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none' src='https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg' alt='Inbox user interface')
  .mt-24
    div(class='lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24')
      .px-4.max-w-xl.mx-auto(class='sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2')
        div
          div
            span.h-12.w-12.rounded-md.flex.items-center.justify-center.bg-indigo-600
              // Heroicon name: sparkles
              svg.h-6.w-6.text-white(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z')
          .mt-6
            h2.text-3xl.font-extrabold.tracking-tight.text-gray-900
              | Dyslexia support
            p.mt-4.text-lg.text-gray-500
              | Helperbird allows users to enable specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Arial, Comic Sans, and more. Users can also zoom font on a web page to help with reading and focus.
            .mt-6
              a.inline-flex.px-4.py-2.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(href='/features/specialised-dyslexic-fonts' class='hover:bg-indigo-700')
                | Get started
      .mt-12(class='sm:mt-16 lg:mt-0 lg:col-start-1')
        .pr-4.-ml-48(class='sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full')
          img.w-full.rounded-xl.shadow-xl.ring-1.ring-black.ring-opacity-5(class='lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none' src='https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg' alt='Customer profile user interface')
// This example requires Tailwind CSS v2.0+
.relative.bg-white.pt-16.pb-32.overflow-hidden
  .relative
    div(class='lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24')
      .px-4.max-w-xl.mx-auto(class='sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0')
        div
          div
            span.h-12.w-12.rounded-md.flex.items-center.justify-center.bg-indigo-600
              // Heroicon name: inbox
              svg.h-6.w-6.text-white(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4')
          .mt-6
            h2.text-3xl.font-extrabold.tracking-tight.text-gray-900
              | View clutter-free web pages
            p.mt-4.text-lg.text-gray-500
              | Helperbird gives you a Reader Mode that removes ads and distractions from any webpage with complete customization.
            .mt-6
              a.inline-flex.px-4.py-2.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(href='/features/reader-mode-for-chrome-and-firefox' class='hover:bg-indigo-700')
                | Get started
        .mt-8.border-t.border-gray-200.pt-6
          blockquote
            div
              p.text-base.text-gray-500
                | &ldquo;Have an amazing collection of assistive tools that have benefits for everyone. For me, the combination of Microsoft's Immersive Reader and Apple's reading machine voice (US Alex) makes Helperbird my first choice for processing web content.&rdquo;
            footer.mt-3
              .flex.items-center.space-x-3
                .flex-shrink-0
                  img.h-6.w-6.rounded-full(src='https://lh3.googleusercontent.com/a-/AOh14GgzGq40AO1sKGZ062f4AjhTf7WugrJkO_MBbVsHEw=s40-c-k' alt='')
                .text-base.font-medium.text-gray-700
                  | Jim Sprialis, Digital Marketing Manager
      .mt-12(class='sm:mt-16 lg:mt-0')
        .pl-4.-mr-48(class='sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full')
          img.w-full.rounded-xl.shadow-xl.ring-1.ring-black.ring-opacity-5(class='lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none' src='https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg' alt='Inbox user interface')
  .mt-24
    div(class='lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24')
      .px-4.max-w-xl.mx-auto(class='sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2')
        div
          div
            span.h-12.w-12.rounded-md.flex.items-center.justify-center.bg-indigo-600
              // Heroicon name: sparkles
              svg.h-6.w-6.text-white(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z')
          .mt-6
            h2.text-3xl.font-extrabold.tracking-tight.text-gray-900
              | Listen to any part of your Webpages and Google Docs
            p.mt-4.text-lg.text-gray-500
              | Not sure what a word means or how to pronounce it? Select it, and Helperbird will read it out loud. With our natural award winning text to speech.
            .mt-6
              a.inline-flex.px-4.py-2.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(href='/features/text-to-speech' class='hover:bg-indigo-700')
                | Get started
      .mt-12(class='sm:mt-16 lg:mt-0 lg:col-start-1')
        .pr-4.-ml-48(class='sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full')
          img.w-full.rounded-xl.shadow-xl.ring-1.ring-black.ring-opacity-5(class='lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none' src='https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg' alt='Customer profile user interface')

// This example requires Tailwind CSS v2.0+
.relative.bg-white.pt-16.pb-32.overflow-hidden
  .relative
    div(class='lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24')
      .px-4.max-w-xl.mx-auto(class='sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0')
        div
          div
            span.h-12.w-12.rounded-md.flex.items-center.justify-center.bg-indigo-600
              // Heroicon name: inbox
              svg.h-6.w-6.text-white(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4')
          .mt-6
            h2.text-3xl.font-extrabold.tracking-tight.text-gray-900
              | Immersive reader for Chrome
            p.mt-4.text-lg.text-gray-500
              | Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability.
            .mt-6
              a.inline-flex.px-4.py-2.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(href='/features/immersive-reader-for-chrome' class='hover:bg-indigo-700')
                | Get started
        .mt-8.border-t.border-gray-200.pt-6
          blockquote
            div
              p.text-base.text-gray-500
                | &ldquo;I purchased this for my daughter who has been having a lot of difficulty accessing the online work set remotely by her teachers during our National Lockdown because of Covid-19. Her dyslexia was really hindering her ability to complete tasks and keep up which in turn led to increased anxiety levels...a really horrid place to be in during a global pandemic! Helper bird has been a vast help and I fully recommend it and wish more schools knew about it. Thank You Helper Bird.&rdquo;
            footer.mt-3
              .flex.items-center.space-x-3
                .flex-shrink-0
                  img.h-6.w-6.rounded-full(src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif' alt='')
                .text-base.font-medium.text-gray-700
                  | Michelle Howard-Price, Parent
      .mt-12(class='sm:mt-16 lg:mt-0')
        .pl-4.-mr-48(class='sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full')
          img.w-full.rounded-xl.shadow-xl.ring-1.ring-black.ring-opacity-5(class='lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none' src='https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg' alt='Inbox user interface')
