section.section.lightblue-white.mb80#features
 
 
  .container-xlrg.flex.mt40.mt80.slider-max-width




    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .browser.launchaco-builder-hoverable.mb75

        video(width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
          source(src="/assets/videos/annotation.webm" type="video/webm")
          source(src="/assets/videos/annotation.mp4" type="video/mp4")
    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Annotate any website
          p.paragraph.secondary-color.launchaco-builder-hoverable Leave notes and  comments on any website, helping you with your research and homework.
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center(href='/features/annotation')
              span Learn more
 
 
 
  .container-xlrg.flex.mt40.mt80.slider-max-width
    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .flex.mobile-flex-wrap.mb75.mobile-text-center
        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Dyslexia support
          p.paragraph.secondary-color.launchaco-builder-hoverable Helperbird allows users to enable specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Arial, Comic Sans, and more. Users can also zoom font on a web page to help with reading and focus.
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center(href='/features/specialised-dyslexic-fonts')
              span Learn more



    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .browser.launchaco-builder-hoverable.mb75

        video(width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
          source(src="/assets/videos/font.webm" type="video/webm")
          source(src="/assets/videos/font.mp4" type="video/mp4")

  .container-xlrg.flex.mt40.mt80.slider-max-width



    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .browser.launchaco-builder-hoverable.mb75

        video(width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
          source(src="/assets/videos/readermode.webm" type="video/webm")
          source(src="/assets/videos/readermode.mp4" type="video/mp4")
    .col-6.flex.flex-column.center-vertical.mobile-col-12

      .flex.mobile-flex-wrap.mb75.mobile-text-center
  
        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us View  clutter-free web pages
          p.paragraph.secondary-color.launchaco-builder-hoverable Helperbird gives you a Reader Mode that removes ads and distractions from any webpage with complete customization.
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center(href='/features/reader-mode-for-chrome-and-firefox')
              span Learn more





  .container-xlrg.flex.mt40.mt80.slider-max-width


    .col-6.flex.flex-column.center-vertical.mobile-col-12
  
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Styles & Themes
          p.paragraph.secondary-color.launchaco-builder-hoverable.
            Background, highlight,font, overlays colors help people with dyslexia focus and improve reading. All suggested colors included in Helperbird.
            
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center(href='/features/styles')
              span Learn more

    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .browser.launchaco-builder-hoverable.mb75

        video(width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
          source(src="/assets/videos/styles.webm" type="video/webm")
          source(src="/assets/videos/styles.mp4" type="video/mp4")

  .container-xlrg.flex.mt40.mt80.slider-max-width




    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .browser.launchaco-builder-hoverable.mb75

        video(width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
          source(src="/assets/videos/speech.webm" type="video/webm")
          source(src="/assets/videos/speech.mp4" type="video/mp4")
    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Listen to any part of your Webpages and Google Docs
          p.paragraph.secondary-color.launchaco-builder-hoverable Not sure what a word means or how to pronounce it? Select it, and Helperbird will read it out loud. With our natural award winning text to speech.
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center(href='/features/text-to-speech')
              span Learn more


 
 
  .container-xlrg.flex.mt40.mt80.slider-max-width

    .col-6.flex.flex-column.center-vertical.mobile-col-12

      .flex.mobile-flex-wrap.mb75.mobile-text-center
  
        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Immersive reader for Chrome
          p.paragraph.secondary-color.launchaco-builder-hoverable Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability.
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center(href='/features/immersive-reader-for-chrome')
              span Learn more


    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .browser.launchaco-builder-hoverable.mb75

        video(width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
          source(src="/assets/videos/immersive.webm" type="video/webm")
          source(src="/assets/videos/immersive.mp4" type="video/mp4")


