// This example requires Tailwind CSS v2.0+
.relative.bg-white.pt-16.pb-16.overflow-hidden
  .relative
    div(class='lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24')
      .px-4.max-w-xl.mx-auto(class='sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0')
        div
          div
            span.h-12.w-12.rounded-md.flex.items-center.justify-center.bg-indigo-600
              // Heroicon name: inbox
              svg.inline-block.w-6.h-6.stroke-current.text-white(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='#fff')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z')

          .mt-6
            h2.text-3xl.font-extrabold.tracking-tight.text-gray-900
              | Listen to any part of your Webpage
            p.mt-4.text-lg.text-gray-500
              | Not sure what a word means or how to pronounce it? Select it, and Helperbird will read it out loud. With our natural award winning text to speech.
            .mt-6
              a.inline-flex.px-4.py-2.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(href='/features/text-to-speech' class='hover:bg-indigo-700')
                | Learn more
        .mt-8.border-t.border-gray-200.pt-6
          blockquote
            div
              p.text-base.text-gray-500
                | &ldquo;I have been trying to find ways to make my child happy to go to school again, and someone recommended helperbird. She loves helperbird, and she is now much happier about the idea of returning to school. I think this might be a game changer, as they do so much web based schoolwork and research.  She says "they really understand people with dyslexia.&rdquo;
            footer.mt-3
              .flex.items-center.space-x-3
                .flex-shrink-0
                  img.h-6.w-6.rounded-full(src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif' alt='')
                .text-base.font-medium.text-gray-700
                  | Cris Townley, Partent
      .mt-12(class='sm:mt-16 lg:mt-0')
        .pl-4.-mr-48(class='sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full')
          video.w-full.rounded-xl.shadow-xl.ring-1.ring-black.ring-opacity-5( width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
            source(src="/assets/videos/annotation.webm" type="video/webm")
            source(src="/assets/videos/annotation.mp4" type="video/mp4")
  
  .mt-24
    div(class='lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24')
      .px-4.max-w-xl.mx-auto(class='sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2')
        div
          div
            span.h-12.w-12.rounded-md.flex.items-center.justify-center.bg-indigo-600
              // Heroicon name: sparkles
              svg.inline-block.w-6.h-6.fill-current.text-white(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24')
                path(d='M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z')

          .mt-6
            h2.text-3xl.font-extrabold.tracking-tight.text-gray-900
              | Dyslexia support
            p.mt-4.text-lg.text-gray-500
              | Helperbird allows users to enable specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Arial, Comic Sans, and more. Users can also zoom font on a web page to help with reading and focus.
            .mt-6
              a.inline-flex.px-4.py-2.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-600(href='/features/specialised-dyslexic-fonts' class='hover:bg-indigo-700')
                | Get started
      .mt-12(class='sm:mt-16 lg:mt-0 lg:col-start-1')
        .pr-4.-ml-48(class='sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full')
          video.w-full.rounded-xl.shadow-xl.ring-1.ring-black.ring-opacity-5( width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
            source(src="/assets/videos/font.webm" type="video/webm")
            source(src="/assets/videos/font.mp4" type="video/mp4")
