section.section.lightblue-white.mb80#features
  .container.flex.text-center
    .col-12
      h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us
        | Features 
        a(href='https://datastudio.google.com/u/0/reporting/3e86f5ee-b27b-4bb6-bfdc-90c1dd67f06e/page/1M', rel='noopener', target='_blank') 211,000 
        | people love
      h5.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
        | From students, working professionals, researchers, and everyone between in over 151 countries. 
        | We have features that help you be more productive and make the web more accessible for everyone. 

        | From award-winning features like Opendyslexic, Immersive Reader, remove adverts, note-taking to complete customization of your web experience with over 30 other mix and match features. 
      h5.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
        | Helperbird is built for everyone.


  .container-xlrg.flex
    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .flex.mobile-flex-wrap.mb75.mobile-text-center
        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Dyslexia support
          p.paragraph.secondary-color.launchaco-builder-hoverable Helperbird allows users to enable specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Dyslexie, Arial, Comic Sans, and more. Users can also zoom font on a web page to help with reading and focus.
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center(href='/features/specialised-dyslexic-fonts')
              span Learn more

    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .mt75.launchaco-builder-hoverable
        .mask.mask__noimage
          img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', src='/assets/images/home/screenshots/fonts.png')






  .container-xlrg.flex.mt40.mt80

    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .mt75.launchaco-builder-hoverable
        .mask.mask__noimage
          img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', src='/assets/images/home/screenshots/reader.png')

 

    .col-6.flex.flex-column.center-vertical.mobile-col-12

      .flex.mobile-flex-wrap.mb75.mobile-text-center
  
        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us View  clutter-free web pages
          p.paragraph.secondary-color.launchaco-builder-hoverable Helperbird gives you a Reader Mode that removes ads and distractions from any webpage with complete customization.
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center(href='/features/reader-mode-for-chrome-and-firefox')
              span Learn more





  .container-xlrg.flex.mt40.mt80

    .col-6.flex.flex-column.center-vertical.mobile-col-12
  
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Styles & Themes
          p.paragraph.secondary-color.launchaco-builder-hoverable.
            Background, highlight,font, overlays colors help people with dyslexia focus and improve reading. All suggested colors included in Helperbird.
            
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center(href='/features/styles')
              span Learn more

    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .mt75.launchaco-builder-hoverable
        .mask.mask__noimage
          img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', src='/assets/images/home/screenshots/colors.png')



  .container-xlrg.flex.mt40.mt80


    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .mt75.launchaco-builder-hoverable
        .mask.mask__noimage
          img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', src='/assets/images/home/screenshots/speech.png')

    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Listen to any part of your Webpages and Google Docs
          p.paragraph.secondary-color.launchaco-builder-hoverable Not sure what a word means or how to pronounce it? Select it, and Helperbird will read it out loud. With our natural award winning text to speech.
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center(href='/features/text-to-speech')
              span Learn more


 
 
  .container-xlrg.flex.mt40.mt80
    .col-6.flex.flex-column.center-vertical.mobile-col-12

      .flex.mobile-flex-wrap.mb75.mobile-text-center
  
        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Immersive reader for Chrome
          p.paragraph.secondary-color.launchaco-builder-hoverable Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability.
          .mobile-text-center.mt20
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center(href='/features/immersive-reader-for-chrome')
              span Learn more

    .col-6.flex.flex-column.center-vertical.mobile-col-12
      .mt75.launchaco-builder-hoverable
        .mask.mask__noimage
          img.width_100(alt='Immersive reader for Chrome', loading='lazy', src='/assets/images/home/screenshots/immersive.png')




