section.section_header
  .container-lrg.flex.banner_sell.helperbird_background_a11y
    .flex.flex-column.col-12.center-vertical.mobile-text-center.padding40
      h1.heading.primary-color.launchaco-builder-hoverable.white
        span
            | Get Accessibility Checker 
        span.its_free_a11y.white.hide-on-small-screens by Helperbird
      h3.subheading.secondary-color.mt20.launchaco-builder-hoverable.white
        | Find out your website's accessibility issues before your customers do.
      .mt40

          button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.helperbird-accessibility-buy-button(type='button')
            span  Get it now  
            | 
            span.its_free $30.00


style.
    .white{
        color:#fff !important;
    }
    .padding40{
        padding: 40px;
    }
