- var theGreat = '<script src="https://assets.helperbird.com/widget/widget.js"></script>';
- var widget = '<helperbird-widget></helperbird-widget>';
section.section_header#widgetGet
  .container-lrg.flex.banner_sell.helperbird_background.purple
    .flex.flex-column.col-12.center-vertical.mobile-text-center.padding40
      h1.heading.primary-color.launchaco-builder-hoverable.white
        span
            | Installing the widget

     
      h2.subheading.secondary-color.mt20.launchaco-builder-hoverable.white.mt40
        | Include our script below to the top of webpage.
        pre.mt40
          code.html #{theGreat}
      h2.subheading.secondary-color.mt20.launchaco-builder-hoverable.white.mt40
        | Then near the bottom of website, add the following 
        pre.mt40
          code.html #{widget}
      h2.subheading.secondary-color.mt20.launchaco-builder-hoverable.white.mt40
        | Congratulations you now have the Helperbird Widget installed.

      h2.subheading.secondary-color.mt20.launchaco-builder-hoverable.white.mt40
        | Ps, don't forget to upgrade to unlock the features. We use the domain in your email to activate your subscription. If you need to change the website, message support.
style.
    .white{
        color:#fff !important;
    }
    .padding40{
        padding: 40px;
    }
style.
    .purple{
        background-color:#5c5fbe !important
    }
    .hljs{
      min-height: auto !important;
    }