section.section.lightblue-white.mb80#features
  .container.flex.text-center
    .col-12
      h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us
        | Examples of it in the wild

      h5.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
        | Do note, I love these websites.

  .container-xlrg.flex
    .col-4.flex.flex-column.center-vertical
      .mt75.launchaco-builder-hoverable
        .mask.mask__noimage
          img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', src='/assets/images/home/a11y/indiehacker.png')



    .col-4.flex.flex-column.center-vertical
      .mt75.launchaco-builder-hoverable
        .mask.mask__noimage
          img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', src='/assets/images/home/a11y/nocode.png')

    .col-4.flex.flex-column.center-vertical
      .mt75.launchaco-builder-hoverable
        .mask.mask__noimage
          img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', src='/assets/images/home/a11y/rte.png')






