---
layout: templates/base.html
title: Get help from the Helperbird partners | Helperbird
description: Helperbird support is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.
keywords:
  Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /partners/
---

<div class="bg-gray-50">
	<div class="relative pb-32 bg-gray-800">
		<div class="absolute inset-0"><img alt="" class="w-full h-full object-cover" src="/assets/images/support/background.jpeg"></div>
		<div class="relative max-w-4xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
			<h1 class="text-4xl font-extrabold tracking-tight text-white md:text-5xl lg:text-6xl">Partner with Helperbird</h1>
			<p class="mt-6 max-w-3xl text-xl text-gray-300">
				Interested in partnering with Helperbird?
				<br>
				Find the partner program that’s right for you.</p>
		</div>
	</div>
	<section aria-labelledby="contact-heading" class="-mt-32 max-w-4xl mx-auto relative z-10 pb-32 px-4 sm:px-6 lg:px-8">

	</section>
</div>



<div class="bg-gray-50">

	<div class="py-16 overflow-hidden lg:py-24"><div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-4xl"><svg class="hidden absolute left-full transform lg:block -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true"><defs><pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse"><rect class="text-gray-200" x="0" y="0" width="4" height="4" fill="currentColor"></rect></pattern></defs><rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)"></rect></svg><div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center"><div class="relative"><h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">Training partners &amp; Ambassadors</h3><p class="mt-3 text-lg text-gray-500">Increase your earnings by offering your bespoke services to our end customers. Or want to be an Ambassador to Helperbird and help spread the word? Get in touch with us to learn more.</p><p class="mt-3 text-lg text-gray-500">Also every partner gets an Offical Helperbird badge.</p><dl class="mt-10 space-y-10"><div class="relative my-10"><dt><p class="ml-16 text-lg leading-6 font-medium text-gray-900">Support and swag.</p></dt><dd class="mt-2 ml-16 text-base text-gray-500">Be happy knowing you are helping improve their accessibility and productivity. We also give you access to give away copies of Helperbird Pro to teachers.</dd></div><div class="relative my-10"><dt><p class="ml-16 text-lg leading-6 font-medium text-gray-900">Exclusive access</p></dt><dd class="mt-2 ml-16 text-base text-gray-500">Get access to our exclusive training slides, assets and even features early.</dd></div><div class="relative my-10"><dt><p class="ml-16 text-lg leading-6 font-medium text-gray-900">Get promoted.</p></dt><dd class="mt-2 ml-16 text-base text-gray-500">If users are looking for training, experts in their country we will prompt you and lead them your way.</dd></div></dl></div><div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true"><svg class="absolute transform translate-y-16 left-1/2 -translate-x-1/2 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404"><defs><pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse"><rect class="text-gray-200" x="0" y="0" width="4" height="4" fill="currentColor"></rect></pattern></defs><rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)"></rect></svg><iframe frameborder="0" height="600" inheight="0" marginwidth="0" loading="lazy" src="https://docs.google.com/forms/d/e/1FAIpQLSfewfysLVGxbL4EgQv4VrkwsACau2Nzw4XdQkGyM60ZOfzGBA/viewform?embedded=true" title="Helperbird support fourm " width="100%">Loading...</iframe></div></div><svg class="hidden absolute right-full transform translate-y-12 lg:block translate-x-1/2" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true"><defs><pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse"><rect class="text-gray-200" x="0" y="0" width="4" height="4" fill="currentColor"></rect></pattern></defs><rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect></svg></div></div>

</div>

<div class="bg-gray-50">
	<div class="bg-pink-50"><div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between"><h2 class="text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl"><span class="block text-pink-600">Looking to hire a Helperbird partner instead?</span></h2><div class="mt-8 flex lg:mt-0 lg:flex-shrink-0"><div class="inline-flex rounded-md shadow"><a class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700" href="#">Coming soon</a></div></div></div></div>
</div>




<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
	<div class="absolute inset-0">
		<div class="bg-gray-50 h-1/3 sm:h-2/3"></div>
	</div>
	<div class="relative max-w-4xl mx-auto">
		<div class="text-center">
			<h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">Helperbird Partners</h2>
			<p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">Our current partners and friends</p>
		</div>
		<div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
	
		
			{%- for friend in partners.friends -%}
  
		
	
			<div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
				<div class="flex-shrink-0">
					<img alt="Photo of Helperbirds user" class="h-48 w-full object-cover" src="{{ friend.img }}">
				</div>
				<div class="flex-1 bg-gray-50 p-6 flex flex-col justify-between">
					<div class="flex-1">
					
			
						<p class="text-xl font-semibold text-gray-900">{{ friend.title}}</p>
						<p class="mt-3 text-base text-gray-500">{{ friend.des}}</p></a>
					</div>
					<div class="mt-6 flex items-center">
						<a class="w-full flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 md:py-4 md:text-lg md:px-10" href="{{ friend.url }}" target="_blank" rel="noreferrer">Learn more</a>
		
					</div>
				</div>
			</div>

			{%- endfor -%}

		</div>
	</div>
</div>