---
layout: templates/help.html
title: Helperbird Knowledge Base | Helperbird
description: Get help with common Helperbird topics. Updated daily. Learn more about popular topics and find resources that will help you with all of your Helperbird products.
keywords: Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /help/
---


<div class="mx-auto max-w-7xl  card shadow-xl bg-base-100 text-base-conten">
  <div class=" card-body mx-auto grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6  lg:max-w-7xl  lg:grid-cols-2">
    <div>
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Helperbird Knowledge Base</h2>
      <p class="mt-4 text-gray-500">Get help with common Helperbird topics. Updated daily.     </p>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Getting started</dt>
          <dd class="mt-2 text-sm text-gray-500">Discover everything from installing Helperbird to Helperbird Pro.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Features</dt>
          <dd class="mt-2 text-sm text-gray-500">Step by step guides on how to use each feature.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Integrations</dt>
          <dd class="mt-2 text-sm text-gray-500">Guides and information on how to use each Helperbird add-on.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Apps</dt>
          <dd class="mt-2 text-sm text-gray-500">Discover how to use Helperbirds internal apps.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Account</dt>
          <dd class="mt-2 text-sm text-gray-500">Discover how to manage your subscription and more.</dd>
        </div>


      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img src="/assets/images/updates/27-0-0/highlights.png" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="bg-gray-100 rounded-lg">
      <img src="/assets/images/updates/27-1-0/pin.png" alt="Top down view of walnut card tray with embedded magnets and card groove." class="bg-gray-100 rounded-lg">
      <img src="/assets/images/updates/40-1-0/color.png" alt="Side of walnut card tray with card groove and recessed card area." class="bg-gray-100 rounded-lg">
      <img src="/assets/images/updates/80-0-0/ipad_0029.PNG" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="bg-gray-100 rounded-lg">
    </div>
  </div>
</div>