doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Why Helperbird is a better alternative to Immersive Reader | Helperbird
    meta(content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app', name='keywords')
    link(href='https://www.helperbird.com/compare/immersive-reader-by-microsoft-alternative', rel='canonical')
    meta(content='If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Immersive Reader can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Why Helperbird is a better alternative to Immersive Reader', itemprop='name')
    meta(content='If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Immersive Reader can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='Why Helperbird is a better alternative to Immersive Reader', name='twitter:title')
    meta(content='If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Immersive Reader can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Why Helperbird is a better alternative to Immersive Reader', name='og:title')
    meta(content='If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Immersive Reader can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Why Helperbird is a better alternative to Immersive Reader', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='/assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='/assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
    script(type='application/ld+json').
      
      {
      	       "@context": "https://schema.org",
      	       "@type": "SoftwareApplication",
      	       "name": "Helperbird",
      	       "operatingSystem": "Windows",
      	       "applicationCategory": "https://schema.org/UtilitiesApplication",
      	       "aggregateRating": {
      	          "@type": "AggregateRating",
      	          "ratingValue": "4.8",
      	          "ratingCount": "42"
      	       },
      	       "offers": {
      	          "@type": "Offer",
      	          "price": "4.99",
      	          "priceCurrency": "USD"
      	       }
      	       }
      
    script(type='application/ld+json').
      
      {
      	          "@context": "https://schema.org",
      	          "@type": "Organization",
      	          "name": "Helperbird",
      	          "url": "https://www.helperbird.com",
      	          "sameAs": [
      	              "http://www.facebook.com/helperbird",
      	              "https://www.linkedin.com/company/19112429",
      	              "https://twitter.com/helperbird_"
      	          ]
      	       }
      
    script(type='application/ld+json').
      
      {
      	       "@context": "https://schema.org/",
      	       "@type": "Product",
      	       "name": "Helperbird",
      	       "image": [
      	          "https://www.helperbird.com/assets/images/pwa/144.png",
      	          "https://www.helperbird.com/assets/images/pwa/512.png",
      	          "https://www.helperbird.com/assets/images/pwa/full.png"
      	       ],
      	       "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	       "sku": "0446310786",
      	       "mpn": "925872",
      	       "brand": {
      	          "@type": "Thing",
      	          "name": "Helperbird"
      	       },
      	          "review": {
      	              "@context": "http://schema.org/",
      	              "@type": "Review",
      	              "name": "Colm Murphy",
      	              "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	              "reviewRating": {
      	                  "@type": "Rating",
      	                  "ratingValue": "5",
      	                  "bestRating": "5",
      	                  "worstRating": "1"
      	              },
      	              "datePublished": "2019-05-02",
      	              "author": {
      	                  "@type": "Person",
      	                  "name": "Colm Murphy"
      	              }
      	          },
      	       "aggregateRating": {
      	          "@type": "AggregateRating",
      	          "ratingValue": "4.8",
      	          "reviewCount": "57"
      	       },
      	       "offers": {
      	          "@type": "Offer",
      	          "url": "https://www.helperbird.com",
      	          "priceCurrency": "USD",
      	          "price": "4.99",
      	          "priceValidUntil": "2020-11-05",
      	          "itemCondition": "https://schema.org/NewCondition",
      	          "availability": "https://schema.org/InStock",
      	          "seller": {
      	          "@type": "Organization",
      	          "name": "Helperbird"
      	          }
      	       }
      	       }
      
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/navigation.pug
      section.section_header
        .container-lrg.flex.mt40
          .flex.flex-column.col-12.text-center
            h1.heading.primary-color.launchaco-builder-hoverable Why choose Helperbird over Immersive Reader?
            h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Immersive Reader can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.
            .mt40
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(data-target='#downloadModal', data-toggle='modal', type='button')
                span Download Helperbird
                |  
                span.its_free Its Free!
    section.section.red-white
      .col-12.flex.flex-column.pad30.mt40
        .mb20
          h2.heading.text-center Let's compare
          .container.mt40.force-flex
            .col-6.flex.flex-column.spread.launchaco-builder-hoverable.float_left.pricing_table.pricing_table_card
              .mb20
                img(alt='Helperbird logo', height='150', src='/assets/images/compare/helperbird.png')
              ul.mt20
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Dyslexia Fonts
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Change font sizes
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Screenshot
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Reader mode
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Google Translate
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Color blindness underline
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Color blindness text stroke
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Change the font color
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Change the background color
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span High Contrast mode
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Dyslexia ruler
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Tint and overlays
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Premium support
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Dictionary app
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Notes taking
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Text to speech
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-check-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='check-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z', fill='currentColor').
                        
                        
                  span.span Speech to text
            .col-6.flex.flex-column.spread.launchaco-builder-hoverable.float_left.pricing_table.pricing_table_card
              .mb20
                img(alt='Immersive Reader logo', height='150', src='/assets/images/compare/reader.png')
              ul.mt20
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Dyslexia Fonts
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Change font sizes
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Screenshot
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Reader mode
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Google Translate
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Color blindness underline
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Color blindness text stroke
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Change the font color
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Change the background color
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through High Contrast mode
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Dyslexia ruler
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Tint and overlays
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Premium support
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Dictionary app
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Notes taking
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Text to speech
                li.flex.mb20
                  p.pricing_icon
                    svg.svg-inline--fa.fa-times-circle.fa-w-16(aria-hidden='true', data-fa-i2svg, data-icon='times-circle', data-prefix='fas', focusable='false', role='img', viewBox='0 0 512 512', xmlns='http://www.w3.org/2000/svg')
                      path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z', fill='currentColor').
                        
                        
                  span.span.line-through Speech to text
    section.section.red-white
      .col-12.flex.flex-column.pad30.mt40
        .mb20
          h2.heading.text-center.mt40 Before and After
          .container
            .flex.flex-column.col-12
              .mask.mask__noimage
                .img-comp-container
                  .img-comp-img
                    img(src='/assets/images/home/before.png', loading='lazy', alt='Before Helperbird', width='760', height='441')
                  .img-comp-img.img-comp-overlay
                    img(src='/assets/images/home/after.png', loading='lazy', alt='After Helperbird', width='760', height='441')
    section.section.red-white
      .col-12.flex.flex-column.pad30.mt40
        .mt40.feature-container.mt40
          h2.heading.text-center Try Helperbird today!
          p.paragraph It's free and learn why we are people love us!
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(data-target='#downloadModal', data-toggle='modal', type='button')
            span.its_free Download Helperbird
            |  
            span.its_free Its Free!
    include ../includes/layout/footer.pug