extends ../includes/templates/compare/post.pug

block seo
  - var title = 'Read & Write vs. Helperbird - Compare Read & Write Alternatives &middot; Helperbird'
  - var description = 'Compare Helperbird and Read & Write and see ways to use both together.'
  - var url = 'read-and-write-alternative'
  - var keywords = 'Read & Write alternative,Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'
  - 
    var table_points = [{
      "helperbird": true,
      "other": false,
      "feature": "Font changer"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Dyslexia fonts"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Magnifier"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Word spacing"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Line height"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Letter spacing"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Reader mode"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Immersive Reader"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Screenshot tools"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Printing tools"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Translation"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "annotation tooling"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Analyze"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Highlight paragraphs"
      }, 
        {
          "helperbird": false,
          "other": true,
          "feature": "PDF editor"
      }, 
      {
        "helperbird": true,
        "other": false,
        "feature": "Volume control"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Extract text from images (OCR)"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Emphasize Links"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Color blindess tools"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Dyslexia ruler"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Dyslexia ruler options"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Overlay"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Overlay options"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Adblocker"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "High contrast"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Hide images"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Remove flashing images"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Reading mask"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Line focus"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Coginitive load"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Text to speech"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Text to speech options"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "14 natural voices"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Cursor options"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Auto scrolling"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Spell check"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Blocklist"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Color features"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Highlight options"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Font options"
      },  {
        "helperbird": true,
        "other": true,
        "feature": "Sync settings & styles"
      }, {
        "helperbird": true,
        "other": false,
        "feature": "Themes"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Google doc support"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Word support"
      }, 

      {
        "helperbird": true,
        "other": true,
        "feature": "Picture Dictionary"
      }, 

        {
        "helperbird": false,
        "other": true,
        "feature": "Prediction"
      }, 

      {
        "helperbird": true,
        "other": true,
        "feature": "Dictionary app"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Annotations app"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Text editor app"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Dication app"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "Bookmark app"
      }, {
        "helperbird": true,
        "other": true,
        "feature": "iPad app"
      }]



block header
  include ../includes/mixins/blog



  .container-lrg.flex.mobile-col-flex-12.mt200



    .col-6.mobile-col-12.center-vertical.mobile-text-center
      h1.heading.primary-color.launchaco-builder-hoverable.heading_compare
        | Helperbird vs
        | Read & Write
      h3.subheading.secondary-color.mt20.launchaco-builder-hoverable
        | See why over 300,000 of people choose Helperbird over Read & Write to give them more accessibility over their work.
      .mt40
        a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink(href='/pricing', title="Visit pricing")
          span  Try now for free

        a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
          span Watch it in action



    .col-6.flex.flex-column.text-center.mobile-col-12

      .browser.mt40.launchaco-builder-hoverable

        video(width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
          source(src="/assets/videos/home.webm" type="video/webm")
          source(src="/assets/videos/home.mp4" type="video/mp4")


  section.section
    .container-lrg
      .flex.center-horizontal.wrap.center-vertical

        .col-2.mobile-col-6
          a(href='https://www.softpedia.com/get/Office-tools/Text-editors/Helperbird.shtml', rel='noreferrer', target='_blank', title='Link to Softpedia')
            img.press-logo.launchaco-builder-hoverable(alt='Logo of Softpedia', src='/assets/images/logo/softpedia.png', loading='lazy')
        .col-2.mobile-col-6
          a(href='http://techtalk.stratford.edu/2019/11/23/show-of-11-23-2019/', rel='noreferrer', target='_blank', title='Link to stratford techtalk')
            img.press-logo.launchaco-builder-hoverable(alt='Logo of stratford techtalk', src='/assets/images/logo/logo_pentahoV2.png', loading='lazy')
        .col-2.mobile-col-6
          a(href='https://educationblog.microsoft.com/en-us/2020/01/live-from-bett-whats-new-in-edu-fostering-an-accessible-inclusive-classroom-that-works-for-all-students/', rel='noreferrer', target='_blank', title='Link to Microsoft')
            img.press-logo.launchaco-builder-hoverable(alt='Logo of Microsoft', src='/assets/images/logo/microsoft.png', loading='lazy')
        .col-2.mobile-col-6
          a(href='https://www.ucc.ie', rel='noreferrer', target='_blank', title='Link to Ucc college work.')
            img.press-logo.launchaco-builder-hoverable(alt='Logo of UCC', src='/assets/images/logo/ucc.png', loading='lazy')
        .col-2.mobile-col-6
          a(href='https://www.utoronto.ca/', rel='noreferrer', target='_blank', title='Link to Toronto college work.')
            img.press-logo.launchaco-builder-hoverable(alt='Logo of Toronto', src='/assets/images/logo/toronto.png', loading='lazy')
        .col-2.mobile-col-6
          a(href='https://www.usfca.edu/', rel='noreferrer', target='_blank', title='Link to San Francisco college')
            img.press-logo.launchaco-builder-hoverable(alt='Logo of Toronto', src='/assets/images/logo/san.png', loading='lazy')

block content
  section.red-white
    .col-12.flex.flex-column.pad30.mt40
      .mb20
        h3.heading.text-center What you can expect with Helperbird
        .container.mt40.force-flex

          .table-responsive
            table.table-striped.table.table-borderless
              thead
                tr
                  td.text-left(style="width:60%") 
                    h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.press_logos_title Features
                  td.text-center
                    img(alt='Helperbird Logo', src='/assets/images/pwa/logo/full.png',width="60px")
                  td.text-center  
                    img(alt='Helperbird Logo', src='https://cdn3.volusion.com/uwksd.uykdw/v/vspfiles/photos/TXTRWG11-2.jpg?v-cache=1495772427',width="60px")

              tbody
                each val in table_points

                  tr
                    th.text-left(scope="col") #{val.feature}
                    td.text-center()
                      if val.helperbird
                        p.pricing_icon
                          i.fas.fa-check-circle
                      else
                        p.pricing_icon
                          i.fas.fa-times-circle
                    td.text-center()
                      if val.other
                        p.pricing_icon
                          i.fas.fa-check-circle
                      else
                        p.pricing_icon
                          i.fas.fa-times-circle

