
extends ../includes/templates/compare/post.pug

block seo
  - var title = 'Snap & Read vs. Helperbird - Compare Snap & Read Alternatives &middot; Helperbird'
  - var description = 'Compare Helperbird and Snap & Read and see ways to use both together.'
  - var url = 'snap-and-read-alternative'
  - var keywords = 'Snap & Read alternative,Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'
  -
    var table_points = [{
          "helperbird": true,
          "other": false,
          "feature": "Font changer"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Dyslexia fonts"
        }, {
          "helperbird": false,
          "other": true,
          "feature": "Readability Analyzer"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Magnifier"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Word spacing"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Line height"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Letter spacing"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Reader mode"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Immersive Reader"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Screenshot tools"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Screenshot reader"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Printing tools"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Translation"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "annotation tooling"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Analyze"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Highlight paragraphs"
        }, {
          "helperbird": false,
          "other": true,
          "feature": "PDF editor"
        }, {
          "helperbird": false,
          "other": true,
          "feature": "Dynamic Text Leveling"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Volume control"
        }, {
          "helperbird": false,
          "other": true,
          "feature": "Readability Analyzer"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Extract text from images (OCR)"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Emphasize Links"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Color blindess tools"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Dyslexia ruler"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Dyslexia ruler options"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Overlay"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Overlay options"
        }, {
          "helperbird": false,
          "other": true,
          "feature": "Adblocker"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "High contrast"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Hide images"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Remove flashing images"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Reading mask"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Line focus"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Coginitive load"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Text to speech"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Text to speech options"
        }, {
          "helperbird": false,
          "other": true,
          "feature": 'Dynamic Text Leveling'
        }, {
          "helperbird": true,
          "other": false,
          "feature": "14 natural voices"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Cursor options"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Auto scrolling"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Spell check"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Blocklist"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Color features"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Highlight options"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Font options"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Sync settings & styles"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Themes"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Google doc support"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Word support"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Picture Dictionary"
        }, {
          "helperbird": false,
          "other": true,
          "feature": "Bibliographer"
        }, {
          "helperbird": false,
          "other": false,
          "feature": "Prediction"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Dictionary app"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Annotations app"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Text editor app"
        }, {
          "helperbird": true,
          "other": true,
          "feature": "Dication app"
        }, {
          "helperbird": true,
          "other": false,
          "feature": "Bookmark app"
        }, {
          "helperbird": false,
          "other": true,
          "feature": "iPad app"
        }]







block header
  include ../includes/mixins/compare

  +compare_title("Helperbird vs Snap & Read","See why over 300,000 of people choose Helperbird over Snap & Read to give them more accessibility over their work.")
  +image_showoff()




block content


  section


    .max-w-7xl.mx-auto.py-16.px-4(class='sm:py-24 sm:px-6 lg:px-8')
      .text-center
        h2.text-base.font-semibold.text-indigo-600.tracking-wide.uppercase Compare
        p.mt-1.text-4xl.font-extrabold.text-gray-900(class='sm:text-5xl sm:tracking-tight lg:text-6xl') What you can expect with Helperbird
        p.max-w-xl.mt-5.mx-auto.text-xl.text-gray-500
          | Start building for free, then add a site plan to go live. Account plans unlock additional features.


    .flex.flex-col
      .-my-2.overflow-x-auto(class='sm:-mx-6 lg:-mx-8')
        .py-2.align-middle.inline-block.min-w-full(class='sm:px-6 lg:px-8')
          .shadow.overflow-hidden.border-b.border-gray-200(class='sm:rounded-lg')
            table.w-full.divide-y.divide-gray-200
              thead.bg-gray-50
                tr
                  th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(scope='col')
                    | Features
                  th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(scope='col')
                    img(alt='Helperbird Logo', src='/assets/images/pwa/logo/full.png',width="60px")
                  th.px-6.py-3.text-left.text-xs.font-medium.text-gray-500.uppercase.tracking-wider(scope='col')
                    img(alt='Helperbird Logo', src='https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/product_image_aspect_switcher_170w/public/product-images/csm-app/snapandread-product-image.png?itok=dwFNPMNe',width="60px")

              tbody.bg-white.divide-y.divide-gray-200
                each val in table_points
                  tr
                    td.px-6.py-4.whitespace-nowrap
                      .text-gray-900 #{val.feature}
                    td.px-6.py-4.whitespace-nowrap.text-center
                      if val.helperbird
                        .text-gray-900.text-center
                          svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' width="30px" stroke='green')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z')

                      else
                        .text-gray-900.text-center
                          svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' width="30px" stroke='red')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

                    td.px-6.py-4.whitespace-nowrap.text-center
                      if val.other
                        .text-gray-900.text-center
                          svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' width="30px" stroke='green')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z')

                      else
                        .text-gray-900.text-center
                          svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' width="30px" stroke='red')
                            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

      


