doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Why Helperbird is a better alternative to Read & Write
        meta(name='keywords', content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app')
        link(rel='canonical', href='https://www.helperbird.com/compare/read-and-write-alternative')
        // Search Engine
        meta(name='description', content='If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Read & Write can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.')
        meta(name='image', content='./assets/images/favicon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color', content='#db5945')
        // Schema.org for Google
        meta(itemprop='name', content='Why Helperbird is a better alternative to Read&Write')
        meta(itemprop='description', content='If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Read & Write can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.')
        meta(itemprop='image', content='./assets/images/favicon.png')
        // Twitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Why Helperbird is a better alternative to Read&Write')
        meta(name='twitter:description', content='If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Read & Write can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.')
        meta(name='twitter:site', content='@helperbird_')
        meta(name='twitter:creator', content='RobertJGabriel')
        meta(name='twitter:image:src', content='https://www.helperbird.com/assets/images/social/twitter.png')
        meta(name='twitter:player', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        // Open Graph general (Facebook, Pinterest & Google+)
        meta(name='og:title', content='Why Helperbird is a better alternative to Read&Write')
        meta(name='og:description', content='If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Read & Write can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.')
        meta(name='og:image', content='https://www.helperbird.com/assets/images/social/facebook.png')
        meta(name='og:url', content='https://www.helperbird.com/')
        meta(name='og:site_name', content='Why Helperbird is a better alternative to Read&Write')
        meta(name='og:video', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        meta(name='og:type', content='website')
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
        meta(name='msvalidate.01', content='5A4909B55CCBDE2A927000280EAECBBC')
        link(rel="apple-touch-icon" href="touch-icon-iphone.png")
        link(rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon.png")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon.png")
        link(rel="apple-touch-icon" sizes="167x167" href="./assets/images/favicon.png")

        link(rel='manifest', href='/manifest.json')
        link(rel='shortcut icon', href='/assets/images/site/favicon.png')

    
  
        script.
            function big(imgs) {
                var expandImg = document.getElementById("expandedImg");
                var imgText = document.getElementById("imgtext");
                expandImg.src = imgs.src;
                imgText.innerHTML = imgs.alt;
                expandImg.parentElement.style.display = "block";
            }

        include ../includes/scripts.pug
        style
            include ../includes/css/website.min.css

    body.font-friendly
        .bg-light
            // 
            include ../includes/announcement.pug
            include ../includes/header.pug

            section.section_header
                .container
                    .col-12.text-center
                        h1.heading.primary-color.launchaco-builder-hoverable Why choose Helperbird over Read & Write?
                        h2.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable.black
                            | If you’re looking for customization software that changes the web to your needs then Helperbird is perfect for you. Although Read & Write can be great for text to speech, it lacks the in-depth features that are needed to make it easier for you on the web.
                        a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(href='https://www.youtube.com/watch?v=aXXRSenvTTg', onclick="captureOutboundLink('https://www.youtube.com/watch?v=aXXRSenvTTg', true); return false;", target='_blank', rel='noreferrer')
                            span  Watch in action 
                    .col-12.flex.flex-column.pad30.mt75
                        .mb20
                            h2.heading.text-center Let's compare
                            .container.mt75

                                .col-6.flex.flex-column.spread.launchaco-builder-hoverable.float_left.pricing_table.table_right
                                    .mb20
                                        img(src="https://pbs.twimg.com/profile_banners/1068526635928838147/1576441802/1500x500", alt="Helperbird logo", height="100")
                                    ul.mt20
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle                                            
                                            span.span Dyslexia Fonts
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span
                                                | Change font sizes
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span 
                                                | Screenshot
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span 
                                                | Reader mode
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span 
                                                | Google Translate 
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span 
                                                | Color blindness underline
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span 
                                                | Color blindness text stroke
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span 
                                                | Change the font color
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span Change the background color
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span  High Contrast mode
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span Dyslexia ruler
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span Tint and overlays
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span 	
                                                | Premium support
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span Dictionary app
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span Notes taking
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span Text to speech
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span Speech to text

                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-info
                                            span.span   Updated once a week

                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-info
                                            span.span  $50 a year


                                            
                                   
                                .col-6.flex.flex-column.spread.launchaco-builder-hoverable.float_left.pricing_table.table_right
                                    .mb20
                                        img(src="https://www.umt.edu/it/services/accessible_IT/stories-folder/RWG2.png",  height="100" , alt="Read & Write logo")
                                    ul.mt20
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle                                       
                                            span.span Dyslexia Fonts
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span
                                                | Change font sizes
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span 
                                                | Screenshot
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span 
                                                | Reader mode
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span 
                                                | Google Translate 
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span 
                                                | Color blindness underline
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span 
                                                | Color blindness text stroke
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span 
                                                | Change the font color
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span Change the background color
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span  High Contrast mode
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span Dyslexia ruler
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span Tint and overlays
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span 	
                                                | Premium support
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span Dictionary app
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span Notes taking
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-times-circle
                                            span.span Text to speech
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-check-circle
                                            span.span Speech to text
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-info
                                            span.span   Updated once a week
                                        li.flex.mb20
                                            p.pricing_icon
                                                i.fas.fa-info
                                            span.span  $150 a year


                    .col-12.flex.flex-column.pad30.mt75
                        .mb20
                            h2.heading.text-center Before and After
                            .container
                                .flex.flex-column.col-12
                                    .img-comp-container
                                        .img-comp-img
                                            img(src='/assets/images/home/before.png' width='500' height='300')
                                        .img-comp-img.img-comp-overlay
                                            img(src='/assets/images/home/after.png' width='500' height='300')


                        .mt40.feature-container.mt75
                            h3.h3_features Try Helperbird today!
                            p.paragraph_features It's free and learn why we are people love us!
                            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(type='button' data-toggle='modal' data-target='#downloadModal')
                                span  Download Helperbird 
                                span.its_free  Its Free!

    include ../includes/footer.pug
    




    script.
      initComparisons();