extends ../includes/templates/partners/home.pug

block seo
    - var title = 'Find a Helperbird Partner for Implementation Support.'
    - var description = 'Are you interested in partnering with Helperbird? Find the partner program that’s right for you and help your users become more productive and accessible in school and work. Learn more.'
    - var url = '/'
    - var keywords = 'The Helperbird Blog, Updates, ideas, inspiration from Helperbird, Product Updates, Company News on Helperbird., Helperbird Blog, Helperbird Education Blog '
    - 
        var partners = [{
                "text": "Sprialis consulting",
                "link": "sprialisconsulting",
                "description": "Sprialis Consulting offers expert advice, presentations, professional development programs and training and support in a broad portfolio of inclusive technology solutions.",
                "imageUrl": "https://www.sprialisconsulting.com/uploads/3/0/7/0/30701617/dsc-0063_orig.jpg"
            },
            {
                "text": "Sascha Roos MA, HDGC",
                "link": "sascharoos",
                "description": "An author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual.",
                "imageUrl": "http://dyslexiasupport.ie/wp-content/uploads/2020/03/20181006_134701-703x1024.jpg"
            }
            
             ]


block list
    include ../includes/mixins/partners

    .py-16.overflow-hidden(class='lg:py-24')
        .relative.max-w-xl.mx-auto.px-4(class='sm:px-6 lg:px-8 lg:max-w-7xl')
            svg.hidden.absolute.left-full.transform(class='lg:block -translate-x-1/2 -translate-y-1/4' width='404' height='784' fill='none' viewbox='0 0 404 784' aria-hidden='true')
                defs
                    pattern#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                        rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
                rect(width='404' height='784' fill='url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)')
            .relative.mt-12(class='lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center')
                .relative
                    h3.text-2xl.font-extrabold.text-gray-900.tracking-tight(class='sm:text-3xl')
                        | Sales & Training partners
                    p.mt-3.text-lg.text-gray-500
                        | Increase your earnings by offering your bespoke services to our end customers. Get in touch with us to learn more. 
                    p.mt-3.text-lg.text-gray-500
                        | Also every partner gets an Offical Helperbird badge.
                    dl.mt-10.space-y-10
                        .relative.my-10
                            dt
                                p.ml-16.text-lg.leading-6.font-medium.text-gray-900 Earn up to 10% from signups
                            dd.mt-2.ml-16.text-base.text-gray-500
                                | Earn up to 10% from signups you refer and be happy knowing you are helping improve their accessibility and productivity.
                        
                        .relative.my-10
                            dt
                                p.ml-16.text-lg.leading-6.font-medium.text-gray-900 Exclusive access
                            dd.mt-2.ml-16.text-base.text-gray-500
                                | Get access to our exclusive training slides, assets and even features early.
                        .relative.my-10
                            dt
                                p.ml-16.text-lg.leading-6.font-medium.text-gray-900 Get promoted.
                            dd.mt-2.ml-16.text-base.text-gray-500
                                | If users are looking for training, experts in their country we will prompt you and lead them your way.
                .mt-10.-mx-4.relative(class='lg:mt-0' aria-hidden='true')
                    svg.absolute.transform.translate-y-16(class='left-1/2 -translate-x-1/2 lg:hidden' width='784' height='404' fill='none' viewbox='0 0 784 404')
                        defs
                            pattern#ca9667ae-9f92-4be7-abcb-9e3d727f2941(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
                        rect(width='784' height='404' fill='url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)')
                    iframe(frameborder='0', height='600', inheight='0', marginwidth='0', loading="lazy" src='https://docs.google.com/forms/d/e/1FAIpQLSfewfysLVGxbL4EgQv4VrkwsACau2Nzw4XdQkGyM60ZOfzGBA/viewform?embedded=true', title='Helperbird support fourm ', width='100%') Loading...
            svg.hidden.absolute.right-full.transform.translate-y-12(class='lg:block translate-x-1/2' width='404' height='784' fill='none' viewbox='0 0 404 784' aria-hidden='true')
                defs
                    pattern#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                        rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
                rect(width='404' height='784' fill='url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)')


    .bg-indigo-50
        .max-w-7xl.mx-auto.py-12.px-4(class='sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between')
            h2.text-3xl.font-extrabold.tracking-tight.text-gray-900(class='md:text-4xl')
                span.block.text-indigo-600 Looking to hire a Helperbird partner instead?
            .mt-8.flex(class='lg:mt-0 lg:flex-shrink-0')
                .inline-flex.rounded-md.shadow
                    a.inline-flex.items-center.justify-center.px-5.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(href='#' class='hover:bg-indigo-700')
                        | Coming soon
    .relative.bg-gray-50.pt-16.pb-20.px-4(class='sm:px-6 lg:pt-24 lg:pb-28 lg:px-8')
        .absolute.inset-0
            .bg-white(class='h-1/3 sm:h-2/3')
        .relative.max-w-7xl.mx-auto
            .text-center
                h2.text-5xl.tracking-tight.font-extrabold.text-gray-900
                    | Helperbird Partners
                p.mt-3.max-w-2xl.mx-auto.text-2xl.text-gray-500(class='sm:mt-4')
                    | Our current partners and friends
            .mt-12.max-w-lg.mx-auto.grid.gap-5(class='lg:grid-cols-3 lg:max-w-none')
                each val in partners
                    +home_page_updateslist(val.text, val.link, val.description, val.imageUrl)