doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Sascha Roos MA, HDGC  | Helperbird Partner| Helperbird 
    link(href='https://www.helperbird.com/partners/sascharoos', rel='canonical')
    meta(content='About Helperbird, about, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    meta(content='Sascha Roos is a Helperbird partner, an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content='Sascha Roos is a Helperbird partner, an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Sascha Roos MA, HDGC  | Helperbird Partner| Helperbird', name='twitter:title')
    meta(content='Sascha Roos is a Helperbird partner, an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Sascha Roos MA, HDGC  | Helperbird Partner', name='og:title')
    meta(content='Sascha Roos is a Helperbird partner, an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/partners/sascharoos', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
      	      "@context": "https://schema.org",
      	      "@type": "Organization",
      	      "name": "Helperbird",
      	      "url": "https://www.helperbird.com",
      	      "sameAs": [
      	          "http://www.facebook.com/helperbird",
      	          "https://www.linkedin.com/company/19112429",
      	          "hhttps://twitter.com/roos_sascha"
      	      ]
      	   }
      
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org/",
      	   "@type": "Product",
      	   "name": "Helperbird",
      	   "image": [
      	      "https://www.helperbird.com/assets/images/pwa/144.png",
      	      "https://www.helperbird.com/assets/images/pwa/512.png",
      	      "https://www.helperbird.com/assets/images/pwa/full.png"
      	   ],
      	   "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	   "sku": "0446310786",
      	   "mpn": "925872",
      	   "brand": {
      	      "@type": "Thing",
      	      "name": "Helperbird"
      	   },
      	      "review": {
      	          "@context": "http://schema.org/",
      	          "@type": "Review",
      	          "name": "Colm Murphy",
      	          "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	          "reviewRating": {
      	              "@type": "Rating",
      	              "ratingValue": "5",
      	              "bestRating": "5",
      	              "worstRating": "1"
      	          },
      	          "datePublished": "2019-05-02",
      	          "author": {
      	              "@type": "Person",
      	              "name": "Colm Murphy"
      	          }
      	      },
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "reviewCount": "57"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "url": "https://www.helperbird.com",
      	      "priceCurrency": "USD",
      	      "price": "4.99",
      	      "priceValidUntil": "2020-11-05",
      	      "itemCondition": "https://schema.org/NewCondition",
      	      "availability": "https://schema.org/InStock",
      	      "seller": {
      	      "@type": "Organization",
      	      "name": "Helperbird"
      	      }
      	   }
      	   }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/dropdown.pug
      section.section_header
        .container.flex
          .flex.flex-column.col-6
            h1.heading.primary-color.launchaco-builder-hoverable 
                | This is  Sascha Roos 👋
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Shes an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years.
          
            .container.col-12
                .flex.wrap.center-vertical.text_center.mt40
                    .col-4.mobile-col-6
                        a(href='https://www.facebook.com/dyslexiasupport.ie/', rel='noreferrer', target='_blank', title='Link to Helperbirds Facebook')
                        i.fab.fa-facebook.icon-size-small
                    .col-4.mobile-col-6
                        a(href='hhttps://twitter.com/roos_sascha', rel='noreferrer', target='_blank', title='Link to Helperbirds Twitter')
                        i.fab.fa-twitter.icon-size-small
  
                    .col-4.mobile-col-6
                        a(href='https://www.youtube.com/channel/UC1Clq6fXVK2_hYKKi6GdtZQ',  rel='noreferrer', target='_blank', title='Link to Helperbirds Youtube')
                        i.fab.fa-youtube.icon-size-small
          
          .flex.flex-column.col-6
            img.me-photo(src='http://dyslexiasupport.ie/wp-content/uploads/2020/03/20181006_134701-703x1024.jpg', width="200", alt='Photo of Sascha Roos')
    section.section.lightblue-white
      .container
        .col-12
          h2.secondary-color.launchaco-builder-hoverable 
            b About Sascha Roos
          p.paragraph.secondary-color.mt20 Sascha is an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual. Sascha is a member of the Dyslexia Association of Ireland, the Institute of Guidance Counsellors and the Society of Authors.
          p.paragraph.secondary-color.mt20 She has had several articles on dyslexia published by national dyslexia associations, including Britain, Australia and Ireland, as well as a blog on study skills for dyslexic students for a leading study skills website.

          .mt40
            a.try_it_now.button.pink.mt10.launchaco-builder-hoverable.mr10.accent-bg.fill-white.primary-color.cta-button( href='http://dyslexiasupport.ie/about/' target="_blank"  style="margin:0;float: left; margin:0 !important;")
                span Sascha's website


      .container
        .col-12
          h2.secondary-color.launchaco-builder-hoverable 
            b Sascha Roos' book
          p.paragraph.secondary-color.mt20 Sascha’s guide book for parents, ‘At Home with Dyslexia: A Parent’s Guide to Supporting your Child’, published in August 2018 by the UK publisher Little, Brown Book Group, is a dyslexia-friendly practical guide for parents and guardians wanting to support their dyslexic child at home.

          p.paragraph.secondary-color.mt20 ‘This is by far the best resource I have found as the parent of two dyslexic children. Out of all the documentaries, websites, seminars, podcasts and of course other books I have studied trying to educate myself on how best to support my little ladies, this provides the most relevant and necessary information in the clearest format. It has been great sharing snippets of the book with the girls, especially the view points of other people with dyslexia. Thank you for a great book!’ Amazon review

          p.paragraph.secondary-color.mt20 At Home with Dyslexia empowers parents by giving them the tools and strategies to deal with dyslexia. It encourages parents to be advocates for their dyslexic child, helping them to give practical and emotional support for the entirety of their child’s school years.

          p.paragraph.secondary-color.mt20 Central to this guide is the language of acceptance and celebration, emphasising a learning ‘difference’ rather than a ‘disability’. Interwoven throughout the book are stories from dyslexic individuals in their own words, who give authentic insights into the challenges, solutions and achievements as a result of their dyslexia. The illustrations, by Danielle Sheehy, are inspired by their heartfelt words.
          .mt40
            a.try_it_now.button.pink.mt10.launchaco-builder-hoverable.mr10.accent-bg.fill-white.primary-color.cta-button(href='https://www.amazon.co.uk/dp/1472140656/ref=cm_sw_r_cp_ep_dp_cYdHAbQ4ZZRQ1' target="_blank"  style="margin:0;float: left; margin:0 !important;")
                span Order


      .container
        .col-12
          h2.secondary-color.launchaco-builder-hoverable 
            b Try Helperbird for 30 days for free
          .mt40
            button.try_it_now.button.pink.mt10.launchaco-builder-hoverable.mr10.accent-bg.fill-white.primary-color.cta-button( href='https://www.amazon.co.uk/dp/1472140656/ref=cm_sw_r_cp_ep_dp_cYdHAbQ4ZZRQ1' target="_blank" style="margin:0;float: left; margin:0 !important;")
                span Start trial



 

 
    section.section.press-logos#featuredin-1
      .container.text-center
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb75.press_logos_title Trusted by people at the world’s most innovative organisations
      .container-lrg
        .flex.center-horizontal.wrap.center-vertical
          .col-2.mobile-col-6
            a(href='https://www.producthunt.com/posts/helperbird-3-0', rel='noreferrer', target='_blank', title='Link to Producthunt')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Product hunt', src='/assets/images/logo/producthunt.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.nexus-education.com/made-dyslexia-i-encourage-train/', rel='noreferrer', target='_blank', title='Link to Nexus')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of nexus', src='/assets/images/logo/nexus.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.softpedia.com/get/Office-tools/Text-editors/Helperbird.shtml', rel='noreferrer', target='_blank', title='Link to Softpedia')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Softpedia', src='/assets/images/logo/softpedia.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://optocrypto.com/dyslexics-helperbird-chrome-extension/', rel='noreferrer', target='_blank', title='Link to Optologo')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Softpedia', src='/assets/images/logo/optologo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.smashingmagazine.com/2019/11/black-friday-2019/', rel='noreferrer', target='_blank', title='Link to Producthunt')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of smashing-magazine-logo', src='/assets/images/logo/smashing-magazine-logo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.indiehackers.com/product/helperbird/made-it-onto-the-indiehackers-podcast--LuJYrgVZ12TsNIDCFOU', rel='noreferrer', target='_blank', title='Link to Nexus')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of indiehackers', src='/assets/images/logo/indiehackers_logo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='http://techtalk.stratford.edu/2019/11/23/show-of-11-23-2019/', rel='noreferrer', target='_blank', title='Link to stratford techtalk')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of stratford techtalk', src='/assets/images/logo/logo_pentahoV2.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://educationblog.microsoft.com/en-us/2020/01/live-from-bett-whats-new-in-edu-fostering-an-accessible-inclusive-classroom-that-works-for-all-students/', rel='noreferrer', target='_blank', title='Link to Microsoft')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Microsoft', src='/assets/images/logo/microsoft.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.ucc.ie', rel='noreferrer', target='_blank', title='Link to Ucc college work.')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of UCC', src='/assets/images/logo/ucc.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.utoronto.ca/', rel='noreferrer', target='_blank', title='Link to Toronto college work.')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Toronto', src='/assets/images/logo/toronto.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.usfca.edu/', rel='noreferrer', target='_blank', title='Link to San Francisco college')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Toronto', src='/assets/images/logo/san.png', loading='lazy')
    include ../includes/layout/footer.pug