doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Sascha Roos MA, HDGC  | Helperbird Partner| Helperbird 
    link(href='https://www.helperbird.com/partners/sascharoos', rel='canonical')
    meta(content='About Helperbird, about, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    meta(content='Sascha Roos is a Helperbird partner, an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content='Sascha Roos is a Helperbird partner, an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Sascha Roos MA, HDGC  | Helperbird Partner| Helperbird', name='twitter:title')
    meta(content='Sascha Roos is a Helperbird partner, an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Sascha Roos MA, HDGC  | Helperbird Partner', name='og:title')
    meta(content='Sascha Roos is a Helperbird partner, an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/partners/sascharoos', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
      	      "@context": "https://schema.org",
      	      "@type": "Organization",
      	      "name": "Helperbird",
      	      "url": "https://www.helperbird.com",
      	      "sameAs": [
      	          "http://www.facebook.com/helperbird",
      	          "https://www.linkedin.com/company/19112429",
      	          "hhttps://twitter.com/roos_sascha"
      	      ]
      	   }
      
    script(type='application/ld+json').
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016","gtin12": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')

 



       

        
        








  body(:data-theme="light").bg-white

    include ../includes/layout/navigation.pug

    .relative.py-16.bg-gray-50.overflow-hidden
      .hidden(class='lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full')
        .relative.h-full.text-lg.max-w-prose.mx-auto(aria-hidden='true')
          svg.absolute.top-12.left-full.transform.translate-x-32(width='404' height='384' fill='none' viewbox='0 0 404 384')
            defs
              pattern#74b3fd99-0a6f-4271-bef2-e80eeafdf357(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='384' fill='url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)')
          svg.absolute.right-full.transform.-translate-x-32(class='top-1/2 -translate-y-1/2' width='404' height='384' fill='none' viewbox='0 0 404 384')
            defs
              pattern#f210dbf6-a58d-4871-961e-36d5016a0f49(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='384' fill='url(#f210dbf6-a58d-4871-961e-36d5016a0f49)')
          svg.absolute.bottom-12.left-full.transform.translate-x-32(width='404' height='384' fill='none' viewbox='0 0 404 384')
            defs
              pattern#d3eb07ae-5182-43e6-857d-35c643af9034(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='384' fill='url(#d3eb07ae-5182-43e6-857d-35c643af9034)')
      .relative.px-4(class='sm:px-6 lg:px-8')
        .text-lg.max-w-prose.mx-auto
          h1
            span.block.text-base.text-center.text-indigo-600.font-semibold.tracking-wide.uppercase Helperbird partner
            span.mt-2.block.text-3xl.text-center.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl')  Sascha Roos

        .mt-6.prose.prose-indigo.prose-lg.text-gray-500.mx-auto


          h2 About 
          p 
            | Sascha is an author and dyslexia specialist supporting people with the challenges of dyslexia for over 15 years. She has a well-established private practice, and an approach that encourages the strengths and abilities of the dyslexic individual. Sascha is a member of the Dyslexia Association of Ireland, the Institute of Guidance Counsellors and the Society of Authors.
            | She has had several articles on dyslexia published by national dyslexia associations, including Britain, Australia and Ireland, as well as a blog on study skills for dyslexic students for a leading study skills website.


          figure
            img.w-full.rounded-lg(loading="lazy" src='http://dyslexiasupport.ie/wp-content/uploads/2020/03/20181006_134701-703x1024.jpg' alt='Photo of Helperbirds founder Robert James dancing.' height='73')
            figcaption Photo of Sascha.

          h2 Intro

          p
            |  Sascha’s guide book for parents, ‘At Home with Dyslexia: A Parent’s Guide to Supporting your Child’, published in August 2018 by the UK publisher Little, Brown Book Group, is a dyslexia-friendly practical guide for parents and guardians wanting to support their dyslexic child at home.
          p
            | ‘This is by far the best resource I have found as the parent of two dyslexic children. Out of all the documentaries, websites, seminars, podcasts and of course other books I have studied trying to educate myself on how best to support my little ladies, this provides the most relevant and necessary information in the clearest format. It has been great sharing snippets of the book with the girls, especially the view points of other people with dyslexia. Thank you for a great book!’ Amazon review
          p
            | At Home with Dyslexia empowers parents by giving them the tools and strategies to deal with dyslexia. It encourages parents to be advocates for their dyslexic child, helping them to give practical and emotional support for the entirety of their child’s school years.
          p
            | Central to this guide is the language of acceptance and celebration, emphasising a learning ‘difference’ rather than a ‘disability’. Interwoven throughout the book are stories from dyslexic individuals in their own words, who give authentic insights into the challenges, solutions and achievements as a result of their dyslexia. The illustrations, by Danielle Sheehy, are inspired by their heartfelt words.
          h2 Contact information
          .mt-10(class='sm:flex sm:justify-center lg:justify-start')
            .rounded-md.shadow
              a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(style="color: white;" href='http://dyslexiasupport.ie/about/' target="_blank"   class='hover:bg-indigo-700 md:py-4 md:text-lg md:px-10')
                | Vist website
            .mt-3.rounded-md.shadow(class='sm:mt-0 sm:ml-3')
              a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-indigo-600.bg-gray-50(href='https://www.amazon.co.uk/dp/1472140656/ref=cm_sw_r_cp_ep_dp_cYdHAbQ4ZZRQ1' target="_blank"  class='hover:bg-gray-50 md:py-4 md:text-lg md:px-10')
                | Order book



    include ../includes/sections/cta_2.pug

    include ../includes/layout/footer.pug