- 
  var features = [
  
    {

    "title": "Immersive Reader",
    "description": "Select text, right-click, and Microsoft's Immersive Reader will help you read it. Including Google docs, Pdfs & ebooks.",
    "link": "/features/immersive-reader-for-chrome",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>'
    },

    {

    "title": "Adjust letters and words",
    "description": "Adjust letter and word spacing, font size and line-height according to your needs.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>',
    "link": "/features/adjust-letters-and-words"
    },

    {

    "title": "Full document editor",
    "description": "Create, edit and delete documents in a full editor. Export and import to Google docs, Markdown and more.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/></svg>',
    "link": "/features/notes"
    },

    {

    "title": "PDF support",
    "description": "Use immersive reader, text to speech and more on PDF files.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>',

    },


    {

    "title": "Google docs support",
    "description": "Change fonts, immersive reader, text to speech and more on any Google docs file.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>',

    },


    {        

    "title": "Extract text from images. (OCR)",
    "description": "A powerful optical character recognition (OCR) extension to capture and convert images, videos, Pdf's  to text.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>',
    "link": "/features/optical-character-recognition", 
    },

    {


    "title": " Read it later",
    "description": "Helperbirds Bookmark Manager that helps with Organization, Syncing across browsers and platforms.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>',
    "link": "/features/bookmarks",
    },


    {

    "title": "Annotate web pages",
    "description": "Highlight or annotate web pages documents, pdfs, ebooks and more content to improve engagement and study.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" /></svg>',
    "link": "/features/annotation"
    },

    {


    "title": " Analyze",
    "description": "Quickly find the number of characters, letters and breakdowns of all sentences on a webpage.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>',
    "link": "/features/analyze",
    },


    {


    "title": "Reading guide",
    "description": "Reading ruler, useful when you are reading long texts on the web.",
    "icon": '     <svg xmlns="http://www.w3.org/2000/svg" class="absolute w-6 h-6 stroke-current" viewBox="0 0 24 24" fill="none"> <path d="M4 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 11H2V7h2v4h1V7h2v4h1V7h2v4h1V7h2v4h1V7V7H14V7H16V11H17V7V7H19H19V11V11H20H20H20V7h2v10z"/></svg>',

    },
    {


    "title": "Line Focus",
    "description": "Quickly find the number of characters, letters and breakdowns of all sentences on a webpage.",
    "icon": '     <svg xmlns="http://www.w3.org/2000/svg" class="absolute w-6 h-6 stroke-current" viewBox="0 0 24 24" fill="none"> <path d="M4 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 11H2V7h2v4h1V7h2v4h1V7h2v4h1V7h2v4h1V7V7H14V7H16V11H17V7V7H19H19V11V11H20H20H20V7h2v10z"/></svg>',

    },
    {

    "title": " Shortcuts",
    "description": "Access Helperbird features with keyboard shortcuts.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" /></svg>',
    "link": "/features/shortcuts",
    }


  ]





.bg-white
  .max-w-7xl.mx-auto.py-16.px-4(class='sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8')
    div
      h3.mt-2.text-3xl.font-extrabold.text-gray-900 All-in-one platform
      p.mt-4.text-lg.text-gray-500
        | Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla nec.

      .mt-8.border-t.border-gray-200.pt-6
        blockquote
          div
            p.text-base.text-gray-500
              | &ldquo;I have been trying to find ways to make my child happy to go to school again, and someone recommended helperbird. She loves helperbird, and she is now much happier about the idea of returning to school. I think this might be a game changer, as they do so much web based schoolwork and research. She says &quot;they really understand people with dyslexia.&rdquo;
          footer.mt-3
            .flex.items-center.space-x-3
              .flex-shrink-0
                img.h-6.w-6.rounded-full(loading='lazy' src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif' alt='Photo of Helperbirds user')
              .text-base.font-medium.text-gray-700 Cris Townley, Partent


    .mt-12(class='lg:mt-0 lg:col-span-2')
      dl.space-y-10.grid.grid-cols-2.gap-x-6.gap-y-10(class='sm:space-y-0')
        each val in features      
          .relative
            dt
              // Heroicon name: outline/check
              span!=  val.icon
              p.ml-9.text-lg.leading-6.font-medium.text-gray-900
                | #{val.title}
            dd.mt-2.ml-9.text-base.text-gray-500
              | #{val.description}
            a.mt-8.bg-gray-800.border.border-gray-800.rounded-md.py-2.text-sm.font-semibold.text-white.text-center.mt-2.ml-9.inline-flex.px-4.py-2(href= val.link class='hover:bg-gray-900')
              | More