- 
  var features = [


    {
    "title": "Dyslexia Fonts",
    "description": "Change the font of the page. Apply OpenDyslexic and 15 plus different fonts to any web page.",
    "icon": '    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="absolute w-6 h-6 fill-current"> <path d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z" ></path></svg>',
    "link": "/features/specialised-dyslexic-fonts"
    },





    {
    "title": "Dyslexia Ruler",
    "description": "Our Dyslexia ruler helps to follow the text on the screen easier and block out distracting content. It can be any colour to improve the accessibility of the text your reading. ",
    "icon": '     <svg xmlns="http://www.w3.org/2000/svg" class="absolute w-6 h-6 stroke-current" viewBox="0 0 24 24" fill="none"> <path d="M4 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 11H2V7h2v4h1V7h2v4h1V7h2v4h1V7h2v4h1V7V7H14V7H16V11H17V7V7H19H19V11V11H20H20H20V7h2v10z"/></svg>',
    "link": "/features/ruler"
    },







    {


    "title": "Styles & Themes",
    "description": "Change background, highlight & font colors to help with focus and improve reading.",
    "link": "/features/styles",
    'icon': ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"/></svg>'
    },
    {
    "title": "Reader Mode",
    "description": "Reader Mode removes ads and distractions from any webpage with complete customization.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="absolute w-6 h-6 stroke-current" > <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/> </svg>',
    "link": "/features/reader-mode-for-chrome-and-firefox"
    },
    {
    "title": "Overlays",
    "description": "A colour overlay is available to help those with Irlen Syndrome or those who dislike a web page's base colour but don't want to change it entirely.",
    "link": "/features/overlay",
    "icon": ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"/></svg>'
    },




    {



    "title": "Color blindness",
    "description": "Color blindness features including Emphasize Links and stroke text",
    "link": "/features/color-blindness",
    "icon": ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/></svg>'
    },


    {


    "title": "Dictionary",
    "description": "Quickly look up word definitions with audio pronunciation as you browse the web, including synonyms, Etymology and related words.",
    "link": "/features/dictionary",
    "icon": ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"/></svg>'
    },

    {
      
    "title": "Google docs & Pdf support",
    "description": "Helperbird supports Google docs & Pdf.",
    "link": "/features/immersive-reader-for-chrome",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#fff" viewBox="0 0 24 24" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"></path></svg>'
    },
    {

    "title": "Immersive Reader",
    "description": "Select text, right-click, and Microsoft's Immersive Reader will help you read it. Including Google docs, Pdfs & ebooks.",
    "link": "/features/immersive-reader-for-chrome",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="absolute w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" /></svg>'
    }


  ]





// This example requires Tailwind CSS v2.0+
.bg-white
  .max-w-7xl.mx-auto.py-16.px-4(class='sm:py-24 sm:px-6 lg:px-8')
    .text-center

      h2.mt-1.text-4xl.font-extrabold.text-gray-900(class='sm:text-5xl sm:tracking-tight lg:text-5xl') Features at a glance
      p.max-w-2xl.mt-5.mx-auto.text-xl.text-gray-500
        | Some of Helperbirds popular features at glance. We have over 39 features.
        | Helperbird is more than just a accessibility tool — it’s a better way to be more productive. Users that switch to Helperbird are more productive and better organized thanks to our accessibility features. They’re far more efficient than before. Here’s how Helperbird makes it happen.

.bg-white
  .max-w-7xl.mx-auto.py-16.px-4(class='sm:px-6 lg:py-24 lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8')
    div
      h3.mt-2.text-3xl.font-extrabold.text-gray-900 Popular features
      p.mt-4.text-lg.text-gray-500
        | This month's most popular features. Perfect for studying, research and making the web more accessible.
      a.mt-8.bg-gray-800.border.border-gray-800.rounded-md.py-2.text-sm.font-semibold.text-white.text-center.mt-2.inline-flex.px-4.py-2.mr-16(href='features' class='hover:bg-gray-900')
        | See all features
      a.mt-8.bg-gray-800.border.border-gray-800.rounded-md.py-2.text-sm.font-semibold.text-white.text-center.mt-2.inline-flex.px-4.py-2(href='pricing' class='hover:bg-gray-900')
        | Try for free
      .mt-8.border-t.border-gray-200.pt-6
        blockquote
          div
            p.text-base.text-gray-500
              | &ldquo;Helperbird is one of the most helpful tools I've ever used. It has so many great features that not many other apps or software have. The free version can be installed and stay forever on your browser. Other companies don't always give you access for free or give access for free forever. When you do get access to the Pro version or other paid plans, you expand your opportunity to read and stay focused better. One of the other great things about Helperbird is their support service. They have a video for every single feature that you can use. They are simple and helpful videos that make the learning process a lot easier. In addition, they have great live chat support. They are super nice and helpful. They always encourage people to give suggestions on how to improve Helperbird. Why is this important? It shows they really care about people with disabilities or people in general.&rdquo;
          footer.mt-3
            .flex.items-center.space-x-3
              .flex-shrink-0
                img.h-6.w-6.rounded-full(loading='lazy' src='https://lh6.googleusercontent.com/-KbeqMf1Vjcc/AAAAAAAAAAI/AAAAAAAAFDc/PSYBOF9i2mw/s40-c-k/photo.jpg' alt='Photo of Helperbirds user')
              .text-base.font-medium.text-gray-700 Alex R., Users


    .mt-12(class='lg:mt-0 lg:col-span-2')
      dl.space-y-10.grid.grid-cols-2.gap-x-6.gap-y-10(class='sm:space-y-0')
        each val in features      
          .relative
            dt
              // Heroicon name: outline/check
              span!=  val.icon
              p.ml-9.text-lg.leading-6.font-medium.text-gray-900
                | #{val.title}
            dd.mt-2.ml-9.text-base.text-gray-500
              | #{val.description}
            a.mt-8.bg-gray-800.border.border-gray-800.rounded-md.py-2.text-sm.font-semibold.text-white.text-center.mt-2.ml-9.inline-flex.px-4.py-2(href= val.link class='hover:bg-gray-900')
              | More