
extends ../includes/templates/support/post.pug

block seo
  - var title = 'How to cancel my Helperbird Pro subscription.'
  - var description = 'Discover how to cancel your Helperbird Pro subscription.'
  - var url = 'how-to-cancel-my-helperbird-pro-subscription'
  - var keywords = 'Opendyselxic,Lexend'




block guide
  include ../includes/mixins/support

  +support_title("How to cancel my Helperbird Pro subscription","Discover how to cancel your Helperbird Pro subscription.")
 

  +section('Steps',
    [
    'First, you will need to have a Helperbird Pro account. As we use your email, that you`re signed into your browser as your login.',
    'To change your email, right-click on the Helperbird icon.',
    'An option will appear saying Options. Click it',
    'A new tab with the Helperbird settings page will open.',
    'Scroll down to the "Subscription" card.',
    'You will then see a button called Manage. Click it.',
    'This will bring up the Stripe settings where you can click update. Click the cancel subscription button. That`s it.',
    ],'aXXRSenvTTg'
  )

