
extends ../includes/templates/support/post.pug

block seo
  - var title = 'How to use Immersive reader in Google Chrome & Firefox and Microsoft Edge'
  - var description = 'How to use Immersive reader in Google Chrome & Firefox and Microsoft Edge using Helperbird for free.'
  - var url = 'how-to-use-immersive-reader-in-google-chrome-firefox-edge'
  - var keywords = 'Immersive reader ,Lexend'

block content
  include ../includes/mixins/support
  .flex.flex-column.col-12.mobile-col-12.center-vertical.text-center.mb40

    +support_title("How to use Immersive reader in Google Chrome ",'Guides')
    +support_description("How to use Immersive reader in Google Chrome & Firefox and Microsoft Edge using Helperbird for free.")
    +download_button()


block guide
  include ../includes/mixins/support

  +section('Steps',
    [
    'Visit the website you want to use the Immersive reader on.',
    'Highlight the text you want use in Immersive reader.',
    'A pop menu will show live below.'
    ]
  )

  +support_image('Helperbird support menu','/assets/images/guide/menu_immersive_reader.png')

  +section('Steps',
    [
    'Click the Immersive reader icon.',
    'Immersive reader will now load. Thats everything.'
    ]
    )
