
extends ../includes/templates/support/post.pug

block seo
  - var title = 'How to use Reader Mode in Google Chrome & Firefox and Microsoft Edge'
  - var description = 'How to use Reader Mode in Google Chrome & Firefox and Microsoft Edge using Helperbird for free.'
  - var url = 'how-to-use-reader-mode-in-google-chrome-firefox-edge'
  - var keywords = 'reader mode,Lexend'

block content
  include ../includes/mixins/support
  .flex.flex-column.col-12.mobile-col-12.center-vertical.text-center.mb40

    +support_title("How to use Reader Mode",'Guides')
    +support_description("How to use Reader Mode in Google Chrome & Firefox and Microsoft Edge using Helperbird for free.")
    +download_button()


block guide
  include ../includes/mixins/support

  +section('Steps',
    [
    'Visit the website you want to use the Reader mode feature on.',
    'Open Helperbird.',
    'Under the "Content Adjustments", you will see a Reader Mode option',
    'Click "Reader Mode"',
    'A dropdown menu will show.',
    'Clicking the switch to on, will enable Reader Mode and will remove all the un needed content and ads on the page. ',
    'To change the theme to a dark mode, just click the dropdown menu and select the theme you want.',
    'To turn it off, just click the toggle switch until it says off.',
    ]
)
