
extends ../includes/templates/support/post.pug

block seo
  - var title = 'How to change the font on any website using Helperbird'
  - var description = 'How to change the font on any website using Helperbird. Including Dyslexic fonts, Lexend, OpenDyslexic and more.'
  - var url = 'how-to-change-fonts-of-any-page'
  - var keywords = 'Opendyselxic,Lexend'

block content
  include ../includes/mixins/support
  .flex.flex-column.col-12.mobile-col-12.center-vertical.text-center.mb40

    +support_title("How to change the font on any website",'Guides')
    +support_description("How to change the font on any website using Helperbird. Including Dyslexic fonts, Lexend, OpenDyslexic and more.")
    +download_button()


block guide
    include ../includes/mixins/support

    +section('Steps',
        [
        'Open Helperbird.',
        'Under the "Text Adjustments", you will see a Font option',
        'Click "Font"',
        'A dropdown menu will show.',
        'Clicking the switch to on, will change the font on the website to option you select.',
        'To change the font to a different one, just click the dropdown menu and select the font you want.',
        'To turn it off, just click the toggle  switch until it says off.',
        ]
    )

