
extends ../includes/templates/support/post.pug

block seo
  - var title = 'How to use Immersive reader in Google Chrome & Firefox and Microsoft Edge'
  - var description = 'How to use Immersive reader in Google Chrome & Firefox and Microsoft Edge using Helperbird for free.'
  - var url = 'how-to-use-immersive-reader-in-google-chrome-firefox-edge'
  - var keywords = 'Immersive reader ,Lexend'



block guide
  include ../includes/mixins/support
  +support_title("How to use Immersive reader in Google Chrome ","How to use Immersive reader in Google Chrome & Firefox and Microsoft Edge using Helperbird for free.")

  +section('Steps',
    [
    'Visit the website you want to use the Immersive reader on.',
    'Highlight the text you want use in Immersive reader.',
    'A pop menu will show live below.'
    ]
  )


  +section('Steps',
    [
    'Click the Immersive reader icon.',
    'Immersive reader will now load. Thats everything.'
    ]
    )
