
extends ../includes/templates/support/post.pug

block seo
  - var title = 'How to login into Helperbird'
  - var description = 'How to login into Helperbird on Chrome, Edge & Firefox.'
  - var url = 'how-to-login-into-helperbird'
  - var keywords = 'login into Helperbird on Chrome, Edge & Firefox.'


block guide
  include ../includes/mixins/support
  +support_title("How to login into Helperbird","To login into Helperbird and unlock Helperbird Pro, we use the email that you are signed into your browser with.")

  +section('When you have a Google or Microsft account, follow these steps:',
    [
    'Open Chrome or Edge.',
    'In the top right, click the button with your name or People icon.',
    'Click "Sign in to Chrome" or "Sign in to Edge".',
    "Sign in with your Google/Microsoft Account.",
    "To customize your sync settings, click the More icon and then Settings and then Advanced sync settings. You can choose what information to share across other devices where you're signed in to Chrome or Edge.",
    "That's it, we use the email that you just signed into as."
    ]
)
