
extends ../includes/templates/support/post.pug

block seo
  - var title = 'How to change the font on any website using Helperbird'
  - var description = 'How to change the font on any website using Helperbird. Including Dyslexic fonts, Lexend, OpenDyslexic and more.'
  - var url = 'how-to-change-fonts-of-any-page'
  - var keywords = 'Opendyselxic,Lexend'





block guide
  include ../includes/mixins/support

  +support_title("How to change the font on any website","How to change the font on any website using Helperbird. Including Dyslexic fonts, Lexend, OpenDyslexic and more.")

  +section('Steps',
    [
    'Open Helperbird.',
    ]
  )

  +support_image('Click the first book icon in the toolbar to load immersive reader.','/assets/images/guide/font-changer/open-extension.png')


  +section('',
    [
    'Look for the font option',
    'Clicking the switch to on, will change the font on the website to option you select.',
    ]
  )

  +support_image('Click the first book icon in the toolbar to load immersive reader.','/assets/images/guide/font-changer/font-changer-turn-to-on.png')

  +section('',
    [
    'To change the font to a different one, just click the dropdown menu and select the font you want.',
    'To turn it off, just click the toggle  switch until it says off.',
    ]
  )
  +support_image('Click the first book icon in the toolbar to load immersive reader.','/assets/images/guide/font-changer/other-fonts.png')

