doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title How to use Helperbird Pro for Chrome, Edge & Firefox | Helperbird
    link(href='https://www.helperbird.com/support/how-to-use-helperbird-pro', rel='canonical')
    meta(content='Get help from the Helperbird support team,  Helperbird support team, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    meta(content='If you want to learn the best way to use Helperbird, this is the place. These short videos will have you up and running in making the web more accessible.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='How to use Helperbird Pro for Chrome, Edge & Firefox | Helperbird', itemprop='name')
    meta(content='If you want to learn the best way to use Helperbird, this is the place. These short videos will have you up and running in making the web more accessible.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='How to use Helperbird Pro for Chrome, Edge & Firefox | Helperbird', name='twitter:title')
    meta(content='If you want to learn the best way to use Helperbird, this is the place. These short videos will have you up and running in making the web more accessible.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='How to use Helperbird Pro for Chrome, Edge & Firefox | Helperbird', name='og:title')
    meta(content='If you want to learn the best way to use Helperbird, this is the place. These short videos will have you up and running in making the web more accessible.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/support/how-to-use-helperbird-pro', name='og:url')
    meta(content='How to use Helperbird Pro for Chrome, Edge & Firefox | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "url": "https://www.helperbird.com",
        "telephone": "5012936819",
        "sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "15 Markay Street",
          "addressLocality": "Toronto",
          "postalCode": "M3L2C6",
          "addressCountry": "Canada"
        }
      }
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016","gtin12": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')

  body(:data-theme="light").bg-white

    include ../includes/layout/navigation.pug


    // This example requires Tailwind CSS v2.0+
    .relative.bg-white-50.overflow-hidden
      .hidden(class='sm:block sm:absolute sm:inset-y-0 sm:h-full sm:w-full' aria-hidden='true')
        .relative.h-full.max-w-7xl.mx-auto
          svg.absolute.right-full.transform(class='translate-y-1/4 translate-x-1/4 lg:translate-x-1/2' width='404' height='784' fill='none' viewbox='0 0 404 784')
            defs
              pattern#f210dbf6-a58d-4871-961e-36d5016a0f49(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='784' fill='url(#f210dbf6-a58d-4871-961e-36d5016a0f49)')
          svg.absolute.left-full.transform(class='-translate-y-3/4 -translate-x-1/4 md:-translate-y-1/2 lg:-translate-x-1/2' width='404' height='784' fill='none' viewbox='0 0 404 784')
            defs
              pattern#5d0dd344-b041-4d26-bec4-8d33ea57ec9b(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='784' fill='url(#5d0dd344-b041-4d26-bec4-8d33ea57ec9b)')


      main.mt-16.mx-auto.max-w-7xl.px-4(class='sm:mt-24')
        .text-center
          h1.text-4xl.tracking-tight.font-extrabold.text-gray-900(class='sm:text-5xl md:text-6xl')
            span.block(class='xl:inline') How to use 
            span.block.text-indigo-600(class='xl:inline') Helperbird Pro
          p.mt-3.max-w-md.mx-auto.text-base.text-gray-500(class='sm:text-lg md:mt-5 md:text-xl md:max-w-3xl')
            | If you want to learn the best way to use Helperbird Pro, this is the place. These short videos will have you up and running in making the web more accessible.
          .mt-5.max-w-md.mx-auto(class='sm:flex sm:justify-center md:mt-8')
            .rounded-md.shadow
              a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(href='#guides' class='hover:bg-indigo-700 md:py-4 md:text-lg md:px-10')
                | Video guides
            .mt-3.rounded-md.shadow(class='sm:mt-0 sm:ml-3')
              a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-indigo-600.bg-white(href='/pricing' class='hover:bg-gray-50 md:py-4 md:text-lg md:px-10')
                | Pricing




        

    include ../includes/sections/support_videos.pug
    include ../includes/sections/questions.pug
    include ../includes/layout/footer.pug