doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title How to deploy Helperbird for Chrome through the Google Admin Console  - Helperbird for Google Chrome, Firefox & Edge
        meta(name='keywords', content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app')
        link(rel='canonical', href='https://www.helperbird.com/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console')
        // Search Engine
        meta(name='description', content='Learn how to install Helperbird in serveal computers at once.')
        meta(name='image', content='./assets/images/favicon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color', content='#db5945')
        // Schema.org for Google
        meta(itemprop='name', content='How to deploy Helperbird for Chrome through the Google Admin Console  - Helperbird for Google Chrome, Firefox & Edge')
        meta(itemprop='description', content='Learn how to install Helperbird in serveal computers at once.')
        meta(itemprop='image', content='./assets/images/favicon.png')
        // Twitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='How to deploy Helperbird for Chrome through the Google Admin Console  - Helperbird for Google Chrome, Firefox & Edge')
        meta(name='twitter:description', content='Learn how to install Helperbird in serveal computers at once.')
        meta(name='twitter:site', content='@helperbird_')
        meta(name='twitter:creator', content='RobertJGabriel')
        meta(name='twitter:image:src', content='https://www.helperbird.com/assets/images/social/twitter.png')
        meta(name='twitter:player', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        // Open Graph general (Facebook, Pinterest & Google+)
        meta(name='og:title', content='How to deploy Helperbird for Chrome through the Google Admin Console  - Helperbird for Google Chrome, Firefox & Edge')
        meta(name='og:description', content='Learn how to install Helperbird in serveal computers at once.')
        meta(name='og:image', content='https://www.helperbird.com/assets/images/social/facebook.png')
        meta(name='og:url', content='https://www.helperbird.com/')
        meta(name='og:site_name', content='How to deploy Helperbird for Chrome through the Google Admin Console  - Helperbird for Google Chrome, Firefox & Edge')
        meta(name='og:video', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        meta(name='og:type', content='website')
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
        meta(name='msvalidate.01', content='5A4909B55CCBDE2A927000280EAECBBC')

        link(rel='manifest', href='/manifest.json')
        link(rel='shortcut icon', href='/assets/images/site/favicon.png')
        
    
  
        include ../includes/scripts.pug
        style
            include ../includes/css/website.min.css

    body.font-friendly
        .lightblue-gradient
            include ../includes/header.pug

            section.section_header
                .container
                    .col-12.text-center
                        h1.heading.primary-color.launchaco-builder-hoverable How to deploy Helperbird for Chrome through the Google Admin Console
                        h2.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable
                            | A step by step guide      
                    .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_right.features_table_override.padding_40.pad40.white-background
                        .mb20
                            p.paragraph_features Click Device management in the Google Admin Console.
                            img.launchaco-builder-hoverable.width_100(src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_1.png', alt='Step one of how to install Helperbird on G Suite', loading="lazy" )
                            p.paragraph_features Select Chrome management.
                            img.launchaco-builder-hoverable.width_100(src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_2.png', alt='Step two of how to install Helperbird on G Suite', loading="lazy" )
                            p.paragraph_features In Chrome Management, select User & browser settings.
                            img.launchaco-builder-hoverable.width_100(src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_3.png', alt='Step three of how to install Helperbird on G Suite', loading="lazy" )
                            p.paragraph_features Under Organizations choose the OU (Organizational Unit) you would like to deploy extensions to. 
                            p.paragraph_features Scroll down to Apps and Extensions and locate Force-installed Apps and Extensions.
                            p.paragraph_features Click the Manage force-installed apps  link.
                            img.launchaco-builder-hoverable.width_100(src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_4.png', alt='Step four of how to install Helperbird on G Suite',loading="lazy" )
                            p.paragraph_features  In Force-installed Apps and Extensions, click the Chrome Web Store button. 
                            img.launchaco-builder-hoverable.width_100(src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_5.png', alt='Step five  of how to install Helperbird on G Suite',loading="lazy" )
                            p.paragraph_features  Type the extension or app name (Ie Helperbird) that you're deploying into the search box and press Enter. The app or extension listing will appear immediately below the search box.
                            p.paragraph_features Click on the Add link to add the app or extension to the force-install list. 
                            img.launchaco-builder-hoverable.width_100(src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_6.png', alt='Step six of how to install Helperbird on G Suite', loading="lazy" )
                            img.launchaco-builder-hoverable.width_100(src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_7.png', alt='Step sevem of how to install Helperbird on G Suite',loading="lazy" )
                            img.launchaco-builder-hoverable.width_100(src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_8.png', alt='Step eight of how to install Helperbird on G Suite',loading="lazy" )
                            p.paragraph_features Click SAVE.   
                            img.launchaco-builder-hoverable.width_100(src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_9.png', alt='Step nine of how to install Helperbird on G Suite',loading="lazy" )
                            p.paragraph_features After the force-install window has closed, click SAVE at the bottom of the page to publish the app or extension to all of your selected users. The app or extension will now be deployed to your users.
    include ../includes/footer.pug
    




