<nav class="sticky top-0 z-50"  style="background-color: rgb(246, 245, 231)">
	<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
		<div class="relative flex h-20 items-center justify-between">
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<!-- Mobile menu button-->
				<button
					type="button"
					class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-black focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
					aria-controls="mobile-menu"
					aria-expanded="false"
					@click="handleMobileMenu"
				>
					<span class="sr-only">Open main menu</span>

					<svg
						class="block h-6 w-6"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true"
						v-if="showMobileMenu === false"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h16"
						/>
					</svg>

					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="hidden h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						v-if="showMobileMenu === true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M6 18L18 6M6 6l12 12"
						/>
					</svg>
				</button>
			</div>
			<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex flex-shrink-0 items-center">
					<a href="/" class="mr-5 flex-shrink-0">
						<img
							class="block h-12 w-auto lg:hidden"
							src="/assets/images/pwa/logo/full.png"
							alt="Helperbird logo" />
						<img
							class="hidden h-12 w-auto lg:block"
							src="/assets/images/pwa/logo/full.png"
							alt="Helperbird logo"
					/></a>
				</div>
				<div class="hidden sm:ml-6 sm:block">
					<div class="flex space-x-4 text-black">
						<!-- Current: "bg-gray-900 text-black", Default: "text-gray-300 hover:bg-gray-700 hover:text-black" -->
						<a
							href="/about/"
							class="btn btn-ghost text-base font-medium  no-underline decoration-pink-500 hover:underline hover:decoration-wavy"
							aria-current="page"
							>About</a
						>

						<a href="/features/" class="btn btn-ghost text-base font-medium  no-underline decoration-pink-500 hover:underline hover:decoration-wavy"
							>Features</a
						>
						<div data-tip="No credit card required." class="tooltip tooltip-bottom tooltip-open tooltip-secondary" data-medium-editor-element="true" aria-multiline="true" data-medium-editor-editor-index="1" medium-editor-index="43c56b0d-dd21-af9d-a15f-19c395a076c7">
						<a href="/pricing/" class="btn btn-ghost text-base font-medium  no-underline decoration-pink-500 hover:underline hover:decoration-wavy"
							>Pricing</a
						>
						</div>
						
						<div class="dropdown-end dropdown">
							<button
								role="button"
								class="btn btn-ghost gap-2 text-base font-medium  no-underline decoration-pink-500 hover:underline hover:decoration-wavy"
							>
								Compare

								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-5 w-5"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
									stroke-width="2"
								>
									<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
								</svg>
							</button>
							<div class="dropdown-content menu rounded-box mt-4 w-96 bg-base-100 p-2 shadow">
								<div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
									<div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
										<a
											href="/compare/snap-and-read-alternative/"
											class="hover: -m-3 flex items-start rounded-lg bg-white p-3 transition duration-150 ease-in-out"
										>
											<img
												src="/assets/images/compare/menu/snap-and-read.png"
alt="Snap and reads logo, which looks like a compass"
												class="btn btn-ghost btn-circle h-6 border-transparent"
											/>
											<div class="ml-4">
												<p class="text-base font-medium text-gray-900">Snap &amp; Read</p>
												<p class="mt-1 text-sm text-black">
													See how Helperbird compares to Snap &amp; Read.
												</p>
											</div>
										</a>
										<a
											href="/compare/immersive-reader-by-microsoft-alternative/"
											class="hover: -m-3 flex items-start rounded-lg bg-white p-3 transition duration-150 ease-in-out"
										>
											<img
												src="/assets/images/compare/menu/microsoft.png"
alt="Microsoft windows logo, with four different colors"
												class="btn btn-ghost btn-circle h-6 border-transparent"
											/>
											<div class="ml-4">
												<p class="text-base font-medium text-gray-900">Immersive Reader</p>
												<p class="mt-1 text-sm text-black">
													See how Helperbird compares to Immersive reader.
												</p>
											</div>
										</a>
										<a
											href="/compare/read-and-write-alternative/"
											class="hover: -m-3 flex items-start rounded-lg bg-white p-3 transition duration-150 ease-in-out"
										>
											<img
												src="/assets/images/compare/menu/read-and-write.png"
alt="Read & Writes logo with a cartoon icon"
												class="btn btn-ghost btn-circle h-6 border-transparent"
											/>
											<div class="ml-4">
												<p class="text-base font-medium text-gray-900">Read &amp; Write</p>
												<p class="mt-1 text-sm text-black">
													See how Helperbird compares to Read &amp; Write.
												</p>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="dropdown-end dropdown">
							<button
								role="button"
								class="btn btn-ghost gap-2 text-base font-medium  no-underline decoration-pink-500 hover:underline hover:decoration-wavy"
							>
								Support
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-5 w-5"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
									stroke-width="2"
								>
									<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
								</svg>
							</button>
							<div class="dropdown-content menu rounded-box mt-4 w-96 bg-base-100 p-2 shadow">
								<div class="overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5">
									<div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
										<a
											href="/help/"
											class="hover: -m-3 flex items-start rounded-lg bg-white p-3 transition duration-150 ease-in-out"
										>
											<div
												class="btn btn-circle border-orange-600 bg-orange-600 hover:border-orange-700 hover:bg-orange-700"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="none"
													viewBox="0 0 24 24"
													stroke="currentColor"
													class="h-6 w-6 flex-shrink-0"
												>
													<path
														stroke-linecap="round"
														stroke-linejoin="round"
														stroke-width="2"
														d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
													></path>
												</svg>
											</div>
											<div class="ml-4">
												<p class="text-base font-medium text-gray-900">Help guides</p>
												<p class="mt-1 text-sm text-black">
													Get step by step guides and support on every part of Helperbird
												</p>
											</div>
										</a>
										<a
											href="/guides/"
											class="hover: -m-3 flex items-start rounded-lg bg-white p-3 transition duration-150 ease-in-out"
										>
											<div
												class="btn btn-circle border-slate-600 bg-slate-600 hover:border-slate-700 hover:bg-slate-700"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="none"
													viewBox="0 0 24 24"
													stroke="currentColor"
													class="h-6 w-6 flex-shrink-0"
												>
													<path
														stroke-linecap="round"
														stroke-linejoin="round"
														stroke-width="2"
														d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"
													></path>
												</svg>
											</div>
											<div class="ml-4">
												<p class="text-base font-medium text-gray-900">Video tutorials</p>
												<p class="mt-1 text-sm text-black">
													Brilliant video tutorials to help you get started.
												</p>
											</div>
										</a>
										<a
											href="/reviews/"
											class="hover: -m-3 flex items-start rounded-lg bg-white p-3 transition duration-150 ease-in-out"
										>
											<div
												class="btn btn-circle border-green-600 bg-green-600 hover:border-green-700 hover:bg-green-700"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="none"
													viewBox="0 0 24 24"
													stroke="currentColor"
													class="h-6 w-6 flex-shrink-0"
												>
													<path
														stroke-linecap="round"
														stroke-linejoin="round"
														stroke-width="2"
														d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
													></path>
												</svg>
											</div>
											<div class="ml-4">
												<p class="text-base font-medium text-gray-900">Testimonials</p>
												<p class="mt-1 text-sm text-black">
													Discover what our customers are saying about Helperbird.
												</p>
											</div>
										</a>
										<a
											href="https://www.youtube.com/helperbird"
											target="_blank"
											rel="noopener noreferrer"
											class="hover: -m-3 flex items-start rounded-lg bg-white p-3 transition duration-150 ease-in-out"
										>
											<div
												class="btn btn-circle border-pink-600 bg-pink-600 hover:border-pink-700 hover:bg-pink-700"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="none"
													viewBox="0 0 24 24"
													stroke="currentColor"
													class="h-6 w-6 flex-shrink-0"
												>
													<path
														stroke-linecap="round"
														stroke-linejoin="round"
														stroke-width="2"
														d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
													></path>
													<path
														stroke-linecap="round"
														stroke-linejoin="round"
														stroke-width="2"
														d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
													></path>
												</svg>
											</div>
											<div class="ml-4">
												<p class="text-base font-medium text-gray-900">Youtube channel</p>
												<p class="mt-1 text-sm text-black">
													Discover our youtube channel to get the latest news and updates.
												</p>
											</div>
										</a>
										<a
											href="/support/"
											class="hover: -m-3 flex items-start rounded-lg bg-white p-3 transition duration-150 ease-in-out"
										>
											<div
												class="btn btn-circle border-blue-600 bg-blue-600 hover:border-blue-700 hover:bg-blue-700"
											>
												<svg
													xmlns="http://www.w3.org/2000/svg"
													fill="none"
													viewBox="0 0 24 24"
													stroke="currentColor"
													class="h-6 w-6 flex-shrink-0"
												>
													<path
														stroke-linecap="round"
														stroke-linejoin="round"
														stroke-width="2"
														d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"
													></path>
												</svg>
											</div>
											<div class="ml-4">
												<p class="text-base font-medium text-gray-900">Support</p>
												<p class="mt-1 text-sm text-black">
													Our support team is here to help you out.
												</p>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
				@click="handleModal"
			>
				<button class="btn-base btn btn-secondary">
					<span class="sr-only">Try for free</span>
					Try for free
				</button>
			</div>
		</div>
	</div>

	<!-- Mobile menu, show/hide based on menu state. -->
	<div class="sm:hidden" id="mobile-menu" v-if="showMobileMenu === true">
		<div class="space-y-1 px-2 pt-2 pb-3">
			<!-- Current: "bg-gray-900 text-black", Default: "text-gray-300 hover:bg-gray-700 hover:text-black" -->
			<a
				href="/about/"
				class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-black"
				aria-current="page"
				>About</a
			>

			<a
				href="/features/"
				class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-black"
				>Features</a
			>

			<a
				href="/pricing/"
				class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-black"
				>Pricing</a
			>

			<a
				href="/compare/"
				class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-black"
				>Compare</a
			>

			<a
				href="/support/"
				class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-black"
				>Support</a
			>
		</div>
	</div>
</nav>
