<!-- Sale Banner -->
<section aria-labelledby="sale-banner" class="flex bg-gray-900 px-6 py-2.5 sm:px-3.5">
	<div class="leading-relaxed font-sans mx-auto text-center text-base text-white">
	  <a
		href="https://payments.coffeeandfun.com/b/fZe8yvfqA4qE7Ha6oU?prefilled_promo_code=blackfriday"
		title="Check Helperbird's pricing page"
		target="_blank"
		class="font-bold text-white hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
	  >
		<span id="sale-banner">Sale: Get Helperbird Pro for $15</span>
	  </a>
	</div>
</section>
  

  

<nav class="sticky top-0 z-50 bg-base-helperbird">
	<div class="mx-auto max-w-7xl px-6">
	  <div class="relative flex h-20 items-center justify-between">
		<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
		  <!-- Mobile menu button -->
		  <button
			type="button"
			class="inline-flex items-center justify-center rounded-md p-2 text-black hover:text-black focus:ring-white"
			aria-controls="mobile-menu"
			:aria-expanded="showMobileMenu ? 'true' : 'false'"
			@click="handleMobileMenu"
			aria-label="Toggle mobile menu"
		  >
			<span class="sr-only">Open Menu</span>
			<svg
			  v-if="!showMobileMenu"
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 -960 960 960"
			  class="h-8 w-8"
			  fill="currentColor"
			>
			  <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
			</svg>
			<svg
			  v-else
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 -960 960 960"
			  class="h-8 w-8"
			  fill="currentColor"
			>
			  <path
				d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
			  />
			</svg>
		  </button>
		</div>
		<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
		  <div class="flex flex-shrink-0 items-center">
			<a href="/" title="Visit Helperbird Homepage" class="mr-5 flex-shrink-0">
			  <span class="sr-only">Helperbird</span>
			  <img
				class="h-12 w-auto"
				src="/assets/images/pwa/logo/full.png"
				alt="Helperbird logo: Stylized owl with large yellow eyes and a beige face, against a green background."
			  />
			</a>
		  </div>
		  <div class="hidden sm:ml-6 sm:block">
			<nav class="flex space-x-4 text-black">
			  <ul class="flex">
				<li>
				  <a
					href="/about/"
					title="Learn about Helperbird's history and mission."
					class="btn btn-link text-base font-medium no-underline text-blue-500 hover:text-blue-700"
					>About</a
				  >
				</li>
				<li class="relative dropdown dropdown-end dropdown-hover">
				  <a
					href="/features/"
					title="Discover Helperbird features."
					class="btn btn-link text-base font-medium no-underline text-blue-500 hover:text-blue-700"
					>Features</a
				  >
				</li>
				<li>
				  <a
					href="/pricing/"
					title="Helperbird pricing."
					class="btn btn-link text-base font-medium no-underline text-blue-500 hover:text-blue-700"
					>Pricing</a
				  >
				</li>
				<li class="relative dropdown dropdown-end dropdown-hover">
				  <a
					href="/support/"
					class="btn btn-link text-base font-medium no-underline text-blue-500 hover:text-blue-700"
					title="Helperbird's support page."
					aria-haspopup="true"
					aria-expanded="false"
				  >
					Support
					<svg
					  xmlns="http://www.w3.org/2000/svg"
					  class="h-6 w-6"
					  viewBox="0 -960 960 960"
					  fill="currentColor"
					>
					  <path d="M480-360 280-560h400L480-360Z" />
					</svg>
				  </a>
				  <div
					class="dropdown-content menu absolute left-1/2 z-10 flex w-screen max-w-max -translate-x-1/2 px-4"
					role="menu"
					aria-hidden="true"
					aria-labelledby="dropdown-menu-button"
				  >
















				  <div class="w-screen max-w-md flex-auto overflow-hidden rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-gray-900/5">
					<div class="p-4">
					  <a href="/help" class="group relative flex gap-x-6  border-2 border-white rounded-xl p-4 hover:border-2 hover:border-stone-200 " aria-label="Help Guides" title="Learn how to use every feature of Helperbird">
						<div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-xl bg-gray-50 ">
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-6 w-6 " fill="currentColor">
							<path d="M480-160q-48-38-104-59t-116-21q-42 0-82.5 11T100-198q-21 11-40.5-1T40-234v-482q0-11 5.5-21T62-752q46-24 96-36t102-12q58 0 113.5 15T480-740v484q51-32 107-48t113-16q36 0 70.5 6t69.5 18v-480q15 5 29.5 10.5T898-752q11 5 16.5 15t5.5 21v482q0 23-19.5 35t-40.5 1q-37-20-77.5-31T700-240q-60 0-116 21t-104 59Zm80-200v-380l200-200v400L560-360Zm-160 65v-396q-33-14-68.5-21.5T260-720q-37 0-72 7t-68 21v397q35-13 69.5-19t70.5-6q36 0 70.5 6t69.5 19Z"/>
						  </svg>
						</div>
						<div>
						  <span class="font-semibold text-gray-900 group-hover:text-blue-600">Help Guides</span>
						  <p class="mt-1 text-gray-700">Learn how to use every feature of Helperbird.</p>
						</div>
					  </a>
				  
					  <a href="/support/" class="group relative flex gap-x-6 border-2 border-white rounded-xl p-4 hover:border-2 hover:border-stone-200 " aria-label="Support" title="Get help from our world-class support team">
						<div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-xl bg-gray-50 ">
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-6 w-6 " fill="currentColor">
							<path d="M440-120v-80h320v-284q0-117-81.5-198.5T480-764q-117 0-198.5 81.5T200-484v244h-40q-33 0-56.5-23.5T80-320v-80q0-21 10.5-39.5T120-469l3-53q8-68 39.5-126t79-101q47.5-43 109-67T480-840q68 0 129 24t109 66.5Q766-707 797-649t40 126l3 52q19 9 29.5 27t10.5 38v92q0 20-10.5 38T840-249v49q0 33-23.5 56.5T760-120H440Zm-80-280q-17 0-28.5-11.5T320-440q0-17 11.5-28.5T360-480q17 0 28.5 11.5T400-440q0 17-11.5 28.5T360-400Zm240 0q-17 0-28.5-11.5T560-440q0-17 11.5-28.5T600-480q17 0 28.5 11.5T640-440q0 17-11.5 28.5T600-400Zm-359-62q-7-106 64-182t177-76q89 0 156.5 56.5T720-519q-91-1-167.5-49T435-698q-16 80-67.5 142.5T241-462Z"/>
						  </svg>
						</div>
						<div>
						  <span class="font-semibold text-gray-900 group-hover:text-blue-600">Support</span>
						  <p class="mt-1 text-gray-700">Get help from our world-class support team.</p>
						</div>
					  </a>
				  
					  <a href="/security/" class="group relative flex gap-x-6  border-2 border-white rounded-xl p-4 hover:border-2 hover:border-stone-200 " aria-label="Security" title="We will never sell, store, or consume any user data">
						<div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-xl bg-gray-50 ">
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-6 w-6 " fill="currentColor">
							<path d="M480-80q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q97-30 162-118.5T718-480H480v-315l-240 90v207q0 7 2 18h238v316Z"/>
						  </svg>
						</div>
						<div>
						  <span class="font-semibold text-gray-900 group-hover:text-blue-600">Security</span>
						  <p class="mt-1 text-gray-700">We will never sell, store, or consume any user data.</p>
						</div>
					  </a>
				  
					  <a href="/compare/" class="group relative flex gap-x-6  border-2 border-white rounded-xl p-4 hover:border-2 hover:border-stone-200 " aria-label="Compare" title="See how Helperbird compares to others">
						<div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-xl bg-gray-50 ">
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-6 w-6 " fill="currentColor">
							<path d="M400-40v-80H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h200v-80h80v880h-80ZM200-240h200v-240L200-240Zm360 120v-360l200 240v-520H560v-80h200q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H560Z"/>
						  </svg>
						</div>
						<div>
						  <span class="font-semibold text-gray-900 group-hover:text-blue-600">Compare</span>
						  <p class="mt-1 text-gray-700">See how Helperbird compares to others.</p>
						</div>
					  </a>
				  
					  <a href="/tutorials/" class="group relative flex gap-x-6 border-2 border-white  rounded-xl p-4 hover:border-2 hover:border-stone-200 " aria-label="Video Tutorials" title="Watch Helperbird features in action">
						<div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-xl bg-gray-50 ">
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-6 w-6 " fill="currentColor">
							<path d="M160-80q-33 0-56.5-23.5T80-160v-400q0-33 23.5-56.5T160-640h640q33 0 56.5 23.5T880-560v400q0 33-23.5 56.5T800-80H160Zm0-80h640v-400H160v400Zm240-40 240-160-240-160v320ZM160-680v-80h640v80H160Zm120-120v-80h400v80H280ZM160-160v-400 400Z"/>
						  </svg>
						</div>
						<div>
						  <span class="font-semibold text-gray-900 group-hover:text-blue-600">Video Tutorials</span>
						  <p class="mt-1 text-gray-700">Watch Helperbird features in action.</p>
						</div>
					  </a>
				  
					  <a href="/sales/" class="group relative flex gap-x-6 border-2 border-white rounded-xl p-4 hover:border-2 hover:border-stone-200 " aria-label="Contact the Helperbird sales" title="Contact the Helperbird sales">
						<div class="mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-xl bg-gray-50 ">
						  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-6 w-6 " fill="currentColor">
							<path d="M760-400v-260L560-800 360-660v60h-80v-100l280-200 280 200v300h-80ZM560-800Zm20 160h40v-40h-40v40Zm-80 0h40v-40h-40v40Zm80 80h40v-40h-40v40Zm-80 0h40v-40h-40v40ZM280-220l278 76 238-74q-5-9-14.5-15.5T760-240H558q-27 0-43-2t-33-8l-93-31 22-78 81 27q17 5 40 8t68 4q0-11-6.5-21T578-354l-234-86h-64v220ZM40-80v-440h304q7 0 14 1.5t13 3.5l235 87q33 12 53.5 42t20.5 66h80q50 0 85 33t35 87v40L560-60l-280-78v58H40Zm80-80h80v-280h-80v280Z"/>
						  </svg>
						</div>
						<div>
						  <span class="font-semibold text-gray-900 group-hover:text-blue-600">Contact Sales</span>
						  <p class="mt-1 text-gray-700">Contact the Helperbird sales</p>
						</div>
					  </a>
					</div>
				  </div>
				  
				  












































		
				  </div>
				</li>
			  </ul>
			</nav>
		  </div>
		</div>
  
		<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
		  <button
			onclick="download_modal.showModal()"
			class="btn btn-secondary shadow-md"
		  >
			<span class="sr-only">Try for free</span>
			Download Helperbird!
		  </button>
		</div>
	  </div>
	</div>
  
	<!-- Mobile menu, show/hide based on menu state. -->
	<div
	  class="sm:hidden px-8"
	  id="mobile-menu"
	  v-if="showMobileMenu"
	>
	  <div class="card space-y-1 bg-white shadow-md px-2 pb-3 pt-2">
		<a
		  href="/about/"
		  class="block rounded-md bg-white px-3 py-2 text-lg font-medium text-black hover:bg-black hover:text-white"
		  aria-current="page"
		  aria-label="Learn about Helperbird"
		>
		  About
		</a>
		<a
		  href="/features/"
		  class="block rounded-md bg-white px-3 py-2 text-lg font-medium text-black hover:bg-black hover:text-white"
		  aria-label="Discover Helperbird features"
		>
		  Features
		</a>
		<a
		  href="/pricing/"
		  class="block rounded-md bg-white px-3 py-2 text-lg font-medium text-black hover:bg-black hover:text-white"
		  aria-label="Helperbird pricing"
		>
		  Pricing
		</a>
		<a
		  href="/compare/"
		  class="block rounded-md bg-white px-3 py-2 text-lg font-medium text-black hover:bg-black hover:text-white"
		  aria-label="Compare Helperbird"
		>
		  Compare
		</a>
		<a
		  href="/support/"
		  class="block rounded-md bg-white px-3 py-2 text-lg font-medium text-black hover:bg-black hover:text-white"
		  aria-label="Helperbird support"
		>
		  Support
		</a>
	  </div>
	</div>
  </nav>
  
