<header
class="
    inset-x-0
    top-0
    z-50
    w-full
    transition
    duration-200
    ease-in-out
    border-b border-transparent
    bg-neutral
    text-neutral-content
  
"
role="navigation "
id="nav"
>
<div class="mx-auto space-x-1 navbar max-w-none">
    <div class="flex-none"><!----></div>
    <div class="flex items-center flex-none">
        <a
            href="/"
            aria-current="page"
            class="px-2 flex-0 btn btn-ghost md:px-4 active"
            aria-label="Homepage"
        >
            <img
                src="/assets/images/pwa/logo/full.png"
                alt="Helperbirds owl logo"
                class="logo"
                width="40"
            />
            <div class="inline-block text-xl ml-2">
                <span class="text-neutral-content">Helperbird</span>
            </div>
        </a>
    </div>

    <div class="flex-1"></div>

    <div title="About tab" class="dropdown dropdown-end hidden sm:block">
        <a tabindex="0" href="/about/" class="m-1 btn-ghost btn">
            <span class="md:inline"> About </span>
        </a>
    </div>

    <div title="Compare tab" class="dropdown dropdown-end hidden sm:block">
        <a tabindex="0" href="/features/" class="m-1 btn-ghost btn" @click="handleFeatures">
            <span class="md:inline"> Features </span>
        </a>
    </div>

    <div title="Compare tab" class="dropdown dropdown-end hidden sm:block">
        <div data-tip="Sale on now " class="tooltip tooltip-open tooltip-secondary tooltip-bottom">
            <a tabindex="0" href="/pricing/" class="m-1 btn-ghost btn">
                <span class="md:inline"> Pricing </span>
            </a>
        </div>
    </div>
    <div title="Compare tab" class="dropdown dropdown-end hidden sm:block">
        <button tabindex="0" class="m-1 btn-ghost btn" @click="handleCommon">
            <span class="md:inline"> Compare </span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewbox="0 0 1792 1792"
                class="inline-block w-4 h-4 ml-1 fill-current"
            >
                <path
                    d="M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z"
                ></path>
            </svg>
        </button>
        <div
            class="
                hidden
                absolute
                top-full
                right-0
                bg-white
                rounded-lg
                shadow-md
                font-normal
                text-sm text-gray-900
                divide-y divide-gray-100
                w-screen
                max-w-md
                z-50
            "
            v-bind:style="openCompare === true ?'display:block !important;' : 'display: none !important;'"
        >
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    <a
                        href="/compare/snap-and-read-alternative/"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/chart-bar -->
                        <img
                            src="https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/product_image_aspect_switcher_170w/public/product-images/csm-app/snapandread-product-image.png?itok=dwFNPMNe"
                            class="flex-shrink-0 h-6 w-6"
                        />
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Snap & Read</p>
                            <p class="mt-1 text-sm text-gray-500">
                                See how Helperbird compares to Snap & Read.
                            </p>
                        </div>
                    </a>

                    <a
                        href="/compare/immersive-reader-by-microsoft-alternative/"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/cursor-click -->
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/480px-Microsoft_logo.svg.png"
                            class="flex-shrink-0 h-6 w-6"
                        />
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Immersive Reader</p>
                            <p class="mt-1 text-sm text-gray-500">
                                See how Helperbird compares to Immersive reader.
                            </p>
                        </div>
                    </a>

                    <a
                        href="/compare/read-and-write-alternative/"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/shield-check -->
                        <img
                            src="https://cdn3.volusion.com/uwksd.uykdw/v/vspfiles/photos/TXTRWG11-2.jpg?v-cache=1495772427"
                            class="flex-shrink-0 h-6 w-6"
                        />
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Read & Write</p>
                            <p class="mt-1 text-sm text-gray-500">
                                See how Helperbird compares to Read & Write.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div title="Support tab" class="dropdown dropdown-end hidden sm:block">
        <button tabindex="0" class="m-1 btn-ghost btn" @click="handleSupport">
            <span class="md:inline"> Support </span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewbox="0 0 1792 1792"
                class="inline-block w-4 h-4 ml-1 fill-current"
            >
                <path
                    d="M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z"
                ></path>
            </svg>
        </button>

        <div
            class="
                hidden
                absolute
                top-full
                right-0
                bg-white
                rounded-lg
                shadow-md
                font-normal
                text-sm text-gray-900
                divide-y divide-gray-100
                w-screen
                max-w-md
                z-50
            "
            v-bind:style="showSupport === true ?'display:block !important;' : 'display: none !important;'"
        >
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    <a
                        href="/help"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/chart-bar -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                            ></path>
                        </svg>
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Help guides</p>
                            <p class="mt-1 text-sm text-gray-500">
                                Get step by step guides and support on every part of Helperbird
                            </p>
                        </div>
                    </a>

                    <a
                        href="/guides"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/cursor-click -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"
                            />
                        </svg>

                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Video tutorials</p>
                            <p class="mt-1 text-sm text-gray-500">
                                Brilliant video tutorials to help you get started.
                            </p>
                        </div>
                    </a>

                    <a
                        href="/reviews"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/shield-check -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
                            />
                        </svg>
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Testimonials</p>
                            <p class="mt-1 text-sm text-gray-500">
                                Discover what our customers are saying about Helperbird.
                            </p>
                        </div>
                    </a>

                    <a
                        href="https://www.youtube.com/helperbird"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/view-grid -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
                            />
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                        </svg>
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Youtube channel</p>
                            <p class="mt-1 text-sm text-gray-500">
                                Discover our youtube channel to get the latest news and updates.
                            </p>
                        </div>
                    </a>

                    <a
                        href="/support"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/refresh -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"
                            />
                        </svg>
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Support</p>
                            <p class="mt-1 text-sm text-gray-500">
                                Our support team is here to help you out.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div title="Github ↗︎" class="items-center flex-none hidden sm:flex">
        <button class="btn btn-secondary" @click="handleModal">Try for Free</button>


				<!-- This example requires Tailwind CSS v2.0+-->
				{% include common/modal.html %} 
			</div>

    </div>

    <div class="flex sm:hidden -my-1 items-center justify-center">
        <button class="btn btn-ghost" @click="handleMobileMenu">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                />
            </svg>
        </button>

        <div
            class="
                hidden
                absolute
                top-full
                right-0
                bg-white
                rounded-lg
                shadow-md
                font-normal
                text-sm text-gray-900
                divide-y divide-gray-100
                w-screen
                max-w-md
                z-50
            "
            v-bind:style="closeMenu === true ?'display:block !important;' : 'display: none !important;'"
        >
            <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                    <a
                        href="/about/"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/chart-bar -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                            />
                        </svg>

                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">About</p>
                            <p class="mt-1 text-sm text-gray-500">
                                Learn about Helperbirds history and our goal to make the web more accessible
                                to all.
                            </p>
                        </div>
                    </a>

                    <a
                        href="/features/"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/chart-bar -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                            />
                        </svg>
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Features</p>
                            <p class="mt-1 text-sm text-gray-500">
                                Helperbird has over 32 features. Discover how they make websites easier to
                                use.
                            </p>
                        </div>
                    </a>

                    <a
                        href="/pricing/"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/chart-bar -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                        </svg>
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Pricing</p>
                            <p class="mt-1 text-sm text-gray-500">
                                Helperbird is the most affordable accessiblity tool on the web with a plan for
                                every budget.
                            </p>
                        </div>
                    </a>

                    <a
                        href="/compare/"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/chart-bar -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                            />
                        </svg>
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Compare</p>
                            <p class="mt-1 text-sm text-gray-500">
                                See how Helperbird compares to other accessibility tools.
                            </p>
                        </div>
                    </a>

                    <a
                        href="/support/"
                        class="
                            -m-3
                            p-3
                            flex
                            items-start
                            rounded-lg
                            hover:bg-gray-50
                            transition
                            ease-in-out
                            duration-150
                        "
                    >
                        <!-- Heroicon name: outline/chart-bar -->

                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="flex-shrink-0 h-6 w-6 text-indigo-600"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"
                            />
                        </svg>
                        <div class="ml-4">
                            <p class="text-base font-medium text-gray-900">Support</p>
                            <p class="mt-1 text-sm text-gray-500">
                                Get in touch with Helperbird award winning support team.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</header>