<!-- Sale Banner -->
<section aria-labelledby="sale-banner" class="flex bg-gray-900 px-6 py-2.5 sm:px-3.5">
	<div class="mx-auto text-center font-sans text-base leading-relaxed text-white">
		<a
			href="https://payments.coffeeandfun.com/b/fZe8yvfqA4qE7Ha6oU?prefilled_promo_code=blackfriday"
			title="Check Helperbird's pricing page"
			target="_blank"
			class="font-bold text-white hover:text-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
		>
			<span id="sale-banner">Sale: Get Helperbird Pro for $15</span>
		</a>
	</div>
</section>

<nav class="sticky top-0 z-50 bg-base-helperbird">
	<div class="mx-auto max-w-7xl px-6">
		<div class="relative flex h-20 items-center justify-between">
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<!-- Mobile menu button -->
				<button
					type="button"
					class="inline-flex items-center justify-center rounded-md p-2 text-black hover:text-black focus:ring-white"
					aria-controls="mobile-menu"

					onclick="my_modal_site_menu.showModal()"
					aria-label="Toggle mobile menu"
				>
					<span class="sr-only">Open Menu</span>
					<svg
			
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 -960 960 960"
						class="h-8 w-8"
						fill="currentColor"
					>
						<path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
					</svg>
					
				</button>
			</div>
			<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex flex-shrink-0 items-center">
					<a href="/" title="Visit Helperbird Homepage" class="flex-shrink-0">
						<span class="sr-only">Helperbird</span>
						<img
							class="h-12 w-auto "
							src="/assets/images/pwa/logo/full.png"
							alt="Helperbird logo: Stylized owl with large yellow eyes and a beige face, against a green background."
						/>
					</a>
				</div>
				<div class="hidden sm:ml-6 sm:block">
					<nav class="flex space-x-4 text-black">
						<ul class="flex">
							
							<li class="dropdown dropdown-end dropdown-hover relative">
								<a
									href="/features/"
									title="Discover Helperbird features."
									class="btn btn-link text-lg font-medium text-blue-500 no-underline hover:text-blue-700"
									>Features</a
								>
							</li>
							<li>
								<a
									href="/pricing/"
									title="Helperbird pricing."
									class="btn btn-link text-lg font-medium text-blue-500 no-underline hover:text-blue-700"
									>Pricing</a
								>
							</li>
							<li>
								<a
									href="/support/"
									class="btn btn-link text-lg font-medium text-blue-500 no-underline hover:text-blue-700"
									title="Helperbird's support page."
									aria-haspopup="true"
									aria-expanded="false"
								>
									Support
								
								</a>
				
							</li>

							<li>
								<button
									onclick="my_modal_site_menu.showModal()"
									class="btn btn-link text-lg font-medium text-blue-500 no-underline hover:text-blue-700"
									title="Show more Options"
									aria-haspopup="true"
									aria-expanded="false"
								>
									More
								
							</button>
				
							</li>

						</ul>
					</nav>
				</div>
			</div>

			<div
				class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
			>
			<button onclick="download_modal.showModal()" class="btn btn-secondary shadow-md" aria-label="Download Helperbird" title="Download Helperbird">
			
				Download
			</button>
			</div>
		</div>
	</div>


</nav>
