<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" theme="light">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<title>{{ title }} - Helperbird</title>
		{% bundledCss %}
		<script>
			if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('/service-worker.js');
			}
		</script>

		<link href="https://www.helperbird.com{{ page.url | safe }}" rel="canonical" />
		<meta content="{{ description }}" name="description" />
		<meta content="{{ keywords }}" name="keywords" />

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta content="/assets/images/favicon.png" name="image" />
		<meta content="#5046e4" name="theme-color" />
		<meta content="Helperbird" itemprop="name" />
		<meta content="{{ description }}" itemprop="description" />
		<meta content="/assets/images/favicon.png" itemprop="image" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@helperbird" />
		<meta name="twitter:creator" content="@robertjgabriel" />
		<meta name="twitter:title" content="{{ title }} - Helperbird" />
		<meta property="twitter:domain" content="helperbird.com" />

		<meta property="twitter:url" content="https://www.helperbird.com{{ page.url | safe }}" />
		<meta name="twitter:description" content="{{ description }}" />

		<meta
			name="twitter:image:alt"
			content="Helperbird promo art with text saying visit Helperbird"
		/>
		<meta name="twitter:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />

		<meta content="https://www.youtube.com/watch?v={{ youtubeId}}" name="twitter:player" />

		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ title }} - Helperbird" />
		<meta property="og:description" content="{{ description }}" />
		<meta property="og:url" content="https://www.helperbird.com{{ page.url | safe }}" />
		<meta property="og:site_name" content="Helperbird" />
		<meta property="og:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />
		<meta property="og:video" content="https://www.youtube.com/watch?v={{ youtubeId}}" />

		<link href="/assets/images/social/favicon.png" rel="shortcut icon" />
		<link href="touch-icon-iphone.png" rel="apple-touch-icon" />
		<link href="/assets/images/favicon.png" rel="apple-touch-icon" sizes="152x152" />
		<link href="/assets/images/favicon.png" rel="apple-touch-icon" sizes="180x180" />
		<link href="/assets/images/favicon.png" rel="apple-touch-icon" sizes="167x167" />
		<meta content="5A7359B55CCBDE2A927000280EAECBBC" name="msvalidate.01" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "SoftwareApplication",
				"name": "Helperbird",
				"operatingSystem": ["Chrome", "Windows", "MacOs"],
				"applicationCategory": "https://schema.org/UtilitiesApplication",
				"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": "4.7",
					"ratingCount": "92"
				},
				"offers": {
					"@type": "Offer",
					"price": "6.99",
					"priceCurrency": "USD"
				}
			}
		</script>
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "Helperbird",
				"url": "https://www.helperbird.com",
				"sameAs": [
					"http://www.facebook.com/helperbird",
					"https://www.linkedin.com/company/19112429",
					"https://twitter.com/helperbird",
					"https://www.youtube.com/helperbird"
				]
			}
		</script>
		<script type="application/ld+json">
			{
									        "@context": "https://schema.org/",
									        "@type": "Product",
									        "name": "Helperbird",
									        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
									        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
											"brand": {
												"@type": "Brand",
												"name": "Helperbird"
											  },
									        "sku": "helperbird2016",
									        "gtin": "helperbird2016",
									        "offers": {
									            "@type": "Offer",
									            "url": "https://www.helperbird.com/pricing/",
									            "priceCurrency": "USD",
									            "price": "40",
									            "priceValidUntil": "2022-12-31",
									            "availability": "https://schema.org/OnlineOnly",
									            "itemCondition": "https://schema.org/NewCondition"
									        },
									        "aggregateRating": {
									            "@type": "AggregateRating",
									            "ratingValue": "5",
									            "bestRating": "5",
									            "worstRating": "1",
									            "ratingCount": "2",
									            "reviewCount": "2"
									        },
									        "review": [
			{%- for review in reviews.reviews -%}
			    {
			    						            "@type": "Review",
			    						            "name": "{{ review.name }}",
			    						            "reviewBody": "
			    {{ review.review }}",
			    						            "reviewRating": {
			    						                "@type": "Rating",
			    						                "ratingValue": "5",
			    						                "bestRating": "5",
			    						                "worstRating": "1"
			    						            },
			    						            "datePublished": "2021-09-10",
			    						            "author": {
			    						                "@type": "Person",
			    						                "name": "{{ review.name }}"
			    						            },
			    						            "publisher": {
			    						                "@type": "Organization",
			    						                "name": "App store"
			    						            }
			    						        },
			{%- endfor -%}
			{
									            "@type": "Review",
									            "name": "Robert James Gabriel",
									            "reviewBody": "I know I founded it but this is amazing.",
									            "reviewRating": {
									                "@type": "Rating",
									                "ratingValue": "5",
									                "bestRating": "5",
									                "worstRating": "1"
									            },
									            "datePublished": "2021-09-10",
									            "author": {
									                "@type": "Person",
									                "name":  "Robert James Gabriel"
									            },
									            "publisher": {
									                "@type": "Organization",
									                "name": "App store"
									            }
									        }
											]

									    }
		</script>

		<meta content="5A7359B55CCBDE2A927000280EAECBBC" name="msvalidate.01" />
		<link
			href="/assets/images/social/apple-touch-icon.png"
			rel="apple-touch-icon"
			sizes="180x180"
		/>
		<link
			href="/assets/images/social/favicon-32x32.png"
			rel="icon"
			sizes="32x32"
			type="image/png"
		/>
		<link
			href="/assets/images/social/favicon-16x16.png"
			rel="icon"
			sizes="16x16"
			type="image/png"
		/>
		<link href="/assets/images/social/site.webmanifest" rel="manifest" />
		<link href="/assets/images/social/safari-pinned-tab.svg" rel="mask-icon" />
		<link href="/assets/images/social/favicon.ico" rel="shortcut icon" />
		<meta content="#ffffff" name="msapplication-TileColor" />
		<meta content="assets/images/social/browserconfig.xml" name="msapplication-config" />
	</head>
	<body class="bg-white " theme="light">
		<div id="helperbird-website" >
			{% include templates/header.html %}

			<div class="max-w-8xl relative mx-auto flex justify-center sm:px-2 lg:px-8 xl:px-12">
				<div class="hidden lg:relative lg:block lg:flex-none">
					<div class="absolute inset-y-0 right-0 w-[50vw] bg-slate-50 "></div>
					<div
						class="absolute top-16 bottom-0 right-0 hidden h-12 w-px bg-gradient-to-t from-slate-800"
					></div>
					<div class="absolute top-28 bottom-0 right-0 hidden w-px bg-slate-800 "></div>
					<div
						class="sticky top-[4.5rem] -ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto overflow-x-hidden py-16 pl-0.5"
					>
						<nav class="w-64 pr-8 text-base lg:text-sm xl:w-72 xl:pr-16">
							<ul role="list" class="space-y-9">
								<li>
									<h2 class="font-display font-medium text-slate-900 ">
										🏃 Getting started
									</h2>
									<ul
										role="list"
										class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
									>
										{%- for guide in collections.guideFeatures -%}

										<li class="relative">
											<a
												href="{{ guide.url }}"
												aria-current="page"
												class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
											>
												{{ guide.data.cardTitle }}
											</a>
										</li>

										{%- endfor -%}
									</ul>
								</li>
								<li>
									<h2 class="font-display font-medium text-slate-900 ">
										📋 Features
									</h2>
									<ul
										role="list"
										class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
									>
										{%- for features in collections.guideFeaturesMain -%}

										<li class="relative">
											<a
												href="{{ features.url }}"
												aria-current="page"
												class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
											>
												{{ features.data.cardTitle }}
											</a>
										</li>

										{%- endfor -%}
									</ul>
								</li>
								<li>
									<h2 class="font-display font-medium text-slate-900 ">
										📚 Integrations
									</h2>
									<ul
										role="list"
										class="border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
									>
										{%- for integration in collections.guideIntegrations -%}

										<li class="relative">
											<a
												href="{{ integration.url }}"
												aria-current="page"
												class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
											>
												{{ integration.data.cardTitle }}
											</a>
										</li>

										{%- endfor -%}
									</ul>
								</li>
								<li>
									<h2 class="font-display font-medium text-slate-900 ">💬 Apps</h2>
									<ul
										role="list"
										class="border-slate-000  mt-2 space-y-2 lg:mt-4 lg:space-y-4"
									>
										{%- for apps in collections.guideApps -%}

										<li class="relative">
											<a
												href="{{ apps.url }}"
												aria-current="page"
												class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
											>
												{{ apps.data.cardTitle }}
											</a>
										</li>

										{%- endfor -%}
									</ul>
								</li>
								<li>
									<h2 class="font-display font-medium text-slate-900 ">
										📱 iPad & iPhone
									</h2>
									<ul
										role="list"
										class="border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
									>
										{%- for account in collections.iOSHelp -%}

										<li class="relative">
											<a
												href="{{ account.url }}"
												aria-current="page"
												class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block  "
											>
												{{ account.data.cardTitle }}
											</a>
										</li>

										{%- endfor -%}
									</ul>
								</li>

								<li>
									<h2 class="font-display font-medium text-slate-900 ">
										🫶 Tips & Tricks
									</h2>
									<ul
										role="list"
										class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
									>
										{%- for account in collections.tricksHelp -%}

										<li class="relative">
											<a
												href="{{ account.url }}"
												aria-current="page"
												class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
											>
												{{ account.data.cardTitle }}
											</a>
										</li>

										{%- endfor -%}
									</ul>
								</li>

								<li>
									<h2 class="font-display font-medium text-slate-900 ">
										👤 Account
									</h2>
									<ul
										role="list"
										class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
									>
										{%- for account in collections.guideAccounts -%}

										<li class="relative">
											<a
												href="{{ account.url }}"
												aria-current="page"
												class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
											>
												{{ account.data.cardTitle }}
											</a>
										</li>

										{%- endfor -%}
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16">
					<article>
						<header class="mb-9 space-y-1">
							<div class="flex">
								<p class="font-display text-sm font-medium text-sky-500 flex-1">Helperbird guide</p>

								<button
									type="button"
									@click="docsMenu = true"
									class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 md:hidden flex-0"
								>
									<span class="sr-only">Close panel</span>
									<svg
										class="mr-2 h-6 w-6"
										xmlns="http://www.w3.org/2000/svg"
										fill="none"
										viewBox="0 0 24 24"
										stroke="currentColor"
										aria-hidden="true"
									>
										<path
											stroke-linecap="round"
											stroke-linejoin="round"
											stroke-width="2"
											d="M4 6h16M4 12h16M4 18h16"
										/>
									</svg>

									Side Menu
								</button>
							</div>
							<h1 class="font-display text-3xl tracking-tight text-slate-900 ">
								{{cardTitle}}
							</h1>
						</header>
						<div
							class="prose-headings:font-display prose prose-slate max-w-none prose-headings:scroll-mt-28 prose-headings:font-normal prose-a:font-semibold prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.sky.300))] hover:prose-a:[--tw-prose-underline-size:6px] prose-pre:rounded-xl prose-pre:bg-slate-900 prose-pre:shadow-lg prose-lead:text-slate-500  lg:prose-headings:scroll-mt-[8.5rem]"
						>
							{{ content | safe }}
						</div>
					</article>
				</div>
			</div>

			<div
				class="relative z-10"
				aria-labelledby="slide-over-title"
				role="dialog"
				aria-modal="true"
				v-if="docsMenu === true"
			>
				<!-- Background backdrop, show/hide based on slide-over state. -->
				<div class="fixed inset-0"></div>

				<div class="fixed inset-0 overflow-hidden">
					<div class="absolute inset-0 overflow-hidden">
						<div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
							<div class="pointer-events-auto w-screen max-w-md">
								<div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
									<div class="px-4 sm:px-6">
										<div class="flex items-start justify-between">
											<h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
												Helperbird
											</h2>
											<div class="ml-3 flex h-7 items-center">
												<button
													type="button"
													@click="docsMenu = false"
													class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
												>
													<span class="sr-only">Close panel</span>
													<!-- Heroicon name: outline/x-mark -->
													<svg
														class="h-6 w-6"
														xmlns="http://www.w3.org/2000/svg"
														fill="none"
														viewBox="0 0 24 24"
														stroke-width="1.5"
														stroke="currentColor"
														aria-hidden="true"
													>
														<path
															stroke-linecap="round"
															stroke-linejoin="round"
															d="M6 18L18 6M6 6l12 12"
														/>
													</svg>
												</button>
											</div>
										</div>
									</div>
									<div class="relative mt-6 flex-1 px-4 sm:px-6">
										<!-- Replace with your content -->
										<div class="absolute inset-0 px-4 sm:px-6">
											<nav class="flex-1 space-y-1 bg-white px-2" aria-label="Sidebar">
												<ul role="list" class="space-y-9">
													<li>
														<h2 class="font-display font-medium text-slate-900 ">
															🏃 Getting started
														</h2>
														<ul
															role="list"
															class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
														>
															{%- for guide in collections.guideFeatures -%}

															<li class="relative">
																<a
																	href="{{ guide.url }}"
																	aria-current="page"
																	class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
																>
																	{{ guide.data.cardTitle }}
																</a>
															</li>

															{%- endfor -%}
														</ul>
													</li>
													<li>
														<h2 class="font-display font-medium text-slate-900 ">
															📋 Features
														</h2>
														<ul
															role="list"
															class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
														>
															{%- for features in collections.guideFeaturesMain -%}

															<li class="relative">
																<a
																	href="{{ features.url }}"
																	aria-current="page"
																	class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
																>
																	{{ features.data.cardTitle }}
																</a>
															</li>

															{%- endfor -%}
														</ul>
													</li>
													<li>
														<h2 class="font-display font-medium text-slate-900 ">
															📚 Integrations
														</h2>
														<ul
															role="list"
															class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
														>
															{%- for integration in collections.guideIntegrations -%}

															<li class="relative">
																<a
																	href="{{ integration.url }}"
																	aria-current="page"
																	class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
																>
																	{{ integration.data.cardTitle }}
																</a>
															</li>

															{%- endfor -%}
														</ul>
													</li>
													<li>
														<h2 class="font-display font-medium text-slate-900 ">
															💬 Apps
														</h2>
														<ul
															role="list"
															class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
														>
															{%- for apps in collections.guideApps -%}

															<li class="relative">
																<a
																	href="{{ apps.url }}"
																	aria-current="page"
																	class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
																>
																	{{ apps.data.cardTitle }}
																</a>
															</li>

															{%- endfor -%}
														</ul>
													</li>
													<li>
														<h2 class="font-display font-medium text-slate-900 ">
															📱 iPad & iPhone
														</h2>
														<ul
															role="list"
															class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
														>
															{%- for account in collections.iOSHelp -%}

															<li class="relative">
																<a
																	href="{{ account.url }}"
																	aria-current="page"
																	class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
																>
																	{{ account.data.cardTitle }}
																</a>
															</li>

															{%- endfor -%}
														</ul>
													</li>

													<li>
														<h2 class="font-display font-medium text-slate-900 ">
															🫶 Tips & Tricks
														</h2>
														<ul
															role="list"
															class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
														>
															{%- for account in collections.tricksHelp -%}

															<li class="relative">
																<a
																	href="{{ account.url }}"
																	aria-current="page"
																	class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
																>
																	{{ account.data.cardTitle }}
																</a>
															</li>

															{%- endfor -%}
														</ul>
													</li>

													<li>
														<h2 class="font-display font-medium text-slate-900 ">
															👤 Account
														</h2>
														<ul
															role="list"
															class="border-slate-000  lg:border-slate-000 mt-2 space-y-2 lg:mt-4 lg:space-y-4"
														>
															{%- for account in collections.guideAccounts -%}

															<li class="relative">
																<a
																	href="{{ account.url }}"
																	aria-current="page"
																	class="block w-full pl-3.5 text-slate-500 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:hidden before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:bg-slate-300 hover:text-slate-600 hover:before:block "
																>
																	{{ account.data.cardTitle }}
																</a>
															</li>

															{%- endfor -%}
														</ul>
													</li>
												</ul>
											</nav>
										</div>
										<!-- /End replace -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{% include templates/footer.html %}
		</div>
	</body>
	{% bundledJs %}
</html>
