<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<title>{{ title }} {{ page.fileSlug | safe }} - Helperbird.com</title>
		{% bundledCss %}

		<link href="https://www.helperbird.com{{ page.url | safe }}" rel="canonical" />
		<meta content="{{ description }} {{ page.fileSlug | safe }}" name="description" />
		<meta content="{{ keywords }}" name="keywords" />

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta content="/assets/images/favicon.png" name="image" />
		<meta content="#5046e4" name="theme-color" />
		<meta content="Helperbird" itemprop="name" />
		<meta content="{{ description }}" itemprop="description" />
		<meta content="/assets/images/favicon.png" itemprop="image" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@helperbird" />
		<meta name="twitter:creator" content="@robertjgabriel" />
		<meta name="twitter:title" content="{{ title }}" />
		<meta property ="twitter:domain" content="helperbird.com"/>

<meta property="twitter:url" content="https://www.helperbird.com{{ page.url | safe }}"/>
<meta name="twitter:description" content="{{ description }}" />
		
<meta name="twitter:image:alt" content="Helperbird promo art with text saying visit Helperbird"/>
<meta name="twitter:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />

		<meta content="https://www.youtube.com/watch?v=PfILiWebkuc" name="twitter:player" />

		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ title }}" />
		<meta property="og:description" content="{{ description }}" />
		<meta property="og:url" content="https://www.helperbird.com{{ page.url | safe }}" />
		<meta property="og:site_name" content="Helperbird" />
		<meta property="og:image" content="https://www.helperbird.com{{ page.url | safe }}index.png" />
		<meta property="og:video" content="https://www.youtube.com/watch?v={{youtubeId | PfILiWebkuc }}" />

		<meta content="https://www.helperbird.com{{ page.url | safe }}" property="og:url" />
		<link href="/assets/images/site/favicon.png" rel="shortcut icon" />
		<link href="touch-icon-iphone.png" rel="apple-touch-icon" />
		<link href="/assets/images/favicon.png" rel="apple-touch-icon" sizes="152x152" />
		<link href="/assets/images/favicon.png" rel="apple-touch-icon" sizes="180x180" />
		<link href="/assets/images/favicon.png" rel="apple-touch-icon" sizes="167x167" />
		<meta content="5A7359B55CCBDE2A927000280EAECBBC" name="msvalidate.01" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "SoftwareApplication",
				"name": "Helperbird",
				"operatingSystem": ["Chrome", "Windows", "MacOs"],
				"applicationCategory": "https://schema.org/UtilitiesApplication",
				"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": "4.7",
					"ratingCount": "92"
				},
				"offers": {
					"@type": "Offer",
					"price": "6.99",
					"priceCurrency": "USD"
				}
			}
		</script>
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "Helperbird",
				"url": "https://www.helperbird.com",
				"sameAs": [
					"http://www.facebook.com/helperbird",
					"https://www.linkedin.com/company/19112429",
					"https://twitter.com/helperbird",
					"https://www.youtube.com/helperbird"
				]
			}
		</script>
		<script type="application/ld+json">
			    {
			        "@context": "https://schema.org/",
			        "@type": "Product",
			        "name": "Helperbird",
			        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
			        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
					"brand": {
						"@type": "Brand",
						"name": "Helperbird"
					  },
			        "sku": "helperbird2016",
			        "gtin": "helperbird2016",
			        "offers": {
			            "@type": "Offer",
			            "url": "https://www.helperbird.com/pricing/",
			            "priceCurrency": "USD",
			            "price": "30",
			            "priceValidUntil": "2020-12-31",
			            "availability": "https://schema.org/OnlineOnly",
			            "itemCondition": "https://schema.org/NewCondition"
			        },
			        "aggregateRating": {
			            "@type": "AggregateRating",
			            "ratingValue": "5",
			            "bestRating": "5",
			            "worstRating": "1",
			            "ratingCount": "2",
			            "reviewCount": "2"
			        },
			        "review": [		{%- for review in reviews.reviews -%}
					{
						"@type": "Review",
						"name": "{{ review.name }}",
						"reviewBody": "   {{ review.review }}",
						"reviewRating": {
							"@type": "Rating",
							"ratingValue": "5",
							"bestRating": "5",
							"worstRating": "1"
						},
						"datePublished": "2021-09-10",
						"author": {
							"@type": "Person",
							"name": "{{ review.name }}"
						},
						"publisher": {
							"@type": "Organization",
							"name": "App store"
						}
					},
					{%- endfor -%}
					{
						"@type": "Review",
						"name": "Robert James Gabriel",
						"reviewBody": "I know I founded it but this is amazing.",
						"reviewRating": {
							"@type": "Rating",
							"ratingValue": "5",
							"bestRating": "5",
							"worstRating": "1"
						},
						"datePublished": "2021-09-10",
						"author": {
							"@type": "Person",
							"name":  "Robert James Gabriel"
						},
						"publisher": {
							"@type": "Organization",
							"name": "App store"
						}
					}]

			    }
		</script>

		<meta content="5A7359B55CCBDE2A927000280EAECBBC" name="msvalidate.01" />
		<link href="assets/images/social/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
		<link
			href="assets/images/social/social/favicon-32x32.png"
			rel="icon"
			sizes="32x32"
			type="image/png"
		/>
		<link
			href="assets/images/social/social/favicon-16x16.png"
			rel="icon"
			sizes="16x16"
			type="image/png"
		/>
		<link href="assets/images/social/social/site.webmanifest" rel="manifest" />
		<link href="assets/images/social/safari-pinned-tab.svg" rel="mask-icon" />
		<link href="assets/images/social/social/favicon.ico" rel="shortcut icon" />
		<meta content="#ffffff" name="msapplication-TileColor" />
		<meta content="assets/images/social/browserconfig.xml" name="msapplication-config" />
	</head>
    <body>
		<div id="helperbird-website" style="background-color: rgb(246, 245, 231);">
		{% include templates/header.html %}
		<main class="max-w-7xl mx-auto " id="blog-post">
			<div class="pt-12 pb-12 flex items-stretch bg-grey-lighter min-h-screen">
				<div class="relative py-8 overflow-hidden max-w-5xl mx-auto  px-4 sm:px-6 lg:px-8">
				{{ content | safe }}
			</div>
			</div>
		</main>
		            {% include templates/footer.html %}
            {% include common/pricing_banner.html %}
		
		</div>

	</body>
	{% bundledJs %}
</html>
