doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Accessibility website widget -  Helperbird
    meta(content='a11y, accessibility checker, accessibility develop tools, lighthouse tools', name='keywords')
    link(href='https://www.helperbird.com/products/accessibility-checker', rel='canonical')
    meta(content='Web accessibility widget solution. Meet compliance with WCAG 2.1, and other legislation with Helperbird', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Accessibility website widget -  Helperbird', itemprop='name')
    meta(content='Web accessibility widget solution. Meet compliance with WCAG 2.1, and other legislation with Helperbird', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Accessibility website widget -  Helperbird', name='twitter:title')
    meta(content='Web accessibility widget solution. Meet compliance with WCAG 2.1, and other legislation with Helperbird', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter-a11y.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Accessibility website widget -  Helperbird', name='og:title')
    meta(content='Web accessibility widget solution. Meet compliance with WCAG 2.1, and other legislation with Helperbird', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook-a11y.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Accessibility website widget -  Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='/assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='/assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js')
    script.
      hljs.initHighlightingOnLoad();

    script(type='application/ld+json').
      
      {
                 "@context": "https://schema.org",
                 "@type": "SoftwareApplication",
                 "name": "Helperbird",
                 "operatingSystem": "Windows",
                 "applicationCategory": "https://schema.org/UtilitiesApplication",
                 "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "4.8",
                    "ratingCount": "42"
                 },
                 "offers": {
                    "@type": "Offer",
                    "price": "4.99",
                    "priceCurrency": "USD"
                 }
                 }
      
    script(type='application/ld+json').
      
      {
                    "@context": "https://schema.org",
                    "@type": "Organization",
                    "name": "Helperbird",
                    "url": "https://www.helperbird.com",
                    "sameAs": [
                        "http://www.facebook.com/helperbird",
                        "https://www.linkedin.com/company/19112429",
                        "https://twitter.com/helperbird_"
                    ]
                 }
      
    script(type='application/ld+json').
      
      {
                 "@context": "https://schema.org/",
                 "@type": "Product",
                 "name": "Helperbird",
                 "image": [
                    "https://www.helperbird.com/assets/images/pwa/144.png",
                    "https://www.helperbird.com/assets/images/pwa/512.png",
                    "https://www.helperbird.com/assets/images/pwa/full.png"
                 ],
                 "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
                 "sku": "helperbird2016","gtin12": "helperbird2016",
                 "mpn": "925872",
                 "brand": {
                    "@type": "Thing",
                    "name": "Helperbird"
                 },
                    "review": {
                        "@context": "http://schema.org/",
                        "@type": "Review",
                        "name": "Colm Murphy",
                        "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
                        "reviewRating": {
                            "@type": "Rating",
                            "ratingValue": "5",
                            "bestRating": "5",
                            "worstRating": "1"
                        },
                        "datePublished": "2019-05-02",
                        "author": {
                            "@type": "Person",
                            "name": "Colm Murphy"
                        }
                    },
                 "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "4.8",
                    "reviewCount": "57"
                 },
                 "offers": {
                    "@type": "Offer",
                    "url": "https://www.helperbird.com",
                    "priceCurrency": "USD",
                    "price": "4.99",
                    "priceValidUntil": "2020-11-05",
                    "itemCondition": "https://schema.org/NewCondition",
                    "availability": "https://schema.org/InStock",
                    "seller": {
                    "@type": "Organization",
                    "name": "Helperbird"
                    }
                 }
                 }
      
  body.font-friendly
    div
      include ../includes/layout/dropdown-widget.pug
      section.section_header
        #helperbird-banner-widget
          span
          span
          span
          span
          span
        .container-xlrg.flex.mobile-col-flex-12.mt200
          .flex.flex-column.col-6.mobile-col-12.center-vertical.mobile-text-center.mb40
            h1.heading.primary-color.launchaco-builder-hoverable Make your website  accessible
            h3.subheading.secondary-color.mt20.launchaco-builder-hoverable
              | Make your website accessible to everyone in seconds. Accelerate your business with Helperbirds accessibility widget without re-structuring your website’s existing code. Covering WCAG 2.1 AA.
            .mt40
                a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.helperbird-widget-buy-button(title="Get the Helperbird widget",href="#widgetGet")
                  span  Get the widget
                button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mobile-text-center.accent-bg.button-signup-free.primary-color.helperbird-widget-buy-button( title="text")
                  span  Pricing
       

          .col-6.flex.flex-column.text-center.mobile-col-12
            .browser.mt40.launchaco-builder-hoverable
              

              video(width="680" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
                source(src="/assets/videos/widget.webm" type="video/webm")
                source(src="/assets/videos/widget.mp4" type="video/mp4")


    section.section.press-logos#featuredin-1
      .container.text-center
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb75.press_logos_title Trusted by people at the world’s most innovative organisations
      .container-lrg
        .flex.center-horizontal.wrap.center-vertical
          .col-2.mobile-col-6
            a(href='https://www.producthunt.com/posts/helperbird-3-0', rel='noreferrer', target='_blank', title='Link to Producthunt')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Product hunt', src='/assets/images/logo/producthunt.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.nexus-education.com/made-dyslexia-i-encourage-train/', rel='noreferrer', target='_blank', title='Link to Nexus')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of nexus', src='/assets/images/logo/nexus.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.softpedia.com/get/Office-tools/Text-editors/Helperbird.shtml', rel='noreferrer', target='_blank', title='Link to Softpedia')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Softpedia', src='/assets/images/logo/softpedia.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://optocrypto.com/dyslexics-helperbird-chrome-extension/', rel='noreferrer', target='_blank', title='Link to Optologo')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Softpedia', src='/assets/images/logo/optologo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.smashingmagazine.com/2019/11/black-friday-2019/', rel='noreferrer', target='_blank', title='Link to Producthunt')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of smashing-magazine-logo', src='/assets/images/logo/smashing-magazine-logo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.indiehackers.com/product/helperbird/made-it-onto-the-indiehackers-podcast--LuJYrgVZ12TsNIDCFOU', rel='noreferrer', target='_blank', title='Link to Nexus')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of indiehackers', src='/assets/images/logo/indiehackers_logo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='http://techtalk.stratford.edu/2019/11/23/show-of-11-23-2019/', rel='noreferrer', target='_blank', title='Link to stratford techtalk')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of stratford techtalk', src='/assets/images/logo/logo_pentahoV2.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://educationblog.microsoft.com/en-us/2020/01/live-from-bett-whats-new-in-edu-fostering-an-accessible-inclusive-classroom-that-works-for-all-students/', rel='noreferrer', target='_blank', title='Link to Microsoft')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Microsoft', src='/assets/images/logo/microsoft.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.ucc.ie', rel='noreferrer', target='_blank', title='Link to Ucc college work.')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of UCC', src='/assets/images/logo/ucc.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.utoronto.ca/', rel='noreferrer', target='_blank', title='Link to Toronto college work.')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Toronto', src='/assets/images/logo/toronto.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.usfca.edu/', rel='noreferrer', target='_blank', title='Link to San Francisco college')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Toronto', src='/assets/images/logo/san.png', loading='lazy')
    include ../includes/features/boxes_widget.pug



    .lightblue-gradient#pricing.mb75
      section.section_header
        .container
          .col-12.text-center
            h1.heading.primary-color.launchaco-builder-hoverable 
              | Choose your plan
            h3.paragraph.secondary-color.mt20.launchaco-builder-hoverable
              | Each plan includes all features and services. 7 day free trial.
            h3.secondary-color.mt20.launchaco-builder-hoverable.sale-icon 
              b
                | Save 10%
            svg.svg-inline--fa.fa-level-down-alt.fa-w-10.fa-2x(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='level-down-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 320 512')
              path(fill='currentColor', d='M313.553 392.331L209.587 504.334c-9.485 10.214-25.676 10.229-35.174 0L70.438 392.331C56.232 377.031 67.062 352 88.025 352H152V80H68.024a11.996 11.996 0 0 1-8.485-3.515l-56-56C-4.021 12.926 1.333 0 12.024 0H208c13.255 0 24 10.745 24 24v328h63.966c20.878 0 31.851 24.969 17.587 40.331z')


            .pricing-switch
              
              | Monthly
              label.switch
                input#annual-widget(name='xxx', type='checkbox')
                span.slider.round
              | Yearly

      include ../includes/pricing/pricing-widget.pug
    include ../includes/features/upsell_widget.pug
    include ../includes/sections/questions_a11y.pug

    include ../includes/layout/footer.pug