doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Website Accessibility widget - Helperbird for Websites
    link(href='https://www.helperbird.com/products/widget', rel='canonical')
    meta(content='Give your users more ways to change the site to their own needs and make it more accessible to everyone in seconds. Accelerate your business with  Helperbirds accessibility widget.', name='description')
    meta(content='Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software, Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome, OpenDyslexic', name='keywords')

    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content='Give your users more ways to change the site to their own needs and make it more accessible to everyone in seconds. Accelerate your business with  Helperbirds accessibility widget.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Website Accessibility widget - Helperbird for Websites', name='twitter:title')
    meta(content='Give your users more ways to change the site to their own needs and make it more accessible to everyone in seconds. Accelerate your business with  Helperbirds accessibility widget.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Website Accessibility widget - Helperbird for Websites', name='og:title')
    meta(content='Web accessibility widget solution.  Help meet compliance with WCAG 2.1, and other legislation with Helperbird', name='og:description')
    meta(content='/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/products/widget', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')

    link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css')
    script(loading="lazy" src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js')
    script.
      hljs.initHighlightingOnLoad();
    script(type='application/ld+json').
      
      {
      			"@context": "https://schema.org",
      			"@type": "SoftwareApplication",
      			"name": "Helperbird",
      			"operatingSystem":[
              "Chrome",
              "Windows",
              "MacOs"
            ],
      			"applicationCategory": "https://schema.org/UtilitiesApplication",
      			"aggregateRating": {
      				"@type": "AggregateRating",
      				"ratingValue": "4.8",
      				"ratingCount": "42"
      			},
      			"offers": {
      				"@type": "Offer",
      				"price": "4.99",
      				"priceCurrency": "USD"
      			}
      		}
      
    script(type='application/ld+json').
      
      {
      			"@context": "https://schema.org",
      			"@type": "Organization",
      			"name": "Helperbird",
      			"url": "https://www.helperbird.com/products/widget",
      			"sameAs": [
      				"http://www.facebook.com/helperbird",
      				"https://www.linkedin.com/company/19112429",
      				"https://twitter.com/helperbird_"
      			]
      		}
      
    script(type='application/ld+json').
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016",
        "gtin": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.bg-content-300

    include ../includes/layout/navigation.pug
    include ../includes/sections/header_widget.pug


    include ../includes/features/boxes_widget.pug

    include ../includes/pricing/pricing-widget.pug

    include ../includes/sections/upsell_widget.pug
    include ../includes/sections/reviews-two.pug
    include ../includes/sections/questions_widget.pug


    include ../includes/layout/footer.pug