



header.header
  .container-xlrg
    .flex.col-12.spread
      a.logo.primary-color.launchaco-builder-hoverable.logo(href='/')
        img( src='/assets/images/pwa/logo/full.png')
        span
            | Accessibility Widget 
        span.its_free_a11y.hide-on-small-screens
      a.menu-toggle#menu(href='#main-menu', title="menu button", role="button")
        b.nav-link.mr0.secondary-color ☰


        ul.menu.nav.main-menu#main-menu(role='navigation')
            li.menu__item.nav-link.menu-close
                a.menu-close#main-menu-close(href='#', role="button")
                    span.bold ✕


            li.menu__item.nav-link: a.secondary-color.button.mobile-text-center.launchaco-builder-hoverable.button-signup.primary-color(type='button', href="#pricing", title="See widget pricing") 
                span  See Pricing