



header.header
  .container-xlrg
    .flex.col-12.spread
      a.logo.primary-color.launchaco-builder-hoverable.logo(href='/')
        img(alt='Helperbird Logo', src='/assets/images/pwa/logo/full.png')
        | Helperbird
      a.menu-toggle#menu(href='#main-menu', title="menu button", role="button")
        b.nav-link.mr0.secondary-color ☰


        ul.menu.nav.main-menu#main-menu(role='navigation')
            li.menu__item.nav-link.menu-close
                a.menu-close#main-menu-close(href='#', role="button")
                    span.bold ✕
            li.menu__item.nav-link: a.secondary-color(href='/about', title="Visit our about page") Our Story
            li.menu__item.nav-link(data-sub="product"): a.secondary-color(href='/features', title="Visit our features page") Features
            li.menu__item.nav-link: a.secondary-color(href='/pricing', title="Visit our pricing page") Pricing
            li.menu__item.nav-link: button.secondary-color.button.mobile-text-center.launchaco-builder-hoverable.button-signup.primary-color(data-target='#downloadModal', data-toggle='modal', role="Download Helperbird modal", type='button') Download Helperbird
        .dropdown-holder#dropdown-holder
        
            .dropdown__arrow
            
            .dropdown__bg
                .dropdown__bg-bottom
                    
            .dropdown__wrap
                .dropdown-menu#product(data-sub="product")
                    .dropdown-menu__content
                        .top-section
                            .col2
                                ul
                                    li
                                        a(href="/features/ruler")
                                            h3 Dyslexia Fonts & Ruler
                                            p  Dyslexia Ruler helps you to read long texts on web pages. With over 15 fonts
                                    li
                                        a(href="/features/styles")
                                            h3 Styles & Theme
                                            p  Background and font colors help people with dyslexia focus and improve reading.
                                    li
                                        a(href="/features/reader-mode-for-chrome-and-firefox")
                                            h3 Reader Mode
                                            p  Remove ads and distractions from any webpage with complete customization.
                                ul
                                    li
                                        a(href="/features/immersive-reader-for-chrome")
                                            h3 Immersive Reader
                                            p  Improve reading comprehension and increase fluency for English language learners.
                                    li
                                        a(href="/features/text-to-speech")
                                            h3 Text to speech
                                            p  Sit back, press play, and have your news, emails, or news read aloud to you.

                                    li
                                        a(href="/features/notes")
                                            h3 Notes & Dictionary
                                            p  Take notes anywhere. Find information faster. Share ideas with anyone.


                        .bottom-section
                            .col2
                                ul
                                    li: a(href="/features") All features
            
