footer.footer#footer-10
  .container-xlrg.col-12
    .flex.wrap.center-vertical
      .col-2.mobile-col-12
        img(alt='Helperbird Logo', src='/assets/images/pwa/logo/full.png', width="80")


      .col-2.mobile-col-12.hide-on-small-screens
        p.mb10.footer-header
          b Company
        p.mb10.footer-list
          a(href='/about', title='Learn more about Helperbird and its founder') Our Story
        p.mb10.footer-list
          a(href='/blog', title='Link to the Helperbird Blog') Blog
        p.mb10.footer-list
          a(href='/pricing', title='Learn more about the Helperbird pricing') Pricing
        p.mb10.footer-list
          a(href='/in-the-news', title='Link to Helperbirds press highlights') In the news 
        p.mb10.footer-list
          a(href='/contact', title='Link to Helperbirds contact page') Contact
        p.mb10.footer-list
          a(href='/reviews', title='Link to Helperbirds reviews') Reviews 


      .col-2.mobile-col-12.hide-on-small-screens
        p.mb10.footer-header
          b Features
        p.mb10.footer-list
          a(href='/features/specialised-dyslexic-fonts', title='Helperbirds dyslexia support for Google Chrome') Dyslexia support
        p.mb10.footer-list
          a(href='/features/reader-mode-for-chrome-and-firefox', title='Helperbirds award winning reader mode for chrome') Clutter-free
        p.mb10.footer-list
          a(href='/features/text-to-speech', title='Listen to any part of your Webpages and Google Docs') Text to speech
        p.mb10.footer-list
          a(href='/features/immersive-reader-for-chrome', title='Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability.') Immersive reader
        p.mb10.footer-list
          a(href='/features/ad-blocker', title='Block ads and pop-ups on YouTube, Facebook, Twitch, and your favorite websites.') Ad blocker
        p.mb10.footer-list
          a(href='/features/overlay', title='People who dont like bright white web pages can now change the overlay color of a web page with the overlay feature.')  Overlays
        p.mb10.footer-list
          a(href='/features/ruler', title='Dyslexia Ruler helps you to read long texts on web pages.')  Dyslexia Ruler
        p.mb10.footer-list
          a(href='/features', title='Link to Helperbirds features page') View all features


      .col-2.mobile-col-12.hide-on-small-screens
        p.mb10.footer-header
          b Support
        p.mb10.footer-list
          a(href='/support', title='Link to Helperbirds help center') Help Center
        p.mb10.footer-list
          a(href='/privacy', title='This Privacy Policy describes how your personal information is handled in Helperbird for Chrome, Firefox and Edge.') Privacy Policy
        p.mb10.footer-list
          a(href='/terms-of-service', title='Helperbirds Terms of Service') Terms and Conditions
        p.mb10.footer-list
          a(href='/support', title='Link to Helperbirds support page') Help

        p.mb10.footer-list
          a(href='/feedback', title='Link to Helperbirds Feedback page') Feedback 

      .col-2.mobile-col-12.hide-on-small-screens
        p.mb10.footer-header
          b Products
        p.mb10.footer-list
          a(href='/chrome', title='Discover more about Helperbird') Helperbird
        p.mb10.footer-list
          a(href='/products/accessibility-checker', title='Link to Accessibility Checker by Helperbird') A11y Checker
        p.mb10.footer-list
          a(href='/enterprise', title='Link to Helperbird for businesses and schools') Enterprise





      .col-2.mobile-col-12.hide-on-small-screens
        p.mb10.footer-header
          b Community
        p.mb10.footer-list
          a(href='https://www.facebook.com/helperbird/', title='Visit Helperbirds Facebook page', target="_blank")
            i.fab.fa-facebook.icon-size-small 
            | Facebook
        p.mb10.footer-list
          a(href='https://twitter.com/helperbird_', title="Visit Helperbirds Twitter page", target="_blank")
            i.fab.fa-twitter.icon-size-small 
            | Twitter
        p.mb10.footer-list
          a(href='https://www.linkedin.com/company/19112429/',title="Visit Helperbirds Linkedin page", target="_blank")
            i.fab.fa-linkedin.icon-size-small 
            | Linkedin
        p.mb10.footer-list
          a(href='https://www.youtube.com/watch?v=aXXRSenvTTg', title="Visit Helperbirds Youtube page", target="_blank")
            i.fab.fa-youtube.icon-size-small 
            | Youtube


.base-footer.text-center
  .span.secondary-color
    
    .container.col-12
      .flex.wrap.center-vertical
        .col-12.mobile-col-12
          | © 2020 Helperbird.com . All rights reserved. 

.modal.fade#downloadModal(aria-hidden='true', aria-labelledby='exampleModalCenterTitle', role='dialog', tabindex='-1')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5.modal-title#downloadModalLongTitle Download Helperbird
      .modal-body
        .container-lrg.flex.mt40
          .flex.flex-column.col-4
            .launchaco-builder-hoverable
              img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='/assets/images/home/chrome.png', width='50px')
              |  
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/ahmapmilbkfamljbpgphfndeemhnajme', rel='noopener', target='_blank')
                span Chrome
          .flex.flex-column.col-4
            .launchaco-builder-hoverable
              img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='/assets/images/home/firefox.png', width='50px')
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://addons.mozilla.org/en-CA/firefox/addon/helperbird/', rel='noreferrer', target='_blank')
                span Firefox
          .flex.flex-column.col-4
            .launchaco-builder-hoverable
              img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='/assets/images/home/edge.png', width='50px')
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd', rel='noreferrer', target='_blank')
                span Edge