footer.footer#footer-10
  .container.col-12
    .flex.wrap.center-vertical
      .col-3.mobile-col-12
        p.mb10.footer-header
          b Company
        p.mb10.footer-list
          a(href='/about', onclick='return features.captureOutboundLink("/about"),!1', title='Link to Helperbirds about') Our Story
        p.mb10.footer-list
          a(href='/blog/', onclick='return features.captureOutboundLink("/blog/"),!1', title='Link to Helperbirds blog') Blog
        p.mb10.footer-list
          a(href='/in-the-news', onclick='return features.captureOutboundLink("/in-the-news"),!1', title='Link to Helperbirds terms') In the News
        p.mb10.footer-list
          a(href='/privacy', onclick='return features.captureOutboundLink("/privacy"),!1', title='Link to Helperbirds Roadmap') Privacy
      .col-3.mobile-col-12
        p.mb10.footer-header
          b Products
        p.mb10.footer-list
          a(href='/products/accessibility-checker', onclick='return features.captureOutboundLink("/products/accessibility-checker"),!1', title='Link to information about Helperbirds features')  Checker
        p.mb10.footer-list
          a(href='/testimonials', onclick='return features.captureOutboundLink("/testimonials"),!1', title='Link to testimonials about Helperbird') Testimonials
        p.mb10.footer-list
          a(href='/reviews', onclick='return features.captureOutboundLink("/reviews"),!1', title='Link to reviews about Helperbird') Reviews
        p.mb10.footer-list
          a(href='/pricing', onclick='return features.captureOutboundLink("/pricing"),!1', title='Link to Helperbirds pricing') Pricing


      .col-3.mobile-col-12
        p.mb10.footer-header
          b Support

        p.mb10.footer-list
          a(href='/contact', onclick='return features.captureOutboundLink("/contact"),!1', title='Link to Helperbirds contact page') Contact
        p.mb10.footer-list
          a(href='/feedback', onclick='return features.captureOutboundLink("/feedback"),!1', title='Link to Helperbirds Feedback page') Feedback
        p.mb10.footer-list
          a(href='/updates', onclick='return features.captureOutboundLink("/updates"),!1', title='Link to Helperbirds updates') Updates
        p.mb10.footer-list
          a(href='/roadmap', onclick='return features.captureOutboundLink("/roadmap"),!1', title='Link to Helperbirds Roadmap') Roadmap


      .col-3.mobile-col-12
        p.mb10.footer-header
          b Compare
        p.mb10.footer-list
          a(href='/compare/immersive-reader-by-microsoft-alternative', onclick='return features.captureOutboundLink("/compare/immersive-reader-by-microsoft-alternative"),!1', title='Link to Helperbirds Roadmap') Immersive
        p.mb10.footer-list
          a(href='/compare/read-and-write-alternative', onclick='return features.captureOutboundLink("/compare/read-and-write-alternative"),!1', title='Link to Helperbirds Roadmap') Read and Write
        p.mb10.footer-list
          a(href='/compare/snap-and-read-alternative', onclick='return features.captureOutboundLink("/compare/snap-and-read-alternative"),!1', title='Link to Helperbirds Roadmap') Snap & Read


          
  .container.col-12
    .flex.wrap.center-vertical.text_center.mt75
      .col-3.mobile-col-12
        a(href='https://facebook.com/helperbird/', onclick='return features.captureOutboundLink("https://facebook.com/helperbird/"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Facebook')
          i.fab.fa-facebook.icon-size-small
      .col-3.mobile-col-12
        a(href='https://twitter.com/helperbird_', onclick='return features.captureOutboundLink("https://twitter.com/helperbird_"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Twitter')
          i.fab.fa-twitter.icon-size-small
      .col-3.mobile-col-12
        a(href='https://www.linkedin.com/company/19112429/', onclick='return features.captureOutboundLink("https://www.linkedin.com/company/19112429/"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Linkedin')
          i.fab.fa-linkedin.icon-size-small
      .col-3.mobile-col-12
        a(href='https://www.youtube.com/watch?v=aXXRSenvTTg', onclick='return features.captureOutboundLink("https://www.youtube.com/watch?v=aXXRSenvTTg"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Youtube')
          i.fab.fa-youtube.icon-size-small

.base-footer.text-center
  .span.secondary-color
    
    .container.col-12
      .flex.wrap.center-vertical
        .col-12.mobile-col-12
          | © 2020 Helperbird.com . All rights reserved. 

.modal.fade#downloadModal(aria-hidden='true', aria-labelledby='exampleModalCenterTitle', role='dialog', tabindex='-1')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5.modal-title#downloadModalLongTitle Download Helperbird
      .modal-body
        .container-lrg.flex.mt40
          .flex.flex-column.col-4
            .launchaco-builder-hoverable
              img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='/assets/images/home/chrome.png', width='50px')
              |  
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/ahmapmilbkfamljbpgphfndeemhnajme', rel='noopener', target='_blank')
                span Chrome
          .flex.flex-column.col-4
            .launchaco-builder-hoverable
              img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='/assets/images/home/firefox.png', width='50px')
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://addons.mozilla.org/en-CA/firefox/addon/helperbird/', rel='noreferrer', target='_blank')
                span Firefox
          .flex.flex-column.col-4
            .launchaco-builder-hoverable
              img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='/assets/images/home/edge.png', width='50px')
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd', rel='noreferrer', target='_blank')
                span Edge