// This example requires Tailwind CSS v2.0+
.fixed.z-10.inset-0.overflow-y-auto.hidden( v-bind:style="showModal ?'display:block !important;' : 'display: none !important;'")
  .flex.items-end.justify-center.min-h-screen.pt-4.px-4.pb-20.text-center(class='sm:block sm:p-0')

    .fixed.inset-0.transition-opacity(aria-hidden='true')
      .absolute.inset-0.bg-gray-500.opacity-75
    // This element is to trick the browser into centering the modal contents.
    span.hidden(class='sm:inline-block sm:align-middle sm:h-screen' aria-hidden='true') &ZeroWidthSpace;

    .inline-block.align-bottom.bg-white.rounded-lg.overflow-hidden.shadow-xl.transform.transition-all(class='sm:my-8 sm:align-middle sm:max-w-lg sm:w-full' role='dialog' aria-modal='true' aria-labelledby='modal-headline')
      .w-auto
        button.float-right.block.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-black.float-right(style="float:right !important" @click="handleModal" role="button")
          svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='#000' height="24px")
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

      .bg-white.px-4.pt-5.pb-4(class='sm:p-6 sm:pb-4')
        
        .grid.grid-cols-3.gap-x-6.gap-y-12(class='sm:grid-cols-3 lg:mt-8 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16')
          div
            img.items-center.justify-center.block.mx-auto(alt='Firefox logo', loading='lazy', src='/assets/images/home/chrome.png', width='70px'  height='70px') 
            a.mt-6.w-full.flex.items-center.justify-center.px-8.py-3.border.text-base.font-medium.rounded-md.text-indigo-600(class='hover:bg-gray-50' href='https://chrome.google.com/webstore/detail/helperbird-accessibility/ahmapmilbkfamljbpgphfndeemhnajme', rel='noopener', target='_blank')
              span Chrome
          div
            img.items-center.justify-center.block.mx-auto(alt='Firefox logo', loading='lazy', src='/assets/images/home/firefox.png', width='70px', height='70px')
            a.mt-6.w-full.flex.items-center.justify-center.px-8.py-3.border.text-base.font-medium.rounded-md.text-indigo-600( class='hover:bg-gray-50' href='https://addons.mozilla.org/en-CA/firefox/addon/helperbird/', rel='noreferrer', target='_blank')
              span Firefox
          div
            img.items-center.justify-center.block.mx-auto(alt='Firefox logo', loading='lazy', src='/assets/images/home/edge.png', width='70px' height='70px')
            a.mt-6.w-full.flex.items-center.justify-center.px-8.py-3.border.text-base.font-medium.rounded-md.text-indigo-600( class='hover:bg-gray-50' href='https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd', rel='noreferrer', target='_blank')
              span Edge

