- 
  var features = [
    {
    "title": "Reader Mode",
    "description": "Reader Mode removes ads and distractions from any webpage with complete customization.",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current" > <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/> </svg>',
    "link": "/features/reader-mode-for-chrome-and-firefox"
    },

    {
    "title": "Dyslexia Fonts",
    "description": "Change the font of the page. Apply OpenDyslexic and 15 plus different fonts to any web page.",
    "icon": '    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current"> <path d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z" ></path></svg>',
    "link": "/features/specialised-dyslexic-fonts"
    },





    {
    "title": "Dyslexia Ruler",
    "description": "Our Dyslexia ruler helps to follow the text on the screen easier and block out distracting content. It can be any colour to improve the accessibility of the text your reading. ",
    "icon": '     <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current" viewBox="0 0 24 24" fill="none"> <path d="M4 6H3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 11H2V7h2v4h1V7h2v4h1V7h2v4h1V7h2v4h1V7V7H14V7H16V11H17V7V7H19H19V11V11H20H20H20V7h2v10z"/></svg>',
    "link": "/features/ruler"
    },







    {


    "title": "Styles & Themes",
    "description": "Change background, highlight & font colors to help with focus and improve reading.",
    "link": "/features/styles",
    'icon': ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"/></svg>'
    },

    {
    "title": "Overlays",
    "description": "A colour overlay is available to help those with Irlen Syndrome or those who dislike a web page's base colour but don't want to change it entirely.",
    "link": "/features/overlay",
    "icon": ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"/></svg>'
    },




    {



    "title": "Color blindness",
    "description": "Color blindness features including Emphasize Links and stroke text",
    "link": "/features/color-blindness",
    "icon": ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/></svg>'
    },


    {


    "title": "Dictionary",
    "description": "Quickly look up word definitions with audio pronunciation as you browse the web, including synonyms, Etymology and related words.",
    "link": "/features/dictionary",
    "icon": ' <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"/></svg>'
    },

    {
    "title": "Privacy",
    "description": "We never sell, store, or consume any user data. We do not store data or any other user-related content.",
    "link": "/features/privacy",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"/></svg>'
    },
    {


    "title": "Text to Speech",
    "description": "Turn text into lifelike natural speech. Helperbird can read aloud the content of any web pages, ebooks and pdfs with natural sounding voices.",
    "link": "/features/text-to-speech",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"/></svg>'
    },



    {


    "title": "Dictation",
    "description": "Type text using your voice. Speak using your voice, and it will be typed into a notepad where you can edit it.",
    "link": "/features/speech-to-text",
    "icon": '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff" class="flex-shrink-0 h-6 w-6 text-gray-400 stroke-current"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/></svg>'
    },












  ]


.relative.bg-gray-50.shadow-lg#nav
  .max-w-7xl.mx-auto.px-4(class='sm:px-6')
    .flex.justify-between.items-center.py-6(class='md:justify-start md:space-x-10')
      .flex.justify-start(class='lg:w-0 lg:flex-1')
        a(href='/')
          span.sr-only Helperbird
          img.h-8.w-auto(class='sm:h-10' loading="lazy" src='/assets/images/pwa/logo/full.png' alt='Helperbirds logo of an owl')
      .-mr-2.-my-2(class='md:hidden')
        button.bg-gray-50.rounded-md.p-2.inline-flex.items-center.justify-center.text-gray-400(@click="handleMobileMenu" type='button' class='hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500')
          span.sr-only Open menu
          // Heroicon name: menu
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
      nav.hidden.space-x-10(class='md:flex')
        a.text-base.font-medium.text-gray-500(href='/about' title="Learn about Helperbird" class='hover:text-gray-900')
          | About
        div
          // Item active: "text-gray-900", Item inactive: "text-gray-500"
          button.group.bg-gray-50.rounded-md.text-gray-500.inline-flex.items-center.text-base.font-medium(@click="handleFeatures" type='button' class='hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
            span Features

            svg.ml-2.h-5.w-5.text-gray-400(class='group-hover:text-gray-500' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')


          .hidden.absolute.z-10.top-full.inset-x-0.transform.shadow-lg.bg-white(class='md:block' v-bind:style="showFeatures  === true  ?'display:block !important;' : 'display: none !important;'")
            .absolute.inset-0.flex(aria-hidden='true')
              .bg-white(class='w-1/2')
              .bg-gray-50(class='w-1/2')
            .relative.max-w-7xl.mx-auto.grid.grid-cols-1(class='lg:grid-cols-2')
              nav.grid.gap-y-10.px-4.py-8.bg-white.px-4.py-8(class='sm:py-12 sm:px-6 lg:px-8 xl:pl-12' aria-labelledby='solutionsHeading')
                h2#solutionsHeading.sr-only Solutions menu
                div
                  h3.text-sm.font-medium.tracking-wide.text-gray-500.uppercase
                    | Popular features
                  ul.grid.grid-cols-2.pt-4.pb-8(class='sm:grid-cols-2 sm:gap-x-8   pt-4 pb-8' )
                    each val in features    
                      li.mt-5.mb-5
                        a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href= val.link class='hover:bg-gray-50')

                          span!=  val.icon

                          span.ml-4 
                            | #{val.title}


                  .max-w-7xl.mx-auto.space-y-6.-m-3.p-3(class='sm:flex sm:space-y-0')
                    .flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium(href='/features' class='hover:bg-gray-100  px-8 py-3 border border-transparent font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 ')
                        span.ml-3 See all features




              .bg-gray-50.px-4.py-8(class='sm:py-12 sm:px-6 lg:px-8 xl:pl-12')
                div
                  h3.text-sm.font-medium.tracking-wide.text-gray-500.uppercase
                    | Highlights
                  ul.mt-6.space-y-6
                    li.flow-root
                      a.-m-3.p-3.flex.rounded-lg.transition.ease-in-out.duration-150(href='/features/specialised-dyslexic-fonts' class='hover:bg-gray-100')
                        .hidden.flex-shrink-0(class='sm:block')
                          img.w-32.h-20.object-cover.rounded-md(src='https://img.youtube.com/vi/ylAICmLakaA/sddefault.jpg' alt='')
                        .min-w-0.flex-1(class='sm:ml-8')
                          h4.text-base.font-medium.text-gray-900.truncate
                            | How to change fonts on any website
                          p.mt-1.text-sm.text-gray-500
                            | Change the font to any specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Lexend and more.
                    li.flow-root
                      a.-m-3.p-3.flex.rounded-lg.transition.ease-in-out.duration-150(href='/features/annotation' class='hover:bg-gray-100')
                        .hidden.flex-shrink-0(class='sm:block')
                          img.w-32.h-20.object-cover.rounded-md(src='https://img.youtube.com/vi/u67t7Ap61Nc/sddefault.jpg' alt='')
                        .min-w-0.flex-1(class='sm:ml-8')
                          h4.text-base.font-medium.text-gray-900.truncate
                            | How to add sticky notes/annotate to any website
                          p.mt-1.text-sm.text-gray-500
                            | Highlight or annotate web pages documents, pdfs, ebooks and more content to improve engagement and study.
                .mt-6.text-sm.font-medium





        a.text-base.font-medium.text-gray-500(href='/pricing' class='hover:text-gray-900')
          | Pricing
          span.ml-3.inline-flex.items-center.px-3.rounded-full.text-xs.font-medium.leading-5.bg-indigo-100.text-indigo-800(class='py-0.5')
            | Sale

        div
          // Item active: "text-gray-900", Item inactive: "text-gray-500"
          button.group.bg-gray-50.rounded-md.text-gray-500.inline-flex.items-center.text-base.font-medium(type='button' @click="handleProducts" class='hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
            span Products
            //
              Heroicon name: chevron-down
              Item active: "text-gray-600", Item inactive: "text-gray-400"
            svg.ml-2.h-5.w-5.text-gray-400(class='group-hover:text-gray-500' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')
          //
            'More' flyout menu, show/hide based on flyout menu state.
            Entering: "transition ease-out duration-200"
            From: "opacity-0 translate-y-1"
            To: "opacity-100 translate-y-0"
            Leaving: "transition ease-in duration-150"
            From: "opacity-100 translate-y-0"
            To: "opacity-0 translate-y-1"

          .hidden.absolute.z-10.top-full.inset-x-0.transform.shadow-lg.bg-white(class='md:block' v-bind:style="showProducts  === true  ?'display:block !important;' : 'display: none !important;'")
            .max-w-7xl.mx-auto.grid.gap-y-6.px-4.py-6(class='sm:grid-cols-2 sm:gap-8 sm:px-6 sm:py-8 lg:grid-cols-4 lg:px-8 lg:py-12 xl:py-16')
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='/chrome' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/chart-bar
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Helperbird
                      p.mt-1.text-sm.text-gray-500
                        | Our world famous Chrome, Edge & Firefox browser extension.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='/products/widget' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-yellow-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/cursor-click
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Helperbird for Websites
                      p.mt-1.text-sm.text-gray-500
                        | Add the Helperbird features to your website.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='/products/accessibility-checker' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-green-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/shield-check
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Accessibility Checker
                      p.mt-1.text-sm.text-gray-500
                        | A browser extension to check for accessibility issues on any website.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='/products/ipad' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-pink-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/view-grid
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Helperbird iPad app
                      p.mt-1.text-sm.text-gray-500
                        | Coming September 2021
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;




        .div

          // Item active: "text-gray-900", Item inactive: "text-gray-500"
          button.group.bg-gray-50.rounded-md.text-gray-500.inline-flex.items-center.text-base.font-medium(type='button' @click="handleCommon" class='hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
            span Compare
            //
              Heroicon name: chevron-down
              Item active: "text-gray-600", Item inactive: "text-gray-400"
            svg.ml-2.h-5.w-5.text-gray-400(class='group-hover:text-gray-500' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')

          .hidden.absolute.z-10.top-full.inset-x-0.transform.shadow-lg.bg-white(class='md:block' v-bind:style="showCompare  === true  ?'display:block !important;' : 'display: none !important;'")
            .max-w-7xl.mx-auto.grid.gap-y-6.px-4.py-6(class='sm:grid-cols-2 sm:gap-8 sm:px-6 sm:py-8 lg:grid-cols-4 lg:px-8 lg:py-12 xl:py-16')
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='/compare/snap-and-read-alternativ' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/chart-bar
                      img.h-6.w-6(src="https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/product_image_aspect_switcher_170w/public/product-images/csm-app/snapandread-product-image.png?itok=dwFNPMNe")
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Snap & Read
                      p.mt-1.text-sm.text-gray-500
                        | See how Helperbird compares to Snap & Read.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='/compare/immersive-reader-by-microsoft-alternative' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/cursor-click
                      img.h-6.w-6(src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/480px-Microsoft_logo.svg.png")
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Immersive reader
                      p.mt-1.text-sm.text-gray-500
                        | See how Helperbird compares to Immersive reader.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='/compare/read-and-write-alternative' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/shield-check
                      img.h-6.w-6(src="https://cdn3.volusion.com/uwksd.uykdw/v/vspfiles/photos/TXTRWG11-2.jpg?v-cache=1495772427")
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Read & Write
                      p.mt-1.text-sm.text-gray-500
                        | See how Helperbird compares to  Read & Write.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;


        .relative

          // Item active: "text-gray-900", Item inactive: "text-gray-500"
          button.group.bg-white.rounded-md.text-gray-500.inline-flex.items-center.text-base.font-medium(type='button' @click="handleSupport" class='hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' )
            span Help center
            //
              Heroicon name: chevron-down
              Item active: "text-gray-600", Item inactive: "text-gray-400"
            svg.ml-2.h-5.w-5.text-gray-400(class='group-hover:text-gray-500' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')


          .hidden.absolute.-ml-4.mt-3.transform.z-10.px-2.w-screen.max-w-md(class='sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2',v-bind:style="showSupport === true ?'display:block !important;' : 'display: none !important;'", style="display=")
            .rounded-lg.shadow-lg.ring-1.ring-black.ring-opacity-5.overflow-hidden
              .relative.grid.gap-6.bg-white.px-5.py-6(class='sm:gap-8 sm:p-8')
                a.-m-3.p-3.flex.items-start.rounded-lg(href='/tutorials' class='hover:bg-gray-50')
                  // Heroicon name: chart-bar
                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z')

                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Video tutorials



                a.-m-3.p-3.flex.items-start.rounded-lg(href='/partners/' class='hover:bg-gray-50')
                  // Heroicon name: shield-check

                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01')


                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Partners
                a.-m-3.p-3.flex.items-start.rounded-lg(href='/blog/' target="_blank" class='hover:bg-gray-50')
                  // Heroicon name: view-grid

                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z')

                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Blog
                a.-m-3.p-3.flex.items-start.rounded-lg(href='https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw' target="_blank" class='hover:bg-gray-50')
                  // Heroicon name: view-grid

                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 12a9 9 0 11-18 0 9 9 0 0118 0z')



                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Youtube channel

                a.-m-3.p-3.flex.items-start.rounded-lg(href='/support' class='hover:bg-gray-50')
                  // Heroicon name: cursor-click

                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z')


                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Support



      .hidden.items-center.justify-end(class='md:flex md:flex-1 lg:w-0')
        a.ml-8.whitespace-nowrap.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-white.bg-indigo-600(href="/login" title="login page for Helperbird" class='hover:bg-indigo-700')
          | Login
        button.ml-8.whitespace-nowrap.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-white.bg-indigo-600(@click="handleModal" role="button" class='hover:bg-indigo-700')
          | Try for Free



  //
    Mobile menu, show/hide based on mobile menu state.
    Entering: "duration-200 ease-out"
    From: "opacity-0 scale-95"
    To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
    From: "opacity-100 scale-100"
    To: "opacity-0 scale-95"
  .absolute.top-0.inset-x-0.z-10.p-2.transition.transform.origin-top-right(class='md:hidden')
    .rounded-lg.shadow-lg.ring-1.ring-black.ring-opacity-5.bg-gray-50.divide-y-2.divide-gray-50( v-bind:style="showMenu  === true  ?'display:block !important;' : 'display: none !important;'")
      .pt-5.pb-6.px-5
        .flex.items-center.justify-between
          div
            img.h-8.w-auto(loading="lazy" src='/assets/images/pwa/logo/full.png' alt='Helperbird owl logo')
          .-mr-2
            button.bg-gray-50.rounded-md.p-2.inline-flex.items-center.justify-center.text-gray-400(@click="handleMobileMenu" type='button' class='hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500')
              span.sr-only Close menu
              // Heroicon name: x
              svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
        .mt-6
          nav.grid.gap-y-8
            a.-m-3.p-3.flex.items-center.rounded-md(href='/about'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
              span.ml-3.text-base.font-medium.text-gray-900
              | About
            a.-m-3.p-3.flex.items-center.rounded-md(href='/features'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
              span.ml-3.text-base.font-medium.text-gray-900
              | Features
            a.-m-3.p-3.flex.items-center.rounded-md(href='/pricing'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
              span.ml-3.text-base.font-medium.text-gray-900
                | Pricing
              span.ml-3.inline-flex.items-center.px-3.rounded-full.text-xs.font-medium.leading-5.bg-indigo-100.text-indigo-800(class='py-0.5')
                | Sale


            a.-m-3.p-3.flex.items-center.rounded-md(href='/support'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
              span.ml-3.text-base.font-medium.text-gray-900
                | Help Center
            a.-m-3.p-3.flex.items-center.rounded-md(href='/support'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(fill='#fff' d='M12 14l9-5-9-5-9 5 9 5z')
                path(fill='#fff' d='M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222')

              span.ml-3.text-base.font-medium.text-gray-900
                | Guides

      .py-6.px-5.space-y-6
        .grid.grid-cols-2.gap-y-4.gap-x-8
          a.text-base.font-medium.text-gray-900(href='/about' class='hover:text-gray-700')
            | About
          a.text-base.font-medium.text-gray-900(href='/features' class='hover:text-gray-700')
            | Features
          a.text-base.font-medium.text-gray-900(href='/pricing' class='hover:text-gray-700')
            | Pricing
          a.text-base.font-medium.text-gray-900(href='/support' class='hover:text-gray-700')
            | Help Center
          a.text-base.font-medium.text-gray-900(href='/support' class='hover:text-gray-700')
            | Guides
        div
          button.w-full.flex.items-center.justify-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-white.bg-indigo-600(class='hover:bg-indigo-700')
            | Try it Free
  include modal.pug