header.header
  .container-xlrg
    .flex.col-12.spread
      a.logo.primary-color.launchaco-builder-hoverable.logo(href='/', title="Link back to Helperbirds home page")
        img(alt='Helperbird Logo', src='/assets/images/pwa/logo/full.png')
        | Helperbird
      a.menu-toggle#menu(href='#main-menu', title="menu button")
        b.nav-link.mr0.secondary-color ☰
      nav.main-menu#main-menu(role='navigation')
        a.menu-close#main-menu-close(href='#')
          span.bold ✕
        a.nav-link.secondary-color(href='/about', title="About Helperbird") About
        a.nav-link.secondary-color(href='/features', title="Learn about Helperbirds features") Features
        a.nav-link.secondary-color(href='/pricing', title="Learn about Helperbirds Pricing") Pricing
        a.nav-link.secondary-color(href='/support', title="Contact Helperbird support") Support
        button.nav-link.secondary-color.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-signup.primary-color(data-target='#downloadModal', data-toggle='modal', type='button') Download Helperbird