.relative.bg-gray-50.shadow-lg#nav
  .max-w-7xl.mx-auto.px-4(class='sm:px-6')
    .flex.justify-between.items-center.py-6(class='md:justify-start md:space-x-10')
      .flex.justify-start(class='lg:w-0 lg:flex-1')
        a(href='/')
          span.sr-only Helperbird
          img.h-8.w-auto(class='sm:h-10' loading="lazy" src='/assets/images/pwa/logo/full.png' alt='Helperbirds logo of an owl')
      .-mr-2.-my-2(class='md:hidden')
        button.bg-gray-50.rounded-md.p-2.inline-flex.items-center.justify-center.text-gray-400(@click="handleMobileMenu" type='button' class='hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500')
          span.sr-only Open menu
          // Heroicon name: menu
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
      nav.hidden.space-x-10(class='md:flex')
        a.text-base.font-medium.text-gray-500(href='/about' title="Learn about Helperbird" class='hover:text-gray-900')
          | About
        div
          // Item active: "text-gray-900", Item inactive: "text-gray-500"
          button.group.bg-gray-50.rounded-md.text-gray-500.inline-flex.items-center.text-base.font-medium(@click="handleFeatures" type='button' class='hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
            span Features

            svg.ml-2.h-5.w-5.text-gray-400(class='group-hover:text-gray-500' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')


          .hidden.absolute.z-10.top-full.inset-x-0.transform.shadow-lg.bg-white(class='md:block' v-bind:style="showFeatures ?'display:block !important;' : 'display: none !important;'")
            .absolute.inset-0.flex(aria-hidden='true')
              .bg-white(class='w-1/2')
              .bg-gray-50(class='w-1/2')
            .relative.max-w-7xl.mx-auto.grid.grid-cols-1(class='lg:grid-cols-2')
              nav.grid.gap-y-10.px-4.py-8.bg-white(class='sm:grid-cols-2 sm:gap-x-8 sm:py-12 sm:px-6 lg:px-8 xl:pr-12' aria-labelledby='solutionsHeading')
                h2#solutionsHeading.sr-only Solutions menu
                div
                  h3.text-sm.font-medium.tracking-wide.text-gray-500.uppercase
                    | Company
                  ul.mt-5.space-y-6
                    li.flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-50')
                        // Heroicon name: outline/information-circle
                        svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
                        span.ml-4 About
                    li.flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-50')
                        // Heroicon name: outline/office-building
                        svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4')
                        span.ml-4 Customers
                    li.flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-50')
                        // Heroicon name: outline/newspaper
                        svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z')
                        span.ml-4 Press
                    li.flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-50')
                        // Heroicon name: outline/briefcase
                        svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
                        span.ml-4 Careers
                    li.flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-50')
                        // Heroicon name: outline/shield-check
                        svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z')
                        span.ml-4 Privacy
                div
                  h3.text-sm.font-medium.tracking-wide.text-gray-500.uppercase
                    | Resources
                  ul.mt-5.space-y-6
                    li.flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-50')
                        // Heroicon name: outline/user-group
                        svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z')
                        span.ml-4 Community
                    li.flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-50')
                        // Heroicon name: outline/globe-alt
                        svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9')
                        span.ml-4 Partners
                    li.flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-50')
                        // Heroicon name: outline/bookmark-alt
                        svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z')
                        span.ml-4 Guides
                    li.flow-root
                      a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-50')
                        // Heroicon name: outline/desktop-computer
                        svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
                        span.ml-4 Webinars
              .bg-gray-50.px-4.py-8(class='sm:py-12 sm:px-6 lg:px-8 xl:pl-12')
                div
                  h3.text-sm.font-medium.tracking-wide.text-gray-500.uppercase
                    | From the blog
                  ul.mt-6.space-y-6
                    li.flow-root
                      a.-m-3.p-3.flex.rounded-lg.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-100')
                        .hidden.flex-shrink-0(class='sm:block')
                          img.w-32.h-20.object-cover.rounded-md(src='https://images.unsplash.com/photo-1558478551-1a378f63328e?ixlib=rb-1.2.1&ixqx=eMSEcGHuwA&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2849&q=80' alt='')
                        .min-w-0.flex-1(class='sm:ml-8')
                          h4.text-base.font-medium.text-gray-900.truncate
                            | Boost your conversion rate
                          p.mt-1.text-sm.text-gray-500
                            | Eget ullamcorper ac ut vulputate fames nec mattis pellentesque elementum. Viverra tempor id mus.
                    li.flow-root
                      a.-m-3.p-3.flex.rounded-lg.transition.ease-in-out.duration-150(href='#' class='hover:bg-gray-100')
                        .hidden.flex-shrink-0(class='sm:block')
                          img.w-32.h-20.object-cover.rounded-md(src='https://images.unsplash.com/1/apple-gear-looking-pretty.jpg?ixlib=rb-1.2.1&ixqx=eMSEcGHuwA&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80' alt='')
                        .min-w-0.flex-1(class='sm:ml-8')
                          h4.text-base.font-medium.text-gray-900.truncate
                            | How to use search engine optimization to drive traffic to your site
                          p.mt-1.text-sm.text-gray-500
                            | Eget ullamcorper ac ut vulputate fames nec mattis pellentesque elementum. Viverra tempor id mus.
                .mt-6.text-sm.font-medium
                  a.text-indigo-600.transition.ease-in-out.duration-150(href='#' class='hover:text-indigo-500')
                    | View all posts 
                    span(aria-hidden='true') &rarr;



        a.text-base.font-medium.text-gray-500(href='/pricing' class='hover:text-gray-900')
          | Pricing
          span.ml-3.inline-flex.items-center.px-3.rounded-full.text-xs.font-medium.leading-5.bg-indigo-100.text-indigo-800(class='py-0.5')
            | Sale

        div
          // Item active: "text-gray-900", Item inactive: "text-gray-500"
          button.group.bg-gray-50.rounded-md.text-gray-500.inline-flex.items-center.text-base.font-medium(type='button' @click="handleProducts" class='hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
            span Products
            //
              Heroicon name: chevron-down
              Item active: "text-gray-600", Item inactive: "text-gray-400"
            svg.ml-2.h-5.w-5.text-gray-400(class='group-hover:text-gray-500' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')
          //
            'More' flyout menu, show/hide based on flyout menu state.
            Entering: "transition ease-out duration-200"
            From: "opacity-0 translate-y-1"
            To: "opacity-100 translate-y-0"
            Leaving: "transition ease-in duration-150"
            From: "opacity-100 translate-y-0"
            To: "opacity-0 translate-y-1"

          .hidden.absolute.z-10.top-full.inset-x-0.transform.shadow-lg.bg-white(class='md:block' v-bind:style="showProducts ?'display:block !important;' : 'display: none !important;'")
            .max-w-7xl.mx-auto.grid.gap-y-6.px-4.py-6(class='sm:grid-cols-2 sm:gap-8 sm:px-6 sm:py-8 lg:grid-cols-4 lg:px-8 lg:py-12 xl:py-16')
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='#' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/chart-bar
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Analytics
                      p.mt-1.text-sm.text-gray-500
                        | Get a better understanding of where your traffic is coming from.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='#' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/cursor-click
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Engagement
                      p.mt-1.text-sm.text-gray-500
                        | Speak directly to your customers in a more meaningful way.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='#' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/shield-check
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Security
                      p.mt-1.text-sm.text-gray-500
                        | Your customers&apos; data will be safe and secure.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='#' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/view-grid
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Integrations
                      p.mt-1.text-sm.text-gray-500
                        | Connect with third-party tools that you&apos;re already using.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
            .bg-gray-50
              .max-w-7xl.mx-auto.space-y-6.px-4.py-5(class='sm:flex sm:space-y-0 sm:space-x-10 sm:px-6 lg:px-8')
                .flow-root
                  a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900(href='#' class='hover:bg-gray-100')
                    // Heroicon name: outline/play
                    svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
                    span.ml-3 Watch Demo
                .flow-root
                  a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900(href='#' class='hover:bg-gray-100')
                    // Heroicon name: outline/check-circle
                    svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z')
                    span.ml-3 View All Products
                .flow-root
                  a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900(href='#' class='hover:bg-gray-100')
                    // Heroicon name: outline/phone
                    svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z')
                    span.ml-3 Contact Sales

   
        .div

          // Item active: "text-gray-900", Item inactive: "text-gray-500"
          button.group.bg-gray-50.rounded-md.text-gray-500.inline-flex.items-center.text-base.font-medium(type='button' @click="handleCommon" class='hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
            span Compare
            //
              Heroicon name: chevron-down
              Item active: "text-gray-600", Item inactive: "text-gray-400"
            svg.ml-2.h-5.w-5.text-gray-400(class='group-hover:text-gray-500' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')

          .hidden.absolute.z-10.top-full.inset-x-0.transform.shadow-lg.bg-white(class='md:block' v-bind:style="showCompare ?'display:block !important;' : 'display: none !important;'")
            .max-w-7xl.mx-auto.grid.gap-y-6.px-4.py-6(class='sm:grid-cols-2 sm:gap-8 sm:px-6 sm:py-8 lg:grid-cols-4 lg:px-8 lg:py-12 xl:py-16')
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='#' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/chart-bar
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Analytics
                      p.mt-1.text-sm.text-gray-500
                        | Get a better understanding of where your traffic is coming from.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='#' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/cursor-click
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Engagement
                      p.mt-1.text-sm.text-gray-500
                        | Speak directly to your customers in a more meaningful way.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='#' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/shield-check
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Security
                      p.mt-1.text-sm.text-gray-500
                        | Your customers&apos; data will be safe and secure.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
              a.-m-3.p-3.flex.flex-col.justify-between.rounded-lg(href='#' class='hover:bg-gray-50')
                .flex(class='md:h-full lg:flex-col')
                  .flex-shrink-0
                    span.inline-flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white(class='sm:h-12 sm:w-12')
                      // Heroicon name: outline/view-grid
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z')
                  .ml-4(class='md:flex-1 md:flex md:flex-col md:justify-between lg:ml-0 lg:mt-4')
                    div
                      p.text-base.font-medium.text-gray-900
                        | Integrations
                      p.mt-1.text-sm.text-gray-500
                        | Connect with third-party tools that you&apos;re already using.
                    p.mt-2.text-sm.font-medium.text-indigo-600(class='lg:mt-4')
                      | Learn more 
                      span(aria-hidden='true') &rarr;
            .bg-gray-50
              .max-w-7xl.mx-auto.space-y-6.px-4.py-5(class='sm:flex sm:space-y-0 sm:space-x-10 sm:px-6 lg:px-8')
                .flow-root
                  a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900(href='#' class='hover:bg-gray-100')
                    // Heroicon name: outline/play
                    svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
                    span.ml-3 Watch Demo
                .flow-root
                  a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900(href='#' class='hover:bg-gray-100')
                    // Heroicon name: outline/check-circle
                    svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z')
                    span.ml-3 View All Products
                .flow-root
                  a.-m-3.p-3.flex.items-center.rounded-md.text-base.font-medium.text-gray-900(href='#' class='hover:bg-gray-100')
                    // Heroicon name: outline/phone
                    svg.flex-shrink-0.h-6.w-6.text-gray-400(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z')
                    span.ml-3 Contact Sales

        .relative

          // Item active: "text-gray-900", Item inactive: "text-gray-500"
          button.group.bg-white.rounded-md.text-gray-500.inline-flex.items-center.text-base.font-medium(type='button' @click="handleSupport" class='hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' )
            span Help center
            //
              Heroicon name: chevron-down
              Item active: "text-gray-600", Item inactive: "text-gray-400"
            svg.ml-2.h-5.w-5.text-gray-400(class='group-hover:text-gray-500' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')


          .absolute.-ml-4.mt-3.transform.z-10.px-2.w-screen.max-w-md.hidden(class='sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2',v-bind:style="showSupport ?'display:block !important;' : 'display: none !important;'")
            .rounded-lg.shadow-lg.ring-1.ring-black.ring-opacity-5.overflow-hidden
              .relative.grid.gap-6.bg-white.px-5.py-6(class='sm:gap-8 sm:p-8')
                a.-m-3.p-3.flex.items-start.rounded-lg(href='/tutorials' class='hover:bg-gray-50')
                  // Heroicon name: chart-bar
                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z')

                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Video tutorials



                a.-m-3.p-3.flex.items-start.rounded-lg(href='/partners/' class='hover:bg-gray-50')
                  // Heroicon name: shield-check

                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20.618 5.984A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016zM12 9v2m0 4h.01')

                                    
                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Partners
                a.-m-3.p-3.flex.items-start.rounded-lg(href='/blog' target="_blank" class='hover:bg-gray-50')
                  // Heroicon name: view-grid
  
                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z')

                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Blog
                a.-m-3.p-3.flex.items-start.rounded-lg(href='https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw' target="_blank" class='hover:bg-gray-50')
                  // Heroicon name: view-grid

                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21 12a9 9 0 11-18 0 9 9 0 0118 0z')

                                  
                                  
                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Youtube channel

                a.-m-3.p-3.flex.items-start.rounded-lg(href='/support' class='hover:bg-gray-50')
                  // Heroicon name: cursor-click

                  svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z')

                  
                  .ml-4
                    p.text-base.font-medium.text-gray-900
                      | Support



      .hidden.items-center.justify-end(class='md:flex md:flex-1 lg:w-0')

        button.ml-8.whitespace-nowrap.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-white.bg-indigo-600(@click="handleModal" role="button" class='hover:bg-indigo-700')
          | Try for Free



  //
    Mobile menu, show/hide based on mobile menu state.
    Entering: "duration-200 ease-out"
    From: "opacity-0 scale-95"
    To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
    From: "opacity-100 scale-100"
    To: "opacity-0 scale-95"
  .absolute.top-0.inset-x-0.z-10.p-2.transition.transform.origin-top-right(class='md:hidden')
    .rounded-lg.shadow-lg.ring-1.ring-black.ring-opacity-5.bg-gray-50.divide-y-2.divide-gray-50( v-bind:style="showMenu ?'display:block !important;' : 'display: none !important;'")
      .pt-5.pb-6.px-5
        .flex.items-center.justify-between
          div
            img.h-8.w-auto(loading="lazy" src='/assets/images/pwa/logo/full.png' alt='Workflow')
          .-mr-2
            button.bg-gray-50.rounded-md.p-2.inline-flex.items-center.justify-center.text-gray-400(@click="handleMobileMenu" type='button' class='hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500')
              span.sr-only Close menu
              // Heroicon name: x
              svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
        .mt-6
          nav.grid.gap-y-8
            a.-m-3.p-3.flex.items-center.rounded-md(href='/about'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
              span.ml-3.text-base.font-medium.text-gray-900
              | About
            a.-m-3.p-3.flex.items-center.rounded-md(href='/features'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
              span.ml-3.text-base.font-medium.text-gray-900
              | Features
            a.-m-3.p-3.flex.items-center.rounded-md(href='/pricing'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
              span.ml-3.text-base.font-medium.text-gray-900
                | Pricing
              span.ml-3.inline-flex.items-center.px-3.rounded-full.text-xs.font-medium.leading-5.bg-indigo-100.text-indigo-800(class='py-0.5')
                | Sale


            a.-m-3.p-3.flex.items-center.rounded-md(href='/support'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z')
              span.ml-3.text-base.font-medium.text-gray-900
                | Help Center
            a.-m-3.p-3.flex.items-center.rounded-md(href='/support'  class='hover:bg-gray-50')
              svg.flex-shrink-0.h-6.w-6.text-indigo-600(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' aria-hidden='true')
                path(fill='#fff' d='M12 14l9-5-9-5-9 5 9 5z')
                path(fill='#fff' d='M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222')

              span.ml-3.text-base.font-medium.text-gray-900
                | Guides

      .py-6.px-5.space-y-6
        .grid.grid-cols-2.gap-y-4.gap-x-8
          a.text-base.font-medium.text-gray-900(href='/about' class='hover:text-gray-700')
            | About
          a.text-base.font-medium.text-gray-900(href='/features' class='hover:text-gray-700')
            | Features
          a.text-base.font-medium.text-gray-900(href='/pricing' class='hover:text-gray-700')
            | Pricing
          a.text-base.font-medium.text-gray-900(href='/support' class='hover:text-gray-700')
            | Help Center
          a.text-base.font-medium.text-gray-900(href='/support' class='hover:text-gray-700')
            | Guides
        div
          button.w-full.flex.items-center.justify-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-white.bg-indigo-600(class='hover:bg-indigo-700')
            | Try it Free
  include modal.pug