---
layout: templates/base.html
title: Snap & Read vs. Helperbird - Compare Snap & Read Alternatives & Helperbird | Helperbird
description: Compare Helperbird and Snap & Read and see ways to use both together.
keywords:
  Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /compare/snap-and-read-alternative/
---


<div class="relative overflow-hidden">
	<div class="relative">
		<div class="mt-16 mx-auto max-w-4xl px-4 sm:mt-24 sm:px-6">
			<div class="text-center">
				<h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"><span class="block">Helperbird vs Snap &amp; Read</span></h1>
				<p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">See why over 500,000 of people choose Helperbird over Snap &amp; Read to give them more accessibility over their work.</p>
				<div class="mt-5 sm:mt-8 sm:flex justify-center lg:justify-center">
					<div class="rounded-md shadow">
						<a class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 md:py-4 md:text-lg md:px-10" href="/pricing/">Get started</a>
					</div>
					<div class="mt-3 sm:mt-0 sm:ml-3">
						<a class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-pink-700 bg-pink-100 hover:bg-pink-200 md:py-4 md:text-lg md:px-10" href="/demo">Live demo</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="relative mt-8">
		<div aria-hidden="true" class="absolute inset-0 flex flex-col">
			<div class="flex-1"></div>
			<div class="flex-1 w-full bg-gray-800"></div>
		</div>
		<div class="max-w-3xl mx-auto px-4 sm:px-6">
			<video autoplay="autoplay" class="relative rounded-lg shadow-lg" control="control" loop="loop" muted="muted" playsinline="playsinline"><source src="/assets/videos/home.webm" type="video/webm"><source src="/assets/videos/home.mp4" type="video/mp4"></video>
		</div>
	</div>
</div>
<div class="bg-gray-800">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:px-8">
		<h2 class="text-center text-gray-400 text-sm font-semibold uppercase tracking-wide">TRUSTED BY OVER 500,000 FORWARD-THINKING USERS</h2>
		<div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1"><img alt="Tuple" class="h-12" src="/assets/images/logo/microsoft.png"></div>
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1"><img alt="Mirage" class="h-12" src="/assets/images/logo/gusto.png"></div>
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1"><img alt="StaticKit" class="h-12" src="/assets/images/logo/neveda.png"></div>
			<div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1"><img alt="Transistor" class="h-12" src="/assets/images/logo/school.png"></div>
			<div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1"><img alt="Workcation" class="h-12" src="/assets/images/logo/rio-texas.png"></div>
		</div>
	</div>
</div>
<section class="py-8">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
		<div class="text-center">
			<h2 class="text-base font-semibold text-pink-600 tracking-wide uppercase">Compare</h2>
			<p
				class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl"
			>
				What you can expect with Helperbird
			</p>
			<p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
				Over 500,000 use Helperbird every day. Allowing them to be more accessible and productive on
				the web.
			</p>
		</div>
	</div>
	<div class="flex flex-col flex flex-col max-w-4xl mx-auto">
		<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
			<div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
				<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
					<table class="w-full divide-y divide-gray-200">
						<thead class="bg-gray-50">
							<tr>
								<th
									class="
										px-6
										py-3
										text-left text-xs
										font-medium
										text-gray-500
										uppercase
										tracking-wider
									"
									scope="col"
								>
									Features
								</th>
								<th
									class="
										px-6
										py-3
										text-left text-xs
										font-medium
										text-gray-500
										uppercase
										tracking-wider
									"
									scope="col"
								>
									<img
										alt="Helperbird Logo"
										loading="lazy"
										src="/assets/images/pwa/logo/full.png"
										width="60px"
									/>
								</th>
								<th
									class="
										px-6
										py-3
										text-left text-xs
										font-medium
										text-gray-500
										uppercase
										tracking-wider
									"
									scope="col"
								>
									<img
										alt="Helperbird Logo"
										loading="lazy"
										src="https://d2e111jq13me73.cloudfront.net/sites/default/files/styles/product_image_aspect_switcher_170w/public/product-images/csm-app/snapandread-product-image.png?itok=dwFNPMNe"
										width="60px"
									/>
								</th>
							</tr>
						</thead>
						<tbody class="bg-gray-50 divide-y divide-gray-200">
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Font changer</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Dyslexia fonts</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Readability Analyzer</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Magnifier</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Word spacing</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Line height</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Letter spacing</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Reader mode</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Immersive Reader</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Screenshot tools</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Screenshot reader</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Printing tools</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Translation</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">annotation tooling</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Analyze</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Highlight paragraphs</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">PDF editor</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Dynamic Text Leveling</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Volume control</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Readability Analyzer</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Extract text from images (OCR)</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Emphasize Links</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Color blindess tools</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Dyslexia ruler</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Dyslexia ruler options</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Overlay</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Overlay options</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Adblocker</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">High contrast</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Hide images</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Remove flashing images</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Reading mask</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Line focus</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Coginitive load</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Text to speech</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Text to speech options</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Dynamic Text Leveling</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">14 natural voices</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Cursor options</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Auto scrolling</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Spell check</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Blocklist</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Color features</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Highlight options</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Font options</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Sync settings &amp; styles</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Themes</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Google doc support</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Word support</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Picture Dictionary</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Bibliographer</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Prediction</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Dictionary app</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Annotations app</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Text editor app</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Dication app</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">Bookmark app</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
							<tr>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-gray-900">iPad app</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="red"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M6 18L18 6M6 6l12 12"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-center">
									<div class="text-gray-900 text-center">
										<svg
											fill="none"
											stroke="green"
											viewbox="0 0 24 24"
											width="30px"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>



{% include common/reviews.html %} 

{% include common/questions.html %} 


{% include common/cta_one.html %} 