---
layout: templates/help.html
title: Helperbird Help Guides
youtubeId: PfILiWebkuc
cardTitle:  How to use Helperbird
description: Find solutions to common Helperbird issues and discover resources to help you get the most out of your Helperbird products. Our regularly updated help center covers a range of popular topics.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: help/
---

<div class="prose prose-slate max-w-none prose-headings:scroll-mt-28 prose-headings:font-display prose-headings:font-normal lg:prose-headings:scroll-mt-[8.5rem] prose-lead:text-slate-500  prose-a:font-semibold  prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.sky.300))] hover:prose-a:[--tw-prose-underline-size:6px] prose-pre:rounded-xl prose-pre:bg-slate-900 prose-pre:shadow-lg  ">
  <p class="lead">
    Maximize your productivity with our comprehensive guide to using all of Helperbird's amazing features.
  </p>
  <div class="not-prose my-12 grid grid-cols-1 gap-6 sm:grid-cols-2">
    <div class="group relative rounded-xl border border-slate-200 ">
      <div class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.sky.50)),var(--quick-links-hover-bg,theme(colors.sky.50)))_padding-box,linear-gradient(to_top,theme(colors.blue.400),theme(colors.cyan.400),theme(colors.sky.500))_border-box] group-hover:opacity-100 "></div>
      <div class="relative overflow-hidden rounded-xl p-6">
        <div>
          <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-blue-500 text-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-6 w-6"
              fill="#ffffff">
              <g><rect
                  fill="none"
                  height="24"
                  width="24" /></g>
              <g><path d="M12,2C6.49,2,2,6.49,2,12s4.49,10,10,10s10-4.49,10-10S17.51,2,12,2z M11,10V6h2v4h3l-4,4l-4-4H11z M17,17H7v-2h10V17z" /></g>
            </svg>
          </div>
        </div>
        <h2 class="mt-4 font-display text-base text-slate-900 ">
          <a href="/help/how-to-login-to-helperbird/">
            <span class="absolute -inset-px rounded-xl"></span>Installation</a>
        </h2>
        <p class="mt-1 text-sm text-black  ">
          Easily get started with Helperbird with our step-by-step guides. We cover everything from logging in to upgrading to Helperbird Pro.
        </p>
      </div>
    </div>
    <div class="group relative rounded-xl border border-slate-200 0">
      <div class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.sky.50)),var(--quick-links-hover-bg,theme(colors.sky.50)))_padding-box,linear-gradient(to_top,theme(colors.blue.400),theme(colors.cyan.400),theme(colors.sky.500))_border-box] group-hover:opacity-100 "></div>
      <div class="relative overflow-hidden rounded-xl p-6">
        <div>
          <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-blue-500 text-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-6 w-6"
              fill="#ffffff"><path d="M0 0h24v24H0z" fill="none" /><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z" /></svg>
          </div>
        </div>
        <h2 class="mt-4 font-display text-base text-slate-900 ">
          <a href="/help/how-to-stop-animations-on-any-website/">
            <span class="absolute -inset-px rounded-xl"></span>Features
            guide</a>
        </h2>
        <p class="mt-1 text-sm text-black  ">
          Unlock the full potential of Helperbird with our comprehensive guide to all 32+ powerful features. Learn how to use them to improve your productivity and efficiency.
        </p>
      </div>
    </div>
    <div class="group relative rounded-xl border border-slate-200 ">
      <div class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.sky.50)),var(--quick-links-hover-bg,theme(colors.sky.50)))_padding-box,linear-gradient(to_top,theme(colors.blue.400),theme(colors.cyan.400),theme(colors.sky.500))_border-box] group-hover:opacity-100 "></div>
      <div class="relative overflow-hidden rounded-xl p-6">
        <div>
          <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-blue-500 text-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              class="h-6 w-6"
              fill="#ffffff"><path d="M0 0h24v24H0z" fill="none" /><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z" /></svg>
          </div>
        </div>
        <h2 class="mt-4 font-display text-base text-slate-900 ">
          <a href="/help/helperbird-for-google-docs-addon/">
            <span class="absolute -inset-px rounded-xl"></span>Integrations</a>
        </h2>
        <p class="mt-1 text-sm text-black  ">
          Enhance your Google Docs and Slides experience with the official Helperbird plugin, offering a range of powerful extensions and features.
        </p>
      </div>
    </div>
    <div class="group relative rounded-xl border border-slate-200">
      <div class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.sky.50)),var(--quick-links-hover-bg,theme(colors.sky.50)))_padding-box,linear-gradient(to_top,theme(colors.blue.400),theme(colors.cyan.400),theme(colors.sky.500))_border-box] group-hover:opacity-100 "></div>
      <div class="relative overflow-hidden rounded-xl p-6">
        <div>
          <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-blue-500 text-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">


            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="#ffffff"
              viewBox="0 0 24 24">
              <g><rect
                  fill="none"
                  height="24"
                  width="24" /></g>
              <g><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 4c1.93 0 3.5 1.57 3.5 3.5S13.93 13 12 13s-3.5-1.57-3.5-3.5S10.07 6 12 6zm0 14c-2.03 0-4.43-.82-6.14-2.88C7.55 15.8 9.68 15 12 15s4.45.8 6.14 2.12C16.43 19.18 14.03 20 12 20z" /></g>
            </svg>
          </div>
        </div>
        <h2 class="mt-4 font-display text-base text-slate-900 ">
          <a href="/help/how-to-change-my-email/">
            <span class="absolute -inset-px rounded-xl"></span>Account</a>
        </h2>
        <p class="mt-1 text-sm text-black  ">
          Discover how to easily manage your account settings, including changing your email and password.
        </p>
      </div>
    </div>
  </div>


</div>