---
layout: templates/help.html
title: Helperbird Knowledge Base | Helperbird
description: Get help with common Helperbird topics. Updated daily. Learn more about popular topics and find resources that will help you with all of your Helperbird products.
keywords: Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /help/
---


<div class="mx-auto max-w-7xl card bg-base-100 text-base-conten">
  <div class=" card-body mx-auto grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6  lg:max-w-7xl  lg:grid-cols-1">
    <div>
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Helperbird Knowledge Base</h2>
      <p class="mt-4   text-black ">Get help with common Helperbird topics. Updated daily.     </p>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Getting started</dt>
          <dd class="mt-2 text-sm   text-black ">Discover everything from installing Helperbird to Helperbird Pro.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Features</dt>
          <dd class="mt-2 text-sm   text-black ">Step by step guides on how to use each feature.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Integrations</dt>
          <dd class="mt-2 text-sm   text-black ">Guides and information on how to use each Helperbird add-on.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Apps</dt>
          <dd class="mt-2 text-sm   text-black ">Discover how to use Helperbirds internal apps.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Account</dt>
          <dd class="mt-2 text-sm   text-black ">Discover how to manage your subscription and more.</dd>
        </div>


      </dl>
    </div>
    
  </div>
</div>