#help-information .card-body h1,
#help-information .card-body  h2,
#help-information .card-body  h3,
#help-information .card-body    h4,
#help-information .card-body    h5,
#help-information .card-body    h6,
#help-information .card-body    p {
    font-size: revert !important;
    font-weight: revert!important;
}

.yellowHelperbird {
    background-color: rgb(246, 245, 231) !important;
}

#help-information .card-body p {
    margin: 1.5rem 0 !important;
}
#help-information .card-body h2 {
    margin: 1.5rem 0 !important;
}

#help-information .card-body img{
    width: 70% !important;
}

#help-information .card-body ul > li > a {
    color: blue !important;
}
#help-information .card-body ul {
    list-style: decimal !important;
    padding: 1rem 2rem 3rem !important;
}
#help-information .card-body li {
    list-style: decimal !important;

    margin: 1rem 0 !important;

    padding: 0 !important;
}