doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title FERPA & COPPA Compliance - How Helperbird complies with data protection laws
    link(rel='canonical', href='https://www.helperbird.com/compliance')
    meta(name='keywords', content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app')
    // Search Engine
    meta(name='description', content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Google Chrome!')
    meta(name='image', content='./assets/images/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#db5945')
    // Schema.org for Google
    meta(itemprop='name', content='Helperbird')
    meta(itemprop='description', content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Google Chrome!')
    meta(itemprop='image', content='./assets/images/favicon.png')
    // Twitter
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='FERPA Compliance - How Helperbird complies with data protection laws')
    meta(name='twitter:description', content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Google Chrome!')
    meta(name='twitter:site', content='@helperbird_')
    meta(name='twitter:creator', content='RobertJGabriel')
    meta(name='twitter:image:src', content='https://www.helperbird.com/assets/images/social/twitter.png') 
    meta(name='twitter:player', content='https://www.youtube.com/watch?v=PfILiWebkuc')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='og:title', content='FERPA Compliance - How Helperbird complies with data protection laws')
    meta(name='og:description', content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Google Chrome!')
    meta(name='og:image', content='https://www.helperbird.com/assets/images/social/facebook.png')
    meta(name='og:url', content='https://www.helperbird.com/')
    meta(name='og:site_name', content='Helperbird')
    meta(name='og:video', content='https://www.youtube.com/watch?v=PfILiWebkuc')
    meta(name='og:type', content='website')
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
    link(rel="apple-touch-icon" href="touch-icon-iphone.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon.png")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon.png")
    link(rel="apple-touch-icon" sizes="167x167" href="./assets/images/favicon.png")


    link(rel='manifest', href='/manifest.json')
    link(rel='shortcut icon', href='./assets/images/site/favicon.png')
    meta(name='msvalidate.01', content='5A4909B55CCBDE2A927000280EAECBBC')

    include includes/scripts.pug
    style
      include includes/css/website.min.css

  body.font-friendly
    .lightblue-gradient

      include includes/header.pug
      section.section_header
        .container-lrg.flex.mt40
          .flex.flex-column.col-12.text-center
            h1.heading.primary-color.launchaco-builder-hoverable
              | Compliance COPPA and FERPA


      section.section.lightblue-white
        .container
          .col-12
            h3.heading-sml.heading.primary-color.launchaco-builder-hoverable.why_us Overview

        .container
          .col-12
            p.paragraph.secondary-color.mt20
              | Helperbird is dedicated to
              | providing
              | a service that keeps students safe. We are signatories of the Student Privacy Pledge, and make
              | every effort
              | to make our product as secure as possible. You can find our full Privacy Policy here. We’ve
              | summarized some
              | of the critical points below.


      section.section.lightblue-white
        .container
          .col-12
            h3.heading-sml.heading.primary-color.launchaco-builder-hoverable.why_us We do not advertise to or track student or users behavior, or sell any user data

        .container
          .col-12
            p.paragraph.secondary-color.mt20
              | We employ the use of cookies. By using Helperbird's website you consent to the use of cookies
              | in accordance with Helperbird's privacy policy.

      section.section.lightblue-white
        .container
          .col-12
            h3.heading-sml.heading.primary-color.launchaco-builder-hoverable.why_us Support

        .container
          .col-12
            p.paragraph.secondary-color.mt20
              | If any of your users contact Helperbird's support team, the request would be made via email and
              | Helperbird's would not provide them with any information about their application materials – the
              | user would be referred to a member of your staff if such a request was made.

      section.section.lightblue-white
        .container
          .col-12
            h3.heading-sml.heading.primary-color.launchaco-builder-hoverable.why_us We are COPPA and FERPA compliant

        .container
          .col-12
            p.paragraph.secondary-color.mt20
              |  Our applications don’t collect personal information from anyone, including children under the age of 13.
              | As long as your school has a technology waiver from parents, Helperbird is fully compliant with both laws and is safe to use in any classroom.


      section.section.lightblue-white
        .container
          .col-12
            h3.heading-sml.heading.primary-color.launchaco-builder-hoverable.why_us We will notify you if our policies change

        .container
          .col-12
            p.paragraph.secondary-color.mt20
              | If we make any material changes to our privacy policy or terms, we’ll let you know. The new
              | terms will only apply to you if you choose to accept them.
  
    include includes/footer.pug