doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
      | Dyslexia & Accessibility Software for Microsoft Edge  - Helperbird for Microsoft Edge
    link(rel='canonical', href='https://www.helperbird.com/Chrome')
    meta(name='keywords', content='Helperbird for Microsoft Edge,Helperbird,Chrome,dyslexia fonts for Microsoft Edge,dyslexia,text to speech,reading,Chrome download,colored contacts,google speaker,install chrome,chrome browser,Chrome app,dyslexia test,opendyslexic for Microsoft Edge,dyslexia app chrome,Chrome extensions,speech to text,color blind for Microsoft Edge,speech to text for Microsoft Edge,text to speech for Microsoft Edge,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install Chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,Chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,Chrome settings,text to speech robot,voice recognition,Chrome free download,voice to text app,google speech,chrome free download,talk and text app,Chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,Chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app')
    // Search Engine
    meta(name='description', content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!')
    meta(name='image', content='./assets/images/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#db5945')
    // Schema.org for Google
    meta(itemprop='name', content='Helperbird')
    meta(itemprop='description', content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!')
    meta(itemprop='image', content='./assets/images/favicon.png')
    // Twitter
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='Dyslexia & Accessibility Software - Helperbird for Microsoft Edge')
    meta(name='twitter:description', content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!')
    meta(name='twitter:site', content='@helperbird_')
    meta(name='twitter:creator', content='RobertJGabriel')
    meta(name='twitter:image:src', content='https://www.helperbird.com/assets/images/social/twitter.png')
    meta(name='twitter:player', content='https://www.youtube.com/watch?v=PfILiWebkuc')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='og:title', content='Dyslexia & Accessibility Software - Helperbird for Microsoft Edge')
    meta(name='og:description', content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!')
    meta(name='og:image', content='https://www.helperbird.com/assets/images/social/facebook.png')
    meta(name='og:url', content='https://www.helperbird.com/Chrome')
    meta(name='og:site_name', content='Helperbird')
    meta(name='og:video', content='https://www.youtube.com/watch?v=PfILiWebkuc')
    meta(name='og:type', content='website')
    link(rel='manifest', href='/manifest.json')
    link(rel='shortcut icon', href='./assets/images/site/favicon.png')

    link(rel="apple-touch-icon" href="touch-icon-iphone.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon.png")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon.png")
    link(rel="apple-touch-icon" sizes="167x167" href="./assets/images/favicon.png")

    meta(name='msvalidate.01', content='5A4909B55CCBDE2A927000280EAECBBC')

    include includes/scripts.pug

    style
      include includes/css/website.min.css

  body.font-friendly
    .lightblue-gradient



      include includes/header.pug
      section.section_header
        .container-lrg.flex.mt40
          .flex.flex-column.col-6
            h1.heading.primary-color.launchaco-builder-hoverable
              | Helperbird for Microsoft Edge
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
              | Helperbird is a Microsoft Edge browser extension that gives you features such as dyslexia fonts, change the font & background color, text to speech, 
              | overlays, dyslexia rulers and more to make the web accessible to your needs!
            .mt40
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(href='https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd', onclick="captureOutboundLink('https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd'); return false;",  target='_blank', rel='noreferrer')
                span  Download Helperbird 
                span.its_free  for Edge
                
            .flex.center-horizontal.wrap.center-vertical
              .col-12.mobile-col-12.review_text.padding_0
                img.margin-right-5(alt='Reviews', src='assets/images/logos/stars.svg', loading="lazy" )
                | 65,000+ users with 100+ reviews
            .flex.center-horizontal.wrap.center-vertical.mt20
              .col-12.mobile-col-12.review_text.padding_0
                | #[a( href='https://www.youtube.com/watch?v=aXXRSenvTTg', onclick="captureOutboundLink('https://www.youtube.com/watch?v=aXXRSenvTTg', true); return false;", target='_blank', rel='noreferrer') Watch it in action.]
          .flex.flex-column.col-6
            .img-comp-container
              .img-comp-img
                img(src='./assets/images/home/before.png' width='500' height='300')
              .img-comp-img.img-comp-overlay
                img(src='./assets/images/home/after.png' width='500' height='300')



    include includes/press.pug
    include includes/features.pug 

    include includes/reviews.pug
    div.lightblue-gradient#pricing

      section.section_header.website_pricing_header
          .container
              .col-12.text-center
                  h1.heading.primary-color.launchaco-builder-hoverable.white Pricing
                  h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable.white
                      | One subscription, any browser. 
                  h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable.white
                      | Monthly | Annual 
                  label.switch
                      input(type='checkbox', name='xxx', onclick='calc();')#annual
                      span.slider.round
      include includes/pricing-table-new-two.pug
      .container-lrg.flex.payments
        .col-12.mobile-text-center.title
            h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40.mt40.white Are you a student?
            h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable.text_center.white
                | Get Helperbird for only $30.00 a year.
            a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color.student#checkout-button-plan_GDtSwhVHQXfaSw
                span  Get it now!
    include includes/support-videos.pug
    include includes/questions.pug   

    include includes/footer.pug


    script.
      initComparisons();