doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Dyslexia & Accessibility enterprise software  - Helperbird for Google Chrome, Firefox & Edge
    link(rel='canonical', href='https://www.helperbird.com/sales')
    meta(name='keywords', content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app')
    // Search Engine
    meta(name='description', content='Dyslexia & Accessibility enterprise software - Helperbird sales representative to discuss how Helperbird can help your business.')
    meta(name='image', content='./assets/images/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#db5945')
    // Schema.org for Google
    meta(itemprop='name', content='Sales & Enterpirse - Helperbird for Google Chrome, Firefox & Edge')
    meta(itemprop='description', content='Contact a Helperbird sales representative to discuss how Helperbird can help your business.')
    meta(itemprop='image', content='./assets/images/favicon.png')
    // Twitter
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='Sales & Enterpirse - Helperbird for Google Chrome, Firefox & Edge')
    meta(name='twitter:description', content='Contact a Helperbird sales representative to discuss how Helperbird can help your business.')
    meta(name='twitter:site', content='@helperbird_')
    meta(name='twitter:creator', content='RobertJGabriel')
    meta(name='twitter:image:src', content='https://www.helperbird.com/assets/images/social/twitter.png')
    meta(name='twitter:player', content='https://www.youtube.com/watch?v=PfILiWebkuc')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='og:title', content='Sales & Enterpirse - Helperbird for Google Chrome, Firefox & Edge')
    meta(name='og:description', content='Contact a Helperbird sales representative to discuss how Helperbird can help your business.')
    meta(name='og:image', content='https://www.helperbird.com/assets/images/social/facebook.png')
    meta(name='og:url', content='https://www.helperbird.com/')
    meta(name='og:site_name', content='Sales & Enterpirse - Helperbird for Google Chrome, Firefox & Edge')
    meta(name='og:video', content='https://www.youtube.com/watch?v=PfILiWebkuc')
    meta(name='og:type', content='website')
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
    meta(name='msvalidate.01', content='5A4909B55CCBDE2A927000280EAECBBC')
    
    link(rel='manifest', href='manifest.json')
    link(rel='shortcut icon', href='./assets/images/site/favicon.png')

 
    include includes/scripts.pug
    style
      include includes/css/website.min.css


  body.font-friendly
    .lightblue-gradient
      // 
  
      include includes/header.pug
      section.section_header
        .container-lrg.flex.mt40.text-center
          .flex.flex-column.col-12.text-center
            h1.heading.primary-color.launchaco-builder-hoverable
              | Helperbird Education
            h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable
              |  Helperbird for Enterprise gives you more control and more support. 
            h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable
              |  Perfect for organizations or schools that are large, complex, or want more support and features.

            .mt40
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(href='#salesForm')
                span  Contact Sales 
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center(href='#supportVideos')
                span Support video

    include includes/features-enterprise.pug 
    div.lightblue-gradient#pricing

      section.section_header.website_pricing_header
          .container
              .col-12.text-center
                  h1.heading.primary-color.launchaco-builder-hoverable.white Pricing
                  h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable.white
                      | One subscription, any browser. Available for Chrome, Firefox and Edge. 
                  h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable.white
                      |  Monthly | Annual (20% discount)
                  label.switch
                      input(type='checkbox', name='xxx', onclick='calc();')#annual
                      span.slider.round
      include includes/pricing-table-new-two.pug
      .container-lrg.flex.payments
          .col-12.mobile-text-center.title
              h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40.mt40.white As payments are handled by Stripe
              h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable.text_center.white
                  | Once you pay, all you need to do is download the app and your ready to go.
              a(href="https://www.stripe.com", title="Link to Stripe", target="_blank", rel="noopener")
                  include includes/svgs/payment.svg

    include includes/support-videos.pug

    section#salesForm.section.red-white
      .container.text-center
        .col-12
          h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.why_us
            | Contact us for Helperbird for school pricing
          p.subheading.secondary-color.mt20.launchaco-builder-hoverable
            |  Want to set up a demo or talk to someone about Helperbird?
      .container.mt40
        iframe(title="Helperbird sales fourm ",loading="lazy" ,src='https://docs.google.com/forms/d/e/1FAIpQLScyGWAggLJUHXrmjjWBu-ME4I8BNV6YzcFReClr0DtqmTCVsw/viewform?embedded=true', width='100%', height='1093', frameborder='0', marginheight='0', marginwidth='0') Loading...
    
    include includes/questions.pug


    include includes/footer.pug
