doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title In the News - Helperbird for Google Chrome, Firefox & Edge
        link(rel='canonical', href='https://www.helperbird.com/in-the-news')
        meta(name='keywords', content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app')
        // Search Engine
        meta(name='description', content='See what publications wrote about Helperbird')
        meta(name='image', content='./assets/images/favicon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color', content='#db5945')
        // Schema.org for Google
        meta(itemprop='name', content='In the News - Helperbird for Google Chrome, Firefox & Edge')
        meta(itemprop='description', content='')
        meta(itemprop='image', content='./assets/images/favicon.png')
        // Twitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='In the News - Helperbird for Google Chrome, Firefox & Edge')
        meta(name='twitter:description', content='')
        meta(name='twitter:site', content='@helperbird_')
        meta(name='twitter:creator', content='RobertJGabriel')
        meta(name='twitter:image:src', content='https://www.helperbird.com/assets/images/social/twitter.png')
        meta(name='twitter:player', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        // Open Graph general (Facebook, Pinterest & Google+)
        meta(name='og:title', content='In the News - Helperbird for Google Chrome, Firefox & Edge')
        meta(name='og:description', content='See what publications wrote about Helperbird')
        meta(name='og:image', content='https://www.helperbird.com/assets/images/social/facebook.png')
        meta(name='og:url', content='https://www.helperbird.com/in-the-news')
        meta(name='og:site_name', content='In the News - Helperbird for Google Chrome, Firefox & Edge')
        meta(name='og:video', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        meta(name='og:type', content='website')
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
        meta(name='msvalidate.01', content='5A4909B55CCBDE2A927000280EAECBBC')

        link(rel='manifest', href='manifest.json')
        link(rel='shortcut icon', href='./assets/images/site/favicon.png')
    

        include includes/scripts.pug
        style
            include includes/css/website.min.css

    body.font-friendly
        .lightblue-gradient#pricing
            // 
      
            include includes/header.pug

            section.section_header.website_pricing_header
                .container
                    .col-12.text-center
                        h1.heading.heading-lrg.primary-color.launchaco-builder-hoverable.white In The News
                        h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable.white
                            | See what trusted publications wrote about Helperbird
    
            .container
                .col-12
                    .slideshow-container
                        .mySlides.scroller_video_item
                            p.primary-color.launchaco-builder-hoverable.paragraph.text-center
                                | Robert James Gabriel (@RobertJGabriel) never had it easy growing up. Before he was finally diagnosed with dyslexia at age 17, he had teachers counsel him to drop out of school and was told he would never amount to anything. But with some positive encouragement from a few helpful mentors and individuals, Robert found his way, learned to code, and became a prolific indie hacker. In this episode Robert and I discuss the psychological effects of being trapped inside both negative and positive feedback loops, his strategy for coming up with dozens of product ideas, and the story behind how he bootstrapped his app Helperbird into a six-figure business that helps others with learning disabilities like dyslexia.
                            .mt20
                                a.user-image.mt20.mb20.launchaco-builder-hoverable(href='https://www.indiehackers.com/product/helperbird/made-it-onto-the-indiehackers-podcast--LuJYrgVZ12TsNIDCFOU', target='_blank', rel='noreferrer' ,title="Link to Nexus")
                                    img.remove_border(loading="lazy",src="/assets/images/logos/indiehackers_logo.png", alt="Photo of a happy reviewer of Helperbird,  Vladimir Ciobica")
                                p.span.secondary-color.mb10.launchaco-builder-hoverable IndieHackers.com 
                                span.span.secondary-color.launchaco-builder-hoverable Podcast 

            .container
                .col-12
                    .slideshow-container
                        .mySlides.scroller_video_item
                            p.primary-color.launchaco-builder-hoverable.paragraph.text-center
                                | The most popular browser extension (based on downloads) is Helperbird, available for both Chrome and Firefox. Helperbird has a wide range of options, including changing fonts to dyslexia-friendly ones such as OpenDyslexic, changing colors, text-to-speech, tint overlay, and much more
                            .mt20
                                a.user-image.mt20.mb20.launchaco-builder-hoverable(href='http://techtalk.stratford.edu/2019/11/23/show-of-11-23-2019/', target='_blank', rel='noreferrer', title="Link to stratford techtalk")
                                    img.remove_border(loading="lazy",src='./assets/images/logos/logo_pentahoV2.png', alt="Photo of a happy reviewer of Helperbird,  Vladimir Ciobica")
                                p.span.secondary-color.mb10.launchaco-builder-hoverable Stratford.edu
                                span.span.secondary-color.launchaco-builder-hoverable Podcast 
    

            .container
                .col-12
                    .slideshow-container
                        .mySlides.scroller_video_item
                            p.primary-color.launchaco-builder-hoverable.paragraph.text-center
                                | The extensions help us organize a large part of our life on the Internet, from the agenda and productivity to content consumption, cybersecurity protection or email management. There are also  extensions for Chrome and Firefox for people with dyslexia. Without a doubt, the most popular and downloaded is Helperbird , available for both browsers. This tool gives you a wide range of options, including changing fonts, colors, text to speech, overlay and much more. Your paid version covers more features.


                            .mt20
                                a(href='https://www.ticbeat.com/tecnologias/mejores-fuentes-extensiones-personas-con-dislexia/', target='_blank', rel='noreferrer', title="Link to Ticbeat")
                                    img.remove_border(alt='Logo of Ticbeat', src='./assets/images/logos/ticbeat-logo.png', loading="lazy" )
                                p.span.secondary-color.mb10.launchaco-builder-hoverable Tic Beat
                                span.span.secondary-color.launchaco-builder-hoverable News 

 



            .container
                .col-12
                    .slideshow-container
                        .mySlides.scroller_video_item
                            p.primary-color.launchaco-builder-hoverable.paragraph.text-center
                                | The extensions help us organize a large part of our life on the Internet, from the agenda and productivity to content consumption, cybersecurity protection or email management. There are also  extensions for Chrome and Firefox for people with dyslexia. Without a doubt, the most popular and downloaded is Helperbird , available for both browsers. This tool gives you a wide range of options, including changing fonts, colors, text to speech, overlay and much more. Your paid version covers more features.


                            .mt20
                                a(href='http://www.appsformypc.com/tag/dyslexia-font/', target='_blank', rel='noreferrer', title="Link to appsformypc")
                                    img.remove_border(alt='Logo of apps for my pc', src='./assets/images/logos/appsformypc.png', loading="lazy" )
                                p.span.secondary-color.mb10.launchaco-builder-hoverable Apps for My Pc
                                span.span.secondary-color.launchaco-builder-hoverable News 
    include includes/questions.pug   
    include includes/footer.pug
    



