doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Sitemap - Helperbird for Google Chrome, Firefox & Edge
    link(rel='canonical', href='https://www.helperbird.com/Sitemap')
    meta(name='keywords', content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app')
    // Search Engine
    meta(name='description', content='See Helperbirds Sitemap for new features coming to Helperbird for Chrome')
    meta(name='image', content='./assets/images/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#db5945')
    // Schema.org for Google
    meta(itemprop='name', content='Helperbird')
    meta(itemprop='description', content='See Helperbirds Sitemap for new features coming to Helperbird for Chrome')
    meta(itemprop='image', content='./assets/images/favicon.png')
    // Twitter
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:title', content='Helperbird')
    meta(name='twitter:description', content='See Helperbirds Sitemap for new features coming to Helperbird for Chrome')
    meta(name='twitter:site', content='@helperbird_')
    meta(name='twitter:creator', content='RobertJGabriel')
    meta(name='twitter:image:src', content='https://www.helperbird.com/assets/images/social/twitter.png')
    meta(name='twitter:player', content='https://www.youtube.com/watch?v=PfILiWebkuc')
    // Open Graph general (Facebook, Pinterest & Google+)
    meta(name='og:title', content='Helperbird')
    meta(name='og:description', content='See Helperbirds Sitemap for new features coming to Helperbird for Chrome')
    meta(name='og:image', content='https://www.helperbird.com/assets/images/social/facebook.png')
    meta(name='og:url', content='https://www.helperbird.com/')
    meta(name='og:site_name', content='Helperbird')
    meta(name='og:video', content='https://www.youtube.com/watch?v=PfILiWebkuc')
    meta(name='og:type', content='website')
    link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')

    meta(name='msvalidate.01', content='5A4909B55CCBDE2A927000280EAECBBC')
    link(rel="apple-touch-icon" href="touch-icon-iphone.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon.png")
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon.png")
    link(rel="apple-touch-icon" sizes="167x167" href="./assets/images/favicon.png")

    link(rel='manifest', href='/manifest.json')
    link(rel='shortcut icon', href='./assets/images/site/favicon.png')
    
    include includes/scripts.pug
    style
      include includes/css/website.min.css

  body.font-friendly
    .lightblue-gradient
 
      include includes/header.pug

      .section_header
        .container.mb40
          .col-12.text-center
            h1.heading-sml.primary-color.launchaco-builder-hoverable Helperbird Sitemap
    .section_header.road_map_padding.red-white.bg-light
      .container

        .flex.wrap.center-vertical

            .col-3.mobile-col-3
                p.mb10
                    b Company 
                p.mb10
                    a( href='/about',onclick="captureOutboundLink('/about'); return false;", title="Link to Helperbirds about") About
                p.mb10
                    a( href='/blog/', onclick="captureOutboundLink('/blog/'); return false;", title="Link to Helperbirds blog") Blog
                p.mb10
                    a(href="/webinar", onclick="captureOutboundLink('/webinar'); return false;", title="Helperbird webinar") Webinar
                p.mb10
                    a( href='/roadmap',onclick="captureOutboundLink('/roadmap'); return false;", title="Link to Helperbirds Roadmpa") Roadmap
                p.mb10
                    a( href='/support', onclick="captureOutboundLink('/support'); return false;", title="Link to Helperbirds support") Support
                p.mb10
                    a( href='/contact' ,onclick="captureOutboundLink('/contact'); return false;", title="Link to Helperbirds contact page") Contact
            .col-3.mobile-col-3
                p.mb10
                    b Product
                p.mb10
                    a(href='https://chrome.google.com/webstore/detail/dyslexia-accessibility-to/ahmapmilbkfamljbpgphfndeemhnajme', onclick="captureOutboundLink('https://chrome.google.com/webstore/detail/dyslexia-accessibility-to/ahmapmilbkfamljbpgphfndeemhnajme'); return false;", target="_blank",   rel="noreferrer", title="Link to download Helperbird for Google") Chrome
                p.mb10
                    a(href="https://addons.mozilla.org/en-CA/firefox/addon/helperbird/",  onclick="captureOutboundLink('https://addons.mozilla.org/en-CA/firefox/addon/helperbird/'); return false;", target="_blank",  title="Link to download Helperbird for Firefox", rel="noreferrer")  Firefox
                p.mb10
                    a(href="https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd",  onclick="captureOutboundLink('https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd'); return false;", target="_blank",  title="Link to download Helperbird for Edge", rel="noreferrer")  Edge
                p.mb10
                    a( href='/#features', onclick="captureOutboundLink('/#features'); return false;", title="Link to Helperbirds support") Features
                p.mb10
                    a( href='/pricing', onclick="captureOutboundLink('/pricing'); return false;",  title="Link to Helperbirds pricing") Pricing
                p.mb10
                    a( href='/updates',  onclick="captureOutboundLink('/updates'); return false;", title="Link to Helperbirds updates") Updates 
                p.mb10
                    a( href='/reviews',  onclick="captureOutboundLink('/reviews'); return false;", title="Link to Helperbirds reviews") Reviews 
            .col-3.mobile-col-3
                p.mb10
                    b Legal
                p.mb10
                    a( href='/privacy', onclick="captureOutboundLink('/privacy'); return false;",  title="Link to Helperbirds privacy") Privacy
                p.mb10
                    a( href='/compliance',onclick="captureOutboundLink('/compliance'); return false;", title="Link to Helperbirds Compliance") Compliance
                p.mb10
                    a( href='/terms-of-service',onclick="captureOutboundLink('/terms-of-service'); return false;", title="Link to Helperbirds terms") Terms
                p.mb10
                    a( href='/feedback' , onclick="captureOutboundLink('/feedback'); return false;", title="Link to Helperbirds feedback") Feedback
                p.mb10
                    a(href="https://drive.google.com/drive/folders/1kZkWObEYGimW391EetVThd6YkEYDHu8-?usp=sharing", onclick="captureOutboundLink('https://drive.google.com/drive/folders/1kZkWObEYGimW391EetVThd6YkEYDHu8-?usp=sharing', true); return false;", title="Helperbird Presskit") Presskit
            .col-3.mobile-col-3
                p.mb10
                    b Follow Us
                p.mb10
                    a(href='https://facebook.com/helperbird/',  onclick="captureOutboundLink('https://facebook.com/helperbird/'); return false;", target='_blank', rel='noreferrer', title="Link to Helperbirds Facebook") Facebook
                p.mb10
                    a(href='https://twitter.com/helperbird_', onclick="captureOutboundLink('https://twitter.com/helperbird_'); return false;",  target='_blank', rel='noreferrer', title="Link to Helperbirds Twitter") Twitter
                p.mb10
                    a(href='https://www.linkedin.com/company/19112429/',onclick="captureOutboundLink('https://www.linkedin.com/company/19112429/'); return false;",  target='_blank', rel='noreferrer', title="Link to Helperbirds Linkedin") Linkedin
                p.mb10
                    a(href='https://www.youtube.com/watch?v=aXXRSenvTTg', onclick="captureOutboundLink('https://www.youtube.com/watch?v=aXXRSenvTTg'); return false;", target='_blank', rel='noreferrer', title="Link to Helperbirds Youtube") Youtube

                

    include includes/footer.pug