---
layout: templates/features.html
title: View definitions easily as you browse the web - Chrome, Firefox, iPad, iPhone & Edge
description:
  English Dictionary, quickly lookup word definitions with audio pronunciation as you browse the
  web.
keywords:
  Dyslexia software, Reader Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic

icon: "/src/_includes/svgs/dictionary.svg"
youtubeId: PfILiWebkuc
cardTitle: English Dictionary 
featureDescription:
  Dictionary app by Helperbird allows you to easily lookup the meaning of any English word.
group: reading
tags: 
  - features
  - reading
link: reading
url: features/dictionary/
---











<div class="relative overflow-hidden">
  <div class="relative">
    <div class="mt-16 mx-auto max-w-4xl px-4 sm:mt-24 sm:px-6">
      <div class="text-center">
        <h1
          class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"
        >
          <span class="block"> View definitions easily as you browse the web
          </span>
        </h1>
        <p
          class="mt-3 max-w-md mx-auto text-base text-black sm:text-lg md:mt-5 md:text-xl md:max-w-3xl"
        >
        Helperbirds' English Dictionary, quickly look up word definitions with audio pronunciation as you browse the web. Including in search results are synonyms and related words.
        </p>
        <div class="mt-5 sm:mt-8 sm:flex justify-center lg:justify-center">
          <div class="rounded-md shadow">
            <a
href="/pricing/"
              class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 md:py-4 md:text-lg md:px-10"
              target="_blank"
              class="btn btn-accent"
              >Try it now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative mt-8">
    <div class="max-w-3xl mx-auto px-4 sm:px-6">
      <video
        autoplay="autoplay"
        class="relative rounded-lg shadow-lg"
        control="control"
        loop="loop"
        muted="muted"
        playsinline="playsinline"
      >
        <source src="/assets/videos/home.webm" type="video/webm" />
        <source src="/assets/videos/home.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<div class="mt-16 mx-auto max-w-4xl px-4 sm:mt-24 sm:px-6">
  <div class="card bg-white mb-8 mt-8">
    <div class="card-body">
      <h2
        class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl pt-8 pb-4"
      >
        Tell me more about this feature
      </h2>
      <p class="mt-4 text-lg text-black">
     
        Helperbirds' Dictionary feature allows you to quickly lookup and research definitions of words and phrases.
</p>
        <p class="mt-4 text-lg text-black">
The definitions come from Wiktionary but have been preprocessed to reduce formatting and provide faster lookup.
</p>
<p class="mt-4 text-lg text-black">
Open to the dictionary entry of that word, usually including examples, audio pronunciation, and
synonyms.
</p>
<p class="mt-4 text-lg text-black">
Helperbird provides an online English dictionary that is clean and easily accessible for explaining any English word they found on a web page.
</p>
<p class="mt-4 text-lg text-black">
With two right clicks of a mouse, users can discover what a word in English means. Included in the search results are synonyms, related words, and the primary meaning of the word.

      </p>
    </div>
  </div>

  <div class="card bg-white mb-8 mt-8">
    <div class="card-body">
      <h2
        class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl pt-8 pb-4"
      >
        Show me it in action <div class="ml-5 badge badge-primary">New Videos coming soon</div>
      </h2>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/i1EeaekPHIo"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>





  <div class="card bg-white mb-8 mt-8">
    <div class="card-body">
      <h2
        class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl pt-8 pb-4"
      >
        Features
      </h2>

      <p class="mt-4 text-lg text-black">
       
     Discover synonyms</p>      <p class="mt-4 text-lg text-black">Discover related words</p> 
     <p class="mt-4 text-lg text-black">
     Primary meaning of the word.
      </p>
    </div>
  </div>
</div>



























