---
layout: templates/features.html
title: Correctly highlight paragraphs while reading - Chrome, Firefox, Edge, iPad, iPhone
description:
  Add a colorfull border around paragraphs while reading. Making it easier to break up long bodies
  of text, making it easier to read.
keywords:
  Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/highlight.png
facebookSocial: assets/images/graph/highlight.png
icon: "/src/_includes/svgs/text-to-speech.svg"
featureTitle: Highlight paragraphs
featureDescription:
  Highlight text on a web page, pdf or more, in a variety of styles. The highlighted text can be
  summarised, either as snippets or as full text. Only with Helperbird for Google Chrome, Firefox
  and Edge.
group: reading
tags: features
link: reading
url: /features/highlight-paragraphs/
---












<div class="relative overflow-hidden">
  <div class="relative">
    <div class="mt-16 mx-auto max-w-4xl px-4 sm:mt-24 sm:px-6">
      <div class="text-center">
        <h1
          class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"
        >
          <span class="block"> Make paragraphs stand out</span>
        </h1>
        <p
          class="mt-3 max-w-md mx-auto text-base text-black sm:text-lg md:mt-5 md:text-xl md:max-w-3xl"
        >
        Add a colorful border around paragraphs while reading. Making it easier to break up long bodies of text, making it easier to read.


        </p>
        <div class="mt-5 sm:mt-8 sm:flex justify-center lg:justify-center">
          <div class="rounded-md shadow">
            <a
href="/pricing/"
              class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 md:py-4 md:text-lg md:px-10"
              target="_blank"
              class="btn btn-accent"
              >Try it now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative mt-8">
    <div class="max-w-3xl mx-auto px-4 sm:px-6">
      <video
        autoplay="autoplay"
        class="relative rounded-lg shadow-lg"
        control="control"
        loop="loop"
        muted="muted"
        playsinline="playsinline"
      >
        <source src="/assets/videos/home.webm" type="video/webm" />
        <source src="/assets/videos/home.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<div class="mt-16 mx-auto max-w-4xl px-4 sm:mt-24 sm:px-6">
  <div class="card bg-white mb-8 mt-8">
    <div class="card-body">
      <h2
        class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl pt-8 pb-4"
      >
        Tell me more about this feature
      </h2>
      <p class="mt-4 text-lg text-black">
      
        A much-requested feature is finally here. Highlight any paragraph or text on a website. 
        
        </p>
        <p class="mt-4 text-lg text-black">
          A much-requested feature is finally here. Highlight any paragraph of text on a website. 
</p>
<p class="mt-4 text-lg text-black">
          Super handy for studying and revision. All highlights will stay on the page and will also be stored in your notes app.
      
      </p>
    </div>
  </div>

  <div class="card bg-white mb-8 mt-8">
    <div class="card-body">
      <h2
        class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl pt-8 pb-4"
      >
        Show me it in action <div class="ml-5 badge badge-primary">New Videos coming soon</div>
      </h2>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/i1EeaekPHIo"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>





  <div class="card bg-white mb-8 mt-8">
    <div class="card-body">
      <h2
        class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl pt-8 pb-4"
      >
        Features
      </h2>

      <p class="mt-4 text-lg text-black">
       
        7 colors to pick from.
</p>
<p class="mt-4 text-lg text-black">
        Works on websites and pdfs.
        </p>
        <p class="mt-4 text-lg text-black">
        Syncs across machines.
      </p>
    </div>
  </div>
</div>
























