---
layout: templates/features.html
title: Privacy features of Helperbird | Helperbird
description:
  Helperbirds privacy features don`t sell, store, or consume any user data. We do not store data or
  any other user-related content.
keywords:
  Dyslexia software, Reader Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/privacy.png
facebookSocial: assets/images/graph/privacy.png
icon: "/src/_includes/svgs/blindness.svg"
featureTitle: Privacy features
featureDescription:
  Helperbirds don`t sell, store, or consume any user data. We do not store data or
  any other user-related content.
group: reading
tags: 
  - features
  - accessibility
link: reading
url: /features/privacy/
---













<div class="relative overflow-hidden">
  <div class="relative">
    <div class="mt-16 mx-auto max-w-4xl px-4 sm:mt-24 sm:px-6">
      <div class="text-center">
        <h1
          class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"
        >
          <span class="block"> Privacy features of Helperbird </span>
        </h1>
        <p
          class="mt-3 max-w-md mx-auto text-base text-black sm:text-lg md:mt-5 md:text-xl md:max-w-3xl"
        >
        Helperbird will never sell, store, or consume any user data. We do not store data or any other user-related content.
        </p>
        <div class="mt-5 sm:mt-8 sm:flex justify-center lg:justify-center">
          <div class="rounded-md shadow">
            <a
href="/pricing/"
              class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 md:py-4 md:text-lg md:px-10"
              target="_blank"
              class="btn btn-accent"
              >Try it now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="relative mt-8">
    <div class="max-w-3xl mx-auto px-4 sm:px-6">
      <video
        autoplay="autoplay"
        class="relative rounded-lg shadow-lg"
        control="control"
        loop="loop"
        muted="muted"
        playsinline="playsinline"
      >
        <source src="/assets/videos/home.webm" type="video/webm" />
        <source src="/assets/videos/home.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<div class="mt-16 mx-auto max-w-4xl px-4 sm:mt-24 sm:px-6">
  <div class="card bg-white mb-8 mt-8">
    <div class="card-body">
      <h2
        class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl pt-8 pb-4"
      >
        Tell me more about this feature
      </h2>
      <p class="mt-4 text-lg text-black">
        Helperbird does not sell, store, or consume any user data.
      </p>
        <p class="mt-4 text-lg text-black">
We do not store data or any other user-related content.
</p>
<p class="mt-4 text-lg text-black">
We do not promote advertisements or integrate any third-party software libraries, which can lead to
malware exploits.
</p>
<p class="mt-4 text-lg text-black">
This level of privacy transparency allows Helperbird to be compliant with Coppa and Ferpa laws.
</p>
<p class="mt-4 text-lg text-black">
As long as schools have technology waiver from parents, Helperbird can be installed and used on
school computers.</p>
    </div>
  </div>






  <div class="card bg-white mb-8 mt-8">
    <div class="card-body">
      <h2
        class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl pt-8 pb-4"
      >
       How it helps
      </h2>

      <p class="mt-4 text-lg text-black">
       
        Many online services sell, store, track, or promote advertisement as forms of revenue streams.
</p>
<p class="mt-4 text-lg text-black">
        Helperbird does not support this idea as we believe in everyones right to full privacy.
      </p>
      <p class="mt-4 text-lg text-black">
        Having not to worry about a software tracking, storing, or sharing of private user data helps users
        to stay confident and secure about how their private information is processed online.
      </p>
    </div>
  </div>
</div>































