<div class=" py-24 sm:py-32 ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class=" leading-relaxed font-sans  text-center text-3xl font-semibold uppercase tracking-wide text-black mb-12">
            TRUSTED BY OVER 1,000,000 FORWARD-THINKING USERS
        </h2>
      <div class="mt-8 mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5" aria-label="Partner Logos">
     
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/logo/microsoft.png" alt="Microsoft Logo" width="158" height="48"/>
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/logo/gusto.png" alt="Gusto Logo" width="158" height="48"/>
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/logo/neveda.png" alt="Nevada Logo" width="158" height="48"/>
        <img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="/assets/images/logo/school.png" alt="School Logo" width="158" height="48"/>
        <img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="/assets/images/logo/rio-texas.png" alt="Rio Texas Logo" width="158" height="48"/>
      </div>
      <div class="mt-16 flex justify-center">
      
        <p class="relative rounded-full bg-gray-800 px-4 py-1.5 text-sm leading-6 text-gray-300" aria-label="User Testimonial">
          <span class="hidden md:inline">Over 1,000,000 users use our tools to better their work and study.</span>
          <a href="/reviews/" class="font-semibold text-white" aria-label="Read our customer reviews">
            <span class="absolute inset-0" aria-hidden="true"></span> Read our customer reviews
            <span aria-hidden="true">&rarr;</span>
          </a>
        </p>
      </div>
    </div>
  </div>