




      <section class="bg-gray-900 py-24 shadow-md rounded-xl  mt-16 mb-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-2">
            <div class="flex flex-col pb-10 sm:pb-16 lg:pb-0 lg:pr-8 xl:pr-20">
             
              <figure class="mt-10 flex flex-auto flex-col justify-between">
                <blockquote class="text-lg leading-8 text-white">
                  <p>“It's insane what you can do with Helperbird. I felt like it was a text editor for every single website. I have trouble pronouncing some words, so I appreciated the cute menu of tools that actually voices a paragraph in a pleasant female voice. You can also translate the text by automatically pasting it in Google Translate, look up words in the Dictionary and even count the words and characters.”</p>
                </blockquote>
                <figcaption class="mt-10 flex items-center gap-x-6">
                  <img class="h-14 w-14 rounded-full bg-gray-800" src="https://lh3.googleusercontent.com/a/ACg8ocKYI8RFNc78Ie9Rss31cla48FH8Wgk9fpl8e1TwsHEG=s48-w48-h48" alt="Cherlyn C.">
                  <div class="text-base">
                    <div class="font-semibold text-white">Cherlyn C.</div>
                    <div class="mt-2 text-white">Helperbird Pro user</div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="flex flex-col border-t border-white/10 pt-10 sm:pt-16 lg:border-l lg:border-t-0 lg:pl-8 lg:pt-0 xl:pl-20">
              
              <figure class="mt-10 flex flex-auto flex-col justify-between">
                <blockquote class="text-lg leading-8 text-white">
                  <p>"After using Helperbird I can't say enough positive things about it. This extension has truly transformed my online reading experience. Whether it's adjusting font sizes, reducing eye strain with the gray filter, or using the dyslexia-friendly fonts, Helperbird offers a range of features that cater to individual preferences and needs. The customizable color options and text alignment have also been incredibly helpful for personalizing my browsing. And the speed reading feature? It's a game-changer! Overall, Helperbird is a versatile, user-friendly tool that enhances accessibility and makes online reading a breeze. Highly recommended! "</p>
                </blockquote>
                <figcaption class="mt-10 flex items-center gap-x-6">
                  <img class="h-14 w-14 rounded-full bg-gray-800" src="https://lh3.googleusercontent.com/a-/ALV-UjWfiQYso5iraH8ys2pABocchAK31fe8M0UppGotjTkI40o=s48-w48-h48" alt="">
                  <div class="text-base">
                    <div class="font-semibold text-white">Charlie Nishelle Calkins                    </div>
                    <div class="mt-1 text-gray-400">Helperbird Pro user</div>
                  </div>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>
      

