<section
	tabindex="-1"
	class="relative mx-auto max-w-7xl p-8 px-4 pb-16 pt-16 focus:outline-none sm:px-3 md:px-5"
>
	<h2 class="mt-1 font-sans text-4xl font-bold leading-relaxed text-black" tabindex="0">
		Hear From Our Satisfied Users
	</h2>
	<p class="mt-5 max-w-xl font-sans text-2xl leading-relaxed">
		Join over a million people who enhance their online accessibility and productivity daily with
		Helperbird.
	</p>
	<div class="mb-12 mt-8 flex flex-wrap space-y-4 text-center sm:space-x-4 sm:space-y-0">
		<div class="flex flex-wrap space-y-4 text-center sm:space-x-4 sm:space-y-0">
			<a
				class="btn-primary btn mr-4 hidden shadow-md sm:flex"
				title="See all of Helperbirds reviews"
				href="/reviews/"
				>See all reviews</a
			>
		</div>
	</div>
	<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
		<div class="space-y-8">
			{%- for review in reviews.reviews limit:2 -%}
			<figure class="rounded-xl  bg-white p-6 shadow-md">
				<blockquote class="font-sans leading-relaxed text-black">
					<p>“{{ review.review }}”</p>
				</blockquote>
				<figcaption class="mt-6 flex items-center gap-x-4">
					<img
						class="h-10 w-10 rounded-full bg-white"
						alt="Photo of Helperbird Pro user {{ review.name }}"
						src="{{ review.photo }}"
					/>
					<div>
						<div class="font-semibold">{{ review.name }}</div>
						<div class="font-sans leading-relaxed text-black">{{ review.title }}</div>
					</div>
				</figcaption>
			</figure>
			{%- endfor -%}
		</div>
		<div class="space-y-8">
			{%- for review in reviews.reviews limit:2 offset:4 -%}
			<figure class="ounded-xl rounded-xl bg-white p-6 shadow-md">
				<blockquote class="font-sans leading-relaxed text-black">
					<p>“{{ review.review }}”</p>
				</blockquote>
				<figcaption class="mt-6 flex items-center gap-x-4">
					<img
						class="h-10 w-10 rounded-full bg-gray-50"
						alt="Photo of Helperbird Pro user {{ review.name }}"
						src="{{ review.photo }}"
					/>
					<div>
						<div class="font-semibold">{{ review.name }}</div>
						<div class="font-sans leading-relaxed text-black">{{ review.title }}</div>
					</div>
				</figcaption>
			</figure>
			{%- endfor -%}
		</div>
		<div class="space-y-8">
			{%- for review in reviews.reviews limit:2 offset:8 -%}
			<figure class="ounded-xl rounded-xl bg-white p-6 shadow-md">
				<blockquote class="font-sans leading-relaxed text-black">
					<p>“{{ review.review }}”</p>
				</blockquote>
				<figcaption class="mt-6 flex items-center gap-x-4">
					<img
						class="h-10 w-10 rounded-full bg-gray-50"
						alt="Photo of Helperbird Pro user {{ review.name }}"
						src="{{ review.photo }}"
					/>
					<div>
						<div class="font-semibold">{{ review.name }}</div>
						<div class="font-sans leading-relaxed text-black">{{ review.title }}</div>
					</div>
				</figcaption>
			</figure>
			{%- endfor -%}
		</div>
	</div>
</section>
