---
layout: templates/base.html
title: Get help from the Helperbird support team
youtubeId: PfILiWebkuc
cardTitle: Helperbird Support
description: Helperbird support is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.
keywords: Dyslexia software, Reader Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: 
---

<div>

	<div class="relative pb-32">
	
		<div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
			<h1 class="text-4xl font-extrabold tracking-tight text-black md:text-5xl lg:text-6xl">

				Friendly people, standing by to help.

			</h1>
			<p class="mt-6 max-w-3xl text-xl text-black">Always a human, never a bot. The hands-down, sharpest, and friendliest support team in the ed-tech world. Contact us and we’ll get back to you in <b>5 minutes</b> or less</p>
		</div>
	</div>
	<section aria-labelledby="contact-heading" class="-mt-32 max-w-7xl mx-auto relative z-10 pb-16 px-4 sm:px-6 lg:px-8">
		<h2 class="sr-only" id="contact-heading">Contact us</h2>
		<div class="grid grid-cols-1 gap-y-20 lg:grid-cols-3 lg:gap-y-0 lg:gap-x-8">
			<div class=" bg-white   rounded-2xl shadow-xl">
				<div class="relative pt-16 px-6 pb-8 md:px-8">
					<div class="absolute top-0 p-5 inline-block bg-pink-600 rounded-xl shadow-lg transform -translate-y-1/2">
						<svg aria-hidden="true" class="h-6 w-6 text-white" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
					</div>
					<h3 class="text-xl font-medium text-gray-900">Sales</h3>
					<p class="mt-4 text-base   text-black ">Need to contact sales or have a question? Click below.</p>
				</div>
				<div class="p-6 bg-white rounded-bl-2xl rounded-br-2xl md:px-8">
					<a class=" decoration-pink-500 text-base font-medium text-pink-700 hover:text-pink-600" href="/sales/">Contact us <span aria-hidden="true">→</span></a>
				</div>
			</div>
			<div class=" bg-white   rounded-2xl shadow-xl">
				<div class="relative pt-16 px-6 pb-8 md:px-8">
					<div class="absolute top-0 p-5 inline-block bg-pink-600 rounded-xl shadow-lg transform -translate-y-1/2">
						<svg aria-hidden="true" class="h-6 w-6 text-white" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
					</div>
					<h3 class="text-xl font-medium text-gray-900">Technical Support</h3>
					<p class="mt-4 text-base   text-black ">Always a human, never a bot. The hands-down, sharpest, and friendliest support team in the ed-tech world.</p>
				</div>
				<div class="p-6 bg-white rounded-bl-2xl rounded-br-2xl md:px-8">
					<a class=" decoration-pink-500 text-base font-medium text-pink-700 hover:text-pink-600" href="/contact/">Contact us <span aria-hidden="true">→</span></a>
				</div>
			</div>
			<div class=" bg-white   rounded-2xl shadow-xl">
				<div class="relative pt-16 px-6 pb-8 md:px-8">
					<div class="absolute top-0 p-5 inline-block bg-pink-600 rounded-xl shadow-lg transform -translate-y-1/2">
						<svg aria-hidden="true" class="h-6 w-6 text-white" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
					</div>
					<h3 class="text-xl font-medium text-gray-900">Help Guides</h3>
					<p class="mt-4 text-base   text-black ">Step by step guides on every feature.</p>
				</div>
				<div class="p-6 bg-white rounded-bl-2xl rounded-br-2xl md:px-8">
					<a class=" decoration-pink-500 text-base font-medium text-pink-700 hover:text-pink-600" href="/help/" target="_blank" rel="noreferrer">Visit help center <span aria-hidden="true">→</span></a>
				</div>
			</div>
		</div>

	</section>



	<div class="card bg-white mb-8 mt-8">
		<div class="card-body py-24 px-4 ">
		
		<section aria-labelledby="contact-heading" class="lg:grid lg:grid-cols-1 lg:gap-8">
			
			<div class="mt-8 grid grid-cols-2 gap-12">
				<div>
<h2 class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl" id="contact-heading">What's the issue?</h2>
</div>
				<iframe frameborder="0" height="1093" inheight="0" loading="lazy" marginwidth="0" src="https://docs.google.com/forms/d/e/1FAIpQLSfsr-P-xEmKXnjAF-4ih2umpi92WtDltocYG1GV_kqh5Br6tA/viewform?embedded=true" title="Helperbird support fourm " width="100%">Loading...</iframe>
			</div>
		</section>
		
		</div>
		</div>



<div class="card bg-white mb-8 mt-8">
<div class="card-body py-24 px-4 ">

<section aria-labelledby="contact-heading" class="lg:grid lg:grid-cols-3 lg:gap-8">
	<h2 class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl" id="contact-heading">Get in touch</h2>
	<div class="mt-8 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 lg:mt-0 lg:col-span-2">
		<div>
			<h3 class="text-lg font-medium text-warm-gray-900">Support</h3>
			<dl class="mt-2 text-base text-warm-gray-500">
				<dd>
					<div>
						<dl>
							<dt class="sr-only">Email</dt>
							<dd>support@helperbird.com</dd>
						</dl>
					</div>
					<div class="mt-1">
						<dl>
							<dt class="sr-only">Phone number</dt>
							<dd>+1 (501) 293 6819</dd>
						</dl>
					</div>
				</dd>
			</dl>
		</div>
		<div>
			<h3 class="text-lg font-medium text-warm-gray-900">Press</h3>
			<dl class="mt-2 text-base text-warm-gray-500">
				<dd>
					<div>
						<dl>
							<dt class="sr-only">Email</dt>
							<dd>press@helperbird.com</dd>
						</dl>
					</div>
					<div class="mt-1">
						<dl>
							<dt class="sr-only">Phone number</dt>
							<dd>+1 (501) 293 6819</dd>
						</dl>
					</div>
				</dd>
			</dl>
		</div>
		<div>
			<h3 class="text-lg font-medium text-warm-gray-900">Sales</h3>
			<dl class="mt-2 text-base text-warm-gray-500">
				<dd>
					<div>
						<dl>
							<dt class="sr-only">Email</dt>
							<dd>sales@helperbird.com</dd>
						</dl>
					</div>
					<div class="mt-1">
						<dl>
							<dt class="sr-only">Phone number</dt>
							<dd>+1 (501) 293 6819</dd>
						</dl>
					</div>
				</dd>
			</dl>
		</div>
		<div>
			<h3 class="text-lg font-medium text-warm-gray-900">Say hello</h3>
			<dl class="mt-2 text-base text-warm-gray-500">
				<dd>
					<div>
						<dl>
							<dt class="sr-only">Email</dt>
							<dd>hello@helperbird.com</dd>
						</dl>
					</div>
					<div class="mt-1">
						<dl>
							<dt class="sr-only">Phone number</dt>
							<dd>+1 (501) 293 6819</dd>
						</dl>
					</div>
				</dd>
			</dl>
		</div>
	</div>
</section>

</div>
</div>


{% include common/questions.html %} 
<div class="card bg-white mb-8 mt-8">
	<div class="card-body py-24 px-4 ">
	  <div class="text-center">
		<h2 class="text-base font-semibold text-pink-600 tracking-wide uppercase">Guides</h2>
		<p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Video guides</p>
		<p class="max-w-xl mt-5 mx-auto text-xl   text-black ">Discover how to use Helperbird with our simple to follow videos.</p>
	  </div>
	</div>
  </div>

  

	<div class="relative  overflow-hidden">
		<div class="relative">
			<div class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3">
				{%- for video in videos.support -%}
				<div class="card bordered text-base-content shadow-2xl bg-base-100 text-base-content">
					<figure >
						<blockquote class="rounded-t-xl bg-white text-lg leading-8 f">
							<div class="w-full rounded-lg youtube_lazy_load" data-embed="{{ video.id }}">
								<div class="play-button"></div>
							</div>
						</blockquote>
					</figure>
					<div class="card-body">
						<h2 class="card-title text-base-content">{{ video.title }}</h2>
						<p>{{ video.description }}</p>
						<div class="justify-end card-actions">
							<a class=" decoration-pink-500 btn btn-secondary btn-sm" href="{{ video.link }}">More info</a>
						</div>
					</div>
				</div>{%- endfor -%}
			</div>
		</div>
	</div>


</div>