
extends ../includes/templates/updates_post.pug

block seo
  - var title = '24.1.2'
  - var description = '24.1.2'
  - var url = '24-1-2'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates
  .col-12.text-center

    +updates_title("What's new in Helperbird 24.1.2")
    +updates_description("See whats new in Helperbird 24.1.2")

  .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.padding_40.pad40.white-background
    div.paragraph_features
      +updates_paragraph_title("Bug fix for fonts not changing")
      +updates_paragraph('In version 24.1.0, their was an issue were it was only switching to OpenDyslexic. All fixed now')

    div.paragraph_features
      +updates_paragraph_title("Analyze")
      +updates_paragraph('Highlight a sentence and get the amount of words and characters. All in one click.')
      +updates_image('Play, Stop and pause controls for Helperbird in a click','/assets/images/updates/24-1-2/analyze.png')
