doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Release notes for Helperbird 24.1.2 | Helperbird
    meta(content='Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/updates/24-1-2', rel='canonical')
    meta(content='Release notes for Helperbird 24.1.2', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Release notes for Helperbird 24.1.2 | Helperbird', itemprop='name')
    meta(content='Release notes for Helperbird 24.1.2', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='Release notes for Helperbird 24.1.2 | Helperbird', name='twitter:title')
    meta(content='Release notes for Helperbird 24.1.2', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Release notes for Helperbird 24.1.2 | Helperbird', name='og:title')
    meta(content='Release notes for Helperbird 24.1.2', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Release notes for Helperbird 24.1.2 | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='/assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='/assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org",
      	           "@type": "SoftwareApplication",
      	           "name": "Helperbird",
      	           "operatingSystem": "Windows",
      	           "applicationCategory": "https://schema.org/UtilitiesApplication",
      	           "aggregateRating": {
      	              "@type": "AggregateRating",
      	              "ratingValue": "4.8",
      	              "ratingCount": "42"
      	           },
      	           "offers": {
      	              "@type": "Offer",
      	              "price": "4.99",
      	              "priceCurrency": "USD"
      	           }
      	           }
      
    script(type='application/ld+json').
      
      {
      	              "@context": "https://schema.org",
      	              "@type": "Organization",
      	              "name": "Helperbird",
      	              "url": "https://www.helperbird.com",
      	              "sameAs": [
      	                  "http://www.facebook.com/helperbird",
      	                  "https://www.linkedin.com/company/19112429",
      	                  "https://twitter.com/helperbird_"
      	              ]
      	           }
      
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org/",
      	           "@type": "Product",
      	           "name": "Helperbird",
      	           "image": [
      	              "https://www.helperbird.com/assets/images/pwa/144.png",
      	              "https://www.helperbird.com/assets/images/pwa/512.png",
      	              "https://www.helperbird.com/assets/images/pwa/full.png"
      	           ],
      	           "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	           "sku": "0446310786",
      	           "mpn": "925872",
      	           "brand": {
      	              "@type": "Thing",
      	              "name": "Helperbird"
      	           },
      	              "review": {
      	                  "@context": "http://schema.org/",
      	                  "@type": "Review",
      	                  "name": "Colm Murphy",
      	                  "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	                  "reviewRating": {
      	                      "@type": "Rating",
      	                      "ratingValue": "5",
      	                      "bestRating": "5",
      	                      "worstRating": "1"
      	                  },
      	                  "datePublished": "2019-05-02",
      	                  "author": {
      	                      "@type": "Person",
      	                      "name": "Colm Murphy"
      	                  }
      	              },
      	           "aggregateRating": {
      	              "@type": "AggregateRating",
      	              "ratingValue": "4.8",
      	              "reviewCount": "57"
      	           },
      	           "offers": {
      	              "@type": "Offer",
      	              "url": "https://www.helperbird.com",
      	              "priceCurrency": "USD",
      	              "price": "4.99",
      	              "priceValidUntil": "2020-11-05",
      	              "itemCondition": "https://schema.org/NewCondition",
      	              "availability": "https://schema.org/InStock",
      	              "seller": {
      	              "@type": "Organization",
      	              "name": "Helperbird"
      	              }
      	           }
      	           }
      
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/navigation.pug
      section.section_header
        .container
          .col-12.text-center
            h1.heading.primary-color.launchaco-builder-hoverable What's new in Helperbird 24.1.2
            h2.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable See whats new in Helperbird 24.1.2
          .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.padding_40.pad40.white-background
            section
              .container.mt40
                .col-12
                  div.mb20
                    div.paragraph_features 
                        h3.mb20 Bug fix for fonts not changing
                        p.mb75 In version 24.1.0, their was an issue were it was only switching to OpenDyslexic. All fixed now
                        
                    div.paragraph_features 
                        h3.mb20 Analyze
                        p.mb75 Highlight a sentence and get the amount of words and characters. All in one click.
                        img.launchaco-builder-hoverable.width_100(alt='Play, Stop and pause controls for Helperbird in a click', loading='lazy', src='/assets/images/updates/24-1-2/analyze-1.png')
                        img.launchaco-builder-hoverable.width_100(alt='Better and improved loading animations', loading='lazy', src='/assets/images/updates/24-1-2/analyze.png')
    include ../includes/pricing/pricing-table.pug
    include ../includes/layout/footer.pug