
extends ../includes/templates/updates/post.pug

block seo
  - var title = '24.2.4'
  - var description = '24.2.4'
  - var url = '24-2-4'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates

  +updates_title("What's new in Helperbird 24.2.4","See whats new in Helperbird 24.2.4")


  +updates_paragraph_title("Updates",'Improved settings page')
  +updates_paragraph('See what email your signed into as.     ')
  +updates_paragraph('Redesigned settings page to be easier and more useful.')
  +updates_paragraph('Updated Bookmarks app')
  +updates_paragraph('Updated the bookmarks app to be eaiser to search.')

