
extends ../includes/templates/updates/post.pug

block seo
  - var title = '24.3.0'
  - var description = '24.3.0'
  - var url = '24-3-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_title("What's new in Helperbird 24.3.0","See whats new in Helperbird 24.3.0")



  +updates_paragraph_title("50% summer sale on now!",'All plans are reduced by 50% right now until August 31st.  Pro is 3.99 montly and yearly is now 30.00.')

  +updates_paragraph_title("Ad blocker features!",' Privacy is important here at Helperbird and we had gotten a few requests for us to add an ad blocker. So Im delighted to say we have finally added a quick and fast ad blocker. Blocking the most annoying type of ads.')

  +updates_paragraph_title("Lexend font added",'After many requests we have finally added the Lexend font. Lexend is a variable font designed to aid in reading proficiency. It designed for the non-profit RevReading in 2018. Applying the Shaver-Troup Individually Optimal Text Formation Factors, studies have found readers instantaneously improve their reading fluency')

  +updates_paragraph_title("Added a refesh button to sync your subscription!",'Save notes from around the web.','/assets/images/updates/24-3-0/settings.png')

  +updates_paragraph_title("Improved the styles and themes for Reader Mode",'Save notes from around the web.','/assets/images/updates/24-3-0/readermode.png')

  +updates_paragraph_title("Add read time to Reader Mode",'Save notes from around the web.','/assets/images/updates/24-3-0/time.png')