
extends ../includes/templates/updates/post.pug

block seo
  - var title = '25.1.0'
  - var description = '25.1.0'
  - var url = '25-1-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates

  +updates_title("What's new in Helperbird 25.1.0","See whats new in Helperbird 25.1.0")




  +updates_paragraph_title("We added shortcuts!",'Check them out, enable Reader Mode, text to speech, Immersive reader, ORC all in a click.')
  +updates_image('Save notes from around the web.','/assets/images/updates/25-0-1/shortcut.png')


  +updates_paragraph_title("Improved Dyslexia ruler",'We added a follow feature, meaning the dyslexia ruler can now follow your cursor as you read.')


  +updates_paragraph_title("Added improments to the Lexend fonts",'All styles of lexend fonts are now fully supported and working across all sites.')


  +updates_paragraph_title("Added how to buttons!",'Added learn more buttons across all features. So you can see how it works, see it in action and discover tips.')


  +updates_paragraph_title("Word spacing is now Free!",'We listend, word spacing is now free to everyone. Hope you enjoy.')


  +updates_paragraph_title("The app is now 45% smaller and faster",'Better, faster and quicker helperbird.')

