
extends ../includes/templates/updates/post.pug

block seo
  - var title = '26.0.1'
  - var description = '26.0.1'
  - var url = '26-0-1'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_title("What's new in Helperbird 26.0.1","See whats new in Helperbird 26.0.1")

  
  +updates_paragraph_title("Added more Lexend fonts","Based on feedback we have added all Lexend fonts.")
  +updates_image('Save notes from around the web.','/assets/images/updates/25-0-0/font.png')

  +updates_paragraph_title("Dyslexia ruler can now follow your mouse.","We added a follow feature, meaning the dyslexia ruler can now follow your cursor as you read.")

  
  +updates_paragraph_title("We redesigned Helperbird","All features are now easier and quicker to use. Our new design, allows you to have more control to tailor Helperbird to your needs.")

  +updates_paragraph_title("Extract text from images","With our OCR feature, A powerful optical character recognition (OCR) extension to capture and convert images, videos, Pdf's  to text.")


  +updates_paragraph_title("Syllables and noun highlighter.","Learn how to pronouce and speak out words with our highlighting feature.")

  +updates_paragraph_title("Export your notes to other platforms","Export your notes, to word, Google docs and text files with a click.")

  +updates_paragraph_title("Dication now supports serveral more langues","Export your notes, to word, Google docs and text files with a click.")

  +updates_paragraph_title("Added Learn more buttons.","Added learn more buttons across all features. So you can see how it works, see it in action and discover tips.")

  +updates_paragraph_title("Word spacing is now Free!", "We listend, word spacing is now free to everyone. Hope you enjoy.")
