
extends ../includes/templates/updates/post.pug

block seo
  - var title = '26.1.1'
  - var description = '26.1.1'
  - var url = '26-1-1'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_title("What's new in Helperbird 26.1.1","See whats new in Helperbird 26.1.1")

  

  +updates_paragraph_title("Hightlight titles & paragraphs",'You can now highlight paragraphs and titles with any color you want. Making it easier to keep focus.')
  +updates_image('Save notes from around the web.','/assets/images/updates/26-1-1/highlights.png')


  +updates_paragraph_title("You can signin without the browser now",'If your signed out of your browser. You can input your email manually and unlock all features.')
  +updates_image('Save notes from around the web.','/assets/images/updates/26-1-1/signin.png')
