
extends ../includes/templates/updates/post.pug

block seo
  - var title = '27.0.0'
  - var description = '27.0.0'
  - var url = '27-0-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_title("What's new in Helperbird 27.0.0","See whats new in Helperbird 27.0.0")

  +updates_paragraph_title("Hightlight titles & paragraphs",'You can now highlight paragraphs and titles with any color you want. Making it easier to keep focus.')
  +updates_image('Save notes from around the web.','/assets/images/updates/27-0-0/highlights.png')

  +updates_paragraph_title("Added easier controls when you right click",'When you right click, you can now easy discover the different features!')

  +updates_paragraph_title("Added line focus",'Also known as a reading mask, we added a line focus, which blacks out the rest of the page and lets you focus on lines your reading.')
  +updates_image('Save notes from around the web.','/assets/images/updates/27-0-0/line.png')

  +updates_paragraph_title("Mute any videos or sounds",'Within a click, mute any website or page.')
  +updates_image('Save notes from around the web.','/assets/images/updates/27-0-0/mute.png')


  +updates_paragraph_title("OCR",'Is now quicker and saves to your notes..')
