
extends ../includes/templates/updates/post.pug

block seo
  - var title = '27.1.0'
  - var description = '27.1.0'
  - var url = '27-1-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates
  .col-12.text-center

    +updates_title("What's new in Helperbird 27.1.0")
    +updates_description("See whats new in Helperbird 27.1.0")

  .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.padding_40.pad40.white-background
    div.paragraph_features
      +updates_paragraph_title("Full Keyboard support")
      +updates_paragraph('A huge thank you to Wendy Torres for reviewing Helperbird and letting us know we needed some improvement. We rebuilt the extension and updated the frameworks we used to be more keyboard and screen reader-supported.')
      +updates_image('Save notes from around the web.','/assets/images/updates/27-0-0/highlights.png')

    div.paragraph_features
      +updates_paragraph_title("Customize the style of Helperbird with different colors.")
      +updates_paragraph('Change the theme and colour of Helperbird to your favourite colour. Just head to the settings page.')

    div.paragraph_features
      +updates_paragraph_title("Added line focus")
      +updates_paragraph('Also known as a reading mask, we added a line focus, which blacks out the rest of the page and lets you focus on lines your reading.')
      +updates_image('Save notes from around the web.','/assets/images/updates/27-0-0/line.png')

    div.paragraph_features
      +updates_paragraph_title("Pin your favorite features to the top.")
      +updates_paragraph('Pick your favorite or most used features and pin them to the top of the app.')
      +updates_image('Save notes from around the web.','/assets/images/updates/27-1-0/pin.png')

    div.paragraph_features
      +updates_paragraph_title("Total redesign of the notes app")
      +updates_paragraph('Thank you for the feedback, we have redesigned the notes app to be more like Google docs.')
      +updates_image('Save notes from around the web.','/assets/images/updates/27-1-0/notes.png')

  