
extends ../includes/templates/updates/post.pug

block seo
  - var title = '28.0.2'
  - var description = '28.0.2'
  - var url = '28-0-2'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_title("What's new in Helperbird 28.0.2","See whats new in Helperbird 28.0.2")



  +updates_paragraph_title("Updates",'No more save button, everything changes in real time.')
  +updates_paragraph('Pin your favorite features to the top.')
  +updates_paragraph('Blocklist is now working again.')
  +updates_paragraph('Immersive reader the full page.')
  +updates_paragraph('Change the color of Helperbird.')
  +updates_paragraph('15% faster and quicker.')
  +updates_paragraph('Thank you for the feedback.')
