
extends ../includes/templates/updates/post.pug

block seo
  - var title = '30.6.0'
  - var description = '30.6.0'
  - var url = '30-6-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_title("Welcome to the December update","The December month continues with our latest Helperbird update with exciting features and changes.")





  +updates_paragraph_title("No more update pages.",'We have heard you, no more pop ups unless its a new major release.')


  +updates_paragraph_title("Tooltip",'Hover over links and images and see what the alt and titles are.')


  +updates_paragraph_title("Updated immersive reader",'Immersive reader is now faster and quicker.')


  +updates_paragraph_title("Default annotations",'Added a default annotations in the page.')



  +updates_paragraph_title("Custom shortcuts",'New shortcuts for all your favioute features.')


  +updates_paragraph_title("Close button for reader mode",'You can now close the reader mode from the top right of it.')



  +updates_paragraph_title("Reader mode added to the quick menu",'You can now access the reader mode from the quick menu.')




  +updates_paragraph_title("Export noted to markdown",'Export noted to markdown')