
extends ../includes/templates/updates/post.pug

block seo
  - var title = '32.0.0'
  - var description = '32.0.0'
  - var url = '32-0-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_paragraph_title("Faster then ever.",'Helperbird is now 20% faster then the last version.')


  +updates_paragraph_title("Try Helperbird Pro for 3 days free.",'Try Helperbird Pro for 3 days free.')




  +updates_paragraph_title(" Access Helperbirds features even quicker ",'Access Helperbirds features by highlighting any word.')


  +updates_paragraph_title("New colors",'Added new colors to the on,off and pause feature.')



  +updates_paragraph_title("For unlimited plan users",'You can now use subscription keys for the unlimited users option.')



  +updates_paragraph_title("Redesigned app",'We gave the apps a new and improved look.')

