
extends ../includes/templates/updates/post.pug

block seo
  - var title = '40.0.0'
  - var description = '40.0.0'
  - var url = '40-0-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_paragraph_title("Welcome to the new Helperbird")


  +updates_paragraph_title("Message from our Robert James.")

  +updates_paragraph("When I created the first version of Helperbird in 2015, I would never have thought how much it would help many people.  I’m delighted to finally show off the newest and fastest version of Helperbird yet.")

  +updates_paragraph_title("So what's new?")

  +updates_paragraph('There is a new design that makes the extension useable with  keyboard (Tab key etc) and screen readers.')
  +updates_paragraph('This new design also brings with it quicker access to to features, no more hidden options.')

  +updates_image('Helperbirds redesign','/assets/images/updates/40-0-0/design.png')

  +updates_paragraph_title("Document editor got a beautiful redesign.")

  +updates_paragraph('You can export to Google docs files, Word files, Text files & markdown and more.')

  +updates_image('Helperbirds redesign','/assets/images/updates/40-0-0/editor.png')

  +updates_paragraph_title("Only show favioute features")

  +updates_paragraph('After you pin or favioute a feature, you can make sure the rest are hidden.')

  +updates_paragraph_title("Annotate the website")

  +updates_paragraph('Leave notes anywhere on the web.')

  +updates_paragraph_title("We have a smaller update coming")

  +updates_paragraph('This will be silent but it touches up a few little things.')

  +updates_paragraph_title("Coming in our next update.")

  +updates_paragraph('Word production, highlight text as you do text to speech and iPad support.')
