extends ../includes/templates/updates/post.pug

block seo
  - var title = '56.0.0 🦩🌻'
  - var description = 'As we enter spring, we have spring cleaned Helperbird and added great new improvements, thanks to you.'
  - var url = '56-0-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_title("Welcome to the new Helperbird 56.0.0 🦩🌻", "We have a few surprises..... ")


  +updates_paragraph('As we enter spring, we have spring cleaned Helperbird and added great new improvements, thanks to you.')


  +updates_paragraph('I would also like to thank all free and Helperbird Pros users who support Helperbird. From leaving reviews, upgrading to Helperbird Pro, telling your friends about Helperbird, giving us suggestions and bug reports. It all helps us to make Helperbird the fastest growing tool for accessibility in the world and allowing me to continue on Helperbird full time.')

  +updates_paragraph_title('New features')
  +updates_paragraph_title_smaller("Word prediction has been updated","You can now hover over words and have them spoken to you.")
  +updates_paragraph_title_smaller("Colour transparency","You can now set the colour transparency for the overlay, Dyslexia ruler, line focus features.")
  +updates_paragraph_title_smaller("New filter feature.","Discover features for dyslexia, reading, writing, text to speech and much more. Even your favourite features.")
  +updates_paragraph_title_smaller("Pdf & Google docs toolbar redesigned.","We added labels, making it easier to understand what is happening and how to use each feature.")
  +updates_paragraph_title_smaller("The search feature is greatly improved.","The search feature now supports all languages and is easier to use. Give it a try.")


  +updates_paragraph_title('Changes')
  +updates_paragraph_title_smaller("Reader mode updated","Helperbird's Reader mode has gotten a huge update. With Helperbirds Reader mode, it allows distraction-free reading of any page but now you have more access to Helperbirds other features, including Text to speech, immersive reader, colours and more.")
  +updates_paragraph_title_smaller("Annotations have got a redesign.","Cleaner looking and easier to use.")
  +updates_paragraph_title_smaller("Annotations now show alerts","We now alert you when we save your notes.")
  +updates_paragraph_title_smaller("Reading list now shows images","When you add a site to the reading list it now adds an image to the view list of the websites you added.")
  +updates_paragraph_title_smaller("Highlight menu redesigned","We now show labels under each feature, making it easier to understand each feature.")

  +updates_paragraph_title('Bug fixes')
  +updates_paragraph("Icons were going missing on Outlook and Netflix.")
  +updates_paragraph("Word prediction is now 30% faster.")
  +updates_paragraph("Text to speech now working on Google docs.")

  +updates_paragraph_title('Whats coming next?')
  +updates_paragraph("Highlight paragraphs and text, like a highlighter.")
  +updates_paragraph("Spanish support.")


