extends ../includes/templates/updates/post.pug

block seo
  - var title = '75.0.0 🥳'
  - var description = "Can you believe that we are almost back to school? I know we are excited and have been working on some great new features and improvements.We "
  - var url = '75-0-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_title("Welcome to the new Helperbird 75.0.0 🥳", "We have a few surprises..... ")


  +updates_paragraph("Can you believe that we are almost back to school? I know we are excited and have been working on some great new features and improvements.We just released our new Google Docs and Google Slides addon and our iPad and iPhone extension is currently being reviewed by Apple, so it's coming out soon. ")

  +updates_paragraph("So what's changed in this version of Helperbird?")
  +updates_paragraph_title('New Features')

  +updates_paragraph_title_smaller("📄 Google Docs & Google Slides addon","Finally, we are proud to announce we now have a companion app for Google Docs and Google Slides. This allows you to interact with Google Docs and Google Slides files. Text to Speech, Font changer, and much more. We will be adding more features over the next few months.")
  +updates_paragraph_title_smaller("🔉 New default voice for text to speech","On Windows versions of Chrome, there is an issue where it would cut out after 300 characters, well it's due to the voice, we have changed it to the Google Uk Female voice.")
  +updates_paragraph_title_smaller("🔤 Text adjustment options","This change has come after 100s of requests. We have bundled all text, font options into one card. Making it easier to change the page to your own needs.")


  +updates_paragraph_title('Bug fixes')
  +updates_paragraph("Text to speech was cutting out on Windows 7 for Chrome.")
  +updates_paragraph("Added tweaks to the themes, making it easier than ever.")
  +updates_paragraph("Made it 20% lighter and faster.")
  +updates_paragraph("Trial notice wasnting showing")


  +updates_paragraph_title('Whats coming next?')

  +updates_paragraph("Our iPad app & iOs app is coming on August 21st.")
  +updates_paragraph("Our new website.")

