extends ../includes/templates/updates/post.pug

block seo
  - var title = '76.0.0 🥳'
  - var description = "Can you believe that we are almost back to school? I know we are excited and have been working on some great new features and improvements.We "
  - var url = '76-0-0'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/updates


  +updates_title("Helperbird 76.0.0 🥳", "Not the most exciting update..... ")


  +updates_paragraph("We just released our new Google Docs and Google Slides addon and our iPad and iPhone extension is currently being reviewed by Apple, so it's coming out soon. So this version just cleans up a few things.")

  +updates_paragraph("So what's changed in this version of Helperbird?")
  +updates_paragraph_title('New Features')

  +updates_paragraph_title_smaller("📄 New ways to login","Now, if you to use Helperbird Pro, you can login from the settings page using your email (Allowing us access to your email) or you can enter a subscription key. Totally up to you.")


  +updates_paragraph_title('Some figures')
  +updates_paragraph("11,000 Google docs add-on users")
  +updates_paragraph("493,000 users world wide.")


  +updates_paragraph_title('Whats coming next?')

  +updates_paragraph("Our iPad app & iOs app is coming before October 1st.")
  +updates_paragraph("Our new website is coming next week.")

