doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Updates from Helperbird | Helperbird
    link(href='https://www.helperbird.com/updates', rel='canonical')
    meta(content='Helperbird updates, lastest Helperbird updates,Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    meta(content='See Helperbird`s lastest new features to Helperbird for Chrome', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Updates from Helperbird | Helperbird', itemprop='name')
    meta(content='See Helperbird`s lastest new features to Helperbird for Chrome', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Updates from Helperbird | Helperbird', name='twitter:title')
    meta(content='See Helperbird`s lastest new features to Helperbird for Chrome', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Updates from Helperbird | Helperbird', name='og:title')
    meta(content='See Helperbird`s lastest new features to Helperbird for Chrome', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')

    script(type='application/ld+json').
      
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "url": "https://www.helperbird.com",
        "telephone": "5012936819",
        "sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "15 Markay Street",
          "addressLocality": "Toronto",
          "postalCode": "M3L2C6",
          "addressCountry": "Canada"
        }
      }
      
    script(type='application/ld+json').
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016","gtin12": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/dropdown.pug
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Release Notes
            h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Latest changes to Helperbird.
            .mt40
              button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button(data-target='#downloadModal',role="button", title="Open Helperbird download options", data-toggle='modal', type='button')
                span Download Helperbird
                |  
                span.its_free Its Free!
              a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text(href='/pricing', target='_blank', alt='Pricing')
                span See Pricing
    section.section_header.red-white.bg-light
      .container.text-center.
        
        
      .container.mt40
        .col-12.questions

          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192113323211199(checked, name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192113323211199')
              span.bold.primary-color.mr20 Version 24.0.2 - Released 7/5/2020
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Increase cursor sizes
              li OCR by Helperbird is the number one Optical Character Recognition app. Enable, select the area and all text is extracted to your notes. 
              li Dark & light mode for reader mode.
              li Highlight colors
              li Filters in notes app.
              li Voice to Mp3
              li Text to speech is Free!


          .faq.pad20
            input.faq-input#faq-dropdown-9-24441921133232111(checked, name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24441921133232111')
              span.bold.primary-color.mr20 Version 23.4.0- Released 13/4/2020
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Our brand new logo and new branding.
              li Added sliders across the apps.
              li Added save buttons for each section of the app.
              li Added dropdown list for fonts, languages and more.
              li Redesigned the Helperbird apps, to make it easier for everyone.
          .faq.pad20
            input.faq-input#faq-dropdown-9-24441921133232(checked, name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24441921133232')
              span.bold.primary-color.mr20 Version 22.3.0- Released 23/3/2020
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Our brand new logo
              li Save buttons added to color pickers.
              li Added word and letter spacing.
              li Save voice recordings to text.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-24441921133232(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24441921133232')
              span.bold.primary-color.mr20 Version 20.2.1- Released 05/1/2020
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Immersive Reader
              li Improved Reader mode
              li Removed Loader (Sorry)
              li Color picker option
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192113323(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192113323')
              span.bold.primary-color.mr20 Version 19.2.5 | Released 21/11/2019
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Remove the update page
              li Beta focus mode/ Readermode
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244419211332(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419211332')
              span.bold.primary-color.mr20 Version 19.2.0 | Released 9/11/2019
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li You can screenshot any webpage. Simply right click and click screenshot or in app.
              li Google Translate any website or any selected text to over 50 languages
              li Change the color of stroke feature
              li Change the color of any link.
              li Improved Notes taking design
              li Improved speech to text app design
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192113(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192113')
              span.bold.primary-color.mr20 Version 19.0.3 | Released 12/10/2019
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Tint and overlay is now fixed.
              li Sorry for that little bug.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192112(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192112')
              span.bold.primary-color.mr20 Version 19.0.2 | Released 11/10/2019
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li New app menu on the right!
              li Improved Google docs support
              li Now confirm when you cancel your account.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192111(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192111')
              span.bold.primary-color.mr20 Version 19.0.1
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Brand new design!
              li Improvements to the Notes taking, cleaner design and features.
              li New demo video
              li Ruler and Overlay fixes
              li Short cut for the apps from the homescreen
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244419211(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419211')
              span.bold.primary-color.mr20 Version 19.0.0
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li We have improved cognitive load feature.
              li New Color picker, pick hues, RGB, and more.
              li New payment system, we moved to Stripe.
              li How to use each feature videos.
              li Yearly subscription now offered.
              li New Ruler colors.
              li More text to speech voices.
              li Choose between two new fonts.
              li Improved notes syncing performance.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-24441921(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24441921')
              span.bold.primary-color.mr20 Version 18.0.21
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Improved the right click context.
              li You can now right click and view your notes.
              li Improved svg files.
              li Now see which email your logged in as .
              li Added a support link in the top right of the app.
              li Google docs pages improvements.
              li Cleaned up the interal app performance.
              li Version number on stop of app.
              li Google docs support
              li Cleaner sidebar
              li New right menu click options, text to speech, speech to text, explain and view notes.
              li View notes from right click menu.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192')
              span.bold.primary-color.mr20 Version 18.0.20
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Helperbird is now Free until Sepetember 31st
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244419(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419')
              span.bold.primary-color.mr20 Version 18.0.19
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Dyslexia ruler wasnt working on first load
              li Overlay wasnt working on first load
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244418(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244418')
              span.bold.primary-color.mr20 Version 18.0.18
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Text to speech was stuck on a loop.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244417(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244417')
              span.bold.primary-color.mr20 Version 18.0.17
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Number of days left in a trial wasnt rounding up.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244415(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244415')
              span.bold.primary-color.mr20 Version 18.0.15
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Now 10 day free trial.
            p.
              
              
        .col-12.questions
          .faq.pad20
            input.faq-input#faq-dropdown-9-24441921133(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24441921133')
              span.bold.primary-color.mr20 Version 19.1.0 | Released 28/10/2019
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li You can screenshot any webpage. Simply right click and click screenshot.
              li Bug fixes for right click menu.
              li Alert box wasnt going away.
              li You can now stop the text to speech.
              li See which options are enabled by if the icon is blue.
              li Review us button.
              li Show which email your logged into Chrome as.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192113(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192113')
              span.bold.primary-color.mr20 Version 19.0.3 | Released 12/10/2019
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Tint and overlay is now fixed.
              li Sorry for that little bug.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192112(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192112')
              span.bold.primary-color.mr20 Version 19.0.2 | Released 11/10/2019
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li New app menu on the right!
              li Improved Google docs support
              li Now confirm when you cancel your account.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192111(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192111')
              span.bold.primary-color.mr20 Version 19.0.1
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Brand new design!
              li Improvements to the Notes taking, cleaner design and features.
              li New demo video
              li Ruler and Overlay fixes
              li Short cut for the apps from the homescreen
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244419211(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419211')
              span.bold.primary-color.mr20 Version 19.0.0
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li We have improved cognitive load feature.
              li New Color picker, pick hues, RGB, and more.
              li New payment system, we moved to Stripe.
              li How to use each feature videos.
              li Yearly subscription now offered.
              li New Ruler colors.
              li More text to speech voices.
              li Choose between two new fonts.
              li Improved notes syncing performance.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-24441921(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24441921')
              span.bold.primary-color.mr20 Version 18.0.21
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Improved the right click context.
              li You can now right click and view your notes.
              li Improved svg files.
              li Now see which email your logged in as .
              li Added a support link in the top right of the app.
              li Google docs pages improvements.
              li Cleaned up the interal app performance.
              li Version number on stop of app.
              li Google docs support
              li Cleaner sidebar
              li New right menu click options, text to speech, speech to text, explain and view notes.
              li View notes from right click menu.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-2444192(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192')
              span.bold.primary-color.mr20 Version 18.0.20
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Helperbird is now Free until Sepetember 31st
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244419(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419')
              span.bold.primary-color.mr20 Version 18.0.19
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Dyslexia ruler wasnt working on first load
              li Overlay wasnt working on first load
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244418(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244418')
              span.bold.primary-color.mr20 Version 18.0.18
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Text to speech was stuck on a loop.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244417(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244417')
              span.bold.primary-color.mr20 Version 18.0.17
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Number of days left in a trial wasnt rounding up.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-244415(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244415')
              span.bold.primary-color.mr20 Version 18.0.15
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Now 10 day free trial.
            p.
              
              
        .col-12.questions
          .faq.pad20
            input.faq-input#faq-dropdown-9-244414(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244414')
              span.bold.primary-color.mr20 Version 18.0.14
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li The correct message was not showing even though you paid.
            p.
              
              
        .col-12.questions
          .faq.pad20
            input.faq-input#faq-dropdown-9-244413(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244413')
              span.bold.primary-color.mr20 Version 18.0.13
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Free trial was broken
            p.
              
              
        .col-12.questions
          .faq.pad20
            input.faq-input#faq-dropdown-9-24444(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24444')
              span.bold.primary-color.mr20 Version 18.0.10
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li New and improved Zoom feature.
              li Remove images and Gifs now!
              li Improved syncing of subscription.
            p.
              
              
        .col-12.questions
          .faq.pad20
            input.faq-input#faq-dropdown-9-244(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244')
              span.bold.primary-color.mr20 Version 18.0.0
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Two new fonts.
              li Bug fix: Lience now syncing.
              li New design and app layout with branding.
              li You can now create, delete, copy, edit any note in the Notes taking.
              li Speech to text, speak and see it type the textt
              li Cognitive load feature.
              li Color blind, add underline and stroke around text.
              li More colors to pick from for font colors and background.
              li Zoom in the font of the page.
              li Bug fixes and app improvments.
            p.
              
              
        .col-12.questions
          .faq.pad20
            input.faq-input#faq-dropdown-9-24(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24')
              span.bold.primary-color.mr20 Version 16.2.1
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li New Google Docs font integration.
              li Improved app design.
              li Better subscription options.
              li Bug fixes within the app.
              li Added Directory app feature.
              li Demo videos added to the support page.
              li Features now contain demo videos.
              li Improved website UX design.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-1(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-1')
              span.bold.primary-color.mr20 Version 16.0.0
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li Three new fonts.
              li Over 200 new voices to pick from for the text to speech.
              li Performance increased by 10%.
              li Explain/ Dictionary feature.
              li Text to speech: Choose words per minute.
              li Pick custom colors for fonts.
              li Pick custom colors for overlays.
              li Pick custom colors for backgrounds
              li Better text to speech options.
              li New pricing options.
            p.
              
              
          .faq.pad20
            input.faq-input#faq-dropdown-9-0(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-0')
              span.bold.primary-color.mr20 Version 15.0.0
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable.
              
              
            ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              li New Colors.
              li Cleaner Design.
              li Tint/Overlay options.
              li Performance increased by 45%.
              li More fonts.
              li Bug where users subscription was not active.
              li Fix broken html on any website.
              li New pricing options.
              li Better text to speech options.
            p.
              
              
    include ../includes/layout/footer.pug