extends ../includes/templates/updates/home.pug

block seo
  - var title = 'Updates from Helperbird '
  - var description = 'See Helperbird`s lastest new features to Helperbird for Chrome'
  - var url = '/'
  - var keywords = 'The Helperbird Blog, Updates, ideas, inspiration from Helperbird, Product Updates, Company News on Helperbird., Helperbird Blog, Helperbird Education Blog '


block list
  include ../includes/mixins/updates
  each val in ["30-6-0","30-5-0","30-4-0","30-3-0", "30-2-0", "30-0-0", "28-0-2", "27-1-0", "27-0-0", "26-1-1", "26-0-2", "26-0-1", "25-1-0", "25-0-1", "25-0-0", "24-3-0", "24-2-4", "24-2-2", "24-1-2", "24-1-1", "24-1-0"]
    +home_page_updateslist(val,val,val,'Release','/assets/images/social/facebook.png')


  


