extends ../includes/templates/features/post.pug

block seo
    - var title = 'Ad Blocker — best light weight ad blocker'
    - var description = 'Light weight ad blocker. Block ads and pop-ups on YouTube, Facebook, Twitch, and your favorite websites.'
    - var url = 'ad-blocker'
    - var keywords = 'Ad Blocker, Adjust letters and words with Helperbird, Adjust letters and words, Adjust letters and words, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
    include ../includes/mixins/features
    .flex.flex-column.col-6.mobile-col-12.center-vertical.mobile-text-center.mb40

        +features_title("Best light weight ad blocker! ",'Content features')
        +features_description("Block ads and pop-ups on YouTube, Facebook, Twitch, and your favorite websites.")
        +download_button()

    .col-6.flex.flex-column.text-center.mobile-col-12
        +compare('/assets/images/switch/adjust/after.png','/assets/images/switch/adjust/before.png')
block features
    include ../includes/mixins/features
    +video_showoff('aXXRSenvTTg')
    

    +section('About',['Block ads and pop-ups on YouTube, Facebook, Twitch, and your favorite websites.','It’s not just the need for reading glasses that can make you wish the words on your display were bigger. Well with Helperbirds adjust feature, you can adjust letter, word, and line-height spacing.'])
    
    +section('Features',['Block third-party trackers and protect your privacy.','Browse safely by blocking malicious ads with malware, scams, and cryptocurrency miners.','Improve page load times and enjoy a faster Internet.','Block pop ups, ads, and annoying banners (even remove video ads!) on YouTube, Facebook, Twitch, and all your favorite sites.'])
    +upsell('Pro feature','For more information on Helperbird Pro version click the button below.','See pricing')
