extends ../includes/templates/features/post.pug

block seo
    - var title = 'Stop straining your eyes, adjust word and letters'
    - var description = 'Adjust letters and words to your needs. Making it easier and faster to read and get get work done.'
    - var url = 'adjust-letters-and-words'
    - var keywords = 'djust letters and words with Helperbird, Adjust letters and words, Adjust letters and words, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features_new


  +features_title("Adjust letters, word and line height","Stop straining your eyes to see what’s on your screen. Adjust word, line and letter spacing with Helperbird.",'/assets/images/new/adjust-letters-and-words/adjust-letters-and-words-helperbird.png')



block features
    include ../includes/mixins/features_new


    +section_intro('Intro',[' Have you ever thought,“The text here sure is tricky to read. Wonder when they made it so small?”','It’s not just the need for reading glasses that can make you wish the words on your display were bigger. Well with Helperbirds adjust feature, you can adjust letter, word, and line-height spacing.'])
    
    +section('How to',[])

    +video_support('QmFo0u4aIF4')
    +section('Features',['Quickly adjust font size, font style, and line spacing on websites.','Automatic style adjustment on your saved favorite sites.','Clutter-clearing power tools to remove distracting multimedia (images, videos, fancy backgrounds).'])


