
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Show Alt tags on mouse over for Chrome, Firefox and Edge'
  - var description = 'Helperbird allows you to show ALT & title tags on mouse over.'
  - var url = 'alt-tool-tip-highlighter'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("Show Alt tags on mouse over","Helperbird allows you to show ALT & title tags on mouse over.",'Alt highlighter')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',["Helperbird allows you to show ALT & title tags on mouse over."])
  +section('Features',["Show alt tags on hover", "Show title tags on hover."])

  