
extends ../includes/templates/features/post.pug

block seo
    - var title = 'Analyze text and webpages quickly'
    - var description = 'Quickly find the number of characters, letters and breakdowns of all sentences on a webpage.'
    - var url = 'analyze'
    - var keywords = 'Adjust letters and words with Helperbird, Adjust letters and words, Adjust letters and words, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features_new


  +features_title("Analyze text and webpages quickly","In two clicks, find the amount of letters, characters and more on any website.",'/assets/images/new/analyze/analyze.png')



block features
    include ../includes/mixins/features_new


    +section_intro('Intro',['In two clicks, find the amount of letters, characters and more on any website.'])

    +section('Features',[' Find the amount of characters in the selected text.','Find the amount of words in the selected text.'])