extends ../includes/templates/features/post.pug

block seo
    - var title = 'Annotate website, ebooks, pdfs on Chrome, Firefox & Edge'
    - var description = 'Highlight or annotate web pages, documents, pdfs, ebooks and more to improve research and study. Leaving sticking notes that help you with your research and homework.'
    - var url = 'annotation'
    - var keywords = 'Adjust letters and words with Helperbird, Adjust letters and words, Adjust letters and words, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features_new


  +features_title("Annotate the web anywhere with Helperbird","Highlight or annotate web pages documents, pdfs, ebooks and more content to improve engagement and study.")
  +image_showoff('/assets/images/new/annotation/annotation.png')



block features
    include ../includes/mixins/features_new


    +section('About',['Highlight or annotate text directly in web pages. They will show up when you revisit the web page and saved for you in Helperbird.'])

    +section('Features',['Annotate any website','Simple easy to use UI.','All notes are safe and synced across all your devices.','Change background color and font color of annotates.','Change size of the annotations and location.'])