extends ../includes/templates/features/post.pug

block seo
    - var title = 'Annotate website, ebooks, pdfs on Chrome, Firefox & Edge'
    - var description = 'Highlight or annotate web pages, documents, pdfs, ebooks and more to improve research and study. Leaving sticking notes that help you with your research and homework.'
    - var url = 'annotation'
    - var keywords = 'Adjust letters and words with Helperbird, Adjust letters and words, Adjust letters and words, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features_new


  +features_title("Annotate Pdfs, websites and more","Highlight or annotate web pages documents, pdfs, ebooks and more content to improve engagement and study. ")
  +video_showoff('u67t7Ap61Nc')



block features
    include ../includes/mixins/features_new


    +section('About',
      [
        'Highlight or annotate text directly in web pages. They will show up when you revisit the web page and saved for you in Helperbird.',
        'We built Helperbird for Chrome to help you annotate, collect web content like articles, PDF reports, Youtube videos, and more.'
      ]
    )

    +section('Features',
      [
        'Annotate any website, pdf or file..',
        'Simple easy to use UI.',
        'A dashboard to manage all your notes.',
        'Export your notes as Evernote, Word or HTML files. ',
        'All notes are safe and synced across all your devices.',
        'Change background color and font color of annotates.',
        'Change size of the annotations and location.'
      ]
    )

    +section('Support video',[])

    +video_support('u67t7Ap61Nc')