
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Simple speed-customizable auto scrol for Chrome, Firefox and Edge'
  - var description = 'Helperbird  allows you to easily change the auto-scroll speed and save it in three different modes; slow, medium and fast. A single click will stop the auto-scrolling.'
  - var url = 'auto-scroll'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("Simple speed-customizable auto scroll","Helperbird  allows you to easily change the auto-scroll speed and save it in three different modes; slow, medium and fast. A single click will stop the auto-scrolling.",'Auto scroll')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',["Helperbird  allows you to easily change the auto-scroll speed and save it in three different modes; slow, medium and fast.","A single click will stop the auto-scrolling."])
  +section('Features',["Helperbird  allows you to easily change the auto-scroll speed and save it in three different modes; slow, medium and fast.","A single click will stop the auto-scrolling."])

  