doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Blacklist for Helperbird | Helperbird
    meta(content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app', name='keywords')
    link(href='https://www.helperbird.com/features/blacklist', rel='canonical')
    meta(content='Helperbird provides a method of excluding itself from running on websites using the blacklist feature.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Blacklist | Helperbird  ', itemprop='name')
    meta(content='Helperbird provides a method of excluding itself from running on websites using the blacklist feature.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='Blacklist | Helperbird  ', name='twitter:title')
    meta(content='Helperbird provides a method of excluding itself from running on websites using the blacklist feature.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Blacklist | Helperbird  ', name='og:title')
    meta(content='Helperbird provides a method of excluding itself from running on websites using the blacklist feature.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Blacklist | Helperbird  ', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='/assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='/assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='/assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/navigation.pug
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Blacklist
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Disable Helperbird from running on certain sites.
            .mt40
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color(href='#pricing')
                span Download Helperbird 
                span.its_free Its Free!
              a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                span Watch it in action

                      
                      
    section.section.mb80.press-logos
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            About
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text 
            | Use the blacklist feature to excluded Helperbird from running on chosen websites. Exclude as many websites as you wish from running Helperbird.
            | Some websites already have built-in accessibility sufficient enough for the user needs. In this case, users can choose to opt-out Helperbird form running on those websites.

    section.section.lightblue-white.mb80.press-logos
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us Screenshots
        .row_img
          .column_img.browser
            img.width_100(alt='Blacklist feature in work of Helperbird ', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/blacklist/blacklist_1.png')
          .column_img.browser
            img.width_100(alt='Blacklist feature in work of Helperbird ', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/blacklist/blacklist_2.png')
          .column_img.browser
            img.width_100(alt='Blacklist feature in work of Helperbird ', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/blacklist/blacklist_3.png')
          .column_img.browser
            img.width_100(alt='Blacklist feature in work of Helperbird ', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/blacklist/blacklist_4.png')
      .container-lrg.flex.mt75
        .container_img.browser
          img.width_100#expandedImg
          #imgtext.
    
    .section.lightblue-white.mb80.press-logos
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            Pro feature
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text For more information on Helperbird Pro version click the button below.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-full-features.mobile-text-center.accent-bg.button-signup_two.text-center(href='/pricing', title='Link to Helperbird pricing page')
              span See pricing 
    include ../includes/pricing/pricing-table.pug
            

    include ../includes/layout/footer.pug