doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Blocklist & blacklist for Chrome | Helperbird
    meta(content='Blocklist & blacklist for Helperbird, Blocklist & blacklist, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/features/blacklist', rel='canonical')
    meta(content='Helperbird provides a method of excluding itself from running on websites using the Blocklist feature.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Blocklist | Helperbird  ', itemprop='name')
    meta(content='Helperbird provides a method of excluding itself from running on websites using the Blocklist feature.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='Blocklist | Helperbird  ', name='twitter:title')
    meta(content='Helperbird provides a method of excluding itself from running on websites using the Blocklist feature.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Blocklist | Helperbird  ', name='og:title')
    meta(content='Helperbird provides a method of excluding itself from running on websites using the Blocklist feature.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Blocklist | Helperbird  ', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='/assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='/assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='/assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/navigation.pug
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Blocklist
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Disable Helperbird from running on certain sites.
            .mt40
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='#pricing')
                span Get Helperbird for Free
              a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text.cta-small-text(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                span Watch it in action


                      
                      
    section.section.mb80
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            About
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text 
            | Use the Blocklist feature to excluded Helperbird from running on chosen websites. Exclude as many websites as you wish from running Helperbird.
            | Some websites already have built-in accessibility sufficient enough for the user needs. In this case, users can choose to opt-out Helperbird form running on those websites.

    section.section.lightblue-white.mb80
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us Screenshots
        .row_img
          .column_img.mask.mask__noimage
            img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/Blocklist/Blocklist_1.png')
          .column_img.mask.mask__noimage
            img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/Blocklist/Blocklist_2.png')
          .column_img.mask.mask__noimage
            img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/Blocklist/Blocklist_3.png')
          .column_img.mask.mask__noimage
            img.width_100(alt='Blocklist feature in work of Helperbird ', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/Blocklist/Blocklist_4.png')
      .container-lrg.flex.mt75
        .container_img.browser
          img.width_100#expandedImg
          #imgtext.
    
    .section.lightblue-white.mb80
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            Pro feature
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text For more information on Helperbird Pro version click the button below.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-full-features.mobile-text-center.accent-bg.button-signup_two.text-center(href='/pricing', title='Link to Helperbird pricing page')
              span See pricing
            

    include ../includes/layout/footer.pug