extends ../includes/templates/features/post.pug

block seo
  - var title = 'Color blindness support for Google Chrome'
  - var description = 'Helperbird gives free color blindness support by underlining and stroking web page links. All from our extension.'
  - var url = 'color-blindness'
  - var keywords = 'Color blindness support for Google Chrome,Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'












block content
  include ../includes/mixins/features_new


  +features_title("Color blindness support","Fortunately, on computers we have full control over the presentation of colors, which means there are various ways of addressing the issue, thanks to Helperbird.")
  +image_showoff()



block features
    include ../includes/mixins/features_new




    +section('About',['Underline links and add strokes around the text to help with color blindness. ','The most common types of color blindness are Protanopia and Deuteranopia, which affects over 7% of the male population. ','These types of color blindness can result in links being barely indistinguishable from regular text. Helperbird helps with color blindness by underling and stroking links.'])

    +section('Features',['Links should be easy to spot without relying on color.  With Helperbird, underlines to every line on the page using a four different colors. Making it stand out for most color blind types.',' Along with Helperbirds theme and style features. We offer a stroke feature that adds a stroke effect around the text to help with color blindness.'])


    +section(' How it helps',['Dyslexics find websites text easier to read with dyslexia friendly colors.','Users can choose to customize their web page colors for personal preference.'])

