doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Accessibility cursor controls for Chrome | Helperbird
    meta(content='Accessibility cursor controls for Chrome , Accessibility, cursor controls, Chrome ,Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/features/cursor-control', rel='canonical')
    meta(content='Helperbird gives keyboard accessibility & mouse control alternatives for Google Chrome', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Accessibility cursor controls | Helperbird', itemprop='name')
    meta(content='Helperbird gives keyboard accessibility & mouse alternatives', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Accessibility cursor controls | Helperbird', name='twitter:title')
    meta(content='Helperbird gives keyboard accessibility & mouse alternatives', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/features/cursor.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Accessibility cursor controls | Helperbird', name='og:title')
    meta(content='Helperbird gives keyboard accessibility & mouse alternatives', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/features/cursor.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Accessibility cursor controls | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org",
      	           "@type": "SoftwareApplication",
      	           "name": "Helperbird",
      	           "operatingSystem": "Windows",
      	           "applicationCategory": "https://schema.org/UtilitiesApplication",
      	           "aggregateRating": {
      	               "@type": "AggregateRating",
      	               "ratingValue": "4.8",
      	               "ratingCount": "42"
      	           },
      	           "offers": {
      	               "@type": "Offer",
      	               "price": "4.99",
      	               "priceCurrency": "USD"
      	           }
      	       }
      
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org",
      	           "@type": "Organization",
      	           "name": "Helperbird",
      	           "url": "https://www.helperbird.com",
      	           "sameAs": [
      	               "http://www.facebook.com/helperbird",
      	               "https://www.linkedin.com/company/19112429",
      	               "https://twitter.com/helperbird_"
      	           ]
      	       }
      
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org/",
      	           "@type": "Product",
      	           "name": "Helperbird",
      	           "image": [
      	               "https://www.helperbird.com/assets/images/pwa/144.png",
      	               "https://www.helperbird.com/assets/images/pwa/512.png",
      	               "https://www.helperbird.com/assets/images/pwa/full.png"
      	           ],
      	           "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	           "sku": "helperbird2016","gtin12": "helperbird2016",
      	           "mpn": "925872",
      	           "brand": {
      	               "@type": "Thing",
      	               "name": "Helperbird"
      	           },
      	           "review": {
      	               "@context": "http://schema.org/",
      	               "@type": "Review",
      	               "name": "Colm Murphy",
      	               "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	               "reviewRating": {
      	                   "@type": "Rating",
      	                   "ratingValue": "5",
      	                   "bestRating": "5",
      	                   "worstRating": "1"
      	               },
      	               "datePublished": "2019-05-02",
      	               "author": {
      	                   "@type": "Person",
      	                   "name": "Colm Murphy"
      	               }
      	           },
      	           "aggregateRating": {
      	               "@type": "AggregateRating",
      	               "ratingValue": "4.8",
      	               "reviewCount": "57"
      	           },
      	           "offers": {
      	               "@type": "Offer",
      	               "url": "https://www.helperbird.com",
      	               "priceCurrency": "USD",
      	               "price": "4.99",
      	               "priceValidUntil": "2020-11-05",
      	               "itemCondition": "https://schema.org/NewCondition",
      	               "availability": "https://schema.org/InStock",
      	               "seller": {
      	                   "@type": "Organization",
      	                   "name": "Helperbird"
      	               }
      	           }
      	       }
      
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/navigation.pug


      
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Make your mouse pointer more visible
            h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text 
            h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
              | The mouse pointer is sometimes hard to see. On Helperbird, use the Cursor Accessibility preferences to make it easier to find the pointer on the screen.
            
            .mt40
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='/pricing')
                span Get Helperbird for Free
              a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text.cta-small-text(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                span Watch it in action
        .container-md.flex.catch.hide
          .flex.flex-column.col-12.text-center
            .scroller_video_home.mb20
              .scroller_video_item_home_page
                .youtube_lazy_load(data-embed='etJBvXGUI58')
                  .play-button
                  img(src='https://img.youtube.com/vi/aXXRSenvTTg/sddefault.jpg', alt='Helperbird support feature')
        .container-md.flex.slider-show
          .flex.flex-column.col-12.text-center
            .browser.mt40.launchaco-builder-hoverable
              .mask.mask__noimage
                .img-comp-container
                  .img-comp-img
                    img(src='/assets/images/switch/mouse/after.png', loading='lazy', alt='Before Helperbird', width='760', height='441')
                  .img-comp-img.img-comp-overlay
                    img(src='/assets/images/switch/mouse/before.png', loading='lazy', alt='After Helperbird', width='760', height='441')        
                        

      


    section.section.mb80
      .container-lrg
        .col-12
          h3.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            About
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text 
            | Ever think, is there’s a way to drastically increase the size of the cursor pointer?
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text 
            | If you move your mouse, and can’t find the pointer, it’s time to change the way that the pointer looks and behaves. 
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text 
            | You can make that adjustment through Helperbirds Cursor options.  



  

    .section.lightblue-white.mb80
      .container-lrg
        .col-12
          h3.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40(style='color:#000') How it helps
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text 
            | If you have difficulty seeing or following the mouse pointer when it moves — or it changes to an insertion point, crosshair or other shape — you can increase its size.


    .section.lightblue-white.mb80
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40 Watch the video
      .container-lrg.flex
        .flex.flex-column.col-12.text-center
          .launchaco-builder-hoverable
            .scroller_video_home.mb20
              .scroller_video_item_home_page
                .youtube_lazy_load(data-embed='etJBvXGUI58')
                  .play-button.
  

    .section.lightblue-white.mb80
      .container-lrg
        .col-12
          h3.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            Pro feature
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text For more information on Helperbird Pro version click the button below.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-full-features.mobile-text-center.accent-bg.button-signup_two.text-center(href='/pricing')
              span See pricing

    include ../includes/sections/questions.pug
    include ../includes/layout/footer.pug