





extends ../includes/templates/features/post.pug

block seo
  - var title = 'Dictionary app by Helperbird for Google Chrome'
  - var description = 'Dictionary app by Helperbird allows you to easily lookup the meaning of any English word.'
  - var url = 'dictionary'
  - var keywords = 'Dictionary app by Helperbird for Google Chrome, Dictionary app, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features_new


  +features_title("Dictionary lookup"," With one right click of a mouse, users can discover what any English word means. Including in search results are synonyms and related words.",'/assets/images/new/dictionary/dictionary.png','Dictionary')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',['Helperbird Dictionary feature allows you to quickly lookup and research definitions of words and phrase. ','The definitions come from Wiktionary but have been preprocessed to reduce formatting and provide faster lookup. ','Open to the dictionary entry of that word, usually including examples, audio pronunciation, and synonyms.','Helperbird provides online English dictionary that is clean and easily accessible for explaining any English word they found on a web page.','ith two right clicks of a mouse, users can discover what a word in English means. Included in the search results are synonyms, related words and the primary meaning of the word.'])

  +section('Features',[ 'Helps to search the meaning of an English word with ease.','Provides with a fast, clean designed, and add free user interface.','Included in the search results are synonyms, related words and the primary meaning of the word.','View definitions easily as you browse the web.'])
