
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Grayscale the Web for Chrome, Firefox and Edge'
  - var description = 'Removes all color from websites, turning them gray. Can be set for specific sites and tabs, or for all sites.'
  - var url = 'gray-hue-overlay'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("'Grayscale the Web","Removes all colour from websites, turning them gray. Can be set for specific sites and tabs, or for all sites.",'Grey scale')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',["This extension let's you quickly and easily remove all images. This allows for a distraction free website viewing experience."])
  +section('Features',["Turns your website to grey scale.","Removes all colour from a page."])

  