extends ../includes/templates/features/post.pug

block seo
  - var title = 'Enable high contrast in Google Chrome'
  - var description = 'High Contrast mode/ high contrast for Google chrome by Helperbird allows you to invert every color on the page, to be high contrast.'
  - var url = 'high-contrast'
  - var keywords = 'Enable high contrast in Google Chrome, high contrast in Google Chrome,high contrast in Google Chrome, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features_new


  +features_title("High contrast","High Contrast mode by Helperbird allows you to invert every color on the page, to be high contrast.")
  //+image_showoff('/assets/images/new/invert/invert.png')



block features

  include ../includes/mixins/features_new
  +section('About',['High Contrast mode by Helperbird allows you to invert every color on the page. High Contrast lets you browse the web with your choice of several high-contrast color filters designed to make it easier to read text.'])

  +section('Why use it?',['Switch the colors on the page to be high contrast.','High contrast helps you distinguish between items and text on your screen.'])



