
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Highlight any text you want with any color with Helperbird for Chrome, Firefox and Edge'
  - var description = 'Highlight text on a web page, pdf or more, in a variety of styles. The highlighted text can be summarised, either as snippets or as full text. Only with Helperbird for Google Chrome, Firefox and Edge.'
  - var url = 'highlight-paragraphs'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("Highlight any text you want with any color.","Line spacing (leading) is at least space-and-a-half within paragraphs, and paragraph spacing is at least 1.5 times larger than the line spacing")



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',["A much-requested feature is finally here. Highlight any paragraph or text on a website. Any colour you want. Super handy for studying and revision. Pdf support is coming next month. All highlights will stay on the page and will also be stored in yours notes app."])
  +section('Features',["7 colors to pick from.","Works on websites and pdfs.","Syncs across machines"])

  