extends ../includes/templates/features/post.pug

block seo
  - var title = 'Immersive reader for Google Chrome'
  - var description = 'Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability. Immersive Reader can improve reading comprehension and increase fluency for English language learners..'
  - var url = 'immersive-reader-for-chrome'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features
  .flex.flex-column.col-6.mobile-col-12.center-vertical.mobile-text-center.mb40

    +features_title("Immersive reader for Chrome",'Content features')
    +features_description("Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability. Immersive Reader can improve reading comprehension and increase fluency for English language learners.")
    +download_button()

  .col-6.flex.flex-column.text-center.mobile-col-12
    +video_showoff('lMj6a7UvJng')

block features
    include ../includes/mixins/features





    +section('About',['Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability. Immersive Reader can improve reading comprehension and increase fluency for English language learners.'])

    +section('Options',['Change font size, text spacing, and background colour.','Split up words into syllables.','Highlight verbs, nouns, adjectives and sub-clauses.','Read out text aloud, and change the speed of reading.'])

    +upsell('Free feature','For more information on Helperbird Pro version click the button below.','See pricing')






 


