extends ../includes/templates/features/post.pug

block seo
  - var title = 'Immersive reader for Google Chrome'
  - var description = 'Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability. Immersive Reader can improve reading comprehension and increase fluency for English language learners..'
  - var url = 'immersive-reader-for-chrome'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features_new


  +features_title("Immersive reader",'Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability. Immersive Reader can improve reading comprehension and increase fluency for English language learners.','/assets/images/new/immersive-reader-for-chrome/immersive-reader-for-chrome.png')



block features
  include ../includes/mixins/features_new
  +section_intro('Intro',['Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability. Immersive Reader can improve reading comprehension and increase fluency for English language learners.'])
