extends ../includes/templates/features/post.pug

block seo
  - var title = 'Your notes. Organized. Effortless for Google Chrome'
  - var description = 'Take notes anywhere. Find information faster. Share ideas with anyone. Meeting notes, web pages, projects, to-do lists—with Helperbird as your note taking app, nothing falls through the cracks.'
  - var url = 'notes'
  - var keywords = 'Notes taking extension for Google Chrome,Notes taking extension, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features
  .flex.flex-column.col-6.mobile-col-12.center-vertical.mobile-text-center.mb40

    +features_title("Your notes. Organized. Effortless.",'Note features')
    +features_description("Your notes anywhere. Find information faster. Share ideas with anyone. Meeting notes, web pages, projects, to-do lists—with Helperbird as your note taking app, nothing falls through the cracks.")
    +download_button()



  .col-6.flex.flex-column.text-center.mobile-col-12
    +video_showoff('A9qQZy36El0')

block features
    include ../includes/mixins/features


    +section('About',['Take notes anywhere. Find information faster. Share ideas with anyone. Meeting notes, web pages, projects, to-do lists—with Helperbird as your note taking app, nothing falls through the cracks.'])

    +section('Features',['View notes in the Notes taking including time and date of the saved note as well as the website from which it was saved from.','Capture ideas and inspiration in notes, voice, and pictures.','Delete and edit saved notes.','Never lose track of your tasks and deadlines.','Manage everything from big projects to personal moments.'])



    +upsell('Pro feature','For more information on Helperbird Pro version click the button below.','See pricing')