doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Color overlays & tints for Google Chrome | Helperbird
    meta(content='Overlay and Tint feature for dyslexics, Overlay and Tint, feature for dyslexics, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/features/overlay', rel='canonical')
    meta(content='Helperbird allows custmization of a web page overlay and tint features to reduce web page brightness and improve focus.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Color overlays & tints for Google Chrome | Helperbird', itemprop='name')
    meta(content='Helperbird allows custmization of a web page overlay to reduce web page brightness and improve focus.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Color overlays & tints for Google Chrome | Helperbird', name='twitter:title')
    meta(content='Helperbird allows custmization of a web page overlay to reduce web page brightness and improve focus.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/features/overlay.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Color overlays & tints for Google Chrome | Helperbird', name='og:title')
    meta(content='Helperbird allows custmization of a web page overlay to reduce web page brightness and improve focus.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/features/overlay.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Color overlays & tints for Google Chrome | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "url": "https://www.helperbird.com",
        "telephone": "5012936819",
        "sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "15 Markay Street",
          "addressLocality": "Toronto",
          "postalCode": "M3L2C6",
          "addressCountry": "Canada"
        }
      }
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "0446310786",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/dropdown.pug
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Overlay
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text People who don't like bright white web pages can now change the overlay color of a web page with the overlay feature.
            .mt40
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button(onclick='features.enableTint("#22942b")')
                span Try Overlay
              a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text.cta-small-text(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                span Watch it in action
        .container-md.flex.catch.hide
          .flex.flex-column.col-12.text-center
            .scroller_video_home.mb20
              .scroller_video_item_home_page
                .youtube_lazy_load(data-embed='aXXRSenvTTg')
                  .play-button
                  img(src='https://img.youtube.com/vi/aXXRSenvTTg/sddefault.jpg', alt='Helperbird support feature')
        .container-md.flex.slider-show
          .flex.flex-column.col-12.text-center
            .browser.mt40.launchaco-builder-hoverable
              .mask.mask__noimage
                .img-comp-container
                  .img-comp-img
                    img(src='/assets/images/switch/overlay/after.png', loading='lazy', alt='Before Helperbird', width='760', height='441')
                  .img-comp-img.img-comp-overlay
                    img(src='/assets/images/switch/overlay/before.png', loading='lazy', alt='After Helperbird', width='760', height='441')
                  
                      
    section.section.mb80
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            About this feature
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Color Overlay is a filter that puts a tint on your browser viewport to make the text more readable. This Helperbird feature is used by people suffering from visual distortions reading the content on the normal background (Scotopic Sensitivity Syndrome). 
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text The colored overlay can improve the reading abilities of such users by reducing or eliminate perceptual processing errors.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Bright web pages are a known issue on the web which affects people's ability to read and focus. 
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Users with Irlen syndrome or people who don't like bright white web pages can change the overlay color of a web page with the Helperbird’s overlay feature.
    section.section.mb80
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            Options
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Apply a overlay to any website you visit.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Pick from 24 default colors or a custom color.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Shades Chrome to a soothing orange color to decrease eye-strain, eye fatigue and to appease your brain's day/night cycle.
 
 
    .section.lightblue-white.mb80
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40 Watch the video
      .container-lrg.flex
        .flex.flex-column.col-12.text-center
          .launchaco-builder-hoverable
            .scroller_video_home.mb20
              .scroller_video_item_home_page
                .youtube_lazy_load(data-embed='uOOucEf_tQk')
                  .play-button.

    section.section.mb80
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            How it helps?
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Improves reading focus.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Helps to decrease web page brightness.

            
    .section.lightblue-white.mb80
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            Pro feature
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text For more information on Helperbird Pro version click the button below.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-full-features.mobile-text-center.accent-bg.button-signup_two.text-center(href='/pricing', title='Link to Helperbird pricing page')
              span See pricing
            
    include ../includes/sections/questions.pug
    include ../includes/layout/footer.pug