extends ../includes/templates/features/post.pug

block seo
  - var title = 'Color overlays & tints for Google Chrome'
  - var description = 'Helperbird allows custmization of a web page overlay and tint features to reduce web page brightness and improve focus.'
  - var url = 'overlay'
  - var keywords = 'Optical Character Recognition software for Chrome, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'




block content
  include ../includes/mixins/features_new


  +features_title("Color overlays & tints for Google Chrome","People who don't like bright white web pages can now change the overlay color of a web page with the overlay feature.")
  //+image_showoff('/assets/images/new/overlay/overlay.png')



block features
  include ../includes/mixins/features_new





  +section('About',['Color Overlay is a filter that puts a tint on your browser viewport to make the text more readable. This Helperbird feature is used by people suffering from visual distortions reading the content on the normal background (Scotopic Sensitivity Syndrome). ','The colored overlay can improve the reading abilities of such users by reducing or eliminate perceptual processing errors.','Bright web pages are a known issue on the web which affects peoples ability to read and focus. ','Users with Irlen syndrome or people who dont like bright white web pages can change the overlay color of a web page with the Helperbird’s overlay feature.'])

  +section('Options',['Apply a overlay to any website you visit.','Pick from 24 default colors or a custom color.','Shades Chrome to a soothing orange color to decrease eye-strain, eye fatigue and to appease your brains day/night cycle.'])


