
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Annotate and highlight Pdfs with Helperbird'
  - var description = 'Quickly annotate and highlight PDFs with Helperbird online for free.'
  - var url = 'pdfs'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("Highlight & Annotate any PDF file","Highlight paragraphs. Annotate the file. Send it around. Review it online. Learn how Helperbird makes it easy to annotate your PDF documents and send them for group review online and for studying. ",'/assets/images/new/pdfs/highlight-and-annotate-pdfs-online.jpeg','Highlight & Annotate PDF files.')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',["With Helperbirds PDF support. You can annotate, highlight PDF files but you can also have dyslexia support and much more."])

  +section('How to annotate PDF files online',["Open Helperbird and select the PDF reader option.","Click the open PDF button.","Click annotate button along the top.","Thats it."])

  

  +section('How to highlight PDF files online',["Open Helperbird and select the PDF reader option.","Click the open PDF button.","Highlight the text you want highlight","Click the highlight button.","Thats it."])

  