
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Quickly print a page with Helperbird'
  - var description = 'Pages are optimized for the ultimate print reading experience.'
  - var url = 'printing-tool'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("Quickly print a page with Helperbird","Pages are optimized for the ultimate print reading experience.",'/assets/images/new/text-to-speech/text-to-speech.png','Reading guide')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',["Print the current page you see with one single click. That for all kinds of photo printing, business cards, etc.","Place a print button inside your web browser. So you can easily print a page with one click. Print today a web page, photo or business card with your own favorite Print button."])

  +section('Features',["Print button works for Windows, Mac and Linux. And also Google Chromebooks."])

  