extends ../includes/templates/features/post.pug

block seo
  - var title = 'Privacy features of Helperbird'
  - var description = 'Helperbirds privacy features don`t sell, store, or consume any user data. We do not store data or any other user-related content.'
  - var url = 'privacy'
  - var keywords = 'Privacy features of Helperbird, Privacy features, Privacy, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("Privacy","Helperbird will never sell, store, or consume any user data. We do not store data or any other user-related content.")




block features
  include ../includes/mixins/features_new





  +section('About',['Helperbird does not sell, store, or consume any user data. ','We do not store data or any other user-related content. ','We do not promote advertisements or integrate any third-party software libraries, which can lead to malware exploits. ','This level of privacy transparency allows Helperbird to be compliant with Coppa and Ferpa laws. ','As long as schools have technology waiver from parents, Helperbird can be installed and used on school computers.'])

  +section('How it helps',['Many online services sell, store, track, or promote advertisement as forms of revenue streams. ','Helperbird does not support this idea as we believe in everyones right to full privacy.','Having not to worry about a software tracking, storing, or sharing of private user data helps users to stay confident and secure about how their private information is processed online.'])

