doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Privacy features of Helperbird | Helperbird
    meta(content='Privacy features of Helperbird, Privacy features, Privacy, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/features/privacy', rel='canonical')
    meta(content='Helperbirds privacy features don`t sell, store, or consume any user data. We do not store data or any other user-related content.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Privacy | Helperbird', itemprop='name')
    meta(content='Helperbird does not sell, store, or consume any user data. We do not store data or any other user-related content..', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Privacy | Helperbird', name='twitter:title')
    meta(content='Helperbird does not sell, store, or consume any user data. We do not store data or any other user-related content.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Privacy | Helperbird', name='og:title')
    meta(content='Helperbird does not sell, store, or consume any user data. We do not store data or any other user-related content.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Privacy | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "url": "https://www.helperbird.com",
        "telephone": "5012936819",
        "sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "15 Markay Street",
          "addressLocality": "Toronto",
          "postalCode": "M3L2C6",
          "addressCountry": "Canada"
        }
      }
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016","gtin12": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/dropdown.pug
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Privacy
            h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Helperbird will never sell, store, or consume any user data. We do not store data or any other user-related content.
            .mt40
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='#pricing')
                span Get Helperbird for Free
              a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text.cta-small-text(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                span Watch it in action


                      
    section.section.mb80
      .container-lrg
        .col-12
          h3.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            About this feature
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Helperbird does not sell, store, or consume any user data. 
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text We do not store data or any other user-related content. 
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text We do not promote advertisements or integrate any third-party software libraries, which can lead to malware exploits. 
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text This level of privacy transparency allows Helperbird to be compliant with Coppa and Ferpa laws. 
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text As long as schools have technology waiver from parents, Helperbird can be installed and used on school computers.
    section.section.mb80
      .container-lrg
        .col-12
          h3.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            How it helps?
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Many online services sell, store, track, or promote advertisement as forms of revenue streams. 
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Helperbird does not support this idea as we believe in everyone's right to full privacy.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Having not to worry about a software tracking, storing, or sharing of private user data helps users to stay confident and secure about how their private information is processed online.
    
    
    include ../includes/sections/questions.pug
    include ../includes/layout/footer.pug