
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Reader mode for Chrome, clutter & ad free web pages'
  - var description = 'Helperbird gives you a Reader Mode that removes ads and distractions from any webpage with complete customization. View for clutter-free web pages'
  - var url = 'reader-mode-for-chrome-and-firefox'
  - var keywords = 'Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,Readermode, Reader mode, colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app'


block content
  include ../includes/mixins/features_new


  +features_title("Reader mode","Helperbird gives you a Reader Mode that removes ads and distractions from any webpage with complete customization. View  clutter-free web pages",'/assets/images/new/reader-mode-for-chrome-and-firefox/reader-mode-for-chrome-and-firefox.png')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',['Helperbird gives you a Reader Mode that removes ads and distractions from any webpage with complete customization.','          Reader Mode is a feature that strips away clutter like buttons, ads and background images, and changes the pages text size, contrast and layout for better readability. ','          Reader Mode, along with Helperbirds other options are easily customizable to fit your reading preferences.'])

  +section('How it helps',['Giving you just the content you want and need. No ads, no flashing images. The content without any ads and distraction free.'])
