
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Reading guide helps you to read long texts on web pages.'
  - var description = 'Write with confidence thanks to Helperbird, your intelligent grammar, spelling checker.'
  - var url = 'reading-guide'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("Reading guide helps you to read long texts on web pages.","Write with confidence thanks to Helperbird, your intelligent grammar, spelling checker.",'/assets/images/new/text-to-speech/text-to-speech.png','Text align')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',["Helperbirds spell checker is getting an updated, thanks to the Microsoft Editor API."])

  +section('Features',["Highlight current reading line","Automatic jump to next/previous page","Smart adjustment when page resizes","Color, opacity and Shadow adjustments."])

  