








extends ../includes/templates/features/post.pug

block seo
  - var title = 'Dyslexia ruler for Google Chrome'
  - var description = 'Helperbirds dyslexia ruler allows users to place a transparent ruler on a web page to improve reading focus.'
  - var url = 'ruler'
  - var keywords = 'Dyslexia ruler for Google Chrome, Dyslexia ruler, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features_new


  +features_title(
    "Dyslexia Ruler",
    "Our Dyslexia ruler helps to follow the text on the screen easier and block out distracting content. It can be any colour to improve the accessibility of the text your reading.  This tool can assist dyslexic readers and others in keeping their place on the page being read.",
    '/assets/images/new/overlay/overlay.png',
    'Dyslexa Ruler'
  )


block features
  include ../includes/mixins/features_new

  +section_intro('Intro',['Helperbirds Dyslexia ruler is a colored transparent  ruler that is placed across a web page while users are trying to read. ','Not only does the Helperbirds dyslexia ruler work to reduce the symptoms of Visual Stress, it also highlights and underlines text, making it easier for the dyslexic reader to keep their place on the page they are reading.'])
  +section('How to',[])

  +video_support('egjET6tZFqM')
  +list('Features',
    ['Choose from over 20 default colors or any custom color you want.',
    'Adjust the height of the ruler to your reading line.',
    'Adjust the position of the ruler to your reading line.',
    'Follow your cursor.'])


  +section('Watch it in action',[])

  +video_support('egjET6tZFqM')

  +section('How it helps?',['Helps dyslexics and dyspraxics to keep focus while reading a web page.','Helps people who have focus difficulties.','Helps people with visual impairment conditions.'])



