doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Dyslexia ruler for Google Chrome | Helperbird
    meta(content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app', name='keywords')
    link(href='https://www.helperbird.com/features/ruler', rel='canonical')
    meta(content='Helperbird allows users to place a transparent ruler on a web page to improve reading focus.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Dyslexia ruler | Helperbird  ', itemprop='name')
    meta(content='Helperbird allows users to place a transparent ruler on a web page to improve reading focus.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='Dyslexia ruler | Helperbird  ', name='twitter:title')
    meta(content='Helperbird allows users to place a transparent ruler on a web page to improve reading focus.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Dyslexia ruler | Helperbird  ', name='og:title')
    meta(content='Helperbird allows users to place a transparent ruler on a web page to improve reading focus.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Dyslexia ruler | Helperbird  ', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
      	      "@context": "https://schema.org",
      	      "@type": "Organization",
      	      "name": "Helperbird",
      	      "url": "https://www.helperbird.com",
      	      "sameAs": [
      	          "http://www.facebook.com/helperbird",
      	          "https://www.linkedin.com/company/19112429",
      	          "https://twitter.com/helperbird_"
      	      ]
      	   }
      
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org/",
      	   "@type": "Product",
      	   "name": "Helperbird",
      	   "image": [
      	      "https://www.helperbird.com/assets/images/pwa/144.png",
      	      "https://www.helperbird.com/assets/images/pwa/512.png",
      	      "https://www.helperbird.com/assets/images/pwa/full.png"
      	   ],
      	   "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	   "sku": "0446310786",
      	   "mpn": "925872",
      	   "brand": {
      	      "@type": "Thing",
      	      "name": "Helperbird"
      	   },
      	      "review": {
      	          "@context": "http://schema.org/",
      	          "@type": "Review",
      	          "name": "Colm Murphy",
      	          "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	          "reviewRating": {
      	              "@type": "Rating",
      	              "ratingValue": "5",
      	              "bestRating": "5",
      	              "worstRating": "1"
      	          },
      	          "datePublished": "2019-05-02",
      	          "author": {
      	              "@type": "Person",
      	              "name": "Colm Murphy"
      	          }
      	      },
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "reviewCount": "57"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "url": "https://www.helperbird.com",
      	      "priceCurrency": "USD",
      	      "price": "4.99",
      	      "priceValidUntil": "2020-11-05",
      	      "itemCondition": "https://schema.org/NewCondition",
      	      "availability": "https://schema.org/InStock",
      	      "seller": {
      	      "@type": "Organization",
      	      "name": "Helperbird"
      	      }
      	   }
      	   }
      
  body.font-friendly
    .lightblue-gradient
      header.header
        .container-lrg
          .flex.col-12.spread
            a.logo.primary-color.launchaco-builder-hoverable.logo(href='/')
              img(alt='Helperbird Logo', loading='lazy', src='/assets/images/pwa/logo/full.png')
              | Helperbird
            a.menu-toggle#menu(href='#main-menu')
              b.nav-link.mr0.secondary-color ☰
            nav.main-menu#main-menu(role='navigation')
              a.menu-close#main-menu-close(href='#')
                span.bold ✕
              a.nav-link.secondary-color(href='/about') About
              a.nav-link.secondary-color(href='/#features') Features
              a.nav-link.secondary-color(href='/pricing') Pricing
              a.nav-link.secondary-color(href='/support') Help
              a.nav-link.secondary-color.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-signup.primary-color(data-target='#downloadModal', data-toggle='modal', type='button') Download Helperbird
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Dyslexia Ruler
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Dyslexia Ruler helps you to read long texts on web pages. This tool can assist dyslexic readers and others in keeping their place on the page being read.
            .mt40
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(onclick='features.enableRuler("#c01fb3","20px","100px")')
                span Try it now
        .container-lrg.flex
          .flex.flex-column.col-12.text-center
            .launchaco-builder-hoverable
              .scroller_video_home.mb20
                .scroller_video_item_home_page
                  .youtube_lazy_load(data-embed='MKpVE8SaSiQ')
                    .play-button.
                      
                      
    section.section.mb80.press-logos
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            About this feature
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Dyslexia ruler is a colored transparent web page ruler that is placed across a web page while users are trying to read. Feedback from users suggested that there should be a better method to focus on a single section of a web page than zoom text alone.
    .section.lightblue-white.mb80.press-logos
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40 Options
        .col-12
          .fonts-list
            .column-card
              .card-card
                span.span Color
            .column-card
              .card-card
                span.span Height
            .column-card
              .card-card
                span.span Position
    .section.lightblue-white.mb80.press-logos
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            How it helps?
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Helps dyslexics and dyspraxics to keep focus while reading a web page.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Helps people who have focus difficulties.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Helps people with visual impairment conditions.
    section.section.lightblue-white.mb80.press-logos
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us Screenshots
        .row_img
          .column_img.browser
            img.width_100(alt='Dyslexic ruler purple', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/ruler/ruler_1.png')
          .column_img.browser
            img.width_100(alt='Dyslexic ruler green', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/ruler/ruler_2.png')
          .column_img.browser
            img.width_100(alt='Dyslexic ruler colors and height', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/ruler/ruler_3.png')
          .column_img.browser
            img.width_100(alt='Dyslexic ruler position', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/ruler/ruler_4.png')
          .column_img.browser
            img.width_100(alt='Dyslexic ruler position', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/ruler/ruler_5.png')
      .container-lrg.flex.mt75
        .container_img.browser
          img.width_100#expandedImg
          #imgtext.
            
            
    footer.footer#footer-10
      .container.col-12
        .flex.wrap.center-vertical
          .col-3.mobile-col-6
            p.mb10
              b Company
            p.mb10
              a(href='/about', onclick='return features.captureOutboundLink("/about"),!1', title='Link to Helperbirds about') About
            p.mb10
              a(href='/blog/', onclick='return features.captureOutboundLink("/blog/"),!1', title='Link to Helperbirds blog') Blog
            p.mb10
              a(href='/in-the-news', onclick='return features.captureOutboundLink("/in-the-news"),!1', title='Link to Helperbirds terms') In the News
            p.mb10
              a(href='https://drive.google.com/drive/folders/1kZkWObEYGimW391EetVThd6YkEYDHu8-?usp=sharing', onclick='return features.captureOutboundLink("https://drive.google.com/drive/folders/1kZkWObEYGimW391EetVThd6YkEYDHu8-?usp=sharing",!0),!1', title='Helperbird Presskit') Presskit
            p.mb10
              a(href='/enterprise', onclick='return features.captureOutboundLink("/enterprise",!0),!1', title='Helperbird Enteprise') Enterprise
          .col-3.mobile-col-6
            p.mb10
              b Product
            p.mb10
              a(href='https://chrome.google.com/webstore/detail/dyslexia-accessibility-to/ahmapmilbkfamljbpgphfndeemhnajme', onclick='return features.captureOutboundLink("https://chrome.google.com/webstore/detail/dyslexia-accessibility-to/ahmapmilbkfamljbpgphfndeemhnajme"),!1', rel='noreferrer', target='_blank', title='Link to download Helperbird for Google') Chrome
            p.mb10
              a(href='https://addons.mozilla.org/en-CA/firefox/addon/helperbird/', onclick='return features.captureOutboundLink("https://addons.mozilla.org/en-CA/firefox/addon/helperbird/"),!1', rel='noreferrer', target='_blank', title='Link to download Helperbird for Firefox') Firefox
            p.mb10
              a(href='https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd', onclick='return features.captureOutboundLink("https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd"),!1', rel='noreferrer', target='_blank', title='Link to download Helperbird for Edge') Edge
            p.mb10
              a(href='/pricing', onclick='return features.captureOutboundLink("/pricing"),!1', title='Link to Helperbirds pricing') Pricing
            p.mb10
              a(href='https://datastudio.google.com/u/0/reporting/3e86f5ee-b27b-4bb6-bfdc-90c1dd67f06e/page/1M', rel='noopener', onclick='return features.captureOutboundLink("https://datastudio.google.com/u/0/reporting/3e86f5ee-b27b-4bb6-bfdc-90c1dd67f06e/page/1M"),!1', title='Helperbird webinar') Growth
          .col-3.mobile-col-6
            p.mb10
              b Help
            p.mb10
              a(href='/support', onclick='return features.captureOutboundLink("/support"),!1', title='Link to Helperbirds contact page') Support
            p.mb10
              a(href='/feedback', onclick='return features.captureOutboundLink("/feedback"),!1', title='Link to Helperbirds Feedback page') Feedback
            p.mb10
              a(href='/contact', onclick='return features.captureOutboundLink("/contact"),!1', title='Link to Helperbirds contact page') Contact
            p.mb10
              a(href='/roadmap', onclick='return features.captureOutboundLink("/roadmap"),!1', title='Link to Helperbirds Roadmap') Roadmap
          .col-3.mobile-col-6
            p.mb10
              b Support
            p.mb10
              a(href='/updates', onclick='return features.captureOutboundLink("/updates"),!1', title='Link to Helperbirds updates') Updates
            p.mb10
              a(href='/privacy', onclick='return features.captureOutboundLink("/privacy"),!1', title='Link to Helperbirds privacy') Privacy
            p.mb10
              a(href='/compliance', onclick='return features.captureOutboundLink("/compliance"),!1', title='Link to Helperbirds Compliance') Compliance
            p.mb10
              a(href='/terms-of-service', onclick='return features.captureOutboundLink("/terms-of-service"),!1', title='Link to Helperbirds terms') Terms
      .container.col-12
        .flex.wrap.center-vertical.text_center.mt75
          .col-3.mobile-col-6
            a(href='https://facebook.com/helperbird/', onclick='return features.captureOutboundLink("https://facebook.com/helperbird/"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Facebook')
              i.fab.fa-facebook.icon-size-small
          .col-3.mobile-col-6
            a(href='https://twitter.com/helperbird_', onclick='return features.captureOutboundLink("https://twitter.com/helperbird_"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Twitter')
              i.fab.fa-twitter.icon-size-small
          .col-3.mobile-col-6
            a(href='https://www.linkedin.com/company/19112429/', onclick='return features.captureOutboundLink("https://www.linkedin.com/company/19112429/"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Linkedin')
              i.fab.fa-linkedin.icon-size-small
          .col-3.mobile-col-6
            a(href='https://www.youtube.com/watch?v=aXXRSenvTTg', onclick='return features.captureOutboundLink("https://www.youtube.com/watch?v=aXXRSenvTTg"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Youtube')
              i.fab.fa-youtube.icon-size-small
    .base-footer.text-center
      .span.secondary-color.
        
        © 2020 Helperbird.com . All rights reserved.
        
    .modal.fade#downloadModal(aria-hidden='true', aria-labelledby='exampleModalCenterTitle', role='dialog', tabindex='-1')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5.modal-title#downloadModalLongTitle Download Helperbird
          .modal-body
            .container-lrg.flex.mt40
              .flex.flex-column.col-4
                .launchaco-builder-hoverable
                  img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='./assets/images/home/chrome.png', width='50%')
                  |  
                  a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/ahmapmilbkfamljbpgphfndeemhnajme', rel='noopener', target='_blank')
                    span Chrome
              .flex.flex-column.col-4
                .launchaco-builder-hoverable
                  img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='./assets/images/home/firefox.png', width='50%')
                  a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://addons.mozilla.org/en-CA/firefox/addon/helperbird/', rel='noreferrer', target='_blank')
                    span Firefox
              .flex.flex-column.col-4
                .launchaco-builder-hoverable
                  img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='./assets/images/home/edge.png', width='50%')
                  a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd', rel='noreferrer', target='_blank')
                    span Edge