extends ../includes/templates/features/post.pug

block seo
  - var title = 'Helperbird keyboard shortcuts'
  - var description = 'Learn keyboard shortcuts and become a pro at using Helperbird'
  - var url = 'shortcuts'
  - var keywords = 'Helperbird keyboard shortcuts,Ad Blocker, Adjust letters and words with Helperbird, Adjust letters and words, Adjust letters and words, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features
  .flex.flex-column.col-8.text-center.middle-center

    +features_title("Helperbird keyboard shortcuts!")
    +features_description("Learn keyboard shortcuts and become a pro at using Helperbird.")
    +download_button()

  +compare('/assets/images/switch/screenshot/after.png','/assets/images/switch/screenshot/before.png')
  +section('About',['Learn keyboard shortcuts and become a pro at using Helperbird Pro.'])

  +section('Features',['Enable Immersive Reader with a custom shortcut. ','Enable  Reader Mode with a custom shortcut. ','Enable  Text to speech with a custom shortcut.','Enable  OCR with a custom shortcut.'])



  +watch_it_in_action('R-ZoDsYBR7o')

  +upsell('Pro feature','For more information on Helperbird Pro version click the button below.','See pricing')



            
