doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Specialised Dyslexic fonts | OpenDyslexic Font - Helperbird
    meta(content='Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/features/specialised-dyslexic-fonts', rel='canonical')
    meta(content='Helperbird provides and continues to expand dyslexia friendly fonts and text zoom options for free.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Specialised dyslexic fonts | Helperbird  ', itemprop='name')
    meta(content='Helperbird provides and continues to expand dyslexia friendly fonts and text zoom options for free.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='Specialised dyslexic fonts | Helperbird  ', name='twitter:title')
    meta(content='Helperbird provides and continues to expand dyslexia friendly fonts and text zoom options for free.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/features/fonts.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Specialised dyslexic fonts | Helperbird  ', name='og:title')
    meta(content='Helperbird provides and continues to expand dyslexia friendly fonts and text zoom options for free.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/features/fonts.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Specialised dyslexic fonts | Helperbird  ', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.webp', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      			"@context": "https://schema.org",
      			"@type": "SoftwareApplication",
      			"name": "Helperbird",
      			"operatingSystem": "Windows",
      			"applicationCategory": "https://schema.org/UtilitiesApplication",
      			"aggregateRating": {
      				"@type": "AggregateRating",
      				"ratingValue": "4.8",
      				"ratingCount": "42"
      			},
      			"offers": {
      				"@type": "Offer",
      				"price": "4.99",
      				"priceCurrency": "USD"
      			}
      		}
      
    script(type='application/ld+json').
      
      {
      			"@context": "https://schema.org",
      			"@type": "Organization",
      			"name": "Helperbird",
      			"url": "https://www.helperbird.com",
      			"sameAs": [
      				"http://www.facebook.com/helperbird",
      				"https://www.linkedin.com/company/19112429",
      				"https://twitter.com/helperbird_"
      			]
      		}
      
    script(type='application/ld+json').
      
      {
      			"@context": "https://schema.org/",
      			"@type": "Product",
      			"name": "Helperbird",
      			"image": [
      				"https://www.helperbird.com/assets/images/pwa/144.png",
      				"https://www.helperbird.com/assets/images/pwa/512.png",
      				"https://www.helperbird.com/assets/images/pwa/full.png"
      			],
      			"description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      			"sku": "0446310786",
      			"mpn": "925872",
      			"brand": {
      				"@type": "Thing",
      				"name": "Helperbird"
      			},
      			"review": {
      				"@context": "http://schema.org/",
      				"@type": "Review",
      				"name": "Colm Murphy",
      				"reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      				"reviewRating": {
      					"@type": "Rating",
      					"ratingValue": "5",
      					"bestRating": "5",
      					"worstRating": "1"
      				},
      				"datePublished": "2019-05-02",
      				"author": {
      					"@type": "Person",
      					"name": "Colm Murphy"
      				}
      			},
      			"aggregateRating": {
      				"@type": "AggregateRating",
      				"ratingValue": "4.8",
      				"reviewCount": "57"
      			},
      			"offers": {
      				"@type": "Offer",
      				"url": "https://www.helperbird.com",
      				"priceCurrency": "USD",
      				"price": "4.99",
      				"priceValidUntil": "2020-11-05",
      				"itemCondition": "https://schema.org/NewCondition",
      				"availability": "https://schema.org/InStock",
      				"seller": {
      					"@type": "Organization",
      					"name": "Helperbird"
      				}
      			}
      		}
      
  body.font-friendly
    .lightblue-gradient
      header.header
        .container-lrg
          .flex.col-12.spread
            a.logo.primary-color.launchaco-builder-hoverable.logo(href='/')
              img(alt='Helperbird Logo', loading='lazy', src='/assets/images/pwa/logo/full.png')
              | Helperbird
            a.menu-toggle#menu(href='#main-menu')
              b.nav-link.mr0.secondary-color ☰
            nav.main-menu#main-menu(role='navigation')
              a.menu-close#main-menu-close(href='#')
                span.bold ✕
              a.nav-link.secondary-color(href='/about') About
              a.nav-link.secondary-color(href='/#features') Features
              a.nav-link.secondary-color(href='/pricing') Pricing
              a.nav-link.secondary-color(href='/support') Help
              a.nav-link.secondary-color.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-signup.primary-color(data-target='#downloadModal', data-toggle='modal', type='button') Download Helperbird
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Specialised Dyslexic Fonts
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Helperbird allows users to enable specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Dyslexie, Arial, Comic Sans, and more. Users can also zoom font on a web page to help with reading and focus.
            .mt40
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='#pricing')
                span Get Helperbird for Free
              a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text.cta-small-text(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                span Watch it in action


                      
    section.section.mb80.press-logos
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            About this feature
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Helperbird allows users to enable specialized web fonts for dyslexics and others.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Convert the font on websites to use OpenDyslexic, Dyslexie, Arial, Comic Sans, and more. Users can also zoom font on a web page to help with reading and focus.
    .section.lightblue-white.mb80.press-logos
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40 What fonts can I use?
        .col-12
          .fonts-list
            .column-card
              .card-card
                span.span Arial
            .column-card
              .card-card
                span.span Cosmic Sans
            .column-card
              .card-card
                span.span OpenDyslexic
            .column-card
              .card-card
                span.span Tahoma
            .column-card
              .card-card
                span.span Verdana
            .column-card
              .card-card
                span.span Gothic
            .column-card
              .card-card
                span.span Trebuchet
            .column-card
              .card-card
                span.span Bookman
            .column-card
              .card-card
                span.span Courier
            .column-card
              .card-card
                span.span Georgia
            .column-card
              .card-card
                span.span Gothic
            .column-card
              .card-card
                span.span Helvetica
            .column-card
              .card-card
                span.span Impact
            .column-card
              .card-card
                span.span Times

            
    .section.lightblue-white.mb80.press-logos
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40 See it in action
      .container-lrg.flex
        .flex.flex-column.col-12.text-center
          .launchaco-builder-hoverable
            .scroller_video_home.mb20
              .scroller_video_item_home_page
                .youtube_lazy_load(data-embed='R-ZoDsYBR7o')
                  .play-button.
    

    section.section.lightblue-white.mb80.press-logos
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us Screenshots
        .row_img
          .column_img.browser
            img.width_100(alt='OpenDyslexic font', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/fonts/fonts_3.png')
          .column_img.browser
            img.width_100(alt='OpenDyslexic font', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/fonts/fonts_1.png')
          .column_img.browser
            img.width_100(alt='OpenDyslexic font', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/fonts/fonts_4.png')
          .column_img.browser
            img.width_100(alt='Custom font', loading='lazy', onclick='window.images.big(this)', src='/assets/images/screenshot/fonts/fonts_2.png')
      .container-lrg.flex.mt75
        .container_img.browser
          img.width_100#expandedImg
          #imgtext.
            
            
    .section.lightblue-white.mb80.press-logos
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            Free feature
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text For more information on Helperbird Pro version click the button below.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-full-features.mobile-text-center.accent-bg.button-signup_two.text-center(href='/pricing', title='Link to Helperbird pricing page')
              span See pricing 
    include ../includes/pricing/pricing-table.pug
            

    include ../includes/layout/footer.pug