extends ../includes/templates/features/post.pug

block seo
  - var title = 'Specialised Dyslexic fonts | OpenDyslexic Font'
  - var description = 'Helperbird provides and continues to expand dyslexia friendly fonts and text zoom options for free.'
  - var url = 'specialised-dyslexic-fonts'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features_new


  +features_title("Specialised Dyslexic Fonts","Change the font to any specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Lexend and more.",'/assets/images/new/dyslexia-font/dyslexia-font.png')


block features
  include ../includes/mixins/features_new

  +section_intro('Intro',["Changing the font to your favourite on any website with Helperbird is easy. Pick your favourite font and never worry about changing it again. From OpenDyslexic, Arial, Comic Sans, and more.  Our intuitive design means it's quick and easy to change between our 14 plus fonts."])

  +section('How to',[])

  +video_support('ylAICmLakaA')

  +list('What fonts can I use?',
    [
      'Arial',
      'Cosmic Sans',
      'OpenDyslexic',
      'Tahoma',
      'Verdana',
      'Gothic',
      'Lexend',
      'Trebuchet',
      'Bookman',
      'Courier',
      'Georgia',
      'Gothic',
      'Helvetica',
      'Impact',
      'Times',
      'Lexend'
    ]
  )

