extends ../includes/templates/features/post.pug

block seo
  - var title = 'Styles, Change fonts and background colors in Google Chrome'
  - var description = 'Change fonts and background color. Helperbird provides a way to change web page font and background colors.'
  - var url = 'styles'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features
  .flex.flex-column.col-8.text-center.middle-center

    +features_title("Styles & Colors")
    +features_description("Background and font colors help people with dyslexia focus and improve reading. All suggested colors included in Helperbird.")
    +download_button()

  +compare('/assets/images/switch/colors/after.png','/assets/images/switch/colors/before.png')
  +section('About',['Web page background and font colors help people with dyslexia focus and improve reading. Helperbird provides an easy, customizable method to change web page background and font colors.'])

  +section('Features',['Change the font color to any color you want.','Change the background color of any page.','Change the color of any link, to highlight them.','Pick and choose the highlight color you want.'])

  +section('How it helps?',['Improves reading and visual focus.','Allows customization of web content based on user learning and working needs.'])



  +watch_it_in_action('K0qfFBytszE')

  +upsell('Free feature','For more information on Helperbird Pro version click the button below.','See pricing')


