
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Align the text of any page to your needs.'
  - var description = 'Adjust the text alignment of any page, making it easier to read in just one click!'
  - var url = 'text-align'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("Align the text of any page to your needs.","Adjust the text alignment of any page, making it easier to read in just one click!",'/assets/images/new/text-to-speech/text-to-speech.png','Text align')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',["Thanks to David Flair and his suggestion, you can now align the text on any page to your needs and style. From left, right, center, justify and justifying the text."])

  +section('Features',["Adjust the text alignment of any page. Making  text easier to read in just one click!", "If you're used to reading justified text, it can often be hard to adjust to non-justified text seen on many websites.","Change it to Left, Right, Center, Justify"])

  