
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Word prediction on every website, even Google docs Chrome Extension'
  - var description = 'Helperbirds word prediction is smart & spelling aware. Helperbird Speech to text recognition allows you to speak it, and Helperbird will write it.'
  - var url = 'word-prediction'
  - var keywords = 'Styles, Change fonts and background colors for Google Chrome, Change fonts and background, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/features_new


  +features_title("Word prediction on every website, even Google docs.","Helperbirds word prediction is smart & spelling aware. Helperbird Speech to text recognition allows you to speak it, and Helperbird will write it.",'/assets/images/new/text-to-speech/text-to-speech.png','Word prediction')



block features
  include ../includes/mixins/features_new


  +section_intro('Intro',["This was a feature we have been working on for the past few months and we are proud to say it works really well. Helperbirds word prediction (English for the moment) works on every website and even Google docs. It's light and doesn't slow down your browser and makes it easier to discover words as you type"])

  +section('Features',['Adds word prediction to all inputs on a website.',' Adds word prediction to Google docs.','Currently support for English.'])

  