doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Page & text magnifier for Google Chrome | Helperbird
    meta(content='Page & text magnifier, page & text magnifier, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/features/zoom', rel='canonical')
    meta(content='Page & text magnifier for Google Chrome. Increase your page and zoom on any page.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Page & text magnifier | Helperbird', itemprop='name')
    meta(content='With Helperbird, you can screenshot any page your viewing and save it to your desktop. All in one click.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Page & text magnifier | Helperbird', name='twitter:title')
    meta(content='Zoom | With Helperbird, you can screenshot any page your viewing and save it to your desktop. All in one click.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/features/zoom.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Increase the text and images on any page to suit your needs. Zooming right into the page.', name='og:title')
    meta(content='Increase the text and images on any page to suit your needs. Zooming right into the page.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/features/zoom.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Page & text magnifier | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org",
      	           "@type": "SoftwareApplication",
      	           "name": "Helperbird",
      	           "operatingSystem": "Windows",
      	           "applicationCategory": "https://schema.org/UtilitiesApplication",
      	           "aggregateRating": {
      	               "@type": "AggregateRating",
      	               "ratingValue": "4.8",
      	               "ratingCount": "42"
      	           },
      	           "offers": {
      	               "@type": "Offer",
      	               "price": "4.99",
      	               "priceCurrency": "USD"
      	           }
      	       }
      
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org",
      	           "@type": "Organization",
      	           "name": "Helperbird",
      	           "url": "https://www.helperbird.com",
      	           "sameAs": [
      	               "http://www.facebook.com/helperbird",
      	               "https://www.linkedin.com/company/19112429",
      	               "https://twitter.com/helperbird_"
      	           ]
      	       }
      
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org/",
      	           "@type": "Product",
      	           "name": "Helperbird",
      	           "image": [
      	               "https://www.helperbird.com/assets/images/pwa/144.png",
      	               "https://www.helperbird.com/assets/images/pwa/512.png",
      	               "https://www.helperbird.com/assets/images/pwa/full.png"
      	           ],
      	           "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	           "sku": "helperbird2016","gtin12": "helperbird2016",
      	           "mpn": "925872",
      	           "brand": {
      	               "@type": "Thing",
      	               "name": "Helperbird"
      	           },
      	           "review": {
      	               "@context": "http://schema.org/",
      	               "@type": "Review",
      	               "name": "Colm Murphy",
      	               "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	               "reviewRating": {
      	                   "@type": "Rating",
      	                   "ratingValue": "5",
      	                   "bestRating": "5",
      	                   "worstRating": "1"
      	               },
      	               "datePublished": "2019-05-02",
      	               "author": {
      	                   "@type": "Person",
      	                   "name": "Colm Murphy"
      	               }
      	           },
      	           "aggregateRating": {
      	               "@type": "AggregateRating",
      	               "ratingValue": "4.8",
      	               "reviewCount": "57"
      	           },
      	           "offers": {
      	               "@type": "Offer",
      	               "url": "https://www.helperbird.com",
      	               "priceCurrency": "USD",
      	               "price": "4.99",
      	               "priceValidUntil": "2020-11-05",
      	               "itemCondition": "https://schema.org/NewCondition",
      	               "availability": "https://schema.org/InStock",
      	               "seller": {
      	                   "@type": "Organization",
      	                   "name": "Helperbird"
      	               }
      	           }
      	       }
      
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/dropdown.pug
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Page & text magnifier 
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Increase the text and images on any page to suit your needs. Zooming right into the page.
            .mt40
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='#pricing')
                span Get Helperbird for Free
              a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text.cta-small-text(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                span Watch it in action

        .container-lrg.flex
          .flex.flex-column.col-12.text-center
            .launchaco-builder-hoverable
              .scroller_video_home.mb20
                .scroller_video_item_home_page
                  .youtube_lazy_load(data-embed='JRUpKdqMus')
                    .play-button.
                      
                      
    section.section.mb80
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            About this feature
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text From the feedback of our users who wanted an easy and quick way to capture and download a screenshot comes the Helperbirds free Screenshot feature. This option allows users to capture and download a web page screenshot to downloads folder in only three clicks.
    section.section.mb80
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            Features
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Open the Helperbird extension, select the Zoom option, select the zoom percentage value, toggle enable zoom.
  
    .section.lightblue-white.mb80
      .container-lrg
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40 Watch the video
      .container-lrg.flex
        .flex.flex-column.col-12.text-center
          .launchaco-builder-hoverable
            .scroller_video_home.mb20
              .scroller_video_item_home_page
                .youtube_lazy_load(data-embed='JRUpKdqMus')
                  .play-button.

  
    section.section.mb80
      .container-lrg
        .col-12
          h2.heading-sml.primary-color.launchaco-builder-hoverable(style='color:#000').
            How it helps?
            
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text The zoom percentage set will stay while you browse between different web pages helping to keep a consistent zoom level.
          h3.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text It can help to focus as it can remove the full display of cluttered web pages.
    
    include ../includes/sections/questions.pug
    include ../includes/layout/footer.pug