
extends ../includes/templates/features/post.pug

block seo
  - var title = 'Page & text magnifier for Google Chrome'
  - var description = 'Page & text magnifier for Google Chrome. Increase your page and zoom on any page.'
  - var url = 'zoom'
  - var keywords = 'Page & text magnifier, page & text magnifier, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/features
  .flex.flex-column.col-8.text-center.middle-center

    +features_title("Page & text magnifier ")
    +features_description("Increase the text and images on any page to suit your needs. Zooming right into the page.")
    +download_button()

  +compare('/assets/images/switch/text-to-speech/after.png','/assets/images/switch/text-to-speech/before.png')
  +section('About',['From the feedback of our users who wanted an easy and quick way to capture and download a screenshot comes the Helperbirds free Screenshot feature. This option allows users to capture and download a web page screenshot to downloads folder in only three clicks.'])

  +section('Features',['Open the Helperbird extension, select the Zoom option, select the zoom percentage value, toggle enable zoom.'])

  +section('How it helps?',['The zoom percentage set will stay while you browse between different web pages helping to keep a consistent zoom level.',' It can help to focus as it can remove the full display of cluttered web pages.'])



  +watch_it_in_action('JRUpKdqMus')

  +upsell('Free feature','For more information on Helperbird Pro version click the button below.','See pricing')

