---
layout: templates/base.html
title: Get help from the Helperbird partners | Helperbird
cardTitle: Helperbird partners
description: Helperbird support is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.
keywords: Dyslexia software, Reader Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: partners/
---


<div>


	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
	  <div class="text-center">
		
		<h2 class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Certified partners of Helperbird</h2>
		<p class="max-w-xl mt-5 mx-auto text-xl   text-black ">			Interested in partnering with Helperbird?
			<br>
			Find the partner program that’s right for you.</p>
	  </div>
	</div>


  <div class=" bg-white card mt-8 mb-8">
	<div class="py-8 overflow-hidden lg:py-8 card-body">
	  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
		<div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
		  <div class="relative">
			<h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
			  Training partners &amp; Ambassadors
			</h3>
			<p class="mt-3 text-lg   text-black ">
			  Increase your earnings by offering your bespoke services to our end
			  customers. Or want to be an Ambassador to Helperbird and help spread
			  the word? Get in touch with us to learn more.
			</p>
			<p class="mt-3 text-lg   text-black ">
			  Also every partner gets an Offical Helperbird badge.
			</p>
			<dl class="mt-10 space-y-10">
			  <div class="relative my-10">
				<dt>
				  <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
					Support and swag.
				  </p>
				</dt>
				<dd class="mt-2 ml-16 text-base   text-black ">
				  Be happy knowing you are helping improve their accessibility and
				  productivity. We also give you access to give away copies of
				  Helperbird Pro to teachers.
				</dd>
			  </div>
			  <div class="relative my-10">
				<dt>
				  <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
					Exclusive access
				  </p>
				</dt>
				<dd class="mt-2 ml-16 text-base   text-black ">
				  Get access to our exclusive training slides, assets and even
				  features early.
				</dd>
			  </div>
			  <div class="relative my-10">
				<dt>
				  <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
					Get promoted.
				  </p>
				</dt>
				<dd class="mt-2 ml-16 text-base   text-black ">
				  If users are looking for training, experts in their country we
				  will prompt you and lead them your way.
				</dd>
			  </div>
			</dl>
		  </div>
		  <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
			<iframe
			  frameborder="0"
			  height="600"
			  inheight="0"
			  marginwidth="0"
			  loading="lazy"
			  src="https://docs.google.com/forms/d/e/1FAIpQLSfewfysLVGxbL4EgQv4VrkwsACau2Nzw4XdQkGyM60ZOfzGBA/viewform?embedded=true"
			  title="Helperbird support fourm "
			  width="100%"
			>
			  Loading...
			</iframe>
		  </div>
		</div>
	  </div>
	</div>
  </div>;
  

<div class=" bg-white  ">
	<div class="bg-pink-50"><div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between"><h2 class="text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl"><span class="block text-pink-600">Looking to hire a Helperbird partner instead?</span></h2><div class="mt-8 flex lg:mt-0 lg:flex-shrink-0"><div class="inline-flex rounded-md shadow"><a class=" decoration-pink-500 inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700" href="#">Coming soon</a></div></div></div></div>
</div>






<div class="">
	<div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
		<h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">Helperbird Partners</h2>
		<p class="mt-3  text-xl   text-black  sm:mt-4">Our current partners and friends. Experts in sales and training of Helperbird.</p>
		<div
			class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
		>



		

		{%- for friend in partners.friends -%}
  
		
	
		<div class="flex flex-col rounded-lg shadow-lg overflow-hidden bg-white rounded-lg  card ">
			<div class="card-body">
				<div class="flex-shrink-0">
					<img alt="Photo of Helperbirds user" class="h-48 w-full object-cover" src="{{ friend.img }}">
				</div>
				<div class="flex-1 bg-white  flex flex-col justify-between">
					<div class="flex-1">
					
			
						<p class="text-xl font-semibold text-gray-900">{{ friend.title}}</p>
						<p class="mt-3 text-base   text-black ">{{ friend.des}}</p></a>
					</div>
					<div class="mt-6 flex items-center">
						<a class=" decoration-pink-500 w-full flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 md:py-4 md:text-lg md:px-10" href="{{ friend.url }}" target="_blank" rel="noreferrer">Learn more</a>
		
					</div>
				</div>
			</div>
		</div>

		{%- endfor -%}

		
		</div>
	</div>
</div>


</div>