---
new: false
header: true
layout: templates/base.html
title: 'Get Helperbird Pro for Free: Become a Helperbird Trainer'
youtubeId: PfILiWebkuc
cardTitle: Helperbird Trainers
description: Get expert assistance with all of your Helperbird products. Explore our comprehensive resources on popular topics and find solutions to any issues with the help of our dedicated Helperbird support team.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: partners/
---



<!--- Hero icon --->

<div class="bg-white card border-stone-600 border-2 ">


  <div class="relative isolate px-6 pt-8 lg:px-8">

    <div class="mx-auto max-w-2xl py-16 sm:py-20 lg:py-20">
      <div class="hidden sm:mb-8 sm:flex sm:justify-center">
        <div class="badge badge-outline">
          <a href="#apply" class="font-semibold text-indigo-600">
            Teachers & Trainers get Helperbird Pro for free. Apply now.


          </a>
        </div>
      </div>
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">

          Helperbird Trainers programme


        </h1>
        <p class="mt-6 text-xl leading-8 text-black">Edtech trainers and teachers, take advantage of our exclusive offer! Get access to Helperbird Pro for free, with no hidden fees or catches. Simply fill out the form below and our team will review your details and get you set up in no time.

        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#apply" class="btn-base btn-secondary btn border-2 border-stone-600">Apply to be a Helperbird trainer</a>

        </div>
      </div>
    </div>

  </div>
</div>



<!--- contact --->


<div class="relative isolate bg-white card border-stone-600 border-2 mt-16" id="apply">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="relative px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 lg:py-48">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden bg-gray-100 ring-1 ring-gray-900/10 lg:w-1/2"></div>
        <h2 class="text-3xl font-bold tracking-tight text-black  900">Apply to be a Helperbird Trainer
        </h2>
        <p class="mt-6 text-lg leading-8 text-black  600">Apply to be a Helperbird Trainer. We will review your details and get you all set up. No catches, no credit card required. Just fill in the form below and we will get back to you as soon as possible.</p>

        <h3 class="text-2xl font-semibold tracking-tight text-black mt-6 mb-6">
          Requirements
        </h3>

        <h4 class="text-2xl font-semibold tracking-tight text-black mt-4">


          <div class="badge mr-2">1</div>
          Use your work email address
        </h4>

        <p class="mt-2 text-lg leading-8 text-black  600">
          We are checking your email address to confirm that you are a teacher or trainer.
          <br>
          We will also use this email to set up your Helperbird Pro account.
        </p>

        <h4 class="text-2xl font-semibold tracking-tight text-black mt-4">


          <div class="badge mr-2">2</div>
          Submit a website or social link
        </h4>

        <p class="mt-2 text-lg leading-8 text-black  600">
          If you do not have a work email, please provide a link to your Twitter, professional website or LinkedIn page as verification that you are a trainer or teacher.
          <br>
          We understand that this may be an inconvenience, but in order to prevent fraud, we need to verify that you are a trainer or teacher.
        </p>

        <h4 class="text-2xl font-semibold tracking-tight text-black mt-4">


          <div class="badge mr-2">3</div>
          Submit a website or social link
          <div class="ml-2 badge badge-outline">Optional</div>
        </h4>

        <p class="mt-2 text-lg leading-8 text-black  600">
          If you do not have a work email, please provide a link to your Twitter, professional website or LinkedIn page as verification that you are a trainer or teacher.
          <br>
          We understand that this may be an inconvenience, but in order to prevent fraud, we need to verify that you are a trainer or teacher.
        </p>
      </div>
    </div>
    <form
      action="#"
      method="POST"
      class="px-6 pb-24 pt-20 sm:pb-32 lg:px-8 lg:py-48">

      <iframe
        frameborder="0"
        height="600"
        inheight="0"
        marginwidth="0"
        loading="lazy"
        src="https://docs.google.com/forms/d/e/1FAIpQLSfewfysLVGxbL4EgQv4VrkwsACau2Nzw4XdQkGyM60ZOfzGBA/viewform?embedded=true"
        title="Helperbird support fourm "
        width="100%">
        Loading...
      </iframe>

      <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg"></div>
    </form>
  </div>
</div>


<div class="bg-white py-24 sm:py-32 mt-10 card border-stone-600 border-2">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-black  900 sm:text-4xl">Helperbird trainers</h2>
      <p class="mt-6 text-lg leading-8 text-black  600">Our current Helperbird approved Trainers.

      </p>
    </div>
    <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">

      {%- for friend in partners.friends -%}
        <li>
          <img
            class="mx-auto h-24 w-24 rounded-full"
            src="{{ friend.img }}"
            alt="">
          <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-black  900 line-clamp-1">{{ friend.title }}</h3>

          <a
            class="btn-base btn-sm btn btn-outline  border-stone-600 border-2 mt-2"
            href="{{ friend.url }}"
            title="Learn more about  {{friend.title }}">
            Visit profile
          </a>
        </li>
      {%- endfor -%}


    </ul>
  </div>
</div>