extends ../includes/templates/blog/post.pug

block seo
  - var title = 'Winner of our Chromebook'
  - var description = 'Then with our new Helperbird for Websites, we want to give you the best of Helperbird features for your website. '
  - var url = 'announcing-helperbird-for-websites'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  .text-lg.max-w-prose.mx-auto
    h1
      span.block.text-base.text-center.text-indigo-600.font-semibold.tracking-wide.uppercase Announcement 
      span.mt-2.block.text-3xl.text-center.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl') Helperbird for Websites
    p.mt-8.text-xl.text-gray-500.leading-8
      | Helperbirds browser extensions have been a success across  Chrome, Edge and Firefox. One question we get through support and our live chat is "Can I add Helperbird to my website or blog".
    p.mt-8.text-xl.text-gray-500.leading-8
      | Well, now you can.

  .mt-6.prose.prose-indigo.prose-lg.text-gray-500.mx-auto
    h2
      | Isn't Helperbird for Website an accessibility widget?

    p
      | No, when we started development on it, it was our aim to go into that market but in the end, it became clear with our vision of making the web more accessible. Accessibility widgets don't work and over-promise in their current state. They don't make your website compliant with any laws.

  .mt-6.prose.prose-indigo.prose-lg.text-gray-500.mx-auto

    h2
      | Helperbird for websites is different in its approach. 


    p
      | We want to teach you how to fix accessibility issues on your site with our #[a(href='/products/accessibility-checker' style="color: blue;" target="_blank") Accessibility checker]. Then with our new Helperbird for Websites, we want to give you the best of Helperbird features for your website. So users can change the font, text to speech, translate words, overlays, rulers, cursor sizes, highlight paragraphs and much more. Making it easier to consume pages on your website and making it easier for you to add these features. So our mission with #[a(href='/products/widget' style="color: blue;" target="_blank") Helperbird for Websites] is to give you the tools to make it easier for your users to consume and navigate your website.

    figure
      img.w-full.rounded-lg(src='/assets/images/blog/announcing-helperbird-for-websites/announcing-helperbird-for-websites.png' alt='Photo of Helperbird for websites' width='1310' height='873')
      figcaption

    p
      | In future updates for Unlimited plan users, you will get access to our features API, so you can build upon the Helperbird API and fully integrate the features into their website and apps.

    p 
      | If you need help discovering accessibility issues. You can always access our  #[a(href='/products/accessibility-checker' style="color: blue;" target="_blank") Accessibility checker]  or contact us and we can do an audit for you.

    p 
      | Be sure to check our #[a(href='/products/widget' style="color: blue;" target="_blank") Helperbird for Websites].


