extends ../includes/templates/blog/post.pug

block seo
  - var title = 'Best Careers for People with Dyslexia 2021'
  - var description = 'Discover how to use Immersive reader in Google Docs for free.'
  - var url = 'how-to-use-immersive-reader-in-google-docs'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  .text-lg.max-w-prose.mx-auto
    h1
      span.block.text-base.text-center.text-indigo-600.font-semibold.tracking-wide.uppercase Guest blog
      span.mt-2.block.text-3xl.text-center.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl') Best Careers for People with Dyslexia
    p.mt-8.text-xl.text-gray-500.leading-8
      | Around 5 to 15 percent of Americans across all demographics have dyslexia. For several years, they have been inappropriately labeled “dumb” or “lazy” because it was a heavily misunderstood condition. But with the advances in neuroscience, we now know that dyslexia is a cognitive learning disability that affects one’s ability to read, write, and spell—and it has nothing to do with how intelligent a person is. People with dyslexia can be as smart and as capable as their neurotypical peers.
  .mt-6.prose.prose-indigo.prose-lg.text-gray-500.mx-auto
    p
      | Dyslexia isn’t a career sentence or a limitation. In fact, there are several career paths that people with dyslexia may excel in.

    h2 Culinary Arts
    p 
      | Possibly because of dyslexics’ difficulties with written and numeracy skills, the creative (right) side of their brain overcompensates, says spokeswoman for the Dyslexia Institute, Stephanie Langheim. Creativity is a forte for a lot of dyslexic people, so it’s only natural for them to gravitate towards cooking where they can develop recipes and play with different flavor profiles. Indeed, several of the biggest names in the culinary world like Jamie Oliver and Marco Pierre White are dyslexic.
    p
      | There are tons of cooking lessons available, but people with dyslexia would benefit greatly from  #[a(href='https://www.finedininglovers.com/article/free-online-courses-for-chefs' target="_blank" style="color: blue;") culinary courses with practical demonstrations], since they learn better with visual cues. Learning how to cook helps them sharpen their sequencing skills. Additionally, culinary skills open up several possibilities for income: they could work with restaurants or operate small food businesses from their own kitchens.

    h2 Graphic Designer
    p 
      | We previously talked about how people with dyslexia have well-developed creativity. This makes them the ideal candidates for jobs in visual arts, such as graphic design! Graphic designers can work in a myriad of different fields ranging from advertising and publishing, to small ma and pa shops.

    p 
      | There are several design tools that can be used to create graphic visuals, and there are #[a(href="https://www.usnews.com/education/learn-graphic-design-guide" target="_blank") online design certification programs]  that teach the basics. These programs can also assist in building a client base that aspiring designers can start working with, expanding their professional portfolio.

    figure
      img.w-full.rounded-lg(src='/assets/images/blog/best-careers-for-people-with-dyslexia/graphic-designer.jpg' alt='Photo of a dyslexic user' width='1310' height='873')
      figcaption

    h2 Marketing
    p 
      | Arguably the most prized ability in marketing is thinking outside the box. And who better to do that than people with dyslexia whose minds are wired differently, and this is according to science. Although disability support coordinator at Northwestern Michigan College, Leanne Baumeler says that people with dyslexia #[a(href="https://www.traverseticker.com/news/deafness-adhd-physical-disabilities-ptsd-and-more-all-leannes-award-winning-work-at-nmc/" target="_blank")  tend to have social anxiety] , this can lead them to think in unique ways and come up with more creative, unconventional communication solutions. These are all valuable skills in marketing.
    p 
      | Plus, as several marketing courses are now offered online due to the pandemic, Baumeler explains that students with learning difficulties really appreciated the move to virtual learning. In addition to teaching marketing fundamentals, these  #[a(href="https://www.usnews.com/education/learn-graphic-design-guide" target="_blank") online marketing degrees]  focus on blending technology, strategy, and creativity — skills that dyslexic individuals will have no problem mastering. What's more, since marketing is moving away from traditional practices and into creative and digital practices, people with dyslexia will have more opportunity to showcase their talents.

      
    h2 Landscape Architect
    p
      | Designing outdoor spaces requires a lot of visual-spatial thinking and material reasoning skills (the ability to mentally visualize a 3D perspective of physical objects and spaces); these are abilities that are often innate in dyslexics. This #[a(href="https://www.helperbird.com/blog/three-facts-about-dyslexia" target="_blank") big-picture thinking]  allows them to thrive in this challenging field. A career in landscape architecture requires a lot of investment since it requires a bachelor’s degree before one can take the Landscape Architecture Registration Examination, to obtain a license.
    figure
      img.w-full.rounded-lg(src='/assets/images/blog/best-careers-for-people-with-dyslexia/dyslexic-architect.jpg' alt='Photo of a dyslexic user' width='1310' height='873')
      figcaption
    p 
      |  However, Cambridge researcher Helen Taylor noted that those with “divergent thinking” patterns such as people with dyslexia may find it easier to meld ideas from several different disciplines, allowing them to look #[a(href="https://www.designweek.co.uk/issues/16-22-september-2019/designing-with-dyslexia-is-a-cognitive-plus/" target="_blank") beyond the rigid] boundaries of extremely structured fields. This allows them to come up with multiple solutions and alternatives to each architectural problem.
    p 
      |  Gone are the days when people with dyslexia lag behind their peers. With a better understanding of what dyslexia is, and with the #[a(href="https://www.helperbird.com/chrome" target="_blank") new technologies available] to help them navigate through everyday life, dyslexics are very likely to succeed in their chosen careers.
    p
      | Exclusively written for helperbird.com by Jerrica Borrell

  // This example requires Tailwind CSS v2.0+
  .bg-white
    .max-w-7xl.mx-auto.py-12.px-4.text-center(class='sm:px-6 lg:px-8 lg:py-24')
      .space-y-8(class='sm:space-y-12')
        .space-y-5(class='sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl')
          h2.text-3xl.font-extrabold.tracking-tight(class='sm:text-4xl') Meet Jerrica Borrell

        ul.mx-auto.grid.grid-cols-2.gap-x-4.gap-y-8(class='sm:grid-cols-4 md:gap-x-6 lg:max-w-5xl lg:gap-x-8 lg:gap-y-12 xl:grid-cols-6')
          li
            .space-y-4
              img.mx-auto.h-20.w-20.rounded-full(class='lg:w-24 lg:h-24' src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' alt='Photo of Jennifer Birch')
              .space-y-2
                .text-xs.font-medium(class='lg:text-sm')
                  h3 Jerrica Borrell
                  p.text-indigo-600 Writer

