
extends ../includes/templates/blog/post.pug

block seo
  - var title = 'Helperbird Chromebook giveaway'
  - var description = 'Rules for the Helperbird giveaway.'
  - var url = 'giveaway-rules'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/blog
  .col-12.text-center

    +blog_title("Rules for the Helperbird giveaway official rules")
    +blog_description("By Helperbird Staff")

  .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.padding_40.pad40.white-background
    .mb20
      +blog_paragraph_title("Helperbird chromebook giveaway official rules")
      +blog_paragraph('Sponsored by robert james gabriel (“sponsor”).')


    .mb20
      +blog_paragraph("No entry fee. No purchase necessary to enter or win. Void where prohibited.")
      +blog_paragraph('Sponsored by robert james gabriel (“sponsor”).')



      +blog_paragraph('Helperbird chromebook ends on 12:00 am et february 28, 2021.')

      +blog_paragraph('Agreement to official rules. By entering you accept and agree to be bound by these “official rules.')

      +blog_paragraph('Eligibility. The game is open to legal residents of the u.S. Only, eighteen (18) or older who have an active e-mail account. Employees of sponsor and its parent company, affiliates, subsidiaries, advertising, promotion, fulfillment or other coordinating agencies, individuals providing services to sponsor through an outsourcer or temporary employment agency during the promotion period, and their respective immediate family members and persons living in their same household, are not eligible to participate in the giveaway.')

      +blog_paragraph('How to enter. During the promotion period, you may enter as follows:')



      +blog_paragraph('Follow us on twitter.com/helperbird_ or write a review on https://chrome.Google.Com/webstore/detail/helperbird-accessibility/ahmapmilbkfamljbpgphfndeemhnajme/reviews')

      +blog_paragraph('Once following or have the review written. Submit your entry on https://www.Helperbird.Com/giveaway')





      +blog_paragraph('No substitution of prizes is permitted. Sponsor will not replace any lost or stolen prizes. Winners are solely responsible for any and all federal, state, provincial and local taxes, if any, that apply to prizes. Allow six (4) weeks for delivery of prizes.')

      +blog_paragraph('If a selected winner is ineligible, fails to claim a prize and/or where applicable an affidavit of eligibility and publicity/liability release is not timely received, is incomplete or modified, the prize may be forfeited.')

    .mb20
      +blog_paragraph_title('Disclaimers.')

      +blog_paragraph('Sponsor is not responsible for (I) late, lost, delayed, damaged, postage-due, incomplete, illegible, misdirected or undeliverable entries, responses, or other correspondence, whether by email or postal mail or otherwise; (ii) theft, destruction, unauthorized access to or alterations of entry materials; or (iii) phone, electrical, network, computer, hardware, software program or transmission malfunctions, failures or difficulties.')

      +blog_paragraph('In no event will sponsor be liable to you for any special, incidental, exemplary, punitive or consequential damages (including loss of use, data, business or profits) arising out of or in connection with your participation in the game, whether such liability arises from any claim based upon contract, warranty, tort (including negligence), strict liability or otherwise, and whether or not sponsor has been advised of the possibility of such loss or damage. Without limiting the generality of the foregoing, sponsor’s aggregate liability to you arising with respect to these official rules will not exceed $5.00.  Some jurisdictions do not allow the limitation or exclusion of liability for incidental or consequential damages, so the above limitation or exclusion may not apply to you.')

      +blog_paragraph('Indemnification. You agree to indemnify, defend and hold sponsor and its parent, affiliates, subsidiaries, directors, officers, employees, sponsors and agents, including advertising and promotion agencies, and assigns, and any other organizations related to the giveaway, harmless, from any and all claims, injuries, damages, expenses or losses to person or property and/or liabilities of any nature that in any way arise from participation in this game or acceptance or use of a prize or parts thereof, including without limitation (a) any third party claims made in connection with your entry, or any representations and warranties made by you in connection with your entry; and (b) any injuries, losses, or damages (compensatory, direct, incidental, consequential or otherwise) of any kind arising in connection with or as a result of the prize, or acceptance, possession, or use of the prize, or from participation in the game.')

      +blog_paragraph('Publicity. Except where prohibited, by participating in the giveaway, you consent to the use of your name, photo and/or likeness,, and statements attributed to you as an entrant (if true) for advertising and promotional purposes, including without limitation, inclusion in sponsor’s homepages at helperbird.Com, without additional compensation.')

      +blog_paragraph('Additional conditions. Sponsor reserves the right, in its sole discretion, to terminate, modify or suspend the game in whole or in part, if in sponsor’s opinion (a) the game is not capable of running as planned by reason of the occurrence of any event beyond its control including, but not limited to, fire, flood, epidemic, pandemic, earthquake, explosion, labor dispute or strike, act of god or public enemy, communications,  equipment failure, utility or service interruptions, riot or civil disturbance, terrorist threat or activity, war (declared or undeclared), interference with the promotion by any party, or any federal, state, local or provincial government law, order, or regulation, order of any court or jurisdiction, or other cause not reasonably within sponsors’ control, or (b) any other factors beyond sponsor’s reasonable control corrupt or affect the administration, security, fairness, integrity, or proper conduct of the game, in all instances without liability to the entrants. Sponsor also reserves the right to disqualify any entrant or winner, as determined by sponsor, in its sole discretion.')

      +blog_paragraph('Governing law and choice of forum. These official rules are governed by the law of the republic of ireland, without reference to rules governing choice of laws. Any action, suit or case arising out of, or in connection with, this game or these official rules must be brought in either the federal or state courts sitting in ireland.')

      +blog_paragraph('Personal information. Sponsor may collect personal data about entrants online, in accordance with its privacy policy and as may be more specifically set forth in these official rules. Please review these official rules and sponsor’s privacy policy at https://helperbird.Com/privacy')

      +blog_paragraph('Winner’s list, official rules. For a list of prize winner, send an email message to robert.Gabriel@helperbird.Com with “winner’s list” as the email subject. Requests must be received within four (4) weeks of the end of the game period.')

      +blog_paragraph('Sponsor’s address: speed house, sheanlower, blarney, ireland')
