extends ../includes/templates/blog/post.pug

block seo
  - var title = 'Winner of our Chromebook'
  - var description = 'In February 2021 we ran a competition to celebrate the start of the new School term, to win a brand new Chromebook and a year of Helperbird Pro.'
  - var url = 'helperbirds-winner-of-the-2021-chromebook'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  .text-lg.max-w-prose.mx-auto
    h1
      span.block.text-base.text-center.text-indigo-600.font-semibold.tracking-wide.uppercase Guest blog
      span.mt-2.block.text-3xl.text-center.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl') Congratulations to our Winner 
    p.mt-8.text-xl.text-gray-500.leading-8
      | In February 2021 we ran a competition to celebrate the start of the new School term, to win a brand new Chromebook and a year of Helperbird Pro.
  .mt-6.prose.prose-indigo.prose-lg.text-gray-500.mx-auto
    p
      | I don't know about you. We hate when companies don't show the winner receiving her prize. So we wrote this blog to say, Congrats to Debbie for being our winner. We love your dog.

  .mt-6.prose.prose-indigo.prose-lg.text-gray-500.mx-auto
    p
      | I don't know about you. We hate when companies don't show the winner receiving her prize. So we wrote this blog to say, Congrats to Debbie for being our winner. We love your dog.



    blockquote.twitter-tweet(data-dnt='true')
      p(lang='en' dir='ltr')
        | I received my free chrome book in the mail today from 
        a(href='https://twitter.com/helperbird_?ref_src=twsrc%5Etfw') @helperbird_
        |  and a free subscription. I found out about the contest from a PATINS virtual conference and 
        a(href='https://twitter.com/ksuding?ref_src=twsrc%5Etfw') @ksuding
        |  Thank u 
        a(href='https://twitter.com/JudithSchoonov3?ref_src=twsrc%5Etfw') @JudithSchoonov3
        |  for telling me about PATINS. Diving in now with Mac. 
        a(href='https://t.co/EzuKbvjGDU') pic.twitter.com/EzuKbvjGDU
      | &mdash; Deborah Schwind, DHSC, M.ED., OTR/L, BCP, SCSS (@DeborahSchwind1) 
      a(href='https://twitter.com/DeborahSchwind1/status/1380638263623442432?ref_src=twsrc%5Etfw') April 9, 2021
    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')


  .mt-6.prose.prose-indigo.prose-lg.text-gray-500.mx-auto
    p
      | We will be running more competitions throughout the year, including Helperbird Pro for free, iPads and more Chromebooks.

    p
      | Be sure to follow our Twitter, Instagram & Facebook to learn more on how you can enter and win future competitions.

