extends ../includes/templates/blog_post.pug

block seo
  - var title = 'How to deploy Helperbird for Chrome through the Google Admin Console for EDU accounts'
  - var description = 'Learn how to install Helperbird in serveal computers at once. For Edu accounts.'
  - var url = 'how-to-install-helperbird-in-edu-accounts'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/blog
  .col-12.text-center

    +blog_title("How to deploy Helperbird for Chrome through the Google Admin Console for EDU accounts")
    +blog_description("A step by step guide.")

  .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.padding_40.pad40.white-background
    .mb20
      +blog_paragraph("Click Device management in the Google Admin Console.")
      +blog_image('Step one of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_1.png')

    .mb20
      +blog_paragraph("Click Device management in the Google Admin Console.")
      +blog_image('Step one of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_1.png')

    .mb20
      +blog_paragraph("Select Chrome management.")
      +blog_image('Step two of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_2.png')

    .mb20
      +blog_paragraph("In Chrome Management, select User & browser settings.")
      +blog_image('Step three of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_3.png')

    .mb20
      +blog_paragraph("Under Organizations choose the OU (Organizational Unit) you would like to deploy extensions to.")

    .mb20
      +blog_paragraph("p.mb75 Scroll down to Apps and Extensions and locate Force-installed Apps and Extensions.")


    .mb20
      +blog_paragraph("Click the Manage force-installed apps link.")
      +blog_image('Step four of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_4.png')

    .mb20
      +blog_paragraph("In Force-installed Apps and Extensions, click the add by ID button.")


    .mb20
      +blog_paragraph("The id for Helperbird is ahmapmilbkfamljbpgphfndeemhnajme")
      +blog_image('Step five of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_5.png')

    .mb20
      +blog_paragraph("Click on the Add link to add the app or extension to the force-install list.")
      +blog_image('Step six of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_6.png')
      +blog_image('Step sevem of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_7.png')
      +blog_image('Step eight of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_8.png')

    .mb20
      +blog_paragraph("Click SAVE.")
      +blog_image('Step nine of how to install Helperbird on G Suite','/assets/images/blog/how-to-install-helperbird-in-edu-accounts/steps_9.png')

    .mb20
      +blog_paragraph("After the force-install window has closed, click SAVE at the top right of the page to publish the app or extension to all of your selected users. The app or extension will now be deployed to your users.")
