doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title How to deploy Helperbird for Chrome through the Google Admin Console | Helperbird
    meta(content='Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console', rel='canonical')
    meta(content='Learn how to install Helperbird in serveal computers at once.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='How to deploy Helperbird for Chrome through the Google Admin Console | Helperbird', itemprop='name')
    meta(content='Learn how to install Helperbird in serveal computers at once.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='How to deploy Helperbird for Chrome through the Google Admin Console | Helperbird', name='twitter:title')
    meta(content='Learn how to install Helperbird in serveal computers at once.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='How to deploy Helperbird for Chrome through the Google Admin Console | Helperbird', name='og:title')
    meta(content='Learn how to install Helperbird in serveal computers at once.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='How to deploy Helperbird for Chrome through the Google Admin Console | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='/assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='/assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org",
      	           "@type": "SoftwareApplication",
      	           "name": "Helperbird",
      	           "operatingSystem": "Windows",
      	           "applicationCategory": "https://schema.org/UtilitiesApplication",
      	           "aggregateRating": {
      	               "@type": "AggregateRating",
      	               "ratingValue": "4.8",
      	               "ratingCount": "42"
      	           },
      	           "offers": {
      	               "@type": "Offer",
      	               "price": "4.99",
      	               "priceCurrency": "USD"
      	           }
      	       }
      
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org",
      	           "@type": "Organization",
      	           "name": "Helperbird",
      	           "url": "https://www.helperbird.com",
      	           "sameAs": [
      	               "http://www.facebook.com/helperbird",
      	               "https://www.linkedin.com/company/19112429",
      	               "https://twitter.com/helperbird_"
      	           ]
      	       }
      
    script(type='application/ld+json').
      
      {
      	           "@context": "https://schema.org/",
      	           "@type": "Product",
      	           "name": "Helperbird",
      	           "image": [
      	               "https://www.helperbird.com/assets/images/pwa/144.png",
      	               "https://www.helperbird.com/assets/images/pwa/512.png",
      	               "https://www.helperbird.com/assets/images/pwa/full.png"
      	           ],
      	           "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	           "sku": "0446310786",
      	           "mpn": "925872",
      	           "brand": {
      	               "@type": "Thing",
      	               "name": "Helperbird"
      	           },
      	           "review": {
      	               "@context": "http://schema.org/",
      	               "@type": "Review",
      	               "name": "Colm Murphy",
      	               "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	               "reviewRating": {
      	                   "@type": "Rating",
      	                   "ratingValue": "5",
      	                   "bestRating": "5",
      	                   "worstRating": "1"
      	               },
      	               "datePublished": "2019-05-02",
      	               "author": {
      	                   "@type": "Person",
      	                   "name": "Colm Murphy"
      	               }
      	           },
      	           "aggregateRating": {
      	               "@type": "AggregateRating",
      	               "ratingValue": "4.8",
      	               "reviewCount": "57"
      	           },
      	           "offers": {
      	               "@type": "Offer",
      	               "url": "https://www.helperbird.com",
      	               "priceCurrency": "USD",
      	               "price": "4.99",
      	               "priceValidUntil": "2020-11-05",
      	               "itemCondition": "https://schema.org/NewCondition",
      	               "availability": "https://schema.org/InStock",
      	               "seller": {
      	                   "@type": "Organization",
      	                   "name": "Helperbird"
      	               }
      	           }
      	       }
      
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/navigation.pug
      section.section_header
        .container
          .col-12.text-center
            h1.heading.primary-color.launchaco-builder-hoverable How to deploy Helperbird for Chrome through the Google Admin Console
            h2.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable A step by step guide
          .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.padding_40.pad40.white-background
            .mb20
              p.paragraph_features Click Device management in the Google Admin Console.
              img.launchaco-builder-hoverable.width_100(alt='Step one of how to install Helperbird on G Suite', loading='lazy', src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_1.png')
              p.paragraph_features Select Chrome management.
              img.launchaco-builder-hoverable.width_100(alt='Step two of how to install Helperbird on G Suite', loading='lazy', src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_2.png')
              p.paragraph_features In Chrome Management, select User & browser settings.
              img.launchaco-builder-hoverable.width_100(alt='Step three of how to install Helperbird on G Suite', loading='lazy', src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_3.png')
              p.paragraph_features Under Organizations choose the OU (Organizational Unit) you would like to deploy extensions to.
              p.paragraph_features Scroll down to Apps and Extensions and locate Force-installed Apps and Extensions.
              p.paragraph_features Click the Manage force-installed apps link.
              img.launchaco-builder-hoverable.width_100(alt='Step four of how to install Helperbird on G Suite', loading='lazy', src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_4.png')
              p.paragraph_features In Force-installed Apps and Extensions, click the Chrome Web Store button.
              img.launchaco-builder-hoverable.width_100(alt='Step five of how to install Helperbird on G Suite', loading='lazy', src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_5.png')
              p.paragraph_features Type the extension or app name (Ie Helperbird) that you're deploying into the search box and press Enter. The app or extension listing will appear immediately below the search box.
              p.paragraph_features Click on the Add link to add the app or extension to the force-install list.
              img.launchaco-builder-hoverable.width_100(alt='Step six of how to install Helperbird on G Suite', loading='lazy', src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_6.png')
              img.launchaco-builder-hoverable.width_100(alt='Step sevem of how to install Helperbird on G Suite', loading='lazy', src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_7.png')
              img.launchaco-builder-hoverable.width_100(alt='Step eight of how to install Helperbird on G Suite', loading='lazy', src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_8.png')
              p.paragraph_features Click SAVE.
              img.launchaco-builder-hoverable.width_100(alt='Step nine of how to install Helperbird on G Suite', loading='lazy', src='/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_9.png')
              p.paragraph_features After the force-install window has closed, click SAVE at the bottom of the page to publish the app or extension to all of your selected users. The app or extension will now be deployed to your users.
    include ../includes/layout/footer.pug