extends ../includes/templates/blog/home.pug

block seo
  - var title = 'The Helperbird Blog | Updates and news from.'
  - var description = 'Product Updates, Company News on Helperbird.'
  - var url = '/'
  - var keywords = 'The Helperbird Blog, Updates, ideas, inspiration from Helperbird, Product Updates, Company News on Helperbird., Helperbird Blog, Helperbird Education Blog '


block list
  include ../includes/mixins/blog
  +home_page_blog_list('The 5 Must-Have Accessibility Tools for students in 2021','/blog/the-5-must-have-accessibility-tools-for-students-in-2021',"With online learning and increased online activity, it's important that every student feels empowered and comfortable when working online.",'Research','/assets/images/blog/top-five/helperbird.jpg')
  +home_page_blog_list('How to use Immerive reader in Google Docs','/blog/how-to-use-immersive-reader-in-google-docs',"Discover how to use Immersive reader in Google Docs for free.",'Guide','/assets/images/blog/how-to-use-immersive-reader-in-google-docs/step_2.png')

  +home_page_blog_list('Thanksgiving day message from Helperbird','/blog/thanksgiving-message-from-helperbird','On the day before Thanksgiving, Helperbird wants to give thanks for what were most grateful for this year.','Interview','/assets/images/blog/thanksgiving/GIVE-THANKS-01.png')
  +home_page_blog_list('Interview with Helperbirds founder','/blog/interview-with-dyslexic-founder-of-helperbird','At my first week Teamwork.com I was encourage to build anything I wanted. I decided to make a simple extension for the font OpenDyslexic to help Dyslexic readers like myself have a font option on webpages that were hard to read.','Interview','/assets/images/blog/extra/robert-gabriel.png')
  +home_page_blog_list('3 Facts about Dyslexia','/blog/three-facts-about-dyslexia','3 Facts about Dyslexia and 1 Fact about Cats','Facts','/assets/images/blog/extra/crash-the-cat.png')
  +home_page_blog_list('Today will be a good day','/blog/positive-thoughts-might-benefit-dyslexic-students','How positive thoughts might benefit dyslexic students.','Facts','https://www.helperbird.com/assets/images/blog/positive/GOODDAY-01.png')
  +home_page_blog_list(' How to deploy Helperbird through the Google Admin Console','/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console','After the force-install window has closed, click SAVE at the bottom of the page to publish the app or extension to all of your selected users. The app or extension will now be deployed to your users.','Guide','/assets/images/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console/steps_1.png')
  +home_page_blog_list('Research into Web Accessibility and Dyslexia-focused fonts','/blog/research-into-web-accessibility-for-dyslexics-and-dyslexia-focused-fonts-such-as-opendyslexia','There are few published papers about usability testing with dyslexia focused fonts, but there is a considerable collection of knowledge on dyslexia as well as many suggestions for authoring dyslexia friendly interfaces.','Research','https://miro.medium.com/max/1400/0*fg-ZaVStYkFz5Azh.png')
  +home_page_blog_list('How to sign into Helperbird','/blog/signin','To sign in to your browser to unlock Helperbird Pro, youll need a Google Account or an Microsoft account. When you have an account, follow these steps.','Guide','/assets/images/social/facebook.png')
