doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title The Helperbird Blog | Updates, ideas, and inspiration from Helperbird
    meta(content='The Helperbird Blog, Updates, ideas, inspiration from Helperbird, Product Updates, Company News on Helperbird., Helperbird Blog, Helperbird Education Blog ', name='keywords')
    link(href='/blog/', rel='canonical')
    meta(content='Product Updates, Company News on Helperbird.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird Education Blog | Helperbird', itemprop='name')
    meta(content='Product Updates, Company News on Helperbird.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='Helperbird Education Blog | Helperbird', name='twitter:title')
    meta(content='Product Updates, Company News on Helperbird.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Helperbird Education Blog | Helperbird', name='og:title')
    meta(content='Product Updates, Company News on Helperbird.', name='og:description')
    meta(content='/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/blog', name='og:url')
    meta(content='Helperbird Education Blog | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='https://www.helperbird.com/blog', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='/assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='/assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
    script(type='application/ld+json').
      
      {
      	       "@context": "https://schema.org",
      	       "@type": "SoftwareApplication",
      	       "name": "Helperbird",
      	       "operatingSystem": "Windows",
      	       "applicationCategory": "https://schema.org/UtilitiesApplication",
      	       "aggregateRating": {
      	          "@type": "AggregateRating",
      	          "ratingValue": "4.8",
      	          "ratingCount": "42"
      	       },
      	       "offers": {
      	          "@type": "Offer",
      	          "price": "4.99",
      	          "priceCurrency": "USD"
      	       }
      	       }
      
    script(type='application/ld+json').
      
      {
      	          "@context": "https://schema.org",
      	          "@type": "Organization",
      	          "name": "Helperbird",
      	          "url": "https://www.helperbird.com",
      	          "sameAs": [
      	              "http://www.facebook.com/helperbird",
      	              "https://www.linkedin.com/company/19112429",
      	              "https://twitter.com/helperbird_"
      	          ]
      	       }
      
    script(type='application/ld+json').
      
      {
      	       "@context": "https://schema.org/",
      	       "@type": "Product",
      	       "name": "Helperbird",
      	       "image": [
      	          "https://www.helperbird.com/assets/images/pwa/144.png",
      	          "https://www.helperbird.com/assets/images/pwa/512.png",
      	          "https://www.helperbird.com/assets/images/pwa/full.png"
      	       ],
      	       "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	       "sku": "0446310786",
      	       "mpn": "925872",
      	       "brand": {
      	          "@type": "Thing",
      	          "name": "Helperbird"
      	       },
      	          "review": {
      	              "@context": "http://schema.org/",
      	              "@type": "Review",
      	              "name": "Colm Murphy",
      	              "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	              "reviewRating": {
      	                  "@type": "Rating",
      	                  "ratingValue": "5",
      	                  "bestRating": "5",
      	                  "worstRating": "1"
      	              },
      	              "datePublished": "2019-05-02",
      	              "author": {
      	                  "@type": "Person",
      	                  "name": "Colm Murphy"
      	              }
      	          },
      	       "aggregateRating": {
      	          "@type": "AggregateRating",
      	          "ratingValue": "4.8",
      	          "reviewCount": "57"
      	       },
      	       "offers": {
      	          "@type": "Offer",
      	          "url": "https://www.helperbird.com",
      	          "priceCurrency": "USD",
      	          "price": "4.99",
      	          "priceValidUntil": "2020-11-05",
      	          "itemCondition": "https://schema.org/NewCondition",
      	          "availability": "https://schema.org/InStock",
      	          "seller": {
      	          "@type": "Organization",
      	          "name": "Helperbird"
      	          }
      	       }
      	       }
      
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/navigation.pug
      section.section_header
        .container
          .col-12.text-center
            h1.heading.primary-color.launchaco-builder-hoverable The Helperbird Blog
            h2.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable Updates, ideas, and inspiration from the Helperbird team.
     
            .mt40
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='/pricing')
                span Get Helperbird for Free
              a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text.cta-small-text(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                span Watch it in action
     
    .container-lrg.flex.mt75

      ul.plan-features.grid__item.grid__item--large.grid__item--mobile-large.blogx(style="    grid-template-columns: repeat(auto-fill,600px);")

          li.plan-features__item
         
              
              h3.medium.flush.blog-title Sign into Helperbird
              p.flush.blog-paragraph Signing into Helperbird, connects your Google Account to your browser for a more personalized browsing experience. All your Chrome data, like your bookmarks, history, passwords, and other settings, is synced to your Google Account and available on any device where you sign in to Chrome. You'll also be automatically signed in to Gmail, YouTube, Search, or other Google services.
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='/blog/signin', title="Learn more about Reader mode for Google Chrome")
                  span Read
      
          li.plan-features__item

              h3.medium.flush.blog-title Research into Web Accessibility for Dyslexics and Dyslexia-focused fonts such as OpenDyslexic
              p.flush.blog-paragraph There are few published papers about usability testing with dyslexia focused fonts, but there is a considerable collection of knowledge on dyslexia as well as many suggestions for authoring dyslexia friendly interfaces. Existing accessibility guidelines for dyslexic and non-dyslexic users suggest that dyslexic-accessible practices may redress difficulties encountered by all Internet users. This paper reviews two existing papers about dyslexia focused fonts (OpenDyslexia font) and accessibility. It will examine the font itself, as well as how the use of the font affects the visual perception, readability, and comprehension of the website and text with general web accessibility. The report is interested in the effects the font has, if any, for people with dyslexia, in comparison with those of Comic Sans or Times New Roman, and on improving human- computer interactions.
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='/blog/research-into-web-accessibility-for-dyslexics-and-dyslexia-focused-fonts-such-as-opendyslexia')
                  span Read

          li.plan-features__item
  
              h3.medium.flush.blog-title How to deploy Helperbird for Chrome through the Google Admin Console
              p.flush.blog-paragraph A step by step guide on how to to deploy Helperbird to everyone in your network for Chrome through the Google Admin Console.
              a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='/blog/how-to-deploy-apps-and-extensions-through-the-google-admin-console')
                  span Read


    include ../includes/layout/footer.pug