doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Interview our dyslexic founder, Robert James Gabriel | Helperbird
    meta(content='Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/blog/interview-with-dyslexic-founder-of-helperbird', rel='canonical')
    meta(content='There are few published papers about usability testing with dyslexia focused fonts, but ', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Dyslexia focused fonts such as OpenDyslexic | Helperbird', itemprop='name')
    meta(content='There are few published papers about usability testing with dyslexia focused fonts, but ', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Dyslexia focused fonts such as OpenDyslexic | Helperbird', name='twitter:title')
    meta(content='There are few published papers about usability testing with dyslexia focused fonts, but ', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Dyslexia focused fonts such as OpenDyslexic | Helperbird', name='og:title')
    meta(content='There are few published papers about usability testing with dyslexia focused fonts, but ', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Dyslexia focused fonts such as OpenDyslexic | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='/assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='/assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='/assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='/assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "url": "https://www.helperbird.com",
        "telephone": "5012936819",
        "sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "15 Markay Street",
          "addressLocality": "Toronto",
          "postalCode": "M3L2C6",
          "addressCountry": "Canada"
        }
      }
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016","gtin12": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
  body.font-friendly
    .lightblue-gradient
      include ../includes/layout/navigation.pug
      section.section_header
        #helperbird-banner
          span
          span
          span
          span
          span
        .container.mt200.mb40
          .col-12.text-center
            h1.heading.primary-color.launchaco-builder-hoverable Interview with Helperbird founder & dyslexic, Robert James
            h3.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable By Helperbird Staff
          .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.padding_40.pad40.white-background.discount
          
            section
              .container.mt40
                .col-12

                  h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.black What made you develop Helperbird?
                  p.paragraph_features At my first week #[a( href='http://www.teamwork.com' ) Teamwork.com] I was encourage to build anything I wanted. I decided to make a simple extension for the font #[a( href='http://www.opendyslexic.org' ) OpenDyslexic] to help Dyslexic readers like myself have a font option on webpages that were hard to read.

                  
                  h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.black When were you diagnosed?
                  p.paragraph_features People suspected I was dyslexic when I was around 8, but I was officially diagnosed at 15 when I was struggling in school. One of my teachers told my parents that I should just drop out of school and my Mom pursued getting me tested to help find a solution for me. Only 8 months after being diagnosed and starting to get the help I needed, I ended up winning my first technology award.

                  p.paragraph_features That teacher didn’t sound very encouraging.
                  p.paragraph_features She wasn’t haha.

                  h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.black Did you have any teachers that left a positive impact?

                  p.paragraph_features Sean Foley was my Physics teacher and he was super encouraging and even helped me get my first internship. Definitely was someone who saw something in me and that was very reassuring at that time in my life.

                  h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.black How did you come up with the name Helperbird?

                  p.paragraph_features I had a previous website called ProjectBird and ended up liking the bird theme I guess haha. And obviously the helper part came from how the app is designed to help people.

                  h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.black Do you feel like there’s a stigma attached to dyslexia?

                  p.paragraph_features I I think there still is unfortunately. Everyone’s different and has different abilities, if there is an area in life that you struggle with, whether it’s dyslexia or not, I don’t think you should feel ashamed for seeking help. Everyone does the best that they can with what they are given, no matter who you are we’re all in the same boat just trying to do our best.


                  h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.black Looking back, any advice you’d give to your younger self?

                  p.paragraph_features Bet on Fulham to get promoted haha. No but really I’d prob give myself the same advice I’d give to any younger person, if you’re struggling with something don’t stay quiet about it. I’d let them know that it’s okay to ask for help and it’s okay to even need help. Everyone needs help sometimes.

           

    include ../includes/sections/support_videos.pug
    include ../includes/layout/footer.pug