extends ../includes/templates/blog/post.pug

block seo
  - var title = 'Is Helperbird safe?'
  - var description = 'Is Helperbird safe to use?'
  - var url = 'is-helperbird-safe'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/support

  +support_title("Is Helperbird safe to use?","")
 

  +section('Is Helperbird safe to use?',
    [
    'Yes!',
    "Helperbird is 100% safe to use. We are proud to say we don't  use any tracking or marketing software and we don't use any remote third party scripts."
    ],'aXXRSenvTTg'
  )






    
