extends ../includes/templates/blog/post.pug

block seo
  - var title = 'Is Helperbird free?'
  - var description = 'Is Helperbird free to use?'
  - var url = 'is-helperbird-free'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'


block content
  include ../includes/mixins/support

  +support_title("Is Helperbird free to use?","")
 

  +section('Is Helperbird free to use?',
    [
    'Yes! Here has a free and a Pro version. Our free features will always be free and thats a promise.'
    ]
  )

  include ../includes/pricing/pricing_table






    
