extends ../includes/templates/blog_post.pug

block seo
  - var title = 'How positive thoughts might benefit dyslexic students.'
  - var description = 'How positive thoughts might benefit dyslexic students.'
  - var url = 'positive-thoughts-might-benefit-dyslexic-students'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/blog
  .col-12.text-center

    +blog_title("TODAY WILL BE A GOOD DAY")
    +blog_description("By Helperbird Staff")

  .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.padding_40.pad40.white-background
    .mb20
      +blog_paragraph_title("TODAY WILL BE A GOOD DAY")
      +blog_paragraph("How positive thoughts might benefit dyslexic students.")
      +blog_image('Have a good day', '/assets/images/blog/positive/GOODDAY-01.png')
      +blog_paragraph("How positive thoughts might benefit dyslexic students.")
      +blog_paragraph("The words we tell ourselves can have a HUGE impact and having a positive outlook can benefit our lives in many proven ways.")
      +blog_paragraph("Did you know that even though dyslexia does not cause anxiety, students with dyslexia tend to struggle with anxiety as well? One study shows that dyslexic students, when compared to their peers, show higher levels of anxiety. The study proposes that when assessments of dyslexic students are performed, the emotional well-being of the student should also be considered.")
      +blog_paragraph("A separate study, performed by Kings College in London, took over 100 subjects diagnosed with anxiety and had them focus on positive outcomes from the topics that caused the subject's worry. The exercise actually showed significant reductions in anxiety, suggesting that positive thinking can, perhaps even in small ways, help lessen the toll that negativity takes on our lives.")
      +blog_paragraph("So on this Monday, as we begin a new week of challenges to face, take a moment to tell yourself some encouraging words, and imagine a positive outcome for the obstacles ahead.")