extends ../includes/templates/blog/post.pug

block seo
  - var title = 'Sign into Google Chrome or Microsoft Edge Browser'
  - var description = 'Learn how to login to Helperbird'
  - var url = 'signin'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include ../includes/mixins/support







block content
  include ../includes/mixins/support

  +support_title("How to sign into Helperbird","To sign in to your browser to unlock Helperbird Pro, you'll need a Google Account or an Microsoft account.")
 

  +section('When you have an account, follow these steps:',
    [
    'Open Chrome or Edge.',
    'In the top right, click the button with your name or People People icon.',
    'Click "Sign in to Chrome" or "Sign in to Edge".',
    'Sign in with your Google/Microsoft Account.',
    "To customize your sync settings, click More icon and then Settings and then Advanced sync settings. You can choose what information to share across other devices where you're signed in to Chrome or Edge."
    ],'aXXRSenvTTg'
  )






    
