

extends ../includes/templates/blog/post.pug

block seo
  - var title = 'Top 5 features of Helperbird to help your students in 2021'
  - var description = 'Learn how to login to Helperbird'
  - var url = 'top-five-features-of-helperbird-to-help-your-students-in-2021'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  .text-lg.max-w-prose.mx-auto
    h1
      span.block.text-base.text-center.text-indigo-600.font-semibold.tracking-wide.uppercase Blog
      span.mt-2.block.text-3xl.text-center.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl') Top 5 features of Helperbird to help your students in 2021
    p.mt-8.text-xl.text-gray-500.leading-8
      | Helperbird has over 38 amazing features to choose from to make your class more accessible and productive in 2021 and 2022. We thought we would highlight what has been popular in the past year from teachers and students around the world. 

    figure.mt-12
      img.w-full.rounded-lg(src='/assets/images/blog/top-five-features-of-helperbird-to-help-your-students-in-2021/top-five-features-of-helperbird-to-help-your-students-in-2021.png' alt='Banner of the Helperbird logo and title of the blog' width='1310' height='873')
      figcaption

  .mt-12.prose.prose-indigo.prose-lg.text-gray-500.mx-auto.my-8
    h2
      | Specialised Fonts for reading & Dyslexia
    p
      | Change the font to any specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Lexend and more. #[a(href='/features/specialised-dyslexic-fonts' style="color: blue;" title="More information about the specialised dyslexic fonts" ) More information].

    div(class='sm:mx-auto sm:max-w-3xl sm:px-6')#support_video
      .relative.-mr-40(class='pl-4 sm:pl-0 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:pl-12')
        .w-full.rounded-lg.youtube_lazy_load.rounded-md.ring-0.ring-black.ring-opacity-100(data-embed='ylAICmLakaA') 
          .play-button

  .mt-12.prose.prose-indigo.prose-lg.text-gray-500.mx-auto.my-8

    h2
      | Annotations and notes on any website


    p
      | Highlight or annotate web pages documents, pdfs, ebooks and more content to improve engagement and study.  #[a(href='/features/annotation' title="Discover more information about the annotation website" style="color: blue;" ) More information].
    div(class='sm:mx-auto sm:max-w-3xl sm:px-6')#support_video
      .relative.-mr-40(class='pl-4 sm:pl-0 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:pl-12')
        .w-full.rounded-lg.youtube_lazy_load.rounded-md.ring-0.ring-black.ring-opacity-100(data-embed='u67t7Ap61Nc') 
          .play-button


  .mt-12.prose.prose-indigo.prose-lg.text-gray-500.mx-auto.my-8

    h2
      | Listen to any part of your Webpages and Google Docs


    p
      | Sit back, press play, and have your news, emails, or news read aloud to you.  #[a(href='/features/text-to-speech' title="Discover the text to speech features of Helperbird" style="color: blue;" ) More information].


    div(class='sm:mx-auto sm:max-w-3xl sm:px-6')#support_video
      .relative.-mr-40(class='pl-4 sm:pl-0 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:pl-12')
        .w-full.rounded-lg.youtube_lazy_load.rounded-md.ring-0.ring-black.ring-opacity-100(data-embed='rh4Ur2gdgio') 
          .play-button



  .mt-12.prose.prose-indigo.prose-lg.text-gray-500.mx-auto.my-8

    h2
      | Word prediction
    p
      | This is a new feature from us, but wow did it make a huge splash, our word prediction works on every input on a page and even Google doc files. It currently supports English but Germen, French and Spanish is coming soon.


  .mt-12.prose.prose-indigo.prose-lg.text-gray-500.mx-auto.my-8

    h2
      | Immersive reader on Google docs and every website


    p
      | #[a(href='features/immersive-reader-for-chrome' title="More information on Helperbirds immersive reader features" style="color: blue;")  Immersive Reader] is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability. Immersive Reader can improve reading comprehension and increase fluency for English language learners.


    div(class='sm:mx-auto sm:max-w-3xl sm:px-6')#support_video
      .relative.-mr-40(class='pl-4 sm:pl-0 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:pl-12')
        .w-full.rounded-lg.youtube_lazy_load.rounded-md.ring-0.ring-black.ring-opacity-100(data-embed='lMj6a7UvJng') 
          .play-button

  .mt-12.prose.prose-indigo.prose-lg.text-gray-500.mx-auto

    p
      | All the other features of Helperbird and you can learn more here. You can always try out Helperbird for free and even think about upgrading to Helperbird Pro and supporting us in helping the world.
