extends ../includes/templates/blog/post.pug

block seo
  - var title = 'Top 5 features of Helperbird to help your students in 2021'
  - var description = 'Learn how to login to Helperbird'
  - var url = 'top-five-features-of-helperbird-to-help-your-students-in-2021'
  - var keywords = 'Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'



block content
  include ../includes/mixins/support

  +support_title("Top 5 features of Helperbird to help your students in 2021","")
 
  +support_paragraph('Helperbird has over 38 amazing features to choose from to make your class more accessible and productive in 2021 and 2022. We thought we would highlight what has been popular in the past year from teachers and students around the world. ')

  +support_paragraph_title('The font changer')

  +support_paragraph('Change the font to any specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Lexend and more.')
  +watch_it_in_action('ylAICmLakaA')


  +support_paragraph_title('Annotations and notes on any website')

  +support_paragraph('Highlight or annotate web pages documents, pdfs, ebooks and more content to improve engagement and study.')
  +watch_it_in_action('u67t7Ap61Nc')


  +support_paragraph_title('Speech to text ')

  +support_paragraph('Sit back, press play, and have your news, emails, or news read aloud to you.')

  +watch_it_in_action('rh4Ur2gdgio')
  +support_paragraph_title('Word prediction')

  +support_paragraph('This is a new feature from us, but wow did it make a huge splash, our word prediction works on every input on a page and even Google doc files. It currently supports English but Germen, French and Spanish is coming soon.')
  
  +support_paragraph_title('Immersive reader')

  +support_paragraph('Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability. Immersive Reader can improve reading comprehension and increase fluency for English language learners.')
  +watch_it_in_action('lMj6a7UvJng')
  +support_paragraph_title('')

  +support_paragraph('All the other features of Helperbird and you can learn more here. You can always try out Helperbird for free and even think about upgrading to Helperbird Pro and supporting us in helping the world.')

