---
new: true
header: true
layout: templates/base.html
title: About Helperbird | Our Mission, Values, and Vision
youtubeId: vwT8SAJfU3E
cardTitle: About Helperbird
description: Discover the story behind Helperbird, a platform committed to making the digital world accessible for individuals with dyslexia, visual impairments, and other reading difficulties. Learn about our mission, values, and the impact we're making.
keywords:
  Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for chrome, text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software, Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome, OpenDyslexic
url: about/
---

<main class="isolate">

  <div class="px-6 py-24 sm:py-16 lg:px-8 mb-4">
    <div class="mx-auto max-w-3xl text-center">
      <h2 class="leading-relaxed font-sans   text-4xl font-bold   text-black sm:text-6xl">Welcome to Helperbird 🐦👋</h2>
      <p class="leading-relaxed font-sans  mt-6 text-2xl  text-black">
        Established in 2015 by Robert James Gabriel, Helperbird embarked on a mission to empower every learner, making the digital world more accessible for all.
      </p>
    </div>
  </div>

  <div class="card bg-white border-white shadow-md border-2 mb-8 mt-8 mx-auto max-w-3xl rounded-xl">
    <div class="card-body rounded-xl">
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">Hey there!,</p>
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">
        I'm Robert James Gabriel, the founder of Helperbird. I want to share with you the story of how Helperbird came to be back in 2015.
      </p>
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">
        I grew up in Ireland, and school was always a challenge for me. I struggled with in-class work, homework, and tests. At 15, my English teacher suggested that I drop out of school, which was devastating for me and my family.
      </p>
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">
        But my parents didn't give up on me. They had me tested and discovered that I had dyslexia. With the right support, I was able to turn things around and even won my school 8,000 euro in award money.
      </p>
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">
        Fast forward a few years, and I was interning at a software company called
        <a
        href="https://www.teamwork.com"
        target="_blank"
        class="leading-relaxed font-sans text-base md:text-lg link link-hover text-blue-500 hover:text-blue-700"
        title="Visit Teamwork - Project Management, Help Desk & Chat Software">
        Teamwork.com
      </a>. During my internship, I built the very first version of Helperbird. It was initially designed to help me study and browse the web more efficiently, but it quickly grew into something more significant.
      </p>
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">
        Since then,
        <a
          href="/products/chrome/"
          title="Helperbird for Google Chrome"
          class="leading-relaxed font-sans  text-base md:text-lg link link-hover text-blue-500 hover:text-blue-700">Helperbird</a>
        has evolved and helped countless people with and without learning difficulties. It's my life's goal to make the web more accessible and easier to use for everyone.
      </p>
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">
        Helperbird's mission started with me and my needs, but it's grown to become something much more significant. We want to ensure that reading is never a barrier to learning, whether you have dyslexia, concussion symptoms, ADD, low vision, or anything in between.
      </p>
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">
        Our free version and low-cost version allow us to continue working on Helperbird and making it accessible to everyone. It's truly heartwarming to see productivity lovers, with and without learning differences, use Helperbird to reach their full potential.
      </p>
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">
        Thank you for taking the time to learn about Helperbird and our mission.
      </p>
      <p class="leading-relaxed font-sans   text-xl  text-black mb-6">Thank you,</p>
      <div class="flex items-center gap-x-6">
        <img
          class="h-12 w-12 rounded-full"
          src="https://www.helperbird.com/assets/images/staff/robert.jpeg"
            alt="A man (Robert James Gabriel) with short-cropped hair and a beard, wearing round glasses and a light-colored shirt, smiles slightly against a plain white background." />
        <div>
          <h3 class="leading-relaxed font-sans   text-xl font-bold   text-black">Robert James Gabriel</h3>
          <p class="leading-relaxed font-sans   text-base font-bold text-indigo-600">Helperbird Founder</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Values section -->
  <div class="mx-auto max-w-7xl px-6 sm:mt-40 lg:px-8 mb-32 mt-24">
    <div class="mx-auto max-w-4xl lg:mx-0">
      <h2 class="leading-relaxed font-sans   text-3xl font-bold   text-black sm:text-4xl">Our Core Values</h2>
      <p class="leading-relaxed font-sans  mt-6 text-xl  text-black">
        At Helperbird, we stand by a set of core principles that serve as the backbone of everything we do. Our values touch on Accessibility, Empowerment, Innovation, and more, guiding us in our quest to build inclusive and advanced solutions for those facing dyslexia, visual impairments, and other reading & writing challenges.
      </p>
      <p class="leading-relaxed font-sans  mt-6 text-xl  text-black">
        These values guide the company's mission to create inclusive, personalized, and cutting-edge solutions for individuals with dyslexia, visual impairments, and other reading difficulties.
      </p>
    </div>
    <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <div>
        <dt class="font-bold text-black text-xl">Accessibility</dt>
        <dd class="leading-relaxed font-sans  mt-2 text-lg">
          We're on a mission to make the digital world accessible to all. At Helperbird, we're crafting an online space where every individual can easily engage with digital content, no matter their abilities.
        </dd>
      </div>
      <div>
        <dt class="font-bold text-black text-xl">Empowerment</dt>
        <dd class="leading-relaxed font-sans  mt-2 text-lg">
          Our aim is to give people the tools they need to overcome web-based challenges on their own. If you struggle with dyslexia, visual impairments, or any other reading difficulty, we've got solutions designed to make your life easier.
        </dd>
      </div>
      <div>
        <dt class="font-bold text-black text-xl">Innovation</dt>
        <dd class="leading-relaxed font-sans  mt-2 text-lg">
          We're not ones to settle. Helperbird is continually innovating to redefine what's possible in accessibility tech, offering groundbreaking solutions that set new standards in the field.
        </dd>
      </div>
      <div>
        <dt class="font-bold text-black text-xl">Social Responsibility</dt>
        <dd class="leading-relaxed font-sans  mt-2 text-lg">
          We go beyond providing tools; we aim to educate. Helperbird is actively involved in raising awareness about the unique challenges faced by those with reading difficulties and why digital accessibility is crucial in today's world.
        </dd>
      </div>
      <div>
        <dt class="font-bold text-black text-xl">Customization</dt>
        <dd class="leading-relaxed font-sans  mt-2 text-lg">
          We know that no two users are the same. That's why we offer extensive customization options, allowing you to tailor your web experience to meet your individual needs.

        </dd>
      </div>
      <div>
        <dt class="font-bold text-black text-xl">Affordability</dt>
        <dd class="leading-relaxed font-sans  mt-2 text-lg">
          At Helperbird, we believe that everyone should have access to the tools they need, regardless of their financial situation. We're committed to offering affordable options that open doors for people from all walks of life.



        </dd>
      </div>
    </dl>
  </div>

  {% include templates/new/cta/trusted.html %}



</main>