---
new: true
footer: true
header: true
layout: templates/base.html
title: About Helperbird | Our Mission, Values, and Vision
youtubeId: vwT8SAJfU3E
cardTitle: About Helperbird
description: Helperbird was created by Robert James Gabriel to make the internet easier to navigate for everyone, including people with dyslexia, ADHD, and visual impairments. Learn about our story, our values, and our mission to make the web truly accessible.
keywords:
  Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for chrome, text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software, Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome, OpenDyslexic
url: about/
---



<div class="px-6 py-20 sm:py-16 lg:px-4 mb-4">
  <div class="mx-auto max-w-4xl text-center">
    <h1 class="leading-relaxed font-sans text-4xl font-bold text-black sm:text-6xl">  The Story Behind Helperbird</h1>
    <p class="leading-relaxed font-sans mt-6 text-2xl text-black">
       Helperbird started as a simple idea by Robert James Gabriel back in 2015, born from his own need to make learning less of a struggle. 
      <br>
      What began as a personal project quickly turned into something bigger – a way to help anyone who wants an easier way to learn and succeed.
    </p>
  </div>
</div>



<div class="card bg-white border-white shadow-md border-2 my-8 p-8 mx-auto max-w-4xl rounded-xl">
  <div class="card-body">
    <div class="text-xl text-black leading-relaxed">
        <p class="mb-6">Hey there! 👋,</p>
        
        <p class="mb-6">
          I’m Robert James Gabriel, the founder (and the one and only developer!) behind Helperbird. This project wasn’t just a business, it was personal, created from my own experiences and needs.
        </p>    
        <p class="mb-6">
          Growing up in Ireland, school was a struggle. When I was 15,  <a href="my English teacher told my parents I should drop out" target="_blank" class="text-blue-500 hover:text-blue-700" title="We are stopping youngsters from achieving their true potential’ – IT entrepreneur on how dyslexia went undiagnosed for years">my English teacher told my parents I should drop out</a>. That news was devastating, but my parents didn’t give up on me. After testing, they discovered I had dyslexia, and with their support, I was able to turn things around. I went on to win an award that brought my school 8,000 euros – something I couldn’t have achieved without my parents’ belief in me.
        </p>    
        <p class="mb-6">
          In January 2015, during an internship at   <a href="https://www.teamwork.com" target="_blank" class="text-blue-500 hover:text-blue-700" title="Visit Teamwork - Project Management, Help Desk & Chat Software">Teamwork.com</a>, I created the first version of Helperbird to learn coding and help me study. What started as a small tool to make web browsing easier quickly grew into something much bigger. And coming up on ten years now, it’s still just me here, developing and supporting Helperbird to keep it going strong all these years.
        </p>    
        <p class="mb-6">
          Helperbird’s mission is simple: to make reading, learning, and navigating the web easier and more accessible for everyone. Whether you have dyslexia, low vision, ADHD, or just want tools to improve focus and productivity, Helperbird is here for you. I offer a free version to ensure accessibility for all and keep Pro features affordable to support ongoing improvements. Accessibility isn’t just a feature in Helperbird – it’s the heart of what I do. I’m committed to building a tool that meets or exceeds accessibility standards, so it’s usable by anyone who needs it.
        </p>    
        <p class="mb-6">
          Helperbird’s journey has been incredible, thanks to the supportive community that’s helped it grow. Your feedback, stories, and suggestions inspire each update, and I’m grateful to the community that’s shaped Helperbird into what it is today. Accessibility is a journey, and every one of your experiences helps me make Helperbird better for the next person.
        </p>    
        <p class="mb-6">
          If Helperbird has made a positive difference for you, please consider leaving a <a href="https://www.youtube.com/@helperbird" target="_blank" class="text-blue-500 hover:text-blue-700" title="Leave a 5 star review">five-star review</a> – it helps others discover us and grow our mission. And don’t forget to follow us on <a href="https://www.youtube.com/@helperbird" target="_blank" class="text-rose-500 hover:text-rose-700" title="Youtube">Youtube</a>,  <a href="https://www.reddit.com/r/Helperbird/" target="_blank" class="text-orange-500 hover:text-orange-700" title="Reddit">Reddit</a>,  <a href="https://www.instagram.com/helperbird_" target="_blank" class="text-purple-500 hover:text-purple-700" title="Instagram">Instagram</a>, <a href="https://www.tiktok.com/@helperbird" target="_blank" class="text-stone-500 hover:text-stone-700" title="TikTok">TikTok</a>, <a href="https://www.facebook.com/helperbird" target="_blank" class="text-blue-500 hover:text-blue-700" title="Facebook">Facebook</a> , <a href="https://www.twitter.com/helperbird" target="_blank" class="text-sky-500 hover:text-sky-700" title="Twitter">Twitter</a> to stay connected. You can even reach out directly if you have ideas for new features or just want to share your story with Helperbird. I’d love to hear from you!
        </p>    
        <p class="mb-6">
          Thank you for being part of Helperbird’s story. My goal is to make a difference, and I’m honored to be part of yours.
        </p>    
        <p class="mb-6">
          With love,
        </p>

      </div>

      <div class="flex items-center space-x-4">
        <img 
          class="w-12 h-12 rounded-3xl border-2 " 
          src="/assets/images/staff/robert.jpeg" 
          height="100"
          width="100"
          alt="A man (Robert James Gabriel) with short-cropped hair and a beard, wearing round glasses and a light-colored shirt, smiles slightly against a plain white background."
        >
      <div>
      <h3 class="text-lg font-bold text-black">Robert James Gabriel</h3>
      <p class="text-base text-black">Founder & Developer, Helperbird</p>
    </div>
  </div>
  </div>
</div>




<!-- Values section -->
<div class="mx-auto max-w-7xl px-6 mt-24 sm:mt-40 lg:px-8 mb-32">
  <div class="mx-auto max-w-4xl lg:mx-0">
    <h2 class="text-3xl font-bold text-black leading-relaxed sm:text-4xl">Core Values</h2>
    <p class="mt-6 text-xl text-black leading-relaxed">
      My mission is simple to make the web accessible for everyone. I believe in accessibility, empathy, and community. These values guide me every day as I work to create tools that make life a little easier for people with dyslexia, visual impairments, and other reading challenges.
      Helperbird is more than just software – it's a way to support each person’s unique journey. Join our community, and let’s make a difference together!
    </p>
  </div>
  <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-12 gap-y-24 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    <div>
      <dt class="text-xl font-bold text-black">Accessibility for All</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        Everyone deserves a web they can navigate with ease. I believe that the internet should be usable by everyone, no matter their abilities. That’s why I’m committed to building tools that empower people to access information in a way that’s right for them.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Empathy First</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        Helperbird was built from my own experiences and understanding. I know what it feels like to face barriers, and that’s why empathy is at the core of everything I create. Helperbird is designed with compassion and care, to help others overcome their own challenges.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Simplicity and Ease</dt>
      <dd class="mt-2 text-lg leading-relaxed">
       Tools that help shouldn’t be complicated. Learning should be easy, not harder. That’s why I focus on designing Helperbird to be simple and easy to use – no extra steps or confusion, just helpful features that work.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Continuous Growth</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        Always listening, learning, and improving. The internet and the needs of our community are constantly evolving, and so is Helperbird. I’m dedicated to growing and improving it with each update, guided by your feedback and the ever-changing world of accessibility.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Affordability Matters</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        Helpful tools should be within reach for everyone. I keep prices as low as possible and offer a free version so that no one is left out. Helperbird exists to make a difference, and part of that is making sure my tools are accessible to anyone who needs them.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Community-Driven Design</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        Helperbird is shaped by the people who use it. Every suggestion, review, and story from our community helps shape Helperbird. I’m here to listen and to build a tool that truly supports your needs, because Helperbird belongs to all of us.
      </dd>
    </div>
  </dl>
</div>



{% render templates/new/cta/trusted.html %}



