---
new: true
footer: true
header: true
layout: templates/base.html
title: About Helperbird | Our Mission, Values, and Vision
youtubeId: vwT8SAJfU3E
cardTitle: About Helperbird
description: Discover the story behind Helperbird, a platform committed to making the digital world accessible for individuals with dyslexia, visual impairments, and other reading difficulties. Learn about our mission, values, and the impact we're making.
keywords:
  Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for chrome, text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software, Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome, OpenDyslexic
url: about/
---



<div class="px-6 py-20 sm:py-16 lg:px-4 mb-4">
  <div class="mx-auto max-w-4xl text-center">
    <h2 class="leading-relaxed font-sans text-4xl font-bold text-black sm:text-6xl">Helperbirds' Story.</h2>
    <p class="leading-relaxed font-sans mt-6 text-2xl text-black">
      Born out of a real need to stop struggling with learning, Helperbird was founded by Robert James Gabriel in 2015.
      It started with his own learning needs but quickly grew to give everyone the tools they need to succeed. 
    </p>
  </div>
</div>



<div class="card bg-white border-white shadow-md border-2 my-8 p-8 mx-auto max-w-4xl rounded-xl">
  <div class="card-body">
    <div class="text-xl text-black leading-relaxed">
      <p class="mb-6">Hey there!,</p>
      <p class="mb-6">
        I'm Robert James Gabriel, the founder of Helperbird. I want to share with you the story of how Helperbird came to be back in 2015.
      </p>
      <p class="mb-6">
        I grew up in Ireland, and school was always a challenge for me. I struggled with in-class work, homework, and tests. At 15, my English teacher suggested that I drop out of school, which was devastating for me and my family.
      </p>
      <p class="mb-6">
        But my parents didn't give up on me. They had me tested and discovered that I had dyslexia. With the right support, I was able to turn things around and even won my school 8,000 euro in award money.
      </p>
      <p class="mb-6">
        Fast forward a few years, and I was interning at a software company called
        <a
          href="https://www.teamwork.com"
          target="_blank"
          class="text-blue-500 hover:text-blue-700"
          title="Visit Teamwork - Project Management, Help Desk & Chat Software">
          Teamwork.com
        </a>. During my internship, I built the very first version of Helperbird. It was initially designed to help me study and browse the web more efficiently, but it quickly grew into something more significant.
      </p>
      <p class="mb-6">
        Since then,
        <a
          href="/products/chrome/"
          title="Helperbird for Google Chrome"
          class="text-blue-500 hover:text-blue-700">Helperbird</a>
        has evolved and helped countless people with and without learning difficulties. It's my life's goal to make the web more accessible and easier to use for everyone.
      </p>
      <p class="mb-6">
        Helperbird's mission started with me and my needs, but it's grown to become something much more significant. We want to ensure that reading is never a barrier to learning, whether you have dyslexia, concussion symptoms, ADD, low vision, or anything in between.
      </p>
      <p class="mb-6">
        Our free version and low-cost version allow us to continue working on Helperbird and making it accessible to everyone. It's truly heartwarming to see productivity lovers, with and without learning differences, use Helperbird to reach their full potential.
      </p>
      <p class="mb-6">
        Thank you for taking the time to learn about Helperbird and our mission.
      </p>
    </div>

    <div class="flex items-center space-x-4">
  <img 
    class="w-12 h-12 rounded-full border-2 border-purple-600" 
    src="https://www.helperbird.com/assets/images/staff/robert.jpeg" 
    alt="A man (Robert James Gabriel) with short-cropped hair and a beard, wearing round glasses and a light-colored shirt, smiles slightly against a plain white background."
  >
  <div>
    <h3 class="text-lg font-bold text-gray-900">Robert James Gabriel</h3>
    <p class="text-base text-gray-600">Helperbird Founder</p>
  </div>
</div>
   
  </div>
</div>




<!-- Values section -->
<div class="mx-auto max-w-7xl px-6 mt-24 sm:mt-40 lg:px-8 mb-32">
  <div class="mx-auto max-w-4xl lg:mx-0">
    <h2 class="text-3xl font-bold text-black leading-relaxed sm:text-4xl">Our Core Values</h2>
    <p class="mt-6 text-xl text-black leading-relaxed">
      At Helperbird, our mission is simple: to make the world accessible for everyone. We believe in Accessibility, Empowerment, and Innovation. These core values guide us in creating top-notch, inclusive solutions for people with dyslexia, visual impairments, and other reading challenges. Join our community and experience the difference!
    </p>
  </div>
  <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    <div>
      <dt class="text-xl font-bold text-black">Accessibility</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        At Helperbird, we're on a mission to make the digital world easy to use for everyone. We're dedicated to building an online space where everyone, no matter their abilities, can interact with digital content effortlessly.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Empowerment</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        Our goal at Helperbird is to empower you with the tools to tackle web-based challenges on your own. Whether you have dyslexia, visual impairments, or any other reading difficulty, we have solutions designed to make your life easier.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Innovation</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        At Helperbird, we never settle. We're constantly innovating to push the boundaries of accessibility technology, offering cutting-edge solutions that set new standards in the field.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Social Responsibility</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        We're committed to raising awareness about the unique challenges faced by people with reading difficulties and highlighting the importance of digital accessibility in today's world.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Customization</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        We understand that everyone is unique. That's why Helperbird offers extensive customization options, so you can tailor your web experience to fit your individual needs perfectly.
      </dd>
    </div>
    <div>
      <dt class="text-xl font-bold text-black">Affordability</dt>
      <dd class="mt-2 text-lg leading-relaxed">
        At Helperbird, we believe everyone deserves access to the tools they need, no matter their budget. We're committed to offering affordable options that open doors for people from all walks of life.
      </dd>
    </div>
  </dl>
</div>



  {% include templates/new/cta/trusted.html %}



