---
new: true
header: true
layout: templates/base_new.html
title: Contact the Helperbird team
youtubeId: PfILiWebkuc
cardTitle:  Contact Helperbird
description:
  Helperbird team is here to help. Learn more about popular topics and find resources that will help
  you with all of your Helperbird products.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: contact/
---


<div class="px-6 py-16 sm:py-10 lg:px-8 mb-8">
  <div class="mx-auto max-w-3xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">
      Contact the Helperbird team
    </h2>

    <p class="mt-6 text-2xl leading-8 text-black">
      Watch
      <a
        href="/tutorials/"
        title="tutorial vidoes"
        class="text-blue-600 underline hover:decoration-wavy hover:underline">tutorials</a>, read the
      <a
        href="/help/"
        title="tutorial vidoes"
        class="text-blue-600 underline hover:decoration-wavy hover:underline">help guides</a>, or

      <a
        href="#message"
        title="tutorial vidoes"
        class="text-blue-600 underline hover:decoration-wavy hover:underline">send us a message</a>
      to get help.


      <p class="mt-6 text-2xl leading-8 text-black font-bold">

        The hands-down, sharpest, and friendliest support team in the
        ed-tech world.
      </p>


    </div>
  </div>


  <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">


    <div>
      <h1 class="mt-2 mb-2 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl">
        Contact Helperbird
      </h1>

      <div class="card bg-white border-stone-600 border-2 mb-8 mt-8 rounded-sm mx-auto max-w-3xl rounded-xl">

        <div class="card-body rounded-xl">

          <p class="text-xl leading-8 text-black mb-6">Hey there!,</p>
          <p class="text-xl leading-8 text-black mb-6">
            Whether you're reaching out to us for support or have questions about marketing and partnerships, we're here to help.


          </p>
          <p class="text-xl leading-8 text-black mb-6">
            Our dedicated support team is ready to assist you with any technical issues or questions you may have. And if you're interested in learning more about partnering with Helperbird or have questions related to marketing, our team is happy to chat with you!

          </p>
          <p class="text-xl leading-8 text-black mb-6">
            We value your feedback and are committed to delivering the best possible experience to our users. So don't hesitate to reach out if you need anything.

          </p>


          <p class="text-xl leading-8 text-black mb-6">Thank you,</p>

          <div class="flex items-center gap-x-6">
            <img
              class="h-12 w-12 rounded-full"
              src="https://www.helperbird.com/assets/images/staff/robert.jpeg"
              alt="" />
            <div>
              <h3 class="text-xl font-bold leading-8 tracking-tight text-black">
                Robert James Gabriel
              </h3>
              <p class="text-base font-bold leading-6 text-indigo-600">Helperbird Founder</p>
            </div>
          </div>

        </div>


      </div>
    </div>


    <div class="relative sm:py-16 lg:py-0" id="contact">
      <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
        <!-- Testimonial card-->
        <iframe
          alt="Main menu"
          frameborder="0"
          height="1006"
          inheight="0"
          marginwidth="0"
          loading="lazy"
          src="https://docs.google.com/forms/d/e/1FAIpQLSfsr-P-xEmKXnjAF-4ih2umpi92WtDltocYG1GV_kqh5Br6tA/viewform?embedded=true"
          title="Helperbird feedback fourm "
          width="100%">Loading...</iframe>
      </div>
    </div>
  </div>


  <div class="card bg-white mb-8 mt-8 border-stone-600 border-2" id="touch">
    <div class="card-body py-24 px-4 ">
      <div class="divide-y divide-warm-gray-200">
        <section aria-labelledby="contact-heading" class="lg:grid lg:grid-cols-3 lg:gap-8">
          <h2 class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl" id="contact-heading">Get in touch</h2>
          <div class="mt-8 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 lg:mt-0 lg:col-span-2">
            <div>
              <h3 class="text-lg font-bold text-black">Support</h3>
              <dl class="mt-2 text-base text-black">
                <dd>
                  <div>
                    <dl>
                      <dt class="sr-only">Email</dt>
                      <dd>support@helperbird.com</dd>
                    </dl>
                  </div>
                  <div class="mt-1">
                    <dl>
                      <dt class="sr-only">Phone number</dt>
                      <dd>+1 (501) 293 6819</dd>
                    </dl>
                  </div>
                </dd>
              </dl>
            </div>
            <div>
              <h3 class="text-lg font-bold text-black">Press</h3>
              <dl class="mt-2 text-base text-black">
                <dd>
                  <div>
                    <dl>
                      <dt class="sr-only">Email</dt>
                      <dd>press@helperbird.com</dd>
                    </dl>
                  </div>
                  <div class="mt-1">
                    <dl>
                      <dt class="sr-only">Phone number</dt>
                      <dd>+1 (501) 293 6819</dd>
                    </dl>
                  </div>
                </dd>
              </dl>
            </div>
            <div>
              <h3 class="text-lg font-bold text-black">Sales</h3>
              <dl class="mt-2 text-base text-black">
                <dd>
                  <div>
                    <dl>
                      <dt class="sr-only">Email</dt>
                      <dd>sales@helperbird.com</dd>
                    </dl>
                  </div>
                  <div class="mt-1">
                    <dl>
                      <dt class="sr-only">Phone number</dt>
                      <dd>+1 (501) 293 6819</dd>
                    </dl>
                  </div>
                </dd>
              </dl>
            </div>
            <div>
              <h3 class="text-lg font-bold text-black">Say hello</h3>
              <dl class="mt-2 text-base text-black">
                <dd>
                  <div>
                    <dl>
                      <dt class="sr-only">Email</dt>
                      <dd>hello@helperbird.com</dd>
                    </dl>
                  </div>
                  <div class="mt-1">
                    <dl>
                      <dt class="sr-only">Phone number</dt>
                      <dd>+1 (501) 293 6819</dd>
                    </dl>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  {% include common/questions.html %}
</div>