---
new: true
header: true
layout: templates/base.html
title: Contact the Helperbird team
youtubeId: PfILiWebkuc
cardTitle:  Contact Helperbird
description:
  Helperbird team is here to help. Learn more about popular topics and find resources that will help
  you with all of your Helperbird products.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: contact/
---


<div class="px-6 py-16 sm:py-10 lg:px-8 mb-8">
  <div class="mx-auto max-w-3xl text-center">
    <h2 class="leading-relaxed font-sans  leading-relaxed font-sans  text-4xl font-bold   text-black sm:text-6xl">
      Contact the Helperbird team
    </h2>

    <p class="leading-relaxed font-sans  mt-10 text-2xl leading-8 text-black">
      Watch
      <a
        href="/tutorials/"
        title="tutorial vidoes"
        class="leading-relaxed font-sans  text-blue-600 underline hover:decoration-wavy hover:underline">tutorials</a>, read the
      <a
        href="/help/"
        title="tutorial vidoes"
        class="leading-relaxed font-sans  text-blue-600 underline hover:decoration-wavy hover:underline">help guides</a>, or

      <a
        href="#message"
        title="tutorial vidoes"
        class="leading-relaxed font-sans  text-blue-600 underline hover:decoration-wavy hover:underline">send us a message</a>
      to get help.


      <p class="leading-relaxed font-sans  mt-6 text-2xl leading-8 text-black font-bold">

        The hands-down, sharpest, and friendliest support team in the
        ed-tech world.
      </p>


    </div>
  </div>


  <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">


    <div>
      <h1 class="leading-relaxed font-sans  mt-2 mb-2 text-3xl font-extrabold leading-8   text-gray-900 sm:text-4xl">
        Contact Helperbird
      </h1>

      <div class="card bg-white border-stone-600 border-2 mb-8 mt-8 rounded-sm mx-auto max-w-3xl rounded-xl">

        <div class="card-body rounded-xl">

          <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">Hey there!,</p>
          <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">
            Whether you're reaching out to us for support or have questions about marketing and partnerships, we're here to help.


          </p>
          <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">
            Our dedicated support team is ready to assist you with any technical issues or questions you may have. And if you're interested in learning more about partnering with Helperbird or have questions related to marketing, our team is happy to chat with you!

          </p>
          <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">
            We value your feedback and are committed to delivering the best possible experience to our users. So don't hesitate to reach out if you need anything.

          </p>


          <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">Thank you,</p>

          <div class="flex items-center gap-x-6">
            <img
              class="h-12 w-12 rounded-full"
              src="https://www.helperbird.com/assets/images/staff/robert.jpeg"
              alt="" />
            <div>
              <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl font-bold leading-8   text-black">
                Robert James Gabriel
              </h3>
              <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-base font-bold leading-6 text-indigo-600">Helperbird Founder</p>
            </div>
          </div>

        </div>


      </div>
    </div>


    <div class="relative sm:py-16 lg:py-0" id="contact">
      <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
        <!-- Testimonial card-->
        <iframe
          alt="Main menu"
          frameborder="0"
          height="1006"
          inheight="0"
          marginwidth="0"
          loading="lazy"
          src="https://docs.google.com/forms/d/e/1FAIpQLSfsr-P-xEmKXnjAF-4ih2umpi92WtDltocYG1GV_kqh5Br6tA/viewform?embedded=true"
          title="Helperbird feedback fourm "
          width="100%">Loading...</iframe>
      </div>
    </div>
  </div>


  <div class="bg-white card border-stone-600 border-2 py-24 sm:py-32" id="touch">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
          <div>
            <h2 class="leading-relaxed font-sans  leading-relaxed font-sans  text-3xl font-bold   text-black">Get in touch</h2>
            <p class="leading-relaxed font-sans  mt-4 leading-7 text-black">Get in touch with one of our departments We have an average response time of 15 minutes.</p>
          </div>
          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
            <div class="rounded-2xl bg-gray-50 p-10">
              <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-base font-semibold leading-7 text-black ">Collaborate</h3>
              <dl class="mt-3 space-y-1 text-sm leading-6 text-black ">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>
                    <a class="font-semibold text-blue-600" href="mailto:robert.gabriel@helperbird.com">robert.gabriel@helperbird.com</a>
                  </dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (501) 293 6819</dd>
                </div>
              </dl>
            </div>
            <div class="rounded-2xl bg-gray-50 p-10">
              <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-base font-semibold leading-7 text-black ">Press</h3>
              <dl class="mt-3 space-y-1 text-sm leading-6 text-black ">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>
                    <a class="font-semibold text-blue-600" href="mailto:press@helperbird.com">press@helperbird.com</a>
                  </dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (501) 293 6819</dd>
                </div>
              </dl>
            </div>
            <div class="rounded-2xl bg-gray-50 p-10">
              <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-base font-semibold leading-7 text-black ">Join our team</h3>
              <dl class="mt-3 space-y-1 text-sm leading-6 text-black ">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>
                    <a class="font-semibold text-blue-600" href="mailto:careers@helperbird.com">careers@helperbird.com</a>
                  </dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (501) 293 6819</dd>
                </div>
              </dl>
            </div>
            <div class="rounded-2xl bg-gray-50 p-10">
              <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-base font-semibold leading-7 text-black ">Need support?</h3>
              <dl class="mt-3 space-y-1 text-sm leading-6 text-black ">
                <div>
                  <dt class="sr-only">Email</dt>
                  <dd>
                    <a class="font-semibold text-blue-600" href="mailto:support@helperbird.com">support@helperbird.com</a>
                  </dd>
                </div>
                <div class="mt-1">
                  <dt class="sr-only">Phone number</dt>
                  <dd>+1 (501) 293 6819</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  {% include common/questions.html %}
</div>