---
new: true
header: true
layout: templates/base.html
title:  Your reading, writing & accessibility assistant for Enterpirse
youtubeId: PfILiWebkuc
cardTitle:  Helperbird for Enterpirse
description: Contact a Helperbird sales representative to discuss how Helperbird can help your business.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: enterprise/
---


<div class="relative bg-white rounded-xl  rounded-xl shadow-md mb-16">
  <div class="mx-auto max-w-7xl lg:grid lg:grid-cols-12 lg:gap-x-8 lg:px-8">
    <div class="px-6 pb-24 pt-10 sm:pb-32 lg:col-span-7 lg:px-0 lg:pb-56 lg:pt-48 xl:col-span-6">
      <div class="mx-auto max-w-2xl lg:mx-0">

        <h1 class="leading-relaxed font-sans  mt-24 text-3xl font-bold   text-black sm:mt-10 sm:text-4xl">
          Helperbird for
          <span class=" text-pink-600">Enterprise</span>
        </h1>
        <p class="leading-relaxed font-sans  mt-6 text-lg leading-8 text-black">
          Helperbird Enterprise is designed to give organizations and schools greater control and support. With advanced features and tailored support options, it's the perfect choice for large or complex organizations that need the best possible assistive technology.
        </p>
        <p class="leading-relaxed font-sans  mt-6 text-lg leading-8 text-black">
          Upgrade to Helperbird Enterprise and experience the power of comprehensive support and enhanced capabilities.
        </p>

        <div class="mt-10 flex gap-x-6">
          <a
            href="#contactSales"
            title="Link to the help guides."
            class="btn btn-secondary shadow-md">Contact sales</a>
          <a
            href="#features"
            title="Link to the help guides."
            class="btn-base btn-outline btn border-2 border-stone-600">Features</a>
        </div>
      </div>
    </div>
    <div class="relative lg:col-span-5 lg:-mr-8 xl:absolute xl:inset-0 xl:left-1/2 xl:mr-0">
      <img
        class="aspect-[3/2] w-full bg-gray-50 object-cover lg:absolute lg:inset-0 lg:aspect-auto lg:h-full"
        src="https://images.unsplash.com/photo-1498758536662-35b82cd15e29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2102&q=80"
        alt="">
    </div>
  </div>
</div>

<div class="max-w-7xl mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:px-8">
  <h2 class="leading-relaxed font-sans  leading-relaxed font-sans  text-center text-black text-sm font-bold uppercase tracking-wide">TRUSTED BY OVER 1,000,000 FORWARD-THINKING USERS</h2>
  <div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1"><img
        alt="Micosofts windows logo - a Helperbird user"
        class="h-12"
        src="/assets/images/logo/microsoft.png"
        alt="Microsoft windows logo, with four different colors"></div>
    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1"><img
        alt="Mirage"
        class="h-12"
        src="/assets/images/logo/gusto.png"></div>
    <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1"><img
        alt="StaticKit"
        class="h-12"
        src="/assets/images/logo/neveda.png"></div>
    <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1"><img
        alt="Transistor"
        class="h-12"
        src="/assets/images/logo/school.png"></div>
    <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1"><img
        alt="Workcation"
        class="h-12"
        src="/assets/images/logo/rio-texas.png"></div>
  </div>
</div>


<div class="bg-gray-900 py-24 sm:py-32 mt-16 mb-16 rounded-lg border-2 border-stone-600" id="features">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl lg:mx-0">
      <h2 class="leading-relaxed font-sans  leading-relaxed font-sans  text-3xl font-bold   text-white sm:text-4xl">What you can do with Helperbird for Enterprise
      </h2>
      <p class="leading-relaxed font-sans  mt-6 text-lg leading-8 text-white">
        Get access to online training and resources to help your team or school be successful with Helperbird. Teams of 30 or more get online and regular training with our customer success managers to help you.


      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
        <div class="flex flex-col">
          <dt class="leading-relaxed font-sans  text-base font-semibold leading-7 text-white">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-500">
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z" />
              </svg>
            </div>
            Top-notch support


          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-white">
            <p class="leading-relaxed font-sans  flex-auto">Have a question? We’re on it. Jump the line with priority support.
            </p>
            <p class="leading-relaxed font-sans  mt-6">
              <a
                href="/support/"
                title="Helperbird support"
                class="leading-relaxed font-sans  text-base font-bold leading-6 text-blue-600 underline hover:decoration-wavy hover:underline">Learn more
                
              </a>
            </p>
          </dd>
        </div>

        <div class="flex flex-col">
          <dt class="leading-relaxed font-sans  text-base font-semibold leading-7 text-white">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-500">
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
              </svg>
            </div>
            User provisioning and deprovisioning


          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-300">
            <p class="leading-relaxed font-sans  flex-auto">Automatically provision and deprovision users in Helpebrird through your standardized SAML provider
            </p>
            <p class="leading-relaxed font-sans  mt-6">
              <a
                href="/help/"
                title="Helperbird support guide"
                class="leading-relaxed font-sans  text-base font-bold leading-6 text-blue-600 underline hover:decoration-wavy hover:underline">Learn more
                
              </a>
            </p>
          </dd>
        </div>

        <div class="flex flex-col">
          <dt class="leading-relaxed font-sans  text-base font-semibold leading-7 text-white">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-500">
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            </div>
            Custom branding
            <div class="badge badge-accent ml-2 font-bold">Coming soon</div>


          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-300">
            <p class="leading-relaxed font-sans  flex-auto">Put your logo front and center. With custom branding, you’re able to customize Helperbird with your own logo.
            </p>
            <p class="leading-relaxed font-sans  mt-6">
              <a
                href="/help/"
                title="coming soon"
                class="leading-relaxed font-sans  text-base font-bold leading-6 text-blue-600 underline hover:decoration-wavy hover:underline">Learn more
                
              </a>
            </p>
          </dd>
        </div>


        <div class="flex flex-col">
          <dt class="leading-relaxed font-sans  text-base font-semibold leading-7 text-white">
            <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-500">
              <svg
                class="h-6 w-6 text-white"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            </div>
            99.9% Uptime SLA


          </dt>
          <dd class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-300">
            <p class="leading-relaxed font-sans  flex-auto">Helperbird Enterprise gives you all the power and features available to Helperbird Pro users.

            </p>
            <p class="leading-relaxed font-sans  mt-6">
              <a
                href="/pricing/"
                title="Helperbird Pricing page"
                class="leading-relaxed font-sans  text-base font-bold leading-6 text-blue-600 underline hover:decoration-wavy hover:underline">Learn more
                
              </a>
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>


<div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8 mt-16">

  <div>
    <h1 class="leading-relaxed font-sans  mt-2 mb-2 text-3xl font-extrabold leading-8   text-gray-900 sm:text-4xl">
      Contact our sales team
    </h1>

    <div class="card bg-white shadow-md mb-8 mt-8 rounded-sm mx-auto max-w-3xl rounded-xl">

      <div class="card-body rounded-xl">

        <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">Hey there!,</p>
        <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">
          Welcome to our sales purchase order page! If you're interested in purchasing any of our products or services, please fill out the form below and one of our sales representatives will get in touch with you shortly.
        </p>
        <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">
          Once we receive your purchase order request, our team will review it and provide you with a formal quote within 24-48 hours.
        </p>
        <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">
          If you have any questions or concerns about the purchasing process, please don't hesitate to reach out to us at [insert contact information].
        </p>
        <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">
          Thank you for considering our products and services. We look forward to doing business with you!


        </p>
        <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl leading-8 text-black mb-6">
          Thank you,
        </p>


        <div class="flex items-center gap-x-6">
          <img
            class="h-12 w-12 rounded-full"
            src="https://www.helperbird.com/assets/images/staff/robert.jpeg"
            alt="" />
          <div>
            <h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl font-bold leading-8   text-black">
              Robert James Gabriel
            </h3>
            <p class="leading-relaxed font-sans  leading-relaxed font-sans  text-base font-bold leading-6 text-indigo-600">Helperbird Founder</p>
          </div>
        </div>

      </div>


    </div>
  </div>


  <div class="relative sm:py-16 lg:py-0" id="contactSales">
    <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
      <!-- Testimonial card-->
      <iframe
        alt="Main menu"
        frameborder="0"
        height="1006"
        inheight="0"
        marginwidth="0"
        loading="lazy"
        src="https://docs.google.com/forms/u/0/d/e/1FAIpQLSchfyeDdrm7JTBWpzGhw9wQC00iF7VRcBkhCssEp0QlV21SGQ/formResponse?embedded=true"
        title="Helperbird feedback fourm "
        width="100%">Loading...</iframe>
    </div>
  </div>
</div>


{% include common/metrics.html %}


{% include templates/new/marketing/reviews.html %}

{% include common/questions.html %}