---
layout: templates/chrome.html
title: Dyslexia, Accessibility & Text to speech browser extesnion
youtubeId: PfILiWebkuc
cardTitle:  Helperbird extension
description: Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Firefox!
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: extension/
---



<div>
	{% include common/hero-extension.html %} 
	{% include common/features_list.html %} 
	{% include common/features_all.html %} 
	{% include common/compare_messages.html %} 
	{% include common/metrics.html %} 
	{% include common/questions.html %} 
	{% include common/reviews.html %} 
	{% include common/cta_one.html %}
</div>