---
new: false
header: true
layout: templates/firefox.html
title: Dyslexia, Text to speech & Accessibility extension for Firefox
youtubeId: PfILiWebkuc
cardTitle:  Helperbird for Firefox
description: Over 40 features, including voice typing, dyslexia support, reading, writing, immersive reader and features like  specialized fonts,  text to speech and more for Firefox!
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: firefox/
---


<div>
  {% include common/hero-firefox.html %}
  {% include common/features_list.html %}
  {% include common/features_all.html %}
  {% include common/compare_messages.html %}
  {% include common/metrics.html %}
  {% include common/questions.html %}
  {% include common/reviews.html %}
  {% include common/cta_one.html %}

</div>