---
layout: templates/help.html
title: Video guides & tutorials | Helperbird
description: Helperbird Video guides & tutorials is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.
keywords: Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /guides/
---


<div class="relative bg-white overflow-hidden ">
	<div class="prose max-w-4xl flex-grow">

			<h1>Tutorials & video guides on how to use Helperbird</h1>
			<p class="mt-5">Master your workflow with the beginner's guide, tips & tricks.

			</p>

	</div>
</div>



<div class="relative p-16 overflow-hidden">
	<div class="relative">
		<div class="not-prose grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:grid-cols-2">
			{%- for video in videos.support -%}
				<a class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"  href="{{ video.link }}">
					<figure class="px-4 pt-4">
						<div class="border-base-content bg-base-300 rounded-lg border border-opacity-5 youtube_lazy_load" data-embed="{{ video.id }}">
							<div class="play-button"></div>
						</div>
						
					</figure> 
					<div class="card-body">
						<h2 class="card-title"> {{ video.title }} </h2> 
						<p class="text-xs opacity-60">{{ video.description }}</p>
					</div> 
				</a>
			{%- endfor -%}

		</div>
	</div>
</div>