---
new: false
layout: templates/help.html
title: Video guides & tutorials 
youtubeId: PfILiWebkuc
cardTitle:  Video guides & tutorials
description: Helperbird Video guides & tutorials is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: guides/
---


{%- for video in videos.support -%}

  <div class="aspect-w-16 aspect-h-9 mt-12 mb-12">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube-nocookie.com/embed/{{ video.id }}"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

{%- endfor -%}