---
layout: templates/base.html
title: Latest news and press about Helperbird
youtubeId: PfILiWebkuc
cardTitle:  Latest news
description: Latest news and press features of Helperbird. See what publications, reviews and more wrote about Helperbird
keywords: Dyslexia software, Reader Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: in-the-news/
---

<div>
  <div class="mx-auto max-w-4xl px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:px-8 lg:pt-24">

    <h1 class="mt-1 text-5xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-5xl">
      Press
    </h1>

    <p class="mt-5 max-w-5xl text-2xl">
      See the latest news and reports about Helperbird.
    </p>


    <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">

      {%- for article in news.articles -%}


        <div class="card border-stone-600 border-2  bg-white rounded-3xl">

          <div class="card-body">


            <h3 class="text-xl font-medium text-black mb-2">{{ article.title }}</h3>
            <p class="mt-2 text-base text-pink-600 font-semibold mb-10">
              {{ article.website }}
            </p>
            <div class="card-actions justify-end">
              <a
                class="btn-base btn btn-outline  border-stone-600 border-2"
                href="{{ article.link }}"
                target="_blank"
                rel="noreferrer"
                title="More information on feature {{article.title  }}">
                Read full story
              </a>
            </div>
          </div>
        </div>


      {%- endfor -%}

    </div>
  </div>
</div>