---
new: false
footer: true
header: true
layout: templates/base.html
title: Helperbird Pro For Free - Helperbird Trainers & Discounts
youtubeId: vwT8SAJfU3E
cardTitle: Helperbird Discounts
description: Teachers can sign up for a free copy of Helperbird Pro. Explore our resources, get expert assistance, and find solutions with the help of our dedicated Helperbird support team.
keywords:
  - Dyslexia software
  - Reading Mode for Google Chrome
  - Voice typing for chrome
  - Text to speech for chrome
  - text reader
  - Immersive Reader
  - dyslexia fonts
  - accessibility software
  - dyslexia software
  - Helperbird for Edge
  - Helperbird for Firefox
  - Helperbird for Chrome
  - Opendyslexic for Chrome
  - OpenDyslexic
url: partners/
redirect_from: [/partners/bonnie-shaver-troup/, /partners/adriana-garcia/, /partners/irene-hughes/, /partners/nova-proton/,/partners/paul-spencer/,partners/sascharoos/,partners/sprialisconsulting/]
---




<div class="rounded-2xl text-black py-24 sm:py-32 sm:py-16 lg:px-4 mb-4">
  <div class="mx-auto max-w-4xl text-center">
    <h1
      class="leading-relaxed font-sans text-4xl font-semibold text-black sm:text-6xl"
    >
    Educational Tech Trainers and Teachers
    <br>
    <b>
    Get Helperbird Pro for Free!
    </b>


    </h1>
    <p class="leading-relaxed font-sans mt-8 text-2xl text-black">
      Sign up today for free access to Helperbird Pro, plus some great swag and goodies—no fees, no catches. Just fill out the form below, and we’ll review your details and get you started quickly.







    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <button onclick="download_modal.showModal()" class="btn btn-lg btn-secondary shadow-md" aria-label="Download Helperbird" title="Download Helperbird">
        Download
    </button>

      <a href="#apply" class="btn btn-secondary btn-lg shadow-md" title="Join our team and help others by becoming a Helperbird trainer">Get the Discount</a>

    </div>


  </div>
</div>






<!--- contact --->



<section class="relative mt-16 mb-16 " id="apply">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="relative px-6 pb-20 pt-24  card card-compact  shadow-md rounded-xl bg-base-100 lg:px-8 ">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
        <h2 class="leading-relaxed font-sans text-3xl font-bold text-black">Apply to be a Helperbird Trainer</h2>
        <p class="leading-relaxed font-sans mt-6 text-lg text-black">
          Join Helperbird as a Trainer! Fill out your details, and we'll get you set up quickly—no hidden catches, no credit card needed. Just complete the form below, and we'll be in touch soon.
        </p>
      
        <h3 class="leading-relaxed font-sans text-2xl font-semibold text-black mt-8 mb-8">Requirements</h3>
      
        <h4 class="leading-relaxed font-sans text-xl font-semibold text-black mt-4">Use your work email address</h4>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          We need to verify your email address to confirm that you are a teacher or trainer.
        </p>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          <b>This email will also be used to set up your Helperbird Pro account.</b>
        </p>
      
        <h4 class="leading-relaxed font-sans text-xl font-semibold text-black mt-8">Submit a website or social link</h4>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          If you don't have a work email, please provide a link to your Twitter, professional website, or LinkedIn page for verification.
        </p>
      
        <h4 class="leading-relaxed font-sans text-xl font-semibold text-black mt-8">Love Free Swag? Share Your Address! (Totally Optional)</h4>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          We'd love to send you some Helperbird swag! If you’re comfortable, please provide your address below.
        </p>
        <p class="leading-relaxed font-sans mt-2 text-lg text-black">
          Feel free to leave it blank if you prefer—it's completely optional. Your comfort and privacy are our top priority.
        </p>
      </div>
      
    </div>
    <div class="px-6 pb-12 pt-12 sm:pb-12 lg:px-8 lg:py-12">
      <div class="mx-auto max-w-xl lg:mr-0 lg:max-w-lg">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6">
   <iframe
    frameborder="0"
    height="1006"
    marginwidth="0"
    loading="lazy"
    src="https://docs.google.com/forms/d/e/1FAIpQLSfewfysLVGxbL4EgQv4VrkwsACau2Nzw4XdQkGyM60ZOfzGBA/viewform?embedded=true"
    title="Helperbird feedback form"
    width="100%"
>Loading...</iframe>
        </div>
      </div>
    </div>
  </div>
</section>



