---
new: false
header: true
layout: templates/pricing.html
title: Helperbird Pricing
youtubeId: PfILiWebkuc
cardTitle:  Pricing plans
description: Flexible and affordable options to suit your needs - Helperbird offers a range of subscription pricing plans and a 3-day free trial for every solution, allowing you to choose the best fit for your current needs and upgrade at your convenience.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
url: pricing/
---


<!-- Pricing section -->
<div class="mx-auto mt-11 max-w-7xl px-6 sm:mt-12 lg:px-8">
  <div class="mx-auto max-w-4xl text-center header__helperbird_single__tagline">

    <h1 class="font-bold tracking-tight text-white text-xl md:text-6xl">Pricing plans for everyone</h1>
  </div>

  <div class="mx-auto max-w-4xl text-center header__helperbird_single__tagline">

  <a class="font-bold tracking-tight text-white text-xl" :href="priceDetails.studentLink + '?prefilled_promo_code=helperbird33'" target="_blank">Students click here to get Helperbird for <span>$40</span> a year</a>
</div>

  <p class="mt-10 text-2xl leading-8 text-black mx-auto text-center">
    Two simple plans, each with a 3-day free trial.

    <br/>
    Need a district or enteprise quote or have
    <a href="/contact" class="text-blue-600 underline  decoration-blue-500 hover:underline hover:decoration-blue-500 hover:decoration-wavy">questions?</a>
  </p>

  <div class="mt-12 flex justify-center">
    <fieldset class="grid grid-cols-2 gap-x-1 rounded-full p-1 text-center text-base font-bold leading-5 border-stone-600 border-2 bg-white">
      <legend class="sr-only">Payment frequency</legend>

      <button
        class="cursor-pointer rounded-full px-2.5 py-1"
        type="button"
        @click="switchType"
        v-bind:class="!isYearly ? 'bg-indigo-600 text-white' : 'text-black-500'">

        <span>Monthly</span>
      </button>


      <div class="tooltip tooltip-open" data-tip="Save 20%">
      <button
        class="cursor-pointer rounded-full px-2.5 py-1"
        type="button"
        @click="switchType"
        v-bind:class="isYearly ? 'bg-indigo-600 text-white' : 'text-black-500'">

        <span>Annually</span>
      </button>
      </div>
    </fieldset>
  </div>

  <div class="mt-6 flex justify-center">
    <select
      id="currency"
      name="currency"
      v-model="currency"
      class="select select-base w-full max-w-xs border-2 border-stone-600 rounded-3xl">
      <option class="bg-gray-900" value="aud">Australia (AUD) 🇦🇺</option>
      <option
        class="bg-gray-900"
        value="usd"
        selected="selected">
        United States (USD) 🇺🇸
      </option>
      <option class="bg-gray-900" value="cad">Canada (CAD) 🇨🇦</option>
      <option class="bg-gray-900" value="euro">Europe (EUR) 🇪🇺</option>
      <option class="bg-gray-900" value="gbp">United Kingdom (GBP) 🇬🇧</option>
      <option class="bg-gray-900" value="nz">New Zealand (NZ) 🇳🇿</option>
    </select>
  </div>

</div>


<div class="isolate mx-auto mt-20 grid max-w-5xl grid-cols-1 gap-8   lg:grid-cols-3">
  <div class="rounded-xl   card border-stone-600 border-2 bg-white">
    <div class="card-body block">
      <div class="flex items-center justify-between gap-x-4">
        <h3 class="text-xl font-bold leading-8 text-black 900">🦉 Free
        </h3>
      </div>
      <p class="mt-4 text-base leading-6 text-black 600">Our free features.</p>


      <p class="mt-6 flex items-baseline gap-x-1" v-bind:style="!isYearly ?'display: block !important;' : 'display: none !important;'">
        <!-- Price, update based on frequency toggle state -->
        <span class="text-4xl font-bold tracking-tight text-black 900">
          <span v-html="priceDetails.currency">$</span>
          0.00
        </span>
        <!-- Payment frequency, update based on frequency toggle state -->
        <span class="text-sm font-bold leading-6 text-black 600">/monthly</span>
      </p>


      <p class="mt-6 flex items-baseline gap-x-1 hidden" v-bind:style="isYearly ?'display: block !important;' : 'display: none !important;'">
        <!-- Price, update based on frequency toggle state -->
        <span class="text-4xl font-bold tracking-tight text-black 900">
          <span v-html="priceDetails.currency">$</span>
          0.00
        </span>
        <!-- Payment frequency, update based on frequency toggle state -->
        <span class="text-sm font-bold leading-6 text-black 600">/yearly</span>
      </p>


      <label for="my-modal-6" class="mt-6 btn-wide  btn-base btn btn-secondary  btn-outline">
        <span class="sr-only">Try for free</span>
        Get the app
      </label>

      <h3 class="text-base font-bold text-black mt-8 mb-2">What's included</h3>
      <ul role="list" class="space-y-3 text-base leading-6 text-black 600 xl:mt-10">
        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Basic accessibility features.</span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Basic Text to speech features.
          </span>
        </li>
        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Specialized fonts
          </span>
        </li>
        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Color blindness features
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Immersive reader by Microsoft
          </span>
        </li>
      </ul>

    </div>
  </div>

  <div class="rounded-xl   card border-stone-600 border-2 bg-white">
    <div class="card-body block">
      <div class="flex items-center justify-between gap-x-4">
        <h3 class="text-lg font-bold leading-8 text-indigo-600">
          <span class="mr-2">💎
          </span>
          Pro
          <div class="badge badge-md badge-error ml-4 border-2 border-rose-600 bg-rose-500 text-white">
            Most Popular
          </div>
        </h3>


      </div>
      <p class="mt-4 text-base leading-6 text-black 600">Best for individuals.</p>

      </p>
      <p class="mt-6 flex items-baseline gap-x-1" v-bind:style="!isYearly ?'display: block !important;' : 'display: none !important;'">
        <!-- Price, update based on frequency toggle state -->
        <span class="text-4xl font-bold tracking-tight text-black 900">
          <span v-html="priceDetails.currency">$</span>
          <span v-html="priceDetails.monthly.pro - (priceDetails.monthly.pro / 3)">4.84</span>
        </span>
        <!-- Payment frequency, update based on frequency toggle state -->
        <span class="text-sm font-bold leading-6 text-black 600">/monthly</span>
      </p>


      <p class="mt-6 flex items-baseline gap-x-1 hidden" v-bind:style="isYearly ?'display: block !important;' : 'display: none !important;'">
        <!-- Price, update based on frequency toggle state -->
        <span class="text-4xl font-bold tracking-tight text-black 900">
          <span v-html="priceDetails.currency">$</span>
          <span v-html="priceDetails.yearly.pro - (priceDetails.yearly.pro / 3)">40.00</span>
        </span>
        <!-- Payment frequency, update based on frequency toggle state -->
        <span class="text-sm font-bold leading-6 text-black 600">/yearly</span>
      </p>

      <a
        href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
        v-bind:style="isYearly ?'display: flex !important;' : 'display: none !important;'"
        :href="priceDetails.yearly.proLink + '?prefilled_promo_code=helperbird33'"
        class="mt-6 btn-wide  btn-base btn btn-primary hidden">
        <span class="sr-only">Try for free</span>
        Start Free trial
      </a>


      <a
        href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
        v-bind:style="!isYearly ?'display: flex !important;' : 'display: none !important;'"
        :href="priceDetails.monthly.proLink + '?prefilled_promo_code=helperbird33'"
        class="mt-6 btn-wide  btn-base btn btn-primary">
        <span class="sr-only">Try for free</span>
        Start Free trial
      </a>


      <h3 class="text-base font-bold text-black mt-8 mb-2">What's included</h3>

      <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-black 600 xl:mt-10">
        <li class="flex gap-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Advanced features
          </span>
        </li>
        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Advance Speech features
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Annotation tools
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Writing tools
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Reading tools
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Research tools
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Advanced dyslexia support
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Translation tools
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Advance OCR tools
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Advance reading tools
          </span>
        </li>
        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Natural voices
          </span>
        </li>

     
        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Premium support
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="rounded-xl   card border-stone-600 border-2 bg-white">
    <div class="card-body block">
      <div class="flex items-center justify-between gap-x-4">
        <h3 class="text-lg font-bold leading-8 text-black 900">
          <span class="mr-2">🏠</span>
          Pro Unlimited</h3>
      </div>
      <p class="mt-4 text-base leading-6 text-black 600">Best for schools & businesses.</p>


      <p class="mt-6 flex items-baseline gap-x-1" v-bind:style="!isYearly ?'display: block !important;' : 'display: none !important;'">
        <!-- Price, update based on frequency toggle state -->
        <span class="text-4xl font-bold tracking-tight text-black 900">
          <span v-html="priceDetails.currency">$</span>
          <span v-html="priceDetails.monthly.unlimited">99.99</span>
        </span>
        <!-- Payment frequency, update based on frequency toggle state -->
        <span class="text-sm font-bold leading-6 text-black 600">/monthly</span>
      </p>


      <p class="mt-6 flex items-baseline gap-x-1 hidden" v-bind:style="isYearly ?'display: block !important;' : 'display: none !important;'">
        <!-- Price, update based on frequency toggle state -->
        <span class="text-4xl font-bold tracking-tight text-black 900">
          <span v-html="priceDetails.currency">$</span>
          <span v-html="priceDetails.yearly.unlimited">1,500</span>
        </span>
        <!-- Payment frequency, update based on frequency toggle state -->
        <span class="text-sm font-bold leading-6 text-black 600">/yearly</span>
      </p>

      <a
        href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
        v-bind:style="!isYearly ?'display: flex !important;' : 'display: none !important;'"
        :href="priceDetails.monthly.unlimitedLink "
        class="btn btn-primary btn-wide mt-6 ">Start Free Trial</a>

      <a
        href="https://buy.stripe.com/4gw7t9gtK6oc98I8wJ"
        v-bind:style="isYearly ?'display: flex !important;' : 'display: none !important;'"
        :href="priceDetails.yearly.unlimitedLink"
        class="btn btn-primary btn-wide mt-6 hidden ">Start Free trial</a>


      <h3 class="text-base font-bold text-black mt-8 mb-2">What's included</h3>

      <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-black 600 xl:mt-10">
        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">All features
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Unlimited users (per school/business)
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Personal success manager.
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Admin panel
            <div class="badge badge-accent ml-2 font-bold">Coming soon</div>
          </span>
        </li>
        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Exam mode
            <div class="badge badge-accent ml-2 font-bold">Coming soon</div>
          </span>
        </li>

        <li class="flex space-x-3">
          <!-- Heroicon name: mini/check -->
          <svg
            class="h-5 w-5 flex-shrink-0 text-green-500"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd" />
          </svg>
          <span class="text-base text-black">Premium support
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>



    <!-- Testimonial section -->
    <div class="mx-auto mt-16  max-w-7xl sm:mt-56 sm:px-6 lg:px-8">
      <div class="relative overflow-hidden bg-gray-900 px-6 py-20 shadow-xl rounded-3xl px-10 sm:py-24 md:px-12 lg:px-20">
        <img class="absolute inset-0 h-full w-full object-cover brightness-150 saturate-0" src="https://images.unsplash.com/photo-1601381718415-a05fb0a261f3?ixid=MXwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8ODl8fHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1216&q=80" alt="">

        <div class="absolute inset-0 bg-gray-900/90 mix-blend-multiply"></div>
        <div class="absolute -left-80 -top-56 transform-gpu blur-3xl" aria-hidden="true">
          <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[#ff4694] to-[#776fff] opacity-[0.45]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="hidden md:absolute md:bottom-16 md:left-[50rem] md:block md:transform-gpu md:blur-3xl" aria-hidden="true">
          <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-r from-[#ff4694] to-[#776fff] opacity-25" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="relative mx-auto max-w-2xl lg:mx-0">
         
          <figure>
            <blockquote class="mt-6 text-lg font-semibold text-white sm:text-xl sm:leading-8">
              <p>“It's insane what you can do with Helperbird. I felt like it was a text editor for every single website. I have trouble pronouncing some words, so I appreciated the cute menu of tools that actually voices a paragraph in a pleasant female voice. You can also translate the text by automatically pasting it in Google Translate, look up words in the Dictionary and even count the words and characters..”</p>
            </blockquote>
            <figcaption class="mt-6 text-base text-white">
              <div class="font-semibold">Cherlyn C.</div>
              <div class="mt-1">Helperbird Pro user</div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

{% include common/pricing/pricing_table_two.html %}



{% include common/questions.html %}