---
layout: templates/pricing.html
title: Helperbird Pricing
youtubeId: PfILiWebkuc
cardTitle:  Pricing plans
description: Helperbird offers several subscription pricing options and a 3-day free trial for every solution, so you can choose what works best now and upgrade later.
keywords: Dyslexia software, Reader Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: pricing/
---




<div class="bg-gray-50"  style="background-color: rgb(246, 245, 231);">
  



	{% include common/pricing/pricing_header_three.html %} 
	{% include common/pricing/pricing_table_two.html %} 

	{% include common/pricing_upsell.html %} 
	{% include common/questions.html %} 
	{% include common/reviews.html %} 



  </div>
  