---
layout: templates/pricing.html
title: Helperbird Pricing
youtubeId: PfILiWebkuc
cardTitle:  Pricing plans
description: Flexible and affordable options to suit your needs - Helperbird offers a range of subscription pricing plans and a 3-day free trial for every solution, allowing you to choose the best fit for your current needs and upgrade at your convenience.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: pricing/
---


<div class="bg-gray-50" style="background-color: rgb(246, 245, 231);">


  {% include common/pricing/pricing_header_three.html %}
  {% include common/pricing/pricing_table_two.html %}


  {% include common/questions.html %}
  {% include common/reviews.html %}


</div>