---
eleventyExcludeFromCollections: true
permalink: /sitemap.xml
title: Video guides & tutorials
youtubeId: vwT8SAJfU3E
cardTitle:  Video guides & tutorials
description: Helperbird Video guides & tutorials is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software, Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,OpenDyslexic
url: guides/
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% if collections.all.length > 0 %}
    {% for item in collections.all %}
      <url>
        <loc>{{ site.url }}{{ item.url }}</loc>
        <lastmod>{{ item.date | date("yyyy-MM-dd") }}</lastmod>
        <changefreq>{{ item.data.sitemapChangefreq | default("monthly") }}</changefreq>
        <priority>{{ item.data.sitemapPriority | default(0.8) }}</priority>
      </url>
    {% endfor %}
  {% endif %}
</urlset>

