---

new: true
footer: true
header: true
layout: templates/base.html
title: Get Help from the Helperbird Support Team
youtubeId: vwT8SAJfU3E
cardTitle: Helperbird Support
description: Get expert assistance from the Helperbird support team. We are here to answer your questions and provide guidance to help you make the most of our extension's features.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for Chrome, Text to speech for Chrome, text reader, Immersive Reader, dyslexia fonts, accessibility software, Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, OpenDyslexic for Chrome, OpenDyslexic
url: /support/

---


<div class="px-6 py-20 sm:py-16 lg:px-4 mb-4">
  <div class="mx-auto max-w-4xl text-center">
    <h1 class="leading-relaxed font-sans text-4xl font-bold text-black sm:text-6xl">
      Friendly People, Ready to Help
    </h1>
    <p class="leading-relaxed font-sans mt-6 text-2xl text-black">
      If you have questions about <a href="/sales/" class="text-bold link link-hover text-blue-500 hover:text-blue-700" title="Contact our sales team">Sales</a>, need help as a current customer, or have any other questions, reach out to us, and we'll respond within <strong>54 minutes or less</strong>.
      <br><br>
      Check out our <a href="/tutorials/" class="text-bold llink link-hover text-blue-500 hover:text-blue-700" title="Watch our tutorials">Tutorials</a>, print our 	<a
      href="https://drive.google.com/drive/folders/1nT_zXcMMq6JgKaISvrKudBdKzeoJgz2l?usp=drive_link"
      target="_blank"
      class="text-bold link link-hover text-blue-500 hover:text-blue-700"
      title="Access Printable detailed guides and tutorials for using Helperbird"
      >Printable  Guides</a
    >, read the <a href="/help/" class="text-bold link link-hover text-blue-500 hover:text-blue-700" title="Read our help guides">Help Guides</a>, or send us a <a href="/contact/" class="text-bold link link-hover text-blue-500 hover:text-blue-700" title="Send us a message">Message</a> for assistance.
    </p>
  </div>
</div>





{% include templates/new/sections/contact-single.html %}
{% include templates/new/sections/in-touch.html %}



{% include common/questions.html %}