---
new: true
header: true
layout: templates/base.html
title: Get help from the Helperbird support team
youtubeId: PfILiWebkuc
cardTitle: Helperbird Support
description: Get expert assistance from the Helperbird support team - available to answer your questions and provide guidance to help you fully utilize the features of our extension.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: /support/
---



    <div class=" px-6 lg:px-8 mb-12">
      <div class="mx-auto max-w-3xl pt-8 pb-8">
        <div>
          <div class="hidden sm:mb-8 sm:flex sm:justify-center">
            <div class="relative overflow-hidden rounded-full py-1.5 px-4 text-sm leading-6 ring-1 border-2 border-stone-600">
              <span class="text-black text-base">
               See what the Helperbird team is  <a href="https://sharing.clickup.com/l/12ce9x-80/list" target="_blank" class="font-semibold text-blue-600 no-underline decoration-pink-500 hover:underline hover:decoration-wavy"><span class="absolute inset-0" aria-hidden="true"></span>working on. <span aria-hidden="true">&rarr;</span></a>
              </span>
            </div>
          </div>
          <div>
            <h1 class="text-5xl font-extrabold text-center">Friendly people, waiting to help.</h1>
            <p class="mt-6 text-2xl leading-8 text-black text-center">
				
			Experience top-notch support from our dedicated team of experts.
			<br> <b class="text-pink-500">Always a human, never a bot.</b> 
			
		
			 <br> 
			 Reach out to us and you'll receive a response in  <b>34 minutes or less</b>, guaranteed.
			</p>
            <div class="mt-8 flex gap-x-4 sm:justify-center">
          

			  <button
						role="button"
						class="group btn btn-secondary inline-flex items-center justify-center border-2 border-stone-600 py-2 px-4"
						@click="handleModal"
					>
						Download Now</button
					>
              <a href="/help/" title="Visit Helperbirds help guide" class="btn btn-link btn-outline  border-2 border-stone-600">
                Help guides
                <span class="text-gray-400" aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
      
        </div>
      </div>
    </div>

	<section aria-labelledby="contact-heading" class="max-w-7xl mx-auto  z-10 pb-16 px-4 sm:px-6 lg:px-8">
		<h2 class="sr-only" id="contact-heading">Contact us</h2>
		<div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">


		<div class="card border-stone-600 border-2  bg-white rounded-3xl">

                          <div class="card-body">
                            <div class=" btn btn-circle btn-success no-animation text-white">
                            	<svg aria-hidden="true" class="h-6 w-6 text-white" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
                            </div>

                            <h3 class="text-xl font-medium text-black mb-2">Contact  Sales</h3>
                            <p class="mt-2 text-base text-black mb-10">Need to contact sales or have a question? Click below.</p>
                            <div class="card-actions justify-end">
                              <a
                                class="btn-base btn  border-stone-600 border-2"
                                href="/sales/"
                                title="Contact the Helperbird sales team">
                                Contact sales
                              </a>
                            </div>
                          </div>
                        </div>






						<div class="card border-stone-600 border-2  bg-white rounded-3xl">

						<div class="card-body">
						  <div class=" btn btn-circle btn-error no-animation text-white">
							<svg aria-hidden="true" class="h-6 w-6 text-white" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
						  </div>

						  <h3 class="text-xl font-medium text-black mb-2">Technical Support</h3>
						  <p class="mt-2 text-base text-black mb-10">Always a human, never a bot. The hands-down, sharpest, and friendliest support team in the ed-tech world.</p>
						  <div class="card-actions justify-end">
							<a
							  class="btn-base btn  border-stone-600 border-2"
							  href="/contact/"
							  title="Contact the Helperbird sales team">
							  Contact us
							</a>
						  </div>
						</div>
					  </div>




					  <div class="card border-stone-600 border-2  bg-white rounded-3xl">

					  <div class="card-body">
						<div class=" btn btn-circle btn-info no-animation text-white">
							<svg aria-hidden="true" class="h-6 w-6 text-white" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
							<path d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
						</svg>
						</div>

						<h3 class="text-xl font-medium text-black mb-2">Help Guides</h3>
						<p class="mt-2 text-base text-black mb-10">Step by step guides on every feature.</p>
						<div class="card-actions justify-end">
						  <a
							class="btn-base btn  border-stone-600 border-2"
							href="/help/"
							title="Contact the Helperbird sales team">
							Visit help guide
						  </a>
						</div>
					  </div>
					</div>


		
		</div>

	</section> 



  <div class="bg-white card border-stone-600 border-2 py-24 sm:py-32"  id="touch">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
	  <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
		<div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
		  <div>
			<h2 class="text-3xl font-bold tracking-tight text-black">Get in touch</h2>
			<p class="mt-4 leading-7 text-black">Get in touch with one of our departments We have an average response time of 15 minutes.</p>
		  </div>
		  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
			<div class="rounded-2xl bg-gray-50 p-10">
			  <h3 class="text-base font-semibold leading-7 text-black ">Collaborate</h3>
			  <dl class="mt-3 space-y-1 text-sm leading-6 text-black ">
				<div>
				  <dt class="sr-only">Email</dt>
				  <dd><a class="font-semibold text-blue-600" href="mailto:robert.gabriel@helperbird.com">robert.gabriel@helperbird.com</a></dd>
				</div>
				<div class="mt-1">
				  <dt class="sr-only">Phone number</dt>
				  <dd>+1 (501) 293 6819</dd>
				</div>
			  </dl>
			</div>
			<div class="rounded-2xl bg-gray-50 p-10">
			  <h3 class="text-base font-semibold leading-7 text-black ">Press</h3>
			  <dl class="mt-3 space-y-1 text-sm leading-6 text-black ">
				<div>
				  <dt class="sr-only">Email</dt>
				  <dd><a class="font-semibold text-blue-600" href="mailto:press@helperbird.com">press@helperbird.com</a></dd>
				</div>
				<div class="mt-1">
				  <dt class="sr-only">Phone number</dt>
				  <dd>+1 (501) 293 6819</dd>
				</div>
			  </dl>
			</div>
			<div class="rounded-2xl bg-gray-50 p-10">
			  <h3 class="text-base font-semibold leading-7 text-black ">Join our team</h3>
			  <dl class="mt-3 space-y-1 text-sm leading-6 text-black ">
				<div>
				  <dt class="sr-only">Email</dt>
				  <dd><a class="font-semibold text-blue-600" href="mailto:careers@helperbird.com">careers@helperbird.com</a></dd>
				</div>
				<div class="mt-1">
				  <dt class="sr-only">Phone number</dt>
				  <dd>+1 (501) 293 6819</dd>
				</div>
			  </dl>
			</div>
			<div class="rounded-2xl bg-gray-50 p-10">
			  <h3 class="text-base font-semibold leading-7 text-black ">Need support?</h3>
			  <dl class="mt-3 space-y-1 text-sm leading-6 text-black ">
				<div>
				  <dt class="sr-only">Email</dt>
				  <dd><a class="font-semibold text-blue-600" href="mailto:support@helperbird.com">support@helperbird.com</a></dd>
				</div>
				<div class="mt-1">
				  <dt class="sr-only">Phone number</dt>
				  <dd>+1 (501) 293 6819</dd>
				</div>
			  </dl>
			</div>
		  </div>
		</div>
  
	  </div>
	</div>
  </div>


  <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:items-start lg:gap-24 lg:px-8">


  <div>
	<h1 class="mt-2 mb-2 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-4xl">
	  Contact Helperbird
	</h1>

	<div class="card bg-white border-stone-600 border-2 mb-8 mt-8 rounded-sm mx-auto max-w-3xl rounded-xl">

	  <div class="card-body rounded-xl">

		<p class="text-xl leading-8 text-black mb-6">Hey there!,</p>
		<p class="text-xl leading-8 text-black mb-6">
		  Whether you're reaching out to us for support or have questions about marketing and partnerships, we're here to help.


		</p>
		<p class="text-xl leading-8 text-black mb-6">
		  Our dedicated support team is ready to assist you with any technical issues or questions you may have. And if you're interested in learning more about partnering with Helperbird or have questions related to marketing, our team is happy to chat with you!

		</p>
		<p class="text-xl leading-8 text-black mb-6">
		  We value your feedback and are committed to delivering the best possible experience to our users. So don't hesitate to reach out if you need anything.

		</p>


		<p class="text-xl leading-8 text-black mb-6">Thank you,</p>

		<div class="flex items-center gap-x-6">
		  <img
			class="h-12 w-12 rounded-full"
			src="https://www.helperbird.com/assets/images/staff/robert.jpeg"
			alt="" />
		  <div>
			<h3 class="text-xl font-bold leading-8 tracking-tight text-black">
			  Robert James Gabriel
			</h3>
			<p class="text-base font-bold leading-6 text-indigo-600">Helperbird Founder</p>
		  </div>
		</div>

	  </div>


	</div>
  </div>


  <div class="relative sm:py-16 lg:py-0" id="contact">
	<div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:px-0 lg:py-20">
	  <!-- Testimonial card-->
	  <iframe
		alt="Main menu"
		frameborder="0"
		height="1006"
		inheight="0"
		marginwidth="0"
		loading="lazy"
		src="https://docs.google.com/forms/d/e/1FAIpQLSfsr-P-xEmKXnjAF-4ih2umpi92WtDltocYG1GV_kqh5Br6tA/viewform?embedded=true"
		title="Helperbird feedback fourm "
		width="100%">Loading...</iframe>
	</div>
  </div>
</div>




  {% include common/questions.html %} 
	













