---
new: true
header: false
layout: templates/base.html
title: Welcome to Helperbird 👋
youtubeId: vwT8SAJfU3E
cardTitle:  Welcome to Helperbird 👋
description: Learn how Helperbird works with documentation, suggested ways to use Helperbird, and videos to help your students and yourself get the most out of Helperbird.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic


url: welcome/
---


<div class="px-6 py-24 sm:py-16 lg:px-8 mb-4">
  <div class="mx-auto max-w-3xl text-center">

    <h2 class="leading-relaxed font-sans   text-4xl font-bold   text-black sm:text-6xl">
      Welcome to Helperbird  👋
    </h2>

    <p class="leading-relaxed font-sans  mt-6 text-2xl leading-8 text-black">
      We recommend watching the video below.
    </p>


    <p class="leading-relaxed font-sans  mt-6 text-2xl leading-8 text-black">
      Check out our
      <a href="/help/" class="leading-relaxed font-sans text-blue-600" title="Browse Helperbird Help Guides">help guides</a>

      and
      <a href="/pricing" class="leading-relaxed font-sans text-blue-600" title="View Pricing for Helperbird Pro">Helperbird Pro</a>
      .
    </p>

    <p class="leading-relaxed font-sans  mt-4 text-2xl leading-8 text-black font-black">
      You will need to refresh any tabs you had open before installing Helperbird.
    </p>


    <div>
      <svg
        xmlns="http://www.w3.org/svg/2000"
        viewBox="-10 -30 200 200"
        class="arrow-spin">
        <defs>
          <filter
            id="chalk"
            height="2"
            width="1.6"
            color-interpolation-filters="sRGB"
            y="-0.5"
            x="-0.3"
            filterUnits="objectBoundingBox">
            <feTurbulence
              baseFrequency="0.9"
              seed="115"
              result="result1"
              numOctaves="2"
              type="turbulence" />
            <feDisplacementMap
              scale="3"
              yChannelSelector="G"
              in2="result1"
              xChannelSelector="R"
              in="SourceGraphic" />
          </filter>
        </defs>
        <path
          filter="url(#chalk)"
          d="M 20,40 q 70,-10 100,50 m 5,5 l 2,-18 m -3,19 l -20, -5"
          fill="none"
          stroke="red"
          stroke-width="3.5"
          stroke-linecap="round" />
      </svg>
    </div>


    <div class="card bg-white w-max mx-auto mb-10 shadow-md ">
      <div class="card-body">
        <iframe
          width="600"
          height="400"
          class="mx-auto"
          src="https://www.youtube.com/embed/vwT8SAJfU3E"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>


<div class="max-w-4xl mx-auto">


  <div class="bg-white card max-w-4xl mx-auto mt-16 shadow-md ">
    <div class="py-12 px-4 sm:py-16 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto divide-y-2 divide-gray-200">
        <h2 class="leading-relaxed font-sans   text-3xl font-extrabold text-black sm:text-4xl">
          Helpful tips to get started
        </h2>
        <dl class="mt-6 space-y-6 divide-y divide-gray-200">
          <div class="pt-6">
            <dt class="leading-relaxed font-sans  text-lg">
              <!-- Expand/collapse question button -->
              <div
                class="leading-relaxed font-sans  text-left w-full flex justify-between items-start text-gray-400"
                aria-controls="faq-0"
                aria-expanded="false">
                <span class="font-medium text-black">Login to Helperbird

                </span>
                <span class="ml-6 h-7 flex items-center">
                  <svg
                    class="rotate-0 h-6 w-6 transform"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7" />
                  </svg>
                </span>
              </div>
            </dt>
            <dd class="mt-2 pr-12" id="faq-0">
              <p class="leading-relaxed font-sans   text-base text-black font-semibold">
                Although it is optional, we recommend that everyone logins into Helperbird, as this grants access to Helperbird Pro and saves your settings across browsers

              </p>
            </dd>
          </div>

          <div class="pt-6">
            <dt class="leading-relaxed font-sans  text-lg">
              <!-- Expand/collapse question button -->
              <div
                class="leading-relaxed font-sans  text-left w-full flex justify-between items-start text-gray-400"
                aria-controls="faq-0"
                aria-expanded="false">
                <span class="font-medium text-black">Discover our help guides


                </span>

              </div>
            </dt>
            <dd class="mt-2 pr-12" id="faq-0">
              <p class="leading-relaxed font-sans   text-base text-black font-semibold">
                We take pride in making Helperbird user-friendly and accessible. We encourage everyone to check out our help guides, which contain valuable tips and information on how to use Helperbird effectively.

              </p>
            </dd>
          </div>

          <div class="pt-6">
            <dt class="leading-relaxed font-sans  text-lg">
              <!-- Expand/collapse question button -->
              <div
                class="leading-relaxed font-sans  text-left w-full flex justify-between items-start text-gray-400"
                aria-controls="faq-0"
                aria-expanded="false">
                <span class="font-medium text-black">Turn on the highlight menu


                </span>

              </div>
            </dt>
            <dd class="mt-2 pr-12" id="faq-0">
              <p class="leading-relaxed font-sans   text-base text-black font-semibold">
                Enable the 'highlight menu' option to quickly access our features by highlighting text. We recommend this for everyone.

              </p>
            </dd>
          </div>


          <div class="pt-6">
            <dt class="leading-relaxed font-sans  text-lg">
              <!-- Expand/collapse question button -->
              <div
                class="leading-relaxed font-sans  text-left w-full flex justify-between items-start text-gray-400"
                aria-controls="faq-0"
                aria-expanded="false">
                <span class="font-medium text-black">Discover Helperbird Pro


                </span>


              </div>
            </dt>
            <dd class="mt-2 pr-12" id="faq-0">
              <p class="leading-relaxed font-sans   text-base text-black font-semibold">
                Get full access to all Helperbird's features, including OCR, text-to-speech, and more, for just $40 per year with Helperbird Pro. We recommend this for everyone.

              </p>
            </dd>
          </div>

        </dl>
      </div>
    </div>
  </div>


</div>