---
new: true
header: false
layout: templates/base.html
title: Welcome to Helperbird 👋
youtubeId: vwT8SAJfU3E
cardTitle: Welcome to Helperbird 👋
description: Learn how Helperbird works with documentation, suggested ways to use Helperbird, and videos to help your students and yourself get the most out of Helperbird.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for chrome, text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software, Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome, OpenDyslexic


url: welcome/
---


<div class="px-6 py-20 sm:py-16 lg:px-4 mb-4">
  <div class="mx-auto max-w-4xl text-center">
    <h1 class=" text-4xl font-bold text-black sm:text-6xl">Welcome to Helperbird 👋</h1>
    <p class=" mt-6 text-2xl text-black">
      We recommend watching the video below.
    </p>
    <p class=" mt-2 text-2xl text-black">
      Check out our
      <a href="/help/" class=" text-blue-600" title="Browse Helperbird Help Guides">help
        guides</a>
      and
      <a href="/pricing" class=" text-blue-600"
        title="View Pricing for Helperbird Pro">Helperbird Pro</a>.
    </p>
    <p class=" mt-2 text-2xl text-black">
      You will need to refresh any tabs you had open before installing Helperbird.
    </p>

    <div class="mx-auto w-min mt-8">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="h-16 w-16 mb-4" fill="red">
        <path
          d="M480-200 240-440l56-56 184 183 184-183 56 56-240 240Zm0-240L240-680l56-56 184 183 184-183 56 56-240 240Z" />
      </svg>

    </div>
  </div>
</div>




<div class="mx-auto max-w-3xl text-center mt-8 mb-12">
  <div class="card bg-white w-full mx-auto mb-10 shadow-md w-min">
    <div class="card-body">
      <iframe 
        width="600" 
        height="400" 
        class="mx-auto" 
        src="https://www.youtube.com/embed/vwT8SAJfU3E" 
        title="Welcome to Helperbird - Introduction Video" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>






<div class="max-w-3xl mx-auto mt-12">
  <div class="bg-white card max-w-4xl mx-auto mt-16 shadow-md">
    <div class="py-12 px-4 sm:py-16 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto divide-y-2 divide-gray-200">
        <h2 class=" text-3xl font-extrabold text-black sm:text-4xl">
          Helpful Tips to Get Started
        </h2>
        <dl class="mt-6 space-y-6">
          <div class="pt-6">
            <dt >
              <div class="text-left w-full flex justify-between items-start " aria-controls="faq-0" aria-expanded="false">
                <span class="font-medium text-black text-2xl">Login to Helperbird</span>
             
              </div>
            </dt>
            <dd class="mt-2 pr-12" id="faq-0">
              <p class=" text-base text-black font-semibold">
                Logging into Helperbird is optional but highly recommended. It grants access to Helperbird Pro and saves your settings across browsers.
              </p>
            </dd>
          </div>

          <div class="pt-6">
            <dt >
              <div class="text-left w-full flex justify-between items-start " aria-controls="faq-1" aria-expanded="false">
                <span class="font-medium text-black text-2xl">Discover Our Help Guides</span>
              </div>
            </dt>
            <dd class="mt-2 pr-12" id="faq-1">
              <p class=" text-base text-black font-semibold">
                We pride ourselves on making Helperbird user-friendly and accessible. Explore our help guides for valuable tips and information on using Helperbird effectively.
              </p>
            </dd>
          </div>

          <div class="pt-6">
            <dt >
              <div class="text-left w-full flex justify-between items-start " aria-controls="faq-2" aria-expanded="false">
                <span class="font-medium text-black text-2xl">Turn On the Highlight Menu</span>
              </div>
            </dt>
            <dd class="mt-2 pr-12" id="faq-2">
              <p class=" text-base text-black font-semibold">
                Enable the 'Highlight Menu' option to quickly access our features by highlighting text. We recommend this for everyone.
              </p>
            </dd>
          </div>

          <div class="pt-6">
            <dt >
              <div class="text-left w-full flex justify-between items-start " aria-controls="faq-3" aria-expanded="false">
                <span class="font-medium text-black text-2xl">Discover Helperbird Pro</span>
              </div>
            </dt>
            <dd class="mt-2 pr-12" id="faq-3">
              <p class=" text-base text-black font-semibold">
                Unlock all of Helperbird's features, including OCR, text-to-speech, and more, for just $40 per year with Helperbird Pro. Highly recommended for everyone.
              </p>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
