<div class="rounded-xl bg-blue-500 shadow-md">
	<div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<h2 class="font-sans text-3xl font-bold leading-relaxed text-white sm:text-4xl">
				Transform Your Online World
			</h2>
			<p class="l mx-auto mt-6 max-w-xl font-sans text-xl leading-relaxed text-white">
				Discover the future of web accessibility and productivity. Download Helperbird and change
				the way you interact online.
			</p>
			<div class="mt-10 flex items-center justify-center gap-x-6">
				<button onclick="download_modal.showModal()" class="btn btn-base btn-secondary gap-2 shadow-md" aria-label="Download Helperbird today and boost your accessibility & productivity">
					<span>👉</span> Get the App
				</button>
			</div>
		</div>
	</div>
</div>
