<div class="my-24 rounded-3xl bg-black">
	<div class="px-6 py-24 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
				Get More Done with Helperbird!
			</h2>
			<p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-white">
				Looking to make browsing easier and more accessible? Helperbird's got you covered! With tools like text-to-speech, Immersive Reader, and more, Helperbird makes your time online smoother and more enjoyable.
			</p>
			<div class="mt-10 flex items-center justify-center gap-x-4">
				<button onclick="download_modal.showModal()" class="btn btn-secondary shadow-md" aria-label="Download Helperbird" title="Download Helperbird">
					<span class="sm:hidden">Download</span>
					<span class="hidden sm:inline">Download Helperbird!</span>
				</button>
			</div>
		</div>
	</div>
</div>
