<div class="my-24 rounded-3xl bg-black">
	<div class="px-6 py-24 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
				Do More with Helperbird!
			</h2>
			<p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-white">
				Want to make browsing easier and more accessible? Helperbird has everything you need! With tools like 
				<a href="/features/speech-to-text/" class="text-red-500 hover:text-red-700" title="Explore text-to-speech features">text-to-speech</a>, 
				<a href="/features/immersive-reader-for-chrome/" class="text-red-500 hover:text-red-700" title="Learn about the Immersive Reader">Immersive Reader</a>, 
				and more, Helperbird makes your online experience smoother and more enjoyable.
			</p>
			<div class="mt-10 flex items-center justify-center gap-x-4">
				<button onclick="download_modal.showModal()" class="btn btn-secondary shadow-md" aria-label="Download Helperbird" title="Download Helperbird">
					Download
				</button>
			</div>
		</div>
	</div>
</div>
