<div class="mb-12 mt-12 rounded-xl bg-gray-900 py-24 shadow-md">
	<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
		<div class="mx-auto w-full max-w-xl lg:mx-0">
			<h2 class="font-sans text-3xl font-bold leading-relaxed text-white">
				Empower Your Learning & Accessibility Online
			</h2>
			<p class="mt-6 font-sans text-xl leading-relaxed text-white">

                Helperbird provides the tools to read with ease, write like a pro, and personalize
				your web experience. All while staying ahead with cutting-edge accessibility features and budget-friendly
				options.
			</p>
			<ul
				role="list"
				class="mt-10 grid grid-cols-1 gap-x-8 gap-y-3 font-sans text-xl leading-7 leading-relaxed text-white sm:grid-cols-2"
			>
				<li class="flex gap-x-3">
					<svg class="h-7 w-5 flex-none bg-secondary " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"
						></path>
					</svg>
					Reading features
				</li>
				<li class="flex gap-x-3">
					<svg class="h-7 w-5 flex-none bg-secondary " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"
						></path>
					</svg>
					Write Like a Pro
				</li>
				<li class="flex gap-x-3">
					<svg class="h-7 w-5 flex-none bg-secondary " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"
						></path>
					</svg>
					Accessibility for All
				</li>
				<li class="flex gap-x-3">
					<svg class="h-7 w-5 flex-none bg-secondary " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"
						></path>
					</svg>
					Personalize Your Web
				</li>
				<li class="flex gap-x-3">
					<svg class="h-7 w-5 flex-none bg-secondary " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"
						></path>
					</svg>
					Always Cutting-Edge
				</li>
				<li class="flex gap-x-3">
					<svg class="h-7 w-5 flex-none bg-secondary " viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path
							fill-rule="evenodd"
							d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
							clip-rule="evenodd"
						></path>
					</svg>
					Trusted & Affordable
				</li>
			</ul>
            <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
                <button 
       
                class="btn-base btn btn-secondary shadow-md"
                title="Login to manage your Helperbird subscription"
                aria-label="Get the app"
                >
                    Get the app
                </button>
                <a href="/features/" class="btn-base btn btn-primary shadow-md" aria-label="See features">
                    See features
                </a>
            </div>
		</div>
	</div>
</div>
