<!-- Logo cloud -->
<div class="mx-auto mt-32 max-w-7xl sm:mt-40">
	<section
	  class="relative isolate overflow-hidden bg-slate-900 px-6 py-24 text-center shadow-2xl sm:rounded-3xl sm:px-16"
	>
	  <h2 class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-white sm:text-4xl">
		Our customers love us
	  </h2>
	  <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-white">
		Over 700,000 people are already using Helperbird to make the web easier and more accessible. Why not join them?
	  </p>
  
	  <div class="mt-8 flex items-center justify-center gap-x-6">
		<button
		  onclick="download_modal.showModal()"
		  class="btn btn-secondary btn-wide shadow-md"
		  aria-label="Download Helperbird"
		  title="Download Helperbird"
		>
		Download
		</button>
	  </div>
  
	  <div
		class="mx-auto mt-20 grid max-w-lg grid-cols-2 gap-8 sm:max-w-xl sm:grid-cols-3 lg:max-w-4xl lg:grid-cols-5"
	  >
		<img
		  class="col-span-1 max-h-12 w-full object-contain"
		  src="/assets/images/logo/microsoft.png"
		  alt="Microsoft logo"
		  width="160"
		  height="60"
		/>
		<img
		  class="col-span-1 max-h-12 w-full object-contain"
		  src="/assets/images/logo/gusto.png"
		  alt="Gusto logo"
		  width="160"
		  height="60"
		/>
		<img
		  class="col-span-1 max-h-12 w-full object-contain"
		  src="/assets/images/logo/neveda.png"
		  alt="Neveda logo"
		  width="160"
		  height="60"
		/>
		<img
		  class="col-span-1 max-h-12 w-full object-contain sm:col-start-2 lg:col-start-auto"
		  src="/assets/images/logo/school.png"
		  alt="School logo"
		  width="160"
		  height="60"
		/>
		<img
		  class="col-span-1 max-h-12 w-full object-contain lg:col-start-auto"
		  src="/assets/images/home/companies/shell.png"
		  alt="Shell logo"
		  width="160"
		  height="60"
		/>
	  </div>
	</section>
  </div>
  