<!-- Logo cloud -->
<div class="mx-auto mt-32 max-w-7xl sm:mt-40">
	<section
	  class="relative isolate overflow-hidden bg-slate-900 px-6 py-24 text-center shadow-2xl sm:rounded-3xl sm:px-16"
	>
	  <h2 class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-white sm:text-4xl">
		People Are Loving Helperbird


	  </h2>
	  <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-white">
Over 700,000 users are already making the web easier to read, learn, and enjoy with Helperbird. Come see what the excitement is all about.  </p>
  
	  <div class="mt-8 flex items-center justify-center gap-x-6">
		<button
		  onclick="download_modal.showModal()"
		  class="btn btn-secondary btn-wide shadow-md"
		  aria-label="Download Helperbird"
		  title="Download Helperbird"
		>
		Download
		</button>
	  </div>
  
	  <div
		class="mx-auto mt-20 grid max-w-lg grid-cols-2 gap-8 sm:max-w-xl sm:grid-cols-3 lg:max-w-4xl lg:grid-cols-5"
	  >
		<img
		  class="col-span-1 max-h-12 w-full object-contain"
		  src="/assets/images/logo/microsoft.png"
		  alt="The Microsoft logo is a four-colored square made up of smaller squares in red, green, blue, and yellow, followed by the word 'Microsoft' in a light gray sans-serif font."
		  width="160"
		  height="60"
		/>
		<img
		  class="col-span-1 max-h-12 w-full object-contain"
		  src="/assets/images/logo/gusto.png"
		  alt="The Gusto logo is written in lowercase letters with the word 'gusto' in a warm, orange-red color, using a rounded and modern sans-serif font."
		  width="160"
		  height="60"
		/>
		<img
		  class="col-span-1 max-h-12 w-full object-contain"
		  src="/assets/images/logo/neveda.png"
		  alt="he Nevada Community School District logo has a large purple 'N' icon, with 'NEVADA' in bold purple text and 'Community School District' in smaller gray text beneath it."
		  width="160"
		  height="60"
		/>
		<img
		  class="col-span-1 max-h-12 w-full object-contain sm:col-start-2 lg:col-start-auto"
		  src="/assets/images/logo/school.png"
		  alt="The SoWashCo Schools logo spells 'SoWashCo' in a playful, colorful font with each letter in a different color, resembling the Google color scheme, followed by the word 'Schools' in smaller blue text."
		  width="160"
		  height="60"
		/>
		<img
		  class="col-span-1 max-h-12 w-full object-contain lg:col-start-auto"
		  src="/assets/images/home/companies/shell.png"
		  alt="The Shell logo is a bright yellow shell with a red outline, resembling a scallop shell, with the word 'Shell' written in red below it in bold, rounded text."
		  width="160"
		  height="60"
		/>
	  </div>
	</section>
  </div>
  
