<div class="bg-white py-24 mt-12 mb-12 rounded-xl shadow-md">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
        <div class="mx-auto w-full max-w-xl lg:mx-0">
          <h2 class="leading-relaxed font-sans    text-3xl font-bold   text-black">Relied Upon by Over 1 Million Users</h2>
          <p class="leading-relaxed font-sans  mt-6 text-xl text-black">
            Be part of a large community of 1 million users who trust Helperbird to make the web easier to use and more accessible.
          </p>
          <div class="mt-8 flex items-center gap-x-6">
            <label for="my-modal-6" class="btn  btn-secondary shadow-md" title="Download Helperbird">Get the app</label>
            <a href="/features/" class="btn-base btn-secondary btn " aria-label="See features">
              See features
    </a>
          </div>
        </div>
        <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
          <img class="max-h-12 w-full object-contain object-left" src="/assets/images/logo/microsoft.png" alt="Logo of Microsoft Corporation" title="Logo of Microsoft Corporation" width="105" height="48" />
          <img class="max-h-12 w-full object-contain object-left" src="/assets/images/logo/gusto.png" alt="Logo of Gusto" title="Gusto" width="104" height="48" />
          <img class="max-h-12 w-full object-contain object-left" src="/assets/images/logo/neveda.png" alt="Logo of SavvyCal" title="SavvyCal" width="140" height="48" />
          <img class="max-h-12 w-full object-contain object-left" src="/assets/images/logo/school.png" alt="Logo of Neveda school" title="Neveda School" width="136" height="48" />
          <img class="max-h-12 w-full object-contain object-left" src="/assets/images/logo/rio-texas.png" alt="Logo of Rio school icon" title="Rio School" width="158" height="48" />
          <img class="max-h-12 w-full object-contain object-left" src="/assets/images/home/companies/shell.png" alt="Logo of Shell" title="Shell" width="147" height="48" />
        </div>
      </div>
    </div>
  </div>