.lightblue-gradient#pricing
  section.section_header.website_pricing_header
    .container
      .col-12.text-center
        h1.heading.primary-color.launchaco-builder-hoverable 
          | Choose your bundle

        
        
        h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable
          a(href='https://datastudio.google.com/u/0/reporting/3e86f5ee-b27b-4bb6-bfdc-90c1dd67f06e/page/1M', rel='noopener', target='_blank') 2,000 
          | users signed up last week. Join them.



  include pricing-edu.pug


 

  style.
      .white{
          color:#fff !important;
      }
      .padding40{
          padding: 40px;
      }

