


section.pricing_table
  .container-xlrg.flex
    .col-12
      .card.flex.mobile-flex-wrap.no_border
        .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card_new
          .pricing-header_new
            p.bold Free
            p Free forever.
          .pricing-header_new
            b.heading.pricing_control $0

          .pricing-header_new.pricing-header_new_features
            p.bold Text features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Font changer
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia fonts
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Magnifier
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Word spacing
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Line height
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Letter spacing

          .pricing-header_new.pricing-header_new_features
            p.bold Content features
          ul

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Reader mode
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Focus mode
  
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Immersive Reader
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Screenshot tools
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Printing tools

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Translation
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Annonation tooling
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Analyze

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Highlight paragraphs
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Volume control
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Extract text from images (OCR)
          .pricing-header_new.pricing-header_new_features
            p.bold Display features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Emphasize Links
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Color blindess tools
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Dyslexia ruler
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Dyslexia ruler options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Overlay
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Overlay options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Adblocker
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span High contrast
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Hide images
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Remove flashing images
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Reading mask
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Line focus
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Coginitive load 
          .pricing-header_new.pricing-header_new_features
            p.bold Navigation features
          ul


            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.spanI Text to speech
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Text to speech options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span 14 natural voices
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.spanI Cursor options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Auto scrolling
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Spell check
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Blocklist
          .pricing-header_new.pricing-header_new_features
            p.bold Color features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Highlight options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Font options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Background options



          .pricing-header_new.pricing-header_new_features
            p.bold Other features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Sync settings & styles
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Themes
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Google doc support
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Word support
          .pricing-header_new.pricing-header_new_features
            p.bold Helperbird apps
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Dictionary app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Annotations app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Text editor app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Dication app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Bookmark app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span iPad app
          .pricing-header_new.pricing-header_new_features
            p.bold Bonus
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Unlimited users
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Premium support
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Templates
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(data-target='#downloadModal', data-toggle='modal')
            span Download for Free



            
        .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card_new.custom_table_most_popluar


          .pricing-header_new
            p.bold Pro
            p Access to all features!
          .pricing-header_new
            b.heading.pricing_control#plusPricing $4.99/monthly

          .pricing-header_new.pricing-header_new_features
            p.bold Text features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Font changer
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia fonts
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Magnifier
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Word spacing
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Line height
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Letter spacing

          .pricing-header_new.pricing-header_new_features
            p.bold Content features
          ul

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Reader mode
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Focus mode
   

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Immersive Reader
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Screenshot tools
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Printing tools

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Translation
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Annonation tooling
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Analyze

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Highlight paragraphs
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Volume control
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Extract text from images (OCR)
          .pricing-header_new.pricing-header_new_features
            p.bold Display features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Emphasize Links
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Color blindess tools
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia ruler
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia ruler options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Overlay
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Overlay options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Adblocker
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span High contrast
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Hide images
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Remove flashing images
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Reading mask
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Line focus
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Coginitive load 
          .pricing-header_new.pricing-header_new_features
            p.bold Navigation features
          ul


            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.spanI Text to speech
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Text to speech options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span 14 natural voices
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.spanI Cursor options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Auto scrolling
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Spell check
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Blocklist
          .pricing-header_new.pricing-header_new_features
            p.bold Color features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Font options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Background options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Highlight options


          .pricing-header_new.pricing-header_new_features
            p.bold Other features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Sync settings & styles
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Themes
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Google doc support
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Word support
          .pricing-header_new.pricing-header_new_features
            p.bold Helperbird apps
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dictionary app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Annotations app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Text editor app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dication app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Bookmark app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span iPad app
          .pricing-header_new.pricing-header_new_features
            p.bold Bonus
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Unlimited users
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Premium support
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Templates
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center.button-signup.hide#checkout-button-plan_FmS3HONbzTCxGl
            span  Upgrade now
            | 
            span.its_free $30.00
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center#checkout-button-1
            span  Upgrade now
            | 
            span.its_free $4.99




        .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card_new.custom_table_most_popluar
          .pricing-header_new
            p.bold Schools & Business
            p Includes unlimited users

 
          .pricing-header_new
            b.heading.pricing_control#enterprisePricing $50/monthly

          .pricing-header_new.pricing-header_new_features
            p.bold Text features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Font changer
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia fonts
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Magnifier
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Word spacing
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Line height
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Letter spacing

          .pricing-header_new.pricing-header_new_features
            p.bold Content features
          ul

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Reader mode
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Focus mode
   

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Immersive Reader
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Screenshot tools
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Printing tools

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Translation
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Annonation tooling
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Analyze

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Highlight paragraphs
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Volume control
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Extract text from images (OCR)
          .pricing-header_new.pricing-header_new_features
            p.bold Display features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Emphasize Links
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Color blindess tools
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia ruler
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia ruler options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Overlay
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Overlay options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Adblocker
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span High contrast
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Hide images
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Remove flashing images
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Reading mask
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Line focus
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Coginitive load 
          .pricing-header_new.pricing-header_new_features
            p.bold Navigation features
          ul


            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.spanI Text to speech
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Text to speech options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span 14 natural voices
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.spanI Cursor options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Auto scrolling
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Spell check
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Blocklist
          .pricing-header_new.pricing-header_new_features
            p.bold Color features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Font options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Background options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Highlight options


          .pricing-header_new.pricing-header_new_features
            p.bold Other features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Sync settings & styles
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Themes
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Google doc support
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Word support
          .pricing-header_new.pricing-header_new_features
            p.bold Helperbird apps
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dictionary app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Annotations app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Text editor app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dication app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Bookmark app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span iPad app

          .pricing-header_new.pricing-header_new_features
            p.bold Bonus
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Unlimited users
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Premium support
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Templates


          button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center.hide#checkout-button-plan_G1OnSt8DIms1PY
            span  Upgrade now
            | 

            span.its_free $500
          button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center#checkout-button-plan_G1O8Rztm6fFf4R



            span  Upgrade now
            |
            span.its_free $50

        .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card_new.custom_table_most_popluar

          .pricing-header_new
            p.bold Student discount
            p 50% off Helperbird Pro
          .pricing-header_new
            b.heading.pricing_control $20/yearly

          .pricing-header_new.pricing-header_new_features
            p.bold Text features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Font changer
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia fonts
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Magnifier
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Word spacing
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Line height
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Letter spacing

          .pricing-header_new.pricing-header_new_features
            p.bold Content features
          ul

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Reader mode
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Focus mode
   

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Immersive Reader
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Screenshot tools
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Printing tools

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Translation
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Annonation tooling
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Analyze

            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Highlight paragraphs
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Volume control
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Extract text from images (OCR)
          .pricing-header_new.pricing-header_new_features
            p.bold Display features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Emphasize Links
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Color blindess tools
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia ruler
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dyslexia ruler options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Overlay
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Overlay options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Adblocker
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span High contrast
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Hide images
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Remove flashing images
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Reading mask
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Line focus
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Coginitive load 
          .pricing-header_new.pricing-header_new_features
            p.bold Navigation features
          ul


            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.spanI Text to speech
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Text to speech options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span 14 natural voices
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.spanI Cursor options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Auto scrolling
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Spell check
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Blocklist
          .pricing-header_new.pricing-header_new_features
            p.bold Color features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Font options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Background options
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Highlight options

              


          .pricing-header_new.pricing-header_new_features
            p.bold Other features
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Sync settings & styles
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Themes
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Google doc support
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Word support
          .pricing-header_new.pricing-header_new_features
            p.bold Helperbird apps
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dictionary app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Annotations app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Text editor app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dication app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Bookmark app
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span iPad app

          .pricing-header_new.pricing-header_new_features
            p.bold Bonus
          ul
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Unlimited users
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-times-circle
              span.span Premium support
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Templates


          button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center#checkout-button-plan_GDtSwhVHQXfaSw
            span  Upgrade now
            |
            span.its_free $20.00



