// This example requires Tailwind CSS v2.0+
.bg-gray-50#pricing-table-widget
  .max-w-7xl.mx-auto.py-24.px-4(class='sm:px-6 lg:px-8')
    div(class='sm:flex sm:flex-col sm:align-center')
      h1.text-5xl.font-extrabold.text-gray-900(class='sm:text-center') Pricing Plans
      p.mt-5.text-xl(class='sm:text-center')
        | Get the Helperbird widget at a price that suits everyone.
      .relative.self-center.mt-6.bg-gray-100.rounded-lg.flex(class='p-0.5 sm:mt-8')
        button.relative.rounded-md.shadow-sm.py-2.text-sm.font-medium.text-gray-700.whitespace-nowrap(type='button' @click="switchType" class='w-1/2 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:z-10 sm:w-auto sm:px-8'       v-bind:class="!isYearly ? 'bg-gray-50 border-gray-200' : 'border border-transparent'") Monthly billing
        button.relative.rounded-md.py-2.text-sm.font-medium.text-gray-700.whitespace-nowrap(type='button' @click="switchType"  class='ml-0.5 w-1/2 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:z-10 sm:w-auto sm:px-8'    v-bind:class="isYearly ? 'bg-gray-50 border-gray-200' : 'border border-transparent'") Yearly billing
   




    .mt-12.space-y-4(class='sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-1 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-3')
  

      .border.border-pink-500.rounded-lg.shadow-sm.divide-y.divide-pink-500
        .p-6
          h2.text-lg.leading-6.font-medium.text-gray-900 Standard
          p.mt-4.text-sm Access to all features!
          p.mt-8(v-bind:style="!isYearly ?'display: block !important;' : 'display: none !important;'")
            span.text-4xl.font-extrabold.text-gray-900 $30.00
            span.text-base.font-medium /monthly

          p.mt-8.hidden(v-bind:style="isYearly ?'display: block !important;' : 'display: none !important;'")
            span.text-4xl.font-extrabold.text-gray-900 $300.00
            span.text-base.font-medium /yearly
          button.mt-8.block.w-full.bg-pink-500.border.border-pink-500.rounded-md.py-2.text-sm.font-semibold.text-white.text-center(class='bg-pink-500 hover:bg-pink-900' @click="openStandard") Buy Widget standard
  

        .pt-6.pb-8.px-6
          h3.font-medium.text-gray-900.tracking-wide.mt-8 Features
          ul.mt-6.space-y-4
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Full suite of accessibility features
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Text to speech
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Continuous accessibility monitoring
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Always-on cloud updates
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Dedicated account manager

          h3.font-medium.text-gray-900.tracking-wide.mt-8 Highlights
          ul.mt-6.space-y-4
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm All of Helperbird's features
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Premium support
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm White labeling
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Includes immersive reader
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Unlimited subdomains
        .p-6
          button.mt-8.block.w-full.bg-pink-500.border.border-pink-500.rounded-md.py-2.text-sm.font-semibold.text-white.text-center(class='bg-pink-500 hover:bg-pink-900' @click="openStandard") Buy Widget Standard
   
      .border.border-gray-200.rounded-lg.shadow-sm.divide-y.divide-gray-200
        .p-6
          h2.text-lg.leading-6.font-medium.text-gray-900 Pro
          p.mt-4.text-sm Includes whitelabing

          p.mt-8(v-bind:style="!isYearly ?'display: block !important;' : 'display: none !important;'")
            span.text-4xl.font-extrabold.text-gray-900 $99.99
            span.text-base.font-medium /monthly

          p.mt-8.hidden(v-bind:style="isYearly ?'display: block !important;' : 'display: none !important;'")
            span.text-4xl.font-extrabold.text-gray-900 $1000.00
            span.text-base.font-medium /yearly
          button.mt-8.block.w-full.bg-indigo-500.border.border-indigo-500.rounded-md.py-2.text-sm.font-semibold.text-white.text-center( class='bg-indigo-500 hover:bg-indigo-900' @click="openPro") Buy Widget Pro

        .pt-6.pb-8.px-6
          h3.font-medium.text-gray-900.tracking-wide.mt-8 Features
          ul.mt-6.space-y-4
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Full suite of accessibility features
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Text to speech
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Continuous accessibility monitoring
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Always-on cloud updates
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Dedicated account manager

          h3.font-medium.text-gray-900.tracking-wide.mt-8 Highlights
          ul.mt-6.space-y-4
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm All of Helperbird's features
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Premium support
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm White labeling
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Includes immersive reader
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Unlimited subdomains
       

        .p-6
          button.mt-8.block.w-full.bg-indigo-500.border.border-indigo-500.rounded-md.py-2.text-sm.font-semibold.text-white.text-center( class='bg-indigo-500 hover:bg-indigo-900' @click="openPro") Buy Widget Pro


     
     
      .border.border-gray-200.rounded-lg.shadow-sm.divide-y.divide-gray-200
        .p-6
          h2.text-lg.leading-6.font-medium.text-gray-900 Unlimited
          p.mt-4.text-sm Totally unlimited wild card domains.
          p.mt-8(v-bind:style="!isYearly ?'display: block !important;' : 'display: none !important;'")
            span.text-4xl.font-extrabold.text-gray-900 $250.00
            span.text-base.font-medium /monthly
          p.mt-8.hidden(v-bind:style="isYearly ?'display: block !important;' : 'display: none !important;'")
            span.text-4xl.font-extrabold.text-gray-900  $2,500
            span.text-base.font-medium /yearly
          button.mt-8.block.w-full.bg-indigo-500.border.border-indigo-500.rounded-md.py-2.text-sm.font-semibold.text-white.text-center( class='bg-indigo-500 hover:bg-indigo-900' @click="openUnlimited") Buy Widget unlimited
        .pt-6.pb-8.px-6

          h3.font-medium.text-gray-900.tracking-wide.mt-8 Features
          ul.mt-6.space-y-4
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Full suite of accessibility features
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Text to speech
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Continuous accessibility monitoring
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Always-on cloud updates
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Dedicated account manager

          h3.font-medium.text-gray-900.tracking-wide.mt-8 Highlights
          ul.mt-6.space-y-4
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm All of Helperbird's features
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Premium support
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm White labeling
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Includes immersive reader
            li.flex.space-x-3
              svg.flex-shrink-0.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.text-sm Unlimited subdomains

        .p-6
          button.mt-8.block.w-full.bg-indigo-500.border.border-indigo-500.rounded-md.py-2.text-sm.font-semibold.text-white.text-center( class='bg-indigo-500 hover:bg-indigo-900' @click="openUnlimited") Buy Widget unlimited