.max-w-2xl.mx-auto.bg-white.py-16(class='sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8')
  // xs to lg
  .space-y-24(class='lg:hidden')
    div
      .px-4
        h2.text-lg.leading-6.font-medium.text-gray-900 Free
        p.mt-4
          span.text-4xl.font-extrabold.text-gray-900 $0
          span.text-base.font-medium.text-gray-500 /mo
        p.mt-4.text-sm.text-gray-500 Quis suspendisse ut fermentum neque vivamus non tellus.
        a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Basic
      table.mt-8.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Text features
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Molestie lobortis massa.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
          
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Font changer
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes

          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Dyslexia fonts
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes

          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Magnifier
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes

          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Word spacing
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes


    

          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Line height
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No


          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Letter spacing
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No

   
   
   
   
      table.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Reporting
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Adipiscing.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Eget risus integer.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Gravida leo urna velit.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Elementum ut dapibus mi feugiat cras nisl.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No
      table.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Support
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Sit dignissim.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Congue at nibh et.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Volutpat feugiat mattis.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Tristique pellentesque ornare diam sapien.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No
      .border-t.border-gray-200.px-4.pt-5
        a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Basic
    div
      .px-4
        h2.text-lg.leading-6.font-medium.text-gray-900 Essential
        p.mt-4
          span.text-4xl.font-extrabold.text-gray-900 $29
          span.text-base.font-medium.text-gray-500 /mo
        p.mt-4.text-sm.text-gray-500 Quis eleifend a tincidunt pellentesque. A tempor in sed.
        a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Essential
      table.mt-8.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Features
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Molestie lobortis massa.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Urna purus felis.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Tellus pulvinar sit dictum.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Convallis.
            td.py-5.pr-4
              span.block.text-sm.text-gray-700.text-right Up to 20 users
      table.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Reporting
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Adipiscing.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Eget risus integer.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Gravida leo urna velit.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Elementum ut dapibus mi feugiat cras nisl.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No
      table.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Support
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Sit dignissim.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Congue at nibh et.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Volutpat feugiat mattis.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Tristique pellentesque ornare diam sapien.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.ml-auto.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
              span.sr-only No
      .border-t.border-gray-200.px-4.pt-5
        a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Essential
    div
      .px-4
        h2.text-lg.leading-6.font-medium.text-gray-900 Premium
        p.mt-4
          span.text-4xl.font-extrabold.text-gray-900 $59
          span.text-base.font-medium.text-gray-500 /mo
        p.mt-4.text-sm.text-gray-500 Orci volutpat ut sed sed neque, dui eget. Quis tristique non.
        a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Premium
      table.mt-8.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Features
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Molestie lobortis massa.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Urna purus felis.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Tellus pulvinar sit dictum.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Convallis.
            td.py-5.pr-4
              span.block.text-sm.text-gray-700.text-right Up to 50 users
      table.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Reporting
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Adipiscing.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Eget risus integer.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Gravida leo urna velit.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Elementum ut dapibus mi feugiat cras nisl.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
      table.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Support
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Sit dignissim.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Congue at nibh et.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Volutpat feugiat mattis.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Tristique pellentesque ornare diam sapien.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
      .border-t.border-gray-200.px-4.pt-5
        a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Premium
  // lg+
  .hidden(class='lg:block')
    table.w-full.h-px.table-fixed
      caption.sr-only
        | Pricing plan comparison
      thead
        tr
          th.pb-4.pl-6.pr-6.text-sm.font-medium.text-gray-900.text-left(scope='col')
            span.sr-only Feature by
            span Plans
          th.pb-4.px-6.text-lg.leading-6.font-medium.text-gray-900.text-left(class='w-1/5' scope='col') Free
          th.pb-4.px-6.text-lg.leading-6.font-medium.text-gray-900.text-left(class='w-1/5' scope='col') Pro
          th.pb-4.px-6.text-lg.leading-6.font-medium.text-gray-900.text-left(class='w-1/5' scope='col') Student discount
          th.pb-4.px-6.text-lg.leading-6.font-medium.text-gray-900.text-left(class='w-1/5' scope='col') Schools & Business
      tbody.border-t.border-gray-200.divide-y.divide-gray-200
        tr
          th.py-8.pl-6.pr-6.align-top.text-sm.font-medium.text-gray-900.text-left(scope='row') Pricing
          td.h-full.py-8.px-6.align-top
            .h-full.flex.flex-col.justify-between
              div
                p
                  span.text-4xl.font-extrabold.text-gray-900 $0
                  span.text-base.font-medium.text-gray-500 /mo
                p.mt-4.text-sm.text-gray-500 Quis suspendisse ut fermentum neque vivamus non tellus.
              a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Download now
          td.h-full.py-8.px-6.align-top
            .h-full.flex.flex-col.justify-between
              div
                p
                  span.text-4xl.font-extrabold.text-gray-900 $6.99
                  span.text-base.font-medium.text-gray-500 /mo
                p.mt-4.text-sm.text-gray-500 Quis eleifend a tincidunt pellentesque. A tempor in sed.
              a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Pro
          td.h-full.py-8.px-6.align-top
            .h-full.flex.flex-col.justify-between
              div
                p
                  span.text-4xl.font-extrabold.text-gray-900 $40
                  span.text-base.font-medium.text-gray-500 /mo
                p.mt-4.text-sm.text-gray-500 Orci volutpat ut sed sed neque, dui eget. Quis tristique non.
              a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Student dicount
          td.h-full.py-8.px-6.align-top
            .h-full.flex.flex-col.justify-between
              div
                p
                  span.text-4xl.font-extrabold.text-gray-900 $99
                  span.text-base.font-medium.text-gray-500 /mo
                p.mt-4.text-sm.text-gray-500 Orci volutpat ut sed sed neque, dui eget. Quis tristique non.
              a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Unlimited
        tr
          th.py-3.pl-6.bg-gray-50.text-sm.font-medium.text-gray-900.text-left(colspan='4' scope='colgroup') Features
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Molestie lobortis massa.
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Urna purus felis.
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Tellus pulvinar sit dictum.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Convallis.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Basic
          td.py-5.px-6
            span.block.text-sm.text-gray-700 Up to 20 users
          td.py-5.px-6
            span.block.text-sm.text-gray-700 Up to 50 users
        tr
          th.py-3.pl-6.bg-gray-50.text-sm.font-medium.text-gray-900.text-left(colspan='4' scope='colgroup') Reporting
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Adipiscing.
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Eget risus integer.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Gravida leo urna velit.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Elementum ut dapibus mi feugiat cras nisl.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-3.pl-6.bg-gray-50.text-sm.font-medium.text-gray-900.text-left(colspan='4' scope='colgroup') Support
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Sit dignissim.
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Congue at nibh et.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Volutpat feugiat mattis.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Tristique pellentesque ornare diam sapien.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-gray-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z' clip-rule='evenodd')
            span.sr-only Not included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
      tfoot
        tr.border-t.border-gray-200
          th.sr-only(scope='row') Choose your plan
          td.pt-5.px-6
            a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Basic
          td.pt-5.px-6
            a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Essential
          td.pt-5.px-6
            a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Premium
// Logo cloud
.max-w-7xl.mx-auto.border-t.border-gray-200.py-12.px-4(class='sm:px-6 lg:py-20 lg:px-8')
  .grid.grid-cols-2.gap-8(class='md:grid-cols-6 lg:grid-cols-5')
    .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
      img.h-12(src='https://tailwindui.com/img/logos/tuple-logo-gray-400.svg' alt='Tuple')
    .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
      img.h-12(src='https://tailwindui.com/img/logos/mirage-logo-gray-400.svg' alt='Mirage')
    .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
      img.h-12(src='https://tailwindui.com/img/logos/statickit-logo-gray-400.svg' alt='StaticKit')
    .col-span-1.flex.justify-center(class='md:col-span-3 lg:col-span-1')
      img.h-12(src='https://tailwindui.com/img/logos/transistor-logo-gray-400.svg' alt='Transistor')
    .col-span-2.flex.justify-center(class='md:col-span-3 lg:col-span-1')
      img.h-12(src='https://tailwindui.com/img/logos/workcation-logo-gray-400.svg' alt='Workcation')
