
.bg-indigo-900
  .relative
    .max-w-2xl.mx-auto.py-16.px-4(class='sm:py-24 sm:px-6 lg:px-8 lg:max-w-7xl')
      .px-0(class='sm:px-4 lg:px-0 lg:flex lg:justify-between lg:items-center')
        .max-w-xl
          h2.text-4xl.font-extrabold.text-white(class='sm:text-5xl sm:tracking-tight lg:text-6xl') Pricing Plans
          p.mt-5.text-xl.text-indigo-300
            | Choose your plan. All plans include a 3 day free trial.
