.bg-indigo-900#pricing
  .relative
    .max-w-2xl.mx-auto.py-16.px-4(class='sm:py-24 sm:px-6 lg:px-8 lg:max-w-7xl')
      .px-0(class='sm:px-4 lg:px-0 lg:flex lg:justify-between lg:items-center')
        .max-w-xl
          h2.text-4xl.font-extrabold.text-white(class='sm:text-5xl sm:tracking-tight lg:text-6xl') Pricing Plans
          p.mt-5.text-xl.text-indigo-300
            | Make your website accessible from only $30 a month.


        .mt-10.w-full.max-w-xs(class='lg:mt-0')
          .p-6.card.bordered.mb-4
            h3.text-right.text-green-500.mb-4 Save 20%
            .form-control.text-right
              .pricing-switch
                | Monthly
                label.switch
                  input#annual-widget(name='xxx' type='checkbox' spellcheck='false')
                  span.slider.round
                | Yearly

  




.max-w-2xl.mx-auto.bg-white.py-16(class='sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8')
  // xs to lg
  .space-y-24(class='lg:hidden')
    div
      .px-4
        h2.text-lg.leading-6.font-medium.text-gray-900 Basic
        p.mt-4
          span.text-4xl.font-extrabold.text-gray-900 $30
          span.text-base.font-medium.text-gray-500 /mo
        p.mt-4.text-sm.text-gray-500 All of our features but with our branding and colors.
        a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Basic
      table.mt-8.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Features
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Full suite of accessibility features
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Continuous accessibility monitoring
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Always-on cloud updates
            td.py-5.pr-4
              // Heroicon name: minus
              svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

              span.sr-only No
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Convallis.
            td.py-5.pr-4



              svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes


      table.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Highlights
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') All of Helperbird's features.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Premium support.
            td.py-5.pr-4
              // Heroicon name: minus
              svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

              span.sr-only No
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Unlimited subdomains
            td.py-5.pr-4
              // Heroicon name: minus
              svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

              span.sr-only No


      .border-t.border-gray-200.px-4.pt-5
        a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Basic
    div
      .px-4
        h2.text-lg.leading-6.font-medium.text-gray-900 Essential
        p.mt-4
          span.text-4xl.font-extrabold.text-gray-900 $99
          span.text-base.font-medium.text-gray-500 /mo
        p.mt-4.text-sm.text-gray-500 All of our features plus white labeling. Only one domain.
        a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Essential
      table.mt-8.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Features
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Full suite of accessibility features
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Continuous accessibility monitoring
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Always-on cloud updates
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Convallis.
            td.py-5.pr-4


              svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
      table.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Highlights
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') All of Helperbird's features.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Premium support.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Unlimited subdomains
            td.py-5.pr-4
              // Heroicon name: minus
              svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

              span.sr-only No
  
      .border-t.border-gray-200.px-4.pt-5
        a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Essential
    div
      .px-4
        h2.text-lg.leading-6.font-medium.text-gray-900 Premium
        p.mt-4
          span.text-4xl.font-extrabold.text-gray-900 $250
          span.text-base.font-medium.text-gray-500 /mo
        p.mt-4.text-sm.text-gray-500 All our features, whitelabing and all wild card domains.
        a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Premium
      table.mt-8.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Features
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Full suite of accessibility features
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Continuous accessibility monitoring
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Always-on cloud updates
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Convallis.
            td.py-5.pr-4
              svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
      table.w-full
        caption.bg-gray-50.border-t.border-gray-200.py-3.px-4.text-sm.font-medium.text-gray-900.text-left
          | Highlights
        thead
          tr
            th.sr-only(scope='col') Feature
            th.sr-only(scope='col') Included
        tbody.divide-y.divide-gray-200
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') All of Helperbird's features.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Premium support.
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes
          tr.border-t.border-gray-200
            th.py-5.px-4.text-sm.font-normal.text-gray-500.text-left(scope='row') Unlimited subdomains
            td.py-5.pr-4
              // Heroicon name: check
              svg.ml-auto.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
              span.sr-only Yes

      .border-t.border-gray-200.px-4.pt-5
        a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Premium
  // lg+
  .hidden(class='lg:block')
    table.w-full.h-px.table-fixed
      caption.sr-only
        | Pricing plan comparison
      thead
        tr
          th.pb-4.pl-6.pr-6.text-sm.font-medium.text-gray-900.text-left(scope='col')
            span.sr-only Feature by
            span Plans
          th.pb-4.px-6.text-lg.leading-6.font-medium.text-gray-900.text-left(class='w-1/4' scope='col') Basic
          th.pb-4.px-6.text-lg.leading-6.font-medium.text-gray-900.text-left(class='w-1/4' scope='col') Essential
          th.pb-4.px-6.text-lg.leading-6.font-medium.text-gray-900.text-left(class='w-1/4' scope='col') Premium
      tbody.border-t.border-gray-200.divide-y.divide-gray-200
        tr
          th.py-8.pl-6.pr-6.align-top.text-sm.font-medium.text-gray-900.text-left(scope='row') Pricing
          td.h-full.py-8.px-6.align-top
            .h-full.flex.flex-col.justify-between
              div
                p
                  span.text-4xl.font-extrabold.text-gray-900 $30
                  span.text-base.font-medium.text-gray-500 /mo
                p.mt-4.text-sm.text-gray-500 All of our features but with our branding and colors.
              a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Basic
          td.h-full.py-8.px-6.align-top
            .h-full.flex.flex-col.justify-between
              div
                p
                  span.text-4xl.font-extrabold.text-gray-900 $99
                  span.text-base.font-medium.text-gray-500 /mo
                p.mt-4.text-sm.text-gray-500 All of our features plus white labeling. Only one domain.
              a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Essential
          td.h-full.py-8.px-6.align-top
            .h-full.flex.flex-col.justify-between
              div
                p
                  span.text-4xl.font-extrabold.text-gray-900 $250
                  span.text-base.font-medium.text-gray-500 /mo
                p.mt-4.text-sm.text-gray-500 All our features, whitelabing and all wild card domains.
              a.mt-6.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Premium
        tr
          th.py-3.pl-6.bg-gray-50.text-sm.font-medium.text-gray-900.text-left(colspan='4' scope='colgroup') Features
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Full suite of accessibility features
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Continuous accessibility monitoring
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Always-on cloud updates
          td.py-5.px-6

            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Yes

          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Dedicated account manager.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

            span.sr-only Not included in Basic

          td.py-5.px-6
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Yes
          td.py-5.px-6
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Yes
        tr
          th.py-3.pl-6.bg-gray-50.text-sm.font-medium.text-gray-900.text-left(colspan='4' scope='colgroup') Highlights
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') All of Helperbird's features.
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Premium support.
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Unlimited subdomains
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

            span.sr-only Not included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium

        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') Includes immersive reader
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium
        tr
          th.py-5.pl-6.pr-6.text-sm.font-normal.text-gray-500.text-left(scope='row') White labeling
          td.py-5.px-6
            // Heroicon name: minus
            svg.h-5.w-5.text-red-600.font-bold(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
              path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')

            span.sr-only Not included in Basic
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Essential
          td.py-5.px-6
            // Heroicon name: check
            svg.h-5.w-5.text-green-500.font-bold(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
              path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
            span.sr-only Included in Premium

      tfoot
        tr.border-t.border-gray-200
          th.sr-only(scope='row') Choose your plan
          td.pt-5.px-6
            a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Basic
          td.pt-5.px-6
            a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Essential
          td.pt-5.px-6
            a.block.w-full.bg-gradient-to-r.from-orange-500.to-pink-500.border.border-transparent.rounded-md.shadow.py-2.text-sm.font-semibold.text-white.text-center(href='#' class='hover:to-pink-600') Buy Premium
