// This example requires Tailwind CSS v2.0+
.bg-gray-100#pricing-table-a11y
  .pt-12(class='sm:pt-16 lg:pt-20')
    .max-w-7xl.mx-auto.px-4(class='sm:px-6 lg:px-8')
      .text-center
        h2.text-3xl.font-extrabold.text-gray-900(class='sm:text-4xl lg:text-5xl')
          | Simple no-tricks pricing
        p.mt-4.text-xl.text-gray-600
          | If you&apos;re not satisfied, contact us within the first 3 days and we&apos;ll send you a full refund.
  .mt-8.bg-gray-50.pb-16(class='sm:mt-12 sm:pb-20 lg:pb-28')
    .relative
      .absolute.inset-0.bg-gray-100(class='h-1/2')
      .relative.max-w-7xl.mx-auto.px-4(class='sm:px-6 lg:px-8')
        .max-w-lg.mx-auto.rounded-lg.shadow-lg.overflow-hidden(class='lg:max-w-none lg:flex')
          .flex-1.bg-gray-50.px-6.py-8(class='lg:p-12')
            h3.text-2xl.font-extrabold.text-gray-900(class='sm:text-3xl')
              | Yearly Membership
            p.mt-6.text-base.text-gray-500
              | Get access to all of accessibility issue tools for only 15 EURO a year.
            .mt-8
              .flex.items-center
                h4.flex-shrink-0.pr-4.bg-gray-50.text-sm.tracking-wider.font-semibold.uppercase.text-indigo-600
                  | What&apos;s included
                .flex-1.border-t-2.border-gray-200
              ul.mt-8.space-y-5(class='lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-5')
                li.flex.items-start(class='lg:col-span-1')
                  .flex-shrink-0
                    // Heroicon name: solid/check-circle
                    svg.h-5.w-5.text-green-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                      path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                  p.ml-3.text-sm.text-gray-700
                    | Works on any website
                li.flex.items-start(class='lg:col-span-1')
                  .flex-shrink-0
                    // Heroicon name: solid/check-circle
                    svg.h-5.w-5.text-green-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                      path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                  p.ml-3.text-sm.text-gray-700
                    | Change the colors
                li.flex.items-start(class='lg:col-span-1')
                  .flex-shrink-0
                    // Heroicon name: solid/check-circle
                    svg.h-5.w-5.text-green-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                      path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                  p.ml-3.text-sm.text-gray-700
                    | Filter issues
                li.flex.items-start(class='lg:col-span-1')
                  .flex-shrink-0
                    // Heroicon name: solid/check-circle
                    svg.h-5.w-5.text-green-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                      path(fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                  p.ml-3.text-sm.text-gray-700
                    | How to fix it
          .py-8.px-6.text-center.bg-gray-50(class='lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12')
            p.text-lg.leading-6.font-medium.text-gray-900
              | Yearly subscription, Only 1 EURO a month
            .mt-4.flex.items-center.justify-center.text-5xl.font-extrabold.text-gray-900
              span
                | €15
              span.ml-3.text-xl.font-medium.text-gray-500
                | EURO
            p.mt-4.text-sm
              a.font-medium.text-gray-500.underline(href='/')
                | Discover Helperbird Pro 
            .mt-6
              .rounded-md.shadow
                a.flex.items-center.justify-center.px-5.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-gray-800.cursor-pointer(href="https://buy.stripe.com/bIY4gX0uM4g41GgeV5" target="_blank" class='hover:bg-gray-900')
                  | Get Access €15.00