


section.pricing_table
  .container-lrg.flex
    .col-12
      .card.flex.mobile-flex-wrap.no_border
        .col-6.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card
          .mb20
            .pricing-header
              p.bold Free
              b.heading Free
              span.paragraph Free forever
            ul.mt20


              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dyslexia fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Reader Mode, Remove ads and distractions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Over 15 different fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Print pages
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google Translate
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Emphasize Links
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text stroke
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sign Language support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Screenshot any page
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Page zoom
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text magnifier

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immersive Reader




              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.spanI Cursor options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Text to speech options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Text search
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Change font sizes
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Change font colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Change background colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Highlighters colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span High contrast mode
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Tint and overlays

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Spell check
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Word spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Letter spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Dictation


              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Dictionary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Vocabulary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Notes feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Optical Character Recognition
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Bookmark folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Organization folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Sync settings & styles
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Google docs and word support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Premium support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span iPad App (Coming soon)


          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(data-target='#downloadModal', data-toggle='modal')
            span Download for Free
        .col-6.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.custom_table_most_popluar
          .popular-badge
            span.popular-badge-inner Most Popular
          .mt20
            .pricing-header
              p.bold Pro
              b.heading#plusPricing $4.99
              b#proPricingBefore(style='text-decoration: line-through')
              span.paragraph#plusPricingText  Billed monthly
            ul.mt20

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dyslexia fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Reader Mode, Remove ads and distractions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Over 15 different fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Print pages
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google Translate
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Emphasize Links
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text stroke
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sign Language support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Screenshot any page
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Page zoom
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text magnifier

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immersive Reader




              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.spanI Cursor options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text search
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font sizes
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change background colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Highlighters colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span High contrast mode
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Tint and overlays

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Spell check
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Word spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Letter spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictation

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictionary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Vocabulary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Notes feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Optical Character Recognition
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Bookmark folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Organization folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sync settings & styles
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google docs and word support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Premium support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span iPad App (Coming soon)


          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center.button-signup.hide#checkout-button-plan_FmS3HONbzTCxGl
            span  Upgrade now
            | 
            span.its_free $30.00
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center#checkout-button-1
            span  Upgrade now
            | 
            span.its_free $4.99


section.section#student 
  .container-lrg.flex
    .flex.flex-column.col-6.center-vertical.mobile-text-center.padding40.banner_sell.reall_red.banner_sell_margin
      h1.heading.primary-color.launchaco-builder-hoverable.white
        span
            | Are you a student?
        span.its_free_a11y.white.hide-on-small-screens
      h3.subheading.secondary-color.mt20.launchaco-builder-hoverable.white
        | Get Helperbird Pro for only $20.00 a year.
      .mt40
          a.button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mobile-text-center.accent-bg.button-signup-free.primary-color#checkout-button-plan_GDtSwhVHQXfaSw
            span  Upgrade now

    .flex.flex-column.col-6.center-vertical.mobile-text-center.padding40.banner_sell.banner_sell_margin.helperbird_background
      h1.heading.primary-color.launchaco-builder-hoverable.white
        span
            | Are you a school or business?
        span.its_free_a11y.white.hide-on-small-screens
      h3.subheading.secondary-color.mt20.launchaco-builder-hoverable.white
        | Get unlimated subscriptions for only $50 a month or $500 a year
      .mt40
    


          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.hides(style="background-color:rgba(220,51,99,1) !important;", href="/pricing", title="Helperbird School pricing")
            span  Learn more

      




style.
    .white{
        color:#fff !important;
    }
    .padding40{
        padding: 40px;
    }





