


section.pricing_table
  .container-xlrg.flex
    .col-12
      .card.flex.mobile-flex-wrap.no_border
        .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card
          .mb20
            .pricing-header
              p.bold Small
              b.heading#startupPricing $40
              span.paragraph Up to 50k monthly pageviews
            ul.mt20
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Full suite of accessibility functions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span WCAG 2.1, Section 508 compliance
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Continuous accessibility monitoring
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Always-on cloud updates
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immediate compliance,

          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.hide.helperbird-widget-small-yearly#checkout-button-startups
            span  Upgrade now
            | 
            span.its_free $400
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.helperbird-widget-small-montly#checkout-button-startups-monthly
            span  Upgrade now
            | 
            span.its_free $40
        
        .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card
          .mb20
            .pricing-header
              p.bold Medium
              b.heading#largePricing $90
              span.paragraph Up to 200k monthly pageviews
            ul.mt20
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Full suite of accessibility functions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span WCAG 2.1, Section 508 compliance
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Continuous accessibility monitoring
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Always-on cloud updates
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immediate compliance,
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dedicated account manager
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.hide.helperbird-widget-medium-yearly#checkout-button-large
            span  Upgrade now
            | 
            span.its_free $900
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.helperbird-widget-medium-monthly#checkout-button-large-monthly
            span  Upgrade now
            | 
            span.its_free $90

        .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card
          .mb20
            .pricing-header
              p.bold Large
              b.heading#massivePricing $120
              span.paragraph  Up to 500k monthly pageviews
            ul.mt20
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Full suite of accessibility functions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span WCAG 2.1, Section 508 compliance
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Continuous accessibility monitoring
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Always-on cloud updates
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immediate compliance,
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dedicated account manager
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.hide.helperbird-widget-large#checkout-button-massive
            span  Upgrade now
            | 
            span.its_free $1,200
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.helperbird-widget-monthly#checkout-button-massive-monthly
            span  Upgrade now
            | 
            span.its_free $120
        .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card
          .mb20
            .pricing-header
              p.bold Enterprise
              b.heading#enterprisePricing $300
              span.paragraph 1 million monthly pageviews
            ul.mt20
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Full suite of accessibility functions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span WCAG 2.1, Section 508 compliance
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Continuous accessibility monitoring
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Always-on cloud updates
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immediate compliance,
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dedicated account manager
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.hide.helperbird-widget-enterprise-yearly#checkout-button-enterprise
            span  Upgrade now
            | 
            span.its_free $3000

          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.helperbird-widget-enterprise#checkout-button-enterprise-monthly
            span  Upgrade now
            | 
            span.its_free $300