.lightblue-gradient#pricing
  section.section_header.website_pricing_header
    .container
      .col-12.text-center
        h1.heading.primary-color.launchaco-builder-hoverable Works everywhere. In every website.
        h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable One subscription, any browser. Available for Chrome, Firefox and Edge.
        h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable Monthly | Annual (20% discount)
        label.switch
          input#annual(name='xxx', type='checkbox')
          span.slider.round

  include pricing.pug