section.section_header.pricing_table
  .container-lrg.flex
    .col-12
      .card.flex.mobile-flex-wrap.no_border
        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card
          .mb20
            .pricing-header
              p.bold Free
              b.heading Free
              span.paragraph Free forever
            ul.mt20


              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dyslexia fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Reader Mode, Remove ads and distractions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Over 15 different fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Print pages
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google Translate
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Emphasize Links
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text stroke
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sign Language support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Screenshot any page
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Page zoom
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text magnifier

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immersive Reader




              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.spanI Cursor options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Text to speech options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Text search
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Change font sizes
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Change font colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Change background colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Highlighters colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span High contrast mode
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Tint and overlays

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Spell check
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Word spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Letter spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Dictation


              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Dictionary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Vocabulary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Notes feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Optical Character Recognition
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Bookmark folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Organization folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Sync settings & styles
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Google docs, Dropbox and word support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Premium support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span iPad App (Coming soon)
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Success manager
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span
                  b Unlimited users

          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(data-target='#downloadModal', data-toggle='modal')
            span Download for Free
        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.custom_table_most_popluar
          .popular-badge
            span.popular-badge-inner Most Popular
          .mt20
            .pricing-header
              p.bold Pro
              b.heading#plusPricing $4.99
              span.paragraph#plusPricingText Billed monthly
            ul.mt20

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dyslexia fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Reader Mode, Remove ads and distractions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Over 15 different fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Print pages
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google Translate
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Emphasize Links
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text stroke
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sign Language support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Screenshot any page
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Page zoom
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text magnifier

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immersive Reader




              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.spanI Cursor options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text search
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font sizes
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change background colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Highlighters colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span High contrast mode
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Tint and overlays

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Spell check
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Word spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Letter spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictation

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictionary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Vocabulary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Notes feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Optical Character Recognition
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Bookmark folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Organization folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sync settings & styles
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google docs, Dropbox and word support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Premium support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span iPad App (Coming soon)
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Success manager
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span
                  b Unlimited users

          a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.yellow_button.hide#checkout-button-plan_FmS3HONbzTCxGl(style="background-color:#f93f7e !important;")
            span Upgrade now
          |  
          a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color.yellow_button#checkout-button-1(style="background-color:#f93f7e !important;")
            span Upgrade now
        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.custom_table_most_popluar
          .mb20
            .pricing-header
              p.bold Education
              b.heading#enterprisePricing $99
              span.paragraph#enterprisePricingText Billed monthly
            ul.mt20

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dyslexia fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Reader Mode, Remove ads and distractions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Over 15 different fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Print pages
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google Translate
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Emphasize Links
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text stroke
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sign Language support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Screenshot any page
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Page zoom
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text magnifier

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immersive Reader





              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.spanI Cursor options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text search
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font sizes
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change background colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Highlighters colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span High contrast mode
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Tint and overlays

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Spell check
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Word spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Letter spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictation

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictionary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Vocabulary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Notes feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Optical Character Recognition
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Bookmark folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Organization folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sync settings & styles
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google docs, Dropbox and word support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Premium support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span iPad App (Coming soon)
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Success manager
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span
                  b Unlimited users
          a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.blue_button.hide#checkout-button-plan_G1OnSt8DIms1PY(style="background-color:#f93f7e;")
            span Upgrade now
          |  
          a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color.blue_button#checkout-button-plan_G1O8Rztm6fFf4R(style="background-color:#f93f7e !important;")
            span Upgrade now
.container-lrg.flex.payments
  .col-12.mobile-text-center.title
    h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40.mt40.white_h1.
      Are you a student?
      
    h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable.text_center Get Helperbird for only $30.00 a year.
    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color.student#checkout-button-plan_GDtSwhVHQXfaSw(style="background-color:#f93f7e !important;")
      span Upgrade now
