


section.pricing_table
  .container-xlrg.flex
    .col-12
      .card.flex.mobile-flex-wrap.no_border
        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card
          .mb20
            .pricing-header
              p.bold Free
              b.heading Free
              span.paragraph Free forever
            ul.mt20


              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dyslexia fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Reader Mode, Remove ads and distractions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Over 15 different fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Print pages
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google Translate
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Emphasize Links
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text stroke
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sign Language support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Screenshot any page
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Page zoom
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text magnifier

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immersive Reader




              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.spanI Cursor options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Text to speech options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Text search
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Change font sizes
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Change font colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Change background colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Highlighters colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span High contrast mode
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Tint and overlays

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Spell check
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Word spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Letter spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Dictation


              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Dictionary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Vocabulary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Notes feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Optical Character Recognition
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Bookmark folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Organization folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Sync settings & styles
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Google docs, Dropbox and word support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span Premium support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span iPad App (Coming soon)
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span
                  b Unlimited users

          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(data-target='#downloadModal', data-toggle='modal')
            span Download for Free
        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.custom_table_most_popluar
          .popular-badge
            span.popular-badge-inner Most Popular
          .mt20
            .pricing-header
              p.bold Pro
              b.heading#plusPricing $4.99
              b#proPricingBefore(style='text-decoration: line-through')
              span.paragraph#plusPricingText  Billed monthly
            ul.mt20

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dyslexia fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Reader Mode, Remove ads and distractions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Over 15 different fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Print pages
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google Translate
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Emphasize Links
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text stroke
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sign Language support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Screenshot any page
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Page zoom
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text magnifier

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immersive Reader




              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.spanI Cursor options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text search
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font sizes
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change background colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Highlighters colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span High contrast mode
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Tint and overlays

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Spell check
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Word spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Letter spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictation

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictionary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Vocabulary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Notes feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Optical Character Recognition
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Bookmark folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Organization folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sync settings & styles
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google docs, Dropbox and word support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Premium support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span iPad App (Coming soon)
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-times-circle
                span.span
                  b Unlimited users

          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.hide#checkout-button-plan_FmS3HONbzTCxGl
            span  Upgrade now
            | 
            span.its_free $30.00
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center#checkout-button-1
            span  Upgrade now
            | 
            span.its_free $4.99




        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.custom_table_most_popluar
          .mt20
            .pricing-header
              p.bold Unlimited users
              b.heading#enterprisePricing $50
              b#enterprisePricingBefore(style='text-decoration: line-through') $99
              span.paragraph#enterprisePricingText  Billed monthly
            ul.mt20

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dyslexia fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Reader Mode, Remove ads and distractions
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Over 15 different fonts
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Print pages
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google Translate
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Emphasize Links
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text stroke
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sign Language support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Screenshot any page
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Page zoom
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text magnifier

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Immersive Reader




              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.spanI Cursor options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text to speech options
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Text search
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font sizes
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change font colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Change background colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Highlighters colors
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span High contrast mode
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Tint and overlays

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Spell check
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Word spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Letter spacing
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictation

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictionary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Vocabulary feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Notes feature
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Optical Character Recognition
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Bookmark folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Organization folders
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Sync settings & styles
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google docs, Dropbox and word support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Premium support
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span iPad App (Coming soon)
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span
                  b Unlimited users

          button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center.hide#checkout-button-plan_G1OnSt8DIms1PY
            span  Upgrade now
            | 

            span.its_free $500
          button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.text-center#checkout-button-plan_G1O8Rztm6fFf4R



            span  Upgrade now
            |
            span.its_free $50



