


section.pricing_table
  .container-xlrg.flex
    .col-12
      .card.flex.mobile-flex-wrap.no_border
        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card_new.free
          .pricing-header_new
            p.bold Startup
            p For small websites and blogs.
          .pricing-header_new
            b.heading.pricing_control#startupPricing $30/monthly

          .pricing-header_new.pricing-header_new_features
            p.bold Features
          ul.mb20
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Font changer
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Full suite of accessibility functions
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span WCAG 2.1, Section 508 compliance
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Continuous accessibility monitoring
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Always-on cloud updates
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Immediate compliance

          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center.button-signup.hide.helperbird-widget-small-yearly#checkout-button-startups
            span  Upgrade now
            | 
            span.its_free $300
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center.button-signup.helperbird-widget-small-montly#checkout-button-startups-monthly
            span  Upgrade now
            | 
            span.its_free $30
        


        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.pricing_table.pricing_table_card_new.business
          .pricing-header_new
            p.bold  Large
            p For large websites and web apps.
          .pricing-header_new
            b.heading.pricing_control#largePricing $99/monthly

          .pricing-header_new.pricing-header_new_features
            p.bold Features
          ul.mb20
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Full suite of accessibility functions
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span WCAG 2.1, Section 508 compliance
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Continuous accessibility monitoring
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Always-on cloud updates
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Immediate compliance
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dedicated account manager
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center.button-signup.hide.helperbird-widget-large#checkout-button-large
            span  Upgrade now
            | 
            span.its_free $1,000
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center.button-signup.helperbird-widget-monthly#checkout-button-large-monthly
            span  Upgrade now
            | 
            span.its_free $99


        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card_new.custom_table_most_popluar.discount


          .pricing-header_new
            p.bold  Unlimited
            p Totally unlimited wild card domains.
          .pricing-header_new
            b.heading.pricing_control#enterprisePricing $150/monthly

          .pricing-header_new.pricing-header_new_features
            p.bold Features
          ul.mb20
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Full suite of accessibility functions
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span WCAG 2.1, Section 508 compliance
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Continuous accessibility monitoring
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Always-on cloud updates
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Immediate compliance
            li.flex.mb15
              p.pricing_icon
                i.fas.fa-check-circle
              span.span Dedicated account manager
          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center.button-signup.hide.helperbird-widget-enterprise-yearly#checkout-button-enterprise
            span  Upgrade now
            | 
            span.its_free $1500

          a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.pink.text-center.button-signup.helperbird-widget-enterprise#checkout-button-enterprise-monthly
            span  Upgrade now
            | 
            span.its_free $150