section.section_header.pricing_table
    .container-lrg.flex
        .col-12
            .card.flex.mobile-flex-wrap.no_border

                .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left
                    div.pricing_photo
                        //include ../svgs/take_a_note.svg
                    .mb20
                        p.bold Evening study 2
                        b.heading €
                        b.heading 
                            stike 190.00       
                        span.paragraph  every 6 months 
                        ul.mt20
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check                                            
                                span.span Specialized fonts for dyslexics
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | No advertisements, tracking, selling or storing of user data
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Blacklist - disable Helperbird from running on
                                    | individual sites
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dictionary
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Notes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Speech to text
                    button.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg#checkout-button-plan_Fm74kVj58y0z2P
                        span  Subscribe Now 

                .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left
                    div.pricing_photo
                        //include ../svgs/teacher.svg
                    .mb20
                        p.bold Evening study
                        b.heading €
                        b.heading 
                            stike 108.00
                        span.paragraph  every 2 months 
                        ul.mt20
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check                                            
                                span.span Specialized fonts for dyslexics
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | No advertisements, tracking, selling or storing of user data
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Blacklist - disable Helperbird from running on
                                    | individual sites
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dictionary
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Notes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Speech to text
                    button.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg#checkout-button-plan_Fm6apDfonBmgVd
                        span  Subscribe Now 






                .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left
                    div.pricing_photo
                        //include ../svgs/going_to_school.svg
                    .mb20
                        p.bold TY registration
                        b.heading €
                        b.heading 
                            stike 250.00
                        span.paragraph  every 4 months 
                        ul.mt20
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check                                            
                                span.span Specialized fonts for dyslexics
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | No advertisements, tracking, selling or storing of user data
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Blacklist - disable Helperbird from running on
                                    | individual sites
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dictionary
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Notes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Speech to text
                    button.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg#checkout-button-plan_Fm6Ze6rTFyVgDW
                        span  Subscribe Now 





                .col-3.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left
                    div.pricing_photo
                        //include ../svgs/teacher.svg
                    .mb20
                        p.bold TY registration
                        b.heading €
                        b.heading 
                            stike 60.00
                        span.paragraph  every 6 months 
                        ul.mt20
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check                                            
                                span.span Specialized fonts for dyslexics
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | No advertisements, tracking, selling or storing of user data
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Blacklist - disable Helperbird from running on
                                    | individual sites
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dictionary
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Notes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Speech to text
                    button.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg#checkout-button-plan_FnYhhZo2uEbr3O
                        span  Subscribe Now 











    script(src='https://js.stripe.com/v3')
    script.
        var stripe = Stripe('pk_live_nEAFiiPwv8dNs2QI1aWIh06o00FWgK5zLu');

        var checkoutButton = document.getElementById('checkout-button-plan_FnYhhZo2uEbr3O');
        checkoutButton.addEventListener('click', function () {
            // When the customer clicks on the button, redirect
            // them to Checkout.
            stripe.redirectToCheckout({
            items: [{plan: 'plan_FnYhhZo2uEbr3O', quantity: 1}],

            // Do not rely on the redirect to the successUrl for fulfilling
            // purchases, customers may not always reach the success_url after
            // a successful payment.
            // Instead use one of the strategies described in
            // https://stripe.com/docs/payments/checkout/fulfillment
            successUrl: 'https://www.helperbird.com/success',
            cancelUrl: 'https://www.helperbird.com/canceled',
            })
            .then(function (result) {
            if (result.error) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, display the localized error message to your customer.
                var displayError = document.getElementById('error-message');
                displayError.textContent = result.error.message;
            }
            });
        });

    script.
        var stripe = Stripe('pk_live_nEAFiiPwv8dNs2QI1aWIh06o00FWgK5zLu');
        var checkoutButton = document.getElementById('checkout-button-plan_Fm74kVj58y0z2P');
        checkoutButton.addEventListener('click', function () {
        // When the customer clicks on the button, redirect
        // them to Checkout.
        stripe.redirectToCheckout({
        items: [{plan: 'plan_Fm74kVj58y0z2P', quantity: 1}],
        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: 'https://www.helperbird.com/welcome?payment=true',
        cancelUrl: 'https://www.helperbird.com/support?payment=false',
        })
        .then(function (result) {
        if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
        }
        });
        });


    script.
        var stripe = Stripe('pk_live_nEAFiiPwv8dNs2QI1aWIh06o00FWgK5zLu');
        var checkoutButton = document.getElementById('checkout-button-plan_Fm6apDfonBmgVd');
        checkoutButton.addEventListener('click', function () {
        // When the customer clicks on the button, redirect
        // them to Checkout.
        stripe.redirectToCheckout({
        items: [{plan: 'plan_Fm6apDfonBmgVd', quantity: 1}],
        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: 'https://www.helperbird.com/welcome?payment=true',
        cancelUrl: 'https://www.helperbird.com/support?payment=false',
        })
        .then(function (result) {
        if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
        }
        });
        });


    script.
        var stripe = Stripe('pk_live_nEAFiiPwv8dNs2QI1aWIh06o00FWgK5zLu');
        var checkoutButton = document.getElementById('checkout-button-plan_Fm6Ze6rTFyVgDW');
        checkoutButton.addEventListener('click', function () {
        // When the customer clicks on the button, redirect
        // them to Checkout.
        stripe.redirectToCheckout({
        items: [{plan: 'plan_Fm6Ze6rTFyVgDW', quantity: 1}],
        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: 'https://www.helperbird.com/welcome?payment=true',
        cancelUrl: 'https://www.helperbird.com/support?payment=false',
        })
        .then(function (result) {
        if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
        }
        });
        });
