<div class="relative py-16">
	<div class="absolute inset-x-0 top-0 hidden h-1/2 lg:block" aria-hidden="true"></div>
	<div class="mx-auto max-w-7xl bg-blue-600 lg:bg-transparent lg:px-8">
		<div class="lg:grid lg:grid-cols-12">
			<div
				class="relative z-10 lg:col-span-4 lg:col-start-1 lg:row-start-1 lg:bg-transparent lg:py-16"
			>
				<div class="absolute inset-x-0 h-1/2 bg-white lg:hidden" aria-hidden="true"></div>
				<div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-none lg:p-0">
					<div class="aspect-w-10 aspect-h-6 sm:aspect-w-2 sm:aspect-h-1 lg:aspect-w-1">
						<img
							class="rounded-3xl object-cover object-center shadow-2xl"
							src="https://images.unsplash.com/photo-1507207611509-ec012433ff52?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80"
							alt="Photo of Helperbird user Jack Salem."
						/>
					</div>
				</div>
			</div>

			<div
				class="relative bg-blue-600 lg:col-span-10 lg:col-start-3 lg:row-start-1 lg:grid lg:grid-cols-10 lg:items-center lg:rounded-3xl"
			>
				<div
					class="relative mx-auto max-w-md space-y-6 py-12 px-4 sm:max-w-3xl sm:py-16 sm:px-6 lg:col-span-6 lg:col-start-4 lg:max-w-none lg:p-0"
				>
					<h2 class="text-3xl font-extrabold text-white" id="join-heading">
						Award winning support
					</h2>
					<p class="text-lg text-white">
						At Helperbird, we pride ourselves on providing top-notch customer support. Our team is made up of real, friendly humans, never bots. If you need assistance, don't hesitate to reach out to us. We promise to get back to you within 5 minutes or less.
					</p>
					<a
						class="hover: block w-full rounded-md border border-transparent bg-white bg-white py-3 px-5 text-center text-base font-medium text-blue-700 shadow-md sm:inline-block sm:w-auto"
						href="/pricing/"
						>See pricing</a
					>

					<a
						class="hover: block w-full rounded-md border border-transparent bg-white bg-white py-3 px-5 text-center text-base font-medium text-blue-700 shadow-md sm:inline-block sm:w-auto"
						href="/support/"
						>Contact support</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
