<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
    <div class="relative max-w-xl mx-auto">
      
      <div class="text-center">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Contact sales</h2>
        <p class="mt-4 text-lg leading-6 text-gray-500">You get all the top in class features of Helperbird Pro plus these other benefits.</p>
      </div>
      <div class="mt-12">
        <div  class="grid grid-cols-1 gap-y-6 sm:grid-cols-1 sm:gap-x-8">
            <iframe frameborder="0" height="1093" inheight="0" loading="lazy" marginwidth="0"
            src="https://docs.google.com/forms/u/0/d/e/1FAIpQLSchfyeDdrm7JTBWpzGhw9wQC00iF7VRcBkhCssEp0QlV21SGQ/formResponse?embedded=true" title="Helperbird support fourm " width="100%">Loading...</iframe>
        </div>
      </div>
    </div>
  </div>
  