<div>
	<div class="mx-auto max-w-4xl px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:px-8 lg:pt-24">
	
		<div class="px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 xl:px-0">
			<h2 id="category-heading" class="text-5xl font-bold tracking-tight text-gray-900">		Features at a glance</h2>
			<a href="/features/" class="hidden text-base font-semibold underline decoration-wavy decoration-blue-500 hover:underline hover:decoration-wavy hover:decoration-pink-500 sm:block">
			  See all features
			  <span aria-hidden="true"> →</span>
			</a>
		  </div>



		<p class="mt-5 max-w-5xl text-2xl">
			Helperbird offers a variety of powerful tools to enhance your web experience and meet your accessibility, reading, writing or productivity needs. These tools allow you to customize the web to suit your specific needs and improve your overall efficiency.
		</p>

		<p class="mt-5 max-w-5xl text-2xl">
			Game-changing features such as Reader Mode, Immersive Reader, dyslexia support, text-to-speech with natural voices, text extracting, word prediction, voice typing, and 28 other features to transform your web experience.
		</p>

		<div class="mt-8 flex flex-wrap space-y-4 text-center sm:space-y-0 sm:space-x-4">
			<a
				class="btn-base btn btn-outline mr-4 hidden sm:flex border-stone-600 border-2"
				href="/features/"
				>See all features</a
			>
		</div>

		<div
			class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16"
		>
			{%- for post in collections.features limit:7 -%}

		

			<div class="card border-stone-600 border-2  bg-white rounded-3xl">

				<div class="card-body">
					<div>
						<div
							class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-blue-500 text-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
						>
							{{ post.data.icon | svgContents | safe }}
						</div>
					</div>
	  
				  <h3 class="text-xl font-medium text-black mb-2">{{ post.data.cardTitle }}</h3>
				  <p class="mt-2 text-base text-text mb-10">
					{{ post.data.featureDescription }}
				  </p>
				  <div class="card-actions justify-end">
					<a
					  class="btn-base btn btn-outline  border-stone-600 border-2"
					  href="{{ post.url }}"
					  target="_blank"
					  rel="noreferrer"
					  title="More information on feature {{post.data.cardTitle }}">
					  Discover more
					</a>
				  </div>
				</div>
			  </div>

			{%- endfor -%}
		</div>
	</div>
</div>
