<div>
    <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
        <div class="card bg-white">
            <div class="card-body">
                <h2 class="text-4xl font-extrabold text-black tracking-tight">Features at glance</h2>
                <p class="mt-4 max-w-3xl text-lg text-black">
                    Helperbird offers a range of power tools to customize the web to your needs to improve your accessibility, reading, writing, studying, and productivity needs.
                                        
                                        Game-changing features like Reader Mode, Immersive Reader by Microsoft, Dyslexia support (Fonts, rulers, overlays), text to speech with natural voices, text extracting, translations, word prediction, voice typing, and 28 other  features.

                </p>
                <div class="flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4 text-center mt-8">
                    <a class="w-full sm:w-auto flex-none  inline-flex px-4 py-2  text-base font-medium rounded-md  btn btn-primary" href="/features/">See all features</a>
                </div>
            </div>
        </div>
        <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">

            {%- for post  in collections.features -%}

                <div class=" bg-white   rounded-lg p-6  ">
                    <div>
                        <span class="flex items-center justify-center h-12 w-12 rounded-full text-black">
                            {{  post.data.icon | svgContents | safe }}
                        </span>
                    </div>
                    <div class="mt-6">
                        <h3 class="text-xl font-medium text-black">{{ post.data.featureTitle }}</h3>
                        <p class="mt-2 text-base text-black">{{ post.data.featureDescription }}</p>

                        <div class="items-center max-w-md ">

                            <a class="mt-6 btn btn-primary mr-2" href="{{ post.data.url }}" title="More information on feature {{ post.data.featureTitle  }}">Discover more</a>
                            <a class="mt-6 btn btn-outline btn-secondary" href="{{ post.data.url }}#videos" title="More information on feature {{ post.data.featureTitle  }}">See it in action</a>
                        </div>

                       
                    </div>
                </div>

            {%- endfor -%}


        </div>
    </div>
</div>
