<div class="relative bg-white card   overflow-hidden mb-12 mt-12">
    <div class="relative card-body">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
            <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
                <div>
                    <div class="flex">

                        <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 flex-1">
                            Level up your study & research skills
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg text-black">


                            Leave sticky notes or use our highlighter to highlight important text on websites, documents, pdfs, ebooks and everything else on the website.
                            <br>
                            Want to read a article later? Save it to your reading list.
                            <br>
                            Helperbird brings all the tools you need to bring your study skills to the next.
                            <br>
                            Supports
                            <span class="text-orange-500">Google Classroom</span>,
                            <span class="text-sky-500">Word</span>,
                            <span class="text-blue-500">Google Docs</span>
                            and
                            <span class="text-yellow-400">Slides</span>.

                        </p>
                        <div class="mt-6">
                            <a class="inline-flex px-4 py-2  text-base font-medium  btn btn-primary" href="/features/annotation/">Annotation features</a>
                        </div>
                    </div>
                </div>
                <div class="mt-8 border-t border-gray-200 pt-6">
                    <blockquote>
                        <div>
                            <p class="text-base text-black">
                                “I have been trying to find ways to make my child happy to go to
                                                                                                                                                                                                                                				  school again, and someone recommended helperbird. She loves
                                                                                                                                                                                                                                				  helperbird, and she is now much happier about the idea of
                                                                                                                                                                                                                                				  returning to school. I think this might be a game changer, as
                                                                                                                                                                                                                                				  they do so much web based schoolwork and research. She says
                                                                                                                                                                                                                                				  "they really understand people with dyslexia.”
                            </p>
                        </div>
                        <footer class="mt-3">
                            <div class="flex items-center space-x-3">
                                <div class="flex-shrink-0">
                                    <img class="h-6 w-6 rounded-full" loading="lazy" src="https://www.gstatic.com/s2/contacts/images/NoPicture.gif" alt="Photo of Helperbirds user"/>
                                </div>
                                <div class="text-base font-medium text-gray-700">
                                    Cris Townley, Parent
                                </div>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="mt-16 sm:mt-16 lg:mt-44">
                <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                    <source src="/assets/videos/annotation.webm" type="video/webm"/>
                    <source src="/assets/videos/annotation.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>
</div>

<div class="relative bg-white card   overflow-hidden mb-12 mt-12">
    <div class="relative card-body">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
            <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
                <div>
                    <div class="flex">

                        <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 flex-1">
                            Customize & View clutter-free web pages!
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg text-black">
                            Helperbird's Reader mode strips away clutter-like ads and navigation while also letting you customize the layout and theme to fit your reading style. Making every website clutter and a distraction-free reading experience.

                        </p>
                        <p class="mt-2 text-lg text-black">
                            Fonts include Lexend,
                            <b>OpenDyslexic</b>, and 18 others.
                        </p>
                        <p class="mt-2 text-lg text-black">
                            Built in
                            <b>Dyslexia support</b>
                            with Dyslexia Rulers, Overlays, text-to-speech and more to help you read any webpage.


                        </p>
                        <div class="mt-6">
                            <a class="inline-flex px-4 py-2  text-base font-medium rounded-md  btn btn-primary" href="/features/specialised-dyslexic-fonts/">Dyslexia support</a>

                            <a class="inline-flex px-4 py-2  text-base font-medium rounded-md  btn btn-outline btn-secondary" href="/features/reader-mode-for-chrome-and-firefox/">Reader Mode</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-16 sm:mt-16 lg:mt-44 lg:col-start-1">
                <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                    <source src="/assets/videos/font.webm" type="video/webm"/>
                    <source src="/assets/videos/font.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>
</div>

<div class="relative bg-white card   overflow-hidden mb-12 mt-12">
    <div class="relative card-body">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
            <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
                <div>
                    <div class="flex">

                        <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 flex-1">
                            Reading & writing tools
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg text-black">


                            <b>Word prediction</b>
                            at your fingertips on every website as you type with English, German, Spanish and French support. That's right even Google Docs.
                        </p>
                        <p class="mt-4 text-lg text-black">
                            Speak instead of typing on every website with our
                            <b>Voice typing</b>.
                        </p>
                        <p class="mt-4 text-lg text-black">
                            Along with Reader Mode,
                            <b>Speed reading</b>,
                            <b>Immersive reader</b>, Text to speech with over 30 voices, and 28 other features to help with your reading and writing.


                        </p>
                        <div class="mt-6">
                            <a class="inline-flex px-4 py-2  text-base font-medium rounded-md  btn btn-primary" href="/features/word-prediction/">Word prdiction</a>
                            <a class="inline-flex px-4 py-2  text-base font-medium rounded-md  btn btn-outline btn-secondary" href="/features/speech-to-text/">Voice typing</a>
                        </div>
                    </div>
                </div>
                <div class="mt-8 border-t border-gray-200 pt-6">
                    <blockquote>
                        <div>
                            <p class="text-base text-black">
                                “Have an amazing collection of assistive tools that have
                                                                                                                                                                                                                                				  benefits for everyone. For me, the combination of Microsoft's
                                                                                                                                                                                                                                				  Immersive Reader and Apple's reading machine voice (US Alex)
                                                                                                                                                                                                                                				  makes Helperbird my first choice for processing web content.”
                            </p>
                        </div>
                        <footer class="mt-3">
                            <div class="flex items-center space-x-3">
                                <div class="flex-shrink-0">
                                    <img class="h-6 w-6 rounded-full" loading="lazy" src="https://lh3.googleusercontent.com/a-/AOh14GgzGq40AO1sKGZ062f4AjhTf7WugrJkO_MBbVsHEw=s40-c-k" alt="Jim spirtal"/>
                                </div>
                                <div class="text-base font-medium text-gray-700">
                                    Jim Sprialis, Digital Marketing Manager
                                </div>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="mt-16 sm:mt-16 lg:mt-44">
                <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
                    <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                        <source src="/assets/videos/readermode.webm" type="video/webm"/>
                        <source src="/assets/videos/readermode.mp4" type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="relative bg-white card   overflow-hidden mb-12 mt-12">
    <div class="relative card-body">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
            <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
                <div>
                    <div class="flex">

                        <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 flex-1">
                            Listen to any part of a Webpage and Google Docs
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg text-black">
                            Turn text into life like natural speech. Helperbirds' text to speech allows you to read the content of any website, ebook, PDF or Google Docs with Natural sounding voices.
                        </p>
                        <p class="mt-4 text-lg text-black">
                            Helperbird has natural award-winning text to speech.
                        </p>
                        <p class="mt-4 text-lg text-black">
                            Features include
                            <b>20 plus voices</b>, pitch, speed and volume controls.

                        </p>
                        <div class="mt-6">
                            <a class="inline-flex px-4 py-2  text-base font-medium rounded-md  btn btn-primary" href="/features/text-to-speech/">Text to speech</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-16 sm:mt-16 lg:mt-44 lg:col-start-1">
                <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
                    <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                        <source src="/assets/videos/listen.webm" type="video/webm"/>
                        <source src="/assets/videos/listen.mp4" type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="relative bg-white card   overflow-hidden mb-12 mt-12">
    <div class="relative card-body">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
            <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
                <div>
                    <div class="flex">

                        <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 flex-1">

                            Support every type of learner including learning difficulties
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg text-black">

                            Helperbirds' goal is to help everyone with and without a learning difficulties.
                        </p>
                        <p class="mt-4 text-lg text-black">
                            Helperbird offers award-winning support for
                            <b>dyslexia</b>, reading, writing, color blindness,
                            <b>second langue learners</b>
                            and everyone else.
                        </p>
                        <p class="mt-4 text-lg text-black">
                            Everyone is different and have their own way to learn. Helperbird supports every learner by giving them the tools they need to achieve.

                        </p>
                        <div class="mt-6">
                            <a class="inline-flex px-4 py-2  text-base font-medium rounded-md  btn btn-primary" href="/features/immersive-reader-for-chrome/">Get started</a>
                        </div>
                    </div>
                </div>
                <div class="mt-8 border-t border-gray-200 pt-6">
                    <blockquote>
                        <div>
                            <p class="text-base text-black">
                                “I purchased this for my daughter who has been having a lot of
                                                                                                                                                                                                                                				  difficulty accessing the online work set remotely by her
                                                                                                                                                                                                                                				  teachers during our National Lockdown because of Covid-19. Her
                                                                                                                                                                                                                                				  dyslexia was really hindering her ability to complete tasks and
                                                                                                                                                                                                                                				  keep up which in turn led to increased anxiety levels...a really
                                                                                                                                                                                                                                				  horrid place to be in during a global pandemic! Helper bird has
                                                                                                                                                                                                                                				  been a vast help and I fully recommend it and wish more schools
                                                                                                                                                                                                                                				  knew about it. Thank You Helper Bird.”
                            </p>
                        </div>
                        <footer class="mt-3">
                            <div class="flex items-center space-x-3">
                                <div class="flex-shrink-0">
                                    <img class="h-6 w-6 rounded-full" loading="lazy" src="https://www.gstatic.com/s2/contacts/images/NoPicture.gif" alt="Photo of Helperbirds user"/>
                                </div>
                                <div class="text-base font-medium text-gray-700">
                                    Michelle Howard-Price, Parent
                                </div>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="mt-16 sm:mt-16 lg:mt-44">
                <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
                    <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                        <source src="/assets/videos/immersive.webm" type="video/webm"/>
                        <source src="/assets/videos/immersive.mp4" type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
