<div class="py-16 bg-white overflow-hidden lg:py-24 pb-16">
	<div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
		<div class="relative">
			<h2
				class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
			>
				Helperbird is the complete Toolkit for accessibility on the web.
			</h2>
			<p class="mt-4 max-w-3xl mx-auto text-center text-xl   text-black ">
				Helperbird offers a range of powerful tools to customize the web to your needs to improve
				accessibility, reading, writing, studying, and productivity
			</p>
		</div>
		<div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
			<div class="relative">
				<h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
					Customize your web experience
				</h3>
				<p class="mt-3 text-lg   text-black ">
					Helperbird offers a range of powerful tools to customize the web to your needs to improve
					accessibility, reading, writing, studying and productivity.
				</p>
				<dl class="mt-10 space-y-10">
					<dd>
						<div class="relative mb-6 mt-8">
							<dl>
								<dt></dt>
								<dd>
									<div
										class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
									>
										<!-- Heroicon name: outline/globe-alt -->
										<svg
											aria-hidden="true"
											class="h-6 w-6"
											fill="none"
											stroke="currentColor"
											viewbox="0 0 24 24"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
									<p class="ml-16 text-lg leading-6 font-medium text-gray-900">
										Customize everything
									</p>
								</dd>
								<dd class="mt-2 ml-16 text-base   text-black ">
									Change the web to your needs. Change the background color, fonts, text color, font
									sizes, remove images and more. You name it, with Helperbird you can change
									everything on the page.
								</dd>
							</dl>
						</div>
						<div class="relative mb-6 mt-8">
							<dl>
								<dt></dt>
								<dd>
									<div
										class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
									>
										<!-- Heroicon name: outline/scale -->
										<svg
											aria-hidden="true"
											class="h-6 w-6"
											fill="none"
											stroke="currentColor"
											viewbox="0 0 24 24"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
									<p class="ml-16 text-lg leading-6 font-medium text-gray-900">Dyslexia Support</p>
								</dd>
								<dd class="mt-2 ml-16 text-base   text-black ">
									Helperbird has over 14 fonts designed to help with reading on the web, from Lexend
									to OpenDyslexic, you name it. Overlays, Reading Guides, Reading masks, Text to
									Speech, and Dyslexia rulers. Plus many more features.
								</dd>
							</dl>
						</div>
						<div class="relative mb-6 mt-8">
							<dl>
								<dt></dt>
								<dd>
									<div
										class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
									>
										<!-- Heroicon name: outline/lightning-bolt -->
										<svg
											aria-hidden="true"
											class="h-6 w-6"
											fill="none"
											stroke="currentColor"
											viewbox="0 0 24 24"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M13 10V3L4 14h7v7l9-11h-7z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"
											></path>
										</svg>
									</div>
									<p class="ml-16 text-lg leading-6 font-medium text-gray-900">
										Accessibility tools
									</p>
								</dd>
								<dd class="mt-2 ml-16 text-base   text-black ">
									Helperbird is designed on the word accessibility, change everything from the
									cursor size, shortcuts, Immersive Reader, Reader Mode (Remove all distractions),
									and our powerful OCR tool. Plus many more features.
								</dd>
							</dl>
						</div>
					</dd>
				</dl>
			</div>
			<div aria-hidden="true" class="mt-10 -mx-4 relative lg:mt-0">
				<div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
					<video
						autoplay="autoplay"
						class="w-full rounded-xl lg:right-0 lg:h-full lg:w-auto lg:max-w-lg m-8 rounded-lg shadow-lg"
						control="control"
						height="502"
						loop="loop"
						muted="muted"
						playsinline="playsinline"
						width="680"
					>
						<source src="/assets/videos/readermode.webm" type="video/webm" />
						<source src="/assets/videos/readermode.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
		<div class="relative mt-12 sm:mt-16 lg:mt-24">
			<div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
				<div class="lg:col-start-2">
					<h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
						Increase Productivity
					</h3>
					<p class="mt-3 text-lg   text-black ">
						From annotate any website you visit, immersive reader, speech to text, Reader Mode,
						removing ads and 20 other features. Helperbird users make getting work done quicker and
						easier on the web.
					</p>
					<dl class="mt-10 space-y-10">
						<dd>
							<div class="relative mb-6 mt-6">
								<dl>
									<dt></dt>
									<dd>
										<div
											class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
										>
											<!-- Heroicon name: outline/annotation -->
											<svg
												aria-hidden="true"
												class="h-6 w-6"
												fill="none"
												stroke="currentColor"
												viewbox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg"
											>
												<path
													d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="2"
												></path>
											</svg>
										</div>
										<p class="ml-16 text-lg leading-6 font-medium text-gray-900">
											View clutter-free web pages
										</p>
									</dd>
									<dd class="mt-2 ml-16 text-base   text-black ">
										Helperbird gives you a Reader Mode that removes ads and distractions from any
										webpage with complete customization.
									</dd>
								</dl>
							</div>
							<div class="relative mb-6 mt-6">
								<dl>
									<dt></dt>
									<dd>
										<div
											class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
										>
											<!-- Heroicon name: outline/mail -->
											<svg
												aria-hidden="true"
												class="h-6 w-6"
												fill="none"
												stroke="currentColor"
												viewbox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg"
											>
												<path
													d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="2"
												></path>
											</svg>
										</div>
										<p class="ml-16 text-lg leading-6 font-medium text-gray-900">
											Annotate any website
										</p>
									</dd>
									<dd class="mt-2 ml-16 text-base   text-black ">
										Highlight or annotate web pages, documents, pdfs, ebooks and more to improve
										research and study. Leaving sticking notes that help you with your research and
										homework.
									</dd>
								</dl>
							</div>
							<div class="relative mb-6 mt-6">
								<dl>
									<dt></dt>
									<dd>
										<div
											class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
										>
											<!-- Heroicon name: outline/annotation -->
											<svg
												aria-hidden="true"
												class="h-6 w-6"
												fill="none"
												stroke="currentColor"
												viewbox="0 0 24 24"
												xmlns="http://www.w3.org/2000/svg"
											>
												<path
													d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="2"
												></path>
											</svg>
										</div>
										<p class="ml-16 text-lg leading-6 font-medium text-gray-900">
											Immersive reader for Chrome
										</p>
									</dd>
									<dd class="mt-2 ml-16 text-base   text-black ">
										Immersive Reader is a free tool that implements proven techniques to improve
										reading and writing for people, regardless of their age or ability.
									</dd>
								</dl>
							</div>
						</dd>
					</dl>
				</div>
				<div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
					<div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
						<video
							autoplay="autoplay"
							class="rounded-xl lg:h-full lg:w-auto lg:max-w-lg rounded-lg shadow-lg"
							control="control"
							height="502"
							loop="loop"
							muted="muted"
							playsinline="playsinline"
							width="680"
						>
							<source src="/assets/videos/readermode.webm" type="video/webm" />
							<source src="/assets/videos/readermode.mp4" type="video/mp4" />
						</video>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
