<div class="card relative mb-10 mt-10 overflow-hidden border-2 border-stone-600 bg-white">
    <div class="card-body relative">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
            <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                <div>
                    <div class="flex">
                        <h2 class="flex-1 text-3xl font-extrabold tracking-tight text-gray-900">
                            Enhance your study and research abilities
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg tracking-tight text-black">
                            With Helperbird, you can easily leave
                            <a href="/features/annotation/" class="text-base font-bold underline decoration-blue-500 decoration-wavy hover:underline hover:decoration-pink-500 hover:decoration-wavy">sticky notes</a>
                            or highlight important text on websites, documents, PDFs or eBooks.
                        </p>
                        <p class="text-lg tracking-tight text-black">
                            If you want to save an article to read later, simply add it to your
                            <a href="/features/annotation/" class="text-base font-bold underline decoration-blue-500 decoration-wavy hover:underline hover:decoration-pink-500 hover:decoration-wavy">reading list</a>. Helperbird provides all the tools you need to elevate your study skills and
                                							increase your productivity.
                        </p>
                        <p class="text-lg tracking-tight text-black">
                            Additionally, Helperbird integrates with Google Classroom,
                            <a href="/products/google-addon/" title="Helperbirds Google Docs add-on" class="text-base font-bold underline decoration-blue-500 decoration-wavy hover:underline hover:decoration-pink-500 hover:decoration-wavy">Google Docs</a>, and
                            <a href="/products/google-addon/" title="Helperbirds Google Slide add-on" class="text-base font-bold underline decoration-blue-500 decoration-wavy hover:underline hover:decoration-pink-500 hover:decoration-wavy">Google Slides</a>
                            to enhance your academic and professional workflow.
                        </p>

                        <div class="mt-6 gap-2">
                            <a class="btn-base btn btn-outline mr-4 border-2 border-stone-600" href="/features/annotation/">Annotation features</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0">
                <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                    <source src="/assets/videos/annotation.webm" type="video/webm"/>
                    <source src="/assets/videos/annotation.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>
</div>

<div class="card relative mb-10 mt-10 overflow-hidden border-2 border-stone-600 bg-white">
    <div class="card-body relative">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
            <div class="mx-auto max-w-xl px-4 sm:px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                <div>
                    <div class="flex">
                        <h2 class="flex-1 text-3xl font-extrabold tracking-tight text-gray-900">
                            Customize & View clutter-free web pages!
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg text-black">
                            Helperbird's Reader mode simplifies web pages by removing distractions such as
                            							buttons, ads, background images, and videos. 
														</p>
														<p class="text-lg tracking-tight text-black">
														You can also customize the layout and
                            							theme to suit your reading preferences. With a range of fonts, including Lexend, Open
                            							Dyslexic, and 18 others, as well as rulers, text-to-speech, and dyslexia support, you
                            							can easily read any webpage with ease.
                        </p>
                        <div class="mt-6 gap-2">
                            <a class="btn-base btn btn-outline mr-4 border-2 border-stone-600" href="/features/specialised-dyslexic-fonts/">Dyslexia support</a>

                            <a class="btn-base btn btn-outline mr-4 border-2 border-stone-600" href="/features/reader-mode-for-chrome-and-firefox/">Reader Mode</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
                <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                    <source src="/assets/videos/font.webm" type="video/webm"/>
                    <source src="/assets/videos/font.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>
    </div>
</div>

<div class="card relative mb-10 mt-10 overflow-hidden border-2 border-stone-600 bg-white">
    <div class="card-body relative">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
            <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                <div>
                    <div class="flex">
                        <h2 class="flex-1 text-3xl font-extrabold tracking-tight text-gray-900">
                            Reading & writing tools
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg text-black">
                            Helperbird's word prediction feature is available in English, German, Spanish, and
                            							French on every website, including Google Docs, as you type. 
														</p>
														<p class="text-lg tracking-tight text-black">
														In addition to our Reader
                            							Mode, dictionary, text-to-speech with over 30 voices, Immersive reader, and 28 other
                            							features, you'll have all the tools you need to improve your reading and writing
                            							skills.
                        </p>
                        <div class="mt-6 gap-2">
                            <a class="btn-base btn btn-outline mr-4 border-2 border-stone-600" href="/features/word-prediction/">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0">
                <div class="-mr-48 pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
                    <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                        <source src="/assets/videos/readermode.webm" type="video/webm"/>
                        <source src="/assets/videos/readermode.mp4" type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card relative mb-10 mt-10 overflow-hidden border-2 border-stone-600 bg-white">
    <div class="card-body relative">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
            <div class="mx-auto max-w-xl px-4 sm:px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                <div>
                    <div class="flex">
                        <h2 class="flex-1 text-3xl font-extrabold tracking-tight text-gray-900">
                            Listen to any part of a Webpage and Google Docs
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg text-black">
                            Helperbird's natural, award-winning text-to-speech feature turns text into lifelike
                            							speech. Our tool can read aloud the contents of web pages, ebooks, Google Docs, and
                            							PDFs with natural-sounding voices.
                        </p>
                        <div class="mt-6 gap-2">
                            <a class="btn-base btn btn-outline mr-4 border-2 border-stone-600" href="/features/text-to-speech/">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
                <div class="-ml-48 pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
                    <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                        <source src="/assets/videos/listen.webm" type="video/webm"/>
                        <source src="/assets/videos/listen.mp4" type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card relative mb-10 mt-10 overflow-hidden border-2 border-stone-600 bg-white">
    <div class="card-body relative">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
            <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                <div>
                    <div class="flex">
                        <h2 class="flex-1 text-3xl font-extrabold tracking-tight text-gray-900">
                            Support learners with learning disabilities
                        </h2>
                    </div>
                    <div class="mt-6">
                        <p class="mt-4 text-lg text-black">
                            Helperbird is designed to help people of all abilities, including those with learning
                            							disabilities. 
														
														</p>
														<p class="text-lg tracking-tight text-black">
														We offer award-winning support for dyslexia, reading difficulties,
                            							colorblindness, writing challenges, and second language learners. 
														
														</p>
														<p class="text-lg tracking-tight text-black">
														At Helperbird, we
                            							believe that everyone learns differently and deserves the right tools to succeed. We
                            							recommend checking out our Immersive reader feature to see how it can help you.
                        </p>
                        <div class="mt-6 gap-2">
                            <a class="btn-base btn btn-outline mr-4 border-2 border-stone-600" href="/features/immersive-reader-for-chrome/">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0">
                <div class="-mr-48 pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
                    <video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline">
                        <source src="/assets/videos/immersive.webm" type="video/webm"/>
                        <source src="/assets/videos/immersive.mp4" type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
