<div
	class="card card-compact  shadow-md rounded-xl bg-base-100 transition-all duration-200 hover:-translate-y-1 focus-within:border focus-within:border-indigo-500  overflow-hidden py-24 sm:py-32 my-24"
>
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div
			class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
		>
			<div class="lg:ml-auto lg:pl-4 lg:pt-4">
				<div class="lg:max-w-lg">
					<h2 class="mt-2 text-3xl text-xl font-bold text-black sm:text-4xl">Reading Features</h2>
					<p class="mt-6 text-lg text-black">
						At Helperbird, we've created reading tools that make reading online easier and more
						enjoyable for everyone.
					</p>
					<a
						class="btn btn-secondary mt-4"
						href="/features/#reading"
						title="More information on feature"
						>See Reading Features</a
					>
					<div class="mt-10 max-w-xl space-y-8 text-base leading-7 text-black lg:max-w-none">
						<div class="relative">
							<h3 class="text-lg text-xl font-bold text-black">Distraction-Free Reading</h3>
							<p class="text-base text-black">
								Our distraction-free reading tools, like Reading Mode, Immersive Reader, and
								Highlight Menu, give you a seamless and immersive reading experience. Plus, features
								like dyslexia support and reading rulers cater to your specific needs and
								preferences.
							</p>
						</div>
						<div class="relative">
							<h3 class="text-lg text-xl font-bold text-black">Customization</h3>
							<p class="text-base text-black">
								You can customize everything from fonts and colors to spacing, borders, and images
								on the page. Additional features like Picture Dictionary and Text-to-Speech with
								natural voices make reading feel personal and tailored just for you.
							</p>
						</div>
						<div class="relative">
							<h3 class="text-lg text-xl font-bold text-black">Accessibility</h3>
							<p class="text-base text-black">
								Our accessibility features, like dyslexia-friendly fonts, text-to-speech, and
								background color options, help individuals with dyslexia and visual impairments
								enjoy online content more easily and inclusively.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="flex items-start justify-end lg:order-first">
				<img
					src="/assets/images/fresh-start/reading.png"
					alt="Screenshot of the Ben & Jerry's website with Helperbird features enabled. The site showcases colorful ice cream tubs and a playful design. On the left, there's a reading ruler guiding through a text about 'Flavor Gurus'. On the right side, the Helperbird overlay displays a menu with icons for features like 'Dictionary', 'Search', 'Highlight', and 'Translate'. Beneath the menu, text options are provided, including a selected 'Font' option indicating the use of the 'Lexend' font."
					class="w-[40rem] max-w-none rounded-xl rounded-xl bg-stone-200 p-2 shadow-xl ring-1 ring-gray-400/10 sm:w-[40rem]"
					width="2432"
					height="1442"
				/>
			</div>
		</div>
	</div>
</div>

<div
class="card card-compact  shadow-md rounded-xl bg-base-100 transition-all duration-200 hover:-translate-y-1 focus-within:border focus-within:border-indigo-500  overflow-hidden py-24 sm:py-32 my-24"
>
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div
			class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
		>
			<div class="lg:pr-8 lg:pt-4">
				<div class="lg:max-w-lg">
					<h2 class="mt-2 text-3xl font-bold text-black sm:text-4xl">Writing Features</h2>
					<p class="mt-6 text-lg text-black">
						Helperbird's writing tools offer everything you need to write with accuracy and ease.
					</p>
					<a
						class="btn btn-secondary btn-sm mt-4"
						href="/features/#writing"
						title="More information on feature"
						>See all writing features</a
					>
					<div class="mt-10 max-w-xl space-y-8 text-base leading-7 text-black lg:max-w-none">
						<div class="relative">
							<h3 class="text-lg font-bold text-black">Text-to-Speech and Voice Typing</h3>
							<p class="text-base text-black">
								Dictate your ideas quickly and accurately with our voice typing feature. Use
								text-to-speech to hear your written work read aloud, helping you catch errors and
								improve flow.
							</p>
						</div>
						<div class="relative">
							<h3 class="text-lg font-bold text-black">Spelling and Grammar Support</h3>
							<p class="text-base text-black">
								Our spelling and grammar checker finds mistakes and offers suggestions, ensuring
								your writing is error-free and polished.
							</p>
						</div>
						<div class="relative">
							<h3 class="text-lg font-bold text-black">Word Prediction and Note-Taking</h3>
							<p class="text-base text-black">
								Our word prediction feature suggests words as you type, making writing faster and
								easier. Use sticky notes and highlighting tools to keep track of ideas, quotes, and
								references as you write.
							</p>
						</div>
					</div>
				</div>
			</div>
			<img
				src="/assets/images/fresh-start/writing.png"
				alt="Screenshot of a Google Docs document titled 'Untitled document'. The document has partial text stating 'Hello everyone my nam'. Beneath this sentence, a word prediction tool suggests completions like 'name', 'names', 'named', etc. On the right side, the Helperbird extension is active, displaying several features, including a bright pink 'Helperbird note' quoting Chef Gusteau from Ratatouille: 'Your only limit is your soul. What I say is true—anyone can cook ... but only the fearless can be great.' Other visible Helperbird tools include 'Voice typing', 'Sticky note', 'Word Prediction', and 'Highlighter'."
				class="w-[40rem] max-w-none rounded-xl rounded-xl bg-stone-200 p-2 shadow-xl ring-1 ring-white/10 sm:w-[40rem] md:-ml-4 lg:-ml-0"
				width="2432"
				height="1442"
			/>
		</div>
	</div>
</div>

<div class="card card-compact  shadow-md rounded-xl bg-base-100 transition-all duration-200 hover:-translate-y-1 focus-within:border focus-within:border-indigo-500  overflow-hidden py-24 sm:py-32 my-24">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div
			class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
		>
			<div>
				<h2 class="mt-2 text-3xl text-xl font-bold text-black sm:text-4xl">
					All Things Accessibility
				</h2>
				<p class="mt-6 text-base leading-7 text-black">
					Empower users with disabilities. Our text-to-speech, dyslexia support, and other features
					help everyone access and engage with web content on their terms.
				</p>
				<a class="btn btn-secondary mt-4" href="/features/#a11y" title="More information on feature"
					>See Accessibility Features</a
				>
			</div>
			<div
				class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-black sm:grid-cols-2 lg:gap-y-16"
			>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Dyslexia Support</h3>
					<p class="mt-2">
						Dyslexia support includes font and background color options, reading rulers, and picture
						dictionaries to aid in reading and comprehension.
					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Immersive Reader & Paragraph Styling</h3>
					<p class="mt-2">
						The immersive reader feature and paragraph styling options provide a customizable,
						distraction-free reading experience, making it easier to focus on content.
					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Keyboard Shortcuts</h3>
					<p class="mt-2">
						Keyboard shortcuts allow for quick and easy navigation and use of Helperbird's features
						without relying on a mouse or touchpad.
					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Color Overlays & Reading Ruler</h3>
					<p class="mt-2">
						Color overlays and reading rulers provide visual aids to help users with reading
						difficulties or visual impairments.
					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">30+ Voices and Translation Support</h3>
					<p class="mt-2">
						Choose from over 30 voices and translate text into multiple languages to customize your
						reading experience.
					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Extract Text/OCR</h3>
					<p class="mt-2">
						Our extract text/OCR feature uses advanced optical character recognition to convert
						images and scanned documents into editable text.
					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Highlighter & Page Summarizing</h3>
					<p class="mt-2">
						The highlighter and page summarizing features help with efficient note-taking and quick
						access to the main points of an article.
					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">20 Other Features</h3>
					<p class="mt-2">
						Enjoy over 30 accessibility tools, including customizable themes, picture dictionary,
						and text-to-speech, to improve your online experience.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
