
<div class="bg-white">
	<div class="max-w-5xl mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:px-8">
		<div class="text-center">
			<h2
				class="mt-1 text-5xl font-extrabold text-gray-900 sm:text-4xl sm:tracking-tight lg:text-4xl"
			>
				Helperbird is the Complete Toolkit for accessibility on the web
			</h2>
			<p class="text-gray-900 tracking-wide mt-4 text-2xl">
				Helperbird is your all in one browser extension for making writing and reading on the web —
				and much more 🦉
			</p>
		</div>
	</div>
</div>


<div class="relative bg-white pt-16 pb-32 overflow-hidden">
	<div class="relative">
		<div
			class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"
		>
			<div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
				<div>
					<div class="mt-6">
						<h2 class="text-4xl font-extrabold tracking-tight text-gray-900">
							Reading, writing & dyslexia support
						</h2>
						<p class="mt-4 text-lg   text-black ">
							Features that make reading and writing on the web easier and more accessible. From
							changing colors to adding overlays, natural voices to immersive reader and OCR you can
							now customize your experience to your needs.
							<br />
							Every popular fonts are included along with PDF support and 28 other features.

							<br />
							Allowing all users to unlock their full potential.
						</p>
						<div class="mt-6">
							<a
								href="/features/"
								class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-pink-600 hover:bg-pink-700"
								title="Learn about our features"
							>
								Learn about our features
							</a>
						</div>
					</div>
				</div>
				<div class="mt-8 border-t border-gray-200 pt-6">
					<blockquote>
						<div>
							<p class="text-base   text-black ">
								This extension is amazing and has helped improve my productivity robert has also
								been a very nice person to deal with when I have issues the live chat feature is
								amazing and quick for a response it's a really great Chrome extension that helps a
								lot way worth the money I pay per month and is also just great to support great
								people making accessibility tools
							</p>
						</div>
						<footer class="mt-3">
							<div class="flex items-center space-x-3">
								<div class="flex-shrink-0">
									<img
										class="h-6 w-6 rounded-full"
										src="https://lh3.googleusercontent.com/a-/AOh14GhPj4ZD9rWvVCfxt-GY0SEL_l8rSBfy8AdOuDwF9Q=s40-c-k"
										alt=""
									/>
								</div>
								<div class="text-base font-medium text-gray-700">
									Jack Salem, Assistive technology specialist
								</div>
							</div>
						</footer>
					</blockquote>
				</div>
			</div>
			<div class="mt-12 sm:mt-16 lg:mt-0">
				<div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
					<video
						class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:w-auto lg:max-w-2xl"
						width="680"
						height="502"
						autoplay="autoplay"
						muted="muted"
						control="control"
						loop="loop"
						playsinline="playsinline"
					>
						<source src="/assets/videos/font.webm" type="video/webm" />
						<source src="/assets/videos/font.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-24">
		<div
			class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"
		>
			<div
				class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2"
			>
				<div>
					<div class="mt-6">
						<h2 class="text-4xl font-extrabold tracking-tight text-gray-900">
							Increase Productivity
						</h2>
						<p class="mt-4 text-lg   text-black ">
							From annotate any website you visit, immersive reader, speech to text, Reader Mode,
							removing ads and 20 other features.

							<br />
							Helperbird users make getting work done quicker and easier on the web.
						</p>
						<div class="mt-6">
							<a
								href="/features/"
								class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-pink-600 hover:bg-pink-700"
							>
								More info
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
				<div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
					<video
						class="w-full rounded-xl lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-2xl"
						width="680"
						height="502"
						autoplay="autoplay"
						muted="muted"
						control="control"
						loop="loop"
						playsinline="playsinline"
					>
						<source src="/assets/videos/readermode.webm" type="video/webm" />
						<source src="/assets/videos/readermode.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
</div>
