<div
	class="card card-compact shadow-md rounded-xl bg-base-100 transition-all duration-200 hover:-translate-y-1 focus-within:border focus-within:border-indigo-500 overflow-hidden py-24 sm:py-32 my-24"
>
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div
			class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
		>
			<div class="lg:ml-auto lg:pl-4 lg:pt-4">
				<div class="lg:max-w-lg">
					<h2 class="mt-2 text-3xl font-bold text-black sm:text-4xl">Reading Features</h2>
					<p class="mt-6 text-lg text-black">
						At Helperbird, we've created reading tools that make reading online easier and more
						enjoyable for everyone.
					</p>
					<a
						class="btn btn-secondary mt-4"
						href="/features/#reading"
						title="More information on feature"
						>See Reading Features</a
					>
					<div class="mt-10 max-w-xl space-y-8 text-base leading-7 text-black lg:max-w-none">
						<div class="relative">
							<h3 class="text-xl font-bold text-black">Distraction-Free Reading</h3>
							<p class="text-base text-black">
								Tools like Reading Mode, Immersive Reader, and Highlight Menu help you focus on the
								content without distractions. Features like Simplify, dyslexia support and reading
								rulers are designed to fit your needs and make reading more comfortable.
							</p>
						</div>
						<div class="relative">
							<h3 class="text-xl font-bold text-black">Customization</h3>
							<p class="text-base text-black">
								You can customize everything. Customize fonts, colors, spacing, borders, and images
								to suit your preferences. Features like Picture Dictionary and natural
								Text-to-Speech voices make reading more personal and tailored to you.
							</p>
						</div>
						<div class="relative">
							<h3 class="text-xl font-bold text-black">Accessibility</h3>
							<p class="text-base text-black">
								Accessibility features like dyslexia-friendly fonts, text-to-speech, and background color options and more make online content easier and more inclusive for people with dyslexia and visual impairments.







							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="flex items-start justify-end lg:order-first">
				<img
					src="/assets/images/fresh-start/reading.png"
					alt="Screenshot of the Ben & Jerry's website with Helperbird features enabled. The site showcases colorful ice cream tubs and a playful design. On the left, there's a reading ruler guiding through a text about 'Flavor Gurus'. On the right side, the Helperbird overlay displays a menu with icons for features like 'Dictionary', 'Search', 'Highlight', and 'Translate'. Beneath the menu, text options are provided, including a selected 'Font' option indicating the use of the 'Lexend' font."
					class="w-[40rem] max-w-none rounded-2l bg-stone-300 p-2 shadow-xl ring-1 ring-gray-400/10 sm:w-[40rem]"
					width="2432"
					height="1442"
				/>
			</div>
		</div>
	</div>
</div>

<div
	class="card card-compact shadow-md rounded-xl bg-base-100 transition-all duration-200 hover:-translate-y-1 focus-within:border focus-within:border-indigo-500 overflow-hidden py-24 sm:py-32 my-24"
>
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div
			class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
		>
			<div class="lg:pr-8 lg:pt-4">
				<div class="lg:max-w-lg">
					<h2 class="mt-2 text-3xl font-bold text-black sm:text-4xl">Writing Features</h2>
					<p class="mt-6 text-lg text-black">
						Helperbird's writing tools offer everything you need to write with accuracy and ease.
					</p>
					<a
						class="btn btn-secondary btn-sm mt-4"
						href="/features/#writing"
						title="More information on feature"
						>See Writing Features</a
					>
					<div class="mt-10 max-w-xl space-y-8 text-base leading-7 text-black lg:max-w-none">
						<div class="relative">
							<h3 class="text-lg font-bold text-black">Text-to-Speech and Voice Typing</h3>
							<p class="text-base text-black">
								Quickly dictate ideas with voice typing, or use text-to-speech to hear your work read aloud, making it easier to catch errors and refine your writing.







							</p>
						</div>
						<div class="relative">
							<h3 class="text-lg font-bold text-black">Spelling and Grammar Support</h3>
							<p class="text-base text-black">
								Our checker identifies mistakes and suggests fixes, helping you create polished, error-free writing.







							</p>
						</div>
						<div class="relative">
							<h3 class="text-lg font-bold text-black">Word Prediction and Note-Taking</h3>
							<p class="text-base text-black">
								Word prediction suggests words as you type, speeding up writing. Sticky notes and highlighting tools help you organize ideas, quotes, and references with ease.







							</p>
						</div>
					</div>
				</div>
			</div>
			<img
				src="/assets/images/fresh-start/writing.png"
				alt="Screenshot of a Google Docs document titled 'Untitled document'. The document has partial text stating 'Hello everyone my nam'. Beneath this sentence, a word prediction tool suggests completions like 'name', 'names', 'named', etc. On the right side, the Helperbird extension is active, displaying several features, including a bright pink 'Helperbird note' quoting Chef Gusteau from Ratatouille: 'Your only limit is your soul. What I say is true—anyone can cook ... but only the fearless can be great.' Other visible Helperbird tools include 'Voice typing', 'Sticky note', 'Word Prediction', and 'Highlighter'."
				class="w-[40rem] max-w-none rounded-xl rounded-xl bg-stone-300 p-2 shadow-xl ring-1 ring-white/10 sm:w-[40rem] md:-ml-4 lg:-ml-0"
				width="2432"
				height="1442"
			/>
		</div>
	</div>
</div>

<div
	class="card card-compact shadow-md rounded-xl bg-base-100 transition-all duration-200 hover:-translate-y-1 focus-within:border focus-within:border-indigo-500 overflow-hidden py-24 sm:py-32 my-24"
>
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div
			class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
		>
			<div>
				<h2 class="mt-2 text-3xl font-bold text-black sm:text-4xl">
					All Things Accessibility
				</h2>
				<p class="mt-6 text-base leading-7 text-black">
					Our text-to-speech, dyslexia support, and accessibility tools ensure everyone can access and engage with web content their way.
				</p>
				<a class="btn btn-secondary mt-4" href="/features/#a11y" title="More information on feature"
					>See Accessibility Features</a
				>
			</div>
			<div
				class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-black sm:grid-cols-2 lg:gap-y-16"
			>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Dyslexia Support</h3>
					<p class="mt-2">
						Features like font and background color options, reading rulers, and picture dictionaries help improve reading and comprehension.







					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Immersive Reader & Paragraph Styling</h3>
					<p class="mt-2">
						Immersive Reader and paragraph styling tools offer a customizable, distraction-free reading experience to help you stay focused.







					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Keyboard Shortcuts</h3>
					<p class="mt-2">
						Keyboard shortcuts make it quick and easy to navigate and use Helperbird's features without a mouse or touchpad.







					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Color Overlays & Reading Ruler</h3>
					<p class="mt-2">
						Color overlays and reading rulers offer visual support for users with reading difficulties or visual impairments.







					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">30+ Voices and Translation Support</h3>
					<p class="mt-2">
						Choose from over 30 voices and translate text into multiple languages to customize your
						reading experience.
					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Extract Text/OCR</h3>
					<p class="mt-2">
						Our advanced OCR feature converts images and scanned documents into editable text, paired with 30+ voices and translation support to enhance accessibility and understanding.







					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">Highlighter & Page Summarizing</h3>
					<p class="mt-2">
						Highlight key information and summarize pages to take notes efficiently and quickly grasp the main points of any article.







					</p>
				</div>
				<div class="relative">
					<h3 class="text-xl font-bold text-black">20 Other Features</h3>
					<p class="mt-2">
						Access over 30 tools, including customizable themes, a picture dictionary, and text-to-speech, to improve your online experience.







					</p>
				</div>
			</div>
		</div>
	</div>
</div>
