<section class="py-24 sm:py-32" aria-labelledby="features-section">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
	  <div class="">

		<h2 id="features-section" class="mt-2 text-3xl font-bold   text-gray-900 sm:text-4xl">Features at a glance</h2>
		<p class="leading-relaxed font-sans  mt-4 text-xl text-black ">
			Helperbird offers a range of power tools to customize the web to your needs to improve your accessibility, reading, writing, and productivity needs.
</p>
<p class="leading-relaxed font-sans  mt-4 text-xl text-black ">
			Game-changing features such as Reading Mode, Immersive Reader, dyslexia support, text-to-speech with natural voices, text extracting, word prediction, voice typing, and 28 other features to transform your web experience.


		</p>
		<div class="mt-8 flex flex-wrap space-y-4 text-center sm:space-y-0 sm:space-x-4">
		<a class="btn btn-primary mt-8 mb-8" href="/features/" aria-label="See all features">See all features</a>
		</div>
	  </div>
	  <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
		<div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0] lg:columns-3">
			{%- for post in collections.features -%}
		  <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
			<div class="rounded-2xl bg-white border-2 border-stone-600 p-8 text-sm leading-6">
				<div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-blue-500 text-white shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0 mb-4" aria-hidden="true">{{ post.data.icon | svgContents | safe }}</div>
				<h3 class="leading-relaxed font-sans  leading-relaxed font-sans  text-xl font-bold text-black mb-4 ">
					{{ post.data.cardTitle }}</h3>

				<p class="leading-relaxed font-sans  leading-relaxed font-sans  text-black text-base mt-6 line-clamp-3">{{ post.data.featureDescription }}</p>
	
			  <div class="mt-6 flex items-center gap-x-4">
				<a
					class="btn btn-outline btn-secondary mt-8 text-base btn-sm"
					href="{{ post.url }}"
					aria-label="More information on feature {{ post.data.cardTitle }}"
					>Discover more</a
					>
					
			</div>
			</div>
		  </div>
		  {%- endfor -%}
  

		</div>
	  </div>
	</div>
  </section>
