<div class="relative isolate overflow-hidden rounded-xl border-2 border-stone-600 bg-white">
	<svg
		class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
		aria-hidden="true"
	>
		<defs>
			<pattern
				id="0787a7c5-978c-4f66-83c7-11c213f99cb7"
				width="200"
				height="200"
				x="50%"
				y="-1"
				patternUnits="userSpaceOnUse"
			>
				<path d="M.5 200V.5H200" fill="none" />
			</pattern>
		</defs>
		<rect
			width="100%"
			height="100%"
			stroke-width="0"
			fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)"
		/>
	</svg>

	<div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
		<div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
			<h1 class="mt-10 text-4xl font-bold tracking-tight text-black sm:text-6xl">
				<span class="block text-black">Helperbird for</span>
				<span class="text-pink-500">iPad & iPhone</span>
			</h1>
			<p class="mt-6 text-lg leading-8 text-black">
				Helperbird for iPad and iPhone brings all the accessibility and productivity tools to iOS.
				Including Immersive reader, dyslexia support, text to speech, and much more.
			</p>
			<nav class="mt-10 flex items-center gap-x-6">
				<a
					href="https://apps.apple.com/us/app/helperbird-for-safari/id1589138053"
					target="_blank"
					title="Download Helperbird for iPad on App Store"
					class="btn-accent btn border-2 border-stone-600"
					>Get Helperbird for iPad</a
				>
				<a
					href="https://apps.apple.com/us/app/helperbird-for-safari/id1589138053"
					target="_blank"
					title="Download Helperbird for iPhone on App Store"
					class="btn-primary btn border-2 border-stone-600"
					>Get Helperbird for iPhone</a
				>
			</nav>
		</div>
		<div
			class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32"
		>
			<div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
				<div
					class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4"
				>
					<img
						src="/assets/images/products/ipad-iphone/helperbird-iphone-ipad-screenshot.png"
						alt="Screenshot of Helperbird app on iPhone and iPad"
						width="2432"
						height="1442"
						class="w-[35rem] rounded-md shadow-2xl ring-1 ring-gray-900/10"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mb-8 mt-8">
	<div class="mx-auto max-w-7xl px-4 py-16 sm:px-6 sm:py-12 lg:px-8">
		<h2 class="text-center text-2xl font-semibold uppercase tracking-wide text-black">
			TRUSTED BY OVER 1,000,000 FORWARD-THINKING USERS
		</h2>
		<div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
				<img
					alt="Logo of Microsoft, a user of Helperbird"
					class="h-12"
					src="/assets/images/logo/microsoft.png"
				/>
			</div>
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
				<img
					alt="Logo of Gusto, a user of Helperbird"
					class="h-12"
					src="/assets/images/logo/gusto.png"
				/>
			</div>
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
				<img
					alt="Logo of Nevada, a user of Helperbird"
					class="h-12"
					src="/assets/images/logo/neveda.png"
				/>
			</div>
			<div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
				<img
					alt="Logo of School, a user of Helperbird"
					class="h-12"
					src="/assets/images/logo/school.png"
				/>
			</div>
			<div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
				<img
					alt="Logo of Rio Texas, a user of Helperbird"
					class="h-12"
					src="/assets/images/logo/rio-texas.png"
				/>
			</div>
		</div>
	</div>
</div>
