<div class="relative my-16">
	<div class="card rounded-xl border-2 border-stone-300 bg-base-100 py-24 sm:py-32">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<div class="mx-auto max-w-3xl text-center">
				<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
					<span class="block font-sans leading-relaxed text-black">Helperbird for </span>
					<span class="font-sans leading-relaxed text-sky-500">Google Docs</span>
					<span class="font-sans leading-relaxed text-black"> & </span>
					<span class="font-sans leading-relaxed text-yellow-500">Slides</span>
				</h1>
				<p class="mt-6 font-sans text-2xl leading-relaxed text-black">
					With Helperbird, working on Google Docs and Slides becomes easier and more enjoyable. Enjoy dyslexia-friendly fonts, listen to your text with text-to-speech, use Microsoft’s Immersive Reader, get instant translations, and so much more, all for free!
				</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<a
						href="https://workspace.google.com/marketplace/app/helperbird/844716805038"
						target="_blank"
						title="Download Helperbird for Google Docs"
						class="btn btn-lg btn-secondary shadow-md"
						aria-label="Download Helperbird for Google Docs from Google Workspace Marketplace"
						title="Download Helperbird for Google Docs from Google Workspace Marketplace"
						>Download Helperbird</a
					>

					<a
						href="https://www.youtube.com/watch?v=hUBfceYUm3I"
						aria-label="Watch a video on Youtube of How to use the Helperbird Google Docs add-on"
						title="Watch a video on Youtube of How to use the Helperbird Google Docs add-on"
						class="btn btn-lg btn-primary shadow-md"
					>
						Watch it in action</a
					>
				</div>
			</div>

			<div class="mx-auto mt-16 flow-root max-w-3xl sm:mt-24">
				<div class="-m-2 rounded-xl bg-stone-200 p-2 lg:-m-4 lg:rounded-2xl lg:p-4">
					<video
						aria-label="Demonstration of Helperbird features on Google Docs and Slides"
						autoplay
						controls
						loop
						muted
						playsinline
						width="2432"
						height="1442"
						class="rounded-md shadow-2xl ring-1 ring-gray-900/10"
					>
						<source src="/assets/videos/google-addon.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
</div>
