<div class="relative my-16">
	<div class="rounded-xl bg-white py-24 shadow-md sm:py-32">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<div class="mx-auto max-w-2xl text-center">
				<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
					<span class="block font-sans leading-relaxed text-black">Helperbird for </span>
					<span class="font-sans leading-relaxed text-pink-500">iPad</span>
					<span class="font-sans leading-relaxed text-black">or</span>
					<span class="font-sans leading-relaxed text-blue-500">iPhone</span>
				</h1>
				<p class="mt-6 font-sans text-2xl leading-relaxed text-black">
					Experience a more accessible and productive browsing environment on your iPad and iPhone
					with Helperbird. Enjoy our suite of features, including text-to-speech, dyslexia-friendly
					fonts, and high-contrast themes.
				</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<a
						href="https://apps.apple.com/us/app/helperbird-for-safari/id1589138053"
						target="_blank"
						title="Download Helperbird for iPad from the Apple app store"
						class="btn btn-primary shadow-md"
						aria-label="Download Helperbird for iPad from the Apple app store"
						title="Download Helperbird for iPad from the Apple app store"
					>
						Download Helperbird for iPad</a
					>

					<a
						href="https://apps.apple.com/us/app/helperbird-for-safari/id1589138053"
						target="_blank"
						title="Download Helperbird for iPad from the Apple app store"
						class="btn btn-secondary shadow-md"
						aria-label="Download Helperbird for iPhone from the Apple app store"
						title="Download Helperbird for iPhone from the Apple app store"
					>
						Download Helperbird for iPhone</a
					>
				</div>
			</div>
			<div class="mx-auto mt-16 flow-root max-w-5xl sm:mt-24">
				<div class="-m-2 rounded-xl bg-stone-600 p-2 lg:-m-4 lg:rounded-2xl lg:p-4">
					<video
						aria-label="Demonstration of Helperbird features on iPad"
						autoplay="autoplay"
						controls="true"
						loop="loop"
						muted="muted"
						playsinline="playsinline"
						width="2432"
						height="1442"
						class="rounded-md shadow-2xl ring-1 ring-gray-900/10"
					>
						<source src="/assets/videos/google-addon.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
</div>
