<div class="mx-auto max-w-7xl px-8 ">


	<div class="bg-white card shadow-md rounded-xl">
		<div class="relative isolate overflow-hidden card-body">
		  <div class="mx-auto max-w-7xl pt-10 pb-24 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:py-20 lg:px-8">
			<div class="px-6 lg:px-0 lg:pt-4">
			  <div class="mx-auto max-w-2xl">
				<div class="max-w-lg">
				 
				
				  <h1 class="leading-relaxed font-sans  mt-10 text-4xl font-bold   text-black 900 sm:text-6xl">

					<span class="block ">One extension for</span>
					<span class="block font-extrabold text-pink-700" id="typewriter"
						>dyslexia support</span>

				  </h1>
				 
					
				  <p class="leading-relaxed font-sans  mt-6 text-lg text-black 600">
						Providing personalized support for browsing, reading, and writing on the web.
						</p>
						<p class="leading-relaxed font-sans  mt-6 text-lg text-black 600">
		
						Whether you're reading a movie review or writing an email, Helperbird can make web
						pages, PDFs, and documents more accessible and productive to meet your needs
					</p>
				
				  <div class="mt-10 flex items-center gap-x-6">
					<button
					role="button"
					class="group btn btn-secondary inline-flex items-center justify-center  rounded-xl shadow-md py-2 px-4"
					@click="handleModal"
				>
					Download Now</button
				><a
					class="btn-base group btn btn-ghost inline-flex items-center justify-center  shadow-md py-2 px-4"
					href="/features/"
					><span>All features</span></a
				>
					
				  </div>
				  <div class="mt-4 sm:mx-auto sm:max-w-lg sm:text-center l lg:text-left">
					<div
						class="mt-2 inline-flex items-center divide-x text-sm font-semibold uppercase tracking-wide text-black sm:mt-4"
					>
						<div class="flex flex-shrink-0 pr-5">
							<svg
								aria-hidden="true"
								fill="currentColor"
								viewbox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								class="h-5 w-5 text-yellow-400"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								fill="currentColor"
								viewbox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								class="h-5 w-5 text-yellow-400"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								fill="currentColor"
								viewbox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								class="h-5 w-5 text-yellow-400"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								fill="currentColor"
								viewbox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								class="h-5 w-5 text-yellow-400"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								fill="currentColor"
								viewbox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								class="h-5 w-5 text-yellow-400"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
						</div>
						<div class="min-w-0 flex-1 py-1 pl-5 text-sm sm:py-3">
							Rated 5 stars by over 500,000 people.
						</div>
					</div>
				</div>
				</div>
			  </div>
			</div>
			<div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen">
			
			  <div class="shadow-lg md:rounded-3xl">
				<div class="bg-indigo-500 [clip-path:inset(0)] md:[clip-path:inset(0_round_theme(borderRadius.3xl))]">
				  <div class="absolute -inset-y-px left-1/2 -z-10 ml-10 w-[200%] skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white md:ml-20 lg:ml-36" aria-hidden="true"></div>
				  <div class="relative px-6 pt-8 sm:pt-16 pb-16 md:pl-16 md:pr-0">
					<div class="mx-auto max-w-2xl md:mx-0 md:max-w-none">
					  <div class=" overflow-hidden rounded-tl-xl ">
						
						<div>
							<video
								autoplay="autoplay"
								control="control"
								loop="loop"
								muted="muted"
								playsinline="playsinline"
								class="rounded-xl"
							>
								<source src="/assets/videos/home.webm" type="video/webm" />
								<source src="/assets/videos/home.mp4" type="video/mp4" />
							</video>
						</div>
					  </div>
					</div>
					<div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 md:rounded-3xl" aria-hidden="true"></div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>

		</div>
	  </div>
	  




	<div class="mt-8 mb-8">
		<div class="mx-auto max-w-7xl py-16 px-4 sm:py-12 sm:px-6 lg:px-8">
			<h2 class="leading-relaxed font-sans   text-center text-lg font-semibold uppercase tracking-wide text-black">
				TRUSTED BY OVER 1,000,000 FORWARD-THINKING USERS
			</h2>
			<div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
				<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
					<img
						alt="Micosofts windows logo - a Helperbird user"
						class="h-12"
						src="/assets/images/logo/microsoft.png"
alt="Microsoft windows logo, with four different colors"
					/>
				</div>
				<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
					<img alt="Mirage" class="h-12" src="/assets/images/logo/gusto.png" />
				</div>
				<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
					<img alt="StaticKit" class="h-12" src="/assets/images/logo/neveda.png" />
				</div>
				<div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
					<img alt="Transistor" class="h-12" src="/assets/images/logo/school.png" />
				</div>
				<div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
					<img alt="Workcation" class="h-12" src="/assets/images/logo/rio-texas.png" />
				</div>
			</div>
		</div>
	</div>
</div>
