<div class="relative my-16">
	<div class="card py-20 bg-base-100">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<div class="mx-auto max-w-3xl text-center">
				<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
					<span class="block font-sans leading-relaxed text-black">Helperbird for </span>
					<span class="block font-extrabold text-green-700">Google Chrome</span>
				</h1>

				<p class="mt-6 font-sans text-2xl leading-relaxed text-black">
					Experience Helperbird's powerful accessibility features directly in your Google Chrome
					browser. Making the web more accessible for everyone.
					<br />
					Make the most of our features like text-to-speech, dyslexia friendly fonts, and
					high-contrast themes, all tailored to enhance your browsing experience.
				</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<button onclick="download_modal.showModal()" class="btn btn-lg btn-secondary shadow-md" aria-label="Download Helperbird" title="Download Helperbird">
						Download
					</button>
					<a href="/features/" class="btn btn-primary btn-lg shadow-md">See All Features </a>
				</div>
			</div>
			<div class="mx-auto mt-16 flow-root max-w-4xl sm:mt-24">
				<div class="-m-2 rounded-xl bg-green-400 p-2 lg:-m-4 lg:rounded-2xl lg:p-4">
					<video
						aria-label="Demonstration of Helperbird features on Google Chrome"
						autoplay="autoplay"
						controls="true"
						loop="loop"
						muted="muted"
						playsinline="playsinline"
						width="2432"
						height="1442"
						class="rounded-md shadow-2xl ring-1 ring-gray-900/10"
					>
						<source src="/assets/videos/helperbird-2024-1080.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
</div>
