<div>
	<div class="relative overflow-hidden">
		<div class="relative pt-6 pb-16 sm:pb-24">
			<div class="mx-auto mt-16 max-w-7xl px-4 sm:mt-24 sm:px-6">
				<div class="text-center">
					<h1 class="mb-8 text-4xl font-extrabold tracking-tight sm:text-5xl md:text-6xl">
						<span class="text-black"
							>All your productivity, research and accessibility needs, rolled up into one extension
							for
						</span>
						<span class="text-green-500">Chrome</span>,

						<span class="text-blue-500">Edge</span>, <span class="text-orange-500">Firefox</span> &
						<span class="text-pink-500">iOs</span>
					</h1>
					<p
						class="mx-auto mt-3 max-w-md text-base text-black sm:text-lg md:mt-5 md:max-w-3xl md:text-xl"
					>
						Delightfully intuitive and easy-to-use design, Helperbird is your all-in-one extension
						that provides personalized support to make web pages, PDFs, and documents more
						accessible and productive to your needs.
					</p>
				</div>
			</div>
		</div>

		<div class="relative">
			<div class="mx-auto max-w-4xl px-4 sm:px-6">
				<img
					class="relative rounded-lg shadow-lg"
					src="/assets/images/products/chrome/helperbird-for-google-chrome.png"
					alt="App screenshot"
				/>
			</div>
		</div>
	</div>
	<div class="mt-8 mb-8">
		<div class="mx-auto max-w-7xl py-16 px-4 sm:py-12 sm:px-6 lg:px-8">
			<h2 class="text-center text-lg font-semibold uppercase tracking-wide text-black">
				TRUSTED BY OVER 1,200,000 FORWARD-THINKING USERS
			</h2>
			<div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
				<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
					<img
						alt="Micosofts windows logo - a Helperbird user"
						class="h-12"
						src="/assets/images/logo/microsoft.png"
alt="Microsoft windows logo, with four different colors"
					/>
				</div>
				<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
					<img alt="Mirage" class="h-12" src="/assets/images/logo/gusto.png" />
				</div>
				<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
					<img alt="StaticKit" class="h-12" src="/assets/images/logo/neveda.png" />
				</div>
				<div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
					<img alt="Transistor" class="h-12" src="/assets/images/logo/school.png" />
				</div>
				<div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
					<img alt="Workcation" class="h-12" src="/assets/images/logo/rio-texas.png" />
				</div>
			</div>
		</div>
	</div>
</div>
