<main>
	<div>
		
		<div class="relative">
			<div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
			<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
				<div class="relative shadow-xl sm:overflow-hidden sm:rounded-2xl">
					<div class="absolute inset-0">
						<img
							class="h-full w-full object-cover"
							src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100"
							alt="People working on laptops"
						/>
						<div class="absolute inset-0 bg-pink-500 mix-blend-multiply"></div>
					</div>
					<div class="relative py-16 px-6 sm:py-24 lg:py-32 lg:px-8">
						<h1 class="text-center text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl">
							<span class="block text-white">Your all-in-one extension for</span>
							<span class="block font-extrabold text-pink-700" id="typewriter"
								>dyslexia support</span
							>
						</h1>
						<p class="mx-auto mt-6 max-w-lg text-center text-xl text-pink-200 sm:max-w-3xl">
							Providing personalized support for browsing, reading, and writing on the web.
							<br />
							Whether you're reading a movie review or writing an email, Helperbird can make web
							pages, PDFs, and documents more accessible and productive to meet your needs
						</p>
						<div class="mx-auto mt-10 max-w-sm sm:flex sm:max-w-none sm:justify-center">
							<div class="space-y-4 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5 sm:space-y-0">
								<button
									role="button"
									class="group btn btn-secondary inline-flex items-center justify-center border-2 border-stone-600 py-2 px-4"
									@click="handleModal"
								>
									Get started</button
								><a
									class="btn-base group btn btn-ghost inline-flex items-center justify-center  border-2  border-white py-2 px-4 text-white"
									href="/features/"
									><span>All features</span></a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	
		<div>
			<div class="mx-auto max-w-7xl py-16 px-6 lg:px-8">
				<p class="text-center text-lg font-semibold mb-4">
					Trusted by over 1,000,000 forward-thinking users
				</p>
				<div class="mt-6 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
					<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
						<img
							class="h-12"
							src="/assets/images/home/companies/nevada.png"
							alt="Nevada College"
						/>
					</div>
					<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
						<img
							class="h-12"
							src="/assets/images/home/companies/rio.png"
							alt="Rio College"
						/>
					</div>
					<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
						<img
							class="h-12"
							src="/assets/images/home/companies/sowashco.png"
							alt="StaticKit"
						/>
					</div>
					<div class="col-span-1 flex justify-center md:col-span-2 md:col-start-2 lg:col-span-1">
						<img
							class="h-12"
							src="/assets/images/home/companies/sowashco.png"
							alt="Sowashco"
						/>
					</div>
					<div class="col-span-2 flex justify-center md:col-span-2 md:col-start-4 lg:col-span-1">
						<img
							class="h-12"
							src="/assets/images/home/companies/shell.png"
							alt="Shell"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>

	
</main>
