<div class="relative my-16">
	<div class="card py-20 bg-base-100">
		<div class="mx-auto max-w-7xl px-6 lg:px-8">
			<div class="mx-auto max-w-3xl text-center">
				<h1 class="mt-10 font-sans text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
					<span class="block leading-relaxed text-black">Helperbird Extension for</span>
					<span class="block font-extrabold text-purple-700" id="typewriterProducts"
						>Google Chrome</span
					>
				</h1>

				<p class="mt-4 font-sans text-xl leading-relaxed text-black">
					Enjoy features like text-to-speech, dyslexia-friendly fonts, word prediction, voice
					typing, and immersive reader for a better web experience.
				</p>
				<p class="mt-4 font-sans text-xl leading-relaxed text-black">
					Whether you need a reading mode or hands-free browsing with voice typing, Helperbird has
					you covered.
				</p>
				<div class="mt-10 flex items-center justify-center gap-x-6">
					<button onclick="download_modal.showModal()" class="btn btn-lg btn-secondary shadow-md" aria-label="Download Helperbird" title="Download Helperbird">
						Download
					</button>
					<a href="/features/" class="btn btn-primary btn-lg shadow-md">See All Features </a>
				</div>
			</div>
			<div class="mx-auto mt-16 flow-root max-w-4xl sm:mt-24">
				<div class="-m-2 rounded-xl bg-stone-300 p-2 lg:-m-4 lg:rounded-2xl lg:p-4">
					<video
						aria-label="Demonstration of Helperbird features on Google Docs and Slides"
						autoplay
						controls
						loop
						muted
						playsinline
						width="2432"
						height="1442"
						class="rounded-md shadow-2xl ring-1 ring-gray-900/10"
					>
						<source src="/assets/videos/helperbird-2024-1080.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
</div>
