<!-- Section - Helperbird for Microsoft Edge -->
<div class="relative isolate overflow-hidden rounded-2xl border-2 border-stone-600 edge-background" style="background-color: #1c2f4a;">

	<div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40">
	  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
		<img class="h-11" src="/assets/images/home/edge.png" alt="Helperbird Edge logo">

		<h1 class="leading-relaxed font-sans  mt-10 text-4xl font-bold   text-white sm:text-6xl">Helperbird for Microsoft Edge</h1>
		<p class="leading-relaxed font-sans  mt-6 text-lg leading-8 text-white">Empower your web navigation with Helperbird on Microsoft Edge. Enhance your accessibility experience today.</p>
		<p class="leading-relaxed font-sans  mt-6 text-lg leading-8 text-white">We offer features like text-to-speech, high-contrast themes, dyslexia fonts and more, all tailored to your unique accessibility needs in Microsoft Edge.</p>
		<div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
			<label
			for="my-modal-6"
			class="btn-base btn-primary btn mr-4 hidden border-2 border-stone-600 sm:flex"
			title="Login to manage your Helperbird subscription"
		>
			Get the app
		</label>
			<a href="/features/" class="btn-base btn-secondary btn border-2 border-stone-600">See features
				<span aria-hidden="true">→</span>
			</a>
		</div>
	  </div>
	  <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none xl:ml-32">
		<div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
		  <div class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
			<img src="/assets/images/fresh-start/firefox-banner.png" alt="App screenshot for Edge" width="2432" height="1442" class="w-[35rem] rounded-md shadow-2xl ring-1 ring-gray-900/10">
		  </div>
		</div>
	  </div>
	</div>
</div>
