<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <div class="max-w-4xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8 lg:py-20">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold sm:text-4xl">
      
                Helperbird works on your favorite <span class="text-pink-600">platforms</span>. From every website you visit, to your favorite apps, Helperbird is integrated with all of them.
            </h2>
      
        </div>
        <dl class="mt-10 text-center sm:max-w-3xl sm:mx-auto sm:grid sm:grid-cols-3 sm:gap-8">


            <div class="flex flex-col mt-10 sm:mt-0">
                <dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
                    <img alt="Firefox logo" loading="lazy" src="/assets/images/home/docs.png" width="70px" height="70px" class="items-center justify-center block mx-auto"></dt>
                    <dd class="order-2 text-2xl font-extrabold text-white mt-2">
                        Google Docs
                    </dd>
                    <dd class="order-2">
                        <a href="https://workspace.google.com/marketplace/app/helperbird/844716805038" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 btn btn-primary">Download for Docs</a>
                    </dd>

                </div>


                <div class="flex flex-col mt-10 sm:mt-0">
                    <dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
                        <img alt="Firefox logo" loading="lazy" src="/assets/images/home/slides.png" width="70px" height="70px" class="items-center justify-center block mx-auto"></dt>
                        <dd class="order-2 text-2xl font-extrabold text-white mt-2">
                            Google Slides
                        </dd>
                        <dd class="order-2">
                            <a href="https://workspace.google.com/marketplace/app/helperbird/844716805038" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 btn btn-primary">Download for Slides</a>
                        </dd>

                    </div>


                    <div class="flex flex-col mt-10 sm:mt-0">
                        <dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
                            <img alt="Firefox logo" loading="lazy" src="/assets/images/home/edge.png" width="70px" height="70px" class="items-center justify-center block mx-auto"></dt>
                            <dd class="order-2 text-2xl font-extrabold text-white mt-2">
                                Edge
                            </dd>
                            <dd class="order-2">
                                <a href="https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 btn btn-primary">Download for Edge</a>
                            </dd>

                        </div>


                        <div class="flex flex-col mt-10 sm:mt-0">
                            <dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
                                <img alt="Firefox logo" loading="lazy" src="/assets/images/home/firefox.png" width="70px" height="70px" class="items-center justify-center block mx-auto"></dt>
                                <dd class="order-2 text-2xl font-extrabold text-white mt-2">
                                    Firefox
                                </dd>
                                <dd class="order-2">
                                    <a href="https://addons.mozilla.org/en-CA/firefox/addon/helperbird/" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 btn btn-primary">Download for Firefox</a>
                                </dd>

                            </div>


                            <div class="flex flex-col mt-10 sm:mt-0">
                                <dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
                                    <img alt="Firefox logo" loading="lazy" src="/assets/images/home/chrome.png" width="70px" height="70px" class="items-center justify-center block mx-auto"></dt>
                                    <dd class="order-2 text-2xl font-extrabold text-white mt-2">
                                        Google Chrome
                                    </dd>
                                    <dd class="order-2">
                                        <a href="https://chrome.google.com/webstore/detail/helperbird-accessibility/ahmapmilbkfamljbpgphfndeemhnajme" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 btn btn-primary">Download for Chrome</a>
                                    </dd>

                                </div>


                            </dl>
                        </div>
                    </div>
