<div class="card  card-body">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
	  <div class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">
		<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/logo/gusto.png" alt="Transistor" width="160" height="50">
		<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/logo/harvard.png" alt="Reform" width="160" height="50">
		<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="/assets/images/logo/microsoft.png" alt="Tuple" width="160" height="50">
		<img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="/assets/images/logo/shell.png" alt="SavvyCal" width="160" height="50">
		<img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="/assets/images/logo/uber.png" alt="Statamic" width="160" height="50">
	  </div>
	  <div class="mt-16 flex justify-center">
		<p class="relative rounded-2xl shadow-md bg-white px-4 py-1.5 text-base text-black">
		  <span class="hidden md:inline">Over 750,000 Users use Helperbird to improve their web experience.</span>
		  <a href="/reviews/" class="font-semibold text-pink-600"><span class="absolute inset-0" aria-hidden="true"></span> Read our customer stories <span aria-hidden="true">&rarr;</span></a>
		</p>
	  </div>
	</div>
  </div>
  

