<div class="bg-gray-800">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:px-8">
		<h2 class="text-center text-gray-400 text-sm font-semibold uppercase tracking-wide">
			TRUSTED BY OVER 500,000 FORWARD-THINKING USERS
		</h2>
		<div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
				<img alt="Tuple" class="h-12" src="/assets/images/logo/microsoft.png" />
			</div>
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
				<img alt="Mirage" class="h-12" src="/assets/images/logo/gusto.png" />
			</div>
			<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
				<img alt="StaticKit" class="h-12" src="/assets/images/logo/neveda.png" />
			</div>
			<div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
				<img alt="Transistor" class="h-12" src="/assets/images/logo/school.png" />
			</div>
			<div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
				<img alt="Workcation" class="h-12" src="/assets/images/logo/rio-texas.png" />
			</div>
		</div>
	</div>
</div>
