<div class="bg-gray-900 py-24 sm:py-32 border-stone-600 border-2 rounded-lg">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
            <div class="text-center">
                <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Trusted by everyone</h2>
                <p class="mt-4 text-lg leading-8 text-gray-300">
					Embracing simplicity, reliability, and a user-focused experience, we strive to deliver powerful, accessible technology to everyone.
                </p>
            </div>
            <dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
                <div class="flex flex-col bg-white/5 p-8">
                    <dt class="text-sm font-semibold leading-6 text-gray-300" id="users">Users of Helperbird each month</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-white" aria-labelledby="users">1,000,000+</dd>
                </div>
  
                <div class="flex flex-col bg-white/5 p-8">
                    <dt class="text-sm font-semibold leading-6 text-gray-300" id="countries">Countries using Helperbird</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-white" aria-labelledby="countries">140+</dd>
                </div>
  
                <div class="flex flex-col bg-white/5 p-8">
                    <dt class="text-sm font-semibold leading-6 text-gray-300" id="score">The average review score of Helperbird.</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-white" aria-labelledby="score">4.8+</dd>
                </div>
  
                <div class="flex flex-col bg-white/5 p-8">
                    <dt class="text-sm font-semibold leading-6 text-gray-300" id="payout">Paid out to creators</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-white" aria-labelledby="payout">$70M</dd>
                </div>
            </dl>
        </div>
    </div>
</div>
