<div class="relative bg-gray-900">
	<div
	  class="h-80 absolute bottom-0 xl:inset-0 xl:h-auto xl:grid xl:grid-cols-2"
	>
	  <div class="h-full xl:relative xl:col-start-2">
		<img
		  class="h-full w-full object-cover opacity-25 xl:absolute xl:inset-0"
		  loading="lazy"
		  src="/assets/images/home/metric.jpeg"
		  alt="People working on laptops"
		/>
		<div
		  class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"
		  aria-hidden="true"
		></div>
	  </div>
	</div>
	<div
	  class="max-w-4xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-cols-2 xl:grid-flow-col-dense xl:gap-x-8"
	>
	  <div class="relative pt-12 pb-64 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24">
		<h2 class="text-sm font-semibold tracking-wide uppercase">
		  <span
			class="bg-gradient-to-r from-purple-300 to-pink-300 bg-clip-text text-transparent"
			>Helperbird Metrics</span
		  >
		</h2>
		<p class="mt-3 text-3xl font-extrabold text-white">
		  We help change people's lives from in the work place, school,
		  researchers and everyone in between.
		</p>
		<p class="mt-5 text-lg text-gray-300">
		  Helperbird is built to help students, but it has grown to allow everyone
		  to be more productive and accessible.
		</p>
		<div class="mt-12 grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-2">
		  <p>
			<span class="block text-2xl font-bold text-white">350K+</span>
			<span class="mt-1 block text-base text-gray-300">
			  <span class="font-medium text-white">Users</span>
			  around the world using Helperbird each month.</span
			>
		  </p>
		  <p>
			<span class="block text-2xl font-bold text-white">170+</span>
			<span class="mt-1 block text-base text-gray-300">
			  <span class="font-medium text-white"
				>Countries around the globe.</span
			  >
			</span>
		  </p>
		  <p>
			<span class="block text-2xl font-bold text-white">4.8+</span>
			<span class="mt-1 block text-base text-gray-300">
			  <span class="font-medium text-white">out of 5,</span>
			  the average review score of Helperbird.</span
			>
		  </p>
		</div>
	  </div>
	</div>
  </div>
  