<!-- Modal 6 -->
<dialog id="download_modal" class="modal" aria-labelledby="download_modal_title" aria-modal="true">
	<div class="modal-box">
		<button
			onclick="download_modal.close()"
			class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
			aria-label="Close the extension modal popup"
		>
			<span class="sr-only">Close the extension modal popup</span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				viewBox="0 -960 960 960"
				fill="currentColor"
				aria-hidden="true"
			>
				<path
					d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
				/>
			</svg>
		</button>

		<div class="mt-12 w-full items-start">
			<h2 id="download_modal_title" class="sr-only">Download Helperbird Extensions</h2>
			<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3">
				<li class="text-center">
					<div class="p-4">
						<img
							class="mx-auto"
							alt="Download Helperbird for Google Chrome"
							title="Helperbird Chrome Extension Logo"
							loading="lazy"
							src="/assets/images/home/chrome.png"
							width="60"
							height="60"
						/>
						<a
							class="btn btn-secondary btn-sm btn-block mt-8 gap-2"
							href="https://chrome.google.com/webstore/detail/helperbird-accessibility/ahmapmilbkfamljbpgphfndeemhnajme"
							rel="noopener noreferrer"
							target="_blank"
							title="Download Helperbird from the Chrome Web Store"
						>
							<span>Download</span>
						</a>
					</div>
				</li>

				<li class="text-center">
					<div class="p-4">
						<img
							class="mx-auto"
							alt="Download Helperbird for Safari"
							title="Helperbird Safari Extension Icon"
							loading="lazy"
							src="/assets/images/home/safari.png"
							width="60"
							height="60"
						/>
						<a
							class="btn btn-secondary btn-sm btn-block mt-8 gap-2"
							href="https://apps.apple.com/us/app/helperbird-for-safari/id1589138053"
							rel="noopener noreferrer"
							target="_blank"
							title="Download Helperbird from the Apple App Store"
						>
							<span>Download</span>
						</a>
					</div>
				</li>

				<li class="text-center">
					<div class="p-4">
						<img
							class="mx-auto"
							alt="Download Helperbird for Microsoft Edge"
							title="Helperbird Microsoft Edge Extension Icon"
							loading="lazy"
							src="/assets/images/home/edge.png"
							width="60"
							height="60"
						/>
						<a
							class="btn btn-secondary btn-sm btn-block mt-8 gap-2"
							href="https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd"
							rel="noopener noreferrer"
							target="_blank"
							title="Download Helperbird from the Microsoft Edge Add-ons"
						>
							<span>Download</span>
						</a>
					</div>
				</li>

				<li class="text-center">
					<div class="p-4">
						<img
							class="mx-auto"
							alt="Download Helperbird for Google Docs"
							title="Helperbird Google Docs Add-on Icon"
							loading="lazy"
							src="/assets/images/home/docs.png"
							width="60"
							height="60"
						/>
						<a
							class="btn btn-secondary btn-sm btn-block mt-8 gap-2"
							href="https://workspace.google.com/marketplace/app/helperbird/844716805038"
							rel="noopener noreferrer"
							target="_blank"
							title="Download Helperbird from the Google Workspace Marketplace"
						>
							<span>Download</span>
						</a>
					</div>
				</li>

				<li class="text-center">
					<div class="p-4">
						<img
							class="mx-auto"
							alt="Download Helperbird for Google Slides"
							title="Helperbird Google Slides Add-on Icon"
							loading="lazy"
							src="/assets/images/home/slides.png"
							width="60"
							height="60"
						/>
						<a
							class="btn btn-secondary btn-sm btn-block mt-8 gap-2"
							href="https://workspace.google.com/marketplace/app/helperbird/844716805038"
							rel="noopener noreferrer"
							target="_blank"
							title="Download Helperbird from the Google Workspace Marketplace"
						>
							<span>Download</span>
						</a>
					</div>
				</li>

				<li class="text-center">
					<div class="p-4">
						<img
							class="mx-auto"
							alt="Download Helperbird for Firefox"
							title="Helperbird Firefox Extension Icon"
							loading="lazy"
							src="/assets/images/home/firefox.png"
							width="60"
							height="60"
						/>
						<a
							class="btn btn-secondary btn-sm btn-block mt-8 gap-2"
							href="https://addons.mozilla.org/en-CA/firefox/addon/helperbird/"
							rel="noopener noreferrer"
							target="_blank"
							title="Download Helperbird from the Mozilla Add-ons Store"
						>
							<span>Download</span>
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</dialog>
