<!-- This example requires Tailwind CSS v2.0+-->
<div
	class="fixed inset-0 z-10 hidden overflow-y-auto"
	v-bind:style="showModal ?'display:block !important;' : 'display: none !important;'"
>
	<div
		class="flex min-h-screen items-end justify-center px-4 pt-4 pb-20 text-center sm:block sm:p-0"
	>
		<div class="fixed inset-0 transition-opacity" aria-hidden="true">
			<div class="0 absolute inset-0 bg-white opacity-75"></div>
		</div>
		<!-- This element is to trick the browser into centering the modal contents.-->
		<span class="hidden sm:inline-block sm:h-screen sm:align-middle" aria-hidden="true"
			>&ZeroWidthSpace;</span
		>
		<div
			class="inline-block transform overflow-hidden rounded-lg bg-white align-bottom shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:align-middle"
			role="dialog"
			aria-modal="true"
			aria-labelledby="modal-headline"
		>
			<div class="h-8 w-auto">
				<button
					class="btn btn-outline btn-circle m-4"
					style="float: right !important"
					@click="handleModal"
					role="button"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M6 18L18 6M6 6l12 12"
						/>
					</svg>
				</button>
			</div>
			<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
				<div
					class="grid grid-cols-3 gap-x-6 gap-y-12 sm:grid-cols-3 lg:mt-8 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16"
				>
					<div>
						<img
							class="mx-auto block items-center justify-center"
							alt="Firefox logo"
							loading="lazy"
							src="/assets/images/home/chrome.png"
							width="60px"
							height="60px"
						/>
						<a
							class="btn btn-accent btn-sm btn-block mt-4"
							href="https://chrome.google.com/webstore/detail/helperbird-accessibility/ahmapmilbkfamljbpgphfndeemhnajme"
							rel="noopener"
							target="_blank"
							rel="noreferrer"
						>
							<span>Chrome</span>
						</a>
					</div>
					<div>
						<img
							class="mx-auto block items-center justify-center"
							alt="Firefox logo"
							loading="lazy"
							src="/assets/images/home/firefox.png"
							width="60px"
							height="60px"
						/><a
							class="btn btn-accent btn-sm btn-block mt-4"
							href="https://addons.mozilla.org/en-CA/firefox/addon/helperbird/"
							rel="noreferrer"
							target="_blank"
							rel="noreferrer"
							><span>Firefox</span></a
						>
					</div>
					<div>
						<img
							class="mx-auto block items-center justify-center"
							alt="Firefox logo"
							loading="lazy"
							src="/assets/images/home/edge.png"
							width="60px"
							height="60px"
						/><a
							class="btn btn-accent btn-sm btn-block mt-4"
							href="https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd"
							rel="noreferrer"
							target="_blank"
							rel="noreferrer"
							><span>Edge</span></a
						>
					</div>

					<div>
						<img
							class="mx-auto block items-center justify-center"
							alt="Firefox logo"
							loading="lazy"
							src="/assets/images/home/docs.png"
							width="60px"
							height="60px"
						/><a
							class="btn btn-accent btn-sm btn-block mt-4"
							href="https://workspace.google.com/marketplace/app/helperbird/844716805038"
							rel="noreferrer"
							target="_blank"
							rel="noreferrer"
							><span> Docs</span></a
						>
					</div>
					<div>
						<img
							class="mx-auto block items-center justify-center"
							alt="Firefox logo"
							loading="lazy"
							src="/assets/images/home/slides.png"
							width="60px"
							height="60px"
						/><a
							class="btn btn-accent btn-sm btn-block mt-4"
							href="https://workspace.google.com/marketplace/app/helperbird/844716805038"
							rel="noreferrer"
							target="_blank"
							rel="noreferrer"
							><span> Slides</span></a
						>
					</div>

					<div>
						<img
							class="mx-auto block items-center justify-center"
							alt="Firefox logo"
							loading="lazy"
							src="/assets/images/home/safari.png"
							width="60px"
							height="60px"
						/><a
							class="btn btn-accent btn-sm btn-block mt-4"
							href="https://apps.apple.com/us/app/helperbird-for-safari/id1589138053"
							rel="noreferrer"
							target="_blank"
							rel="noreferrer"
							><span> Safari/iOs </span></a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
