<section
	tabindex="-1"
	class="relative mx-auto max-w-7xl p-8 px-4 pt-16 pb-16 focus:outline-none sm:px-3 md:px-5"
>
	<h2 class="mt-1 text-5xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-5xl">
		Frequently asked questions
	</h2>
	<p class="mt-5 max-w-xl text-2xl">
		Can’t find the answer you’re looking for?
	</p>
	
	<p class="mt-5 max-w-xl text-2xl">
		Reach out to our
		<a href="/support/" class="font-medium text-blue-600 no-underline decoration-blue-500 hover:underline hover:decoration-wavy0"
			>customer support</a
		>
		team.
	</p>



</section>


<div class="relative mx-auto pt-16 pb-16 focus:outline-none">
	<div class="card mb-8 mt-8 bg-white">
		<div class="card-body py-24 px-4">
			<div class="lg:grid lg:grid-cols-3 lg:gap-8">
				<div>
					<h2 class="text-3xl font-extrabold text-gray-900">Frequently asked questions</h2>
					<p class="mt-4 text-lg text-black">
						Can’t find the answer you’re looking for?
						
					</p>
					<p class="mt-2 text-lg text-black">
						Reach out to our
						<a href="/support/" class="font-medium text-blue-600 hover:text-blue-500"
							>customer support</a
						>
						team.
					</p>
				</div>
				<div class="mt-12 lg:col-span-2 lg:mt-0">
					<dl class="space-y-12">
						{%- for question in questions.helperbird -%}
						<div>
							<dt class="text-lg font-medium leading-6 text-gray-900">{{question.question}}</dt>
							<dd class="mt-2 text-base text-black">{{question.answer}}</dd>
						</div>
						{%- endfor -%}

						<!-- More questions... -->
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>
