<section class="rounded-xl bg-white  py-24  shadow-md mt-16 mb-16">
	<div class="mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40">
		<div class="lg:grid lg:grid-cols-12 lg:gap-8">
			<div class="lg:col-span-5">
				<h2 class="font-sans  text-3xl font-bold leading-relaxed text-black">
					Frequently asked questions
				</h2>
				<p class="mt-4 font-sans text-lg leading-relaxed text-black">
					Can’t find the answer you’re looking for? Reach out to our
					<a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500"
						>customer support</a
					>
					team.
				</p>
			</div>
			<div class="mt-10 lg:col-span-7 lg:mt-0">
				<dl class="space-y-10">
					{%- for question in questions.helperbird -%}

					<div class="mb-10">
						<dt class="font-sans text-lg font-bold leading-relaxed text-black">
							{{question.question}}
						</dt>
						<dd class="mt-4 font-sans text-base leading-relaxed my-4 text-black">{{question.answer}}</dd>
					</div>
					{%- endfor -%}

				
				</dl>
			</div>
		</div>
	</div>
</section>
