<section tabindex="-1" class="relative mx-auto max-w-7xl p-8 px-4 pt-16 pb-16 focus:outline-none sm:px-3 md:px-5">
    <h2 class="leading-relaxed font-sans  mt-1 text-5xl font-extrabold text-gray-900 sm:text-5xl sm:  lg:text-5xl" tabindex="0">What our Helperbird customers say</h2>
    <p class="leading-relaxed font-sans  mt-5 max-w-xl text-2xl">Over 1,000,000 use Helperbird every day.<br>Allowing them to make the web more accessible and be more productive on the web.</p>
    <div class="mt-8 flex flex-wrap space-y-4 text-center sm:space-y-0 sm:space-x-4">
        <div class="mt-8 mb-8 flex flex-wrap space-y-4 text-center sm:space-y-0 sm:space-x-4">
            <a class="btn-base btn-outline btn mr-4 hidden  rounded-xl shadow-md sm:flex" href="/reviews/">See all reviews</a>
        </div>
    </div>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
        <div class="space-y-8">
            {%- for review in reviews.reviews limit:2 -%}
            <figure class="rounded-2xl bg-white p-6 shadow-lg shadow-md">
                <blockquote class="leading-relaxed font-sans  text-gray-900">
                    <p>“{{ review.review }}”</p>
                </blockquote>
                <figcaption class="mt-6 flex items-center gap-x-4">
                    <img 
                    class="h-10 w-10 rounded-2xl bg-gray-50" 
                    alt="Profile photo of Helperbird Pro user {{ review.name }}" 
                    src="{{ review.photo }}" 
                  />
                  
                    <div>
                        <div class="font-semibold">{{ review.name }}</div>
                        <div class="leading-relaxed font-sans  text-gray-600">{{ review.title }}</div>
                    </div>
                </figcaption>
            </figure>
            {%- endfor -%}
        </div>
        <div class="space-y-8">
            {%- for review in reviews.reviews limit:2 offset:4 -%}
            <figure class="rounded-2xl bg-white p-6 shadow-lg shadow-md">
                <blockquote class="leading-relaxed font-sans  text-gray-900">
                    <p>“{{ review.review }}”</p>
                </blockquote>
                <figcaption class="mt-6 flex items-center gap-x-4">
                    <img 
  class="h-10 w-10 rounded-2xl bg-gray-50" 
  alt="Profile photo of Helperbird Pro user {{ review.name }}" 
  src="{{ review.photo }}" 
/>
                    <div>
                        <div class="font-semibold">{{ review.name }}</div>
                        <div class="leading-relaxed font-sans  text-gray-600">{{ review.title }}</div>
                    </div>
                </figcaption>
            </figure>
            {%- endfor -%}
        </div>
        <div class="space-y-8">
            {%- for review in reviews.reviews limit:2 offset:8 -%}
            <figure class="rounded-2xl bg-white p-6 shadow-lg shadow-md">
                <blockquote class="leading-relaxed font-sans  text-gray-900">
                    <p>“{{ review.review }}”</p>
                </blockquote>
                <figcaption class="mt-6 flex items-center gap-x-4">
                    <img 
                    class="h-10 w-10 rounded-2xl bg-gray-50" 
                    alt="Profile picture of Helperbird Pro user {{ review.name }}" 
                    src="{{ review.photo }}" 
                  />
                  
                    <div>
                        <div class="font-semibold">{{ review.name }}</div>
                        <div class="leading-relaxed font-sans  text-gray-600">{{ review.title }}</div>
                    </div>
                </figcaption>
            </figure>
            {%- endfor -%}
        </div>
    </div>
</section>
