<section
	tabindex="-1"
	class="relative max-w-7xl mx-auto px-4 focus:outline-none sm:px-3 md:px-5 p-8 pt-16 pb-16"
>
	<h2 class="mt-1 text-5xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-5xl">
		What our Helperbird customers say
	</h2>
	<p class="max-w-xl mt-5 text-2xl">
		Over 500,000 use Helperbird every day. Allowing them to be more accessible and productive on the
		web.
	</p>

	<div class="flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4 text-center mt-8">
		<div class="flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4 text-center mt-8 mb-8">
			<a
				class="w-full sm:w-auto flex-none bg-gray-900 hover:bg-gray-700 text-white text-lg leading-6 font-semibold py-3 px-6 border border-transparent rounded-xl focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-900 focus:outline-none transition-colors duration-200"
				href="/reviews/"
				>See all reviews</a
			>
		</div>
	</div>

	<div class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3">
		<ul class="space-y-8">
			{%- for review in reviews.reviews limit:3 -%}

			<div class="text-sm leading-6 helperbird-editor medium-editor-element">
				<figure
					class="relative flex flex-col-reverse bg-white rounded-lg p-6  "
				>
					<blockquote class="mt-6 text-gray-700   ">
						<p class="">{{ review.review }}</p>
					</blockquote>
					<figcaption class="flex items-center space-x-4">
						<img
							src="{{ review.photo }}"
							alt=""
							class="flex-none w-14 h-14 rounded-full object-cover"
							loading="lazy"
						/>
						<div class="flex-auto">
							<div class="text-base text-gray-900 font-semibold   ">
								<span
									class="absolute inset-0 helperbird-editor medium-editor-element"
									data-medium-editor-element="true"
									aria-multiline="true"
									data-medium-editor-editor-index="1"
									medium-editor-index="779ccbf1-5bec-2e88-780f-dee1f4b809a1"
								></span
								>{{ review.name }}
							</div>
							<div class="mt-0.5">{{ review.title }}</div>
						</div>
					</figcaption>
				</figure>
			</div>

			{%- endfor -%}
		</ul>

		<ul class="space-y-8">
			{%- for review in reviews.reviews limit:3 offset:4 -%}

			<div class="text-sm leading-6 helperbird-editor medium-editor-element">
				<figure
					class="relative flex flex-col-reverse bg-white rounded-lg p-6  "
				>
					<blockquote class="mt-6 text-gray-700   ">
						<p class="">{{ review.review }}</p>
					</blockquote>
					<figcaption class="flex items-center space-x-4">
						<img
							src="{{ review.photo }}"
							alt=""
							class="flex-none w-14 h-14 rounded-full object-cover"
							loading="lazy"
						/>
						<div class="flex-auto">
							<div class="text-base text-gray-900 font-semibold   ">
								<span
									class="absolute inset-0 helperbird-editor medium-editor-element"
									data-medium-editor-element="true"
									aria-multiline="true"
									data-medium-editor-editor-index="1"
									medium-editor-index="779ccbf1-5bec-2e88-780f-dee1f4b809a1"
								></span
								>{{ review.name }}
							</div>
							<div class="mt-0.5">{{ review.title }}</div>
						</div>
					</figcaption>
				</figure>
			</div>

			{%- endfor -%}
		</ul>

		<ul class="space-y-8">
			{%- for review in reviews.reviews limit:3 offset:8 -%}

			<div class="text-sm leading-6 helperbird-editor medium-editor-element">
				<figure
					class="relative flex flex-col-reverse bg-white rounded-lg p-6  "
				>
					<blockquote class="mt-6 text-gray-700   ">
						<p class="">{{ review.review }}</p>
					</blockquote>
					<figcaption class="flex items-center space-x-4">
						<img
							src="{{ review.photo }}"
							alt=""
							class="flex-none w-14 h-14 rounded-full object-cover"
							loading="lazy"
						/>
						<div class="flex-auto">
							<div class="text-base text-gray-900 font-semibold   ">
								<span
									class="absolute inset-0 helperbird-editor medium-editor-element"
									data-medium-editor-element="true"
									aria-multiline="true"
									data-medium-editor-editor-index="1"
									medium-editor-index="779ccbf1-5bec-2e88-780f-dee1f4b809a1"
								></span
								>{{ review.name }}
							</div>
							<div class="mt-0.5">{{ review.title }}</div>
						</div>
					</figcaption>
				</figure>
			</div>

			{%- endfor -%}
		</ul>
	</div>
</section>
