<section class="testimonials bg-gray-50 py-8">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
		<div class="text-center">
			<h2
				class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-4xl sm:tracking-tight lg:text-4xl"
			>
				What our Helperbird customers say
			</h2>
			<p class="max-w-xl mt-5 mx-auto text-xl   text-black ">
				Over 500,000 use Helperbird every day. Allowing them to be more accessible and productive on
				the web.
			</p>
		</div>
	</div>
	<div class="owl-carousel owl-carousel-loader">
		{%- for review in reviews.reviews limit:12 -%}
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="rounded-t-xl bg-white-50 px-6 py-8 text-lg leading-8 font-semibold text-gray-900 md:p-10 md:text-xl md:leading-8"
			>
				<svg class="mb-5 fill-current text-pink-100" height="36" width="45">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>{{ review.review }}</p>
			</blockquote>
			<figcaption
				class="flex items-center space-x-4 p-6 rounded-b-xl leading-6 font-semibold text-white bg-pink-500"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						alt="Terry Martins` review of Helperbird. "
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						loading="lazy"
						src="{{ review.photo }}"
					/>
				</div>
				<div class="flex-auto">
					{{ review.name }}<br />
					<span class="text-green-100">{{ review.title }}</span>
				</div>
			</figcaption>
		</figure>
		{%- endfor -%}
	</div>
</section>
