<section class="relative mx-auto max-w-7xl p-8 px-4 pt-16 pb-16 focus:outline-none sm:px-3 md:px-5">
	<h1 class="mt-1 text-5xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-5xl">
		What our Helperbird customers say
	</h1>
	<p class="mt-5 max-w-xl text-2xl">
		Over 1,000,000 use Helperbird every day. 
		<br>
		Allowing them to make the web more accessible and be more productive on
		the web.
	</p>

	<div class="mt-8 flex flex-wrap space-y-4 text-center sm:space-y-0 sm:space-x-4">
		<a
			class="btn-base btn-outline btn mr-4 hidden border-2 border-stone-600 sm:flex"
			href="/reviews/"
			title="See all Helperbird reviews"
			aria-label="See all Helperbird reviews"
			>See all reviews</a>
	</div>

	<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8">
		{%- for review in reviews.reviews limit:2 -%}
		<div class="space-y-8">
			<figure class="rounded-2xl bg-white p-6 shadow-lg border-stone-600 border-2">
				<blockquote class="text-gray-900">
				  <p>“{{ review.review }}”</p>
				</blockquote>
				<figcaption class="mt-6 flex items-center gap-x-4">
				  <img class="h-10 w-10 rounded-full bg-gray-50" alt="Photo of {{ review.name }} who is a Helperbird Pro user" src="{{ review.photo }}">
				  <div>
					<div class="font-semibold">	{{ review.name }}</div>
					<div class="text-gray-600">{{ review.title }}</div>
				  </div>
				</figcaption>
			  </figure>
		</div>
		{%- endfor -%}
	</div>
</section>