doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Privacy for Helperbird for Chrome - Helperbird for Google Chrome, Firefox & Edge
        meta(name='keywords', content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app')
        link(rel='canonical', href='https://www.helperbird.com/features/privacy')
        // Search Engine
        meta(name='description', content='Helperbird does not sell, store, or consume any user data. We do not store data or any other user-related content.')
        meta(name='image', content='./assets/images/favicon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color', content='#db5945')
        // Schema.org for Google
        meta(itemprop='name', content='Privacy for Helperbird for Chrome - Helperbird for Google Chrome, Firefox & Edge')
        meta(itemprop='description', content='Helperbird does not sell, store, or consume any user data. We do not store data or any other user-related content..')
        meta(itemprop='image', content='./assets/images/favicon.png')
        // Twitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Privacy for Helperbird for Chrome - Helperbird for Google Chrome, Firefox & Edge')
        meta(name='twitter:description', content='Helperbird does not sell, store, or consume any user data. We do not store data or any other user-related content.')
        meta(name='twitter:site', content='@helperbird_')
        meta(name='twitter:creator', content='RobertJGabriel')
        meta(name='twitter:image:src', content='https://www.helperbird.com/assets/images/social/twitter.png')
        meta(name='twitter:player', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        // Open Graph general (Facebook, Pinterest & Google+)
        meta(name='og:title', content='Privacy for Helperbird for Chrome - Helperbird for Google Chrome, Firefox & Edge')
        meta(name='og:description', content='Helperbird does not sell, store, or consume any user data. We do not store data or any other user-related content.')
        meta(name='og:image', content='https://www.helperbird.com/assets/images/social/facebook.png')
        meta(name='og:url', content='https://www.helperbird.com/')
        meta(name='og:site_name', content='Privacy for Helperbird for Chrome - Helperbird for Google Chrome, Firefox & Edge')
        meta(name='og:video', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        meta(name='og:type', content='website')
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
        meta(name='msvalidate.01', content='5A4909B55CCBDE2A927000280EAECBBC')
        link(rel="apple-touch-icon" href="touch-icon-iphone.png")
        link(rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon.png")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon.png")
        link(rel="apple-touch-icon" sizes="167x167" href="./assets/images/favicon.png")

        link(rel='manifest', href='/manifest.json')
        link(rel='shortcut icon', href='/assets/images/site/favicon.png')

    
  
        script.
            function big(imgs) {
                var expandImg = document.getElementById("expandedImg");
                var imgText = document.getElementById("imgtext");
                expandImg.src = imgs.src;
                imgText.innerHTML = imgs.alt;
                expandImg.parentElement.style.display = "block";
            }

        include ../includes/scripts.pug
        style
            include ../includes/css/website.min.css

    body.font-friendly
        .bg-light
            // 
            include ../includes/announcement.pug
            include ../includes/header.pug

            section.section_header
                .container
                    .col-12.text-center
                        h1.heading.primary-color.launchaco-builder-hoverable Privacy
                        h2.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable.black
                            | Helperbird will never sell, store, or consume any user data. We do not store data or any other user-related content.

                    .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_right.features_table_override.padding_40
                        .mb20
                            h3.h3_features About
                            p.paragraph_features Helperbird does not sell, store, or consume any user data. We do not store data or any other user-related content. We do not promote advertisements or integrate any third-party software libraries, which can lead to malware exploits. This level of privacy transparency allows Helperbird to be compliant with Coppa and Ferpa laws. As long as schools have technology waiver from parents, Helperbird can be installed and used on school computers.
                            h3.h3_features How it helps?
                            ul.ul_features.mt20
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span 
                                        | Many online services sell, store, track, or promote advertisement as forms of revenue streams. Helperbird does not support this idea as we believe in everyone's right to full privacy. 
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span 
                                        | Having not to worry about a software tracking, storing, or sharing of private user data helps users to stay confident and secure about how their private information is processed online.      
                            h3.h3_features Usefull links
                            ul.ul_features.mt20
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span
                                        a(href="https://en.wikipedia.org/wiki/Web_tracking", target="_blank",  title="Read more on web tracking")
                                            | https://en.wikipedia.org/wiki/Web_tracking
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span
                                        a(href="https://en.wikipedia.org/wiki/Web_tracking", target="_blank", title="Read more on web tracking")
                                            | https://en.wikipedia.org/wiki/Internet_privacy#Risks_to_Internet_privacy
                        .mt40.feature-container
                            h3.h3_features Free feature 
                            p.paragraph_features For more information on Helperbird's free version click the button below.
                            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-full-features.mobile-text-center.accent-bg.button-signup_two(href="/pricing")
                                span See pricing

    include ../includes/footer.pug
    




