doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Text to speech by Helperbird for Google Chrome- Helperbird
        meta(name='keywords', content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app')
        link(rel='canonical', href='https://www.helperbird.com/features/speech-to-text')        
        // Search Engine
        meta(name='description', content='Helperbird allows you to highlight text and have it read out in different language dialects.')
        meta(name='image', content='./assets/images/favicon.png')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color', content='#db5945')
        // Schema.org for Google
        meta(itemprop='name', content='Text to speech - Helperbird for Google Chrome, Firefox & Edge dyslexia & accessibility software')
        meta(itemprop='description', content='Helperbird allows you to highlight text and have it read out in different language dialects.')
        meta(itemprop='image', content='./assets/images/favicon.png')
        // Twitter
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Text to speech - Helperbird for Google Chrome, Firefox & Edge dyslexia & accessibility software')
        meta(name='twitter:description', content='Helperbird allows you to highlight text and have it read out in different language dialects.')
        meta(name='twitter:site', content='@helperbird_')
        meta(name='twitter:creator', content='RobertJGabriel')
        meta(name='twitter:image:src', content='https://www.helperbird.com/assets/images/social/twitter.png')
        meta(name='twitter:player', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        // Open Graph general (Facebook, Pinterest & Google+)
        meta(name='og:title', content='Text to speech - Helperbird for Google Chrome, Firefox & Edge dyslexia & accessibility software')
        meta(name='og:description', content='Helperbird allows you to highlight text and have it read out in different language dialects.')
        meta(name='og:image', content='https://www.helperbird.com/assets/images/social/facebook.png')
        meta(name='og:url', content='https://www.helperbird.com/')
        meta(name='og:site_name', content='Text to speech - Helperbird for Google Chrome, Firefox & Edge dyslexia & accessibility software')
        meta(name='og:video', content='https://www.youtube.com/watch?v=PfILiWebkuc')
        meta(name='og:type', content='website')
        link(href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', rel='stylesheet')
        meta(name='msvalidate.01', content='5A4909B55CCBDE2A927000280EAECBBC')
        link(rel="apple-touch-icon" href="touch-icon-iphone.png")
        link(rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon.png")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon.png")
        link(rel="apple-touch-icon" sizes="167x167" href="./assets/images/favicon.png")

        link(rel='manifest', href='/manifest.json')
        link(rel='shortcut icon', href='/assets/images/site/favicon.png')
    
  
        script.
            function big(imgs) {
                var expandImg = document.getElementById("expandedImg");
                var imgText = document.getElementById("imgtext");
                expandImg.src = imgs.src;
                imgText.innerHTML = imgs.alt;
                expandImg.parentElement.style.display = "block";
            }

        include ../includes/scripts.pug
        style
            include ../includes/css/website.min.css

    body.font-friendly
        .bg-light
            // 
            include ../includes/announcement.pug
            include ../includes/header.pug

            section.section_header
                .container
                    .col-12.text-center
                        h1.heading.primary-color.launchaco-builder-hoverable Speech to Text
                        h2.paragraph.paragraph_features.secondary-color.mt20.launchaco-builder-hoverable.black
                            | Instead of typing, you can speak and Helperbird will turn your speech to text.
                    .col-12.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_right.features_table_override.padding_40
                        .mb20
                            h3.h3_features About
                            p.paragraph_features Speak out to the microphone, and your speech is captured and displayed in a text format with Helperbird's speech to text. Captured text can then be saved into Helperbird notes or shared with other forms of media.
                            p.paragraph_features Not everyone who struggles with writing has poor grammar or vocabulary. Some have trouble getting ideas together and planning how to put them into written form. Speech to text provides an alternative for people struggling to express their ideas in a written format.

                            h3.h3_features Options
                            ul.ul_features.mt20
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span 
                                        | Record speech as text.
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span 
                                        | Save recorded text to notes.
                            h3.h3_features How it helps?
                            ul.ul_features.mt20
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span 
                                        | Flexibility to work outside of work or school.
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span 
                                        | Fewer errors – provides an accurate and reliable method of documentation.
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span 
                                        | Helps to save time with increased efficiency and less paperwork to worry about.
                            h3.h3_features Usefull links
                            ul.ul_features.mt20
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span 
                                        a(href="https://en.wikipedia.org/wiki/Speech_synthesis", target="_blank", title="Read more on Speech synthesis")
                                            | https://en.wikipedia.org/wiki/Speech_synthesis
                                li.flex.mb20
                                    p.pricing_icon
                                        i.fas.fa-star
                                    span.span 
                                        a(href="https://en.wikipedia.org/wiki/Speech_recognition", target="_blank", title="Read more on Speech recognition")
                                            | https://en.wikipedia.org/wiki/Speech_recognition
                      
                            h3.h3_features Demo video
                            div.scroller_video_home.mb20
                                .scroller_video_item_home_page
                                    .youtube_lazy_load(data-embed='aXXRSenvTTg')
                                        .play-button
                            
                            h3.h3_features Screenshots
                            .row_img
                                .column_img.browser
                                    img.width_100(src='/assets/images/screenshot/speech_to_text/speech_to_text_1.png', alt='Open speech to text',onclick='big(this);', loading="lazy" )
                                .column_img.browser
                                    img.width_100(src='/assets/images/screenshot/speech_to_text/speech_to_text_2.png', alt='Click microphone to record using Helperbird', onclick='big(this);', loading="lazy" )
                                .column_img.browser
                                    img.width_100(src='/assets/images/screenshot/speech_to_text/speech_to_text_3.png', alt='Speak feature of Helperbird', onclick='big(this);', loading="lazy" )
                                .column_img.browser
                                    img.width_100(src='/assets/images/screenshot/speech_to_text/speech_to_text_4.png', alt='Display recorded text of Helperbird',  onclick='big(this);'. loading="lazy" )
                                .column_img.browser
                                    img.width_100(src='/assets/images/screenshot/speech_to_text/speech_to_text_5.png', alt='Speak feature of Helperbird', onclick='big(this);', loading="lazy" )
                                .column_img.browser
                                    img.width_100(src='/assets/images/screenshot/speech_to_text/speech_to_text_6.png', alt='Display recorded text of Helperbird',  onclick='big(this);'. loading="lazy" )
                            .container_img.browser
                                img#expandedImg.width_100
                                #imgtext
                        .mt40.feature-container
                            h3.h3_features Plus feature 
                            p.paragraph_features For more information on Helperbird's Plus version click the button below.
                            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-full-features.mobile-text-center.accent-bg.button-signup_two(href="/pricing")
                                span See pricing
                                
    include ../includes/footer.pug
    




