.relative.mt-8.mb-8
  .absolute.inset-0.flex.flex-col(aria-hidden='true')
    .flex-1.bg-gray-50
    .flex-1
  .relative.max-w-7xl.mx-auto.px-4(class='sm:px-6 lg:px-8')
    .bg-gradient-to-r.from-orange-400.to-pink-500.rounded-lg.shadow-xl.overflow-hidden(class='lg:grid lg:grid-cols-2 lg:gap-4')
      .pt-10.pb-12.px-6(class='sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20')
        div(class='lg:self-center')
          h2.text-3xl.font-extrabold.text-white(class='sm:text-4xl')
            span.block Make the web more accessible today!
            span.block.text-red-900 Download today
          p.mt-4.text-lg.leading-6.text-orange-50
            | Discover why over 300,000 users love Helperbird and its over 28+ features.
          a.mt-8.bg-orange-100.border.border-transparent.rounded-md.shadow.py-3.px-6.inline-flex.items-center.text-base.font-medium.text-red-600(href='/pricing' class='hover:text-red-500') Download for free 
          a.mt-8.bg-orange-100.border.border-transparent.rounded-md.shadow.py-3.px-6.inline-flex.items-center.text-base.font-medium.text-red-600.ml-2(href='/order' class='hover:text-red-500') Request a Purchase order
      .-mt-6.aspect-w-5.aspect-h-3(class='md:aspect-w-2 md:aspect-h-1')
        img.transform.translate-x-6.translate-y-6.rounded-md.object-cover.object-left-top(class='sm:translate-x-16 lg:translate-y-20' src='/assets/images/new/dyslexia-ruler/dyslexia-ruler.png' alt='App screenshot')
