.bg-white.pb-8(class='sm:pb-12 lg:pb-12')
  .pt-8.overflow-hidden(class='sm:pt-12 lg:relative lg:py-24')
    .mx-auto.max-w-md.px-4(class='sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24')
      div
        .mt-10
          .mt-6(class='sm:max-w-xl')
            h1.text-4xl.font-extrabold.text-gray-900.tracking-tight(class='sm:text-5xl')
              span.block(class='xl:inline') 
                | Your all in one 
              span.block.text-indigo-600(class='xl:inline') 
                | accessibility and  productivity tool
            p.mt-6.text-xl.text-gray-500
              | Helperbird is your all in one extension, that gives you the features to make the web more accessible and productive. Providing you text to speech, OCR, dyslexia support, dictation, immersive reader, overlays, annotate any website,picture dictionary,Reader mode, and more.
          .mt-6
            .inline-flex.items-center.divide-x.divide-gray-300
              .flex-shrink-0.flex.pr-5
                // Heroicon name: star
                svg.h-5.w-5.text-yellow-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                  path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
                // Heroicon name: star
                svg.h-5.w-5.text-yellow-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                  path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
                // Heroicon name: star
                svg.h-5.w-5.text-yellow-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                  path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
                // Heroicon name: star
                svg.h-5.w-5.text-yellow-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                  path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
                // Heroicon name: star
                svg.h-5.w-5.text-yellow-400(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                  path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
              .min-w-0.flex-1.pl-5.py-1.text-sm.text-gray-500(class='sm:py-3')
                span.font-medium.text-gray-900 Rated 5 stars
                |  by over 
                span.font-medium.text-rose-500 300,000 people using Helperbird to improve their productivity and accessibility.
          
          .mt-10(class='sm:flex sm:justify-center lg:justify-start')
            .rounded-md.shadow
              a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(href='/pricing' class='hover:bg-indigo-700 md:py-4 md:text-lg md:px-10')
                | Get started
            .mt-3.rounded-md.shadow(class='sm:mt-0 sm:ml-3')
              a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-indigo-600.bg-white(href='/features' class='hover:bg-gray-50 md:py-4 md:text-lg md:px-10')
                | See features

    div(class='sm:mx-auto sm:max-w-3xl sm:px-6')
      .py-12(class='sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2')
        .hidden(class='sm:block')
          svg.absolute.top-8.-mr-3(class='right-1/2 lg:m-0 lg:left-0' width='404' height='392' fill='none' viewbox='0 0 404 392')
            defs
              pattern#837c3e70-6c3a-44e6-8854-cc48c737b659(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='392' fill='url(#837c3e70-6c3a-44e6-8854-cc48c737b659)')
        .relative.-mr-40(class='pl-4 sm:pl-0 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:pl-12')
          video.rounded-md.ring-0.ring-black.ring-opacity-100(class='w-min shadow-lg'  width="600" height="402" autoplay="autoplay" muted="muted"  control="control" loop="loop" playsinline="playsinline")
            source(src="/assets/videos/home.webm" type="video/webm")
            source(src="/assets/videos/home.mp4" type="video/mp4")
          
          

