.pt-8.overflow-hidden(class='sm:pt-12 lg:relative lg:py-48')
  .mx-auto.max-w-md.px-4(class='sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24')
    div
      div
        img.h-11.w-auto(src='/assets/images/pwa/logo/full.png' alt='Workflow')
      .mt-20
        div
          a.inline-flex.space-x-4(href='#')
            span.rounded.bg-red-50.py-1.text-xs.font-semibold.text-red-500.tracking-wide.uppercase(class='px-2.5')
              | What&apos;s new
            span.inline-flex.items-center.text-sm.font-medium.text-red-500.space-x-1
              span Just shipped version 0.1.0
              svg.h-5.w-5(x-description='Heroicon name: chevron-right' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')
        .mt-6(class='sm:max-w-xl')
          h1.text-4xl.font-extrabold.text-gray-900.tracking-tight(class='sm:text-5xl')
            | Issue management for growing teams
          p.mt-6.text-xl.text-gray-500
            | Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.
        .mt-10(class='sm:flex sm:justify-center lg:justify-start')
          .rounded-md.shadow
            a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(href='#' class='hover:bg-indigo-700 md:py-4 md:text-lg md:px-10')
              | Get started
          .mt-3.rounded-md.shadow(class='sm:mt-0 sm:ml-3')
            a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-indigo-600.bg-white(href='#' class='hover:bg-gray-50 md:py-4 md:text-lg md:px-10')
              | Live demo


        .mt-6
          .inline-flex.items-center.divide-x.divide-gray-300
            .flex-shrink-0.flex.pr-5
              svg.h-5.w-5.text-yellow-400(x-description='Heroicon name: star' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
              svg.h-5.w-5.text-yellow-400(x-description='Heroicon name: star' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
              svg.h-5.w-5.text-yellow-400(x-description='Heroicon name: star' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
              svg.h-5.w-5.text-yellow-400(x-description='Heroicon name: star' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
              svg.h-5.w-5.text-yellow-400(x-description='Heroicon name: star' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor' aria-hidden='true')
                path(d='M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z')
            .min-w-0.flex-1.pl-5.py-1.text-sm.text-gray-500(class='sm:py-3')
              span.font-medium.text-gray-900 Rated 5 stars
              |  by over 
              span.font-medium.text-red-500 500 beta users
  div(class='sm:mx-auto sm:max-w-3xl sm:px-6')
    .py-12(class='sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2')
      .hidden(class='sm:block')
        .absolute.inset-y-0.w-screen.bg-gray-50.rounded-l-3xl(class='left-1/2 lg:left-80 lg:right-0 lg:w-full')
        svg.absolute.top-8.-mr-3(class='right-1/2 lg:m-0 lg:left-0' width='404' height='392' fill='none' viewbox='0 0 404 392')
          defs
            pattern#837c3e70-6c3a-44e6-8854-cc48c737b659(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
              rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
          rect(width='404' height='392' fill='url(#837c3e70-6c3a-44e6-8854-cc48c737b659)')
      .relative.pl-4.-mr-40(class='sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12')
        img.w-full.rounded-md.shadow-xl.ring-1.ring-black.ring-opacity-5(class='lg:h-full lg:w-auto lg:max-w-none' src='https://tailwindui.com/img/component-images/task-app-rose.jpg' alt='')
