div.relative.bg-gray-50.overflow-hidden
  .hidden(class='lg:block lg:absolute lg:inset-0' aria-hidden='true')
    svg.absolute.top-0.transform.translate-x-64.-translate-y-8(class='left-1/2' width='640' height='784' fill='none' viewbox='0 0 640 784')
      defs
        pattern#9ebea6f4-a1f5-4d96-8c4e-4c2abf658047(x='118' y='0' width='20' height='20' patternunits='userSpaceOnUse')
          rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
      rect.text-gray-50(y='72' width='640' height='640' fill='currentColor')
      rect(x='118' width='404' height='784' fill='url(#9ebea6f4-a1f5-4d96-8c4e-4c2abf658047)')
  .relative.pt-6.pb-16(class='sm:pb-24 lg:pb-32')
    div(class='lg:grid lg:grid-cols-12 lg:gap-8')
      div(class='sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left')
        h1
          span.block.text-sm.font-semibold.uppercase.tracking-wide.text-gray-500(class='sm:text-base lg:text-sm xl:text-base') Coming soon
          span.mt-1.block.text-4xl.tracking-tight.font-extrabold(class='sm:text-5xl xl:text-6xl')
            span.block.text-gray-900 Data to enrich your
            span.block.text-indigo-600 online business
        p.mt-3.text-base.text-gray-500(class='sm:mt-5 sm:text-xl lg:text-lg xl:text-xl')
          | Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua ad ad non deserunt sunt.
        .mt-8(class='sm:max-w-lg sm:mx-auto sm:text-center lg:text-left lg:mx-0')
          p.text-base.font-medium.text-gray-900
            | Sign up to get notified when it&rsquo;s ready.
          form.mt-3(action='#' method='POST' class='sm:flex')
            label.sr-only(for='email') Email
            input#email.block.w-full.py-3.text-base.rounded-md.placeholder-gray-500.shadow-sm.border-gray-300(type='text' name='email' class='focus:ring-indigo-500 focus:border-indigo-500 sm:flex-1' placeholder='Enter your email')
            button.mt-3.w-full.px-6.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-gray-800.shadow-sm(type='submit' class='hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:flex-shrink-0 sm:inline-flex sm:items-center sm:w-auto')
              | Notify me
          p.mt-3.text-sm.text-gray-500
            | We care about the protection of your data. Read our
            a.font-medium.text-gray-900.underline(href='/privacy') Privacy Policy
            | .
      .mt-12.relative(class='sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center')
        svg.absolute.top-0.transform.-translate-y-8.scale-75.origin-top(class='left-1/2 -translate-x-1/2 sm:scale-100 lg:hidden' width='640' height='784' fill='none' viewbox='0 0 640 784' aria-hidden='true')
          defs
            pattern#4f4f415c-a0e9-44c2-9601-6ded5a34a13e(x='118' y='0' width='20' height='20' patternunits='userSpaceOnUse')
              rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
          rect.text-gray-50(y='72' width='640' height='640' fill='currentColor')
          rect(x='118' width='404' height='784' fill='url(#4f4f415c-a0e9-44c2-9601-6ded5a34a13e)')
        .relative.mx-auto.w-full.rounded-lg.shadow-lg(class='lg:max-w-md')
          button.relative.block.w-full.bg-gray-50.rounded-lg.overflow-hidden(type='button' class='focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
            span.sr-only Watch our video to learn more
            img.w-full(loading="lazy" src='https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80' alt='Photo of Helperbirds user')
            .absolute.inset-0.w-full.h-full.flex.items-center.justify-center(aria-hidden='true')
              svg.h-20.w-20.text-indigo-500(fill='currentColor' viewbox='0 0 84 84')
                circle(opacity='0.9' cx='42' cy='42' r='42' fill='white')
                path(d='M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z')
