// This example requires Tailwind CSS v2.0+
.bg-white
  .max-w-7xl.mx-auto.py-12.px-4(class='sm:px-6 lg:px-8')
    .grid.grid-cols-2.gap-8(class='md:grid-cols-6 lg:grid-cols-5')
      .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
        img.h-12(src='https://tailwindui.com/img/logos/tuple-logo-gray-400.svg' alt='Tuple')
      .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
        img.h-12(src='https://tailwindui.com/img/logos/mirage-logo-gray-400.svg' alt='Mirage')
      .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
        img.h-12(src='https://tailwindui.com/img/logos/statickit-logo-gray-400.svg' alt='StaticKit')
      .col-span-1.flex.justify-center(class='md:col-span-3 lg:col-span-1')
        img.h-12(src='https://tailwindui.com/img/logos/transistor-logo-gray-400.svg' alt='Transistor')
      .col-span-2.flex.justify-center(class='md:col-span-3 lg:col-span-1')
        img.h-12(src='https://tailwindui.com/img/logos/workcation-logo-gray-400.svg' alt='Workcation')
