// This example requires Tailwind CSS v2.0+
.bg-white.my-8
  .max-w-7xl.mx-auto.py-12.px-4(class='sm:px-6 lg:px-8')
    h2.text-center.text-2xl.font-semibold.uppercase.text-gray-500.tracking-wide.mb-4
      | Trust by over 450,000 users, schools & businesses
    p.text-center.text-base.font-semibold.uppercase.text-gray-500.tracking-wide
      | Over 450,000 users trust us to deliver the right education for their students.
    .grid.grid-cols-2.gap-8.mt-16(class='md:grid-cols-6 lg:grid-cols-5')
      .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
        img.h-12(src='assets/images/logo/edlio.png' alt='Microsoft users Helperbird')
      .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
        img.h-12(src='assets/images/logo/san.png' alt='Mirage')
      .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
        img.h-12(src='assets/images/logo/toronto.png' alt='Toronto College logo')
      .col-span-1.flex.justify-center(class='md:col-span-3 lg:col-span-1')
        img.h-12(src='assets/images/logo/cloverleafs.png' alt='Clover Leafs logo')
      .col-span-2.flex.justify-center(class='md:col-span-3 lg:col-span-1')
        img.h-12(src='assets/images/logo/logo_pentahoV2.png' alt='Pentago logo')



