// Stats section
.relative.bg-gray-900
  .h-80.absolute.bottom-0(class='xl:inset-0 xl:h-auto xl:grid xl:grid-cols-2')
    .h-full(class='xl:relative xl:col-start-2')
      img.h-full.w-full.object-cover.opacity-25(class='xl:absolute xl:inset-0' src='https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100' alt='People working on laptops')
      .absolute.inset-x-0.top-0.h-32.bg-gradient-to-b.from-gray-900(aria-hidden='true' class='xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r')
  .max-w-4xl.mx-auto.px-4(class='sm:px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-cols-2 xl:grid-flow-col-dense xl:gap-x-8')
    .relative.pt-12.pb-64(class='sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24')
      h2.text-sm.font-semibold.tracking-wide.uppercase
        span.bg-gradient-to-r.from-purple-300.to-indigo-300.bg-clip-text.text-transparent Helperbird Metrics
      p.mt-3.text-3xl.font-extrabold.text-white We help change peoples lives from in the work place, school, researchers and everone inbetween.
      p.mt-5.text-lg.text-gray-300
        | Helperbird was built to help students but it has grown to help everyone to be more productivity and accessibility
      .mt-12.grid.grid-cols-1.gap-y-12.gap-x-6(class='sm:grid-cols-2')
        p
          span.block.text-2xl.font-bold.text-white 350K+
          span.mt-1.block.text-base.text-gray-300
            span.font-medium.text-white Users
            |  around the world using Helperbird each month.
        p
          span.block.text-2xl.font-bold.text-white 170+
          span.mt-1.block.text-base.text-gray-300
            span.font-medium.text-white Countries around the globe
        p
          span.block.text-2xl.font-bold.text-white 4.8+
          span.mt-1.block.text-base.text-gray-300
            span.font-medium.text-white out of 5,
            |  the average review score of Helperbird