- 
  var news = [

    {
      "site": "Microsoft.com",
      "title": "Helperbird partners with Microsoft",
      "link": "http://educationblog.microsoft.com/en-us/2020/01/live-from-bett-whats-new-in-edu-fostering-an-accessible-inclusive-classroom-that-works-for-all-students",
      "date": "2020-01-29"
    },


    {
      "site": "Smashing magazine",
      "title": "Black Friday 2019: Support Indie Makers ",
      "link": "http://www.smashingmagazine.com/2019/11/black-friday-2019/",
      "date": "2019-12-01"
    },


    {
      "site": "Anchor.fm",
      "title": "EduTechGuys podcast interview",
      "link": "https://anchor.fm/edutechguys/episodes/S5E13---Robert-James-Gabriel---Helperbird-com-e892dt",
      "date": "2019-12-01"
    },




    {
      "site": "Missouri Assistive Technology",
      "title": "More Resources for students with disabilities",
      "link": "https://myemail.constantcontact.com/More-Resources-for-students-with-disabilities.html?soid=1107025150232&aid=lEHyC4cRkoI",
      "date": "2019-12-01"
    },


    {
      "site": "Online Resources for Schools",
      "title": "National School Choice Week",
      "link": "https://schoolchoiceweek.com/keep-learning/",
      "date": "2019-12-01"
    },



    {
      "site": "Softpedia.com",
      "title": "Make web browsing and reading easier with the help of this useful Google Chrome extension",
      "link": "https://www.softpedia.com/",
      "date": "2019-12-01"
    },

      {
      "site": "Missouri Assistive Technology",
      "title": "Educational Supports",
      "link": "https://at.mo.gov/device-loan/educational-supports.html",
      "date": "2019-12-01"
    },

      {
      "site": "Smore",
      "title": "Educational Supports",
      "link": "https://www.smore.com/0fp14-guided-reading-newsletter",
      "date": "2019-12-01"
    },


      {
      "site": "Aem.cast.org",
      "title": "Text to Speech as a Support for Personalizing the Reading Experience",
      "link": "http://aem.cast.org/navigating/text-to-speech-for-a-personalized-reading-experience.html",
      "date": "2019-12-01"
    },


      {
      "site": "I love free software",
      "title": "FREE CHROME EXTENSION FOR DYSLEXICS WITH FRIENDLY FONTS, ZOOM TEXT, COLOR BLINDNESS FEATURE",
      "link": "https://www.ilovefreesoftware.com/14/windows/internet/plugins/free-chrome-extension-dyslexics-friendly-fonts-zoom-text-color-blindness-feature.html",
      "date": "2019-12-01"
    },


      {
      "site": "Getting Smart",
      "title": "Helperbird meets immersive reader",
      "link": "https://www.gettingsmart.com/2020/02/a-powerful-microsoft-education-experience-at-bett/",
      "date": "2019-12-01"
    },

    {
      "site": "Kapwing",
      "title": "7 Online Accessibility Lessons You Might Not Know About",
      "link": "http://www.kapwing.com/resources/10-online-accessibility-lessons-you-might-not-know-about/",
      "date": "2019-12-01"
    }
  ]

section.section.testimonials.testimonials_custom
  .container


    ul.plan-features.grid__item.grid__item--reviews.grid__item--mobile-large.owl-carousel
      each val in news
        li.plan-features__item
          a(href= val.link, target="_blank" alt= val.site + ' ' + val.title )
            .item
              .profile
                .information
                  p #{val.title} 
                  span.in-the-news #{val.site}

