.bg-white
  .max-w-7xl.mx-auto.py-12.px-4(class='sm:px-6 lg:px-8')
    .grid.grid-cols-2.gap-8(class='md:grid-cols-6 lg:grid-cols-5')
      .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
        img.h-12(src='https://www.helperbird.com/assets/images/logo/logo_pentahoV2.png' alt='Tuple')
      .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
        img.h-12(src='https://www.helperbird.com/assets/images/logo/toronto.png' alt='Mirage')
      .col-span-1.flex.justify-center(class='md:col-span-2 lg:col-span-1')
        img.h-12(src='https://www.helperbird.com/assets/images/logo/san.png' alt='StaticKit')
      .col-span-1.flex.justify-center(class='md:col-span-3 lg:col-span-1')
        img.h-12(src='https://www.helperbird.com/assets/images/logo/ucc.png' alt='Transistor')
      .col-span-2.flex.justify-center(class='md:col-span-3 lg:col-span-1')
        img.h-12(src='https://www.helperbird.com/assets/images/logo/microsoft.png' alt='Workcation')
