div.hidden
  .max-w-7xl.mx-auto.py-12.px-4(class='sm:px-6 lg:px-8')
    h3.text-center.text-base.font-semibold.uppercase.text-gray-600.tracking-wider
      | Relied upon by Thousands of Business & Schools
    .mt-6.grid(class='sm:grid-cols-2 md:grid-cols-6 lg:mt-8 gap-0.5')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/logo_pentahoV2.png' alt='Tuple')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/toronto.png' alt='Mirage')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/san.png' alt='StaticKit')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/ucc.png' alt='Transistor')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/producthunt.png' alt='StaticKit')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/smashing-magazine-logo.png' alt='Transistor')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/nexus.png' alt='Transistor')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/softpedia.png' alt='Transistor')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/indiehackers_logo.png' alt='Transistor')
      .col-span-1.flex.justify-center.py-8.px-8
        img.w-min.press-logos(src='https://www.helperbird.com/assets/images/logo/microsoft.png' alt='Transistor')

