section.section#faq-9
  .container-lrg.text-center
    .col-12
      h3.heading.primary-color.launchaco-builder-hoverable.why_us Common questions
  .container.mt40
    .col-12.questions
      .faq.pad20
        input.faq-input#faq-dropdown-9-0(name='faq', type='checkbox')
        label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-0')
          span.bold.primary-color.mr20 What is Accessibility checker?
          svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
              
              
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable Helperbird is a browser extension that gives everybody the features and customization to make browsing and reading on the web easy. Including specialized fonts (OpenDyslexic), background colors, font colors, dyslexia ruler, text to speech, and more for Google Chrome!


      .faq.pad20
        input.faq-input#faq-dropdown-9-711222224(name='faq', type='checkbox')
        label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-711222224')
          span.bold.primary-color.mr20 How do I activate my subscription?
          svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
              
              
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable We use the email your logged into Google Chrome or your browser with. If you used a different email then your billing. Just contact us.

      .faq.pad20
        input.faq-input#faq-dropdown-9-71122222(name='faq', type='checkbox')
        label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-71122222')
          span.bold.primary-color.mr20 How do I login ?
          svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
              
              
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable We use the email your logged into Google Chrome or your browser with. If you need to update your email. Just contact us.
      .faq.pad20
        input.faq-input#faq-dropdown-9-711233(name='faq', type='checkbox')
        label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-711233')
          span.bold.primary-color.mr20 Are there any plans for new features?
          svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
              
              
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable Yes, we are doing the honor system here. We will follow up to ask for confirmation you are a student.
      .faq.pad20
        input.faq-input#faq-dropdown-9-71122(name='faq', type='checkbox')
        label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-71122')
          span.bold.primary-color.mr20 Can I cancel at any time?
          svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
              
              
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable There's no minimum contract for Helperbird — cancel at any time without penalty or hassle. If you prepaid for a year, we’ll refund any unused months. To cancel, open up the app and go to the subscription option and click cancel and that it.

      .faq.pad20
        input.faq-input#faq-dropdown-9-3(name='faq', type='checkbox')
        label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-3')
          span.bold.primary-color.mr20 I have a suggestion!
          svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | Excellent I would love to hear about it! Email 
          a.__cf_email__(data-cfemail='1f6c6a6f6f706d6b5f777a736f7a6d7d766d7b317c7072', href='/cdn-cgi/l/email-protection') [email protected]
          |  with your suggestion.

      .faq.pad20
        input.faq-input#faq-dropdown-9-7111211(name='faq', type='checkbox')
        label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-7111211')
          span.bold.primary-color.mr20 What is your privacy policy?
          svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
              
              
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | Overview
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | This Privacy Policy describes how your personal information is handled in Helperbird for Chrome, Firefox and Edge.

        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | We Collect No Personal Information Using Our Applications
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | We do not collect, use, save, or have access to any of your personal data recorded in Helperbird for Chrome, Firefox or Edge.

        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | Individual settings relating to the Helperbird apps are not personal and are stored only on your device and account. You might also be asked to provide access to your email and access to modify the current webpage, but this is only so you can check if your account is marked as paid in Stripe and so we can make the changes you requested on the webpage. We don’t process that information at all and have no access to it.

        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | Our Applications Comply with the Children’s Online Privacy Protection Act (COPPA & FERPA)
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | Our applications don’t collect personal information from anyone, including children under the age of 13.

        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | Contact Us
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | If you have any questions about this Privacy Policy, feel free to get in touch with us at support@helperbird.com






      .faq.pad20
        input.faq-input#faq-dropdown-9-711111(name='faq', type='checkbox')
        label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-711111')
          span.bold.primary-color.mr20 What if I have more questions?
          svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
              
              
        p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          | We'd be happy to answer 
          a(href='/cdn-cgi/l/email-protection#456a6a363035352a3731052d2029352037272c37216b262a28') them
