.bg-gray-50
  .max-w-7xl.mx-auto.py-16.px-4(class='sm:px-6 lg:py-20 lg:px-8')
    div(class='lg:grid lg:grid-cols-3 lg:gap-8')
      div
        h2.text-3xl.font-extrabold.text-gray-900
          | Frequently asked questions
        p.mt-4.text-lg.text-gray-500
          | Can&rsquo;t find the answer you&rsquo;re looking for? Reach out to our 
          a.font-medium.text-indigo-600(href='/support' class='hover:text-indigo-500') customer support
          |  team.
      .mt-12(class='lg:mt-0 lg:col-span-2')
        dl.space-y-12
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | What is Helperbird?
            dd.mt-2.text-base.text-gray-500
              | Helperbird is your all in one accessibility extension that gives you the features to make the web more accessible and productive. Providing you text to speech, OCR, dyslexia support, dictation, immersive reader, overlays, annotate any website, picture dictionary, Reader mode, and more.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | Do you offer discounts?
            dd.mt-2.text-base.text-gray-500
              | Yes. When you pay for a year upfront, you’ll get two months free. We also offer discounts for students.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | How do I login ?
            dd.mt-2.text-base.text-gray-500
              | We use the email your logged into Google Chrome or your browser. Suppose you need to update your email. Just contact us.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | Do you accept purchase orders?
            dd.mt-2.text-base.text-gray-500
              | Yes we do. You can either contact support or visit #[a(href="order") our purchase orders page]
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | Do I need a student email for the student pricing?
            dd.mt-2.text-base.text-gray-500
              | Yes, we are doing the honour system here. We will follow up to ask for confirmation you are a student.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | Is Helperbird Free?
            dd.mt-2.text-base.text-gray-500
              | Yes. We give you the basic features for free. Those features will always be free. We have a Pro version, which helps support the development of Helperbird and the costs with the Pro features. We keep our prices as low as possible, which lower than others. If you have any questions I would love to answer them.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | Can we cancel at any time?
            dd.mt-2.text-base.text-gray-500
              | There's no minimum contract for Helperbird — cancel at any time without penalty or hassle.. To cancel, open up the app, go to the subscription option, and click cancel.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | Why are we charging for this?
            dd.mt-2.text-base.text-gray-500
              | The $6.99 per month is to support the cost of the development of new and upcoming features. We also do a yearly subscription for $60.00 as this is a one-person team.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | What browsers does Helperbird run on?
            dd.mt-2.text-base.text-gray-500
              | Currently Google Chrome, Mozilla Firefox and Edge. Coming soon on macOS Safari extension and iPad.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | I have a suggestion!
            dd.mt-2.text-base.text-gray-500
              | Excellent I would love to hear about it! Email robert.gabriel@helperbird.com with your suggestion.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | Does Helperbird and OpenDyslexic work on Google Docs?
            dd.mt-2.text-base.text-gray-500
              | Yes! Google Docs currently doesn't support some fonts like OpenDyslexic. So we built CSS and support for these fonts.
          div
            dt.text-lg.leading-6.font-medium.text-gray-900
              | What if I have more questions?
            dd.mt-2.text-base.text-gray-500
              | We'd be happy to answer them.
