- 
    var reviews = [
        {
        "name": "Terry Martin",
        "title": "Assistive technology specialist",
        "review": "I am getting such great support from Robert. I enjoy working with him. He answers my questions very quickly. Thanks so much for your great support and a great product.",
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "rating": [0, 1, 2, 3, 4]
        },

            {
        "name": "Catherine Contillo",
        "title": "User",
        "review": "I found this extension on a whim to help myself. Suffering with post concussion syndrome symptoms and working remotely is really hard! This extension basically saved my job. It gave me back productivity and the ability to read the screen. This extension has so many neat features I never even knew I needed. I love this and you will too! You don't need to be dyslexic or have dyslexia for this extension to benefit you. Do yourself a giant favor and get it! I highly recommend it!",
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GhyAic73JjhQT0xGJp38l7wIklg52lYRXegjCjD=s40-c-k",
        "rating": [0, 1, 2, 3, 4 ]
        },

            {
        "name": "Melissa Motz",
        "title": "Teacher",
        "review": "My son has dyslexia and has been struggling with parts of distant learning over the last year. We recently discovered this software and he is loving everything about it, especially with the ease of following directions and completing his assignments! We have used several other tools but this has everything a dyslexia person needs all in one bundle! The upgrade is defiantly worth it to make our daily struggles, on the computer, run much smoother. I also greatly appreciate customer support (helpdesk). They went above and beyond to make sure we were all set up on the computer for my son to most successful.",
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "rating": [0, 1, 2, 3, 4 ]
        },

            {
        "name": "Martin Bui",
        "title": "User",
        "review": "Making such an useful tool, replying to every single comment or review and giving support to people's issues as soon as possible?? Carefully, he is a hero.",
        "photo": "https://lh3.googleusercontent.com/a-/AOh14Ghm2YPaMZuz48Lhr2s0bU-O66dOIBpQXL2oEJaENw=s40-c-k",
        "rating": [0, 1, 2, 3, 4 ]
        },

            {
        "name": "Josh Sharrad",
        "title": "User",
        "review": "A truly great extension! We installed this on all of our 200 Chromebooks across the 3 special schools i work in and it has greatly helped our students use technology to learn. It not only helps our dyslexic learners, but also our autistic and ADHD students by helping remove distractions and making the web a more accessible place. Support is fast and efficient, and updates are very regular with new features constantly being added!",
        "photo": "https://lh3.googleusercontent.com/a-/AOh14Gj-FXmbt6CIoHtVQf4hZYqi9KIEAsjmzoZ7if0l=s40-c-k",
        "rating": [0, 1, 2, 3, 4 ]
        },
            {
        "name": "Vladimir Ciobica",
        "title": "Reviewer",
        "review": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
        "photo": "https://www.helperbird.com/assets/images/reviews/vladimir.jpg",
        "rating": [0, 1, 2, 3, 4 ]
        },            {
        "name": "bondziotek",
        "title": "User",
        "review": "Just added it and it feels like my eyes are flowing through text!",
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GhU6fnZPkD5KVb4qoGokx-1NeZ6mDP36TLVssW2bw=s40-c-k",
        "rating": [0, 1, 2, 3, 4 ]
        },

            {
        "name": "Luke Mccarthy",
        "title": "Teacher",
        "review": "This chrome extension is absolutely amazing. I'm a Primary school teacher and it helps children with a broad range of needs. It's so easy to set up. I love the way it syncs across devices so set up is seamless across all the children's computers. The customizable features are a game changer for allowing children to enjoy reading and accessing the web in our school. The best application I have ever seen for school children. Looking forward to trying the iPad application soon.",
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "rating": [0, 1, 2, 3, 4 ]
        },

            {
        "name": "Sue Dowdall",
        "title": "User",
        "review": "Works a treat. Couldn't get dyslexie.com to work. This is brill!",
        "photo": "https://www.helperbird.com/assets/images/people/sue.png",
        "rating": [0, 1, 2, 3, 4 ]
        },

    ]

section.testimonials.bg-gray-50

    .max-w-7xl.mx-auto.py-16.px-4(class='sm:py-24 sm:px-6 lg:px-8')
        .text-center
            h2.mt-1.text-4xl.font-extrabold.text-gray-900(class='sm:text-4xl sm:tracking-tight lg:text-4xl') What our Helperbird customers say
            p.max-w-xl.mt-5.mx-auto.text-xl.text-gray-500
                | Over 400,000 use Helperbird every day. Allowing them to be more accessible and productive on the web.


    .owl-carousel.owl-carousel-loader

        each val in reviews

            figure.shadow-lg.rounded-xl.flex-none.w-80.mx-16.p-0(class='md:w-xl')
                blockquote.rounded-t-xl.bg-white-50.px-6.py-8.text-lg.leading-8.font-semibold.text-gray-900(class='md:p-10 md:text-xl md:leading-8')
                    svg.mb-5.fill-current.text-pink-100(width='45' height='36')
                        path(d='M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z')
                    p
                        | #{val.review}
                figcaption.flex.items-center.space-x-4.p-6.rounded-b-xl.leading-6.font-semibold.text-white.bg-pink-500
                    .w-14.h-14.bg-gray-50.rounded-full.flex.items-center.justify-center
                        img.w-12.h-12.rounded-full.bg-fuchsia-100(src= val.photo alt= val.name + 's` review of Helperbird. ', loading="lazy")
                    .flex-auto
                        | #{val.name}
                        br
                        span.text-green-100
                            | #{val.title}
