ul.plan-features.grid__item.grid__item--reviews.grid__item--mobile-large

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='./assets/images/logo/nexus.png')
    h3.medium.flush Nexus Education
    p.flush I love the fact that you can change the fonts on any web page with just a couple of clicks and being dyslexic myself I have taken advantage of this.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.nexus-education.com/made-dyslexia-i-encourage-train/', rel='noreferrer', target='_blank', title='Link to Nexus')
      span Visit



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of Tek Crispy', loading='lazy', src='./assets/images/logo/tek.png')
    h3.medium.flush Tek Crispy
    p.flush In general, the extension seeks to establish all the necessary conditions so that those who present these limitations have the possibility of enjoying the internet much more.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.tekcrispy.com/2019/11/16/helpedbird/', rel='noreferrer', target='_blank', title='Link to Tekcrispy')
      span Visit




  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of smashing magazine logo', loading='lazy', src='./assets/images/logo/smashing-magazine-logo.png')
    h3.medium.flush Smashing Magazine
    p.flush The browser extension wants to bring the benefits of accessbility and customization to everyone, with features such as dyslexia fonts, changing the font and background color, text to speech, overlays, dyslexia rulers and more to make the web accessible to your needs.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.smashingmagazine.com/2019/11/black-friday-2019/', rel='noreferrer', target='_blank', title='Link to Smashing Magazine')
      span Visit



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of smashing magazine logo', loading='lazy', src='./assets/images/logo/softpedia.png')
    h3.medium.flush Softpedia
    p.flush Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.softpedia.com/get/Office-tools/Text-editors/Helperbird.shtml', rel='noreferrer', target='_blank', title='Link to Softpedia')
      span Visit


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of How To Geek', loading='lazy', src='./assets/images/logo/howtogeek.png')
    h3.medium.flush How to Geek
    p.flush Helperbird has a wide range of options, including changing fonts to dyslexia-friendly ones such as OpenDyslexic, changing colors, text-to-speech, tint overlay, and much more. If you want a free alternative to Helperbird, you’ll have to install multiple extensions.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.howtogeek.com/444235/fonts-and-browser-extensions-that-help-those-with-dyslexia-read-the-web/', rel='noreferrer', target='_blank', title='Link to Producthunt')
      span Visit


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of I love free software', loading='lazy', src='./assets/images/logo/ilovefreesoftware.png')
    h3.medium.flush I love free software
    p.flush Helperbird actually helps you to read properly. If you have dyslexia, you will definitely find this tool relevant to use. You can change the font styles, change the text size from small to large. Also, you can use the color blindness feature to change the color of the text and highlight headings.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.ilovefreesoftware.com/14/windows/internet/plugins/free-chrome-extension-dyslexics-friendly-fonts-zoom-text-color-blindness-feature.html', rel='noreferrer', target='_blank', title='Link to Nexus')
      span Visit



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of Tek Crispy', loading='lazy', src='./assets/images/logo/tek.png')
    h3.medium.flush Tek Crispy
    p.flush In general, the extension seeks to establish all the necessary conditions so that those who present these limitations have the possibility of enjoying the internet much more.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.tekcrispy.com/2019/11/16/helpedbird/', rel='noreferrer', target='_blank', title='Link to Tekcrispy')
      span Visit


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of Optocrypto', loading='lazy', src='./assets/images/logo/optologo.png')
    h3.medium.flush Optocrypto
    p.flush Considering the ease of use of the extension, we are sure that it will be an interesting resource for many people with dyslexia. If you are dyslexic or know someone with this problem, we recommend you take a look at the Helperbird website and download the extension from the Chrome Web Store.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://optocrypto.com/dyslexics-helperbird-chrome-extension/', rel='noreferrer', target='_blank', title='Link to Optologo')
      span Visit




  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of IndieHackers', loading='lazy', src='/assets/images/logo/indiehackers_logo.png')
    h3.medium.flush IndieHackers.com
    p.flush Robert James Gabriel (@RobertJGabriel) never had it easy growing up. Before he was finally diagnosed with dyslexia at age 17, he had teachers counsel him to drop out of school and was told he would never amount to anything. But with some positive encouragement from a few helpful mentors and individuals, Robert found his way, learned to code, and became a prolific indie hacker. In this episode Robert and I discuss the psychological effects of being trapped inside both negative and positive feedback loops, his strategy for coming up with dozens of product ideas, and the story behind how he bootstrapped his app Helperbird into a business that helps others with learning disabilities like dyslexia.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.indiehackers.com/product/helperbird/made-it-onto-the-indiehackers-podcast--LuJYrgVZ12TsNIDCFOU', rel='noreferrer', target='_blank', title='Link to Indiehackers interview')
      span Visit


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo for Stanford.edu', loading='lazy', src='./assets/images/logo/logo_pentahoV2.png')
    h3.medium.flush Stratford.edu
    p.flush The most popular browser extension (based on downloads) is Helperbird, available for both Chrome and Firefox. Helperbird has a wide range of options, including changing fonts to dyslexia-friendly ones such as OpenDyslexic, changing colors, text-to-speech, tint overlay, and much more
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='http://techtalk.stratford.edu/2019/11/23/show-of-11-23-2019/', rel='noreferrer', target='_blank', title='Link to stratford techtalk')
      span Visit




  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of Ticbeat', loading='lazy', src='./assets/images/logo/ticbeat-logo.png')
    h3.medium.flush Tic Beat
    p.flush The extensions help us organize a large part of our life on the Internet, from the agenda and productivity to content consumption, cybersecurity protection or email management. There are also extensions for Chrome and Firefox for people with dyslexia. Without a doubt, the most popular and downloaded is Helperbird , available for both browsers. This tool gives you a wide range of options, including changing fonts, colors, text to speech, overlay and much more. Your paid version covers more features.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.ticbeat.com/tecnologias/mejores-fuentes-extensiones-personas-con-dislexia/', rel='noreferrer', target='_blank', title='Link to Ticbeat')
      span Visit



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of apps for my pc', loading='lazy', src='./assets/images/logo/appsformypc.png')
    h3.medium.flush Apps for My Pc
    p.flush Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.
    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup-free.primary-color(href='http://www.appsformypc.com/2019/10/helperbird/', rel='noreferrer', target='_blank', title='Link to appsformypc')
      span Visit
