- 
  var reviews = [{
        "name": "Terry Martin",
        "title": "Assistive technology specialist",
        "review": "I am getting such great support from Robert. I enjoy working with him. He answers my questions very quickly. Thanks so much for your great support and a great product.",
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "rating": [0, 1, 2, 3, 4]
      },

      {
        "name": "Catherine Contillo",
        "title": "User",
        "review": "I found this extension on a whim to help myself. Suffering with post concussion syndrome symptoms and working remotely is really hard! This extension basically saved my job. It gave me back productivity and the ability to read the screen. This extension has so many neat features I never even knew I needed. I love this and you will too! You don't need to be dyslexic or have dyslexia for this extension to benefit you. Do yourself a giant favor and get it! I highly recommend it!",
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GhyAic73JjhQT0xGJp38l7wIklg52lYRXegjCjD=s40-c-k",
        "rating": [0, 1, 2, 3, 4]
      },

      {
        "name": "Martin Bui",
        "title": "User",
        "review": "Making such an useful tool, replying to every single comment or review and giving support to people's issues as soon as possible?? Carefully, he is a hero.",
        "photo": "https://lh3.googleusercontent.com/a-/AOh14Ghm2YPaMZuz48Lhr2s0bU-O66dOIBpQXL2oEJaENw=s40-c-k",
        "rating": [0, 1, 2, 3, 4]
      },

      {
        "name": "Josh Sharrad",
        "title": "User",
        "review": "A truly great extension! We installed this on all of our 200 Chromebooks across the 3 special schools i work in and it has greatly helped our students use technology to learn. It not only helps our dyslexic learners, but also our autistic and ADHD students by helping remove distractions and making the web a more accessible place. Support is fast and efficient, and updates are very regular with new features constantly being added!",
        "photo": "https://lh3.googleusercontent.com/a-/AOh14Gj-FXmbt6CIoHtVQf4hZYqi9KIEAsjmzoZ7if0l=s40-c-k",
        "rating": [0, 1, 2, 3, 4]
      },
      {
        "name": "Vladimir Ciobica",
        "title": "Reviewer",
        "review": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
        "photo": "https://www.helperbird.com/assets/images/reviews/vladimir.jpg",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "name": "Taylor Kirkpatrick",
        "title": "User",
        "review": "Huge fan of the zoom feature. It trumps the native zoom in your browser since the zoom level you set actually stays with you no matter what page you go to, which is very helpful and meshes well with the other features the app offers.",
        "photo": "https://www.helperbird.com/assets/images/reviews/vladimir.jpg",
        "rating": [0, 1, 2, 3, 4]
      },

      {
        "name": "Sue Dowdall",
        "title": "User",
        "review": "Works a treat. Couldn't get dyslexie.com to work. This is brill!",
        "photo": "https://www.helperbird.com/assets/images/people/sue.png",
        "rating": [0, 1, 2, 3, 4]
      },
      {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GiEtCIUkvr9iqu1YMD_gqzCWH8hb5NtxlNgzzZWOPM=s40-c-k",
        "title": "user",
        "name": "Jay O'Bell",
        "review": "This works and it makes everything so much easier to read! Thank you so much and i will keep posted if i do run into any issues!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": "A Google User",
        "review": "It works Amazing!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GgaKT7WZk9CtjTMY9bURAsB-2XeYefSnrcH6rdvzQ=s40-c-k",
        "title": "user",
        "name": "S D",
        "review": "Works a treat. Couldn't get dyslexie.com to work.  This is brill!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14Gh942IgWp2V8Ocqh7o5Vsb4lpU4NGyv9Jjtaryfrg=s40-c-k",
        "title": "user",
        "name": "Colm Murphy",
        "review": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": "Máiréad Jones",
        "review": "Really makes reading easier for dyslexics.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": "A Google User",
        "review": "Thank you!! Love the tint feature.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": "Ana Robledo",
        "review": "this extension seems amazing so if that doesn't bother you, I say go ahead and get it!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": "Kai Tam",
        "review": "Amazing Extensions in chrome. I Installed in my parents computer, because my dad have a poor vision, due to bad eye surgery. this extension really helps allow to have able to manipulate the font and font size for more comfortable use instead of chrome zoom feature. Because the chrome zoom feature is its overly zoom will cause the page looking super weird.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": "Ciarán Hyland",
        "review": "I have to admit, I have tried several other similar products which were awful. Helperbird is truly amazing!. The font changes, colours, overlays, notes, text to speech and I love the 50 natural languages!!",
        "review": "100% worth updating.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": " bookmouse",
        "review": " Great features on the free side.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GjKFMm7aKAZj62Mk3Bb5Wew1rLdqnhNtUJdNW65=s40-c-k",
        "title": "user",
        "name": "Courtney Hood",
        "review": "So many useful features! This app is as helpful as it's name.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": "John Mc Carthy",
        "review": "It is simply amazing, Helperbird helps you find out from everything from the Readermode feature, color changes and so much more. It has really changed my life!!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": " Fiona Wren",
        "review": "Helperbird offers a wide range of customization in one easy to navigate spot. Computers and dyslexia don't always mesh, the features like ruler makes reading text heavy web pages easier. Tech support is amazingly responsive should you need any help.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GhsdKyPLk3_eZgVb2CP4pKm0cwwopfjtpkMKpo0=s40-c-k",
        "title": "user",
        "name": " Amelia C",
        "review": "would it be possible to add any darker colours? Particularly dark blue as that is the colour that i write and read on and it would be extremely helpful. Not bright blue , slightly darker than that. Thankyou ! :)",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GgIxKvw7-0EquLIa5DQ8oiMGVgO-F0LoRTJpRRN=s40-c-k",
        "title": "user",
        "name": "Vernon Dickey",
        "review": " love it!  I want it on Word and on all my applications now...",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": " A Google User",
        "review": "Love the new ruler. Thank you so much and cant wait for the Google docs add on.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": " Jack Haverty",
        "review": "Hugely helpful app, readings become so much easier since I installed this.Saved me so much time for a couple of bucks ",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": " shivashree vysali",
        "review": "It's a great tool! Really simple to use and works as described.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "Reviewer",
        "name": " Taylor Kirkpatrick",
        "review": "Huge fan of the zoom feature. It trumps the native zoom in your browser since the zoom level you set actually stays with you no matter what page you go to, which is very helpful and meshes well with the other features the app offers.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": " Guido Francis",
        "review": "Fantastic! Helperbird is very easy to use, and yet, so powerful!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": " Jen Ridge",
        "review": "The best in its class - SUPERB - It does everything I need for my aging eyes.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GiCtqmgKsjirdo5-F61HA0AZTilMx2REf_1uaXc=s40-c-k",
        "title": "user",
        "name": " Walter Washburn",
        "review": "I love and  use Helperbird for Chrome and I think it's a great tool!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GgLKElsy7FZimgEdmyrFL3aAQUm33qhrqfi2Bz9=s40-c-k",
        "title": "user",
        "name": " Gregory Arnold",
        "review": "It's been a great help.  Im very happy I made the switch.",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": " Luke Pottinger",
        "review": "I got this tool as an extension to try out first of all. I was amazed at what it can do in terms of accessibility. I have shown my friends and brother who suffer from dyslexia and they have all downloaded the extension. Great step forward from a company looking to help people!!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GgLKElsy7FZimgEdmyrFL3aAQUm33qhrqfi2Bz9=s40-c-k",
        "title": "user",
        "name": " Brian Borland",
        "review": "Amazing in eliminating embarrassing mistakes. Am one happy kid here!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": "A Google User",
        "review": "Wow what great tool, I love it! Keep up the excellent work. Add more fonts in the future and cant wait for the ios version!!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "user",
        "name": "A Google User",
        "review": "Makes college so much easier !!!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://www.gstatic.com/s2/contacts/images/NoPicture.gif",
        "title": "A Google User",
        "name": "A Google User",
        "review": "so useful and helpful!! i can actually retain so much more info in my head now. thanks man, you are so awesome and i appreciate all the kind words. thank you. :)",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GjiSPrC6rGeYmh4qlXrml4jyflmHU7II4fXKd3Q=s40-c-k",
        "title": "user",
        "name": "James Connel",
        "review": "Amazing tool, love the new overlay feature!!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14GjK1vRez5m6ru2Vp5VLivSsPFOpZBCj6-AoWaBs=s40-c-k",
        "title": "user",
        "name": "Sandra Fox",
        "review": "This app does wonders!!",
        "rating": [0, 1, 2, 3, 4]
      }, {
        "photo": "https://lh3.googleusercontent.com/a-/AOh14Gi3aj2tWUjhKQnKXGJ8nMiKWoCa__PfzRkdUlNWbg=s40-c-k",
        "title": "user",
        "name": "Mohammad Karzai",
        "review": "Wow i am really glad someone had this idea. We need more helper tools like this.",
             "rating": [0, 1, 2, 3, 4]
      }
    ]

// This example requires Tailwind CSS v2.0+
section.bg-indigo-800
  .max-w-7xl.mx-auto(class='md:grid md:grid-cols-2 md:px-6 lg:px-8')

    each val in reviews

      .py-12.px-4(class='sm:px-6 md:flex md:flex-col md:py-16 md:pl-0 md:pr-10 md:border-r md:border-indigo-900 lg:pr-16')
        div(class='md:flex-shrink-0')
          img.h-12(src= val.photo alt='Tuple')
        blockquote.mt-6(class='md:flex-grow md:flex md:flex-col')
          .relative.text-lg.font-medium.text-white(class='md:flex-grow')
            svg.absolute.top-0.left-0.transform.-translate-x-3.-translate-y-2.h-8.w-8.text-indigo-600(fill='currentColor' viewbox='0 0 32 32' aria-hidden='true')
              path(d='M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z')
            p.relative
              | #{val.review}
          footer.mt-8
            .flex
              .flex-shrink-0.inline-flex.rounded-full.border-2.border-white
                img.h-12.w-12.rounded-full(src= val.photo alt='Photo of Helperbird user.')
              .ml-4
                .text-base.font-medium.text-white #{val.name}
                .text-base.font-medium.text-indigo-200 #{val.title}







