section.section_header.pricing_table.mt75
  .container-lrg.flex
    .col-12
      .card.flex.mobile-flex-wrap.no_border
        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card
          .mb20
            .pricing-header
              p.bold Coming soon
    
            ul.mt20


              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span iOs App
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Google Drive integration
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Page summary capability
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Website widget
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Reader Mode improvments


  
        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.custom_table_most_popluar
          .popular-badge
            span.popular-badge-inner Being worked on
          .mt20
            .pricing-header
              p.bold Being worked on

            ul.mt20

              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Dictation speed improvments
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Custom css
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span Highlight text to speech
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span How to videos
              li.flex.mb20
                p.pricing_icon
                  i.fas.fa-check-circle
                span.span White labeling

        .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.custom_table_most_popluar
          .mb20
            .pricing-header

              p.bold Released

            ul.mt20

                li.flex.mb20
                    p.pricing_icon
                        i.fas.fa-check-circle
                    span.span Cursor settings
                li.flex.mb20
                    p.pricing_icon
                        i.fas.fa-check-circle
                    span.span OCR feature
                li.flex.mb20
                    p.pricing_icon
                        i.fas.fa-check-circle
                    span.span Light and Dark mode for Reader Mode

