- 
    var videos = [
        {
          "title": "Enable high contrast mode",
          "id": "9aD6bdWIhGs"
        },
        {
          "title": "Hide images on any website",
          "id": "N3JjS-ReVeE"
        },
        {
          "title": "Adjust line, word, and letter spacing on websites",
          "id": "QmFo0u4aIF4"
        },
        {
          "title": "Make any website greyscale",
          "id": "jFdlR85Tzrg"
        },
        {
          "title": "How to change font size on any website",
          "id": "O6iawJul2Qs"
        },
        {
        "title": "How to add sticky notes/annotate to any website",
        "id":"u67t7Ap61Nc"
        },
        {
        "title": "How to reset Helperbird",
        "id":"xLvsfJ0SlDA"
        },
        {
        "title": "How to change the background color on websites",
        "id":"cZlv24sycH0"
        },
        {
        "title": "How to use colorblindness features in Helperbird",
        "id":"TIW1DiUMVUI"
        },
        {
        "title": "How to change cursor size on websites ",
        "id":"I4zrlJAESws"
        },

        {
        "title": "How to add a dyslexia ruler to any website",
        "id":"egjET6tZFqM"
        },
        {
        "title": "How to Add Favorite Settings in Helperbird",
        "id":"xLhMXKd4B5A"
        },
        {
        "title": "How to change the font color on any website ",
        "id":"jH38cY5T1ik"
        },
        {
        "title": "How to change fonts on any website ",
        "id":"ylAICmLakaA"
        },
        {
            "title": "How to change font size on any website",
          "id": "O6iawJul2Qs"
        },
        {
            "title": "Make any website greyscale",
          "id": "jFdlR85Tzrg"
        },
        {
            "title": "How to change the color of highlighted text on the web",
          "id": "M7hVrdOheP0"
        },
        {
            "title": "How to add a highlighted box to paragraphs on a website ",
          "id": "Ru0mD7ymbXc"
        },
        {
          "title": "How to change text link colors on websites ",
          "id": "oeOeA1QFQXk"
        },
        {
          "title": "HOW TO PAUSE HELPERBIRD",
          "id": "RxTx14muc48"
        },
        {
          "title": "How to Search in Helperbird",
          "id": "ocIkxqb6rbA"
        },
        {
          "title": "How to manage your Helperbird settings and subscription",
          "id": "acgp8tkAVOI"
        }
    ]


// This example requires Tailwind CSS v2.0+
.relative.bg-white.py-16(class='sm:py-24 lg:py-32')
  .mx-auto.max-w-md.px-4.text-center(class='sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl')
    h2.text-base.font-semibold.tracking-wider.text-indigo-600.uppercase Tutorials
    p.mt-2.text-3xl.font-extrabold.text-gray-900.tracking-tight(class='sm:text-4xl')
      | Tutorials on how to use Helperbird
    p.mt-5.max-w-prose.mx-auto.text-xl.text-gray-500
      | Master your workflow with the beginner's guide, tips & tricks.
    .mt-12
      .grid.grid-cols-2.gap-8(class='sm:grid-cols-2 lg:grid-cols-2')
        each val in videos
          .pt-6
            .flow-root.bg-gray-50.rounded-lg.px-6.pb-8
              .-mt-6
                h3.mt-8.text-lg.font-medium.text-gray-900.tracking-tight.mb-8
                  | #{val.title}
                .w-full.rounded-lg.youtube_lazy_load(data-embed= val.id) 
                  .play-button



      


            

            
