- 
    var videos = [
        {
        "title": "Adjust letter & word spacing on any website",
        "id":"cybvKJyYaiM"
        },
        {
        "title": "Improve focus and reading with Helperbird",
        "id":"_AQIq3T8wwQ"
        },
        {
        "title": "Text to Speech feature",
        "id":"rh4Ur2gdgio"
        },
        {
        "title": "How to Turn High Contrast Mode On/Off on any website",
        "id":"ogS5qh2rhmk"
        },
        {
        "title": " Dyslexia ruler for Google Chrome ",
        "id":"scHiXL0BldA"
        },
        {
        "title": "Hide all images (including gif and flashing images) from every website",
        "id":"y4BMnYzFwnM"
        },
        {
        "title": "Chrome accessibility large mouse pointer",
        "id":"etJBvXGUI58"
        },
        {
        "title": "Colored Overlays - Improve Reading Skills",
        "id":"uOOucEf_tQk"
        },
        {
        "title": "How to Convert Image to Text Using Helperbird (OCR software)",
        "id":"lWqqOFM-dDE"
        },
        {
        "title": "What is the Immersive Reader? How do I  use it? ",
        "id":"lMj6a7UvJng"
        },
        {
        "title": "How to Enable Reader Mode in Google Chrome on Desktop for any website.",
        "id":"6tDiVNUnkSY"
        },
        {
        "title": "How to translate any website for free with Helperbird",
        "id":"xZa5CaMaFI4"
        },
        {
        "title": "How to print any website using Helperbird",
        "id":"I5eUoFBGBfc"
        },
        {
        "title": "How to make any website colorblind friendly with Helperbird",
        "id":"9qES8eBGxBg"
        },

        {
        "title": "Change the font on any website (OpenDyslexic) with Helperbird",
        "id":"i1EeaekPHIo"
        },
    ]


// This example requires Tailwind CSS v2.0+
.relative.bg-white.py-16(class='sm:py-24 lg:py-32')
  .mx-auto.max-w-md.px-4.text-center(class='sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl')
    h2.text-base.font-semibold.tracking-wider.text-indigo-600.uppercase Tutorials
    p.mt-2.text-3xl.font-extrabold.text-gray-900.tracking-tight(class='sm:text-4xl')
      | Tutorials on how to use Helperbird
    p.mt-5.max-w-prose.mx-auto.text-xl.text-gray-500
      | Master your workflow with the beginner's guide, tips & tricks.
    .mt-12
      .grid.grid-cols-2.gap-8(class='sm:grid-cols-2 lg:grid-cols-2')
        each val in videos
          .pt-6
            .flow-root.bg-gray-50.rounded-lg.px-6.pb-8
              .-mt-6
                h3.mt-8.text-lg.font-medium.text-gray-900.tracking-tight.mb-8
                  | #{val.title}
                .w-full.rounded-lg.youtube_lazy_load(data-embed= val.id) 
                  .play-button



      


            

            
