section.section.bg-light.red-white#supportVideos
  .container
    .col-12
      h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.why_us  How to use Helperbird
      p.subheading.secondary-color.mt40.launchaco-builder-hoverable Master your workflow with the beginner's guide, tips & tricks.
    .slideshow-container
      
      
      
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='cybvKJyYaiM')
          .play-button.   
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Adjust letter & word spacing on any website
      
      
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='_AQIq3T8wwQ')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Improve focus and reading with Helperbird
     
     
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='rh4Ur2gdgio')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Text to Speech feature
      
      
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='ogS5qh2rhmk')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to Turn High Contrast Mode On/Off on any website
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='scHiXL0BldA')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Dyslexia ruler for Google Chrome 
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='y4BMnYzFwnM')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Hide all images (including gif and flashing images) from every website
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='etJBvXGUI58')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Chrome accessibility large mouse pointer
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='uOOucEf_tQk')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Colored Overlays - Improve Reading Skills
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='/lWqqOFM-dDE')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to Convert Image to Text Using Helperbird (OCR software)
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='lMj6a7UvJng')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape What is the Immersive Reader? How do I  use it? 
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='6tDiVNUnkSY')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to Enable Reader Mode in Google Chrome on Desktop for any website.
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='xZa5CaMaFI4')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to translate any website for free with Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='I5eUoFBGBfc')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to print any website using Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='9qES8eBGxBg')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to make any website colorblind friendly with Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='-JRUpKdqMus')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Increase zoom and  and text magnifying on any website with Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='i1EeaekPHIo')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change the font on any website (OpenDyslexic) with Helperbird
 
      a.prev(onclick='window.videos.plusSlidesVideo(-1)') ❮
      a.next(onclick='window.videos.plusSlidesVideo(1)') ❯
    .dotVideo-container
      span.dotVideo(onclick='window.videos.currentSlideVideo(1)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(2)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(3)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(4)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(5)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(6)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(7)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(8)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(9)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(10)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(11)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(12)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(13)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(14)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(15)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(16)')
