section.section.bg-light.red-white#supportVideos
  .container.text-center
    .col-12
      h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.why_us See it in action
      p.subheading.secondary-color.mt40.launchaco-builder-hoverable Learn how to use the app and all its amazing features.
    .slideshow-container
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='xZa5CaMaFI4')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to use the Google Translate feature for Google Chrome | Helperbird.com
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='UjmyGS9E00Y')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to use High Contrast mode feature for Google Chrome | Helperbird.com
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='oiXLTYlu0nc')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Dictionary lookup for Google Chrome, Firefox & Edge | Helperbird.com
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='ZyIkXtfPCkQ')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Screenshot feature for Google Chrome, Firefox & Edge | Helperbird.com
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='6tDiVNUnkSY')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Reader mode with Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='JRUpKdqMus')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Zoom text and images with Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='9qES8eBGxBg')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Color blindness text outline/stroke with Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='MKpVE8SaSiQ')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Dyslexia ruler with Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='-O3yd1zXtRc')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Overlay/tint with Helperbird | Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='1818bqUyXNE')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change the font color on any website with Helperbird | Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='WdBQvk1W80Q')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Save links, notes and more around the web with Helperbird | Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='2m-hRIOX7cU')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Use cognitive load feature of Helperbird to help with reading | Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='-HJWQWaHjpY')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Hide flashing images or gifs on any webpage with Helperbird | Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='i1EeaekPHIo')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change any webpages font to Opendyslexic with Helperbird | Helperbird
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='UveJkN-npI0')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Disable Helperbird features with Blacklist | Helperbird.com
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='1HvWYhpevuY')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Underline links for people with color blindness on any website | Helperbird.com
      .mySlidesVideo.scroller_video_item
        .youtube_lazy_load(data-embed='zEM-hXZ2278')
          .play-button.
            
            
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change the Background Color of any website
      a.prev(onclick='window.videos.plusSlidesVideo(-1)') ❮
      a.next(onclick='window.videos.plusSlidesVideo(1)') ❯
    .dotVideo-container
      span.dotVideo(onclick='window.videos.currentSlideVideo(1)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(2)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(3)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(4)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(5)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(6)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(7)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(8)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(9)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(10)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(11)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(12)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(13)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(14)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(15)')
      span.dotVideo(onclick='window.videos.currentSlideVideo(16)')
