
ul.plan-features.grid__item.grid__item--reviews.grid__item--mobile-large

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GjiSPrC6rGeYmh4qlXrml4jyflmHU7II4fXKd3Q=s40-c-k')
    h3.medium.flush James Connel
    p.flush Amazing tool, love the new overlay feature!!


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GiEtCIUkvr9iqu1YMD_gqzCWH8hb5NtxlNgzzZWOPM=s40-c-k')
    h3.medium.flush Jay O'Bell
    p.flush This works and it makes everything so much easier to read! Thank you so much and i will keep posted if i do run into any issues!

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush A Google User
    p.flush It works Amazing!

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GgaKT7WZk9CtjTMY9bURAsB-2XeYefSnrcH6rdvzQ=s40-c-k')
    h3.medium.flush S D
    p.flush Works a treat. Couldn't get dyslexie.com to work.  This is brill!

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14Gh942IgWp2V8Ocqh7o5Vsb4lpU4NGyv9Jjtaryfrg=s40-c-k')
    h3.medium.flush Colm Murphy
    p.flush This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush Máiréad Jones
    p.flush Really makes reading easier for dyslexics.

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush A Google User
    p.flush Thank you!! Love the tint feature.

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush Ana Robledo
    p.flush this extension seems amazing so if that doesn't bother you, I say go ahead and get it!


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush Kai Tam
    p.flush Amazing Extensions in chrome. I Installed in my parents computer, because my dad have a poor vision, due to bad eye surgery. this extension really helps allow to have able to manipulate the font and font size for more comfortable use instead of chrome zoom feature. Because the chrome zoom feature is its overly zoom will cause the page looking super weird.
    p.flush Amazing App Keep up the good work. Looking forward for more new features!!!

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush Ciarán Hyland
    p.flush I have to admit, I have tried several other similar products which were awful. Helperbird is truly amazing!. The font changes, colours, overlays, notes, text to speech and I love the 50 natural languages!!
    p.flush 100% worth updating.

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush  bookmouse
    p.flush  Great features on the free side.

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GjKFMm7aKAZj62Mk3Bb5Wew1rLdqnhNtUJdNW65=s40-c-k')
    h3.medium.flush Courtney Hood
    p.flush So many useful features! This app is as helpful as it's name.

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush John Mc Carthy
    p.flush It is simply amazing, Helperbird helps you find out from everything from the Readermode feature, color changes and so much more. It has really changed my life!!

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush  Fiona Wren
    p.flush Helperbird offers a wide range of customization in one easy to navigate spot. Computers and dyslexia don't always mesh, the features like ruler makes reading text heavy web pages easier. Tech support is amazingly responsive should you need any help.


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GhsdKyPLk3_eZgVb2CP4pKm0cwwopfjtpkMKpo0=s40-c-k')
    h3.medium.flush  Amelia C
    p.flush would it be possible to add any darker colours? Particularly dark blue as that is the colour that i write and read on and it would be extremely helpful. Not bright blue , slightly darker than that. Thankyou ! :)



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GgIxKvw7-0EquLIa5DQ8oiMGVgO-F0LoRTJpRRN=s40-c-k')
    h3.medium.flush Vernon Dickey
    p.flush  love it!  I want it on Word and on all my applications now...




  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush  A Google User
    p.flush Love the new ruler. Thank you so much and cant wait for the Google docs add on.


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush  Jack Haverty
    p.flush Hugely helpful app, reading's become so much easier since I installed this. Saved me so much time for a couple of bucks



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush  shivashree vysali
    p.flush It's a great tool! Really simple to use and works as described.




  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush  Taylor Kirkpatrick
    p.flush Huge fan of the zoom feature. It trumps the native zoom in your browser since the zoom level you set actually stays with you no matter what page you go to, which is very helpful and meshes well with the other features the app offers.




  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush  Guido Francis
    p.flush Fantastic! Helperbird is very easy to use, and yet, so powerful!

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush  Jen Ridge
    p.flush The best in its class - SUPERB - It does everything I need for my aging eyes.



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GiCtqmgKsjirdo5-F61HA0AZTilMx2REf_1uaXc=s40-c-k')
    h3.medium.flush  Walter Washburn
    p.flush I love and  use Helperbird for Chrome and I think it's a great tool!
    p.flush Thanks for the screenshot feature!



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GgLKElsy7FZimgEdmyrFL3aAQUm33qhrqfi2Bz9=s40-c-k')
    h3.medium.flush  Gregory Arnold
    p.flush It's been a great help.  I'm very happy I made the switch.

  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush  Luke Pottinger
    p.flush I got this tool as an extension to try out first of all. I was amazed at what it can do in terms of accessibility. I have shown my friends and brother who suffer from dyslexia and they have all downloaded the extension. Great step forward from a company looking to help people!!


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GgLKElsy7FZimgEdmyrFL3aAQUm33qhrqfi2Bz9=s40-c-k')
    h3.medium.flush  Brian Borland
    p.flush Amazing in eliminating embarrassing mistakes. Am one happy kid here!



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush A Google User
    p.flush Wow what great tool, I love it! Keep up the excellent work. Add more fonts in the future and cant wait for the ios version!!

    p.flush Also thank you Robert for the support emails.



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush A Google User
    p.flush Makes college so much easier !!!


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://www.gstatic.com/s2/contacts/images/NoPicture.gif')
    h3.medium.flush A Google User
    p.flush so useful and helpful!! i can actually retain so much more info in my head now. thanks man, you are so awesome and i appreciate all the kind words. thank you. :)


  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14GjK1vRez5m6ru2Vp5VLivSsPFOpZBCj6-AoWaBs=s40-c-k')
    h3.medium.flush Sandra Fox
    p.flush This app does wonders!!



  li.plan-features__item
    i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable.hi-items
      img(alt='Logo of nexus', loading='lazy', src='https://lh3.googleusercontent.com/a-/AOh14Gi3aj2tWUjhKQnKXGJ8nMiKWoCa__PfzRkdUlNWbg=s40-c-k')
    h3.medium.flush Mohammad Karzai
    p.flush Wow i am really glad someone had this idea. We need more helper tools like this.

