---
new: false
header: true
layout: templates/chrome.html
title: Enhance your browsing experience with Helperbird for Chrome - an accessibility extension designed to support individuals with dyslexia.
youtubeId: PfILiWebkuc
cardTitle:  Helperbird for Chrome
description: Experience the power of accessibility with Helperbird for Chrome - an extension packed with over 40 features to enhance your browsing experience, including Immersive reader, voice typing, Reading Mode, text to speech, and dyslexia support.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic

url: products/chrome/
redirect_from: /chrome/
---

<div>
  {% include common/hero-chrome.html %}
  {% include common/features_list.html %}
  {% include common/features_all.html %}
  {% include common/compare_to_others.html %}
  {% include common/metrics.html %}
  {% include common/questions.html %}
  {% include common/reviews.html %}
  {% include common/cta.html %}
</div>