---
new: true
header: true
layout: templates/base.html
title:  Google Docs & Google Slides Accessibility Add-on
youtubeId: hUBfceYUm3I
cardTitle: Google Docs & Slides addon
description: Enhance your Google Docs and Slides experience with Helperbird's Google Add-on. Features include Immersive Reader, Dyslexic Fonts, Text-to-Speech, Translation, and more. Improve readability and boost productivity effortlessly.
keywords: Dyslexia software, Reading Mode for Google Chrome, Voice typing for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
url: google-addon/

---



{% include common/hero-docs.html %}


<div class="bg-white rounded-xl shadow-md mb-16 mt-16" id="features">
  <div class="relative max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">


    <div class="relative lg:grid lg:grid-cols-3 lg:gap-x-8">
      <div class="lg:col-span-1">


        <h2 class="leading-relaxed font-sans    text-3xl  font-extrabold   text-black sm:text-4xl">
          Features


        </h2>
        <p class="leading-relaxed font-sans    text-xl text-black mt-10">
          Access all your favorite Helperbird features directly within Google Docs and Slides. 
          <br>
          
          Our addon seamlessly integrates to enhance your productivity and accessibility.</p>
      </div>
      <dl class="mt-10 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-8 sm:gap-y-10 lg:mt-0 lg:col-span-2">
        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-xl bg-violet-500 text-white">
              <!-- Heroicon name: outline/globe-alt -->
              <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 h-6 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path></svg>
            </div>
            <p class="leading-relaxed font-sans  mt-5 text-lg  font-semibold text-black">Immersive Reader

            </p>
          </dt>
          <dd class="mt-2 text-base text-black">Unlock Microsoft's Immersive Reader in Google Docs and Slides for free. Elevate reading and writing for users of all ages and abilities.
          </dd>
        </div>

        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-xl bg-blue-500 text-white">
      
        
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"     class="h-6 w-6"><g><rect fill="none" height="24" width="24"></rect></g><g><g><g><path d="M2.5,4v3h5v12h3V7h5V4H2.5z M21.5,9h-9v3h3v7h3v-7h3V9z"></path></g></g></g></svg>
            </div>
            <p class="leading-relaxed font-sans  mt-5 text-lg  font-semibold text-black">Dyslexic fonts

            </p>
          </dt>
          <dd class="mt-2 text-base text-black">
            Switch to dyslexia-friendly fonts in Google Docs and Slides effortlessly. Use OpenDyslexic, Lexend, and more to improve readability.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      and more.
          </dd>
        </div>

        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-xl bg-orange-500 text-white">
           
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="none" class="w-6 h-6"><path d="M0 0h24v24H0z" fill="none"></path><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"></path></svg>
            </div>
            <p class="leading-relaxed font-sans  mt-5 text-lg  font-semibold text-black">Text to Speech

            </p>
          </dt>
          <dd class="mt-2 text-base text-black">Bring your Google Docs and Slides to life with our Text-to-Speech feature. Listen to your content for easier proofreading and multitasking.
          </dd>
        </div>

        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-xl bg-green-500 text-white">
              <!-- Heroicon name: outline/mail -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"></path></svg>
            </div>
            <p class="leading-relaxed font-sans  mt-5 text-lg  font-semibold text-black">
              Translation
            </p>
          </dt>
          <dd class="mt-2 text-base text-black">
            Break language barriers in Google Docs and Slides with our instant Translation feature. Collaborate and understand content in multiple languages effortlessly.</dd>
        </div>

        <div>
          <dt>
            <div class="flex items-center justify-center h-12 w-12 rounded-xl bg-pink-500 text-white">
              <!-- Heroicon name: outline/mail -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"></path></svg>
            </div>
            <p class="leading-relaxed font-sans  mt-5 text-lg  font-semibold text-black">
              Text Statistics
            </p>
          </dt>
          <dd class="mt-2 text-base text-black">
            Analyze your writing in Google Docs and Slides with our Text Statistics feature. Gain insights into readability, word count, and complexity at a glance.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>



<div class="bg-white rounded-xl shadow-md  mb-16 mt-16">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex lg:items-center lg:justify-between lg:px-8">

    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <span class="leading-relaxed font-sans block text-black">Download Helperbird for
      </span>
      <span class="leading-relaxed font-sans  text-sky-500">Google Docs
      </span>
      <span class="leading-relaxed font-sans  text-black">&</span>
      <span class="leading-relaxed font-sans  text-yellow-500">Slides</span>
    </h2>

    <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:flex-shrink-0">
      <a
        href="https://workspace.google.com/marketplace/app/helperbird/844716805038"
        target="_blank"
        title="Download Helperbird for Google Docs from Google Workspace Marketplace"
        aria-label="Download Helperbird for Google Docs from Google Workspace Marketplace"

        class="btn btn-primary shadow-md">
        Download Google Add-on </a>



    </div>
  </div>
</div>