---
layout: templates/base.html
title: Dyslexia, Text to speech & Annotation extension | Helperbird for Google Chrome
description: Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Chrome!
keywords:
  Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /chrome/
---


<div class="bg-gray-50">
    <div class="relative overflow-hidden">

  
      <div class="relative pt-6 pb-16 sm:pb-24">
        
        <div class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6">
          <div class="text-center">
            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
              <span class="block">All your productivity, research and accessibility needs, </span>
              <span class="block text-indigo-600">rolled up into one Chrome extension            </span>
            </h1>
            <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                Helperbird is built to give you the tools to help be more accessible, productive and better at researching. Unlock yours or your students full proptenial.
            </p>
          </div>
        </div>
      </div>
  
      <div class="relative">
        <div class="absolute inset-0 flex flex-col" aria-hidden="true">
          <div class="flex-1"></div>
          <div class="flex-1 w-full bg-gray-800"></div>
        </div>
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
          <img class="relative rounded-lg shadow-lg" src="/assets/images/new/overlay/overlay.png" alt="App screenshot">
        </div>
      </div>
    </div>
    <div class="bg-gray-800">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <h2 class="text-center text-gray-400 text-sm font-semibold uppercase tracking-wide">Trusted by over 500,000 forward-thinking companies</h2>
        <div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="/assets/images/logo/microsoft.png" alt="Tuple">
          </div>
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="/assets/images/logo/cloverleafs.png" alt="Mirage">
          </div>
          <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="/assets/images/logo/ucc.png" alt="StaticKit">
          </div>
          <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
            <img class="h-12" src="/assets/images/logo/tek.png" alt="Transistor">
          </div>
          <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
            <img class="h-12" src="/assets/images/logo/howtogeek.png" alt="Workcation">
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="relative bg-gray-50 pt-16 pb-16 overflow-hidden"><div class="relative"><div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"><div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0"><div><div class="flex"><div class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 flex-none mr-4"><svg class="inline-block w-6 h-6 stroke-current text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path></svg></div><h2 class="text-3xl font-extrabold tracking-tight text-gray-900 flex-1">Annotate any website</h2></div><div class="mt-6"><p class="mt-4 text-lg text-gray-500">Highlight or annotate web pages, documents, pdfs, ebooks and more to improve research and study. Leaving sticking notes that help you with your research and homework.</p><div class="mt-6"><a class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700" href="/features/annotation">Learn more</a></div></div></div><div class="mt-8 border-t border-gray-200 pt-6"><blockquote><div><p class="text-base text-gray-500">“I have been trying to find ways to make my child happy to go to school again, and someone recommended helperbird. She loves helperbird, and she is now much happier about the idea of returning to school. I think this might be a game changer, as they do so much web based schoolwork and research. She says "they really understand people with dyslexia.”</p></div><footer class="mt-3"><div class="flex items-center space-x-3"><div class="flex-shrink-0"><img class="h-6 w-6 rounded-full" loading="lazy" src="https://www.gstatic.com/s2/contacts/images/NoPicture.gif" alt="Photo of Helperbirds user"></div><div class="text-base font-medium text-gray-700">Cris Townley, Partent</div></div></footer></blockquote></div></div><div class="mt-12 sm:mt-16 lg:mt-0"><div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full"><video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline"><source src="/assets/videos/annotation.webm" type="video/webm"><source src="/assets/videos/annotation.mp4" type="video/mp4"></video></div></div></div></div><div class="mt-24"><div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"><div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2"><div><div class="flex"><div class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 flex-none mr-4"><svg class="inline-block w-6 h-6 fill-current text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M14.7999209,15 L9.19992091,15 L8,18 L6,18 L11,6 L13,6 L18,18 L16,18 L14.7999209,15 Z M13.9998682,13 L11.9997364,8 L9.99986818,13 L13.9998682,13 Z"></path></svg></div><h2 class="text-3xl font-extrabold tracking-tight text-gray-900 flex-1">Dyslexia support</h2></div><div class="mt-6"><p class="mt-4 text-lg text-gray-500">Helperbird allows users to enable specialized web fonts for dyslexics and others. Convert the font on websites to use OpenDyslexic, Arial, Comic Sans, and more. Users can also zoom font on a web page to help with reading and focus.</p><div class="mt-6"><a class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700" href="/features/specialised-dyslexic-fonts">Get started</a></div></div></div></div><div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1"><div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full"><video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline"><source src="/assets/videos/font.webm" type="video/webm"><source src="/assets/videos/font.mp4" type="video/mp4"></video></div></div></div></div></div>


  <div class="relative bg-gray-50 pt-16 pb-16 overflow-hidden"><div class="relative"><div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"><div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0"><div><div class="flex"><div class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 flex-none mr-4"><svg class="inline-block w-6 h-6 stroke-current text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path></svg></div><h2 class="text-3xl font-extrabold tracking-tight text-gray-900 flex-1">View clutter-free web pages</h2></div><div class="mt-6"><p class="mt-4 text-lg text-gray-500">Helperbird gives you a Reader Mode that removes ads and distractions from any webpage with complete customization.</p><div class="mt-6"><a class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700" href="/features/reader-mode-for-chrome-and-firefox">Get started</a></div></div></div><div class="mt-8 border-t border-gray-200 pt-6"><blockquote><div><p class="text-base text-gray-500">“Have an amazing collection of assistive tools that have benefits for everyone. For me, the combination of Microsoft's Immersive Reader and Apple's reading machine voice (US Alex) makes Helperbird my first choice for processing web content.”</p></div><footer class="mt-3"><div class="flex items-center space-x-3"><div class="flex-shrink-0"><img class="h-6 w-6 rounded-full" loading="lazy" src="https://lh3.googleusercontent.com/a-/AOh14GgzGq40AO1sKGZ062f4AjhTf7WugrJkO_MBbVsHEw=s40-c-k" alt="Jim spirtal"></div><div class="text-base font-medium text-gray-700">Jim Sprialis, Digital Marketing Manager</div></div></footer></blockquote></div></div><div class="mt-12 sm:mt-16 lg:mt-0"><div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full"><video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline"><source src="/assets/videos/readermode.webm" type="video/webm"><source src="/assets/videos/readermode.mp4" type="video/mp4"></video></div></div></div></div><div class="mt-24"><div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"><div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2"><div><div class="flex"><div class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 flex-none mr-4"><svg class="inline-block w-6 h-6 stroke-current text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"></path></svg></div><h2 class="text-3xl font-extrabold tracking-tight text-gray-900 flex-1">Listen to any part of your Webpages and Google Docs</h2></div><div class="mt-6"><p class="mt-4 text-lg text-gray-500">Turn text into lifelike natural speech. Helperbird can read aloud the content of any web pages, ebooks and pdfs with natural sounding voices. With our natural award winning text to speech.</p><div class="mt-6"><a class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700" href="/features/text-to-speech">Get started</a></div></div></div></div><div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1"><div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full"><video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline"><source src="/assets/videos/listen.webm" type="video/webm"><source src="/assets/videos/listen.mp4" type="video/mp4"></video></div></div></div></div></div>


  <div class="relative bg-gray-50 pt-16 pb-16 overflow-hidden"><div class="relative"><div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"><div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0"><div><div class="flex"><div class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600 flex-none mr-4"><svg class="inline-block w-6 h-6 stroke-current text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#fff"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"></path></svg></div><h2 class="text-3xl font-extrabold tracking-tight text-gray-900 flex-1">Immersive reader for Chrome</h2></div><div class="mt-6"><p class="mt-4 text-lg text-gray-500">Immersive Reader is a free tool that implements proven techniques to improve reading and writing for people, regardless of their age or ability.</p><div class="mt-6"><a class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700" href="/features/immersive-reader-for-chrome">Get started</a></div></div></div><div class="mt-8 border-t border-gray-200 pt-6"><blockquote><div><p class="text-base text-gray-500">“I purchased this for my daughter who has been having a lot of difficulty accessing the online work set remotely by her teachers during our National Lockdown because of Covid-19. Her dyslexia was really hindering her ability to complete tasks and keep up which in turn led to increased anxiety levels...a really horrid place to be in during a global pandemic! Helper bird has been a vast help and I fully recommend it and wish more schools knew about it. Thank You Helper Bird.”</p></div><footer class="mt-3"><div class="flex items-center space-x-3"><div class="flex-shrink-0"><img class="h-6 w-6 rounded-full" loading="lazy" src="https://www.gstatic.com/s2/contacts/images/NoPicture.gif" alt="Photo of Helperbirds user"></div><div class="text-base font-medium text-gray-700">Michelle Howard-Price, Parent</div></div></footer></blockquote></div></div><div class="mt-12 sm:mt-16 lg:mt-0"><div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full"><video class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5" width="680" height="402" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline"><source src="/assets/videos/immersive.webm" type="video/webm"><source src="/assets/videos/immersive.mp4" type="video/mp4"></video></div></div></div></div></div>







<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-indigo-700">
	<div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
	  <h2 class="text-3xl font-extrabold text-white tracking-tight">
		Features at a glance
	  </h2>
	  <p class="mt-4 max-w-3xl text-lg text-indigo-200">
		Some of Helperbirds popular features at glance. We have over 39 features. Helperbird is more than just a accessibility tool — it’s a better way to be more productive. Users that switch to Helperbird are more productive and better organized thanks to our accessibility features. They’re far more efficient than before. Here’s how Helperbird makes it happen.
	  </p>
	  <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
		{%- for feature in collections.features -%}
  
		<div>
		  <div>
		
		  </div>
		  <div class="mt-6">
			<h3 class="text-lg font-medium text-white">{{ feature.data.featureTitle }}</h3>
			<p class="mt-2 text-base text-indigo-200 mb-8">
        {{ feature.data.featureDescription }}
			</p>
			<a class="btn btn-secondary" href="{{ feature.url }}" title="More information on feature {{ feature.data.featureTitle  }}">Learn more</a> 
		  </div>
		</div>
		{%- endfor -%}
	  </div>
	</div>
  </div>







  

  <div class="relative bg-gray-900"><div class="h-80 absolute bottom-0 xl:inset-0 xl:h-auto xl:grid xl:grid-cols-2"><div class="h-full xl:relative xl:col-start-2"><img class="h-full w-full object-cover opacity-25 xl:absolute xl:inset-0" loading="lazy" src="/assets/images/home/metric.jpeg" alt="People working on laptops"><div class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r" aria-hidden="true"></div></div></div><div class="max-w-4xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-cols-2 xl:grid-flow-col-dense xl:gap-x-8"><div class="relative pt-12 pb-64 sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24"><h2 class="text-sm font-semibold tracking-wide uppercase"><span class="bg-gradient-to-r from-purple-300 to-indigo-300 bg-clip-text text-transparent">Helperbird Metrics</span></h2><p class="mt-3 text-3xl font-extrabold text-white">We help change people's lives from in the work place, school, researchers and everyone in between.</p><p class="mt-5 text-lg text-gray-300">Helperbird is built to help students, but it has grown to allow everyone to be more productive and accessible.</p><div class="mt-12 grid grid-cols-1 gap-y-12 gap-x-6 sm:grid-cols-2"><p><span class="block text-2xl font-bold text-white">350K+</span><span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Users</span> around the world using Helperbird each month.</span></p><p><span class="block text-2xl font-bold text-white">170+</span><span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">Countries around the globe.</span></span></p><p><span class="block text-2xl font-bold text-white">4.8+</span><span class="mt-1 block text-base text-gray-300"><span class="font-medium text-white">out of 5,</span> the average review score of Helperbird.</span></p></div></div></div></div>
  


  <div class="relative mt-8 mb-8 bg-gray-50"><div class="absolute inset-0 flex flex-col" aria-hidden="true"><div class="flex-1 bg-gray-50"></div><div class="flex-1"></div></div><div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"><div class="bg-indigo-500 rounded-lg shadow-xl overflow-hidden lg:grid lg:grid-cols-2 lg:gap-4"><div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20"><div class="lg:self-center"><h2 class="text-3xl font-extrabold text-white sm:text-4xl"><span class="block">Make the web more accessible today!</span><span class="block text-white">Download today</span></h2><p class="mt-4 text-lg leading-6 text-white">Discover why over 500,000 users love Helperbird and its over 28+ features.</p><a class="mt-8 bg-white border border-transparent rounded-md shadow py-3 px-6 inline-flex items-center text-base font-medium hover:text-red-500" href="/pricing">Download for free </a><a class="mt-8 bg-white border border-transparent rounded-md shadow py-3 px-6 inline-flex items-center text-base font-medium ml-2 hover:text-red-500" href="/order">Request a quote</a></div></div><div class="-mt-6 aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1"><img class="transform translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-16 lg:translate-y-20" loading="lazy" src="/assets/images/new/dyslexia-ruler/dyslexia-ruler.png" alt="App screenshot"></div></div></div></div>
<div class="bg-gray-50"><div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8"><div class="lg:grid lg:grid-cols-3 lg:gap-8"><div><h2 class="text-3xl font-extrabold text-gray-900">Frequently asked questions</h2><p class="mt-4 text-lg text-gray-500">Can’t find the answer you’re looking for? Reach out to our <a class="font-medium text-indigo-600 hover:text-indigo-500" href="/support">customer support</a> team.</p></div><div class="mt-12 lg:mt-0 lg:col-span-2"><dl class="space-y-12"><div><dt class="text-lg leading-6 font-medium text-gray-900">What is Helperbird?</dt><dd class="mt-2 text-base text-gray-500">Helperbird is your all in one accessibility extension that gives you the features to make the web more accessible and productive. Providing you text to speech, OCR, dyslexia support, dictation, immersive reader, overlays, annotate any website, picture dictionary, Reader mode, and more.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">Do you offer discounts?</dt><dd class="mt-2 text-base text-gray-500">Yes. When you pay for a year upfront, you’ll get two months free. We also offer discounts for students.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">How do I login ?</dt><dd class="mt-2 text-base text-gray-500">We use the email your logged into Google Chrome or your browser. Suppose you need to update your email. Just contact us.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">Do you accept purchase orders?</dt><dd class="mt-2 text-base text-gray-500">Yes we do. You can either contact support or visit <a href="order">our purchase orders page</a></dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">Do I need a student email for the student pricing?</dt><dd class="mt-2 text-base text-gray-500">Yes, we are doing the honour system here. We will follow up to ask for confirmation you are a student.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">Is Helperbird Free?</dt><dd class="mt-2 text-base text-gray-500">Yes. We give you the basic features for free. Those features will always be free. We have a Pro version, which helps support the development of Helperbird and the costs with the Pro features. We keep our prices as low as possible, which lower than others. If you have any questions I would love to answer them.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">Can we cancel at any time?</dt><dd class="mt-2 text-base text-gray-500">There's no minimum contract for Helperbird — cancel at any time without penalty or hassle.. To cancel, open up the app, go to the subscription option, and click cancel.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">Why are we charging for this?</dt><dd class="mt-2 text-base text-gray-500">The $6.99 per month is to support the cost of the development of new and upcoming features. We also do a yearly subscription for $60.00 as this is a one-person team.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">What browsers does Helperbird run on?</dt><dd class="mt-2 text-base text-gray-500">Currently Google Chrome, Mozilla Firefox and Edge. Coming soon on macOS Safari extension and iPad.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">I have a suggestion!</dt><dd class="mt-2 text-base text-gray-500">Excellent I would love to hear about it! Email robert.gabriel@helperbird.com with your suggestion.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">Does Helperbird and OpenDyslexic work on Google Docs?</dt><dd class="mt-2 text-base text-gray-500">Yes! Google Docs currently doesn't support some fonts like OpenDyslexic. So we built CSS and support for these fonts.</dd></div><div><dt class="text-lg leading-6 font-medium text-gray-900">What if I have more questions?</dt><dd class="mt-2 text-base text-gray-500">We'd be happy to answer them.</dd></div></dl></div></div></div></div>
