---
layout: templates/base.html
title: Contact the Helperbird team | Helperbird
description:
  Helperbird team is here to help. Learn more about popular topics and find resources that will help
  you with all of your Helperbird products.
keywords:
  Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /contact/
---


<div class="bg-gray-50">
	<div class="relative pb-32 bg-gray-800">
	
		<div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
			<h1 class="text-4xl font-extrabold tracking-tight text-white md:text-5xl lg:text-6xl">	Get in touch</h1>
			<p class="mt-6 max-w-3xl text-xl text-gray-300">	Always a human, never a bot. The hands-down, sharpest, and friendliest support team in the
				ed-tech world. Contact us and we’ll get back to you in <b>5 minutes</b> or less</p>
		</div>
	</div>

</div>

<div class="bg-gray-50">

	<div class="pt-12">
		<iframe
			frameborder="0"
			height="1093"
			inheight="0"
			loading="lazy"
			marginwidth="0"
			src="https://docs.google.com/forms/d/e/1FAIpQLSfsr-P-xEmKXnjAF-4ih2umpi92WtDltocYG1GV_kqh5Br6tA/viewform?embedded=true"
			title="Helperbird support fourm "
			width="100%"
			>Loading...</iframe
		>
	</div>
</div>

<div class="bg-white">
	<div class="max-w-md mx-auto py-24 px-4 sm:max-w-3xl sm:py-32 sm:px-6 lg:max-w-7xl lg:px-8">
	<div class="divide-y divide-warm-gray-200">
	<section aria-labelledby="contact-heading" class="lg:grid lg:grid-cols-3 lg:gap-8">
		<h2 class="text-2xl font-extrabold text-warm-gray-900 sm:text-3xl" id="contact-heading">Get in touch</h2>
		<div class="mt-8 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 lg:mt-0 lg:col-span-2">
			<div>
				<h3 class="text-lg font-medium text-warm-gray-900">Support</h3>
				<dl class="mt-2 text-base text-warm-gray-500">
					<dd>
						<div>
							<dl>
								<dt class="sr-only">Email</dt>
								<dd>support@helperbird.com</dd>
							</dl>
						</div>
						<div class="mt-1">
							<dl>
								<dt class="sr-only">Phone number</dt>
								<dd>+1 (501) 293 6819</dd>
							</dl>
						</div>
					</dd>
				</dl>
			</div>
			<div>
				<h3 class="text-lg font-medium text-warm-gray-900">Press</h3>
				<dl class="mt-2 text-base text-warm-gray-500">
					<dd>
						<div>
							<dl>
								<dt class="sr-only">Email</dt>
								<dd>press@helperbird.com</dd>
							</dl>
						</div>
						<div class="mt-1">
							<dl>
								<dt class="sr-only">Phone number</dt>
								<dd>+1 (501) 293 6819</dd>
							</dl>
						</div>
					</dd>
				</dl>
			</div>
			<div>
				<h3 class="text-lg font-medium text-warm-gray-900">Sales</h3>
				<dl class="mt-2 text-base text-warm-gray-500">
					<dd>
						<div>
							<dl>
								<dt class="sr-only">Email</dt>
								<dd>sales@helperbird.com</dd>
							</dl>
						</div>
						<div class="mt-1">
							<dl>
								<dt class="sr-only">Phone number</dt>
								<dd>+1 (501) 293 6819</dd>
							</dl>
						</div>
					</dd>
				</dl>
			</div>
			<div>
				<h3 class="text-lg font-medium text-warm-gray-900">Say hello</h3>
				<dl class="mt-2 text-base text-warm-gray-500">
					<dd>
						<div>
							<dl>
								<dt class="sr-only">Email</dt>
								<dd>hello@helperbird.com</dd>
							</dl>
						</div>
						<div class="mt-1">
							<dl>
								<dt class="sr-only">Phone number</dt>
								<dd>+1 (501) 293 6819</dd>
							</dl>
						</div>
					</dd>
				</dl>
			</div>
		</div>
	</section>
	</div>
	</div>
	</div>

{% include common/questions.html %} 
