---
layout: templates/base.html
title: Literacy, Accessibility & Dyslexia Software | Helperbird
description: Helperbird is a browser extension that gives you the features to make the web more accessible and you more productive. Providing you with  dyslexia fonts, dyslexia support, text to speech, overlays, dyslexia ruler, immersive reader, reader mode, annotations and  more.
keywords:
  Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /
---


<div class="relative overflow-hidden">



	
		<div class="relative pt-4 pb-16 sm:pb-16">
	
	
		  <div class="mt-16 mx-auto max-w-4xl px-4 sm:mt-24 sm:px-6">
			<div class="text-center">
			  <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
				<span class="block">Read. Write.</span>
				<span class="block text-pink-600">Unlock your full potential</span>
			  </h1>
			  <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">

		
				Helperbird is your all in one solution for your accessibility and productivity needs. 
				<br>
				<br>
				Providing you with dyslexia support, annotations, <b>natural voices</b>, immersive reader, text to speech, overlays, dyslexia ruler,  <b>dictation</b>, reader mode, annotations, <b> word prediction</b>  and more.
	

			

			  </p>
			  <div class="inline-flex items-center text-gray-500 divide-x mt-2 text-sm uppercase tracking-wide font-semibold sm:mt-10"><div class="flex-shrink-0 flex pr-5"><svg aria-hidden="true" class="h-5 w-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg aria-hidden="true" class="h-5 w-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg aria-hidden="true" class="h-5 w-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg aria-hidden="true" class="h-5 w-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg><svg aria-hidden="true" class="h-5 w-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg></div><div class="min-w-0 flex-1 pl-5 py-1 text-sm sm:py-3">Rated 5 stars by over 500,000 people.</div></div>
			

			
			</div>
			<div class="items-center">
				<button
					class="btn btn-block max-w-lg mx-auto mt-4 block" 	
					href="/pricing/" 
					title="Link to Helperbirds pricing and downloads page.">
					Get started
			</button>
			</div> 
		</div>
		</div>
	
		<div class="relative">
		  <div class="absolute inset-0 flex flex-col" aria-hidden="true">
			<div class="flex-1"></div>
			<div class="flex-1 w-full bg-gray-800"></div>
		  </div>
		  <div class="max-w-4xl mx-auto px-4 sm:px-6 ">


			<video class="relative rounded-lg shadow-lg overflow-hidden focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" autoplay="autoplay" muted="muted" control="control" loop="loop" playsinline="playsinline"><source src="/assets/videos/home.webm" type="video/webm"><source src="/assets/videos/home.mp4" type="video/mp4"></video>

		  </div>
		</div>

		<div class="bg-gray-800">
			<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
			  <h2 class="text-center text-gray-400 text-sm font-semibold uppercase tracking-wide">TRUSTED BY OVER 500,000 FORWARD-THINKING USERS</h2>
			  <div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
		



				<div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
					<img class="h-12" src="/assets/images/logo/microsoft.png" alt="Micosoft log, a Helperbird partner", title="Micosoft log, a Helperbird partner">
				  </div>
				  <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
					<img class="h-12" src="/assets/images/logo/gusto.png" alt="Cloverleafs logo" title="Cloverleafs logo">
				  </div>
				  <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
					<img class="h-12" src="/assets/images/logo/neveda.png" alt="UCC logo" title="UCC logo">
				  </div>
				  <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
					<img class="h-12" src="/assets/images/logo/school.png" alt="TEK logo" title="TEK logo">
				  </div>
				  <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
					<img class="h-12" src="/assets/images/logo/rio-texas.png" alt="How to Geek logo" title="How to Geek logo">
				  </div>



			  </div>
			</div>
		  </div>









</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
	  <div class="text-center">
		<h2 class="mt-1 text-5xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-5xl">Helperbird is the Complete Toolkit for
			accessibility on the web</h2>
		<p  class=" text-gray-900 tracking-wide mt-4 text-2xl">Helperbird is an end to end solution for making writing and reading on the web — and much more 🦉 </p>
	
	  </div>
	</div>
  </div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white pt-16 pb-32 overflow-hidden">
	<div class="relative">
		<div
			class="
				lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24
			"
		>
			<div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
				<div>
					
					<div class="mt-6">
						<h2 class="text-4xl font-extrabold tracking-tight text-gray-900">
							Reading, writing &  dyslexia support 
					
						</h2>
						<p class="mt-4 text-lg text-gray-500">
				
			
							Features that make reading and writing on the web easier and more accessible.
							From changing colors to adding overlays, natural voices to immersive reader and OCR you can now customize your experience to your needs.
							<br>
							Every popular fonts are included along with PDF support and 28
							other features. 
				
							<br>
							Allowing all users to unlock their full potential.
						</p>
						<div class="mt-6">
							<a
								href="/features/"
								class="
									inline-flex
									px-4
									py-2
									border border-transparent
									text-base
									font-medium
									rounded-md
									shadow-sm
									text-white
									bg-pink-600
									hover:bg-pink-700
								"
								title="Learn about our features"
							>
								Learn about our features
							</a>
						</div>
					</div>
				</div>
				<div class="mt-8 border-t border-gray-200 pt-6">
					<blockquote>
						<div>
							<p class="text-base text-gray-500">
								This extension is amazing and has helped improve my productivity robert has also been a very nice person to deal with when I have issues the live chat feature is amazing and quick for a response it's a really great Chrome extension that helps a lot way worth the money I pay per month and is also just great to support great people making accessibility tools
							</p>
						</div>
						<footer class="mt-3">
							<div class="flex items-center space-x-3">
								<div class="flex-shrink-0">
									<img
										class="h-6 w-6 rounded-full"
										src="https://lh3.googleusercontent.com/a-/AOh14GhPj4ZD9rWvVCfxt-GY0SEL_l8rSBfy8AdOuDwF9Q=s40-c-k"
										alt=""
									/>
								</div>
								<div class="text-base font-medium text-gray-700">
									Jack Salem, Assistive technology specialist
								</div>
							</div>
						</footer>
					</blockquote>
				</div>
			</div>
			<div class="mt-12 sm:mt-16 lg:mt-0">
				<div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
					<video
						class="
						w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0  lg:w-auto lg:max-w-2xl
						"
						width="680"
						height="502"
						autoplay="autoplay"
						muted="muted"
						control="control"
						loop="loop"
						playsinline="playsinline"
					>
						<source src="/assets/videos/font.webm" type="video/webm" />
						<source src="/assets/videos/font.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-24">
		<div
			class="
				lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24
			"
		>
			<div
				class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2"
			>
				<div>
				
					<div class="mt-6">
						<h2 class="text-4xl font-extrabold tracking-tight text-gray-900">
							Increase Productivity
						</h2>
						<p class="mt-4 text-lg text-gray-500">
							From annotate any website you visit, immersive reader, speech to text, Reader Mode,
							removing ads and 20 other features.
							
							<br>
							Helperbird users make getting work done quicker
							and easier on the web.
						</p>
						<div class="mt-6">
							<a
								href="/features/"
								class="
									inline-flex
									px-4
									py-2
									border border-transparent
									text-base
									font-medium
									rounded-md
									shadow-sm
									text-white
									bg-pink-600
									hover:bg-pink-700
								"
							>
								More info
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
				<div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
					<video
						class="
							w-full
							rounded-xl
				
					
							lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-2xl
						"


						width="680"
						height="502"
						autoplay="autoplay"
						muted="muted"
						control="control"
						loop="loop"
						playsinline="playsinline"
					>
						<source src="/assets/videos/readermode.webm" type="video/webm" />
						<source src="/assets/videos/readermode.mp4" type="video/mp4" />
					</video>
				</div>
			</div>
		</div>
	</div>
</div>




  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="bg-pink-600">
	<div class="max-w-4xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8 lg:py-20">
	  <div class="max-w-4xl mx-auto text-center">
		<h2 class="text-3xl font-extrabold text-white sm:text-4xl">
			Integrations
		</h2>
		<p class="mt-3 text-xl text-white sm:mt-4">
		  Helperbird works on your favorite platforms. From every website you visit, to your favorite apps, Helperbird is integrated with all of them.
		</p>
	  </div>
	  <dl class="mt-10 text-center sm:max-w-3xl sm:mx-auto sm:grid sm:grid-cols-3 sm:gap-8">
	

		

		<div class="flex flex-col mt-10 sm:mt-0">
			<dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
				<img alt="Firefox logo" loading="lazy" src="http://localhost:8080/assets/images/home/docs.png" width="70px" height="70px" class="items-center justify-center block mx-auto">
			</dt>
			<dd class="order-2 text-2xl font-extrabold text-white mt-2">
			 Google Docs
			</dd>
			<dd class="order-2">
				<a href="https://workspace.google.com/marketplace/app/helperbird/844716805038" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-pink-600 bg-white hover:bg-pink-50 sm:w-auto">Download for Docs</a>
			</dd>

		  </div>








		  <div class="flex flex-col mt-10 sm:mt-0">
			<dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
				<img alt="Firefox logo" loading="lazy" src="http://localhost:8080/assets/images/home/slides.png" width="70px" height="70px" class="items-center justify-center block mx-auto">
			</dt>
			<dd class="order-2 text-2xl font-extrabold text-white mt-2">
			 Google Slides
			</dd>
			<dd class="order-2">
				<a href="https://workspace.google.com/marketplace/app/helperbird/844716805038" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-pink-600 bg-white hover:bg-pink-50 sm:w-auto">Download for Slides</a>
			</dd>

		  </div>




		  <div class="flex flex-col mt-10 sm:mt-0">
			<dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
				<img alt="Firefox logo" loading="lazy" src="http://localhost:8080/assets/images/home/edge.png" width="70px" height="70px" class="items-center justify-center block mx-auto">
			</dt>
			<dd class="order-2 text-2xl font-extrabold text-white mt-2">
			 Edge
			</dd>
			<dd class="order-2">
				<a href="https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-pink-600 bg-white hover:bg-pink-50 sm:w-auto">Download for Edge</a>
			</dd>

		  </div>




		  <div class="flex flex-col mt-10 sm:mt-0">
			<dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
				<img alt="Firefox logo" loading="lazy" src="http://localhost:8080/assets/images/home/firefox.png" width="70px" height="70px" class="items-center justify-center block mx-auto">
			</dt>
			<dd class="order-2 text-2xl font-extrabold text-white mt-2">
			 Firefox
			</dd>
			<dd class="order-2">
				<a href="https://addons.mozilla.org/en-CA/firefox/addon/helperbird/" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-pink-600 bg-white hover:bg-pink-50 sm:w-auto">Download for Firefox</a>
			</dd>

		  </div>




		  <div class="flex flex-col mt-10 sm:mt-0">
			<dt class="order-1 mt-2 text-lg leading-6 font-medium text-pink-200">
				<img alt="Firefox logo" loading="lazy" src="/assets/images/home/chrome.png" width="70px" height="70px" class="items-center justify-center block mx-auto">
			</dt>
			<dd class="order-2 text-2xl font-extrabold text-white mt-2">
			 Google Chrome
			</dd>
			<dd class="order-2">
				<a href="https://chrome.google.com/webstore/detail/helperbird-accessibility/ahmapmilbkfamljbpgphfndeemhnajme" target="_blank" class="mt-2 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-pink-600 bg-white hover:bg-pink-50 sm:w-auto">Download for Chrome</a>
			</dd>

		  </div>






	  </dl>
	</div>
  </div>




<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-gray-800">
	<div class="max-w-7xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
	  <h2 class="text-3xl font-extrabold text-white tracking-tight">
		Features at glance
	  </h2>
	  <p class="mt-4 max-w-3xl text-lg text-white">
		Some of Helperbirds popular features at glance. We have over 39 features. Helperbird is more than just a accessibility tool — it’s a better way to be more productive. Users that switch to Helperbird are more productive and better organized thanks to our accessibility features. They’re far more efficient than before.
	  </p>
	  <a class="btn btn-primary mt-4" href="/pricing/" title="Discover more features">
		More features
	</a>
	 
	  <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16">
		
		{%- for feature in features.popular  -%}
	
		<div>
		  <div>
			
			
		  </div>
		  <div class="mt-6">
			<h3 class="text-lg font-medium text-white">{{ feature.title }}</h3>
			<p class="mt-2 text-base text-white">
				{{ feature.description }}
			</p>
			<a class="btn btn-secondary btn-sm mt-4" href="{{ feature.link }}" title="More information on feature {{ feature.data.featureTitle  }}">Learn more</a> 
		  </div>
		</div>
	
		{%- endfor -%}
 
	
	  </div>
	</div>
  </div>










<div class="relative bg-gray-50 pt-16 pb-16 overflow-hidden">
	<div
		class="
			lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-flow-col-dense lg:gap-24
			mt-24
			grid-cols-8
		"
	>
		<div class="col-span-4">
			<div class="card shadow-2xl">
				<div class="card-body">
					<h2 class="text-4xl text-gray-900">
						Help users understand,
						<br />
						<span class="font-bold text-gray-900">engage and express themselves</span>
					</h2>
					<p class="text-base text-gray-900 mt-2">
						98% of Helperbird users are users for life. From being able to change the web to their
						own needs, unlocking their full potential, and discovering the power of the web,
						Helperbird is the best way to get started.
					</p>
					<div class="card-actions">
						<a class="btn btn-accent" href="/features/" title="Discover more features">
							More features
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-span-4">
			<div class="card shadow-2xl mb-12">
				<div class="card-body">
					<h2 class="card-title text-2xl text-gray-900">FAQ &amp; Support</h2>
					<p class="text-base text-gray-900">
						See Helperbird in action, from videos, questions and answers to how-to guides.
					</p>
					<div class="card-actions">
						<a class="btn btn-accent" href="/contact/" title="Discover more features">Contact</a>
						<a class="btn btn-accent" href="/support/" title="Discover more features">Support</a>
					</div>
				</div>
			</div>
			<div class="card shadow-2xl mb-12">
				<div class="card-body">
					<h2 class="card-title text-2xl text-gray-900">Discover Helperbird Pro</h2>
					<p class="text-base text-gray-900">Discover Helperbird Pro for indivials, schools and businesses.</p>
					<div class="card-actions">
						<a class="btn btn-primary" href="/pricing/" title="Discover more features">
							More features
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="testimonials bg-gray-50">
	<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
		<div class="text-center">
			<h2
				class="mt-1 text-5xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-5xl"
			>
				What our Helperbird customers say
			</h2>
			<p class="max-w-xl mt-5 mx-auto text-2xl text-gray-500">
				Over 500,000 use Helperbird every day. Allowing them to be more accessible and productive on
				the web.
			</p>
		</div>
	</div>
	<div class="owl-carousel owl-carousel-loader">
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="
					rounded-t-xl
					bg-white-50
					px-6
					py-8
					text-lg
					leading-8
					font-semibold
					text-gray-900
					md:p-10 md:text-xl md:leading-8
				"
			>
				<svg class="mb-5 fill-current text-pink-100" width="45" height="36">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>
					I am getting such great support from Robert. I enjoy working with him. He answers my
					questions very quickly. Thanks so much for your great support and a great product.
				</p>
			</blockquote>
			<figcaption
				class="
					flex
					items-center
					space-x-4
					p-6
					rounded-b-xl
					leading-6
					font-semibold
					text-white
					bg-pink-500
				"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						src="https://www.gstatic.com/s2/contacts/images/NoPicture.gif"
						alt="Terry Martins` review of Helperbird. "
						loading="lazy"
					/>
				</div>
				<div class="flex-auto">
					Terry Martin
					<br />
					<span class="text-green-100">Assistive technology specialist</span>
				</div>
			</figcaption>
		</figure>
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="
					rounded-t-xl
					bg-white-50
					px-6
					py-8
					text-lg
					leading-8
					font-semibold
					text-gray-900
					md:p-10 md:text-xl md:leading-8
				"
			>
				<svg class="mb-5 fill-current text-pink-100" width="45" height="36">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>
					I found this extension on a whim to help myself. Suffering with post concussion syndrome
					symptoms and working remotely is really hard! This extension basically saved my job. It
					gave me back productivity and the ability to read the screen. This extension has so many
					neat features I never even knew I needed. I love this and you will too! You don't need to
					be dyslexic or have dyslexia for this extension to benefit you. Do yourself a giant favor
					and get it! I highly recommend it!
				</p>
			</blockquote>
			<figcaption
				class="
					flex
					items-center
					space-x-4
					p-6
					rounded-b-xl
					leading-6
					font-semibold
					text-white
					bg-pink-500
				"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						src="https://lh3.googleusercontent.com/a-/AOh14GhyAic73JjhQT0xGJp38l7wIklg52lYRXegjCjD=s40-c-k"
						alt="Catherine Contillos` review of Helperbird. "
						loading="lazy"
					/>
				</div>
				<div class="flex-auto">
					Catherine Contillo
					<br />
					<span class="text-green-100">User</span>
				</div>
			</figcaption>
		</figure>
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="
					rounded-t-xl
					bg-white-50
					px-6
					py-8
					text-lg
					leading-8
					font-semibold
					text-gray-900
					md:p-10 md:text-xl md:leading-8
				"
			>
				<svg class="mb-5 fill-current text-pink-100" width="45" height="36">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>
					My son has dyslexia and has been struggling with parts of distant learning over the last
					year. We recently discovered this software and he is loving everything about it,
					especially with the ease of following directions and completing his assignments! We have
					used several other tools but this has everything a dyslexia person needs all in one
					bundle! The upgrade is defiantly worth it to make our daily struggles, on the computer,
					run much smoother. I also greatly appreciate customer support (helpdesk). They went above
					and beyond to make sure we were all set up on the computer for my son to most successful.
				</p>
			</blockquote>
			<figcaption
				class="
					flex
					items-center
					space-x-4
					p-6
					rounded-b-xl
					leading-6
					font-semibold
					text-white
					bg-pink-500
				"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						src="https://www.gstatic.com/s2/contacts/images/NoPicture.gif"
						alt="Melissa Motzs` review of Helperbird. "
						loading="lazy"
					/>
				</div>
				<div class="flex-auto">
					Melissa Motz
					<br />
					<span class="text-green-100">Teacher</span>
				</div>
			</figcaption>
		</figure>
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="
					rounded-t-xl
					bg-white-50
					px-6
					py-8
					text-lg
					leading-8
					font-semibold
					text-gray-900
					md:p-10 md:text-xl md:leading-8
				"
			>
				<svg class="mb-5 fill-current text-pink-100" width="45" height="36">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>
					Making such an useful tool, replying to every single comment or review and giving support
					to people's issues as soon as possible?? Carefully, he is a hero.
				</p>
			</blockquote>
			<figcaption
				class="
					flex
					items-center
					space-x-4
					p-6
					rounded-b-xl
					leading-6
					font-semibold
					text-white
					bg-pink-500
				"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						src="https://lh3.googleusercontent.com/a-/AOh14Ghm2YPaMZuz48Lhr2s0bU-O66dOIBpQXL2oEJaENw=s40-c-k"
						alt="Martin Buis` review of Helperbird. "
						loading="lazy"
					/>
				</div>
				<div class="flex-auto">
					Martin Bui
					<br />
					<span class="text-green-100">User</span>
				</div>
			</figcaption>
		</figure>
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="
					rounded-t-xl
					bg-white-50
					px-6
					py-8
					text-lg
					leading-8
					font-semibold
					text-gray-900
					md:p-10 md:text-xl md:leading-8
				"
			>
				<svg class="mb-5 fill-current text-pink-100" width="45" height="36">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>
					A truly great extension! We installed this on all of our 200 Chromebooks across the 3
					special schools i work in and it has greatly helped our students use technology to learn.
					It not only helps our dyslexic learners, but also our autistic and ADHD students by
					helping remove distractions and making the web a more accessible place. Support is fast
					and efficient, and updates are very regular with new features constantly being added!
				</p>
			</blockquote>
			<figcaption
				class="
					flex
					items-center
					space-x-4
					p-6
					rounded-b-xl
					leading-6
					font-semibold
					text-white
					bg-pink-500
				"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						src="https://lh3.googleusercontent.com/a-/AOh14Gj-FXmbt6CIoHtVQf4hZYqi9KIEAsjmzoZ7if0l=s40-c-k"
						alt="Josh Sharrads` review of Helperbird. "
						loading="lazy"
					/>
				</div>
				<div class="flex-auto">
					Josh Sharrad
					<br />
					<span class="text-green-100">User</span>
				</div>
			</figcaption>
		</figure>
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="
					rounded-t-xl
					bg-white-50
					px-6
					py-8
					text-lg
					leading-8
					font-semibold
					text-gray-900
					md:p-10 md:text-xl md:leading-8
				"
			>
				<svg class="mb-5 fill-current text-pink-100" width="45" height="36">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>
					Helperbird is a very useful and smartly designed tool that will most definitely make the
					browsing life of any user suffering from from dyslexia or is even remotely visually
					impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on
					multiple devices, and is very efficient thanks to a useful set of straightforward
					customization options.
				</p>
			</blockquote>
			<figcaption
				class="
					flex
					items-center
					space-x-4
					p-6
					rounded-b-xl
					leading-6
					font-semibold
					text-white
					bg-pink-500
				"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						src="https://www.helperbird.com/assets/images/reviews/vladimir.jpg"
						alt="Vladimir Ciobicas` review of Helperbird. "
						loading="lazy"
					/>
				</div>
				<div class="flex-auto">
					Vladimir Ciobica
					<br />
					<span class="text-green-100">Reviewer</span>
				</div>
			</figcaption>
		</figure>
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="
					rounded-t-xl
					bg-white-50
					px-6
					py-8
					text-lg
					leading-8
					font-semibold
					text-gray-900
					md:p-10 md:text-xl md:leading-8
				"
			>
				<svg class="mb-5 fill-current text-pink-100" width="45" height="36">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>Just added it and it feels like my eyes are flowing through text!</p>
			</blockquote>
			<figcaption
				class="
					flex
					items-center
					space-x-4
					p-6
					rounded-b-xl
					leading-6
					font-semibold
					text-white
					bg-pink-500
				"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						src="https://lh3.googleusercontent.com/a-/AOh14GhU6fnZPkD5KVb4qoGokx-1NeZ6mDP36TLVssW2bw=s40-c-k"
						alt="bondzioteks` review of Helperbird. "
						loading="lazy"
					/>
				</div>
				<div class="flex-auto">
					bondziotek
					<br />
					<span class="text-green-100">User</span>
				</div>
			</figcaption>
		</figure>
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="
					rounded-t-xl
					bg-white-50
					px-6
					py-8
					text-lg
					leading-8
					font-semibold
					text-gray-900
					md:p-10 md:text-xl md:leading-8
				"
			>
				<svg class="mb-5 fill-current text-pink-100" width="45" height="36">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>
					This chrome extension is absolutely amazing. I'm a Primary school teacher and it helps
					children with a broad range of needs. It's so easy to set up. I love the way it syncs
					across devices so set up is seamless across all the children's computers. The customizable
					features are a game changer for allowing children to enjoy reading and accessing the web
					in our school. The best application I have ever seen for school children. Looking forward
					to trying the iPad application soon.
				</p>
			</blockquote>
			<figcaption
				class="
					flex
					items-center
					space-x-4
					p-6
					rounded-b-xl
					leading-6
					font-semibold
					text-white
					bg-pink-500
				"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						src="https://www.gstatic.com/s2/contacts/images/NoPicture.gif"
						alt="Luke Mccarthys` review of Helperbird. "
						loading="lazy"
					/>
				</div>
				<div class="flex-auto">
					Luke Mccarthy
					<br />
					<span class="text-green-100">Teacher</span>
				</div>
			</figcaption>
		</figure>
		<figure class="shadow-lg rounded-xl flex-none w-80 mx-16 p-0 md:w-xl">
			<blockquote
				class="
					rounded-t-xl
					bg-white-50
					px-6
					py-8
					text-lg
					leading-8
					font-semibold
					text-gray-900
					md:p-10 md:text-xl md:leading-8
				"
			>
				<svg class="mb-5 fill-current text-pink-100" width="45" height="36">
					<path
						d="M13.415.001C6.07 5.185.887 13.681.887 23.041c0 7.632 4.608 12.096 9.936 12.096 5.04 0 8.784-4.032 8.784-8.784 0-4.752-3.312-8.208-7.632-8.208-.864 0-2.016.144-2.304.288.72-4.896 5.328-10.656 9.936-13.536L13.415.001zm24.768 0c-7.2 5.184-12.384 13.68-12.384 23.04 0 7.632 4.608 12.096 9.936 12.096 4.896 0 8.784-4.032 8.784-8.784 0-4.752-3.456-8.208-7.776-8.208-.864 0-1.872.144-2.16.288.72-4.896 5.184-10.656 9.792-13.536L38.183.001z"
					></path>
				</svg>
				<p>Works a treat. Couldn't get dyslexie.com to work. This is brill!</p>
			</blockquote>
			<figcaption
				class="
					flex
					items-center
					space-x-4
					p-6
					rounded-b-xl
					leading-6
					font-semibold
					text-white
					bg-pink-500
				"
			>
				<div class="w-14 h-14 bg-gray-50 rounded-full flex items-center justify-center">
					<img
						class="w-12 h-12 rounded-full bg-fuchsia-100"
						src="https://www.helperbird.com/assets/images/people/sue.png"
						alt="Sue Dowdalls` review of Helperbird. "
						loading="lazy"
					/>
				</div>
				<div class="flex-auto">
					Sue Dowdall
					<br />
					<span class="text-green-100">User</span>
				</div>
			</figcaption>
		</figure>
	</div>
</section>






<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-pink-600 pt-10">
	<div class="max-w-4xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
	  <h2 class="text-3xl font-extrabold tracking-tight text-white sm:text-4xl">
		<span class="block">Try Helperbird for Free</span>
	  </h2>
	  <p class="mt-4 text-2xl leading-6 text-white">
		Discover why over 500,000 users love Helperbird and its over 28+ features.
	  </p>
	  <div class="mt-8 flex justify-center">
		<div class="inline-flex rounded-md shadow">
		  <a href="/pricing/" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700">
			Download Now
		  </a>
		  
		</div>
	
	  </div>
	</div>
  </div>




