---
layout: templates/base.html
title: Reviews for Helperbird | Helperbird
description: Reviews for Helperbird from 200,000 plus users on why they love Helperbird
keywords:
  Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /reviews/
---


<div class="relative pt-16 overflow-hidden sm:pt-24 lg:pt-32">
	<div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
		<div>
			<h2 class="mt-2 text-5xl font-extrabold text-gray-900 tracking-tight">Customer Testimonials</h2>
			<p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">See what over 500,000 happy users have to say about Helperbird.</p>
		</div>
	</div>
</div>







<section
  tabindex="-1"
  class="relative max-w-7xl mx-auto px-4 focus:outline-none sm:px-3 md:px-5 p-8 pt-16 pb-16"
>


                                                                                

  <div class="grid grid-cols-1 gap-6 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3">


    {%- for review in reviews.reviews -%}


    <div
        class="text-sm leading-6 helperbird-editor medium-editor-element"
    >
        <figure
        class="relative flex flex-col-reverse bg-gray-50 rounded-lg p-6 dark:bg-gray-800 dark:highlight-white/5"
        >
        <blockquote class="mt-6 text-gray-700 dark:text-gray-300">
            <p
            class=""

            >
            {{ review.review }}
            </p>
        </blockquote>
        <figcaption class="flex items-center space-x-4">
            <img
            src="{{ review.photo }}"
            alt=""
            class="flex-none w-14 h-14 rounded-full object-cover"
            loading="lazy"
            />
            <div class="flex-auto">
            <div class="text-base text-gray-900 font-semibold dark:text-gray-300">
               <span
                    class="absolute inset-0 helperbird-editor medium-editor-element"
                    data-medium-editor-element="true"
                    aria-multiline="true"
                    data-medium-editor-editor-index="1"
                    medium-editor-index="779ccbf1-5bec-2e88-780f-dee1f4b809a1"
                ></span
                >{{ review.name }}
            </div>
            <div class="mt-0.5">{{ review.title }}</div>
            </div>
        </figcaption>
        </figure>
    </div>
    



{%- endfor -%}





  </div>

</section>

