---
layout: templates/base.html
title: Welcome to Helperbird 👋 | Helperbird 
description: Learn how Helperbird works with documentation, suggested ways to use Helperbird, and videos to help your students and yourself get the most out of Helperbird.
keywords: Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /welcome/
---


<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

<script> 

	window.onload = function () {
		const jsConfetti = new JSConfetti()
		jsConfetti.addConfetti({emojis: ['👋']});
	}
</script>


<div class="card bg-white overflow-hidden">
    <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">

        <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
            <div>

                <h2 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Welcome to Helperbird 👋</h2>
            </div>

			<div>

             
            </div>
        </div>
        <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
            <div class="relative lg:row-start-1 lg:col-start-2">

                <div class="relative text-base mx-auto max-w-prose lg:max-w-none">


                    <ul class="steps steps-vertical">
                        <li class="step step-primary pt-4 pb-4">
							<div class="  card card-bordered text-left shadow-2xl bg-primary text-primary-content mt-4 mb-4">

                                <div class="card-body text-left">
                                    <h2 class="card-title">Sign in to Helperbird
                                      
                                    </h2>
                                    <p>While this is optional, we recommend everyone to sign into Helperbird. This allows you access to Helperbird Pro but also saves your settings across browsers.
                                        </p>
                                    <div class="justify-end card-actions">
                                        <a class="btn btn-secondary btn-sm" href="https://www.helperbird.com/help/how-to-login-to-helperbird/" title="Link to the Helperbird guide on how to sign in">Sign in to Helperbird</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="step step-primary">
                            <div class="  card card-bordered text-left shadow-2xl bg-primary text-primary-content mt-4 mb-4">

                                <div class="card-body text-left">
                                    <h2 class="card-title">Discover our help guides
                                        <div class="badge mx-2 badge-secondary">NEW</div>
                                    </h2>
                                    <p>While we are proud to have Helperbird easy to use. We recommend everyone to have a look at help guides. To discover hidden tips and guides on how to use Helperbird.</p>
                                    <div class="justify-end card-actions">
                                        <a class="btn btn-secondary btn-sm" href="https://www.helperbird.com/help/" title="Link to the Helperbird help guides">Helperbird help guide</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="step">
                            <div class="  card card-bordered text-left shadow-2xl bg-primary text-primary-content mt-4 mb-4">

                                <div class="card-body text-left">
                                    <h2 class="card-title">Turn on the highlight menu
                                        <div class="badge mx-2 badge-secondary">Tip</div>
                                    </h2>
                                    <p>We recommend everyone to turn on the highlight menu option, it allows you to highlight text and get quick access to our features.</p>
                                    <div class="justify-end card-actions">
										<a class="btn btn-secondary btn-sm" href="https://www.helperbird.com/pricing/" title="Link to the Helperbird help guides">Enable highlight menu</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="step">
                            <div class="  card card-bordered text-left shadow-2xl bg-primary text-primary-content mt-4 mb-4">

                                <div class="card-body">
                                    <h2 class="card-title">Discover Helperbird Pro 
                                        <div class="badge mx-2 badge-secondary">NEW</div>
                                    </h2>
                                    <p>Helperbird Pro gives you access to all our features from $40 a year. Get access to features, like the OCR, text to speech, and much, much more.</p>
                                    <div class="justify-end card-actions">
										<a class="btn btn-secondary btn-sm" href="https://www.helperbird.com/pricing/" title="Link to the Helperbird help guides">Discover Helperbird Pro</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
            <div class="mt-8 lg:mt-0">
                <div class="text-base max-w-prose mx-auto lg:max-w-none">
                    <p class="max-w-xl mt-5 mx-auto text-xl   text-black ">My name is Robert James, the founder of Helperbird.</p>
                </div>
                <div class="mt-5 prose prose-indigo   mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
                    <p class="max-w-xl mt-5 mx-auto text-xl   text-black ">Thank you for downloading Helperbird and giving it a try. I know your going to love it.</p>
                    <p class="max-w-xl mt-5 mx-auto text-xl   text-black ">Helperbird is built for everyone. I have dyslexic, I understand some of the needs people have on the web. That's why we built Helperbird, to make the web more accessible for everyone's individual needs but to also increase their productivity.

                    </p>
                    <p class="max-w-xl mt-5 mx-auto text-xl   text-black ">
                        So with Helperbird, we offer every tool you can think of to make the web work for you.</p>

                </div>
                <div class="mt-5 prose prose-indigo   mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
                    <p class="max-w-xl mt-5 mx-auto text-xl   text-black "> We offer over 38 high quiatly features, from text to speech, voice typing, immersive reader, reader mode, dyslexia fonts and much more.
                    </p>
                </div>


                <div class="mt-5 prose prose-indigo   mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
                    <p class="max-w-xl mt-5 mx-auto text-xl   text-black ">Play around with Helperbird and discover why over 500,000 users love Helperbirds.</p>

                    <p class="max-w-xl mt-5 mx-auto text-xl   text-black ">
                        <b>Robert James Gabriel</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
