
footer {
    background-color: #222b37 !important;
    padding: 2rem !important;
    color: #fff !important;
}


html {
    scroll-behavior: smooth;
}

.pink {
    background-color: rgba(220, 51, 99, 1) !important;
}


.footer_text {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.coral-white .svg-fill {
    fill: #dc3363 !important;
}


.feature_check {
    width: 35px;
}

.check {
    margin-right: 10px;
}

.large_font {
    font-size: 2rem;
    fill: rgba(220, 51, 99, 1);
    color: rgba(220, 51, 99, 1);
}




a,
button {
    cursor: pointer !important;
}






