@tailwind base;
@tailwind components;
@tailwind utilities;

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 0 10px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #2196f3;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.pricing-switch{
	    --tw-text-opacity: 1;
    color: rgba(165,180,252,var(--tw-text-opacity));
    font-size: 1.25rem;

}

.helperbird-accessibility-error{
	border: 5px red solid !important;
}

.press-logos {
	height: min-content;
}

.youtube_lazy_load {
	background-color: #000;
	margin-bottom: 30px;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.youtube_lazy_load img {
	width: 100%;
	top: -16.84%;
	left: 0;
	opacity: .7;
}
.youtube_lazy_load .play-button {
	width: 90px;
	height: 60px;
	background-color: #333;
	box-shadow: 0 0 30px rgba(0, 0, 0, .6);
	z-index: 1;
	opacity: .8;
	border-radius: 6px;
}
.youtube_lazy_load .play-button:before {
	content: "";
	border-style: solid;
	border-width: 15px 0 15px 26px;
	border-color: transparent transparent transparent #fff;
}
.youtube_lazy_load .play-button,
.youtube_lazy_load img {
	cursor: pointer;
}
.youtube_lazy_load .play-button,
.youtube_lazy_load .play-button:before,
.youtube_lazy_load iframe,
.youtube_lazy_load img {
	position: absolute;
}
.youtube_lazy_load .play-button,
.youtube_lazy_load .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.youtube_lazy_load iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
