@tailwind base;
@tailwind components;
@tailwind utilities;



.youtube_lazy_load {
	background-color: #000;
	margin-bottom: 30px;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
}
.youtube_lazy_load img {
	width: 100%;
	top: -16.84%;
	left: 0;
	opacity: .7;
}
.youtube_lazy_load .play-button {
	width: 90px;
	height: 60px;
	background-color: #333;
	box-shadow: 0 0 30px rgba(0, 0, 0, .6);
	z-index: 1;
	opacity: .8;
	border-radius: 6px;
}
.youtube_lazy_load .play-button:before {
	content: "";
	border-style: solid;
	border-width: 15px 0 15px 26px;
	border-color: transparent transparent transparent #fff;
}
.youtube_lazy_load .play-button,
.youtube_lazy_load img {
	cursor: pointer;
}
.youtube_lazy_load .play-button,
.youtube_lazy_load .play-button:before,
.youtube_lazy_load iframe,
.youtube_lazy_load img {
	position: absolute;
}
.youtube_lazy_load .play-button,
.youtube_lazy_load .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.youtube_lazy_load iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
