.table {
	width: 100% !important;
	margin-bottom: 1rem !important;
	color: #212529 !important;
}

.text-left{
	text-align: left !important;
}

.text-center{
	text-align: center !important;
}
.table th,
.table td {
	
	padding: 0.75rem !important;
	vertical-align: top !important;
	border-top: 1px solid #dee2e6 !important;
}

.table thead th {
	vertical-align: bottom !important;
	border-bottom: 2px solid #dee2e6 !important;
}

.table tbody + tbody {
	border-top: 2px solid #dee2e6 !important;
}

.table-sm th,
.table-sm td {
	padding: 0.3rem !important;
}

.table-bordered {
	border: 1px solid #dee2e6 !important;
}

.table-bordered th,
.table-bordered td {
	border: 1px solid #dee2e6 !important;
}

.table-bordered thead th,
.table-bordered thead td {
	border-bottom-width: 2px !important;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
	border: 0 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05) !important;
}

.table-hover tbody tr:hover {
	color: #212529 !important;
	background-color: rgba(0, 0, 0, 0.075) !important;
}

.table-primary,
.table-primary > th,
.table-primary > td {
	background-color: #b8daff !important;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
	border-color: #7abaff !important;
}

.table-hover .table-primary:hover {
	background-color: #9fcdff !important;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
	background-color: #9fcdff !important;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
	background-color: #d6d8db !important;
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
	border-color: #b3b7bb !important;
}

.table-hover .table-secondary:hover {
	background-color: #c8cbcf !important;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
	background-color: #c8cbcf !important;
}

.table-success,
.table-success > th,
.table-success > td {
	background-color: #c3e6cb !important;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
	border-color: #8fd19e !important;
}

.table-hover .table-success:hover {
	background-color: #b1dfbb !important;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
	background-color: #b1dfbb !important;
}

.table-info,
.table-info > th,
.table-info > td {
	background-color: #bee5eb !important;
}

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
	border-color: #86cfda !important;
}

.table-hover .table-info:hover {
	background-color: #abdde5 !important;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
	background-color: #abdde5 !important;
}

.table-warning,
.table-warning > th,
.table-warning > td {
	background-color: #ffeeba !important;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
	border-color: #ffdf7e !important;
}

.table-hover .table-warning:hover {
	background-color: #ffe8a1 !important;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
	background-color: #ffe8a1 !important;
}

.table-danger,
.table-danger > th,
.table-danger > td {
	background-color: #f5c6cb !important;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
	border-color: #ed969e !important;
}

.table-hover .table-danger:hover {
	background-color: #f1b0b7 !important;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
	background-color: #f1b0b7 !important;
}

.table-light,
.table-light > th,
.table-light > td {
	background-color: #fdfdfe !important;
}

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
	border-color: #fbfcfc !important;
}

.table-hover .table-light:hover {
	background-color: #ececf6 !important;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
	background-color: #ececf6 !important;
}

.table-dark,
.table-dark > th,
.table-dark > td {
	background-color: #c6c8ca !important;
}

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
	border-color: #95999c !important;
}

.table-hover .table-dark:hover {
	background-color: #b9bbbe !important;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
	background-color: #b9bbbe !important;
}

.table-active,
.table-active > th,
.table-active > td {
	background-color: rgba(0, 0, 0, 0.075) !important;
}

.table-hover .table-active:hover {
	background-color: rgba(0, 0, 0, 0.075) !important;
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
	background-color: rgba(0, 0, 0, 0.075) !important;
}

.table .thead-dark th {
	color: #fff !important;
	background-color: #343a40 !important;
	border-color: #454d55 !important;
}

.table .thead-light th {
	color: #495057 !important;
	background-color: #e9ecef !important;
	border-color: #dee2e6 !important;
}

.table-dark {
	color: #fff !important;
	background-color: #343a40 !important;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
	border-color: #454d55 !important;
}

.table-dark.table-bordered {
	border: 0 !important;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.05) !important;
}

.table-dark.table-hover tbody tr:hover {
	color: #fff !important;
	background-color: rgba(255, 255, 255, 0.075) !important;
}

@media (max-width: 575.98px) {
	.table-responsive-sm {
		display: block !important;
		width: 100% !important;
		overflow-x: auto !important;
		-webkit-overflow-scrolling: touch !important;
	}
	.table-responsive-sm > .table-bordered {
		border: 0 !important;
	}
}

@media (max-width: 767.98px) {
	.table-responsive-md {
		display: block !important;
		width: 100% !important;
		overflow-x: auto !important;
		-webkit-overflow-scrolling: touch !important;
	}
	.table-responsive-md > .table-bordered {
		border: 0 !important;
	}
}

@media (max-width: 991.98px) {
	.table-responsive-lg {
		display: block !important;
		width: 100% !important;
		overflow-x: auto !important;
		-webkit-overflow-scrolling: touch !important;
	}
	.table-responsive-lg > .table-bordered {
		border: 0 !important;
	}
}

@media (max-width: 1199.98px) {
	.table-responsive-xl {
		display: block !important;
		width: 100% !important;
		overflow-x: auto !important;
		-webkit-overflow-scrolling: touch !important;
	}
	.table-responsive-xl > .table-bordered {
		border: 0 !important;
	}
}

.table-responsive {
	display: block !important;
	width: 100% !important;
	overflow-x: auto !important;
	-webkit-overflow-scrolling: touch !important;
}

.table-responsive > .table-bordered {
	border: 0 !important;
}

.table-responsive {
	display: block !important;
	width: 100% !important;
	overflow-x: auto !important;
	-webkit-overflow-scrolling: touch !important;
}

.table-responsive > .table-bordered {
	border: 0 !important;
}
