.lightblue-gradient#pricing
  section.section_header.website_pricing_header
    .container
      .col-12.text-center
        h1.heading.primary-color.launchaco-builder-hoverable Pricing
        h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable One subscription, any browser. Available for Chrome, Firefox and Edge.
        h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable Monthly | Annual (20% discount)
        label.switch
          input#annual(name='xxx', type='checkbox')
          span.slider.round
  section.section_header.pricing_table
    .container-lrg.flex
      .col-12
        .card.flex.mobile-flex-wrap.no_border
          .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card
            .mb20
              p.bold Free
              b.heading $0.00
              span.paragraph Monthly
              ul.mt20
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Dyslexics fonts
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Immersive Reader
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Change font sizes
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Screenshot
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Reader mode
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Google Translate
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Color blindness underline
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Color blindness text stroke
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Change the font color
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Change the background color
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through High Contrast mode
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Dyslexia ruler
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Tint and overlays
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Premium support
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Dictionary app
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Notes taking
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Text to speech
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Speech to text
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Bookmarks
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Word and letter spacing
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Google doc, Dropbox and word support
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through iPad App (Coming soon)
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through ORC App (Coming soon)
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Highlight color options (Coming soon)
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Success manager
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through
                    b Unlimited users
            a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(data-target='#downloadModal', data-toggle='modal')
              span Download for Free
          .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.custom_table_most_popluar.pink-card
            .mb20
              p.bold Pro
              b.heading#plusPricing $4.99
              |  
              span.paragraph#plusPricingText Monthly
              ul.mt20
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Dyslexics fonts
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Immersive Reader
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Change font sizes
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Screenshot
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Reader mode
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Google Translate
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Color blindness underline
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Color blindness text stroke
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Change the font color
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Change the background color
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span High Contrast mode
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Dyslexia ruler
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Tint and overlays
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Premium support
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Dictionary app
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Notes taking
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Text to speech
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Speech to text
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Bookmarks
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Word and letter spacing
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Google doc, Dropbox and word support
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span iPad App (Coming soon)
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span ORC App (Coming soon)
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Highlight color options (Coming soon)
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through Success manager
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-times-circle
                  span.span.line-through
                    b Unlimited users
            a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.yellow_button.hide#checkout-button-plan_FmS3HONbzTCxGl
              span Get started
            |  
            a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color.yellow_button#checkout-button-1
              span Get started
          .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.pricing_table_card.custom_table_most_popluar
            .mb20
              p.bold Education
              b.heading#enterprisePricing $99
              |  
              span.paragraph#enterprisePricingText Monthly
              ul.mt20
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Dyslexics fonts
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Immersive Reader
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Change font sizes
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Screenshot
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Reader mode
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Google Translate
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Color blindness underline
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Color blindness text stroke
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Change the font color
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Change the background color
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span High Contrast mode
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Dyslexia ruler
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Tint and overlays
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Premium support
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Dictionary app
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Notes taking
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Text to speech
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Speech to text
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Bookmarks
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Word and letter spacing
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Google doc, Dropbox and word support
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span iPad App (Coming soon)
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span ORC App (Coming soon)
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Highlight color options (Coming soon)
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span Success manager
                li.flex.mb20
                  p.pricing_icon
                    i.fas.fa-check-circle
                  span.span
                    b Unlimited users
            a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.blue_button.hide#checkout-button-plan_G1OnSt8DIms1PY
              span Get started
            |  
            a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color.blue_button#checkout-button-plan_G1O8Rztm6fFf4R
              span Get started
  .container-lrg.flex.payments
    .col-12.mobile-text-center.title
      h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb40.mt40.white_h1.
        Are you a student?
        
      h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable.text_center Get Helperbird for only $30.00 a year.
      a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color.student#checkout-button-plan_GDtSwhVHQXfaSw
        span Get it now!
