section#cta-99.section.lightblue-white.mb80
  .container
    .col-12.text-center.flex.flex-column.center-horizontal
      h3.heading.primary-color.launchaco-builder-hoverable 
        | Download Helperbird for  Free
      p.paragraph.mt20.secondary-color.launchaco-builder-hoverable
        | Upgrade to Helperbird Plus for only 4.99 per month
      a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(href='#', target='_blank', rel='noreferrer')
        span  Try it now
  .container-lrg.flex.mt75
    .col-4.flex.flex-column.center-vertical

      p.container.col-12.bold.primary-color.launchaco-builder-hoverable.paragraph
        | This works
        | and it makes everything so much easier to read! Thank you so much and i will keep posted if
        | i do run into any issues!
      .mt20
        .user-image.mt20.mb20.launchaco-builder-hoverable
          img(loading="lazy",src="assets/image/people/alan.png", alt="Photo of Helperbird user Jason O'Bell")
        p.span.secondary-color.mb10.launchaco-builder-hoverable Jason O'Bel
        span.span.secondary-color.launchaco-builder-hoverable User

    .col-4.flex.flex-column.center-vertical

      p.container.col-12.bold.primary-color.launchaco-builder-hoverable.paragraph
        | This works
        | and it makes everything so much easier to read! Thank you so much and i will keep posted if
        | i do run into any issues!
      .mt20
        .user-image.mt20.mb20.launchaco-builder-hoverable
          img(loading="lazy",src="assets/image/people/alan.png", alt="Photo of Helperbird user Jason O'Bell")
        p.span.secondary-color.mb10.launchaco-builder-hoverable Jason O'Bel
        span.span.secondary-color.launchaco-builder-hoverable User


    .col-4.flex.flex-column.center-vertical

      p.container.col-12.bold.primary-color.launchaco-builder-hoverable.paragraph
        | This works
        | and it makes everything so much easier to read! Thank you so much and I will keep posted if
        | I do run into any issues!
      .mt20
        .user-image.mt20.mb20.launchaco-builder-hoverable
          img(loading="lazy",src="assets/image/people/alan.png", alt="Photo of Helperbird user Jason O'Bell")
        p.span.secondary-color.mb10.launchaco-builder-hoverable Jason O'Bell
        span.span.secondary-color.launchaco-builder-hoverable User