
.section#features.section.lightblue-white.mb80
  .container.text-center
    .col-12
      h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us Features 71,000 people love

  .container-lrg.flex.mt75
    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center
        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Dyslexia Fonts
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Specialized fonts for dyslexics
            | and others. Convert the font on websites to use OpenDyslexic, Dyslexie, Arial, Comic Sans, and more.
          .mobile-text-center.mt20
            a.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/specialised-dyslexic-fonts')
                span  Read more

    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Dyslexia Ruler
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Dyslexia Ruler helps you to read long texts on web pages. This tool can assist dyslexic readers and others in keeping their place on the page they are reading. 
          .mobile-text-center.mt20
            a.mt10.launchaco-builder-hoverable.mr10.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/ruler')
                span  Read more
  .container-lrg.flex.mt40  
    .col-6.flex.flex-column.center-vertical

      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Styles & Colors
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Background and font colors help people with dyslexia focus and improve reading. All
            | suggested colors included in Helperbird.
          .mobile-text-center.mt20
            a.mt10.launchaco-builder-hoverable.mr10.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/styles')
                span  Read more

    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Blacklist
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Use the blacklist feature to excluded Helperbird from
            | running on that URL.
          .mobile-text-center.mt20
            a.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/blacklist')
              span    Read more

  .container-lrg.flex.mt40      
    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Color blindness 
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Underline links and add strokes around text to help with color blindness.
          .mobile-text-center.mt20            
            a.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/color-blindness')
              span    Read more

    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Overlay
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Users with 
            b #[a( href='https://irlen.com/what-is-irlen-syndrome/' target='_blank', rel='noreferrer') Scotopic Sensitivity Syndrome (SSS)] 
            | or people who don't like bright
            | white web pages can now change the overlay color of a web page with the overlay feature.
          .mobile-text-center.mt20            
            a.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/overlay')
              span  Read more 

  .container-lrg.flex.mt40       
    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Dictionary
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | With one right click of a mouse, 
            | users can discover what any English word means.
            | Including in search results are synonyms and related words.
          .mobile-text-center.mt20            
            a.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/dictionary')

              span  Read more

    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center


        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Privacy
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Helperbird will never sell, store, or consume any user data. We do not store data or any other user-related content. 
          .mobile-text-center.mt20            
            a.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/privacy')

              span  Read more
  .container-lrg.flex.mt40       
    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Text to Speech
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Not sure what a word means or how to 
            | pronounce it? Select it, and Helperbird will read it out loud.
          .mobile-text-center.mt20            
            a.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/text-to-speech')
              span  Read more
    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Speech to Text
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Instead of typing text, you can speak and Helperbird will turn your speech to text.
          .mobile-text-center.mt20            
            a.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/speech-to-text')

              span  Read more
  .container-lrg.flex.mt40  
    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Notes
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Save and manage snippets of text, images and videos using the notes features. Saved notes include the website link, time, and date of the saved  snippet.
          .mobile-text-center.mt20              
              a.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/notes')
                span  Read more
    .col-6.flex.flex-column.center-vertical
      .flex.mobile-flex-wrap.mb75.mobile-text-center

        div
          h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Cognitive Load
          p.paragraph.secondary-color.launchaco-builder-hoverable
            | Underlining of web page text leads to improved reading focus and memory retention rate. Using granular colors that underline text, users can find reading more comfortable and fun.
          .mobile-text-center.mt20
            a.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.read_more(href='/features/cognitive-load')
                span  Read more