
footer.footer#footer-10
    .container.col-12

        .flex.wrap.center-vertical
            .col-3.mobile-col-6
                p.mb10
                    b Company 
                p.mb10
                    a( href='/about',onclick="captureOutboundLink('/about'); return false;", title="Link to Helperbirds about") About
                p.mb10
                    a( href='/blog/', onclick="captureOutboundLink('/blog/'); return false;", title="Link to Helperbirds blog") Blog
                p.mb10
                    a(href="/webinar", onclick="captureOutboundLink('/webinar'); return false;", title="Helperbird webinar") Webinar
                p.mb10
                    a( href='/roadmap',onclick="captureOutboundLink('/roadmap'); return false;", title="Link to Helperbirds Roadmpa") Roadmap
                p.mb10
                    a( href='/support', onclick="captureOutboundLink('/support'); return false;", title="Link to Helperbirds support") Support
                p.mb10
                    a( href='/contact' ,onclick="captureOutboundLink('/contact'); return false;", title="Link to Helperbirds contact page") Contact
            .col-3.mobile-col-6
                p.mb10
                    b Product
                p.mb10
                    a(href='https://chrome.google.com/webstore/detail/dyslexia-accessibility-to/ahmapmilbkfamljbpgphfndeemhnajme', onclick="captureOutboundLink('https://chrome.google.com/webstore/detail/dyslexia-accessibility-to/ahmapmilbkfamljbpgphfndeemhnajme'); return false;", target="_blank",   rel="noreferrer", title="Link to download Helperbird for Google") Chrome
                p.mb10
                    a(href="https://addons.mozilla.org/en-CA/firefox/addon/helperbird/",  onclick="captureOutboundLink('https://addons.mozilla.org/en-CA/firefox/addon/helperbird/'); return false;", target="_blank",  title="Link to download Helperbird for Firefox", rel="noreferrer")  Firefox
                p.mb10
                    a( href='/#features', onclick="captureOutboundLink('/#features'); return false;", title="Link to Helperbirds support") Features
                p.mb10
                    a( href='/pricing', onclick="captureOutboundLink('/pricing'); return false;",  title="Link to Helperbirds pricing") Pricing
                p.mb10
                    a( href='/updates',  onclick="captureOutboundLink('/updates'); return false;", title="Link to Helperbirds updates") Updates 
            .col-3.mobile-col-6
                p.mb10
                    b Legal
                p.mb10
                    a( href='/privacy', onclick="captureOutboundLink('/privacy'); return false;",  title="Link to Helperbirds privacy") Privacy
                p.mb10
                    a( href='/compliance',onclick="captureOutboundLink('/compliance'); return false;", title="Link to Helperbirds Compliance") Compliance
                p.mb10
                    a( href='/terms-of-service',onclick="captureOutboundLink('/terms-of-service'); return false;", title="Link to Helperbirds terms") Terms
                p.mb10
                    a( href='/sitemap.xml' , onclick="captureOutboundLink('/sitemap.xml'); return false;", title="Link to Helperbirds Contact") Sitemap
            .col-3.mobile-col-6
                p.mb10
                    b Follow Us
                p.mb10
                    a(href='https://facebook.com/helperbird/',  onclick="captureOutboundLink('https://facebook.com/helperbird/'); return false;", target='_blank', rel='noreferrer', title="Link to Helperbirds Facebook") Facebook
                p.mb10
                    a(href='https://twitter.com/helperbird_', onclick="captureOutboundLink('https://twitter.com/helperbird_'); return false;",  target='_blank', rel='noreferrer', title="Link to Helperbirds Twitter") Twitter
                p.mb10
                    a(href='https://www.linkedin.com/company/19112429/',onclick="captureOutboundLink('https://www.linkedin.com/company/19112429/'); return false;",  target='_blank', rel='noreferrer', title="Link to Helperbirds Linkedin") Linkedin
                p.mb10
                    a(href='https://www.youtube.com/watch?v=aXXRSenvTTg', onclick="captureOutboundLink('https://www.youtube.com/watch?v=aXXRSenvTTg'); return false;", target='_blank', rel='noreferrer', title="Link to Helperbirds Youtube") Youtube

.base-footer.text-center
    div.span.secondary-color
        | © 2019 Helperbird.com . All rights reserved.

include modal.pug
// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-39444052-20')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-39444052-20');

script(src='/assets/js/site.js?x=2')