header.header
  .container-lrg
    .flex.col-12.spread
      a.logo.primary-color.launchaco-builder-hoverable.logo(href='/') 
        img(loading="lazy", src="/assets/images/pwa/logo/full.png", alt="Helperbird Logo")
        | Helperbird

      a#menu.menu-toggle(href='#main-menu')
          b.nav-link.mr0.secondary-color ☰
          
      nav#main-menu.main-menu(role='navigation')
        a#main-menu-close.menu-close(href='#')
          span.bold ✕
        a.nav-link.secondary-color(href='/about') About
        a.nav-link.secondary-color(href='/#features') Features
        a.nav-link.secondary-color(href='/pricing') Pricing
        a.nav-link.secondary-color(href='/support') Help
        a.nav-link.secondary-color.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-signup.primary-color(type='button' data-toggle='modal' data-target='#downloadModal') Download Helperbird

