
#downloadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#downloadModalLongTitle.modal-title Download Helperbird
      .modal-body
        .container-lrg.flex.mt40
            .flex.flex-column.col-6
                .launchaco-builder-hoverable
                    img.launchaco-builder-hoverable.logos_modal(src='./assets/images/home/chrome.png', width="50%", alt="Firefox logo")
                    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/ahmapmilbkfamljbpgphfndeemhnajme', target='_blank',rel="noopener")
                        span  Chrome
            .flex.flex-column.col-6

                .launchaco-builder-hoverable
                    img.launchaco-builder-hoverable.logos_modal(src='./assets/images/home/firefox.png', width="50%", alt="Firefox logo")
                    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://addons.mozilla.org/en-CA/firefox/addon/helperbird/', target='_blank', rel='noreferrer')
                        span Firefox 
