section#featuredin-1.section.press-logos
  .container.text-center
    .col-12
      h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb75.press_logos_title  Trusted by people at the world’s most innovative organisations
  .container-lrg
    .flex.center-horizontal.wrap.center-vertical
      .col-3.mobile-col-6
        a(href='https://www.producthunt.com/posts/helperbird-3-0', target='_blank', rel='noreferrer', title="Link to Producthunt")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Product hunt',src='./assets/images/logos/producthunt.png', loading="lazy" )
      .col-3.mobile-col-6
        a(href='https://www.nexus-education.com/made-dyslexia-i-encourage-train/', target='_blank', rel='noreferrer' ,title="Link to Nexus")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of nexus', src='./assets/images/logos/nexus.png', loading="lazy" )
      .col-3.mobile-col-6
        a(href='https://www.softpedia.com/get/Office-tools/Text-editors/Helperbird.shtml', target='_blank', rel='noreferrer', title="Link to Softpedia")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Softpedia', src='./assets/images/logos/softpedia.png', loading="lazy" )
      .col-3.mobile-col-6
        a(href='https://optocrypto.com/dyslexics-helperbird-chrome-extension/', target='_blank', rel='noreferrer', title="Link to Optologo")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Softpedia', src='./assets/images/logos/optologo.png', loading="lazy" )
 
  .container-lrg
    .flex.center-horizontal.wrap.center-vertical
      .col-3.mobile-col-6
        a(href='https://www.howtogeek.com/444235/fonts-and-browser-extensions-that-help-those-with-dyslexia-read-the-web/', target='_blank', rel='noreferrer', title="Link to Producthunt")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of How To Geek',src='./assets/images/logos/howtogeek.png', loading="lazy" )
      .col-3.mobile-col-6
        a(href='https://www.ilovefreesoftware.com/14/windows/internet/plugins/free-chrome-extension-dyslexics-friendly-fonts-zoom-text-color-blindness-feature.html', target='_blank', rel='noreferrer' ,title="Link to Nexus")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of I love free software', src='./assets/images/logos/ilovefreesoftware.png', loading="lazy" )
      .col-3.mobile-col-6
        a(href='https://anchor.fm/edutechguys/episodes/S5E13---Robert-James-Gabriel---Helperbird-com-e892dt', target='_blank', rel='noreferrer', title="Link to EduTech")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Edutech', src='./assets/images/logos/edutech.png', loading="lazy" )
      .col-3.mobile-col-6
        a(href='https://www.tekcrispy.com/2019/11/16/helpedbird/', target='_blank', rel='noreferrer', title="Link to Tekcrispy")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Tek  Crispy', src='./assets/images/logos/tek.png', loading="lazy" )

  .container-lrg
    .flex.center-horizontal.wrap.center-vertical
      .col-3.mobile-col-6
        a(href='https://www.smashingmagazine.com/2019/11/black-friday-2019/', target='_blank', rel='noreferrer', title="Link to Producthunt")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of smashing-magazine-logo',src='./assets/images/logos/smashing-magazine-logo.png', loading="lazy" )
      .col-3.mobile-col-6
        a(href='https://www.indiehackers.com/product/helperbird/made-it-onto-the-indiehackers-podcast--LuJYrgVZ12TsNIDCFOU', target='_blank', rel='noreferrer' ,title="Link to Nexus")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of indiehackers', src='./assets/images/logos/indiehackers_logo.png', loading="lazy" )
      .col-3.mobile-col-6
        a(href='http://techtalk.stratford.edu/2019/11/23/show-of-11-23-2019/', target='_blank', rel='noreferrer', title="Link to stratford techtalk")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of stratford techtalk', src='./assets/images/logos/logo_pentahoV2.png', loading="lazy" )
      .col-3.mobile-col-6
        a(href='http://www.appsformypc.com/tag/dyslexia-font/', target='_blank', rel='noreferrer', title="Link to appsformypc")
          img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Tek  Crispy', src='./assets/images/logos/appsformypc.png', loading="lazy" )





  .container-lrg
    .flex.center-horizontal.wrap.center-vertical
      .col-12.mobile-col-12

            .mt40
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button.center_button(href='/in-the-news', onclick="captureOutboundLink('/in-the-news', false); return false;",)
                span  See more
