section.section_header.pricing_table
    #stars
    #stars2
    #stars3
    .container-lrg.flex
        .col-12
            .card.flex.mobile-flex-wrap.no_border
                .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_right
                    .mb20
                        p.bold Personal
                        b.heading $0.00
                        span.paragraph Monthly
                        ul.mt20

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Specialized fonts for dyslexics
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Screenshot
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Reader mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Google Translate 
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span  Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span  Invert mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span  Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span   Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span  Dictionary app
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span  Notes app
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span  Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span  Speech to text

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span  Success manager

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle                             
                                span.span  
                                    b Unlimited users


                    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/ahmapmilbkfamljbpgphfndeemhnajme', target='_blank',rel="noopener")
                        span  Download for Free
                 

                .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left.custom_table_most_popluar.most_popular
                    .mb20
                        p.bold Plus
                        b.heading#plusPricing $4.99            
                        span.paragraph#plusPricingText  Monthly
                        ul.mt20

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle                                            
                                span.span Specialized fonts for dyslexics
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Screenshot
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Reader mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Google Translate 
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Color blindness text stroke

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span  Invert mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Dictionary app
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Notes app
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Speech to text

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle
                                span.span  Success manager

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times-circle                             
                                span.span  
                                    b Unlimited users



                    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.yellow_button#checkout-button-plan_FmS3HONbzTCxGl.hide
                        span  Get started


                    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color.yellow_button#checkout-button-1
                        span  Get started



                .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left.custom_table_most_popluar
                    .mb20
                        p.bold Education
                        b.heading#enterprisePricing $99.99            
                        span.paragraph#enterprisePricingText  Monthly
                        ul.mt20
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle                                            
                                span.span Specialized fonts for dyslexics
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Screenshot
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Reader mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Google Translate 
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span  Invert mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Dictionary app
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Notes app
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Speech to text

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span   Success manager

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle                              
                                span.span  
                                    b Unlimited users 


                    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.blue_button#checkout-button-plan_G1OnSt8DIms1PY.hide
                        span  Get started


                    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color.blue_button#checkout-button-plan_G1O8Rztm6fFf4R

                        span  Get started

