section.section_header.pricing_table
    .container-lrg.flex
        .col-12
            .card.flex.mobile-flex-wrap
                .col-6.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_right
                    div.pricing_photo
                        include svgs/thinking.svg
                    .mb20
                        p.bold Basic
                        b.heading $ 0.00
                        span.paragraph Monthly
                        ul.mt20
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Dyslexia Fonts
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | No advertisements, tracking, selling or storing of user data
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span 
                                    strike Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span 
                                    strike Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span 
                                    strike Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span 
                                    strike Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span
                                    strike 
                                        | Blacklist - disable Helperbird from running on
                                        | individual sites
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span
                                    strike Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span 
                                    strike 
                                        | Dictionary
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span 
                                    strike
                                        | Notes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span 
                                    strike 
                                        | Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span 
                                    strike 
                                        | Speech to text
                    button.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg#checkout-button-1
                        span  Subscribe Now 

                .col-6.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left
                    div.pricing_photo
                        include svgs/going_to_school
                    .mb20
                        p.bold Plus
                        b.heading $

                        b.heading 
                            stike 4.99            
                        span.paragraph 
                        ul.mt20
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check                                            
                                span.span Dyslexia Fonts
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | No advertisements, tracking, selling or storing of user data
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Blacklist - disable Helperbird from running on
                                    | individual sites
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dictionary
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Notes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Speech to text
                    button.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg#checkout-button-plan_G1OnSt8DIms1PY
                        span  Subscribe Now 



script.
  var stripe = Stripe('pk_live_nEAFiiPwv8dNs2QI1aWIh06o00FWgK5zLu');
  var checkoutButton = document.getElementById('checkout-button-plan_G1OnSt8DIms1PY');
  checkoutButton.addEventListener('click', function () {
  // When the customer clicks on the button, redirect
  // them to Checkout.
  stripe.redirectToCheckout({
  items: [{plan: 'plan_FmS3HONbzTCxGl', quantity: 1}],
  // Do not rely on the redirect to the successUrl for fulfilling
  // purchases, customers may not always reach the success_url after
  // a successful payment.
  // Instead use one of the strategies described in
  // https://stripe.com/docs/payments/checkout/fulfillment
  successUrl: 'https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/ahmapmilbkfamljbpgphfndeemhnajme',
  cancelUrl: 'https://www.helperbird.com/support',
  })
  .then(function (result) {
  if (result.error) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer.
  var displayError = document.getElementById('error-message');
  displayError.textContent = result.error.message;
  }
  });
  });



script.
  var stripe = Stripe('pk_live_nEAFiiPwv8dNs2QI1aWIh06o00FWgK5zLu');
  var checkoutButton = document.getElementById('checkout-button-1');
  checkoutButton.addEventListener('click', function () {
  // When the customer clicks on the button, redirect
  // them to Checkout.
  stripe.redirectToCheckout({
  items: [{plan: '1', quantity: 1}],
  // Do not rely on the redirect to the successUrl for fulfilling
  // purchases, customers may not always reach the success_url after
  // a successful payment.
  // Instead use one of the strategies described in
  // https://stripe.com/docs/payments/checkout/fulfillment
  successUrl: 'https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/ahmapmilbkfamljbpgphfndeemhnajme',
  cancelUrl: 'https://www.helperbird.com/support',
  })
  .then(function (result) {
  if (result.error) {
  // If `redirectToCheckout` fails due to a browser or network
  // error, display the localized error message to your customer.
  var displayError = document.getElementById('error-message');
  displayError.textContent = result.error.message;
  }
  });
  });
