section.section_header.pricing_table



    .container-lrg.flex
        .col-12
            .card.flex.mobile-flex-wrap.no_border
                .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_right
                    .mb20
                        p.bold Personal
                        b.heading $0.00
                        span.paragraph Monthly
                        ul.mt20

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Dyslexia Fonts
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Screenshot
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Reader mode
                                    
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Google Translate 
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span   Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span  High Contrast mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span  Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span   Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span

                                    | Blacklist - disable Helperbird from running on
                                    | individual sites
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span  Dictionary
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span  Notes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span  Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span  Speech to text

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span  Success manager

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times                             
                                span.span  
                                    b Unlimited users


                    a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://addons.mozilla.org/en-CA/firefox/addon/helperbird/', target='_blank',rel="noopener")
                        span  Download for Free



                .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left.custom_table_most_popluar.most_popular
                    .mb20
                        p.bold Plus
                        b.heading#plusPricing $4.99            
                        span.paragraph#plusPricingText  Monthly
                        ul.mt20

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check                                            
                                span.span Dyslexia Fonts
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Screenshot
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Reader mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Google Translate 
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness text stroke

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span  High Contrast mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Blacklist - disable Helperbird from running on
                                    | individual sites
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dictionary
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Notes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Speech to text

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times
                                span.span  Success manager

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-times                             
                                span.span  
                                    b Unlimited users



                    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color#checkout-button-plan_FmS3HONbzTCxGl.hide
                        span  Subscribe Now 

                    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color#checkout-button-1
                        span  Subscribe Now 




                .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left.custom_table_most_popluar
                    .mb20
                        p.bold Organization
                        b.heading#enterprisePricing $99.99            
                        span.paragraph#enterprisePricingText  Monthly
                        ul.mt20
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check                                            
                                span.span Dyslexia Fonts
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Screenshot
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Reader mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Google Translate 
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span  High Contrast mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span
                                    | Blacklist - disable Helperbird from running on
                                    | individual sites
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Dictionary
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Notes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span Speech to text

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check
                                span.span   Success manager

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check                              
                                span.span  
                                    b Unlimited users 


                    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color#checkout-button-plan_G1OnSt8DIms1PY.hide
                        span  Subscribe Now 

                    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.button-signup.primary-color#checkout-button-plan_G1O8Rztm6fFf4R
                        span  Subscribe Now 

