section.section_header.pricing_table



    .container-lrg.flex
        .col-12
            .card.flex.mobile-flex-wrap.no_border

                .col-4



                .col-4.flex.flex-column.pad30.launchaco-builder-hoverable.icons-svg.pricing_table.table_left.custom_table_most_popluar
                    .mb20
                        p.bold Life Time 
                        b.heading#oneTimePricing $60.00           
                        span.paragraph#oneTimePricingText  Once
                        ul.mt20
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle                                            
                                span.span Dyslexia Fonts
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span
                                    | Change font sizes
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Screenshot
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Reader mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Google Translate 
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Color blindness underline
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Color blindness text stroke
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 
                                    | Change the font color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Change the background color
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span  High Contrast mode
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Dyslexia ruler
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Tint and overlays
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span 	
                                    | Premium support
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Dictionary app
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Notes taking
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Text to speech
                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span Speech to text

                            li.flex.mb20
                                p.pricing_icon
                                    i.fas.fa-check-circle
                                span.span   Success manager



                    a.button.website_Plus_button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color.blue_button#checkout-button-sku_GOJJLiQ8d9juJm
                        span  Get started

