section#faq-9.section.bg-light
    .container.text-center
        .col-12
            h3.heading.primary-color.launchaco-builder-hoverable.why_us
                | Common questions
    .container.mt40
        .col-12.questions
            .faq.pad20
                input#faq-dropdown-9-0.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-0')
                    span.bold.primary-color.mr20 What is Helperbird?
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | Helperbird is a browser extension that gives everybody the features and customization to make browsing and reading on the web easy. Including specialized fonts (OpenDyslexic), background colors, font colors, dyslexia ruler, text to speech, and more for Google Chrome!

            .faq.pad20
                input#faq-dropdown-9-711.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-711')
                    span.bold.primary-color.mr20 Do you offer discounts?
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | Yes. When you pay for a year up front, you’ll get two months free. We also offer discounts for non-profits.
            

            .faq.pad20
                input#faq-dropdown-9-7112.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-7112')
                    span.bold.primary-color.mr20 Will we be automatically charged when our trial is up?
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | Yes. We ask for your credit card up front when you try Helperbird Plus. You can cancel any time you want. Cancel with a click, no questions asked.
            
            .faq.pad20
                input#faq-dropdown-9-711233.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-711233')
                    span.bold.primary-color.mr20 Do I need a student email to the student pricing
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | Yes, we are doing the honor system here. We will follow up to ask for confirmation you are a student.
            



            .faq.pad20
                input#faq-dropdown-9-71121.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-71121')
                    span.bold.primary-color.mr20 What if we need a longer trial?
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | We’re happy to give you some more time. Just let us know and we'll extend your trial.
            
            .faq.pad20
                input#faq-dropdown-9-71122.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-71122')
                    span.bold.primary-color.mr20 Can we cancel at any time?
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | There's no minimum contract for Helperbird — cancel at any time without penalty or hassle. If you prepaid for a year, we’ll refund any unused months.
                    | To cancel, open up the app and go to the subscription option and click cancel and that it.
            .faq.pad20
                input#faq-dropdown-9-1.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-1')
                    span.bold.primary-color.mr20 Why are we charging for this?
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | The reason for the $4.99 per month is to support the cost of development of new and upcoming
                    | features. We also do a yearly subscription for $50.00.
            .faq.pad20
                input#faq-dropdown-9-2.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2')
                    span.bold.primary-color.mr20 What browsers does Helperbird run on?
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | Currently Google Chrome, Mozila Firefox and Edge for Windows 10. Coming soon on macOS Safari extension.
            .faq.pad20
                input#faq-dropdown-9-3.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-3')
                    span.bold.primary-color.mr20 I have a suggestion!
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | Excellent I would love to hear about it! Email support@helperbird.com with your suggestion.

            .faq.pad20
                input#faq-dropdown-9-7.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-7')
                    span.bold.primary-color.mr20 Does Helperbird and OpenDyslexic work on Google Docs?
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | Yes!, Google Docs currently doesn't support some fonts like OpenDyslexic. So we built CSS and support
                    | for these fonts.
            
            .faq.pad20
                input#faq-dropdown-9-711111.faq-input(type='checkbox', name='faq')
                label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-7711111')
                    span.bold.primary-color.mr20 What if I have more questions?
                    svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
                        path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
                p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
                    | We'd be happy to answer #[a( href='mailto://support@helperbird.com' ) them] 
                    
