.container.mt40
  .col-12.questions


    .faq.pad20
      input#faq-dropdown-9-12.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread(for='faq-dropdown-9-12')
        span.bold.primary-color.mr20 iOs App
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        | Coming next year, a iOs version of Helperbird.

    .faq.pad20
      input#faq-dropdown-9-12.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread(for='faq-dropdown-9-12')
        span.bold.primary-color.mr20 Desktop App
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        | Coming next year, Desktop app

    .faq.pad20
      input#faq-dropdown-9-12.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread(for='faq-dropdown-9-12')
        span.bold.primary-color.mr20 Google Drive integration
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        | Coming next year, Google Drive integration

    .faq.pad20
      input#faq-dropdown-9-12.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread(for='faq-dropdown-9-12')
        span.bold.primary-color.mr20 Dropbox integration
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
            path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        | Coming next year, Dropbox integration