.container.mt40
  .col-12.questions
    .faq.pad20
      input#faq-dropdown-9-2.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2')
        span.bold.primary-color.mr20 Text to speech

    .faq.pad20
      input#faq-dropdown-9-2.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2')
        span.bold.primary-color.mr20 Notes taking
  
    .faq.pad20
      input#faq-dropdown-9-2.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2')
        span.bold.primary-color.mr20  More fonts