script(type='application/ld+json').
    {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "Helperbird",
    "operatingSystem": "Windows",
    "applicationCategory": "https://schema.org/UtilitiesApplication",
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "ratingCount": "42"
    },
    "offers": {
        "@type": "Offer",
        "price": "4.99",
        "priceCurrency": "USD"
    }
    }
script(type='application/ld+json').
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "url": "https://www.helperbird.com",
        "sameAs": [
            "http://www.facebook.com/helperbird",
            "https://www.linkedin.com/company/19112429",
            "https://twitter.com/helperbird_"
        ]
    }
script(type='application/ld+json').



    {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "Helperbird",
    "image": [
        "https://www.helperbird.com/assets/images/pwa/144.png",
        "https://www.helperbird.com/assets/images/pwa/512.png",
        "https://www.helperbird.com/assets/images/pwa/full.png"
    ],
    "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
    "sku": "0446310786",
    "mpn": "925872",
    "brand": {
        "@type": "Thing",
        "name": "Helperbird"
    },
        "review": {
            "@context": "http://schema.org/",
            "@type": "Review",
            "name": "Colm Murphy",
            "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": "5",
                "bestRating": "5",
                "worstRating": "1"
            },
            "datePublished": "2019-05-02",
            "author": {
                "@type": "Person",
                "name": "Colm Murphy"
            }
        },
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.9",
        "reviewCount": "43"
    },
    "offers": {
        "@type": "Offer",
        "url": "https://www.helperbird.com",
        "priceCurrency": "USD",
        "price": "4.99",
        "priceValidUntil": "2020-11-05",
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/InStock",
        "seller": {
        "@type": "Organization",
        "name": "Helperbird"
        }
    }
    }
  