section.section.bg-light#supportVideos.red-white
  .container.text-center
    .col-12
      h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.why_us See it in action
      p.subheading.secondary-color.mt40.launchaco-builder-hoverable Learn how to use the app and all its amazing features.
    div.scroller_video

      .scroller_video_item
        .youtube_lazy_load(data-embed='uhlHi2gM0Ck')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to use the Google Translate feature for Google Chrome - Helperbird.com
   

      .scroller_video_item
        .youtube_lazy_load(data-embed='oiXLTYlu0nc')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Dictionary lookup for Google Chrome, Firefox & Edge - Helperbird.com
   

      .scroller_video_item
        .youtube_lazy_load(data-embed='ZyIkXtfPCkQ')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape  Screenshot feature for Google Chrome, Firefox & Edge - Helperbird.com
   


      .scroller_video_item
        .youtube_lazy_load(data-embed='aYKkrCzx2W8')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Reader mode with Helperbird for Google Chrome, Firefox & Edge
   

      .scroller_video_item
        .youtube_lazy_load(data-embed='ANXdI-G0OYE')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Zoom text and images with Helperbird for Google Chrome, Firefox & Edge
   
      .scroller_video_item
        .youtube_lazy_load(data-embed='gpUE2RbOpuk')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Color blindness text outline/stroke with Helperbird for Google Chrome, Firefox & Edge

      .scroller_video_item
        .youtube_lazy_load(data-embed='MKpVE8SaSiQ')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Dyslexia ruler with Helperbird for Google Chrome, Firefox & Edge


      .scroller_video_item
        .youtube_lazy_load(data-embed='-O3yd1zXtRc')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Overlay/tint with Helperbird | Helperbird for Google Chrome, Firefox & Edge



      .scroller_video_item
        .youtube_lazy_load(data-embed='1818bqUyXNE')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change the font color on any website with Helperbird | Helperbird for Google Chrome, Firefox & Edge


      .scroller_video_item
        .youtube_lazy_load(data-embed='WdBQvk1W80Q')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Save links, notes and more around the web with Helperbird | Helperbird for Google Chrome, Firefox & Edge

      .scroller_video_item
        .youtube_lazy_load(data-embed='2m-hRIOX7cU')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Use cognitive load feature of Helperbird to help with reading | Helperbird for Google Chrome, Firefox & Edge


      .scroller_video_item
        .youtube_lazy_load(data-embed='-HJWQWaHjpY')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Hide flashing images or gifs on any webpage with Helperbird | Helperbird for Google Chrome, Firefox & Edge


      .scroller_video_item
        .youtube_lazy_load(data-embed='yV6kcL3O8C8')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change any webpages font to Opendyslexic with Helperbird | Helperbird for Google Chrome, Firefox & Edge




      .scroller_video_item
        .youtube_lazy_load(data-embed='UveJkN-npI0')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Disable Helperbird features with Blacklist | Helperbird.com




      .scroller_video_item
        .youtube_lazy_load(data-embed='1HvWYhpevuY')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Underline links for people with color blindness on any website | Helperbird.com



      .scroller_video_item
        .youtube_lazy_load(data-embed='zEM-hXZ2278')
          // (2) the "play" button
          .play-button
        p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change the Background Color of any website



