.container.mt40

  .col-12.questions

    .faq.pad20
      input#faq-dropdown-9-2444192113323.faq-input(type='checkbox', name='faq' checked="")
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192113323')
        span.bold.primary-color.mr20 Version 19.2.5 - Released 21/11/2019
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Remove the update page
          li Beta focus mode/ Readermode


    .faq.pad20
      input#faq-dropdown-9-244419211332.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419211332')
        span.bold.primary-color.mr20 Version 19.2.0 - Released 9/11/2019
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li You can screenshot any webpage. Simply right click and click screenshot or in app.
          li Google Translate any website or any selected text to over 50 languages
          li Change the color of stroke feature
          li Change the color of any link.
          li Improved notes app design
          li Improved speech to text app design

    .faq.pad20
      input#faq-dropdown-9-2444192113.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192113')
        span.bold.primary-color.mr20 Version 19.0.3 - Released 12/10/2019
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Tint and overlay is now fixed.
          li Sorry for that little bug.

    .faq.pad20
      input#faq-dropdown-9-2444192112.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192112')
        span.bold.primary-color.mr20 Version 19.0.2 - Released 11/10/2019
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li New app menu on the right!
          li Improved Google docs support
          li Now confirm when you cancel your account.


    .faq.pad20
      input#faq-dropdown-9-2444192111.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192111')
        span.bold.primary-color.mr20 Version 19.0.1
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Brand new design!
          li Improvements to the notes app, cleaner design and features.
          li New demo video
          li Ruler and Overlay fixes
          li Short cut for the apps from the homescreen

    .faq.pad20
      input#faq-dropdown-9-244419211.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419211')
        span.bold.primary-color.mr20 Version 19.0.0
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li We have improved cognitive load  feature.
          li New Color picker, pick hues, RGB, and more.
          li New payment system, we moved to Stripe.
          li How to use each feature videos.
          li Yearly subscription now offered.
          li New Ruler colors.
          li More text to speech voices.
          li Choose between two new fonts.
          li Improved notes syncing performance.
    .faq.pad20
      input#faq-dropdown-9-24441921.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24441921')
        span.bold.primary-color.mr20 Version 18.0.21
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Improved the right click context.
          li You can now right click and view your notes.
          li Improved svg files.
          li Now see which email your logged in as .
          li Added a support link in the top right of the app.
          li Google docs pages improvements.
          li Cleaned up the interal app performance.
          li Version number on stop of app.
          li Google docs support
          li Cleaner sidebar
          li New right menu click options, text to speech, speech to text, explain and view notes.
          li View notes from right click menu.

    .faq.pad20
      input#faq-dropdown-9-2444192.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192')
        span.bold.primary-color.mr20 Version 18.0.20
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Helperbird is now Free until Sepetember 31st

    .faq.pad20
      input#faq-dropdown-9-244419.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419')
        span.bold.primary-color.mr20 Version 18.0.19
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Dyslexia ruler wasnt working on first load
          li Overlay wasnt working on first load

    .faq.pad20
      input#faq-dropdown-9-244418.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244418')
        span.bold.primary-color.mr20 Version 18.0.18
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Text to speech was stuck on a loop.

    .faq.pad20
      input#faq-dropdown-9-244417.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244417')
        span.bold.primary-color.mr20 Version 18.0.17
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Number of days left in a trial wasnt rounding up.
    
    .faq.pad20
      input#faq-dropdown-9-244415.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244415')
        span.bold.primary-color.mr20 Version 18.0.15
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Now 10 day free trial.


  .col-12.questions

    .faq.pad20
      input#faq-dropdown-9-24441921133.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24441921133')
        span.bold.primary-color.mr20 Version 19.1.0 - Released 28/10/2019
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li You can screenshot any webpage. Simply right click and click screenshot.
          li Bug fixes for right click menu.
          li Alert box wasnt going away.
          li You can now stop the text to speech.
          li See which options are enabled by if the icon is blue.
          li Review us button.
          li Show which email your logged into Chrome as.

    .faq.pad20
      input#faq-dropdown-9-2444192113.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192113')
        span.bold.primary-color.mr20 Version 19.0.3 - Released 12/10/2019
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Tint and overlay is now fixed.
          li Sorry for that little bug.

    .faq.pad20
      input#faq-dropdown-9-2444192112.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192112')
        span.bold.primary-color.mr20 Version 19.0.2 - Released 11/10/2019
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li New app menu on the right!
          li Improved Google docs support
          li Now confirm when you cancel your account.


    .faq.pad20
      input#faq-dropdown-9-2444192111.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192111')
        span.bold.primary-color.mr20 Version 19.0.1
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Brand new design!
          li Improvements to the notes app, cleaner design and features.
          li New demo video
          li Ruler and Overlay fixes
          li Short cut for the apps from the homescreen

    .faq.pad20
      input#faq-dropdown-9-244419211.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419211')
        span.bold.primary-color.mr20 Version 19.0.0
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li We have improved cognitive load  feature.
          li New Color picker, pick hues, RGB, and more.
          li New payment system, we moved to Stripe.
          li How to use each feature videos.
          li Yearly subscription now offered.
          li New Ruler colors.
          li More text to speech voices.
          li Choose between two new fonts.
          li Improved notes syncing performance.
    .faq.pad20
      input#faq-dropdown-9-24441921.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24441921')
        span.bold.primary-color.mr20 Version 18.0.21
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Improved the right click context.
          li You can now right click and view your notes.
          li Improved svg files.
          li Now see which email your logged in as .
          li Added a support link in the top right of the app.
          li Google docs pages improvements.
          li Cleaned up the interal app performance.
          li Version number on stop of app.
          li Google docs support
          li Cleaner sidebar
          li New right menu click options, text to speech, speech to text, explain and view notes.
          li View notes from right click menu.

    .faq.pad20
      input#faq-dropdown-9-2444192.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2444192')
        span.bold.primary-color.mr20 Version 18.0.20
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Helperbird is now Free until Sepetember 31st

    .faq.pad20
      input#faq-dropdown-9-244419.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244419')
        span.bold.primary-color.mr20 Version 18.0.19
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Dyslexia ruler wasnt working on first load
          li Overlay wasnt working on first load

    .faq.pad20
      input#faq-dropdown-9-244418.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244418')
        span.bold.primary-color.mr20 Version 18.0.18
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Text to speech was stuck on a loop.

    .faq.pad20
      input#faq-dropdown-9-244417.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244417')
        span.bold.primary-color.mr20 Version 18.0.17
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Number of days left in a trial wasnt rounding up.
    
    .faq.pad20
      input#faq-dropdown-9-244415.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244415')
        span.bold.primary-color.mr20 Version 18.0.15
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Now 10 day free trial.

  .col-12.questions
    .faq.pad20
      input#faq-dropdown-9-244414.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244414')
        span.bold.primary-color.mr20 Version 18.0.14
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li The correct message was not showing even though you paid.
  .col-12.questions
    .faq.pad20
      input#faq-dropdown-9-244413.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244413')
        span.bold.primary-color.mr20 Version 18.0.13
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Free trial was broken

  .col-12.questions
    .faq.pad20
      input#faq-dropdown-9-24444.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24444')
        span.bold.primary-color.mr20 Version 18.0.10
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li New and improved Zoom feature.
          li Remove images and Gifs now!
          li Improved syncing of subscription.
  .col-12.questions
    .faq.pad20
      input#faq-dropdown-9-244.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-244')
        span.bold.primary-color.mr20 Version 18.0.0
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Two new fonts.
          li Bug fix: Lience now syncing.
          li New design and app layout with branding.
          li You can now create, delete, copy, edit any note in the notes app.
          li Speech to text, speak and see it type the textt
          li Cognitive load feature.
          li Color blind, add underline and stroke around text.
          li More colors to pick from for font colors and background.
          li Zoom in the font of the page.
          li Bug fixes and app improvments.
  .col-12.questions
    .faq.pad20
      input#faq-dropdown-9-24.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-24')
        span.bold.primary-color.mr20 Version 16.2.1
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li New Google Docs font integration.
          li Improved app design.
          li Better subscription options.
          li Bug fixes within the app.
          li Added Directory app feature.
          li Demo videos added to the support page.
          li Features now contain demo videos.
          li Improved website UX design.

    .faq.pad20
      input#faq-dropdown-9-1.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-1')
        span.bold.primary-color.mr20 Version 16.0.0
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li Three new fonts.
          li Over 200 new voices to pick from for the text to speech.
          li Performance increased by 10%.
          li Explain/ Dictionary feature.
          li Text to speech: Choose words per minute.
          li Pick custom colors for fonts.
          li Pick custom colors for overlays.
          li Pick custom colors for backgrounds
          li Better text to speech options.
          li New pricing options.

    .faq.pad20
      input#faq-dropdown-9-0.faq-input(type='checkbox', name='faq')
      label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-0')
        span.bold.primary-color.mr20 Version 15.0.0
        svg.noshrink.svg-fill(width='15px', height='9px', viewBox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg')
          path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z')
      p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
        ul.list.secondary-color.faq-content.mt20.launchaco-builder-hoverable
          li New Colors.
          li Cleaner Design.
          li Tint/Overlay options.
          li Performance increased by 45%.
          li More fonts.
          li Bug where users subscription was not active.
          li Fix broken html on any website.
          li New pricing options.
          li Better text to speech options.
