doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title About Helperbird and our story | Helperbird 
    link(href='https://www.helperbird.com/about', rel='canonical')
    meta(content='About Helperbird, about, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    meta(content='Get the latest news, updates, and happenings at Helperbird. Learn about Helperbird`s core values and company philosophy.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content='Get the latest news, updates, and happenings at Helperbird. Learn about Helperbird`s core values and company philosophy.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='About Helperbird and our story | Helperbird', name='twitter:title')
    meta(content='Get the latest news, updates, and happenings at Helperbird. Learn about Helperbird`s core values and company philosophy.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='About Helperbird and our story - Helperbird ', name='og:title')
    meta(content='Get the latest news, updates, and happenings at Helperbird. Learn about Helperbird`s core values and company philosophy.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/about', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
      	      "@context": "https://schema.org",
      	      "@type": "Organization",
      	      "name": "Helperbird",
      	      "url": "https://www.helperbird.com",
      	      "sameAs": [
      	          "http://www.facebook.com/helperbird",
      	          "https://www.linkedin.com/company/19112429",
      	          "https://twitter.com/helperbird_"
      	      ]
      	   }
      
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org/",
      	   "@type": "Product",
      	   "name": "Helperbird",
      	   "image": [
      	      "https://www.helperbird.com/assets/images/pwa/144.png",
      	      "https://www.helperbird.com/assets/images/pwa/512.png",
      	      "https://www.helperbird.com/assets/images/pwa/full.png"
      	   ],
      	   "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	   "sku": "0446310786",
      	   "mpn": "925872",
      	   "brand": {
      	      "@type": "Thing",
      	      "name": "Helperbird"
      	   },
      	      "review": {
      	          "@context": "http://schema.org/",
      	          "@type": "Review",
      	          "name": "Colm Murphy",
      	          "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	          "reviewRating": {
      	              "@type": "Rating",
      	              "ratingValue": "5",
      	              "bestRating": "5",
      	              "worstRating": "1"
      	          },
      	          "datePublished": "2019-05-02",
      	          "author": {
      	              "@type": "Person",
      	              "name": "Colm Murphy"
      	          }
      	      },
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "reviewCount": "57"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "url": "https://www.helperbird.com",
      	      "priceCurrency": "USD",
      	      "price": "4.99",
      	      "priceValidUntil": "2020-11-05",
      	      "itemCondition": "https://schema.org/NewCondition",
      	      "availability": "https://schema.org/InStock",
      	      "seller": {
      	      "@type": "Organization",
      	      "name": "Helperbird"
      	      }
      	   }
      	   }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      include includes/layout/dropdown.pug
      section.section_header
        .container.flex
          .flex.flex-column.col-6
            h1.heading.primary-color.launchaco-builder-hoverable 
              | Hey, 
              | I'm Robert James 👋
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text I'm the founder of Helperbird
          .flex.flex-column.col-6
            img.me-photo(src='https://pbs.twimg.com/profile_images/1253410105690779649/TgNAYuk-_400x400.jpg', width="200", alt='Helperbird support feature')
    section.section.lightblue-white
      .container
        .col-12
          h2.paragraph.secondary-color.mt75.launchaco-builder-hoverable.index_sub_text 
            b About Helperbird
          p.paragraph.secondary-color.mt20 A known fact about me, I have dyslexia. I struggled a lot during my time in pre to high school. I would struggle to do my homework, I even had a teacher tell my parents I should drop out of school.
          p.paragraph.secondary-color.mt20 I built Helperbird to help me study and work while on the web because I wanted to give the tools to everyone who might need it. So they don't struggle

          
          p.paragraph.secondary-color.mt20 Helperbird allows me to change the web to my needs. From changing the font, natural-sounding speech, convert images to text, dyslexia rulers, and much more. It lets me read quicker and be more productive.‍
          p.paragraph.secondary-color.mt20 My goal for Helperbird is to ensure that reading is never a barrier to learning. If you want to learn, dyslexia, concussion symptoms, ADD, low vision, or anything in between should not stop you from being able to intake information quickly and effectively. Growing up with less than a perfect education system should not stop you from being able to learn. Just like what I went through.
          p.paragraph.secondary-color.mt20 Today most of our users are productivity lovers, even those without learning differences, who want to be able to read faster and be more productive.


          p.paragraph.secondary-color.mt20 We built Helperbird to use for everyone and for everyone.


          p.paragraph.secondary-color.mt20 For the professional, for the college student, for the dyslexic student sitting in the back of the class, just trying to keep up.
          p.paragraph.secondary-color.mt20 In the passing five years, many features have been added, improved, changed as we have grown from 0 to almost 200,000 users in over 150 countries. Helping everyone in their own way to grow and learn.


    section.section.press-logos#featuredin-1
      .container.text-center
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb75.press_logos_title Trusted by people at the world’s most innovative organisations & schools
      .container-lrg
        .flex.center-horizontal.wrap.center-vertical
          .col-2.mobile-col-6
            a(href='https://www.producthunt.com/posts/helperbird-3-0', rel='noreferrer', target='_blank', title='Link to Producthunt')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Product hunt', src='/assets/images/logo/producthunt.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.nexus-education.com/made-dyslexia-i-encourage-train/', rel='noreferrer', target='_blank', title='Link to Nexus')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of nexus', src='/assets/images/logo/nexus.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.softpedia.com/get/Office-tools/Text-editors/Helperbird.shtml', rel='noreferrer', target='_blank', title='Link to Softpedia')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Softpedia', src='/assets/images/logo/softpedia.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://optocrypto.com/dyslexics-helperbird-chrome-extension/', rel='noreferrer', target='_blank', title='Link to Optologo')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Softpedia', src='/assets/images/logo/optologo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.smashingmagazine.com/2019/11/black-friday-2019/', rel='noreferrer', target='_blank', title='Link to Producthunt')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of smashing-magazine-logo', src='/assets/images/logo/smashing-magazine-logo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.indiehackers.com/product/helperbird/made-it-onto-the-indiehackers-podcast--LuJYrgVZ12TsNIDCFOU', rel='noreferrer', target='_blank', title='Link to Nexus')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of indiehackers', src='/assets/images/logo/indiehackers_logo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='http://techtalk.stratford.edu/2019/11/23/show-of-11-23-2019/', rel='noreferrer', target='_blank', title='Link to stratford techtalk')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of stratford techtalk', src='/assets/images/logo/logo_pentahoV2.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://educationblog.microsoft.com/en-us/2020/01/live-from-bett-whats-new-in-edu-fostering-an-accessible-inclusive-classroom-that-works-for-all-students/', rel='noreferrer', target='_blank', title='Link to Microsoft')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Microsoft', src='/assets/images/logo/microsoft.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.ucc.ie', rel='noreferrer', target='_blank', title='Link to Ucc college work.')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of UCC', src='/assets/images/logo/ucc.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.utoronto.ca/', rel='noreferrer', target='_blank', title='Link to Toronto college work.')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Toronto', src='/assets/images/logo/toronto.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.usfca.edu/', rel='noreferrer', target='_blank', title='Link to San Francisco college')
              img.press-logo.launchaco-builder-hoverable.grayscale(alt='Logo of Toronto', src='/assets/images/logo/san.png', loading='lazy')
    include includes/layout/footer.pug