doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title About Helperbird and our story | Helperbird 
    link(href='https://www.helperbird.com/about', rel='canonical')
    meta(content='About Helperbird, about, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    meta(content="Read about the history and story of Helperbird and what we're all about.", name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content="Read about the history and story of Helperbird and what we're all about.", itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='About Helperbird and our story | Helperbird', name='twitter:title')
    meta(content="Read about the history and story of Helperbird and what we're all about.", name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='About Helperbird and our story - Helperbird ', name='og:title')
    meta(content="Read about the history and story of Helperbird and what we're all about.", name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/about', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "url": "https://www.helperbird.com",
        "telephone": "5012936819",
        "sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "15 Markay Street",
          "addressLocality": "Toronto",
          "postalCode": "M3L2C6",
          "addressCountry": "Canada"
        }
      }
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016","gtin12": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.bg-content-100

    include includes/layout/navigation.pug
    .relative.py-16.bg-gray-50.overflow-hidden
      .hidden(class='lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full')
        .relative.h-full.text-lg.max-w-prose.mx-auto(aria-hidden='true')
          svg.absolute.top-12.left-full.transform.translate-x-32(width='404' height='384' fill='none' viewbox='0 0 404 384')
            defs
              pattern#74b3fd99-0a6f-4271-bef2-e80eeafdf357(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='384' fill='url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)')
          svg.absolute.right-full.transform.-translate-x-32(class='top-1/2 -translate-y-1/2' width='404' height='384' fill='none' viewbox='0 0 404 384')
            defs
              pattern#f210dbf6-a58d-4871-961e-36d5016a0f49(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='384' fill='url(#f210dbf6-a58d-4871-961e-36d5016a0f49)')
          svg.absolute.bottom-12.left-full.transform.translate-x-32(width='404' height='384' fill='none' viewbox='0 0 404 384')
            defs
              pattern#d3eb07ae-5182-43e6-857d-35c643af9034(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
            rect(width='404' height='384' fill='url(#d3eb07ae-5182-43e6-857d-35c643af9034)')
      .relative.px-4(class='sm:px-6 lg:px-8')
        .text-lg.max-w-prose.mx-auto


        .mt-6.prose.prose-indigo.prose-lg.text-gray-500.mx-auto

          h1
            span.mt-2.block.text-3xl.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl') Hey 👋,


          p.text-xl
            | My name is Robert James, the founder of Helperbird. 

          p.text-xl
            | Let me tell you about Helperbird and how it was founded in 2015. 
          figure
            img.w-full.rounded-lg(loading="lazy" src='/assets/images/people/rob-about-three.jpg' alt='Photo of Helperbirds founder Robert James dancing.' width='1310' height='873')
            figcaption Robert James Gabriel dancing with his Wife.


          p.text-xl
            | The idea of Helperbird was planted without me knowing it. 
            | I grew up in Ireland. A fact about me is that I have dyslexia. I always struggled in school, from when I started kindergarten until my high school graduation. 
            | During this time, I would have issues doing in-class work, homework and in-class tests. When I was 15 years of age,  my English teacher told my parents 'Robert should drop out of school'. 
      
          p.text-xl
            | My mother and father turned into bears, trying to protect their young. 
            | They pushed for me to get tested, they discovered to shock of no one. I had dyslexia.  
            | I was able to get the help I needed and shortly after won my school 8,000 euro in award money.
          .bg-gray-50.pt-12(class='sm:pt-16')
            .max-w-7xl.mx-auto.px-4(class='sm:px-6 lg:px-8')
              .max-w-4xl.mx-auto.text-center
                h2.text-3xl.font-extrabold.text-gray-900(class='sm:text-4xl')
                  | Helperbird's growth
                p.mt-3.text-xl.text-gray-500(class='sm:mt-4')
                  | We are proud of how Helperbird has grown and how many people it is helping.
            .mt-10.pb-12.bg-white(class='sm:pb-16')
              .relative
                .absolute.inset-0.bg-gray-50(class='h-1/2')
                .relative.max-w-7xl.mx-auto.px-4(class='sm:px-6 lg:px-8')
                  .max-w-4xl.mx-auto
                    dl.rounded-lg.bg-white.shadow-lg(class='sm:grid sm:grid-cols-3')
                      .flex.flex-col.border-b.border-gray-100.p-6.text-center(class='sm:border-0 sm:border-r')
                        dt.order-2.mt-2.text-lg.leading-6.font-medium.text-gray-500
                          | Users
                        dd.order-1.text-5xl.font-extrabold.text-indigo-600
                          | 450,000
                      .flex.flex-col.border-t.border-b.border-gray-100.p-6.text-center(class='sm:border-0 sm:border-l sm:border-r')
                        dt.order-2.mt-2.text-lg.leading-6.font-medium.text-gray-500
                          | Schools
                        dd.order-1.text-5xl.font-extrabold.text-indigo-600
                          | 10,000+
                      .flex.flex-col.border-t.border-gray-100.p-6.text-center(class='sm:border-0 sm:border-l')
                        dt.order-2.mt-2.text-lg.leading-6.font-medium.text-gray-500
                          | 171
                        dd.order-1.text-5xl.font-extrabold.text-indigo-600
                          | Countries

          p.text-xl
            | During the first month of my internship at a software company called Teamwork.com. 
            | I built the very first version of Helperbird. It was built for me to discover a new programming language and how to make a Chrome extension but also to help me study and make browsing the web easier for my needs. 
            | I published it on January 15th, 2015.

          figure
            img.w-full.rounded-lg(loading="lazy" src='/assets/images/people/rob-about.png' alt='Photo of Robert James being interviewed on the indiehackers website.' width='1310' height='873')
            figcaption Our founder, Robert James Gabriel, is talking on the indie hackers podcast.

          p.text-xl
            | Since 2015 and the very first version of Helperbird. It has changed a lot and grown, helping users all over the world with and without learning difficulties.
            |  From that moment when I was 15, it became my goal in life to develop Helperbird so it can help as many people as possible.



          p.text-xl
            | The mission of Helperbird started with me. 
            | It allows me to change the web to my needs. Changing the font, natural-sounding speech, convert images to text, dyslexia rulers, and much more. 
            | It lets me read quicker and be more productive.‍


          p.text-xl
            | The mission continues for Helperbird to ensure that reading is never a barrier to learning.  If you want to learn, dyslexia, concussion symptoms, ADD, low vision, or anything in between should not stop you from intake information quickly and effectively. Growing up with less than a perfect education system should not stop you from being able to learn. That's why we have a free version and low-cost version that supports us in working on Helperbird. 


          p.text-xl
            | Today most of our users are productivity lovers, even those without learning differences, who want to reach their full potential. This makes me happy every day, from our free users and our paid users who help us by supporting us.

          p.text-xl
            | Also as a thank you, here is 10% off of Helperbird Pro. "AboutPageHelperbird"

          p.text-xl
            | Thank you,
          p.text-xl
            | Robert James Gabriel
          p.text-xl
            | Helperbird Founder 

    include includes/layout/footer.pug