doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Dyslexia, text to speech & annotation extension | Helperbird for Microsoft Edge
    link(href='https://www.helperbird.com/edge', rel='canonical')
    meta(content='Helperbird for Microsoft Edge,Helperbird,Edge,dyslexia fonts for Microsoft Edge,dyslexia,text to speech,reading,Edge download,colored contacts,google speaker,install Edge,Edge browser,Edge app,dyslexia test,opendyslexic for Microsoft Edge,dyslexia app Edge,Edge extensions,speech to text,color blind for Microsoft Edge,speech to text for Microsoft Edge,text to speech for Microsoft Edge,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install Edge,voice to text,dyslexia symptoms,color wow,Edge browser download,Edge latest version,text to speech google,get Edge,dyslexia font,text to talk,signs of dyslexia,learn to read,Edge browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,Edge settings,text to speech robot,voice recognition,Edge free download,voice to text app,google speech,Edge free download,talk and text app,Edge latest version,talk text app,google installer,google speech to text,read text aloud,Edge app download,Edge download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app', name='keywords')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Dyslexia, text to speech & annotation extension |  Helperbird', name='twitter:title')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Dyslexia, text to speech & annotation extension |  Helperbird', name='og:title')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/Edge', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "url": "https://www.helperbird.com",
        "telephone": "5012936819",
        "sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "15 Markay Street",
          "addressLocality": "Toronto",
          "postalCode": "M3L2C6",
          "addressCountry": "Canada"
        }
      }
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016","gtin12": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body(:data-theme="light").bg-white
    include includes/layout/navigation.pug
    main


      .relative
        .mt-16.mx-auto.max-w-7xl.px-4(class='sm:mt-24 sm:px-6')
          .text-center
            h1.text-4xl.tracking-tight.font-extrabold.text-gray-900(class='sm:text-5xl md:text-6xl')
              span.block
                | All your productivity, research and accessibility needs, rolled up into one.
            p.mt-3.max-w-md.mx-auto.text-base.text-gray-500(class='sm:text-lg md:mt-5 md:text-xl md:max-w-3xl')
              | Helperbird can be used on Chrome, Firefox and Edge 
            .mt-5(class='sm:mt-8 sm:flex justify-center lg:justify-center')
              .rounded-md.shadow
                a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-blue-600(href='https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd', rel='noreferrer', target="_blank" class='hover:bg-blue-700 md:py-4 md:text-lg md:px-10')
                  | Try for Free
              .mt-3(class='sm:mt-0 sm:ml-3')
                a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-blue-700.bg-blue-100(href='/demo' class='hover:bg-blue-200 md:py-4 md:text-lg md:px-10')
                  | Live demo
      .relative.mt-8
        .absolute.inset-0.flex.flex-col(aria-hidden='true')
          .flex-1
          .flex-1.w-full.bg-gray-800
        .max-w-7xl.mx-auto.px-4.pb-16(class='sm:px-6')
          img.relative.rounded-lg(loading="lazy" src='/assets/images/apps/edge.png' alt='App screenshot')

      // Logo Cloud
      include includes/sections/press.pug

      include includes/features/list.pug


      include includes/sections/features/dyslexia.pug
      include includes/sections/features/highlight.pug
      include includes/sections/features/dyslexia_2.pug
      include includes/sections/features/dyslexia_3.pug
      include includes/sections/features/dyslexia_4.pug


      include includes/sections/metric.pug


 

      include includes/sections/questions.pug
    include includes/layout/footer.pug