doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Literacy Software for Microsoft Edge | Helperbird
    link(href='https://www.helperbird.com/edge', rel='canonical')
    meta(content='Helperbird for Microsoft Edge,Helperbird,Edge,dyslexia fonts for Microsoft Edge,dyslexia,text to speech,reading,Edge download,colored contacts,google speaker,install Edge,Edge browser,Edge app,dyslexia test,opendyslexic for Microsoft Edge,dyslexia app Edge,Edge extensions,speech to text,color blind for Microsoft Edge,speech to text for Microsoft Edge,text to speech for Microsoft Edge,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install Edge,voice to text,dyslexia symptoms,color wow,Edge browser download,Edge latest version,text to speech google,get Edge,dyslexia font,text to talk,signs of dyslexia,learn to read,Edge browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,Edge settings,text to speech robot,voice recognition,Edge free download,voice to text app,google speech,Edge free download,talk and text app,Edge latest version,talk text app,google installer,google speech to text,read text aloud,Edge app download,Edge download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app', name='keywords')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Literacy, Accessibility & Dyslexia Software |  Helperbird', name='twitter:title')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Literacy, Accessibility & Dyslexia Software |  Helperbird', name='og:title')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Microsoft Edge!', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/Edge', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "url": "https://www.helperbird.com",
        "telephone": "5012936819",
        "sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "15 Markay Street",
          "addressLocality": "Toronto",
          "postalCode": "M3L2C6",
          "addressCountry": "Canada"
        }
      }
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016","gtin12": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.bg-content-100
    include includes/layout/navigation.pug
    main


      .relative
        .absolute.inset-x-0.bottom-0.bg-gray-100(class='h-1/2')
        .max-w-7xl.mx-auto(class='sm:px-6 lg:px-8')
          .relative.shadow-xl(class='sm:rounded-2xl sm:overflow-hidden')
            .absolute.inset-0
              img.h-full.w-full.object-cover(src='https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100' alt='People working on laptops')
              .absolute.inset-0.bg-gradient-to-r.from-purple-800.to-indigo-700(style='mix-blend-mode: multiply;')
            .relative.px-4.py-16(class='sm:px-6 sm:py-24 lg:py-32 lg:px-8')
              h1.text-center.text-4xl.font-extrabold.tracking-tight(class='sm:text-5xl lg:text-6xl')
                span.block.text-white Take control of your
                span.block.text-indigo-200 customer support
              p.mt-6.max-w-lg.mx-auto.text-center.text-xl.text-indigo-200(class='sm:max-w-3xl')
                | Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
              .mt-10.max-w-sm.mx-auto(class='sm:max-w-none sm:flex sm:justify-center')
                .space-y-4(class='sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5')
                  a.flex.items-center.justify-center.px-4.py-3.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-indigo-700.bg-white(href='#' class='hover:bg-indigo-50 sm:px-8')
                    | Get started
                  a.flex.items-center.justify-center.px-4.py-3.border.border-transparent.text-base.font-medium.rounded-md.shadow-sm.text-white.bg-indigo-500.bg-opacity-60(href='#' class='hover:bg-opacity-70 sm:px-8')
                    | Live demo

      // Logo Cloud
      include includes/sections/press.pug

      include includes/features/list.pug


      include includes/features/boxes_no_text_small.pug


      // Stats section
      .relative.bg-gray-900
        .h-80.absolute.bottom-0(class='xl:inset-0 xl:h-auto xl:grid xl:grid-cols-2')
          .h-full(class='xl:relative xl:col-start-2')
            img.h-full.w-full.object-cover.opacity-25(class='xl:absolute xl:inset-0' src='https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100' alt='People working on laptops')
            .absolute.inset-x-0.top-0.h-32.bg-gradient-to-b.from-gray-900(aria-hidden='true' class='xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r')
        .max-w-4xl.mx-auto.px-4(class='sm:px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-cols-2 xl:grid-flow-col-dense xl:gap-x-8')
          .relative.pt-12.pb-64(class='sm:pt-24 sm:pb-64 xl:col-start-1 xl:pb-24')
            h2.text-sm.font-semibold.tracking-wide.uppercase
              span.bg-gradient-to-r.from-purple-300.to-indigo-300.bg-clip-text.text-transparent Valuable Metrics
            p.mt-3.text-3xl.font-extrabold.text-white Get actionable data that will help grow your business
            p.mt-5.text-lg.text-gray-300
              | Rhoncus sagittis risus arcu erat lectus bibendum. Ut in adipiscing quis in viverra tristique sem. Ornare feugiat viverra eleifend fusce orci in quis amet. Sit in et vitae tortor, massa. Dapibus laoreet amet lacus nibh integer quis. Eu vulputate diam sit tellus quis at.
            .mt-12.grid.grid-cols-1.gap-y-12.gap-x-6(class='sm:grid-cols-2')
              p
                span.block.text-2xl.font-bold.text-white 8K+
                span.mt-1.block.text-base.text-gray-300
                  span.font-medium.text-white Companies
                  |  use laoreet amet lacus nibh integer quis.
              p
                span.block.text-2xl.font-bold.text-white 25K+
                span.mt-1.block.text-base.text-gray-300
                  span.font-medium.text-white Countries around the globe
                  |  lacus nibh integer quis.
              p
                span.block.text-2xl.font-bold.text-white 98%
                span.mt-1.block.text-base.text-gray-300
                  span.font-medium.text-white Customer satisfaction
                  |  laoreet amet lacus nibh integer quis.
              p
                span.block.text-2xl.font-bold.text-white 12M+
                span.mt-1.block.text-base.text-gray-300
                  span.font-medium.text-white Issues resolved
                  |  lacus nibh integer quis.




      include includes/sections/reviews-two.pug   
      include includes/sections/cta_2.pug
 

      include includes/sections/questions.pug
    include includes/layout/footer.pug