doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Literacy, Accessibility & Dyslexia Software for Enterpirse | Helperbird
    link(href='https://www.helperbird.com/enterprise', rel='canonical')
    meta(content='Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    meta(content='Dyslexia & Accessibility enterprise software | Helperbird sales representative to discuss how Helperbird can help your business.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Literacy, Accessibility & Dyslexia Software for Enterpirse  | Helperbird', itemprop='name')
    meta(content='Contact a Helperbird sales representative to discuss how Helperbird can help your business.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Literacy, Accessibility & Dyslexia Software for Enterpirse  | Helperbird', name='twitter:title')
    meta(content='Contact a Helperbird sales representative to discuss how Helperbird can help your business.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Literacy, Accessibility & Dyslexia Software for Enterpirse  | Helperbird', name='og:title')
    meta(content='Contact a Helperbird sales representative to discuss how Helperbird can help your business.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Literacy, Accessibility & Dyslexia Software for Enterpirse  | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      			"@context": "https://schema.org",
      			"@type": "SoftwareApplication",
      			"name": "Helperbird",
      			"operatingSystem": "Windows",
      			"applicationCategory": "https://schema.org/UtilitiesApplication",
      			"aggregateRating": {
      				"@type": "AggregateRating",
      				"ratingValue": "4.8",
      				"ratingCount": "42"
      			},
      			"offers": {
      				"@type": "Offer",
      				"price": "4.99",
      				"priceCurrency": "USD"
      			}
      		}
      
    script(type='application/ld+json').
      
      {
      			"@context": "https://schema.org",
      			"@type": "Organization",
      			"name": "Helperbird",
      			"url": "https://www.helperbird.com",
      			"sameAs": [
      				"http://www.facebook.com/helperbird",
      				"https://www.linkedin.com/company/19112429",
      				"https://twitter.com/helperbird_"
      			]
      		}
      
    script(type='application/ld+json').
      
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "0446310786",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      include includes/layout/dropdown.pug
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Helperbird Enterprise
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text
              | Helperbird for Enterprise gives you more control and more support.
              br
              | Perfect for organizations or schools that are large, complex, or want more support and features.

            .mt40
                a.try_it_now.button.pink.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.cta-button(href='#pricing')
                  span Get Helperbird for Free
                a.try_it_now.button.mobile-text-center.mt10.launchaco-builder-hoverable.white-text.cta-small-text(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                  span Watch it in action
        .container-md.flex.catch.hide
          .flex.flex-column.col-12.text-center
            .scroller_video_home.mb20
              .scroller_video_item_home_page
                .youtube_lazy_load(data-embed='aXXRSenvTTg')
                  .play-button
                  img(src='https://img.youtube.com/vi/aXXRSenvTTg/sddefault.jpg', alt='Helperbird support feature')
        .container-md.flex.slider-show
          .flex.flex-column.col-12.text-center
            .browser.mt40.launchaco-builder-hoverable
              .mask.mask__noimage
                .img-comp-container
                  .img-comp-img
                    img(src='./assets/images/home/before.png', loading='lazy', alt='Before Helperbird', width='760', height='441')
                  .img-comp-img.img-comp-overlay
                    img(src='./assets/images/home/after.png', loading='lazy', alt='After Helperbird', width='760', height='441')
    section.section.lightblue-white.mb80#features
      .container.text-center
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us What you can do with Helperbird Enterprise
      .container-lrg.flex.mt75
        .col-6.flex.flex-column.center-vertical
          .flex.mobile-flex-wrap.mb20.mobile-text-center
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable
              svg(height='24', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 0h24v24H0z', fill='none').
                  
                  
                path(d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z').
                  
                  
            div
              h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Top-notch support
              p.paragraph.secondary-color.launchaco-builder-hoverable Have a question? We’re on it. Jump the line with priority support.
        .col-6.flex.flex-column.center-vertical
          .flex.mobile-flex-wrap.mb20.mobile-text-center
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable
              svg(height='24', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                path(d='M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z').
                  
                  
                path(d='M0 0h24v24H0z', fill='none').
                  
                  
            div
              h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us User provisioning and deprovisioning
              p.paragraph.secondary-color.launchaco-builder-hoverable Automatically provision and deprovision users in Helpebrird through your standardized SAML provider.
      .container-lrg.flex.mt40
        .col-6.flex.flex-column.center-vertical
          .flex.mobile-flex-wrap.mb20.mobile-text-center
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable
              svg(height='24', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 0h24v24H0z', fill='none').
                  
                  
                path(d='M12 7V3H2v18h20V7H12zM6 19H4v-2h2v2zm0-4H4v-2h2v2zm0-4H4V9h2v2zm0-4H4V5h2v2zm4 12H8v-2h2v2zm0-4H8v-2h2v2zm0-4H8V9h2v2zm0-4H8V5h2v2zm10 12h-8v-2h2v-2h-2v-2h2v-2h-2V9h8v10zm-2-8h-2v2h2v-2zm0 4h-2v2h2v-2z').
                  
                  
            div
              h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Custom branding
              p.paragraph.secondary-color.launchaco-builder-hoverable Put your logo front and center. With custom branding, you’re able to customize Helperbird with your own logo.
        .col-6.flex.flex-column.center-vertical
          .flex.mobile-flex-wrap.mb20.mobile-text-center
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable
              svg(height='24', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 0h24v24H0z', fill='none').
                  
                  
                path(d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z').
                  
                  
            div
              h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Customer success
              p.paragraph.secondary-color.launchaco-builder-hoverable Get access to online trainings and resources to help your team be successful with Helperbird. Plus, teams of 30 or more seats get online and regular training with our customer success managers to help you.
      .container-lrg.flex.mt40
        .col-6.flex.flex-column.center-vertical
          .flex.mobile-flex-wrap.mb20.mobile-text-center
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable
              svg(height='24', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                path(d='M0 0h24v24H0z', fill='none').
                  
                  
                path(d='M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z').
                  
                  
            div
              h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us 99.9% Uptime SLA
              p.paragraph.secondary-color.launchaco-builder-hoverable Ensure that your organization can access Helperbird whenever you need it with guaranteed 99.9% uptime.
        .col-6.flex.flex-column.center-vertical
          .flex.mobile-flex-wrap.mb20.mobile-text-center
            i.icon.secondary-bg.mr20.mobile-center-icon.launchaco-builder-hoverable
              svg(height='24', viewBox='0 0 24 24', width='24', xmlns='http://www.w3.org/2000/svg')
                path(d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z').
                  
                  
                path(d='M0 0h24v24H0z', fill='none').
                  
                  
            div
              h3.bold.primary-color.launchaco-builder-hoverable.h3_why_us Pro features
              p.paragraph.secondary-color.launchaco-builder-hoverable Enterprise gives you all the power and features available to Helperbird Pro users.
    section.section_header.website_pricing_header#salesRequest
      .container
        .col-12.text-center
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.
            Help Your Team Do Better Work
            
          h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable Get started today and instantly elevate the skills of your entire team.
      .container.mt40
        iframe(frameborder='0', height='1693', loading='lazy', marginheight='0', marginwidth='0', src='https://docs.google.com/forms/d/e/1FAIpQLScyGWAggLJUHXrmjjWBu-ME4I8BNV6YzcFReClr0DtqmTCVsw/viewform?embedded=true', title='Helperbird sales fourm ', width='100%') Loading...




include includes/pricing/pricing-table-edu.pug        
include includes/layout/footer.pug