doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Learning and Reading tools | Helperbird for Google Chrome
    link(href='https://www.helperbird.com/chrome', rel='canonical')
    meta(content='Helperbird for Chrome,Helperbird,Chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,Chrome download,colored contacts,google speaker,install chrome,chrome browser,Chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,Chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install Chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,Chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,Chrome settings,text to speech robot,voice recognition,Chrome free download,voice to text app,google speech,chrome free download,talk and text app,Chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,Chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app', name='keywords')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Chrome!', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Chrome!', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Literacy, Accessibility & Dyslexia Software |  Helperbird for Chrome', name='twitter:title')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Chrome!', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Literacy, Accessibility & Dyslexia Software |  Helperbird for Chrome', name='og:title')
    meta(content='Helperbird is a browser extension that gives people the features and customization to make reading and browsing the web easier. Including specialized fonts (OpenDyslexic, Dyslexie), background colors, font colors, dyslexia ruler, text to speech and more for Chrome!', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/Chrome', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      { "@context" : "https://schema.org" , "@type" : "SoftwareApplication" , "name"
      	       : "Helperbird" , "operatingSystem" : "Windows" , "applicationCategory"
      	       : "https://schema.org/UtilitiesApplication" , "aggregateRating" : { "@type" : "AggregateRating" , "ratingValue"
      	       : "4.9" , "ratingCount" : "42" }, "offers" : { "@type" : "Offer" , "price" : "4.99" , "priceCurrency" : "USD" }
      	       }
      
    script(type='application/ld+json').
      
      { "@context" : "https://schema.org" , "@type" : "Organization"
      	       , "name" : "Helperbird" , "url" : "https://www.helperbird.com" , "sameAs" :
      	       [ "http://www.facebook.com/helperbird" , "https://www.linkedin.com/company/19112429"
      	       , "https://twitter.com/helperbird_" ] }
      
    script(type='application/ld+json').
      
      { "@context"
      	       : "https://schema.org/" , "@type" : "Product" , "name" : "Helperbird" , "image" :
      	       [ "https://www.helperbird.com/assets/images/pwa/144.png"
      	       , "https://www.helperbird.com/assets/images/pwa/512.png"
      	       , "https://www.helperbird.com/assets/images/pwa/full.png" ], "description"
      	       : "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!"
      	       , "sku" : "0446310786" , "mpn" : "925872" , "brand" : { "@type" : "Thing" , "name" : "Helperbird" }, "review" :
      	       { "@context" : "http://schema.org/" , "@type" : "Review" , "name" : "Colm Murphy" , "reviewBody"
      	       : "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work."
      	       , "reviewRating" : { "@type" : "Rating" , "ratingValue" : "5" , "bestRating" : "5" , "worstRating" : "1"
      	       }, "datePublished" : "2019-05-02" , "author" : { "@type" : "Person" , "name" : "Colm Murphy" }
      	       }, "aggregateRating" : { "@type" : "AggregateRating" , "ratingValue" : "4.9" , "reviewCount" : "43" }, "offers"
      	       : { "@type" : "Offer" , "url" : "https://www.helperbird.com" , "priceCurrency" : "USD" , "price" : "4.99"
      	       , "priceValidUntil" : "2020-11-05" , "itemCondition" : "https://schema.org/NewCondition" , "availability"
      	       : "https://schema.org/InStock" , "seller" : { "@type" : "Organization" , "name" : "Helperbird" } } }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.bg-content-100
    include includes/layout/navigation.pug
    main


      .relative
        .mt-16.mx-auto.max-w-7xl.px-4(class='sm:mt-24 sm:px-6')
          .text-center
            h1.text-4xl.tracking-tight.font-extrabold.text-gray-900(class='sm:text-5xl md:text-6xl')
              span.block
                | All your productivity, research and accessibility needs, rolled up into one.
            p.mt-3.max-w-md.mx-auto.text-base.text-gray-500(class='sm:text-lg md:mt-5 md:text-xl md:max-w-3xl')
              | Helperbird can be used on Chrome, Firefox and Edge 
            .mt-5(class='sm:mt-8 sm:flex justify-center lg:justify-center')
              .rounded-md.shadow
                a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-white.bg-indigo-600(href='/pricing' class='hover:bg-indigo-700 md:py-4 md:text-lg md:px-10')
                  | Try for Free
              .mt-3(class='sm:mt-0 sm:ml-3')
                a.w-full.flex.items-center.justify-center.px-8.py-3.border.border-transparent.text-base.font-medium.rounded-md.text-indigo-700.bg-indigo-100(href='/demo' class='hover:bg-indigo-200 md:py-4 md:text-lg md:px-10')
                  | Live demo
      .relative.mt-8
        .absolute.inset-0.flex.flex-col(aria-hidden='true')
          .flex-1
          .flex-1.w-full.bg-gray-800
        .max-w-7xl.mx-auto.px-4.pb-16(class='sm:px-6')
          img.relative.rounded-lg(src='/assets/images/apps/chrome.png' alt='App screenshot')

      // Logo Cloud
      include includes/sections/press.pug

      include includes/features/list.pug


      include includes/features/boxes_no_text_small.pug


      include includes/sections/metric.pug

      include includes/sections/cta_2.pug
 

      include includes/sections/questions.pug
    include includes/layout/footer.pug