doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title HP 14 Chromebook giveaway | Helperbird 
    link(href='https://www.helperbird.com/giveaway', rel='canonical')
    meta(content='About Helperbird, about, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    meta(content="Enter our Helperbird Chromebook giveaway", name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content="Enter our Helperbird Chromebook giveaway", itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Chromebook giveaway | Helperbird', name='twitter:title')
    meta(content="Enter our Helperbird Chromebook giveaway", name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Chromebook giveaway - Helperbird ', name='og:title')
    meta(content="Enter our Helperbird Chromebook giveaway", name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/about', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Helperbird",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "url": "https://www.helperbird.com",
        "telephone": "5012936819",
        "sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "15 Markay Street",
          "addressLocality": "Toronto",
          "postalCode": "M3L2C6",
          "addressCountry": "Canada"
        }
      }
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "helperbird2016","gtin12": "helperbird2016",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.bg-content-100
    include includes/layout/navigation.pug
    .bg-white.pb-8(class='sm:pb-12 lg:pb-12')
      .pt-8.overflow-hidden(class='sm:pt-12 lg:relative lg:py-24')
        .mx-auto.max-w-md.px-4(class='sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24')
          div
            .mt-10
              .mt-6(class='sm:max-w-xl')
                h1.text-4xl.font-extrabold.text-gray-900.tracking-tight(class='sm:text-5xl')
                  span.block(class='xl:inline') 
                    | HP 14 Chromebook Giveaway
                p.mt-6.text-xl.text-gray-500
                  | Win a HP 14 Chromebook  & 1 year free of Helperbird Pro. Just follow us on Twitter or write a review on the Google Webstore to win.


        div(class='sm:mx-auto sm:max-w-3xl sm:px-6')
          .py-12(class='sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2')
            .hidden(class='sm:block')
              svg.absolute.top-8.-mr-3(class='right-1/2 lg:m-0 lg:left-0' width='404' height='392' fill='none' viewbox='0 0 404 392')
                defs
                  pattern#837c3e70-6c3a-44e6-8854-cc48c737b659(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                    rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
                rect(width='404' height='392' fill='url(#837c3e70-6c3a-44e6-8854-cc48c737b659)')
            .relative.-mr-40(class='pl-4 sm:pl-0 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:pl-12')
              img.rounded-md.ring-0.ring-black.ring-opacity-100(class='w-min shadow-lg'  width="600" height="402" src="/assets/images/blog/giveaway/chromebookside.jpeg")
              
              







    .py-16.bg-gray-50.overflow-hidden
      .max-w-7xl.mx-auto.px-4.space-y-8(class='sm:px-6 lg:px-8')
        .text-base.max-w-prose.mx-auto(class='lg:max-w-none')
          h2.text-base.text-indigo-600.font-semibold.tracking-wide.uppercase Transactions
          p.mt-2.text-3xl.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl')  What can you win?

        div(class='lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start')
          .relative.z-10
            .prose.prose-indigo.text-gray-500.mx-auto(class='lg:max-w-none')
              ul
                li 1 year of Helperbird Pro
                li Brand: HP 14 Chromebook
                li Operating System: Chrome OS
                li  CPU Manufacturer: Intel
                li  Standing screen display size: 14 Inches
                li  RAM: 4 GB
              p
                | Equipped with an Intel(R) processor, 14" display, stereo speakers tuned by audio experts at B&O and a long battery life to get more done while having fun
                | Environmentally conscious: Low halogen, mercury-free display backlights, arsenic-free display glass in this Energy Star(R) certified, EPEAT(R) Silver registered Chromebook
                | Dual-core Intel(R) processor: Intel(R) Celeron(R) N4000, Dual-Core, 1.1 GHz base frequency, up to 2.6 GHz burst frequency
                | Display: 14.0-inch diagonal HD SVA anti-glare micro-edge WLED-backlit display (1366 x 768); 82% screen to body ratio
                | Memory & storage: 4 GB LPDDR4-2400 SDRAM (not upgradable) and 32 GB eMMC
                | Battery life: Up to 13 hours and 30 minutes (mixed usage); 0 to 50% charge in 45 minutes with HP Fast Charge
                | Thin, light & portable: 12.82 inch (W) x 8.60 inch (D) x 0.70 inch (H); 3.24 pounds
                | Operating system and warranty: Chrome and 1-year limited hardware warranty

                    
              h3 How to win
              p
                | Tincidunt integer commodo, cursus etiam aliquam neque, et. Consectetur pretium in volutpat, diam. Montes, magna cursus nulla feugiat dignissim id lobortis amet. Laoreet sem est phasellus eu proin massa, lectus. Diam rutrum posuere donec ultricies non morbi. Mi a platea auctor mi.
  

              p
                | Follow us on #[a(href='https://www.twitter.com/helperbird_' target="_blank" style="color: blue;") Twitter]

              p
                | Retweet this #[a(href='https://twitter.com/helperbird_/status/1350577691754422275' target="_blank" style="color: blue;") Tweet]
              
              p
                |   OR
              p
                | leave us a review on the #[a(href='https://chrome.google.com/webstore/detail/helperbird-accessibility/ahmapmilbkfamljbpgphfndeemhnajme/reviews' style="color: blue;" target="_blank") Chromestore]
              

              p
                | Now just fill in the form

          .mt-12.relative.text-base.max-w-prose(class='lg:mt-0 lg:max-w-none')
            svg.absolute.top-0.right-0.-mt-20.-mr-20(class='lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20' width='404' height='384' fill='none' viewbox='0 0 404 384' aria-hidden='true')
              defs
                pattern#bedc54bc-7371-44a2-a2bc-dc68d819ae60(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
                  rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
              rect(width='404' height='384' fill='url(#bedc54bc-7371-44a2-a2bc-dc68d819ae60)')
            .relative.bg-white.hadow-lg
              iframe(frameborder='0', height='1093', inheight='0', marginwidth='0', loading="lazy" src='https://docs.google.com/forms/d/e/1FAIpQLSdk5CNCBtYbPaEgjGCUgL6oxCa0bXzPrgwD8PRuJT42D4Gs8Q/viewform?embedded=true', title='Helperbird support fourm ', width='100%') Loading...

          










     
      
    include includes/layout/footer.pug
