doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title In the News | Helperbird
    link(href='https://www.helperbird.com/in-the-news', rel='canonical')
    meta(content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app', name='keywords')
    meta(content='See what publications wrote about Helperbird', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='In the News | Helperbird', itemprop='name')
    meta(content, itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='In the News | Helperbird', name='twitter:title')
    meta(content, name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='In the News | Helperbird', name='og:title')
    meta(content='See what publications wrote about Helperbird', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/in-the-news', name='og:url')
    meta(content='In the News | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
      	      "@context": "https://schema.org",
      	      "@type": "Organization",
      	      "name": "Helperbird",
      	      "url": "https://www.helperbird.com",
      	      "sameAs": [
      	          "http://www.facebook.com/helperbird",
      	          "https://www.linkedin.com/company/19112429",
      	          "https://twitter.com/helperbird_"
      	      ]
      	   }
      
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org/",
      	   "@type": "Product",
      	   "name": "Helperbird",
      	   "image": [
      	      "https://www.helperbird.com/assets/images/pwa/144.png",
      	      "https://www.helperbird.com/assets/images/pwa/512.png",
      	      "https://www.helperbird.com/assets/images/pwa/full.png"
      	   ],
      	   "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	   "sku": "0446310786",
      	   "mpn": "925872",
      	   "brand": {
      	      "@type": "Thing",
      	      "name": "Helperbird"
      	   },
      	      "review": {
      	          "@context": "http://schema.org/",
      	          "@type": "Review",
      	          "name": "Colm Murphy",
      	          "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	          "reviewRating": {
      	              "@type": "Rating",
      	              "ratingValue": "5",
      	              "bestRating": "5",
      	              "worstRating": "1"
      	          },
      	          "datePublished": "2019-05-02",
      	          "author": {
      	              "@type": "Person",
      	              "name": "Colm Murphy"
      	          }
      	      },
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "reviewCount": "57"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "url": "https://www.helperbird.com",
      	      "priceCurrency": "USD",
      	      "price": "4.99",
      	      "priceValidUntil": "2020-11-05",
      	      "itemCondition": "https://schema.org/NewCondition",
      	      "availability": "https://schema.org/InStock",
      	      "seller": {
      	      "@type": "Organization",
      	      "name": "Helperbird"
      	      }
      	   }
      	   }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      header.header
        .container-lrg
          .flex.col-12.spread
            a.logo.primary-color.launchaco-builder-hoverable.logo(href='/')
              img(alt='Helperbird Logo', src='/assets/images/pwa/logo/full.png')
              | Helperbird
            a.menu-toggle#menu(href='#main-menu')
              b.nav-link.mr0.secondary-color ☰
            nav.main-menu#main-menu(role='navigation')
              a.menu-close#main-menu-close(href='#')
                span.bold ✕
              a.nav-link.secondary-color(href='/about') About
              a.nav-link.secondary-color(href='/#features') Features
              a.nav-link.secondary-color(href='/pricing') Pricing
              a.nav-link.secondary-color(href='/support') Help
              a.nav-link.secondary-color.button.mobile-text-center.mt10.launchaco-builder-hoverable.button-signup.primary-color(data-target='#downloadModal', data-toggle='modal', type='button') Download Helperbird
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable In The News
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text See what trusted publications wrote about Helperbird
            .mt40
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(data-target='#downloadModal', data-toggle='modal', type='button')
                span Download Helperbird
                |  
                span.its_free Its Free!
    section.section.lightblue-white.mb80#features
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center I love the fact that you can change the fonts on any web page with just a couple of clicks and being dyslexic myself I have taken advantage of this.
              .mt20
                a(href='https://www.nexus-education.com/made-dyslexia-i-encourage-train/', rel='noreferrer', target='_blank', title='Link to Nexus')
                  img.remove_border(alt='Logo of nexus', loading='lazy', src='./assets/images/logo/nexus.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable Nexus Education
                span.span.secondary-color.launchaco-builder-hoverable News
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center In general, the extension seeks to establish all the necessary conditions so that those who present these limitations have the possibility of enjoying the internet much more.
              .mt20
                a(href='https://www.tekcrispy.com/2019/11/16/helpedbird/', rel='noreferrer', target='_blank', title='Link to Tekcrispy')
                  img.remove_border(alt='Logo of Tek Crispy', loading='lazy', src='./assets/images/logo/tek.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable Tek Crispy
                span.span.secondary-color.launchaco-builder-hoverable News
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center The browser extension wants to bring the benefits of accessbility and customization to everyone, with features such as dyslexia fonts, changing the font and background color, text to speech, overlays, dyslexia rulers and more to make the web accessible to your needs.
              .mt20
                a(href='https://www.smashingmagazine.com/2019/11/black-friday-2019/', rel='noreferrer', target='_blank', title='Link to Producthunt')
                  img.remove_border(alt='Logo of smashing magazine logo', loading='lazy', src='./assets/images/logo/smashing-magazine-logo.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable Smashing Magazine
                span.span.secondary-color.launchaco-builder-hoverable News
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.
              .mt20
                a(href='https://www.softpedia.com/get/Office-tools/Text-editors/Helperbird.shtml', rel='noreferrer', target='_blank', title='Link to Softpedia')
                  img.remove_border(alt='Logo of Softpedia', loading='lazy', src='./assets/images/logo/softpedia.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable Softpedia
                span.span.secondary-color.launchaco-builder-hoverable News
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center Helperbird has a wide range of options, including changing fonts to dyslexia-friendly ones such as OpenDyslexic, changing colors, text-to-speech, tint overlay, and much more. If you want a free alternative to Helperbird, you’ll have to install multiple extensions.
              .mt20
                a(href='https://www.howtogeek.com/444235/fonts-and-browser-extensions-that-help-those-with-dyslexia-read-the-web/', rel='noreferrer', target='_blank', title='Link to Producthunt')
                  img.remove_border(alt='Logo of How To Geek', loading='lazy', src='./assets/images/logo/howtogeek.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable How to Geek
                span.span.secondary-color.launchaco-builder-hoverable News
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center Helperbird actually helps you to read properly. If you have dyslexia, you will definitely find this tool relevant to use. You can change the font styles, change the text size from small to large. Also, you can use the color blindness feature to change the color of the text and highlight headings.
              .mt20
                a(href='https://www.ilovefreesoftware.com/14/windows/internet/plugins/free-chrome-extension-dyslexics-friendly-fonts-zoom-text-color-blindness-feature.html', rel='noreferrer', target='_blank', title='Link to Nexus')
                  img.remove_border(alt='Logo of I love free software', loading='lazy', src='./assets/images/logo/ilovefreesoftware.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable I love free software
                span.span.secondary-color.launchaco-builder-hoverable News
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center In general, the extension seeks to establish all the necessary conditions so that those who present these limitations have the possibility of enjoying the internet much more.
              .mt20
                a(href='https://www.tekcrispy.com/2019/11/16/helpedbird/', rel='noreferrer', target='_blank', title='Link to Tekcrispy')
                  img.remove_border(alt='Logo of Tek Crispy', loading='lazy', src='./assets/images/logo/tek.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable Tek Crispy
                span.span.secondary-color.launchaco-builder-hoverable News
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center Considering the ease of use of the extension, we are sure that it will be an interesting resource for many people with dyslexia. If you are dyslexic or know someone with this problem, we recommend you take a look at the Helperbird website and download the extension from the Chrome Web Store.
              .mt20
                a(href='https://optocrypto.com/dyslexics-helperbird-chrome-extension/', rel='noreferrer', target='_blank', title='Link to Optologo')
                  img.remove_border(alt='Logo of Softpedia', loading='lazy', src='./assets/images/logo/optologo.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable Optocrypto
                span.span.secondary-color.launchaco-builder-hoverable News
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center Robert James Gabriel (@RobertJGabriel) never had it easy growing up. Before he was finally diagnosed with dyslexia at age 17, he had teachers counsel him to drop out of school and was told he would never amount to anything. But with some positive encouragement from a few helpful mentors and individuals, Robert found his way, learned to code, and became a prolific indie hacker. In this episode Robert and I discuss the psychological effects of being trapped inside both negative and positive feedback loops, his strategy for coming up with dozens of product ideas, and the story behind how he bootstrapped his app Helperbird into a business that helps others with learning disabilities like dyslexia.
              .mt20
                a.user-image.mt20.mb20.launchaco-builder-hoverable(href='https://www.indiehackers.com/product/helperbird/made-it-onto-the-indiehackers-podcast--LuJYrgVZ12TsNIDCFOU', rel='noreferrer', target='_blank', title='Link to Nexus')
                  img.remove_border(alt='Photo of a happy reviewer of Helperbird, Vladimir Ciobica', loading='lazy', src='/assets/images/logo/indiehackers_logo.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable IndieHackers.com
                span.span.secondary-color.launchaco-builder-hoverable Podcast
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center The most popular browser extension (based on downloads) is Helperbird, available for both Chrome and Firefox. Helperbird has a wide range of options, including changing fonts to dyslexia-friendly ones such as OpenDyslexic, changing colors, text-to-speech, tint overlay, and much more
              .mt20
                a.user-image.mt20.mb20.launchaco-builder-hoverable(href='http://techtalk.stratford.edu/2019/11/23/show-of-11-23-2019/', rel='noreferrer', target='_blank', title='Link to stratford techtalk')
                  img.remove_border(alt='Photo of a happy reviewer of Helperbird, Vladimir Ciobica', loading='lazy', src='./assets/images/logo/logo_pentahoV2.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable Stratford.edu
                span.span.secondary-color.launchaco-builder-hoverable Podcast
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center The extensions help us organize a large part of our life on the Internet, from the agenda and productivity to content consumption, cybersecurity protection or email management. There are also extensions for Chrome and Firefox for people with dyslexia. Without a doubt, the most popular and downloaded is Helperbird , available for both browsers. This tool gives you a wide range of options, including changing fonts, colors, text to speech, overlay and much more. Your paid version covers more features.
              .mt20
                a(href='https://www.ticbeat.com/tecnologias/mejores-fuentes-extensiones-personas-con-dislexia/', rel='noreferrer', target='_blank', title='Link to Ticbeat')
                  img.remove_border(alt='Logo of Ticbeat', loading='lazy', src='./assets/images/logo/ticbeat-logo.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable Tic Beat
                span.span.secondary-color.launchaco-builder-hoverable News
      .container
        .col-12
          .slideshow-container
            .mySlides.scroller_video_item
              p.primary-color.launchaco-builder-hoverable.paragraph.text-center Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.
              .mt20
                a(href='http://www.appsformypc.com/2019/10/helperbird/', rel='noreferrer', target='_blank', title='Link to appsformypc')
                  img.remove_border(alt='Logo of apps for my pc', loading='lazy', src='./assets/images/logo/appsformypc.png')
                p.span.secondary-color.mb10.launchaco-builder-hoverable Apps for My Pc
                span.span.secondary-color.launchaco-builder-hoverable News
    footer.footer#footer-10
      .container.col-12
        .flex.wrap.center-vertical
          .col-3.mobile-col-6
            p.mb10
              b Company
            p.mb10
              a(href='/about', onclick='return features.captureOutboundLink("/about"),!1', title='Link to Helperbirds about') About
            p.mb10
              a(href='/blog/', onclick='return features.captureOutboundLink("/blog/"),!1', title='Link to Helperbirds blog') Blog
            p.mb10
              a(href='/in-the-news', onclick='return features.captureOutboundLink("/in-the-news"),!1', title='Link to Helperbirds terms') In the News
            p.mb10
              a(href='https://drive.google.com/drive/folders/1kZkWObEYGimW391EetVThd6YkEYDHu8-?usp=sharing', onclick='return features.captureOutboundLink("https://drive.google.com/drive/folders/1kZkWObEYGimW391EetVThd6YkEYDHu8-?usp=sharing",!0),!1', title='Helperbird Presskit') Presskit
            p.mb10
              a(href='/enterprise', onclick='return features.captureOutboundLink("/enterprise",!0),!1', title='Helperbird Enteprise') Enterprise
          .col-3.mobile-col-6
            p.mb10
              b Product
            p.mb10
              a(href='https://chrome.google.com/webstore/detail/dyslexia-accessibility-to/ahmapmilbkfamljbpgphfndeemhnajme', onclick='return features.captureOutboundLink("https://chrome.google.com/webstore/detail/dyslexia-accessibility-to/ahmapmilbkfamljbpgphfndeemhnajme"),!1', rel='noreferrer', target='_blank', title='Link to download Helperbird for Google') Chrome
            p.mb10
              a(href='https://addons.mozilla.org/en-CA/firefox/addon/helperbird/', onclick='return features.captureOutboundLink("https://addons.mozilla.org/en-CA/firefox/addon/helperbird/"),!1', rel='noreferrer', target='_blank', title='Link to download Helperbird for Firefox') Firefox
            p.mb10
              a(href='https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd', onclick='return features.captureOutboundLink("https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd"),!1', rel='noreferrer', target='_blank', title='Link to download Helperbird for Edge') Edge
            p.mb10
              a(href='/pricing', onclick='return features.captureOutboundLink("/pricing"),!1', title='Link to Helperbirds pricing') Pricing
            p.mb10
              a(href='https://datastudio.google.com/u/0/reporting/3e86f5ee-b27b-4bb6-bfdc-90c1dd67f06e/page/1M', rel='noopener', onclick='return features.captureOutboundLink("https://datastudio.google.com/u/0/reporting/3e86f5ee-b27b-4bb6-bfdc-90c1dd67f06e/page/1M"),!1', title='Helperbird webinar') Growth
          .col-3.mobile-col-6
            p.mb10
              b Help
            p.mb10
              a(href='/support', onclick='return features.captureOutboundLink("/support"),!1', title='Link to Helperbirds contact page') Support
            p.mb10
              a(href='/feedback', onclick='return features.captureOutboundLink("/feedback"),!1', title='Link to Helperbirds Feedback page') Feedback
            p.mb10
              a(href='/contact', onclick='return features.captureOutboundLink("/contact"),!1', title='Link to Helperbirds contact page') Contact
            p.mb10
              a(href='/roadmap', onclick='return features.captureOutboundLink("/roadmap"),!1', title='Link to Helperbirds Roadmap') Roadmap
          .col-3.mobile-col-6
            p.mb10
              b Support
            p.mb10
              a(href='/updates', onclick='return features.captureOutboundLink("/updates"),!1', title='Link to Helperbirds updates') Updates
            p.mb10
              a(href='/privacy', onclick='return features.captureOutboundLink("/privacy"),!1', title='Link to Helperbirds privacy') Privacy
            p.mb10
              a(href='/compliance', onclick='return features.captureOutboundLink("/compliance"),!1', title='Link to Helperbirds Compliance') Compliance
            p.mb10
              a(href='/terms-of-service', onclick='return features.captureOutboundLink("/terms-of-service"),!1', title='Link to Helperbirds terms') Terms
      .container.col-12
        .flex.wrap.center-vertical.text_center.mt75
          .col-3.mobile-col-6
            a(href='https://facebook.com/helperbird/', onclick='return features.captureOutboundLink("https://facebook.com/helperbird/"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Facebook')
              i.fab.fa-facebook.icon-size-small
          .col-3.mobile-col-6
            a(href='https://twitter.com/helperbird_', onclick='return features.captureOutboundLink("https://twitter.com/helperbird_"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Twitter')
              i.fab.fa-twitter.icon-size-small
          .col-3.mobile-col-6
            a(href='https://www.linkedin.com/company/19112429/', onclick='return features.captureOutboundLink("https://www.linkedin.com/company/19112429/"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Linkedin')
              i.fab.fa-linkedin.icon-size-small
          .col-3.mobile-col-6
            a(href='https://www.youtube.com/watch?v=aXXRSenvTTg', onclick='return features.captureOutboundLink("https://www.youtube.com/watch?v=aXXRSenvTTg"),!1', rel='noreferrer', target='_blank', title='Link to Helperbirds Youtube')
              i.fab.fa-youtube.icon-size-small
    .base-footer.text-center
      .span.secondary-color.
        
        © 2020 Helperbird.com . All rights reserved.
        
    .modal.fade#downloadModal(aria-hidden='true', aria-labelledby='exampleModalCenterTitle', role='dialog', tabindex='-1')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5.modal-title#downloadModalLongTitle Download Helperbird
          .modal-body
            .container-lrg.flex.mt40
              .flex.flex-column.col-4
                .launchaco-builder-hoverable
                  img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='/assets/images/home/chrome.png', width='50px')
                  |  
                  a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://chrome.google.com/webstore/detail/opendyslexic-font-for-chr/ahmapmilbkfamljbpgphfndeemhnajme', rel='noopener', target='_blank')
                    span Chrome
              .flex.flex-column.col-4
                .launchaco-builder-hoverable
                  img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='/assets/images/home/firefox.png', width='50px')
                  a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://addons.mozilla.org/en-CA/firefox/addon/helperbird/', rel='noreferrer', target='_blank')
                    span Firefox
              .flex.flex-column.col-4
                .launchaco-builder-hoverable
                  img.launchaco-builder-hoverable.logos_modal(alt='Firefox logo', loading='lazy', src='/assets/images/home/edge.png', width='50px')
                  a.button.mobile-text-center.mt10.launchaco-builder-hoverable.button__full.mobile-text-center.accent-bg.button-signup.primary-color(href='https://microsoftedge.microsoft.com/addons/detail/bkibfggdahioahpokehoiimdmdjefjmd', rel='noreferrer', target='_blank')
                    span Edge