doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Literacy, Accessibility & Dyslexia Software | Helperbird
    link(href='https://www.helperbird.com', rel='canonical')
    meta(content='Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    meta(content='Helperbird is a browser extension that gives you the features to make more web more accessible and make you more productive. By providing you with features such as dyslexia fonts, change the font & background color, text to speech, overlays, dyslexia ruler, immersive reader, reader mode and much more.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content='Helperbird is a browser extension that gives you the features to make more web more accessible and make you more productive. By providing you with features such as dyslexia fonts, change the font & background color, text to speech, overlays, dyslexia ruler, immersive reader, reader mode and much more.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Literacy, Accessibility & Dyslexia Software |  Helperbird', name='twitter:title')
    meta(content='Helperbird is a browser extension that gives you the features to make more web more accessible and make you more productive. By providing you with features such as dyslexia fonts, change the font & background color, text to speech, overlays, dyslexia ruler, immersive reader, reader mode and much more.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Literacy, Accessibility & Dyslexia Software |  Helperbird', name='og:title')
    meta(content='Helperbird is a browser extension that gives you the features to make more web more accessible and make you more productive. By providing you with features such as dyslexia fonts, change the font & background color, text to speech, overlays, dyslexia ruler, immersive reader, reader mode and much more.', name='og:description')
    meta(content='/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      {
      			"@context": "https://schema.org",
      			"@type": "SoftwareApplication",
      			"name": "Helperbird",
      			"operatingSystem":[
              "Chrome",
              "Windows",
              "MacOs"
            ],
      			"applicationCategory": "https://schema.org/UtilitiesApplication",
      			"aggregateRating": {
      				"@type": "AggregateRating",
      				"ratingValue": "4.8",
      				"ratingCount": "42"
      			},
      			"offers": {
      				"@type": "Offer",
      				"price": "4.99",
      				"priceCurrency": "USD"
      			}
      		}
      
    script(type='application/ld+json').
      
      {
      			"@context": "https://schema.org",
      			"@type": "Organization",
      			"name": "Helperbird",
      			"url": "https://www.helperbird.com",
      			"sameAs": [
      				"http://www.facebook.com/helperbird",
      				"https://www.linkedin.com/company/19112429",
      				"https://twitter.com/helperbird_"
      			]
      		}
      
    script(type='application/ld+json').
        
      {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "Helperbird",
        "image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
        "description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
        "brand": "Helperbird",
        "sku": "0446310786",
        "offers": {
          "@type": "Offer",
          "url": "https://www.helperbird.com/pricing",
          "priceCurrency": "USD",
          "price": "30",
          "priceValidUntil": "2020-12-31",
          "availability": "https://schema.org/OnlineOnly",
          "itemCondition": "https://schema.org/NewCondition"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "bestRating": "5",
          "worstRating": "1",
          "ratingCount": "2",
          "reviewCount": "2"
        },
        "review": [{
          "@type": "Review",
          "name": "Vladimir Ciobica",
          "reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-07-10",
          "author": {
            "@type": "Person",
            "name": "Vladimir Ciobica"
          },
          "publisher": {
            "@type": "Organization",
            "name": "softpedia"
          }
        }, {
          "@type": "Review",
          "name": "Colm Murphy",
          "reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": "5",
            "bestRating": "5",
            "worstRating": "1"
          },
          "datePublished": "2020-05-13",
          "author": {
            "@type": "Person",
            "name": "Colm Murphy"
          },
          "publisher": {
            "@type": "Organization",
            "name": "User"
          }
        }]
      }
      
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      include includes/layout/dropdown.pug
      section.section_header

        .container-xlrg.flex.mobile-col-flex-12

        
          .flex.flex-column.col-6.mobile-col-12.center-vertical.mobile-text-center.mb40
            h1.heading.primary-color.launchaco-builder-hoverable Be More Productive Working Online
            h2.subheading.secondary-color.mt20.launchaco-builder-hoverable
              | Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. 
              | Providing you features like 
              b.make-it-red text to speech, 
              | ad removal, 
              b.make-it-red dyslexia support, 
              | dictation, 
              b.make-it-red immersive reader, 
              | overlays, 
              b.make-it-red reader mode, 
              | and much more.
            .mt40
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button(href='/pricing', title="Visit pricing")
                span  Get it now  
                | 
                span.its_free - Free
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mobile-text-center.accent-bg.button-signup-free.primary-color(href='https://www.youtube.com/watch?v=aXXRSenvTTg', target='_blank', rel='noopener', alt='Watch Helperbird video')
                span Watch it in action
            .flex.wrap.mt40
              .flex.flex-column.col-12.mobile-col-12
                
                p.review-title-stars
                  include ../assets/images/logo/stars.svg
                  | 200,000 people use Helperbird to improve their productivity







          .col-6.flex.flex-column.text-center.mobile-col-12
            .browser.mt40.launchaco-builder-hoverable

              video(width="680" height="402" autoplay="autoplay" control="control" loop="loop" playsinline="playsinline")
                source(src="/assets/videos/home.webm" type="video/webm")
                source(src="/assets/videos/home.mp4" type="video/mp4")
    section.section.press-logos#featuredin-1
      .container.text-center
        .col-12
          h4.heading-sml.primary-color.launchaco-builder-hoverable.why_us.mb75.press_logos_title Trusted by people at the world’s most innovative organisations
      .container-lrg
        .flex.center-horizontal.wrap.center-vertical
          .col-2.mobile-col-6
            a(href='https://www.producthunt.com/posts/helperbird-3-0', rel='noreferrer', target='_blank', title='Link to Producthunt')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Product hunt', src='/assets/images/logo/producthunt.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.nexus-education.com/made-dyslexia-i-encourage-train/', rel='noreferrer', target='_blank', title='Link to Nexus')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of nexus', src='/assets/images/logo/nexus.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.softpedia.com/get/Office-tools/Text-editors/Helperbird.shtml', rel='noreferrer', target='_blank', title='Link to Softpedia')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Softpedia', src='/assets/images/logo/softpedia.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://optocrypto.com/dyslexics-helperbird-chrome-extension/', rel='noreferrer', target='_blank', title='Link to Optologo')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Softpedia', src='/assets/images/logo/optologo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.smashingmagazine.com/2019/11/black-friday-2019/', rel='noreferrer', target='_blank', title='Link to Producthunt')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of smashing-magazine-logo', src='/assets/images/logo/smashing-magazine-logo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.indiehackers.com/product/helperbird/made-it-onto-the-indiehackers-podcast--LuJYrgVZ12TsNIDCFOU', rel='noreferrer', target='_blank', title='Link to Nexus')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of indiehackers', src='/assets/images/logo/indiehackers_logo.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='http://techtalk.stratford.edu/2019/11/23/show-of-11-23-2019/', rel='noreferrer', target='_blank', title='Link to stratford techtalk')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of stratford techtalk', src='/assets/images/logo/logo_pentahoV2.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://educationblog.microsoft.com/en-us/2020/01/live-from-bett-whats-new-in-edu-fostering-an-accessible-inclusive-classroom-that-works-for-all-students/', rel='noreferrer', target='_blank', title='Link to Microsoft')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Microsoft', src='/assets/images/logo/microsoft.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.ucc.ie', rel='noreferrer', target='_blank', title='Link to Ucc college work.')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of UCC', src='/assets/images/logo/ucc.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.utoronto.ca/', rel='noreferrer', target='_blank', title='Link to Toronto college work.')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Toronto', src='/assets/images/logo/toronto.png', loading='lazy')
          .col-2.mobile-col-6
            a(href='https://www.usfca.edu/', rel='noreferrer', target='_blank', title='Link to San Francisco college')
              img.press-logo.launchaco-builder-hoverable(alt='Logo of Toronto', src='/assets/images/logo/san.png', loading='lazy')
    include includes/features/list.pug
    include includes/features/boxes_no_text_small.pug
    include includes/sections/reviews-slider.pug
    .lightblue-gradient#pricing
      section.section_header.website_pricing_header
        .container
          .col-12.text-center
            h1.heading.primary-color.launchaco-builder-hoverable 
              | Choose your plan

            
            
            h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable
              a(href='https://datastudio.google.com/u/0/reporting/3e86f5ee-b27b-4bb6-bfdc-90c1dd67f06e/page/1M', rel='noopener', target='_blank') 2,000 
              | users signed up last week. Join them.
            h2.paragraph.secondary-color.mt20.launchaco-builder-hoverable 
              a(href="#student")
                | Students get Helperbird for $20 a year
            h2.secondary-color.mt20.launchaco-builder-hoverable.sale-icon 
              b
                | Save 50%

            svg.svg-inline--fa.fa-level-down-alt.fa-w-10.fa-2x(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='level-down-alt', role='img', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 320 512')
              path(fill='currentColor', d='M313.553 392.331L209.587 504.334c-9.485 10.214-25.676 10.229-35.174 0L70.438 392.331C56.232 377.031 67.062 352 88.025 352H152V80H68.024a11.996 11.996 0 0 1-8.485-3.515l-56-56C-4.021 12.926 1.333 0 12.024 0H208c13.255 0 24 10.745 24 24v328h63.966c20.878 0 31.851 24.969 17.587 40.331z')


            .pricing-switch
              
              | Monthly
              label.switch
                input#annual(name='xxx', type='checkbox')
                span.slider.round
              | Yearly

      include includes/pricing/pricing-three.pug
    section.section#student 
      .container-lrg.flex
        .flex.flex-column.col-6.center-vertical.mobile-text-center.padding40.banner_sell.reall_red.banner_sell_margin
          h1.heading.primary-color.launchaco-builder-hoverable.white
            span
                | Are you a student?
            span.its_free_a11y.white.hide-on-small-screens
          h2.subheading.secondary-color.mt20.launchaco-builder-hoverable.white
            | Get Helperbird Pro for only $20.00 a year.
          .mt40
              a.button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mobile-text-center.accent-bg.button-signup-free.primary-color#checkout-button-plan_GDtSwhVHQXfaSw
                span  Upgrade now

        .flex.flex-column.col-6.center-vertical.mobile-text-center.padding40.banner_sell.banner_sell_margin.helperbird_background
          h1.heading.primary-color.launchaco-builder-hoverable.white
            span
                | Discover Helperbird Pro
            span.its_free_a11y.white.hide-on-small-screens
          h2.subheading.secondary-color.mt20.launchaco-builder-hoverable.white
            | Discover all the features and benefits of Helperbird Pro and how 200,000 people can't be wrong.
          .mt40
        


              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.fill-white.primary-color.try_button.hides(style="background-color:rgba(220,51,99,1) !important;", href="/pricing", title="Helperbird School pricing")
                span  See pricing

          


      .container-lrg.flex
        .flex.flex-column.col-12.center-vertical.mobile-text-center.padding40.banner_sell.reall_red.banner_sell_margin.helperbird_background_a11y(style="background-color:black !important")
          h1.heading.primary-color.launchaco-builder-hoverable.white
            span
                | Get Accessibility Checker 
            span.its_free_a11y.white.hide-on-small-screens by Helperbird
          h2.subheading.secondary-color.mt20.launchaco-builder-hoverable.white
            | Find out your website's accessibility issues before your customers do.
          .mt40
              a.button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/products/accessibility-checker", title="Learn more about Accessibility checker by Helperbird")
                span  Learn more

    style.
        .white{
            color:#fff !important;
        }
        .padding40{
            padding: 40px;
        }







    
include includes/layout/footer.pug