extends includes/templates/common/page.pug

block seo
  - var title = 'Security of Helperbird'
  - var description = 'At Helperbird, we build security into every product we make, so you can enjoy great experiences that keep your personal information safe and secure. Helperbirds Security don`t sell, store, or consume any user data. We do not store data or any other user-related content.'
  - var url = 'security'
  - var keywords = 'Security of Helperbird ,Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include includes/mixins/common
  +features_title("Helperbird will never sell, store, or consume any user data.","Security")



  +section('Overview',
    [
    'We don`t track nor do we store data anywhere but locally in your machine. We don`t use Google analytics or any third-party app.',
    'User data is never used for commercial purposes. (We don`t do tracking nor store anything).',
    'All data stored locally is for users` settings and education purposes.',
    'We do request your email as to check against our api to see if your paid in Stripe.',
    'Their is a AWS node server.'
    ])



  +section('We Collect No Personal Information Using Our Applications',
    [
    'We do not collect, use, save, or have access to any of your data recorded in Helperbird for Chrome, Firefox and Edge.',
    'Individual settings relating to the Helperbird apps are not personal and are stored only on your device.',
    'You might also be asked to provide access to your email and access to modify the current webpage, but this is only so you can check if your account is marked as paid in Stripe and so we can make the changes you requested on the webpage.', 
    'We don’t process that information at all and have no access to it.'
    ])


  +section('Security',
    [
    'Helperbird has security measures in place to protect the loss, misuse and alteration of the information under our control. These measures include the use of payment servers to collect the information, and other measures as deemed reasonable and necessary.',
    'All code for the extension is verfired for Malware by the Google,Firefox and Microsoft team on each release.',
    'All settings are stored locally.',
    'All Helperbird employee accounts have two-step verification.',
    'All packages and server is updated every two weeks and regular checks.'
    ])

  +section('What information about customers does Helperbird need?',
    [
    'If your a Helperbird Pro user, we need your email. This is just to check if you have paid your subscription.',
    'If your a Helperbird free user, we collect nothing nor store anything.'
    ])



  +section('Data breach plan',
    [
      'Incase of data breach, of any kind. That includes a breach to either our Amazon cloud account, Stripe or Webstore account. We havea responce steps and plan, which will be public soon. If you would like to see it eailier. Email robert.gabriel@helperbird.com'
    ])

  +section('Our Applications Comply with the Children’s Online security Protection Act (COPPA & FERPA)',
    [
    'Our applications don’t collect personal information from anyone, including children under the age of 13.'
    ])


  +section('Links to other websites',
    [
    'Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and security of any information which you provide whilst visiting such sites and such sites are not governed by this security statement. You should exercise caution and look at the security statement applicable to the website in question.'
    ])


  +section('Contact Us',
    [
    'If you have any questions about this Security, feel free to get in touch with us at robert.gabriel@helperbird.com'
    ])

