doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Support | Helperbird
    link(href='https://www.helperbird.com/support', rel='canonical')
    meta(content='Helperbird for Chrome,Helperbird,google chrome,dyslexia fonts for chrome,dyslexia,text to speech,reading,google chrome download,colored contacts,google speaker,install chrome,chrome browser,google chrome app,dyslexia test,opendyslexic for chrome,dyslexia app chrome,google chrome extensions,speech to text,color blind for chrome,speech to text for chrome,text to speech for chrome,text reader,book recommendations,text to voice,tools for sale,google text to speech,talk to text,google text,install google chrome,voice to text,dyslexia symptoms,color wow,chrome browser download,chrome latest version,text to speech google,get chrome,dyslexia font,text to talk,signs of dyslexia,learn to read,google chrome browser,free text to speech,google computer,google voice text,text to speech online,text to speech app,text to speech voices,voice typing,google chrome settings,text to speech robot,voice recognition,google chrome free download,voice to text app,google speech,chrome free download,talk and text app,google chrome latest version,talk text app,google installer,google speech to text,read text aloud,chrome app download,google chrome download for windows,types of speech,dyslexia diagnosis,talk to text app,type and speak,dyslexia examples,talk text free app,work tools,speech to text app', name='keywords')
    meta(content='Helperbird support is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Support | Helperbird', itemprop='name')
    meta(content='Helperbird support is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='Support | Helperbird', name='twitter:title')
    meta(content='Helperbird support is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Support | Helperbird', name='og:title')
    meta(content='Helperbird support is here to help. Learn more about popular topics and find resources that will help you with all of your Helperbird products.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/support', name='og:url')
    meta(content='Support | Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org",
      	   "@type": "SoftwareApplication",
      	   "name": "Helperbird",
      	   "operatingSystem": "Windows",
      	   "applicationCategory": "https://schema.org/UtilitiesApplication",
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "ratingCount": "42"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "price": "4.99",
      	      "priceCurrency": "USD"
      	   }
      	   }
      
    script(type='application/ld+json').
      
      {
      	      "@context": "https://schema.org",
      	      "@type": "Organization",
      	      "name": "Helperbird",
      	      "url": "https://www.helperbird.com",
      	      "sameAs": [
      	          "http://www.facebook.com/helperbird",
      	          "https://www.linkedin.com/company/19112429",
      	          "https://twitter.com/helperbird_"
      	      ]
      	   }
      
    script(type='application/ld+json').
      
      {
      	   "@context": "https://schema.org/",
      	   "@type": "Product",
      	   "name": "Helperbird",
      	   "image": [
      	      "https://www.helperbird.com/assets/images/pwa/144.png",
      	      "https://www.helperbird.com/assets/images/pwa/512.png",
      	      "https://www.helperbird.com/assets/images/pwa/full.png"
      	   ],
      	   "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
      	   "sku": "0446310786",
      	   "mpn": "925872",
      	   "brand": {
      	      "@type": "Thing",
      	      "name": "Helperbird"
      	   },
      	      "review": {
      	          "@context": "http://schema.org/",
      	          "@type": "Review",
      	          "name": "Colm Murphy",
      	          "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
      	          "reviewRating": {
      	              "@type": "Rating",
      	              "ratingValue": "5",
      	              "bestRating": "5",
      	              "worstRating": "1"
      	          },
      	          "datePublished": "2019-05-02",
      	          "author": {
      	              "@type": "Person",
      	              "name": "Colm Murphy"
      	          }
      	      },
      	   "aggregateRating": {
      	      "@type": "AggregateRating",
      	      "ratingValue": "4.8",
      	      "reviewCount": "57"
      	   },
      	   "offers": {
      	      "@type": "Offer",
      	      "url": "https://www.helperbird.com",
      	      "priceCurrency": "USD",
      	      "price": "4.99",
      	      "priceValidUntil": "2020-11-05",
      	      "itemCondition": "https://schema.org/NewCondition",
      	      "availability": "https://schema.org/InStock",
      	      "seller": {
      	      "@type": "Organization",
      	      "name": "Helperbird"
      	      }
      	   }
      	   }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      include includes/layout/navigation.pug
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable How can we help?
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Do you have great idea or need help navigating the app? Check out support videos or feel free to contact us for support.
            .mt40
              a.button.mobile-text-center.mt10.launchaco-builder-hoverable.mr10.mobile-text-center.accent-bg.fill-white.primary-color.try_button(href='#contactForm')
                span Contact Support
    section.section.red-white#contactForm
      .container.text-center
        .col-12
          h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.why_us Support form
          p.subheading.secondary-color.mt20.launchaco-builder-hoverable Need help? Contact us today.
      .container.mt40
        iframe(frameborder='0', height='1093', loading='lazy', marginheight='0', marginwidth='0', src='https://docs.google.com/forms/d/e/1FAIpQLSe2M4aJua6lRpVA-LTVB_Z9uCpFNTVOZcmrZc77uhIGRBP2VA/viewform?embedded=true', title='Helperbird support fourm ', width='100%') Loading...
    section.section.bg-light.red-white#supportVideos
      .container.text-center
        .col-12
          h3.heading.heading-sml.primary-color.launchaco-builder-hoverable.why_us See it in action
          p.subheading.secondary-color.mt40.launchaco-builder-hoverable Learn how to use the app and all its amazing features.
        .slideshow-container
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='xZa5CaMaFI4')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to use the Google Translate feature for Google Chrome | Helperbird.com
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='UjmyGS9E00Y')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape How to use High Contrast mode feature for Google Chrome | Helperbird.com
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='oiXLTYlu0nc')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Dictionary lookup for Google Chrome, Firefox & Edge | Helperbird.com
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='ZyIkXtfPCkQ')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Screenshot feature for Google Chrome, Firefox & Edge | Helperbird.com
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='6tDiVNUnkSY')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Reader mode with Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='JRUpKdqMus')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Zoom text and images with Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='9qES8eBGxBg')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Color blindness text outline/stroke with Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='MKpVE8SaSiQ')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Dyslexia ruler with Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='-O3yd1zXtRc')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Overlay/tint with Helperbird | Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='1818bqUyXNE')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change the font color on any website with Helperbird | Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='WdBQvk1W80Q')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Save links, notes and more around the web with Helperbird | Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='2m-hRIOX7cU')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Use cognitive load feature of Helperbird to help with reading | Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='-HJWQWaHjpY')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Hide flashing images or gifs on any webpage with Helperbird | Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='i1EeaekPHIo')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change any webpages font to Opendyslexic with Helperbird | Helperbird
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='UveJkN-npI0')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Disable Helperbird features with Blacklist | Helperbird.com
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='1HvWYhpevuY')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Underline links for people with color blindness on any website | Helperbird.com
          .mySlidesVideo.scroller_video_item
            .youtube_lazy_load(data-embed='zEM-hXZ2278')
              .play-button.
                
                
            p.secondary-color.mt20.launchaco-builder-hoverable.overflow_escape Change the Background Color of any website
          a.prev(onclick='window.videos.plusSlidesVideo(-1)') ❮
          a.next(onclick='window.videos.plusSlidesVideo(1)') ❯
        .dotVideo-container
          span.dotVideo(onclick='window.videos.currentSlideVideo(1)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(2)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(3)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(4)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(5)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(6)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(7)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(8)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(9)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(10)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(11)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(12)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(13)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(14)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(15)')
          span.dotVideo(onclick='window.videos.currentSlideVideo(16)')
    section.section.bg-light#faq-9
      .container.text-center
        .col-12
          h3.heading.primary-color.launchaco-builder-hoverable.why_us Common questions
      .container.mt40
        .col-12.questions
          .faq.pad20
            input.faq-input#faq-dropdown-9-0(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-0')
              span.bold.primary-color.mr20 What is Helperbird?
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable Helperbird is a browser extension that gives everybody the features and customization to make browsing and reading on the web easy. Including specialized fonts (OpenDyslexic), background colors, font colors, dyslexia ruler, text to speech, and more for Google Chrome!
          .faq.pad20
            input.faq-input#faq-dropdown-9-711(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-711')
              span.bold.primary-color.mr20 Do you offer discounts?
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable Yes. When you pay for a year up front, you’ll get two months free. We also offer discounts for non-profits.
          .faq.pad20
            input.faq-input#faq-dropdown-9-711233(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-711233')
              span.bold.primary-color.mr20 Do I need a student email for the student pricing
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable Yes, we are doing the honor system here. We will follow up to ask for confirmation you are a student.
          .faq.pad20
            input.faq-input#faq-dropdown-9-71122(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-71122')
              span.bold.primary-color.mr20 Can we cancel at any time?
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable There's no minimum contract for Helperbird — cancel at any time without penalty or hassle. If you prepaid for a year, we’ll refund any unused months. To cancel, open up the app and go to the subscription option and click cancel and that it.
          .faq.pad20
            input.faq-input#faq-dropdown-9-1(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-1')
              span.bold.primary-color.mr20 Why are we charging for this?
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable The reason for the $4.99 per month is to support the cost of development of new and upcoming features. We also do a yearly subscription for $50.00. As this is a one person team.
          .faq.pad20
            input.faq-input#faq-dropdown-9-2(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-2')
              span.bold.primary-color.mr20 What browsers does Helperbird run on?
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable Currently Google Chrome, Mozila Firefox and Edge for Windows 10. Coming soon on macOS Safari extension.
          .faq.pad20
            input.faq-input#faq-dropdown-9-3(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-3')
              span.bold.primary-color.mr20 I have a suggestion!
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              | Excellent I would love to hear about it! Email 
              a.__cf_email__(data-cfemail='1f6c6a6f6f706d6b5f777a736f7a6d7d766d7b317c7072', href='/cdn-cgi/l/email-protection') [email protected]
              |  with your suggestion.
          .faq.pad20
            input.faq-input#faq-dropdown-9-7(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-7')
              span.bold.primary-color.mr20 Does Helperbird and OpenDyslexic work on Google Docs?
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable Yes!, Google Docs currently doesn't support some fonts like OpenDyslexic. So we built CSS and support for these fonts.
          .faq.pad20
            input.faq-input#faq-dropdown-9-711111(name='faq', type='checkbox')
            label.faq-label.flex.spread.center-horizontal(for='faq-dropdown-9-711111')
              span.bold.primary-color.mr20 What if I have more questions?
              svg.noshrink.svg-fill(height='9px', version='1.1', viewBox='0 0 15 9', width='15px', xmlns='http://www.w3.org/2000/svg')
                path(d='M7.4176407,5.65342711 L1.76421359,8.8817842e-16 L0.350000024,1.41421356 L6.00342714,7.06764068 L6,7.07106781 L7.41421356,8.48528137 L7.4176407,8.48185424 L7.42106784,8.48528137 L8.8352814,7.07106781 L8.83185426,7.06764068 L14.4852814,1.41421356 L13.0710678,8.8817842e-16 L7.4176407,5.65342711 Z').
                  
                  
            p.paragraph.secondary-color.faq-content.mt20.launchaco-builder-hoverable
              | We'd be happy to answer 
              a(href='/cdn-cgi/l/email-protection#456a6a363035352a3731052d2029352037272c37216b262a28') them
    include includes/layout/footer.pug