

extends includes/templates/common/page.pug

block seo
  - var title = 'Terms of ServiceTerms of Service'
  - var description = 'At Helperbird, we build privacy into every product we make, so you can enjoy great experiences that keep your personal information safe and secure. Helperbirds privacy features don`t sell, store, or consume any user data. We do not store data or any other user-related content.'
  - var url = 'terms-of-service'
  - var keywords = 'Privacy Policy of Helperbird ,Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software'

block content
  include includes/mixins/common
  +features_title("Terms of Service","Learn more about the history of Helperbird and our core values.")

  +section('Cookies',
    [
    'We employ the use of cookies. By using Helperbirds website you consent to the use of cookies in accordance with Helperbirds privacy policy.'
    ])


  +section('License',
    [
    'Unless otherwise stated, Helperbird and/or its licensors own the intellectual property rights for all material on Helperbird. All intellectual property rights are reserved. You may view and/or print pages from https://www.helperbird.com for your own personal use subject to restrictions set in these terms and conditions.',
    'You must not:',
    'Republish material from https://www.helperbird.com',
    'Sell, rent or sub-license material from https://www.helperbird.com',
    'Reproduce, duplicate or copy material from https://www.helperbird.com',
    'Redistribute content from Helperbird (unless content is specifically made for redistribution).'
    ])



  +section(' Removal of links from our website',
    [
    ' If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.',
    'Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.'
    ])




  +section('Contact Us',
    [
    'If you have any questions about this Privacy Policy, feel free to get in touch with us at support@helperbird.com'
    ])

