doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Welcome to Helperbird 👋 | Helperbird 
		link(href='https://www.helperbird.com/about', rel='canonical')
		meta(content='About Helperbird, about, Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
		meta(content="Read about the history and story of Helperbird and what we're all about.", name='description')
		meta(content='/assets/images/favicon.png', name='image')
		meta(content='width=device-width,initial-scale=1', name='viewport')
		meta(content='#db5945', name='theme-color')
		meta(content='Helperbird', itemprop='name')
		meta(content="Read about the history and story of Helperbird and what we're all about.", itemprop='description')
		meta(content='/assets/images/favicon.png', itemprop='image')
		meta(content='summary_large_image', name='twitter:card')


		meta(content='Welcome to Helperbird 👋 | Helperbird', name='twitter:title')
		meta(content="Read about the history and story of Helperbird and what we're all about.", name='twitter:description')
		meta(content='@helperbird_', name='twitter:site')
		meta(content='RobertJGabriel', name='twitter:creator')
		meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
		meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
		meta(content='Welcome to Helperbird 👋 - Helperbird ', name='og:title')
		meta(content="Read about the history and story of Helperbird and what we're all about.", name='og:description')
		meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
		meta(content='https://www.helperbird.com/about', name='og:url')
		meta(content='Helperbird', name='og:site_name')
		meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
		meta(content='website', name='og:type')
		link(href='touch-icon-iphone.png', rel='apple-touch-icon')
		link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
		link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
		link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
		link(href='/assets/images/site/favicon.png', rel='shortcut icon')
		meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
		script(type='application/ld+json').

			{
				"@context": "https://schema.org",
				"@type": "SoftwareApplication",
				"name": "Helperbird",
				"operatingSystem": "Windows",
				"applicationCategory": "https://schema.org/UtilitiesApplication",
				"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": "4.8",
					"ratingCount": "42"
				},
				"offers": {
					"@type": "Offer",
					"price": "4.99",
					"priceCurrency": "USD"
				}
				}

		script(type='application/ld+json').

			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"name": "Helperbird",
				"description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
				"image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
				"logo": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
				"url": "https://www.helperbird.com",
				"telephone": "5012936819",
				"sameAs": ["https://twitter.com/helperbird_", "https://www.linkedin.com/company/19112429", "https://www.facebook.com/helperbird/", "https://www.youtube.com/channel/UCxTbxBMw8MTcsExcOdBBFQw", "https://www.crunchbase.com/organization/helperbird"],
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "15 Markay Street",
					"addressLocality": "Toronto",
					"postalCode": "M3L2C6",
					"addressCountry": "Canada"
				}
			}

			{
				"@context": "https://schema.org/",
				"@type": "Product",
				"name": "Helperbird",
				"image": "https://www.helperbird.com/assets/images/pwa/logo/full.png",
				"description": "Helperbird is your all in one extension, that gives you the features to make the web more accessible and make you more productive. Providing you features like annotations, text to speech, ad removal, dyslexia support, dictation, immersive reader, overlays, reader mode, and much more.",
				"brand": "Helperbird",
				"sku": "helperbird2016","gtin12": "helperbird2016",
				"offers": {
					"@type": "Offer",
					"url": "https://www.helperbird.com/pricing",
					"priceCurrency": "USD",
					"price": "30",
					"priceValidUntil": "2020-12-31",
					"availability": "https://schema.org/OnlineOnly",
					"itemCondition": "https://schema.org/NewCondition"
				},
				"aggregateRating": {
					"@type": "AggregateRating",
					"ratingValue": "5",
					"bestRating": "5",
					"worstRating": "1",
					"ratingCount": "2",
					"reviewCount": "2"
				},
				"review": [{
					"@type": "Review",
					"name": "Vladimir Ciobica",
					"reviewBody": "Helperbird is a very useful and smartly designed tool that will most definitely make the browsing life of any user suffering from from dyslexia or is even remotely visually impaired a lot easier. It’s very easy to use, has the ability to synchronize settings on multiple devices, and is very efficient thanks to a useful set of straightforward customization options.",
					"reviewRating": {
						"@type": "Rating",
						"ratingValue": "5",
						"bestRating": "5",
						"worstRating": "1"
					},
					"datePublished": "2020-07-10",
					"author": {
						"@type": "Person",
						"name": "Vladimir Ciobica"
					},
					"publisher": {
						"@type": "Organization",
						"name": "softpedia"
					}
				}, {
					"@type": "Review",
					"name": "Colm Murphy",
					"reviewBody": "This is a little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
					"reviewRating": {
						"@type": "Rating",
						"ratingValue": "5",
						"bestRating": "5",
						"worstRating": "1"
					},
					"datePublished": "2020-05-13",
					"author": {
						"@type": "Person",
						"name": "Colm Murphy"
					},
					"publisher": {
						"@type": "Organization",
						"name": "User"
					}
				}]
			}

		link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
		link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
		link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
		link(href='assets/images/social/social/site.webmanifest', rel='manifest')
		link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
		link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
		meta(content='#ffffff', name='msapplication-TileColor')
		meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
		meta(content='#ffffff', name='theme-color')
	body.bg-content-100

		include includes/layout/navigation.pug
		.relative.py-16.bg-white.overflow-hidden
			.hidden(class='lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full')
				.relative.h-full.text-lg.max-w-prose.mx-auto(aria-hidden='true')
					svg.absolute.top-12.left-full.transform.translate-x-32(width='404' height='384' fill='none' viewbox='0 0 404 384')
						defs
							pattern#74b3fd99-0a6f-4271-bef2-e80eeafdf357(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
								rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
						rect(width='404' height='384' fill='url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)')
					svg.absolute.right-full.transform.-translate-x-32(class='top-1/2 -translate-y-1/2' width='404' height='384' fill='none' viewbox='0 0 404 384')
						defs
							pattern#f210dbf6-a58d-4871-961e-36d5016a0f49(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
								rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
						rect(width='404' height='384' fill='url(#f210dbf6-a58d-4871-961e-36d5016a0f49)')
					svg.absolute.bottom-12.left-full.transform.translate-x-32(width='404' height='384' fill='none' viewbox='0 0 404 384')
						defs
							pattern#d3eb07ae-5182-43e6-857d-35c643af9034(x='0' y='0' width='20' height='20' patternunits='userSpaceOnUse')
								rect.text-gray-200(x='0' y='0' width='4' height='4' fill='currentColor')
						rect(width='404' height='384' fill='url(#d3eb07ae-5182-43e6-857d-35c643af9034)')
			.relative.px-4(class='sm:px-6 lg:px-8')
				.text-lg.max-w-prose.mx-auto
					h1
						span.mt-2.block.text-3xl.text-center.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl') Welcome to Helperbird 👋

				.mt-6.max-w-prose.mx-auto.prose-lg.text-gray-500.mx-auto


					h2 Watch tutorials
					p A compilation of quick tips and examples to see Helperbird in action for visual learners.
					a.whitespace-nowrap.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-white.bg-indigo-600(href="/guides" target="_blank" role="button" class='hover:bg-indigo-700')
						| Watch videos
					h2 Need help?
					p Troubleshoot common questions about Helperbird and its features from our support team.
					a.whitespace-nowrap.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-white.bg-indigo-600(href="/support" role="button" class='hover:bg-indigo-700')
						| Check guides
					h2 Helperbird Pro
					p Unlock all of Helperbirds features for only $6.99 a month or $40 a year. $99 a month for unlimated users.
					a.whitespace-nowrap.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.rounded-md.shadow-sm.text-base.font-medium.text-white.bg-indigo-600(href="/pricing" role="button" class='hover:bg-indigo-700')
						| See pricing
		include includes/sections/questions.pug
		include includes/sections/cta_2.pug
		include includes/layout/footer.pug