doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Welcome | Helperbird
    meta(content='Helperbird for Edge,Helperbird for Firefox,Opendyslexic for Chrome,OpenDyslexic,Text to speech,Speech to text, Dyslexia software,        Reader Mode for Google Chrome,Reader Mode for Edge,speech to text for chrome,Text to speech for chrome,  text reader, Immersive Reader, dyslexia fonts, Helperbird for Chrome, Accessibility & Dyslexia Software', name='keywords')
    link(href='https://www.helperbird.com/welcome', rel='canonical')
    meta(content='Helperbird is a browser extension that gives you the features to make more web more accessible and make you more productive. By providing you with features such as dyslexia fonts, change the font & background color, text to speech, overlays, dyslexia ruler, immersive reader, reader mode and much more.', name='description')
    meta(content='/assets/images/favicon.png', name='image')
    meta(content='width=device-width,initial-scale=1', name='viewport')
    meta(content='#db5945', name='theme-color')
    meta(content='Helperbird', itemprop='name')
    meta(content='Helperbird is a browser extension that gives you the features to make more web more accessible and make you more productive. By providing you with features such as dyslexia fonts, change the font & background color, text to speech, overlays, dyslexia ruler, immersive reader, reader mode and much more.', itemprop='description')
    meta(content='/assets/images/favicon.png', itemprop='image')
    meta(content='summary_large_image', name='twitter:card')


    meta(content='Literacy, Accessibility & Dyslexia Software |  Helperbird', name='twitter:title')
    meta(content='Helperbird is a browser extension that gives you the features to make more web more accessible and make you more productive. By providing you with features such as dyslexia fonts, change the font & background color, text to speech, overlays, dyslexia ruler, immersive reader, reader mode and much more.', name='twitter:description')
    meta(content='@helperbird_', name='twitter:site')
    meta(content='RobertJGabriel', name='twitter:creator')
    meta(content='https://www.helperbird.com/assets/images/social/twitter.png', name='twitter:image:src')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='twitter:player')
    meta(content='Literacy, Accessibility & Dyslexia Software |  Helperbird', name='og:title')
    meta(content='Helperbird is a browser extension that gives you the features to make more web more accessible and make you more productive. By providing you with features such as dyslexia fonts, change the font & background color, text to speech, overlays, dyslexia ruler, immersive reader, reader mode and much more.', name='og:description')
    meta(content='https://www.helperbird.com/assets/images/social/facebook.png', name='og:image')
    meta(content='https://www.helperbird.com/', name='og:url')
    meta(content='Helperbird', name='og:site_name')
    meta(content='https://www.youtube.com/watch?v=PfILiWebkuc', name='og:video')
    meta(content='website', name='og:type')
    link(href='touch-icon-iphone.png', rel='apple-touch-icon')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='152x152')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='/assets/images/favicon.png', rel='apple-touch-icon', sizes='167x167')
    link(href='/assets/images/site/favicon.png', rel='shortcut icon')
    meta(content='5A7359B55CCBDE2A927000280EAECBBC', name='msvalidate.01')
    script(type='application/ld+json').
      
      {
                  "@context": "https://schema.org",
                  "@type": "SoftwareApplication",
                  "name": "Helperbird",
                  "operatingSystem": "Windows",
                  "applicationCategory": "https://schema.org/UtilitiesApplication",
                  "aggregateRating": {
                      "@type": "AggregateRating",
                      "ratingValue": "4.8",
                      "ratingCount": "42"
                  },
                  "offers": {
                      "@type": "Offer",
                      "price": "4.99",
                      "priceCurrency": "USD"
                  }
              }
      
    script(type='application/ld+json').
      
      {
                  "@context": "https://schema.org",
                  "@type": "Organization",
                  "name": "Helperbird",
                  "url": "https://www.helperbird.com",
                  "sameAs": ["http://www.facebook.com/helperbird", "https://www.linkedin.com/company/19112429",
                      "https://twitter.com/helperbird_"
                  ]
              }
      
    script(type='application/ld+json').
      
      {
                  "@context": "https://schema.org/",
                  "@type": "Product",
                  "name": "Helperbird",
                  "image": ["https://www.helperbird.com/assets/images/pwa/144.png",
                      "https://www.helperbird.com/assets/images/pwa/512.png",
                      "https://www.helperbird.com/assets/images/pwa/full.png"
                  ],
                  "description": "Helperbird is a browser extension that gives people the features to make reading, learning, working easier and more fun. Including specialized fonts, changing the background color, font colors, text to speech, overlays, rulers and more!",
                  "sku": "0446310786",
                  "mpn": "925872",
                  "brand": {
                      "@type": "Thing",
                      "name": "Helperbird"
                  },
                  "review": {
                      "@context": "http://schema.org/",
                      "@type": "Review",
                      "name": "Colm Murphy",
                      "reviewBody": "This is a great little extension, lightweight and non intrusive. With dyslexia its reading that's an issue, not the underlying intelligence. An aid such as this one, can help deliver the world to some who may not otherwise have received it. Great Work.",
                      "reviewRating": {
                          "@type": "Rating",
                          "ratingValue": "5",
                          "bestRating": "5",
                          "worstRating": "1"
                      },
                      "datePublished": "2019-05-02",
                      "author": {
                          "@type": "Person",
                          "name": "Colm Murphy"
                      }
                  },
                  "aggregateRating": {
                      "@type": "AggregateRating",
                      "ratingValue": "4.8",
                      "reviewCount": "57"
                  },
                  "offers": {
                      "@type": "Offer",
                      "url": "https://www.helperbird.com",
                      "priceCurrency": "USD",
                      "price": "4.99",
                      "priceValidUntil": "2020-11-05",
                      "itemCondition": "https://schema.org/NewCondition",
                      "availability": "https://schema.org/InStock",
                      "seller": {
                          "@type": "Organization",
                          "name": "Helperbird"
                      }
                  }
              }
      
    link(href='assets/images/social/apple-touch-icon.png', rel='apple-touch-icon', sizes='180x180')
    link(href='assets/images/social/social/favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(href='assets/images/social/social/favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='assets/images/social/social/site.webmanifest', rel='manifest')
    link(href='assets/images/social/safari-pinned-tab.svg', rel='mask-icon')
    link(href='assets/images/social/social/favicon.ico', rel='shortcut icon')
    meta(content='#ffffff', name='msapplication-TileColor')
    meta(content='assets/images/social/browserconfig.xml', name='msapplication-config')
    meta(content='#ffffff', name='theme-color')
  body.font-friendly
    .lightblue-gradient
      include includes/layout/dropdown.pug
      section.section_header
        .container-lrg.flex
          .flex.flex-column.col-8.text-center.middle-center
            h1.heading.primary-color.launchaco-builder-hoverable Welcome to Helperbird 👋
            h2.paragraph.secondary-color.mt30.launchaco-builder-hoverable.index_sub_text Learn how to use Helperbirds best in class features. Which include specialized fonts, changing of the background color, font colors, text to speech, overlays, ruler and much more!
section.section
  .container-lrg.flex
    .flex.flex-column.col-12.center-vertical.mobile-text-center.padding40.banner_sell.reall_red.banner_sell_margin.helperbird_background
      h1.heading.primary-color.launchaco-builder-hoverable.white
        span
            | Helperbird Pro 
      h2.subheading.secondary-color.mt20.launchaco-builder-hoverable.white
        | Learn more about the award winning Helperbird Pro, loved by 200,000 users
      .mt40
          a.button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/chrome", title="Learn more about Helperbird Pro")
            span  Learn more


section.section
  .container-lrg.flex
    .flex.flex-column.col-12.center-vertical.mobile-text-center.padding40.banner_sell.reall_red.banner_sell_margin.helperbird_background_a11y(style="background-color:black !important")
      h1.heading.primary-color.launchaco-builder-hoverable.white
        span
            | Accessibility Checker 
        span.its_free_a11y.white.hide-on-small-screens by Helperbird
      h2.subheading.secondary-color.mt20.launchaco-builder-hoverable.white
        | Find out your website's accessibility issues before your customers do.
      .mt40
          a.button.button.mobile-text-center.mt10.launchaco-builder-hoverable.mobile-text-center.accent-bg.button-signup-free.primary-color(href="/products/accessibility-checker", title="Learn more about Accessibility checker by Helperbird")
            span  Learn more


style.
    .white{
        color:#fff !important;
    }
    .padding40{
        padding: 40px;
    }

include includes/sections/questions.pug

include includes/layout/footer.pug