---
layout: templates/base.html
title: Google Docs & Google Slides accessibility addon - Helperbird for Google docs
description: Read, understand and navigate the web easier. Giving you features to make Google Docs & Slides more accessible. Including Immersive reader & dyslexia support
keywords: Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /products/google-addon/

---



<style>
	/*! CSS Used from: https://www.launchaco.com/static/AllTemplates.min.css */
.font-friendly *{font-family:Montserrat,sans-serif;}
*,:after,:before{margin:0;padding:0;box-sizing:border-box;font-smoothing:antialiased;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;}
img{max-width:100%;}
.mask{overflow:hidden;position:relative;background:#fff;}
.computer .mask{box-shadow:0 0 3px 1px rgba(0,0,0,.1);max-width:770px;max-height:520px;}
.computer{display:inline-block;background:linear-gradient(#000 0,#000 95.5%,#2c2b2d 95.5%);border-radius:30px;position:relative;margin:75px auto 20px;border:3px solid #b1b2b5;box-shadow:-1px 1px 4px 0 rgba(0,0,0,.1),-8px 8px 24px 0 rgba(0,0,0,.1);padding:30px 20px;}
.computer:after{content:"";position:absolute;height:20px;left:-10%;bottom:-14px;width:120%;transform-origin:0 0 0;border-radius:0 0 100% 100%;box-shadow:inset 0 18px 8px 0 #686a6e;}
.computer-bottom{content:"";height:15px;background:linear-gradient(to right,#27282b 0,#a5a6aa 1.5%,#3f4044 3%,#8c8d91 10%,#8c8d91 90%,#3f4044 97%,#a5a6aa 98.5%,#27282b 100%);position:absolute;width:120%;left:-10%;bottom:-3px;z-index:2;}
.computer-bottom:before{content:"";position:absolute;width:15%;left:calc(50% - 7.5%);box-shadow:inset 0 -9px 10px #0000003d,inset 10px 0 10px #0000003d,inset -10px 0 10px #0000003d;border-radius:0 0 10px 10px;height:10px;top:0;}
.computer .mask{border-radius:2px;}
.computer .mask:after{background-size:11%;}
@media screen and (max-width:820px){
.computer{padding:15px 10px 15px 10px;border-radius:10px;border:2px solid #cacccf;margin:50px auto 20px;}
.computer:before{bottom:2px;height:5px;}
.computer:after{height:7px;bottom:-5px;}
}
.mask{width:100%;overflow:hidden;border-radius:0 0 4px 4px;background:#fff;position:relative;}
.mask__noimage{height:100%;}
.mask-img{width:100%;display:block;z-index:2;position:relative;}
/*! CSS Used from: https://www.launchaco.com/static/css/app.74a2c0b39740bb7417bacc343732d258.css */
*,:after,:before{margin:0;padding:0;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;}
::-webkit-input-placeholder{color:#061027;opacity:.44;}
::-moz-placeholder{color:#061027;opacity:.44;}
:-ms-input-placeholder{color:#061027;opacity:.44;}
:-moz-placeholder{color:#061027;opacity:.44;}
.launchaco-builder-hoverable{outline-offset:2px;}
.launchaco-builder-hoverable:hover{opacity:1;outline:2px solid #28d3fa;}
@media (pointer:coarse){
.launchaco-builder-hoverable:hover{outline:none;outline-offset:0;}
}
#user-site .mask{text-indent:100%;white-space:nowrap;overflow:hidden;}
.mask__noimage{height:100%;max-height:700px;background:#fff;position:relative;}
.mask__noimage:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM4ZThlOGUiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMjQgMjRIMFYwaDI0djI0eiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0yMSAzSDNDMiAzIDEgNCAxIDV2MTRjMCAxLjEuOSAyIDIgMmgxOGMxIDAgMi0xIDItMlY1YzAtMS0xLTItMi0yek01IDE3bDMuNS00LjUgMi41IDMuMDFMMTQuNSAxMWw0LjUgNkg1eiIvPjwvc3ZnPg==);background-size:20%;background-position:50%;background-repeat:no-repeat;z-index:0;}

</style>




<main>
  <!-- Hero section -->







<div class="pt-10  bg-white sm:pt-16 sm:pb-16 lg:pt-24 lg:pb-16 lg:overflow-hidden">
	<div class="mx-auto max-w-7xl lg:px-8 pb-16">
	  <div class="lg:grid lg:grid-cols-2 lg:gap-8">
		<div
		  class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center"
		>
		  <div class="lg:py-24 px-8">
			<h1
			  class="mtext-4xl font font-extrabold tracking-tight text-gray-900 sm:text-6xl helperbird-editor medium-editor-element"
			>
			Accessibility tools for Google Docs & Slides</h1>
					  <p class="mt-4 text-xl   text-black  helperbird-editor medium-editor-element">
              Helperbirds Googles Docs and Slides addon brings even more accessibility features. From Immersive reader to word predection, Helperbird is there to help.
  
   </p>
 
			<div class="mt-10 sm:mt-12">
			  <div class="sm:max-w-xl sm:mx-auto lg:mx-0">
				<div class="sm:flex">
				  <a
					href="https://workspace.google.com/marketplace/app/helperbird/844716805038"
					target="_blank"
					class="inline-block text-center bg-indigo-600 border border-transparent rounded-md py-3 px-8 font-medium text-white hover:bg-indigo-700"
					>Download Helperbird for Google Docs & Slides</a
				  >
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative px-10">
		  <div
			class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0"
		  >
		  <div class="computer launchaco-builder-hoverable"><div class="mask mask__noimage"><img src="/assets/images/products/google-docs/header-google-docs.png" alt="" class="mask-img"></div> <div class="computer-bottom"></div></div>
		  </div>
		</div>
	  </div>
	</div>

  </div>

  
  <div class="py-16 bg-gray-50 overflow-hidden lg:py-24">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
      <svg
        class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4"
        width="404"
        height="784"
        fill="none"
        viewBox="0 0 404 784"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect
              x="0"
              y="0"
              width="4"
              height="4"
              class="text-gray-200"
              fill="currentColor"
            />
          </pattern>
        </defs>
        <rect
          width="404"
          height="784"
          fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)"
        />
      </svg>

      <div class="relative">
        <h2
          class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
        >
          <span class="text-pink-600">Accessibility</span> features designed for
          Google <span class="text-blue-600"> Docs</span>,
          <span class="text-yellow-600">Slides</span> &
          <span class="text-pink-600">Forms</span>
        </h2>
        <p class="mt-4 max-w-3xl mx-auto text-center text-xl   text-black ">
          Helperbirds addon is available on Google Docs, Google Slides & Google
          Forms, bringing you all the features you love and rely on.
        </p>
      </div>

      <div
        class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center"
      >
        <div class="relative">
          <h3
            class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl"
          >
            Addon features
          </h3>
          <p class="mt-3 text-lg   text-black ">
            We have our amazing extension but our add-on give you even more
            added support, from dyslexc fonts (Like Lexend Deca), speech to text
            and even text to speech.
          </p>

          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div
                  class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
                >
                  <!-- Heroicon name: outline/globe-alt -->

                  <svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      data-v-0e124c2c=""
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                    ></path>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
                  Immersive reader
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base   text-black ">
                Immersive Reader is a free tool that implements proven
                techniques to improve reading and writing for people, regardless
                of their age or ability. Thanks to Helperbird, you can use it on
                Google Docs.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div
                  class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
                >
                  <!-- Heroicon name: outline/scale -->

                  <svg
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                    stroke="none"
                    aria-hidden="true"
                  >
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path
                      d="M9.93 13.5h4.14L12 7.98 9.93 13.5zM20 2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-4.29 15.88l-.9-2.38H9.17l-.89 2.37c-.14.38-.5.63-.91.63-.68 0-1.15-.69-.9-1.32l4.25-10.81c.22-.53.72-.87 1.28-.87s1.06.34 1.27.87l4.25 10.81c.25.63-.22 1.32-.9 1.32-.4 0-.76-.25-.91-.62z"
                    ></path>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
                  Dyslexic fonts
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base   text-black ">
                Change the font to any specialized web fonts for dyslexics and others. Convert the font on
  websites to use OpenDyslexic, Lexend and more.
              </dd>
            </div>

            <div class="relative">
              <dt>
                <div
                  class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
                >
                  <!-- Heroicon name: outline/lightning-bolt -->

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      data-v-6af865b1=""
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"
                    ></path>
                  </svg>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
                  Voice typing (Speech to Text)
                </p>
              </dt>
              <dd class="mt-2 ml-16 text-base   text-black ">
                Instead of typing, you can speak and Helperbird will turn your speech into text.
              </dd>
            </div>
          </dl>
        </div>

        <div class="mt-10 -mx-16 relative lg:mt-0 px-8" style="
        padding: 0rem 8rem;
    " aria-hidden="true">
       

          <div class="computer launchaco-builder-hoverable"><div class="mask mask__noimage"><img src="/assets/images/products/google-docs/helperbird_google_docs_eight.png" alt="" class="mask-img"></div> <div class="computer-bottom"></div></div>

        </div>
      </div>

     

      <div class="relative mt-12 sm:mt-16 lg:mt-24">
        <div
          class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center"
        >
          <div class="lg:col-start-2">
            <h3
              class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl"
            >
              Upcoming features
            </h3>
            <p class="mt-3 text-lg   text-black ">
              Here at Helperbird, we are always looking for new ways to improve
              our product. Thats why we are constantly adding new features to
              our add-on every month. Want us to add a new feature? Just let us
              know!
            </p>

            <dl class="mt-10 space-y-10">
              <div class="relative">
                <dt>
                  <div
                    class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white"
                  >
                    <!-- Heroicon name: outline/annotation -->

                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-6 w-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      aria-hidden="true"
                    >
                      <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                      <path
                        d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                      ></path>
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                      ></path>
                    </svg>
                  </div>
                  <p class="ml-16 text-lg leading-6 font-medium text-gray-900">
                    Word Prediction (Beta)
                  </p>
                </dt>
                <dd class="mt-2 ml-16 text-base   text-black ">
                  Helperbirds word prediction is smart & spelling aware.
                  Helperbird Speech to text recognition allows you to speak it,
                  and Helperbird will write it.
                </dd>
              </div>
            </dl>
          </div>

          <div class="mt-10 -mx-16 relative lg:mt-0 lg:col-start-1 px-8"  style="
          padding: 0rem 8rem;
      ">
         

            <div class="computer launchaco-builder-hoverable"><div class="mask mask__noimage"><img src="http://127.0.0.1:8080/assets/images/products/google-docs/header-google-docs.png" alt="" class="mask-img"></div> <div class="computer-bottom"></div></div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CTA Section -->
  <div class="bg-white">
    <div
      class="max-w-4xl mx-auto py-16 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 lg:flex lg:items-center lg:justify-between"
    >
      <h2
        class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
      >
        <span class="block">Download Helperbird to</span>
        <span
          class="block bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text text-transparent"
          >your Google Docs & Google Slides</span
        >
      </h2>
      <div class="mt-6 space-y-4 sm:space-y-0 sm:flex sm:space-x-5">
        <a
          href="https://workspace.google.com/marketplace/app/helperbird/844716805038"
          target="_blank"
          rel="noreferrer"
          class="flex items-center justify-center bg-gradient-to-r from-purple-600 to-pink-600 bg-origin-border px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-purple-700 hover:to-pink-700"
        >
          Download
        </a>
      </div>
    </div>
  </div>
</main>

  