---
layout: templates/base.html
title: Helperbird for iPad & iPhone - Helperbird
description: Helperbird for iPad and iPhone brings all the accessibility and productivity tools to iOs. Including Immersive reader, dyslexia support, text to speech and much more.
keywords: Dyslexia software, Reader Mode for Google Chrome, speech to text for chrome, Text to speech for
  chrome,  text reader, Immersive Reader, dyslexia fonts, accessibility software, dyslexia software,
  Helperbird for Edge, Helperbird for Firefox, Helperbird for Chrome, Opendyslexic for Chrome,
  OpenDyslexic
twitterSocial: assets/images/graph/twitter.png
facebookSocial: assets/images/graph/twitter.png
url: /products/ipad/
blog_cat: Feedback
blog_title: Helperbird for iPad & iPhone
blog_snip: Helperbird for iPad and iPhone brings all the accessibility and productivity tools to iOs. Including Immersive reader, dyslexia support, text to speech and much more.
---





<div class="pt-10 bg-gray-900 sm:pt-16 sm:pb-16 lg:pt-24 lg:pb-16 overflow-hidden">
  <div class="mx-auto max-w-7xl lg:px-8 pb-16">
	<div class="lg:grid lg:grid-cols-2 lg:gap-8">
		<div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
		<div class="lg:py-24">
		
			<h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
			<span class="block">Helperbird for</span>
			<span class="pb-3 block bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text text-transparent sm:pb-5"> iPad & iPhone</span>
			</h1>
			<p class="text-base text-gray-300 sm:text-xl lg:text-lg xl:text-xl">
			Helperbird for iPad and iPhone brings all the accessibility and productivity tools to iOs. Including Immersive reader, dyslexia support, text to speech and much more.
			</p>
			<div class="mt-10 sm:mt-12">
			<div class="sm:max-w-xl sm:mx-auto lg:mx-0">
				<div class="sm:flex">
					<a  href="https://docs.google.com/forms/d/e/1FAIpQLScMQkOOD26Ce_3sCU1zOowMoBwKGrmEbGhuDd6K-SGvLW0Zng/viewform?embedded=true" target="_blank" class=" btn btn-accent">Coming February 1st</a>
				</div>
			</div>
			</div>
		</div>
		</div>
		<div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
		<div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
			<div class="ipadiphone "><div class="ipadiphone-iphone"><div class="mask mask__noimage"><img alt="Screenshot of Helperbird running on iPad iOs 15" src="/assets/images/products/ipad-iphone/helperbird-running-on-iphone.png" class="mask-img"></div></div> <div class="ipadiphone-ipad launchaco-builder-hoverable"><div class="mask mask__noimage"><img alt="Screenshot of Helperbird running on iOs 15 for iPad" src="/assets/images/products/ipad-iphone/helperbirds-iphone-app-running.png" class="mask-img"></div></div></div>
	
		</div>
		</div>
	</div>
	</div>
</div>




{% include common/features_all.html %} 


<!-- Testimonial section -->
<div class="pb-16 bg-gradient-to-r from-purple-600 to-pink-600 lg:pb-0 lg:z-10 lg:relative">
	<div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
	<div class="relative lg:-my-8">
		<div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-white lg:hidden"></div>
		<div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
		<div class="aspect-w-10 aspect-h-6 rounded-xl shadow-xl overflow-hidden sm:aspect-w-16 sm:aspect-h-7 lg:aspect-none lg:h-full">
			<img class="object-cover lg:h-full lg:w-full" src="https://images.unsplash.com/photo-1520333789090-1afc82db536a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80" alt="">
		</div>
		</div>
	</div>
	<div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
		<div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
		<blockquote>
			<div>
			<svg class="h-12 w-12 text-white opacity-25" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
				<path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
			</svg>
			<p class="mt-6 text-2xl font-medium text-white">
				This extension has been an absolute lifesaver. I have that fantastic combo of ADHD and Dyslexia while trying to go through college. I have difficulty keeping letters in order, seeing the gaps between words, and with ADHD on top, I lose focus A LOT. 

				The immersive reader has been my new best friend. It drowns out the rest of the content on the page, changes the font to something I can read, and highlights the word as it reads to me. My eyes are forced to keep going in the right direction. I can slow down and pay attention to what I'm reading. I don't even have to go back and read the same paragraph 5 times to understand it! 
				
				The screen overlay has been outstanding for eye strain and being able to distinguish between words and spaces. The custom font and spacing for research articles have been an enormous advantage! I can actually read the research papers now and not have this daunting 2 column fine print page to squint over.
				
				 All around, this has been the best purchase I've ever had. I use this every day, with every assignment. I don't even struggle with story-based questions anymore. The immersive reader helps me read, listen, and understand the question all at once. I am still exploring what I can use this with and how it can make my academic career, and I keep getting impressed with every new way I find to use it. 
				
				Seriously, try it out. You won't regret it at all. Even if you don't have dyslexia or ADHD, just try it out. You might find that it helps you understand the content you're trying to learn even better!
			</p>
			</div>
			<footer class="mt-6">
			<p class="text-base font-medium text-white">Mason Hunter</p>
			<p class="text-base font-medium text-cyan-100">College student</p>
			</footer>
		</blockquote>
		</div>
	</div>
	</div>
</div>


<style>

/*! CSS Used from: https://www.launchaco.com/static/AllTemplates.min.css */
.font-friendly * {
  font-family: Montserrat, sans-serif;
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
img {
  max-width: 100%;
}
.mask {
  overflow: hidden;
  position: relative;
  background: #fff;
}
.ipadiphone {
  position: relative;
}
.ipadiphone-ipad .mask {
  min-width: 720px;
  max-width: 990px;
  height: 520px;
}
.ipadiphone-ipad {
  border-radius: 35px;
  overflow: hidden;
  padding: 15px 70px;
  background: linear-gradient(#f4f4f4, #f2f2f2);
  box-shadow: inset -7px 0 0.4px -7px #e5e5e5, inset 7px 0 0.4px -7px #eaeaea,
    inset 0 4px 1px -3px #ddd, inset 0 -5px 1px -4px #8a8a8a,
    inset 0 0 0 2px #fff, inset 0 0 0 3px rgba(0, 0, 0, 0.08),
    inset 1px 0 0 4px #fff, inset -1px 0 0 4px #fff,
    inset 2px 0 0.2px 5px rgba(0, 0, 0, 0.05),
    inset -2px 0 0.2px 5px rgba(0, 0, 0, 0.05), inset 12px 0 0.2px -1px #fff,
    inset -12px 0 0.2px -1px #fff;
  display: inline-block;
  position: relative;
  left: 70px;
}
.ipadiphone-iphone .mask {
  width: 210px;
  min-height: 310px;
  max-height: 400px;
}
.ipadiphone-iphone {
  z-index: 99;
  position: absolute;
  display: inline-block;
  bottom: -20px;
  background: linear-gradient(#f4f4f4, #f2f2f2);
  box-shadow: inset 0 0 1px 1px #dbdcdd, inset 0 0 1px 4px #efefef,
    inset 0 0 0 5px #fff, inset 0 0 0 6.5px #edf1f2, inset 5px 0 7px 5px #fff,
    inset -5px 0 7px 5px #fff;
  border-radius: 35px;
  padding: 50px 15px 60px;
}
.ipadiphone-iphone:before {
  content: "";
  width: 53px;
  height: 6px;
  border-radius: 10px;
  position: absolute;
  box-shadow: inset 0 4px 3px 0 #e6e6e6, inset 0 0 0 2px #ececec;
  top: 26px;
  left: calc(50% - 26px);
}
.ipadiphone-iphone:after {
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 0 -2px 0.2px 0 #d5d5d5, inset 0 0 0 2.5px #e8e8e8;
  bottom: 14px;
  left: calc(50% - 19px);
}
@media screen and (max-width: 820px) {
  .ipadiphone {
    margin-top: 50px;
  }
}
.mask {
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  background: #fff;
  position: relative;
}
.mask__noimage {
  height: 100%;
}
.mask-img {
  width: 100%;
  display: block;
  z-index: 2;
  position: relative;
}
/*! CSS Used from: https://www.launchaco.com/static/css/app.74a2c0b39740bb7417bacc343732d258.css */
*,
:after,
:before {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans,
    Helvetica Neue, sans-serif;
}
::-webkit-input-placeholder {
  color: #061027;
  opacity: 0.44;
}
::-moz-placeholder {
  color: #061027;
  opacity: 0.44;
}
:-ms-input-placeholder {
  color: #061027;
  opacity: 0.44;
}
:-moz-placeholder {
  color: #061027;
  opacity: 0.44;
}
.launchaco-builder-hoverable {
  outline-offset: 2px;
}
.launchaco-builder-hoverable:hover {
  opacity: 1;
  outline: 2px solid #28d3fa;
}
@media (pointer: coarse) {
  .launchaco-builder-hoverable:hover {
    outline: none;
    outline-offset: 0;
  }
}
#user-site .mask {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.mask__noimage {
  height: 100%;
  max-height: 700px;
  background: #fff;
  position: relative;
}
.mask__noimage:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiM4ZThlOGUiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMjQgMjRIMFYwaDI0djI0eiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0yMSAzSDNDMiAzIDEgNCAxIDV2MTRjMCAxLjEuOSAyIDIgMmgxOGMxIDAgMi0xIDItMlY1YzAtMS0xLTItMi0yek01IDE3bDMuNS00LjUgMi41IDMuMDFMMTQuNSAxMWw0LjUgNkg1eiIvPjwvc3ZnPg==);
  background-size: 20%;
  background-position: 50%;
  background-repeat: no-repeat;
  z-index: 0;
}


</style>

{% include common/cta_one_support.html %} 

